Repository spack/spack, pull requests merged in 2018-03, with the labels that each got.

#7104 help gdb pick up python3
  var/spack/repos/builtin/packages/gdb/package.py
Labels: build-error, python3

#7367 Rsync: Fix Src Link
  var/spack/repos/builtin/packages/rsync/package.py
Labels: build-error, fetching

#7344 update conduit package with conduit 0.3.1 release
  var/spack/repos/builtin/packages/conduit/package.py
Labels: update-package

#7394 Fix version-specific URLs for Python packages
  var/spack/repos/builtin/packages/py-bsddb3/package.py
  var/spack/repos/builtin/packages/py-pyfasta/package.py
Labels: fetching, python

#7368 libSplash 1.7.0: Root Fix
  var/spack/repos/builtin/packages/libsplash/package.py
  var/spack/repos/builtin/packages/libsplash/root_cmake_1.7.0.patch
Labels: build-error, docker

#7393 Make neuron package more generic
  var/spack/repos/builtin/packages/neuron/package.py
Labels: update-package

#7264 mumps: add the libs property
  var/spack/repos/builtin/packages/mumps/package.py
Labels: ready

#7347 fix apr pick up of log4cxx
  var/spack/repos/builtin/packages/log4cxx/package.py
Labels: build-environment

#7156 py-rasterio: Added with dependencies.
  var/spack/repos/builtin/packages/py-affine/package.py
  var/spack/repos/builtin/packages/py-cligj/package.py
  var/spack/repos/builtin/packages/py-rasterio/package.py
  var/spack/repos/builtin/packages/py-snuggs/package.py
Labels: new-package, python, ready

#7050 gromacs: add v2018
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: new-version

#6980 Add the libssh2 variant for curl.
  var/spack/repos/builtin/packages/curl/package.py
Labels: variants

#7051 pnmpi@1.7: new package
  var/spack/repos/builtin/packages/pnmpi/package.py
Labels: new-package

#7314 Attempt to deal with binary files which have strings compiled in other than rpaths.
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/cmd/buildcache.py
  lib/spack/spack/package.py
  lib/spack/spack/relocate.py
  lib/spack/spack/test/packaging.py
Labels: buildcache

#7362 Packages/ghost
  var/spack/repos/builtin/packages/ghost/package.py
Labels: new-package

#7389 Boost: More Bintray
  var/spack/repos/builtin/packages/boost/package.py
Labels: fetching

#7457 Constructing a SpecBuildInterface from another gives no inconsistent MRO
  lib/spack/llnl/util/lang.py
  lib/spack/spack/test/concretize.py
Labels: bug, modules

#7435 Fix bugs in `spack dependencies` command
  lib/spack/spack/cmd/dependencies.py
  lib/spack/spack/graph.py
  lib/spack/spack/package.py
Labels: commands, dependencies

#7407 add an option to build tbb statically
  var/spack/repos/builtin/packages/intel-tbb/package.py
Labels: update-package, variants

#7243 r-tfbstools: new package
  var/spack/repos/builtin/packages/r-tfbstools/package.py
Labels: ready

#7467 phylip: new version
  var/spack/repos/builtin/packages/phylip/package.py
Labels: new-version

#7483 hwloc: updated package
  var/spack/repos/builtin/packages/hwloc/package.py
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: update-package

#7500 py-performance: added package
  var/spack/repos/builtin/packages/py-perf/package.py
  var/spack/repos/builtin/packages/py-performance/package.py
Labels: new-package

#7495 LIBXSMM 1.9
  var/spack/repos/builtin/packages/libxsmm/package.py
Labels: new-version

#7493 glib: updated package and fixed issues with dtrace
  var/spack/repos/builtin/packages/glib/package.py
Labels: update-package

#7515 Add latest version of nasm
  var/spack/repos/builtin/packages/nasm/package.py
Labels: new-version

#7516 Add latest version of libpng
  var/spack/repos/builtin/packages/libpng/package.py
Labels: new-version

#7517 Add latest version of libjpeg
  var/spack/repos/builtin/packages/libjpeg/package.py
Labels: new-version

#7518 Add latest version of libjpeg-turbo
  var/spack/repos/builtin/packages/libjpeg-turbo/package.py
Labels: new-version

#7514 modern-wheel: new package
  var/spack/repos/builtin/packages/modern-wheel/package.py
Labels: new-package

#7521 Add latest version of GLPK
  var/spack/repos/builtin/packages/glpk/package.py
Labels: new-version

#7522 Add latest version of py-packaging
  var/spack/repos/builtin/packages/py-packaging/package.py
Labels: new-version

#7524 Add latest version of py-six
  var/spack/repos/builtin/packages/py-six/package.py
Labels: new-version

#7520 python: dbm module + version 3.6.4
  var/spack/repos/builtin/packages/python/package.py
Labels: update-package

#7525 Add latest version of SuiteSparse
  var/spack/repos/builtin/packages/suite-sparse/package.py
Labels: new-version

#7528 picard: Add version 2.18.0
  var/spack/repos/builtin/packages/picard/package.py
Labels: new-version

#7461 pocl: fix spec
  var/spack/repos/builtin/packages/pocl/package.py
Labels: build-error, concretization

#7526 Add DSDP package
  var/spack/repos/builtin/packages/dsdp/malloc.patch
  var/spack/repos/builtin/packages/dsdp/package.py
Labels: new-package

#7523 Add latest version of py-setuptools
  var/spack/repos/builtin/packages/py-setuptools/package.py
Labels: new-version

#7534 alglib: fix on Darwin
  var/spack/repos/builtin/packages/alglib/package.py
Labels: macOS

#7463 A new package: wcslib.
  var/spack/repos/builtin/packages/wcslib/package.py
Labels: new-package

#7539 Add latest version of patch
  var/spack/repos/builtin/packages/patch/package.py
Labels: new-version

#7490 VMD-python v2.0.10 - new package
  var/spack/repos/builtin/packages/py-vmd-python/package.py
Labels: new-package

#7494 perl-module-runtime: Create new package
  var/spack/repos/builtin/packages/perl-module-runtime/package.py
Labels: new-package

#7466 orfm: needs zlib
  var/spack/repos/builtin/packages/orfm/package.py
Labels: dependencies

#7427 patch config.guess for ARM (aarch64)
  lib/spack/spack/build_systems/autotools.py
Labels: autotools, platform-support

#7406 Fixed duplicated handling of PKG_CONFIG_PATH for crays
  var/spack/repos/builtin/packages/pkg-config/package.py
  var/spack/repos/builtin/packages/pkgconf/package.py
Labels: cray

#7380 py-py{gobject,gtk} require pkgconfig for build
  var/spack/repos/builtin/packages/py-pygobject/package.py
  var/spack/repos/builtin/packages/py-pygtk/package.py
Labels: dependencies

#7220 Xorg-server: Add dependencies and fix installation.
  var/spack/repos/builtin/packages/libepoxy/package.py
  var/spack/repos/builtin/packages/mesa/package.py
  var/spack/repos/builtin/packages/xorg-server/package.py
Labels: dependencies

#7446 Adding unzip package.
  var/spack/repos/builtin/packages/unzip/package.py
Labels: new-package

#7206 py-backports-functools-lru-cache: add version 1.5
  var/spack/repos/builtin/packages/py-backports-functools-lru-cache/package.py
Labels: new-version

#7106 intel-xed: new package
  var/spack/repos/builtin/packages/intel-xed/package.py
Labels: new-package

#7096 elfutils: document conflict with clang
  var/spack/repos/builtin/packages/elfutils/package.py
Labels: macOS

#7531 Support MD5 with a warning when OpenSSL is compiled in FIPS mode
  lib/spack/spack/util/crypto.py
Labels: fetching, security

#6989 make py-setuptools a run-time-only dep for py-basemap and patch pytho…
  lib/spack/spack/build_systems/python.py
  var/spack/repos/builtin/packages/py-basemap/package.py
  var/spack/repos/builtin/packages/py-qtconsole/package.py
Labels: dependencies, python

#6981 Generate spack docset for Dash.
  lib/spack/docs/Makefile
Labels: documentation

#7538 suite-sparse: add cmake dependency for 5.2.0
  var/spack/repos/builtin/packages/suite-sparse/package.py
Labels: cmake, dependencies

#7535 Open MPI: add 2.1.3
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: new-version

#7478 Using self.prefix in Trilinos to avoid global name prefix undefined bug
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: bug

#7465 pandaseq: needs bzip and libtool as link
  var/spack/repos/builtin/packages/pandaseq/package.py
Labels: dependencies

#7456 package/JAGS: new version (4.3)
  var/spack/repos/builtin/packages/jags/package.py
Labels: new-version

#7444 bamutil: needs zlib
  var/spack/repos/builtin/packages/bamutil/package.py
Labels: dependencies

#7432 perl-cairo: Create new package
  var/spack/repos/builtin/packages/perl-cairo/package.py
Labels: new-package

#7426 py-python-levenshtein: Create new package
  var/spack/repos/builtin/packages/py-python-levenshtein/package.py
Labels: new-package

#5153 Enable creation of mirrors for systems with different compilers
  lib/spack/spack/cmd/mirror.py
  lib/spack/spack/concretize.py
  lib/spack/spack/test/concretize.py
Labels: mirrors

#7227 r-dirichletmultinomial: Create new package.
  var/spack/repos/builtin/packages/r-dirichletmultinomial/package.py
Labels: new-package

#7207 New Package: jchronoss
  var/spack/repos/builtin/packages/jchronoss/package.py
Labels: new-package

#7549 perl-module-implementation: Create new package
  var/spack/repos/builtin/packages/perl-module-implementation/package.py
Labels: new-package

#7551 Singularity: new version
  var/spack/repos/builtin/packages/singularity/package.py
Labels: new-version

#7492 py-pybedtools: fix hash for 0.6.9
  var/spack/repos/builtin/packages/py-pybedtools/package.py
Labels: python

#7480 libXi requires pkgconfig and fixesproto
  var/spack/repos/builtin/packages/libxi/package.py
Labels: X11, dependencies

#7542 Add latest versions of bazel
  var/spack/repos/builtin/packages/bazel/package.py
  var/spack/repos/builtin/packages/bazel/unix_cc_configure-0.10.0.patch
Labels: new-version

#7486 Opt avx
  var/spack/repos/builtin/packages/libint/package.py
  var/spack/repos/builtin/packages/libxc/package.py
Labels: intel, performance

#7412 Propagate architecture information during concretization
  lib/spack/spack/concretize.py
  lib/spack/spack/test/concretize.py
Labels: concretization, platform-support

#7481 tcl-tcllib: new package
  var/spack/repos/builtin/packages/tcl-tcllib/package.py
Labels: new-package

#7530 Add latest version of eigen
  var/spack/repos/builtin/packages/eigen/find-ptscotch.patch
  var/spack/repos/builtin/packages/eigen/package.py
Labels: new-version

#7557 tcl-tclxml: new package
  var/spack/repos/builtin/packages/tcl-tclxml/package.py
Labels: new-package

#6736 meme: fix errors
  var/spack/repos/builtin/packages/meme/package.py
Labels: dependencies

#7558 Recover the old patching order for packages.
  lib/spack/spack/package.py
Labels: hotfix

#7334 Record installation date and time in DB
  lib/spack/llnl/util/lang.py
  lib/spack/spack/cmd/find.py
  lib/spack/spack/database.py
  lib/spack/spack/test/cmd/find.py
  lib/spack/spack/test/database.py
  lib/spack/spack/test/llnl/util/lang.py
Labels: feature, pkg-database

#7547 Add latest version of ISL
  var/spack/repos/builtin/packages/isl/package.py
Labels: new-version

#7546 Add latest version of MPC
  var/spack/repos/builtin/packages/mpc/package.py
Labels: new-version

#7056 llvm+python +lldbdepnds on py-six
  var/spack/repos/builtin/packages/llvm/package.py
Labels: dependencies

#7555 package/py-pyutilib: create new package
  var/spack/repos/builtin/packages/py-pyutilib/package.py
Labels: new-package

#7545 Add latest version of MPFR and patches for older versions
  var/spack/repos/builtin/packages/mpfr/package.py
  var/spack/repos/builtin/packages/mpfr/strtofr.patch
  var/spack/repos/builtin/packages/mpfr/vasprintf.patch
Labels: new-version, patch

#6894 Fix error raising during install with Python 3
  lib/spack/spack/package.py
Labels: error-messages, python3

#7519 Fix giflib unit tests on macOS/BSD
  var/spack/repos/builtin/packages/giflib/bsd-head.patch
  var/spack/repos/builtin/packages/giflib/package.py
Labels: patch, tests

#7527 Add py-cvxopt package
  var/spack/repos/builtin/packages/py-cvxopt/package.py
Labels: new-package

#7431 perl-json: Create new package
  var/spack/repos/builtin/packages/perl-json/package.py
Labels: new-package

#7361 added a new package file for PHIST (Pipelined, Hybrid-parallel Iterat…
  var/spack/repos/builtin/packages/phist/package.py
Labels: new-package

#7278 [hypre] add the 'headers' property
  var/spack/repos/builtin/packages/hypre/package.py
Labels: ready

#7564 mc: create new package
  var/spack/repos/builtin/packages/mc/package.py
Labels: new-package

#7553 Speedup the default 'libs' property search ...
  lib/spack/spack/spec.py
Labels: specs

#6066 Dyninst links broken, everything switched to github
  var/spack/repos/builtin/packages/dyninst/package.py
Labels: fetching

#7566 Fix tclsh command for transitive dependencies
  var/spack/repos/builtin/packages/tcl/package.py
Labels: commands

#7569 intel performance libraries: add 2018.2
  var/spack/repos/builtin/packages/intel-daal/package.py
  var/spack/repos/builtin/packages/intel-ipp/package.py
  var/spack/repos/builtin/packages/intel-mkl/package.py
  var/spack/repos/builtin/packages/intel-mpi/package.py
Labels: new-version

#4329 Add the ability to separate architecture in path scheme
  etc/spack/defaults/config.yaml
  lib/spack/spack/spec.py
  lib/spack/spack/test/directory_layout.py
  lib/spack/spack/test/spec_semantics.py
Labels: configuration

#7544 beast1: new package
  var/spack/repos/builtin/packages/beast1/package.py
Labels: new-package

#7578 Adding bc and ed packages.
  var/spack/repos/builtin/packages/bc/package.py
  var/spack/repos/builtin/packages/ed/package.py
Labels: new-package

#7579 Only add python flag for newer versions of glib
  var/spack/repos/builtin/packages/glib/package.py
Labels: python

#7565 Increment Spack version
  lib/spack/spack/__init__.py
Labels: versions

#7587 Avoid stat-ing all packages at startup.
  lib/spack/spack/repository.py
Labels: performance, repos

#7499 Add a new package: graph500.
  var/spack/repos/builtin/packages/graph500/package.py
Labels: new-package

#7470 Add a new packag: sofa-c.
  var/spack/repos/builtin/packages/sofa-c/package.py
Labels: new-package

#7496 python: updated versions + enable default optimizations
  var/spack/repos/builtin/packages/python/package.py
Labels: update-package

#7590 Various updates to Spack's Bash completion
  share/spack/spack-completion.bash
Labels: shell-support

#7594 fix defaults/config.yaml comments
  etc/spack/defaults/config.yaml
Labels: configuration

#7588 new package: Seqan (bioinformatics)
  var/spack/repos/builtin/packages/seqan/package.py
Labels: new-package

#7598 mpich: added version 3.2.1
  var/spack/repos/builtin/packages/mpich/package.py
Labels: new-version

#6396 openssl: Add variant to use system certificates
  var/spack/repos/builtin/packages/openssl/package.py
Labels: security, variants

#7226 Remove pmi from the fabric list.
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: mpi

#7599 Add missing X-libs dependencies to vim+x
  var/spack/repos/builtin/packages/vim/package.py
Labels: X11

#7605 Always relocate buildcaches unless they were created with relative paths.
  lib/spack/spack/binary_distribution.py
Labels: binary-packages, buildcache

#7615 [new versions] Add Catch v2.2.1 and v1.12.1
  var/spack/repos/builtin/packages/catch/package.py
Labels: new-version

#7617 added htslib 1.7 and checksum
  var/spack/repos/builtin/packages/htslib/package.py
Labels: new-version

#7616 petsc: add 3.8.4
  var/spack/repos/builtin/packages/petsc/package.py
Labels: new-version

#7574 openmpi: updated package
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: mpi

#7624 Add recent bohrium version
  var/spack/repos/builtin/packages/bohrium/package.py
Labels: new-version

#7614 Fix download URL for SCons and add latest version
  var/spack/repos/builtin/packages/scons/package.py
Labels: fetching, new-version

#7464 R-snowfall: new package
  var/spack/repos/builtin/packages/r-snowfall/package.py
Labels: new-package

#7625 gmap-gsnap: new version with numerous bug fixes
  var/spack/repos/builtin/packages/gmap-gsnap/package.py
Labels: new-version

#7623 Add latest libcint versions
  var/spack/repos/builtin/packages/libcint/package.py
Labels: new-version

#7631 mirrors.yaml: does not expand ~
  lib/spack/docs/mirrors.rst
Labels: documentation, mirrors

#7468 libhio: add libhio package to spack
  var/spack/repos/builtin/packages/libhio/0001-configury-fix-a-problem-with-bz2-configury.patch
  var/spack/repos/builtin/packages/libhio/0001-hdf5-make-docs-optional.patch
  var/spack/repos/builtin/packages/libhio/package.py
Labels: new-version, patch

#7633 cmake: update package
  var/spack/repos/builtin/packages/cmake/package.py
Labels: new-version

#7577 Add Julia 0.6.2 + checksum
  var/spack/repos/builtin/packages/julia/package.py
Labels: new-version

#7639 gurobi: new package
  var/spack/repos/builtin/packages/gurobi/package.py
Labels: new-package

#7627 Fix Python3 bug in tut
  var/spack/repos/builtin/packages/tut/package.py
  var/spack/repos/builtin/packages/tut/python3-octal.patch
Labels: patch, python3

#7640 strace: create new package
  var/spack/repos/builtin/packages/strace/package.py
Labels: new-package

#7641 ltrace: create new package
  var/spack/repos/builtin/packages/ltrace/package.py
Labels: new-package

#7570 Fix log4cxx dependencies
  var/spack/repos/builtin/packages/log4cxx/package.py
Labels: dependencies

#7648 Features/mindthegap
  var/spack/repos/builtin/packages/mindthegap/package.py
Labels: new-package

#7423 CEED 1.0
  var/spack/repos/builtin/packages/ceed/README.md
  var/spack/repos/builtin/packages/ceed/package.py
  var/spack/repos/builtin/packages/gslib/package.py
  var/spack/repos/builtin/packages/hpgmg/package.py
  var/spack/repos/builtin/packages/laghos/package.py
  var/spack/repos/builtin/packages/libceed/occaFree-0.2.diff
  var/spack/repos/builtin/packages/libceed/package.py
  var/spack/repos/builtin/packages/magma/magma-2.3.0-gcc-4.8.patch
  var/spack/repos/builtin/packages/magma/package.py
  var/spack/repos/builtin/packages/mfem/package.py
  var/spack/repos/builtin/packages/mfem/test_builds.sh
  var/spack/repos/builtin/packages/nek5000/package.py
  var/spack/repos/builtin/packages/nekcem/package.py
  var/spack/repos/builtin/packages/occa/package.py
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/petsc/pkg-config-3.7.6-3.8.4.diff
  var/spack/repos/builtin/packages/pumi/package.py
  var/spack/repos/builtin/packages/pumi/phiotimer.cc.darwin.patch
  var/spack/repos/builtin/packages/zoltan/package.py
Labels: new-package

#7642 Features/py breakseq2
  var/spack/repos/builtin/packages/py-breakseq2/package.py
Labels: new-package

#7619 Features/pindel
  var/spack/repos/builtin/packages/pindel/package.py
Labels: new-package

#7651 Avoid double 'lib' for packages whose name already starts with lib
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/package.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/database.py
Labels: libraries
