Repository spack/spack, pull requests merged in 2018-05, with the labels that each got.

#7948 mvapich2: add registration cache and file systems variants
  var/spack/repos/builtin/packages/mvapich2/package.py
Labels: mpi

#7964 Fix Spectrum MPI package spec file for PGI compilers
  var/spack/repos/builtin/packages/spectrum-mpi/package.py
Labels: mpi, pgi

#7956 bedops: Create new package
  var/spack/repos/builtin/packages/bedops/package.py
Labels: new-package

#7972 Add libcint version 3.0.12
  var/spack/repos/builtin/packages/libcint/package.py
Labels: new-version

#7969 Added BookLeaf_Cpp and Typhon packages.
  var/spack/repos/builtin/packages/bookleaf-cpp/package.py
  var/spack/repos/builtin/packages/typhon/package.py
Labels: new-package

#7960 make symlinking python3->python optional
  var/spack/repos/builtin/packages/python/package.py
Labels: ready, update-package

#7982 go: Update to 1.10.2
  var/spack/repos/builtin/packages/go/package.py
Labels: new-version

#7907 A new package: py-openslide-python.
  var/spack/repos/builtin/packages/py-openslide-python/package.py
Labels: new-package

#7985 Bump gatk version to 4.0.4.0.
  var/spack/repos/builtin/packages/gatk/package.py
Labels: new-version

#7980 Bump pgi to 18.4.
  var/spack/repos/builtin/packages/pgi/package.py
Labels: new-version

#7981 A new package: nanopb.
  var/spack/repos/builtin/packages/nanopb/package.py
Labels: new-package

#7979 New Package: ruby-svn2git
  var/spack/repos/builtin/packages/ruby-svn2git/package.py
Labels: new-package

#7990 py-crispresso: Create new package
  var/spack/repos/builtin/packages/py-crispresso/package.py
Labels: new-package

#7989 genomefinisher: Create new package
  var/spack/repos/builtin/packages/genomefinisher/genomefinisher.sh
  var/spack/repos/builtin/packages/genomefinisher/package.py
Labels: new-package

#8005 py-cython: update
  var/spack/repos/builtin/packages/py-cython/package.py
Labels: update-package

#8002 py-pyside: comments
  var/spack/repos/builtin/packages/py-pyside/package.py
Labels: update-package

#8000 py-scipy: update
  var/spack/repos/builtin/packages/py-scipy/package.py
Labels: dependencies, tests

#7999 gmp: update
  var/spack/repos/builtin/packages/gmp/package.py
Labels: new-version

#7997 py-yamlreader: new package
  var/spack/repos/builtin/packages/py-yamlreader/package.py
Labels: new-package

#7995 Everytrace: update
  var/spack/repos/builtin/packages/everytrace/package.py
Labels: new-version

#7994 pfunit: update
  var/spack/repos/builtin/packages/pfunit/package.py
Labels: update-package

#8003 py-numpy: update
  var/spack/repos/builtin/packages/py-numpy/package.py
  var/spack/repos/builtin/packages/py-scipy/package.py
Labels: update-package

#8010 pism: new package
  var/spack/repos/builtin/packages/pism/package.py
Labels: new-package, ready

#8016 Bump r-rcpp versions.
  var/spack/repos/builtin/packages/r-rcpp/package.py
Labels: new-version

#8008 gdal: update
  var/spack/repos/builtin/packages/gdal/package.py
Labels: dependencies, python, variants

#8021 openmpi: don't build static libraries if slurm is activated
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: ready, update-package

#8004 py-more-itertools: new package
  var/spack/repos/builtin/packages/py-more-itertools/package.py
Labels: new-package, ready

#8020 Bump samtools, hstlib and bcftools to version 1.8.
  var/spack/repos/builtin/packages/bcftools/package.py
  var/spack/repos/builtin/packages/htslib/package.py
  var/spack/repos/builtin/packages/samtools/package.py
Labels: new-version

#8023 a new package: papyrus.
  var/spack/repos/builtin/packages/papyrus/package.py
Labels: new-package

#8026 Added GCC 8.1.0
  var/spack/repos/builtin/packages/gcc/package.py
Labels: new-version

#7988 Bump pysam to 0.14.1.
  var/spack/repos/builtin/packages/py-pysam/package.py
Labels: new-version

#8028 A new library: libshm.
  var/spack/repos/builtin/packages/libshm/package.py
Labels: new-package

#7784 Set default provider for every virtual package
  etc/spack/defaults/packages.yaml
  lib/spack/spack/test/package_sanity.py
Labels: defaults, tests, virtual-dependencies

#7939 Change default elf provider on macOS
  etc/spack/defaults/darwin/packages.yaml
Labels: defaults, macOS, virtual-dependencies

#7799 Fix coloring of URLs containing @ symbol
  lib/spack/spack/cmd/info.py
Labels: color, commands, url-parsing

#7998 py-udunits: New package
  var/spack/repos/builtin/packages/py-udunits/package.py
Labels: new-package

#8029 macOS-specific patch no longer applies to GCC 8
  var/spack/repos/builtin/packages/gcc/package.py
Labels: gcc, macOS, patch

#8024 Add package wireshark and dependencies
  var/spack/repos/builtin/packages/krb5/package.py
  var/spack/repos/builtin/packages/libmaxminddb/package.py
  var/spack/repos/builtin/packages/wireshark/package.py
Labels: new-package

#7973 Support *.TAR.gz extension.
  lib/spack/spack/util/compression.py
Labels: feature

#7991 metabat: Create new package
  var/spack/repos/builtin/packages/metabat/package.py
Labels: new-package

#8031 [new version] add opencv 3.4.1
  var/spack/repos/builtin/packages/opencv/package.py
Labels: new-version

#7942 Specs add a space before dependencies
  lib/spack/spack/spec.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/spec_syntax.py
Labels: bug, ready, specs

#8034 Add patch to pixman for clang 5.0 and up
  var/spack/repos/builtin/packages/pixman/clang.patch
  var/spack/repos/builtin/packages/pixman/package.py
Labels: clang, patch

#8039 pkgconf: use alpine linux mirror to avoid ssl error
  var/spack/repos/builtin/packages/pkgconf/package.py
Labels: fetching

#7984 perl: add 5.26.2
  var/spack/repos/builtin/packages/perl/package.py
Labels: new-version

#8042 py-pysqlite: Create new package
  var/spack/repos/builtin/packages/py-pysqlite/package.py
Labels: new-package

#8055 openmpi: new version
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: new-version

#8052 googletest: add variant to enable/disable threads
  var/spack/repos/builtin/packages/googletest/package.py
Labels: variants

#8051 pybind11: v2.2.3
  var/spack/repos/builtin/packages/py-pybind11/package.py
Labels: new-version

#8048 Fix superlu-dist with PETSc 3.9.0
  var/spack/repos/builtin/packages/petsc/package.py
Labels: dependencies

#8063 added shared-mime-info version 1.9
  var/spack/repos/builtin/packages/shared-mime-info/package.py
Labels: new-version

#8062 added stat version 4.0.0
  var/spack/repos/builtin/packages/stat/package.py
Labels: new-version

#8061 intltool requires patching for newer perl versions
  var/spack/repos/builtin/packages/intltool/package.py
Labels: patch

#8057 Py cnvkit: updating dependencies
  var/spack/repos/builtin/packages/py-cnvkit/package.py
Labels: dependencies

#7760 Packages can tune the list of files to be archived at the end of install
  lib/spack/spack/build_systems/autotools.py
  lib/spack/spack/build_systems/cmake.py
  lib/spack/spack/package.py
  lib/spack/spack/test/cmd/install.py
  var/spack/repos/builtin.mock/packages/archive-files/package.py
Labels: autotools, cmake, feature

#6502 Opencv updates
  var/spack/repos/builtin/packages/lbann/package.py
  var/spack/repos/builtin/packages/opencv/package.py
Labels: new-version, variants

#8068 Add gdb@8.1
  var/spack/repos/builtin/packages/gdb/package.py
Labels: new-version

#7012 llvm+lldb plaform=darwin: check for lldb_codesign certificate
  var/spack/repos/builtin/packages/llvm/package.py
Labels: macOS

#8045 perl-extutils-pkgconfig: Add pkg-config dependency
  var/spack/repos/builtin/packages/perl-extutils-pkgconfig/package.py
Labels: dependencies

#8069 Add 3.5.2; Add optional cpp implementation enable for py-protobuf
  var/spack/repos/builtin/packages/protobuf/package.py
  var/spack/repos/builtin/packages/py-protobuf/package.py
Labels: new-version

#8075 Add new Sundials versions
  var/spack/repos/builtin/packages/sundials/package.py
Labels: new-version

#8015 Fix petsc spec file so verification test case works with Spectrum MPI
  var/spack/repos/builtin/packages/petsc/package.py
Labels: mpi, tests

#8086 r-mmwrweek: new package
  var/spack/repos/builtin/packages/r-mmwrweek/package.py
Labels: new-package

#8092 llvm: replace @when with internal check in @run_before
  var/spack/repos/builtin/packages/llvm/package.py
Labels: clang, don't-merge-yet, macOS

#8094 masurca: new version
  var/spack/repos/builtin/packages/masurca/package.py
Labels: new-version

#8097 pmix: add 1.2.5 and 2.0.3 bug fix releases
  var/spack/repos/builtin/packages/pmix/package.py
Labels: new-version

#8096 dealii: add 9.0.0
  var/spack/repos/builtin/packages/dealii/package.py
Labels: new-version

#8089 r-cdcfluview: new package
  var/spack/repos/builtin/packages/r-cdcfluview/package.py
Labels: new-package

#8078 Add package for "bumpversion"
  var/spack/repos/builtin/packages/bumpversion/package.py
Labels: new-package

#8076 plink: new source version 1.9-beta5
  var/spack/repos/builtin/packages/plink/package.py
Labels: new-version

#8064 Create custom PATH that texlive requires in its module.
  var/spack/repos/builtin/packages/texlive/package.py
Labels: modules

#8104 boost: added the +numpy variant which enables building libboost_numpy
  var/spack/repos/builtin/packages/boost/package.py
Labels: dependencies

#8106 charliecloud: initial commit
  var/spack/repos/builtin/packages/charliecloud/package.py
Labels: new-package

#8102 Add cmake for newer version of libjpeg-turbo
  var/spack/repos/builtin/packages/libjpeg-turbo/package.py
Labels: new-version

#7931 add version 0.6.2 to yaml-cpp
  var/spack/repos/builtin/packages/yaml-cpp/package.py
Labels: new-version

#8105 dealii: update hash due to upstream changes
  var/spack/repos/builtin/packages/dealii/package.py
Labels: don't-merge-yet

#8107 Add numexpr 3
  var/spack/repos/builtin/packages/py-numexpr3/package.py
Labels: new-package

#8112 hisea: new package
  var/spack/repos/builtin/packages/hisea/package.py
Labels: new-package

#8111 A new pacakge: Kaiju.
  var/spack/repos/builtin/packages/kaiju/package.py
Labels: new-package

#8118 r-squash: Create new package
  var/spack/repos/builtin/packages/r-squash/package.py
Labels: new-package

#8116 r-shinydashboard: Create new package
  var/spack/repos/builtin/packages/r-shinydashboard/package.py
Labels: new-package

#8085 Feature hydrogen
  var/spack/repos/builtin/packages/hydrogen/package.py
  var/spack/repos/builtin/packages/lbann/package.py
Labels: new-package

#8128 r-vipor: Create new package
  var/spack/repos/builtin/packages/r-vipor/package.py
Labels: new-package

#8122 r-fit-models: Create new package
  var/spack/repos/builtin/packages/r-fit-models/package.py
Labels: new-package

#8095 lordec: Create new package.
  var/spack/repos/builtin/packages/lordec/package.py
Labels: new-package

#8129 salmon: adding in version restriction for boost
  var/spack/repos/builtin/packages/salmon/package.py
Labels: dependencies

#8130 Added Shim to Support hdf5+mpi in Spack Silo
  var/spack/repos/builtin/packages/silo/package.py
Labels: mpi

#8091 Patch PETSc test cases for IBM XL compiler
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/petsc/xlc-test-3.9.0.diff
Labels: patch, xl

#8137 astyle: add 3.1
  var/spack/repos/builtin/packages/astyle/package.py
Labels: new-version

#8141 Add list_url to allow download of prior versions from cran archive
  var/spack/repos/builtin/packages/r-futile-options/package.py
  var/spack/repos/builtin/packages/r-lambda-r/package.py
Labels: R, fetching

#8139 r-rcppcnpy: a new package.
  var/spack/repos/builtin/packages/r-rcppcnpy/package.py
Labels: R, new-package

#8170 Add version 6.1. to ESSL spackage file.
  var/spack/repos/builtin/packages/essl/package.py
Labels: new-version

#8158 r-rstan: new version and dependents
  var/spack/repos/builtin/packages/r-rcppeigen/package.py
  var/spack/repos/builtin/packages/r-rstan/package.py
  var/spack/repos/builtin/packages/r-stanheaders/package.py
Labels: new-version

#8147 pv: initial commit
  var/spack/repos/builtin/packages/pv/package.py
Labels: new-package

#8144 swap-assembler: Create new package.
  var/spack/repos/builtin/packages/swap-assembler/package.py
Labels: new-package

#8178 cmake: update version
  var/spack/repos/builtin/packages/cmake/package.py
Labels: cmake, new-version

#8176 R dismo 1 1 4 - new package
  var/spack/repos/builtin/packages/r-dismo/package.py
Labels: new-package

#8172 Changed netlib-lapack to fix an error in the CMake setup.
  var/spack/repos/builtin/packages/netlib-lapack/ibm-xl.patch
  var/spack/repos/builtin/packages/netlib-lapack/package.py
Labels: patch, xl

#8171 Update scorep and friends to newest versions
  var/spack/repos/builtin/packages/cube/package.py
  var/spack/repos/builtin/packages/opari2/package.py
  var/spack/repos/builtin/packages/otf2/package.py
  var/spack/repos/builtin/packages/scorep/package.py
Labels: new-version

#8164 Support version 4.10.2-bsd
  var/spack/repos/builtin/packages/silo/package.py
Labels: new-version

#8140 trinity: fixing jdk dependency
  var/spack/repos/builtin/packages/trinity/package.py
Labels: java

#8135 libexpat: Fix for older systems, move to GitHub
  var/spack/repos/builtin/packages/expat/package.py
Labels: new-version

#8159 nco: Find NetCDF
  var/spack/repos/builtin/packages/nco/package.py
Labels: dependencies

#8184 task: Add version 2.5.1
  var/spack/repos/builtin/packages/task/package.py
Labels: new-version

#8185 Added vim 8.1
  var/spack/repos/builtin/packages/vim/package.py
Labels: new-version

#8157 antlr: Turn off CSharp
  var/spack/repos/builtin/packages/antlr/package.py
Labels: update-package

#8179 Fix libjpeg library finding and opencv build with nonstandard library directories (#8160)
  var/spack/repos/builtin/packages/libjpeg-turbo/package.py
  var/spack/repos/builtin/packages/opencv/package.py
Labels: dependencies, headers, libraries

#8189 neovim: add info for v0.2.2
  var/spack/repos/builtin/packages/neovim/package.py
Labels: new-version

#8194 fix leftover references to spack.<symbol>
  lib/spack/spack/build_environment.py
  lib/spack/spack/cmd/bootstrap.py
  lib/spack/spack/cmd/config.py
  lib/spack/spack/cmd/create.py
  lib/spack/spack/cmd/uninstall.py
  lib/spack/spack/operating_systems/cray_frontend.py
  lib/spack/spack/package.py
  lib/spack/spack/spec.py
  lib/spack/spack/stage.py
  lib/spack/spack/util/spack_json.py
Labels: initialization, refactoring

#8198 sleef: a new library.
  var/spack/repos/builtin/packages/sleef/package.py
Labels: new-package

#8191 r-proc v1 12 1 - New package
  var/spack/repos/builtin/packages/r-proc/package.py
Labels: new-package

#8204 r-spatial v7.3.11 - New package
  var/spack/repos/builtin/packages/r-spatial/package.py
Labels: new-package

#8201 Add libtiff 4.0.9
  var/spack/repos/builtin/packages/libtiff/package.py
Labels: new-version

#8202 Add xz 5.2.4
  var/spack/repos/builtin/packages/xz/package.py
Labels: new-version

#8200 URL parsing: strip x86-64 from filename
  lib/spack/spack/test/url_parse.py
  lib/spack/spack/url.py
Labels: url-parsing

#8203 Add libgeotiff package
  var/spack/repos/builtin/packages/libgeotiff/package.py
Labels: new-package

#8205 Add FYBA package
  var/spack/repos/builtin/packages/fyba/package.py
  var/spack/repos/builtin/packages/fyba/vfs-mount-darwin.patch
Labels: new-package

#8208 Add Xerces-C++ 3.2.1
  var/spack/repos/builtin/packages/xerces-c/package.py
Labels: new-version

#8210 Add cURL 7.60.0
  var/spack/repos/builtin/packages/curl/package.py
Labels: new-version

#8211 Add libxml2 2.9.8
  var/spack/repos/builtin/packages/libxml2/package.py
Labels: new-version

#8212 Add sqlite 3.23.1
  var/spack/repos/builtin/packages/sqlite/package.py
Labels: new-version

#8213 Add PCRE 8.42
  var/spack/repos/builtin/packages/pcre/package.py
Labels: new-version

#8214 Add PCRE2 10.31
  var/spack/repos/builtin/packages/pcre2/package.py
Labels: new-version

#7951 Updated sbt to point to github. Added versions 1.1.4, 0.13.17.
  var/spack/repos/builtin/packages/sbt/package.py
Labels: new-version

#8224 Add cryptopp 7.0.0
  var/spack/repos/builtin/packages/cryptopp/package.py
Labels: new-version

#8230 Update the hash of libjpeg v9c.
  var/spack/repos/builtin/packages/libjpeg/package.py
Labels: checksum

#8227 Add info about haveged to gpg/randomness note
  lib/spack/docs/getting_started.rst
Labels: documentation

#8222 py-testinfra: Add versions 1.12.0 and 1.13.0
  var/spack/repos/builtin/packages/py-testinfra/package.py
Labels: new-version

#8221 Add bmake 20180512
  var/spack/repos/builtin/packages/bmake/package.py
Labels: new-version

#8220 Add missing dependencies to poppler package
  var/spack/repos/builtin/packages/poppler-data/package.py
  var/spack/repos/builtin/packages/poppler/package.py
Labels: dependencies, new-package, new-version, variants

#8219 Add lcms 2.9
  var/spack/repos/builtin/packages/lcms/package.py
Labels: new-version

#8218 Add Python/Ruby bindings to GEOS package
  var/spack/repos/builtin/packages/geos/package.py
Labels: python, ruby

#8228 Rename Tpetra C wrappers for *gemm Fortran functions in Trilinos 12.12.1
  var/spack/repos/builtin/packages/trilinos/package.py
  var/spack/repos/builtin/packages/trilinos/xlf_tpetra.patch
Labels: patch

#8177 r-cghflasso v0 2 1 - new package
  var/spack/repos/builtin/packages/r-cghflasso/package.py
Labels: new-package

#8174 Create new package: fastgbs and its dependency platypus.
  var/spack/repos/builtin/packages/fast-gbs/package.py
  var/spack/repos/builtin/packages/platypus/package.py
Labels: new-package

#7840 Update GlobalArrays package to new releases
  var/spack/repos/builtin/packages/globalarrays/ibm-xl.patch
  var/spack/repos/builtin/packages/globalarrays/package.py
Labels: new-version

#8238 CUDA 9.2
  lib/spack/spack/build_systems/cuda.py
  var/spack/repos/builtin/packages/cuda/package.py
Labels: new-version

#8239 subread: added version 1.6.2
  var/spack/repos/builtin/packages/subread/package.py
Labels: new-version, ready

#8236 Add py-docopt package
  var/spack/repos/builtin/packages/py-docopt/package.py
Labels: new-package

#8242 Create new package: memkind
  var/spack/repos/builtin/packages/memkind/package.py
Labels: new-package

#8250 Add latest versions of bazel
  var/spack/repos/builtin/packages/bazel/fix_env_handling-0.13.0.patch
  var/spack/repos/builtin/packages/bazel/package.py
Labels: new-version

#8249 Update BookLeaf_Cpp and Typhon packages.
  var/spack/repos/builtin/packages/bookleaf-cpp/package.py
  var/spack/repos/builtin/packages/typhon/package.py
Labels: new-version

#8252 cgal: added version 4.12
  var/spack/repos/builtin/packages/cgal/package.py
Labels: new-version, ready

#7291 charm: Update install script
  var/spack/repos/builtin/packages/charm/package.py
Labels: new-version

#8257 Add ncurses 6.1
  var/spack/repos/builtin/packages/ncurses/package.py
Labels: new-version

#8256 Add pkgconf 1.4.2
  var/spack/repos/builtin/packages/pkgconf/package.py
Labels: new-version

#8253 mvapich2: added a proper libs attribute
  var/spack/repos/builtin/packages/mvapich2/package.py
Labels: libraries

#8233 Add PROJ 5.0.1
  var/spack/repos/builtin/packages/proj/package.py
Labels: new-version

#8235 Add kealib 1.4.7
  var/spack/repos/builtin/packages/kealib/cmake.patch
  var/spack/repos/builtin/packages/kealib/package.py
Labels: new-version

#8261 Add info for datamash@1.3
  var/spack/repos/builtin/packages/datamash/package.py
Labels: new-version
