Repository spack/spack, pull requests merged in 2018-11, with the labels that each got.

#9657 henson: new package
  var/spack/repos/builtin/packages/henson/package.py
Labels: new-package

#9704 Arm Compiler
  lib/spack/spack/compilers/arm.py
Labels: arm, compilers

#9680 Added OpenMPI 3.1.3 and a patch
  var/spack/repos/builtin/packages/openmpi/btl_vader.patch
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: mpi, new-version

#9743 Adapted the code of the non-daemonic pool to recent python versions
  lib/spack/spack/util/web.py
Labels: broken-develop, bug, hotfix, tests, travis

#9725 Delete references to ruamel.yaml at Spack start-up, if they are present
  bin/spack
Labels: broken-develop, bug, hotfix

#9724 muparser: minor fixes to 2.2.5 and add 2.2.6 with CMake
  var/spack/repos/builtin/packages/dealii/package.py
  var/spack/repos/builtin/packages/muparser/package.py
Labels: new-version, xSDK

#9618 Introduce FFTW-API virtual package for Intel-MKL and FFTW Spack packa…
  etc/spack/defaults/packages.yaml
  lib/spack/spack/test/package_sanity.py
  var/spack/repos/builtin/packages/fftw/package.py
  var/spack/repos/builtin/packages/intel-mkl/package.py
Labels: virtual-dependencies

#9801 Updates to Configuration Files docs for SC18
  lib/spack/docs/configuration.rst
  lib/spack/spack/main.py
Labels: SC18, documentation

#9803 bugfix: --use-cache option had incorrect default settings
  lib/spack/spack/cmd/install.py
Labels: buildcache

#9809 Minor changes to Basic Settings docs for SC18
  etc/spack/defaults/config.yaml
  lib/spack/docs/config_yaml.rst
Labels: SC18, documentation

#9808 Minor changes to Build Customization docs for SC18
  lib/spack/docs/build_settings.rst
Labels: SC18, documentation

#9810 Consistent capitalization of Build Caches docs for SC18
  lib/spack/docs/binary_caches.rst
Labels: SC18, documentation

#9811 Updates to Configuration Tutorial for SC18
  lib/spack/docs/tutorial_configuration.rst
Labels: SC18, documentation

#9822 Fix typo in Build Systems Tutorial
  lib/spack/docs/tutorial_buildsystems.rst
Labels: SC18, documentation

#9706 py-numba: update dependencies and versions
  var/spack/repos/builtin/packages/py-llvmlite/package.py
  var/spack/repos/builtin/packages/py-numba/package.py
Labels: python3, update-package

#9692 nlohmann-json: 3.4.0
  var/spack/repos/builtin/packages/nlohmann-json/package.py
Labels: new-version

#9821 Fix bugs in Modules Tutorial
  lib/spack/docs/tutorial_modules.rst
Labels: SC18, documentation

#9837 CLAW Compiler: add new version 1.2.0 to the package
  var/spack/repos/builtin/packages/claw/package.py
Labels: new-version

#9828 gromacs: added 2018.[34]
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: new-version

#9819 New Package: Nyancat
  var/spack/repos/builtin/packages/nyancat/package.py
Labels: new-package

#9758 cmake: add 3.12.4
  var/spack/repos/builtin/packages/cmake/package.py
Labels: new-version

#9768 Add GMT, CitcomS, and fstrack packages
  var/spack/repos/builtin/packages/citcoms/package.py
  var/spack/repos/builtin/packages/exchanger/package.py
  var/spack/repos/builtin/packages/fstrack/package.py
  var/spack/repos/builtin/packages/gmt/package.py
  var/spack/repos/builtin/packages/gmt/type.patch
  var/spack/repos/builtin/packages/hc/package.py
  var/spack/repos/builtin/packages/py-merlin/package.py
  var/spack/repos/builtin/packages/py-pythia/package.py
Labels: new-package

#9536 Updated protobuf and py-protobuf to version 3.6.1
  var/spack/repos/builtin/packages/protobuf/package.py
  var/spack/repos/builtin/packages/py-protobuf/package.py
Labels: new-version, update-package

#9868 lammps: added new versions
  var/spack/repos/builtin/packages/lammps/package.py
Labels: new-version

#9884 Adding intel-parallel-studio cluster 2019.1 version
  var/spack/repos/builtin/packages/intel-parallel-studio/package.py
Labels: new-version

#9883 Trimmomatic: Add version 0.38
  var/spack/repos/builtin/packages/trimmomatic/package.py
Labels: new-version

#9895 r-paleotree: new package
  var/spack/repos/builtin/packages/r-paleotree/package.py
Labels: new-package

#9890 r-geomorph: new version
  var/spack/repos/builtin/packages/r-geomorph/package.py
Labels: new-package

#9891 package/harfbuzz: disable building of gtk-docs, add new version
  var/spack/repos/builtin/packages/harfbuzz/package.py
Labels: new-version

#9889 breseq: Add version 0.33.1
  var/spack/repos/builtin/packages/breseq/package.py
Labels: new-version

#9888 Adding openmpi version 4.0.0
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: new-version

#9887 r-rrpp: new package
  var/spack/repos/builtin/packages/r-rrpp/package.py
Labels: new-package

#9899 Add 2019.1 and 2018.4 version of the Intel performance libraries.
  var/spack/repos/builtin/packages/intel-daal/package.py
  var/spack/repos/builtin/packages/intel-ipp/package.py
  var/spack/repos/builtin/packages/intel-mkl/package.py
  var/spack/repos/builtin/packages/intel-mpi/package.py
  var/spack/repos/builtin/packages/intel-tbb/package.py
Labels: new-version

#9903 Package: Mercury
  var/spack/repos/builtin/packages/mercury/package.py
Labels: new-package

#9905 package: add asciidoctor gem
  var/spack/repos/builtin/packages/asciidoctor/package.py
Labels: new-package

#9915 Add MPICH version 3.3
  var/spack/repos/builtin/packages/mpich/package.py
Labels: new-version

#9929 multitime: new package
  var/spack/repos/builtin/packages/multitime/package.py
Labels: new-package

#9928 p4est: apply patches to 2.0 only
  var/spack/repos/builtin/packages/p4est/package.py
Labels: bug

#9925 qjson: new package
  var/spack/repos/builtin/packages/qjson/package.py
Labels: new-package

#9924 qca: new package
  var/spack/repos/builtin/packages/qca/package.py
Labels: new-package

#9918 minced: add version 0.3.2 and fix install paths
  var/spack/repos/builtin/packages/minced/package.py
Labels: new-version

#9923 libspatialite: new package
  var/spack/repos/builtin/packages/freexl/package.py
  var/spack/repos/builtin/packages/libspatialite/package.py
Labels: new-package

#9921 r-compositions: new package, including its dependencies
  var/spack/repos/builtin/packages/r-bayesm/package.py
  var/spack/repos/builtin/packages/r-compositions/package.py
  var/spack/repos/builtin/packages/r-energy/package.py
Labels: new-package

#9938 new version 18.1 for py-pip
  var/spack/repos/builtin/packages/py-pip/package.py
Labels: new-version

#9919 py-geopandas: New package.
  var/spack/repos/builtin/packages/py-click-plugins/package.py
  var/spack/repos/builtin/packages/py-descartes/package.py
  var/spack/repos/builtin/packages/py-fiona/package.py
  var/spack/repos/builtin/packages/py-geopandas/package.py
  var/spack/repos/builtin/packages/py-munch/package.py
Labels: new-package

#9941 intel-parallel-studio: add missing updates to 2019.1
  var/spack/repos/builtin/packages/intel-parallel-studio/package.py
  var/spack/repos/builtin/packages/intel/package.py
Labels: new-version

#9943 mc: add version 4.8.21
  var/spack/repos/builtin/packages/mc/package.py
Labels: new-version

#9926 py-psycopg2: new package
  var/spack/repos/builtin/packages/py-psycopg2/package.py
Labels: new-package

#9922 py-pygresql: new package
  var/spack/repos/builtin/packages/py-pygresql/package.py
Labels: new-package

#9942 Uncomment dependencies previously disallowed by concretizer
  var/spack/repos/builtin/packages/cantera/package.py
  var/spack/repos/builtin/packages/py-configparser/package.py
  var/spack/repos/builtin/packages/py-enum34/package.py
  var/spack/repos/builtin/packages/py-flake8/package.py
  var/spack/repos/builtin/packages/py-future/package.py
  var/spack/repos/builtin/packages/py-ipython/package.py
  var/spack/repos/builtin/packages/py-jsonschema/package.py
  var/spack/repos/builtin/packages/py-pybtex/package.py
  var/spack/repos/builtin/packages/py-rasterio/package.py
  var/spack/repos/builtin/packages/py-singledispatch/package.py
  var/spack/repos/builtin/packages/py-slurm-pipeline/package.py
  var/spack/repos/builtin/packages/py-sphinx/package.py
  var/spack/repos/builtin/packages/py-tornado/package.py
  var/spack/repos/builtin/packages/py-traitlets/package.py
Labels: concretization, python

#9950 metabat: Add version 2.11.2
  var/spack/repos/builtin/packages/metabat/package.py
Labels: new-version

#9948 go: add 1.11.2
  var/spack/repos/builtin/packages/go/package.py
Labels: new-version

#9952 hdf5: add version 1.8.21
  var/spack/repos/builtin/packages/hdf5/package.py
Labels: new-version

#9951 minced: Add version 0.1.6
  var/spack/repos/builtin/packages/minced/package.py
Labels: new-version

#9953 GATK: Add version 4.0.11.0
  var/spack/repos/builtin/packages/gatk/package.py
Labels: new-version

#9945 OpenMPI: Prefer Last 3.X
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: build-error, gcc, mpi

#9955 py-pygobject: add missing pkgconfig dependency
  var/spack/repos/builtin/packages/py-pygobject/package.py
Labels: dependencies

#9930 new package: add support for the tfel package
  var/spack/repos/builtin/packages/tfel/package.py
Labels: new-package

#9961 git: add version 2.19.2
  var/spack/repos/builtin/packages/git/package.py
Labels: new-version

#9956 glib: disable SELinux explicitly
  var/spack/repos/builtin/packages/glib/package.py
Labels: update-package

#9960 Injected flags have a well defined order.
  lib/spack/spack/concretize.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/data/compilers.yaml
  lib/spack/spack/test/spec_semantics.py
Labels: bug, hash-change, hashes

#9183 Add f18 package
  var/spack/repos/builtin/packages/f18/package.py
Labels: new-package

#9689 Add PLASMA version 18.11.0 and Lua variant
  var/spack/repos/builtin/packages/plasma/package.py
Labels: xSDK

#9969 New versions for a few python modules
  var/spack/repos/builtin/packages/py-jupyter-console/package.py
  var/spack/repos/builtin/packages/py-jupyter-core/package.py
  var/spack/repos/builtin/packages/py-lxml/package.py
  var/spack/repos/builtin/packages/py-pexpect/package.py
  var/spack/repos/builtin/packages/py-pytables/package.py
  var/spack/repos/builtin/packages/py-terminado/package.py
  var/spack/repos/builtin/packages/py-zmq/package.py
Labels: new-version
