Repository spack/spack, pull requests merged in 2018-02, with the labels that each got.

#7215 xtensor 0.15.1
  var/spack/repos/builtin/packages/xsimd/package.py
  var/spack/repos/builtin/packages/xtensor/package.py
  var/spack/repos/builtin/packages/xtl/package.py
Labels: new-version

#7216 pybind11: 2.2.[1,2] & develop
  var/spack/repos/builtin/packages/py-pybind11/package.py
Labels: new-version

#7157 Set a default python that is consistent with the libraries in PYTHONHOME
  var/spack/repos/builtin/packages/python/package.py
Labels: bug

#7040 updates to conduit and ascent packages
  var/spack/repos/builtin/packages/ascent/package.py
  var/spack/repos/builtin/packages/conduit/package.py
Labels: update-package

#7169 fluxbox lightweight window manager
  var/spack/repos/builtin/packages/fluxbox/package.py
Labels: new-package

#7055 new package: Glfmultiples
  var/spack/repos/builtin/packages/glfmultiples/package.py
Labels: new-package

#7038 FFTW: expose optimization handles via variants (SIMD + FMA)
  var/spack/repos/builtin/packages/fftw/package.py
Labels: update-package

#7212 fftw: improved libs implementation
  var/spack/repos/builtin/packages/fftw/package.py
Labels: update-package

#7240 ADIOS 2.1.0
  var/spack/repos/builtin/packages/adios2/package.py
Labels: new-version

#7250 Package 'cdo': new versions.
  var/spack/repos/builtin/packages/cdo/package.py
Labels: new-version

#7260 fixing ~/+ fortran builds; updated to version 0.8.0
  var/spack/repos/builtin/packages/h5z-zfp/package.py
Labels: bug

#7236 cbench set its environment using `setup_environment`
  var/spack/repos/builtin/packages/cbench/package.py
Labels: update-package

#7280 mkl: fix order of libs
  var/spack/repos/builtin/packages/intel-mkl/package.py
  var/spack/repos/builtin/packages/intel-parallel-studio/package.py
Labels: blas-lapack-scalapack, ready

#7301 yambo: added new package
  var/spack/repos/builtin/packages/espresso/package.py
  var/spack/repos/builtin/packages/yambo/package.py
Labels: new-package

#7337 Pin Sphinx version to v1.7.0
  lib/spack/docs/requirements.txt
Labels: bug, tests, travis

#7213 accfft: added new package
  var/spack/repos/builtin/packages/accfft/package.py
Labels: new-package

#7302 cpu_features
  var/spack/repos/builtin/packages/cpu-features/package.py
Labels: new-package

#5871 Docker-Based Developer Resource
  lib/spack/docs/docker_for_developers.rst
  lib/spack/docs/index.rst
  lib/spack/docs/workflows.rst
  share/spack/docker/.env
  share/spack/docker/docker-compose.yml
  share/spack/docker/spack_arch/Dockerfile
  share/spack/docker/spack_arch/handle-prompt.sh
  share/spack/docker/spack_arch/handle-ssh.sh
  share/spack/docker/spack_arch/modules.yaml
  share/spack/docker/spack_centos/Dockerfile
  share/spack/docker/spack_centos/handle-prompt.sh
  share/spack/docker/spack_centos/handle-ssh.sh
  share/spack/docker/spack_centos/modules.yaml
  share/spack/docker/spack_fedora/Dockerfile
  share/spack/docker/spack_fedora/handle-prompt.sh
  share/spack/docker/spack_fedora/handle-ssh.sh
  share/spack/docker/spack_fedora/modules.yaml
  share/spack/docker/spack_opensuse/Dockerfile
  share/spack/docker/spack_opensuse/handle-prompt.sh
  share/spack/docker/spack_opensuse/handle-ssh.sh
  share/spack/docker/spack_opensuse/modules.yaml
  share/spack/docker/spack_ubuntu/Dockerfile
  share/spack/docker/spack_ubuntu/handle-prompt.sh
  share/spack/docker/spack_ubuntu/handle-ssh.sh
  share/spack/docker/spack_ubuntu/modules.yaml
Labels: containers

#7321 spglib: add new package
  var/spack/repos/builtin/packages/spglib/fix_cmake_install.patch
  var/spack/repos/builtin/packages/spglib/fix_cpp.patch
  var/spack/repos/builtin/packages/spglib/package.py
Labels: new-package

#7251 MPark.Variant
  var/spack/repos/builtin/packages/mpark-variant/package.py
Labels: new-package

#7304 Updating zfp version
  var/spack/repos/builtin/packages/zfp/package.py
Labels: new-version

#7332 add package verilator
  var/spack/repos/builtin/packages/verilator/package.py
Labels: new-package

#7342 change recurse into recursive in a few places
  var/spack/repos/builtin/packages/bzip2/package.py
  var/spack/repos/builtin/packages/fftw/package.py
  var/spack/repos/builtin/packages/intel-parallel-studio/package.py
  var/spack/repos/builtin/packages/libxsmm/package.py
  var/spack/repos/builtin/packages/netcdf-cxx/package.py
  var/spack/repos/builtin/packages/netcdf-cxx4/package.py
  var/spack/repos/builtin/packages/netlib-xblas/package.py
  var/spack/repos/builtin/packages/opencv/package.py
Labels: bug
