Repository spack/spack, pull requests merged in 2018-09, with the labels that each got.

#9156 GDAL: add version 2.3.1
  var/spack/repos/builtin/packages/gdal/package.py
Labels: new-version

#9155 Vim: add version 8.1.0338
  var/spack/repos/builtin/packages/vim/package.py
Labels: new-version

#9164 Fix macOS support in .travis.yml
  .travis.yml
Labels: macOS, tests, travis

#9152 mpifileutils: add v0.8
  var/spack/repos/builtin/packages/mpifileutils/package.py
Labels: new-version

#9151 py-matplotlib: incorporate 8532 w/ version range
  var/spack/repos/builtin/packages/py-matplotlib/freetype-include-path.patch
  var/spack/repos/builtin/packages/py-matplotlib/package.py
Labels: patch

#9150 Update openspeedshop and cbtf version numbers
  var/spack/repos/builtin/packages/cbtf-argonavis/package.py
  var/spack/repos/builtin/packages/cbtf-krell/package.py
  var/spack/repos/builtin/packages/cbtf-lanl/package.py
  var/spack/repos/builtin/packages/cbtf/package.py
  var/spack/repos/builtin/packages/openspeedshop-utils/package.py
  var/spack/repos/builtin/packages/openspeedshop/package.py
Labels: new-version

#9146 aspect: new version
  var/spack/repos/builtin/packages/aspect/package.py
Labels: new-version

#9141 New version for py-pyyaml for Kull support
  var/spack/repos/builtin/packages/py-pyyaml/package.py
Labels: new-version

#9140 nwchem: new version
  var/spack/repos/builtin/packages/nwchem/package.py
Labels: new-version

#9133 New package: CODES simulation framework
  var/spack/repos/builtin/packages/codes/codes-1.0.0.patch
  var/spack/repos/builtin/packages/codes/package.py
Labels: new-package

#9123 openblas: add @0.3.1, patch CMake export bug in @0.3.1:0.3.2
  var/spack/repos/builtin/packages/openblas/openblas-0.3.2-cmake.patch
  var/spack/repos/builtin/packages/openblas/package.py
Labels: blas-lapack-scalapack, new-version, patch

#9122 py-pymysql: new package
  var/spack/repos/builtin/packages/py-pymysql/package.py
Labels: new-package

#9119 aperture-photometry: new package
  var/spack/repos/builtin/packages/aperture-photometry/APT.sh
  var/spack/repos/builtin/packages/aperture-photometry/package.py
Labels: new-package

#9110 nlopt: Only support release>=2.5.0
  var/spack/repos/builtin/packages/nlopt/package.py
Labels: new-version

#9096 Feature/py picrust New Package
  var/spack/repos/builtin/packages/py-picrust/package.py
Labels: new-package

#9094 New package: AIDA
  var/spack/repos/builtin/packages/aida/package.py
Labels: new-package

#9062 r-deseq2: new version
  var/spack/repos/builtin/packages/r-deseq2/package.py
Labels: new-version

#9058 r-biomart: new version;
  var/spack/repos/builtin/packages/r-biomart/package.py
Labels: new-version

#9055 r-genomicalignments: new version
  var/spack/repos/builtin/packages/r-genomicalignments/package.py
Labels: new-version

#9075 Better warning message when fetching non-existent URL
  lib/spack/spack/fetch_strategy.py
Labels: error-messages, fetching

#8484 Actually allow parallel test execution under CMake.
  lib/spack/spack/build_environment.py
  lib/spack/spack/build_systems/cmake.py
  lib/spack/spack/package.py
  lib/spack/spack/test/make_executable.py
  lib/spack/spack/util/executable.py
Labels: cmake, tests

#9135 py-maestrowf: Addition of new releases.
  var/spack/repos/builtin/packages/py-maestrowf/package.py
Labels: new-version

#9095 Feature/py pycogent New-Version
  var/spack/repos/builtin/packages/py-cogent/package.py
Labels: new-version

#9054 r-summarizedexperiment: new version
  var/spack/repos/builtin/packages/r-summarizedexperiment/package.py
Labels: new-version

#9064 trinity: full dependencies
  var/spack/repos/builtin/packages/trinity/package.py
Labels: dependencies

#9113 Bamdst: a new package.
  var/spack/repos/builtin/packages/bamdst/package.py
Labels: new-package

#9130 Onedrive: a new package.
  var/spack/repos/builtin/packages/skilion-onedrive/package.py
Labels: new-package

#9131 Pack dlang's stdlib into dmd.
  var/spack/repos/builtin/packages/dmd/package.py
Labels: update-package

#8996 Extended set of environment modification commands.
  lib/spack/docs/basic_usage.rst
  lib/spack/env/cc
  lib/spack/spack/build_environment.py
  lib/spack/spack/schema/compilers.py
  lib/spack/spack/test/build_environment.py
Labels: configuration

#9169 omega-h: add versions and variants
  var/spack/repos/builtin/packages/omega-h/package.py
Labels: new-version, update-package

#9107 Reorder environment cleaning and module loads
  lib/spack/spack/build_environment.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/build_environment.py
Labels: WIP, build-environment, cray

#9178 openPMD-api: ^py-numpy@1.15+
  var/spack/repos/builtin/packages/openpmd-api/package.py
Labels: update-package

#9132 test: Make flag_handlers tests use mock repo
  lib/spack/spack/test/flag_handlers.py
Labels: refactoring, tests

#9182 Balay/xsdk trilinos develop
  var/spack/repos/builtin/packages/trilinos/package.py
  var/spack/repos/builtin/packages/trilinos/superlu_dist_v5.4.0.patch
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: xSDK

#9190 xsdk: disable assimp in deal.II
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: xSDK

#9191 assimp: fix compile issues with intel compilers on knl/linux [a depen…
  var/spack/repos/builtin/packages/assimp/package.py
Labels: xSDK

#9193 trilinos: disable xlf_tpetra.patch for trilinos@develop
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: xSDK

#9157 Improve spec['python'].command support for bwpy
  var/spack/repos/builtin/packages/python/package.py
Labels: python

#9198 petsc: fix compilation with intel
  var/spack/repos/builtin/packages/petsc/package.py
Labels: intel, update-package

#9100 Bug fix: module file path parsing
  lib/spack/spack/test/module_parsing.py
  lib/spack/spack/util/module_cmd.py
Labels: bug, modules

#9176 r-nloptr: Explicit depends_on(nlopt). Previously there was a hidden d…
  var/spack/repos/builtin/packages/r-nloptr/package.py
Labels: dependencies

#9231 py-h5py: add version 2.8.0
  var/spack/repos/builtin/packages/py-h5py/package.py
Labels: new-version

#9247 gdb: add lzma support by default
  var/spack/repos/builtin/packages/gdb/package.py
Labels: variants

#9181 dotnet-core-sdk: install_tree
  var/spack/repos/builtin/packages/dotnet-core-sdk/package.py
Labels: new-package

#9255 Update rdma-core : new version and conflict with intel
  var/spack/repos/builtin/packages/rdma-core/package.py
Labels: conflicts, new-version

#9258 coinhsl: add @2015.06.23, explain versions, SHA256
  var/spack/repos/builtin/packages/coinhsl/package.py
Labels: new-version

#9257 star - added latest versions with shasum
  var/spack/repos/builtin/packages/star/package.py
Labels: new-version

#9269 xsbench: added v18
  var/spack/repos/builtin/packages/xsbench/package.py
Labels: new-version

#9260 Fix version parsing for cistem package
  lib/spack/spack/test/url_parse.py
  lib/spack/spack/url.py
  var/spack/repos/builtin/packages/cistem/package.py
Labels: url-parsing

#9289 sw4lite: add v1.1
  var/spack/repos/builtin/packages/sw4lite/package.py
Labels: new-version

#9300 Catch2: 2.3.0+
  var/spack/repos/builtin/packages/catch/package.py
  var/spack/repos/builtin/packages/openpmd-api/package.py
Labels: dependencies, new-version

#9292 Spack package for Ember
  var/spack/repos/builtin/packages/ember/package.py
Labels: new-package

#9288 Spack package for PICSARlite
  var/spack/repos/builtin/packages/picsarlite/package.py
Labels: new-package

#9322 macos: add mojave
  lib/spack/spack/operating_systems/mac_os.py
Labels: macOS

#9327 travis: require sudo in an attempt to avoid build timeouts
  .travis.yml
  share/spack/qa/run-unit-tests
Labels: travis

#9328 intel: add 2019.0
  var/spack/repos/builtin/packages/intel-daal/package.py
  var/spack/repos/builtin/packages/intel-ipp/package.py
  var/spack/repos/builtin/packages/intel-mkl/package.py
  var/spack/repos/builtin/packages/intel-mpi/package.py
  var/spack/repos/builtin/packages/intel-tbb/package.py
Labels: new-version

#9325 lighttpd: new package starting at 1.4.50
  var/spack/repos/builtin/packages/lighttpd/package.py
Labels: new-package

#9319 petsc: add new versions 3.9.4 and 3.10.0
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/slepc/package.py
Labels: new-version

#9315 qt: fix dbus builds
  var/spack/repos/builtin/packages/qt/package.py
Labels: libraries

#9219 Increase and customize lock timeouts
  etc/spack/defaults/config.yaml
  lib/spack/llnl/util/lock.py
  lib/spack/spack/database.py
  lib/spack/spack/schema/config.py
  lib/spack/spack/test/llnl/util/lock.py
  lib/spack/spack/util/file_cache.py
  lib/spack/spack/util/lock.py
Labels: locking

#8087 gmap-gsnap: Add variant for different cpu support.
  var/spack/repos/builtin/packages/gmap-gsnap/package.py
Labels: platform-support

#9256 VTK dependency on "mesa" instead of "mesa+llvm"
  var/spack/repos/builtin/packages/vtk/package.py
Labels: dependencies

#9348 miniVite: new package
  var/spack/repos/builtin/packages/minivite/package.py
Labels: new-package

#9310 Added Cuda 10
  var/spack/repos/builtin/packages/cuda/package.py
Labels: new-version

#9330 mpich: fix 3.2 patch
  var/spack/repos/builtin/packages/mpich/package.py
Labels: mpi, patch

#9382 Add PETSc 3.10.1 to PETSc's spackage file
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/petsc/xlc-test-3.10.1.diff
Labels: new-version

#9163 Gapfiller 1.10 f01
  var/spack/repos/builtin/packages/gapfiller/package.py
Labels: patch

#9389 Laghos: add version 1.1
  var/spack/repos/builtin/packages/laghos/package.py
Labels: update-package
