Repository spack/spack, pull requests merged in 2018-08, with the labels that each got.

#8737 lmod: fix use of custom separator in prepend_path etc.
  lib/spack/spack/test/data/modules/lmod/module_path_separator.yaml
  lib/spack/spack/test/modules/lmod.py
  share/spack/templates/modules/modulefile.lua
  var/spack/repos/builtin.mock/packages/module-path-separator/package.py
Labels: modules

#8858 docs: minor text changes
  lib/spack/docs/repositories.rst
  lib/spack/docs/tutorial.rst
  lib/spack/docs/tutorial_advanced_packaging.rst
Labels: documentation

#4692 cc: package search paths come before dependency paths
  lib/spack/env/cc
  lib/spack/spack/build_environment.py
  lib/spack/spack/test/build_environment.py
  lib/spack/spack/test/cc.py
Labels: build-environment, compilers, ready

#8855 Conflict for cmake 3.11.x and Intel.
  var/spack/repos/builtin/packages/cmake/package.py
Labels: cmake, intel

#8854 Small patch for netlib-lapack.
  var/spack/repos/builtin/packages/netlib-lapack/package.py
  var/spack/repos/builtin/packages/netlib-lapack/testing.patch
Labels: blas-lapack-scalapack, patch

#8840 Dia has build dependencies on gettext and pkg-config.
  var/spack/repos/builtin/packages/dia/package.py
Labels: dependencies

#8833 openblas: add version 0.3.2
  var/spack/repos/builtin/packages/openblas/package.py
Labels: new-version

#8837 suite-sparse: add version 5.3.0
  var/spack/repos/builtin/packages/suite-sparse/package.py
Labels: new-version

#8844 netcdf-fortran: enforce autoreconf when building with NAG.
  var/spack/repos/builtin/packages/netcdf-fortran/nag.patch
  var/spack/repos/builtin/packages/netcdf-fortran/package.py
Labels: nag, patch

#8871 adios2: add 2.2.0
  var/spack/repos/builtin/packages/adios2/package.py
Labels: new-version

#8869 CMake: patch for NAG.
  var/spack/repos/builtin/packages/cmake/nag-response-files.patch
  var/spack/repos/builtin/packages/cmake/package.py
Labels: cmake, nag, patch

#8822 Update and Bugfix for pexsi/package.py
  var/spack/repos/builtin/packages/pexsi/package.py
Labels: dependencies, patch

#8851 Trilinos: Update rules for superlu-dist version compatibility.
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: dependencies

#8868 sz: fix checksum for 2.0.2.0
  var/spack/repos/builtin/packages/sz/package.py
Labels: checksum

#8867 py-lazy-property: new package
  var/spack/repos/builtin/packages/py-lazy-property/package.py
Labels: new-package

#8864 Update hompage for laghos
  var/spack/repos/builtin/packages/laghos/package.py
Labels: update-package

#8866 neovim: add info for version 0.3.1
  var/spack/repos/builtin/packages/neovim/package.py
Labels: new-version

#8783 Fix pkg-config dependencies
  var/spack/repos/builtin/packages/fluxbox/package.py
  var/spack/repos/builtin/packages/gdal/package.py
  var/spack/repos/builtin/packages/graphviz/package.py
  var/spack/repos/builtin/packages/i3/package.py
  var/spack/repos/builtin/packages/mc/package.py
  var/spack/repos/builtin/packages/neuron/package.py
  var/spack/repos/builtin/packages/pandaseq/package.py
  var/spack/repos/builtin/packages/perl-extutils-pkgconfig/package.py
  var/spack/repos/builtin/packages/wireshark/package.py
Labels: pkg-config, virtual-dependencies

#8763 New package: GRNBoost
  var/spack/repos/builtin/packages/grnboost/package.py
Labels: new-package

#8727 Py biom format fix
  var/spack/repos/builtin/packages/py-biom-format/package.py
Labels: dependencies

#8427 Fix openmpi to work with slurm/pmi and mxm
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: mpi

#8784 xsd: added XSD package
  var/spack/repos/builtin/packages/xsd/package.py
Labels: new-package

#8861 libdwarf: remove use of hide_files()
  lib/spack/llnl/util/filesystem.py
  var/spack/repos/builtin/packages/libdwarf/package.py
Labels: compilers, headers

#8826 dmd: a new package.
  var/spack/repos/builtin/packages/dmd/package.py
Labels: new-package

#8881 arpack: add version 3.6.2
  var/spack/repos/builtin/packages/arpack-ng/package.py
Labels: new-version

#8880 Update broken codesign.llnl.gov urls
  var/spack/repos/builtin/packages/amg/package.py
  var/spack/repos/builtin/packages/amg2013/package.py
  var/spack/repos/builtin/packages/kripke/package.py
  var/spack/repos/builtin/packages/lcals/package.py
  var/spack/repos/builtin/packages/lulesh/package.py
Labels: fetching

#8884 simplemoc: version bump
  var/spack/repos/builtin/packages/simplemoc/package.py
Labels: new-version

#8800 spack spec: no extra newline with --yaml; error with no specs
  lib/spack/spack/cmd/spec.py
  lib/spack/spack/test/cmd/spec.py
Labels: commands

#8766 Package/flang: Updated to use own version of llvm
  var/spack/repos/builtin/packages/flang/package.py
  var/spack/repos/builtin/packages/llvm/package.py
  var/spack/repos/builtin/packages/pgmath/package.py
Labels: clang, dependencies

#8873 kim-api: initial commit
  var/spack/repos/builtin/packages/kim-api/package.py
Labels: new-package

#8888 Revert "cc: package search paths come before dependency paths"
  lib/spack/env/cc
  lib/spack/spack/build_environment.py
  lib/spack/spack/test/build_environment.py
  lib/spack/spack/test/cc.py
Labels: build-environment, compilers

#8831 Add unzip runtime dependency to lua package
  var/spack/repos/builtin/packages/lua/package.py
Labels: WIP, dependencies

#8892 Bump mvapich2 to the latest v2.3 release.
  var/spack/repos/builtin/packages/mvapich2/package.py
Labels: new-version

#8894 Libtool: version 'develop'
  var/spack/repos/builtin/packages/libtool/flag_space.patch
  var/spack/repos/builtin/packages/libtool/package.py
Labels: new-version

#8895 Bump R to v3.5.1.
  var/spack/repos/builtin/packages/r/package.py
Labels: new-version

#8900 Remove default variant bug from list of known issues
  lib/spack/docs/known_issues.rst
Labels: documentation

#8902 add Charliecloud 0.9.1
  var/spack/repos/builtin/packages/charliecloud/package.py
Labels: new-version

#8898 py-crossmap: needs py-setuptools
  var/spack/repos/builtin/packages/py-crossmap/package.py
Labels: dependencies

#8865 os.path.realpath instead of os.readlink for checking gcc libstdcxx version
  lib/spack/spack/abi.py
Labels: gcc

#8904 Add libs attribute to mesa and mesa-glu packages
  var/spack/repos/builtin/packages/glvis/package.py
  var/spack/repos/builtin/packages/mesa-glu/package.py
  var/spack/repos/builtin/packages/mesa/package.py
  var/spack/repos/builtin/packages/opengl/package.py
  var/spack/repos/builtin/packages/openglu/package.py
Labels: dependencies, libraries, virtual-dependencies

#8907 Fix error during 'module whatis'
  share/spack/templates/modules/modulefile.tcl
Labels: modules

#8891 elfutils: update version and add variants
  var/spack/repos/builtin/packages/elfutils/package.py
Labels: new-version

#8917 superlu_dist should be built with 'HAVE_PARMETIS=TRUE'.
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: xSDK

#8910 ECP VELOC Package update
  var/spack/repos/builtin/packages/axl/package.py
  var/spack/repos/builtin/packages/er/package.py
  var/spack/repos/builtin/packages/kvtree/package.py
  var/spack/repos/builtin/packages/rankstr/package.py
  var/spack/repos/builtin/packages/redset/package.py
  var/spack/repos/builtin/packages/shuffile/package.py
  var/spack/repos/builtin/packages/veloc/package.py
Labels: new-version

#8921 bugfix: cc handles spaces in flag variables properly
  lib/spack/env/cc
  lib/spack/spack/test/cc.py
Labels: build-environment, compilers

#8923 Remove duplicate declaration of "graph" variant in Boost package
  var/spack/repos/builtin/packages/boost/package.py
Labels: variants

#8672 perl6-slurp: new package
  var/spack/repos/builtin/packages/perl-perl6-slurp/package.py
Labels: new-package

#8919 add fgfs variant to stat and develop version
  var/spack/repos/builtin/packages/fast-global-file-status/package.py
  var/spack/repos/builtin/packages/mount-point-attributes/package.py
  var/spack/repos/builtin/packages/stat/package.py
Labels: new-package, new-version, variants

#8911 Make the full_hash look like the dag_hash
  lib/spack/spack/spec.py
Labels: hashes

#8931 boost: add 1.68.0
  var/spack/repos/builtin/packages/boost/package.py
Labels: new-version

#8467 Branch with the meson build-system
  lib/spack/docs/build_systems.rst
  lib/spack/docs/build_systems/mesonpackage.rst
  lib/spack/spack/build_environment.py
  lib/spack/spack/build_systems/meson.py
  lib/spack/spack/cmd/build.py
  lib/spack/spack/cmd/configure.py
  lib/spack/spack/cmd/create.py
  lib/spack/spack/pkgkit.py
  lib/spack/spack/test/build_system_guess.py
Labels: meson

#8933 Phist 1.6.1
  var/spack/repos/builtin/packages/phist/package.py
Labels: new-version

#8934 r-fastcluster: new package
  var/spack/repos/builtin/packages/r-fastcluster/package.py
Labels: new-package

#8937 r-biasedurn: new package
  var/spack/repos/builtin/packages/r-biasedurn/package.py
Labels: new-package

#8956 Gromacs conflicts with cmake@3.10: .
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: cmake, dependencies

#8955 Add new versions for cmake.
  var/spack/repos/builtin/packages/cmake/package.py
Labels: cmake, new-version

#8942 r-goplot: new package
  var/spack/repos/builtin/packages/r-goplot/package.py
Labels: new-package

#8953 Add package for fasta
  var/spack/repos/builtin/packages/fasta/package.py
Labels: new-package

#8960 Install headers and lib files to destination for legacy apps
  var/spack/repos/builtin/packages/samtools/package.py
Labels: headers, libraries

#8961 Add samtools 1.9
  var/spack/repos/builtin/packages/htslib/package.py
  var/spack/repos/builtin/packages/samtools/package.py
Labels: new-version

#8936 r-ctc: new package
  var/spack/repos/builtin/packages/r-ctc/package.py
Labels: new-package

#8965 git: update with 2.18.0 digests
  var/spack/repos/builtin/packages/git/package.py
Labels: new-version

#8932 xsdk: add slepc and amrex [and handle clang conflict wrt amrex]
  var/spack/repos/builtin/packages/amrex/package.py
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: xSDK

#8971 Csh: fix load/use commands
  share/spack/csh/spack.csh
Labels: shell-support

#8941 r-rots: new package
  var/spack/repos/builtin/packages/r-rots/package.py
Labels: new-package

#8976 Change bzip2 download URL
  var/spack/repos/builtin/packages/bzip2/package.py
Labels: fetching

#8974 tests: make the dependency patching test more complete
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/patch.py
  var/spack/repos/builtin.mock/packages/patch-a-dependency/foo.patch
  var/spack/repos/builtin.mock/packages/patch-a-dependency/libelf.patch
  var/spack/repos/builtin.mock/packages/patch-a-dependency/package.py
Labels: dependencies, patch

#8984 grass improvement: specify proj data directory
  var/spack/repos/builtin/packages/grass/package.py
Labels: dependencies

#8985 zoltan: fix building with Intel compilers
  var/spack/repos/builtin/packages/zoltan/package.py
Labels: intel, libraries

#8987 libtool: recursive cloning for the develop version.
  var/spack/repos/builtin/packages/libtool/package.py
Labels: git

#8992 Download GNU packages from mirrors
  var/spack/repos/builtin/packages/aspell6-de/package.py
  var/spack/repos/builtin/packages/aspell6-en/package.py
  var/spack/repos/builtin/packages/aspell6-es/package.py
  var/spack/repos/builtin/packages/autoconf/package.py
  var/spack/repos/builtin/packages/autogen/package.py
  var/spack/repos/builtin/packages/automake/package.py
  var/spack/repos/builtin/packages/bash/package.py
  var/spack/repos/builtin/packages/bc/package.py
  var/spack/repos/builtin/packages/binutils/package.py
  var/spack/repos/builtin/packages/bison/package.py
  var/spack/repos/builtin/packages/coreutils/package.py
  var/spack/repos/builtin/packages/cvs/package.py
  var/spack/repos/builtin/packages/datamash/package.py
  var/spack/repos/builtin/packages/dejagnu/package.py
  var/spack/repos/builtin/packages/ed/package.py
  var/spack/repos/builtin/packages/emacs/package.py
  var/spack/repos/builtin/packages/findutils/package.py
  var/spack/repos/builtin/packages/gawk/package.py
  var/spack/repos/builtin/packages/gcc/package.py
  var/spack/repos/builtin/packages/gdb/package.py
  var/spack/repos/builtin/packages/gdbm/package.py
  var/spack/repos/builtin/packages/gettext/package.py
  var/spack/repos/builtin/packages/glpk/package.py
  var/spack/repos/builtin/packages/gmake/package.py
  var/spack/repos/builtin/packages/gmp/package.py
  var/spack/repos/builtin/packages/gperf/package.py
  var/spack/repos/builtin/packages/groff/package.py
  var/spack/repos/builtin/packages/gsl/package.py
  var/spack/repos/builtin/packages/guile/package.py
  var/spack/repos/builtin/packages/help2man/package.py
  var/spack/repos/builtin/packages/libiberty/package.py
  var/spack/repos/builtin/packages/libiconv/package.py
  var/spack/repos/builtin/packages/libmatheval/package.py
  var/spack/repos/builtin/packages/libsigsegv/package.py
  var/spack/repos/builtin/packages/libtool/package.py
  var/spack/repos/builtin/packages/libunistring/package.py
  var/spack/repos/builtin/packages/m4/package.py
  var/spack/repos/builtin/packages/mpc/package.py
  var/spack/repos/builtin/packages/mpfr/package.py
  var/spack/repos/builtin/packages/ncurses/package.py
  var/spack/repos/builtin/packages/nettle/package.py
  var/spack/repos/builtin/packages/octave/package.py
  var/spack/repos/builtin/packages/parallel/package.py
  var/spack/repos/builtin/packages/patch/package.py
  var/spack/repos/builtin/packages/readline/package.py
  var/spack/repos/builtin/packages/screen/package.py
  var/spack/repos/builtin/packages/sed/package.py
  var/spack/repos/builtin/packages/stow/package.py
  var/spack/repos/builtin/packages/tar/package.py
  var/spack/repos/builtin/packages/texinfo/package.py
  var/spack/repos/builtin/packages/units/package.py
  var/spack/repos/builtin/packages/wget/package.py
Labels: fetching

#8990 add patch for gcc@8 for python 2.7.14
  var/spack/repos/builtin/packages/python/gcc-8-2.7.14.patch
  var/spack/repos/builtin/packages/python/package.py
Labels: gcc, patch, python

#8967 Fix spack versions behavior when no URL
  lib/spack/spack/cmd/versions.py
  lib/spack/spack/package.py
  lib/spack/spack/test/cmd/versions.py
Labels: commands, error-messages

#8947 glib: A patch to enable Red Hat 6 users to be able to compile the current version
  var/spack/repos/builtin/packages/glib/old-kernels.patch
  var/spack/repos/builtin/packages/glib/package.py
Labels: patch

#8969 openfoam-com: correctly use foam_add_lib()
  var/spack/repos/builtin/packages/openfoam-com/package.py
Labels: update-package

#8872 added relion version 3 (beta)
  var/spack/repos/builtin/packages/relion/package.py
Labels: new-version

#8925 Add blis package
  var/spack/repos/builtin/packages/blis/package.py
Labels: blas-lapack-scalapack, new-package

#9003 libcint: New version 3.0.12
  var/spack/repos/builtin/packages/libcint/package.py
Labels: new-version

#8995 imports: spack uses importlib when available, instead of imp
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/directives.py
  lib/spack/spack/hooks/__init__.py
  lib/spack/spack/repo.py
  lib/spack/spack/util/imp/__init__.py
  lib/spack/spack/util/imp/imp_importer.py
  lib/spack/spack/util/imp/importlib_importer.py
Labels: imports, repos

#9007 binutils 2.31.1
  var/spack/repos/builtin/packages/binutils/package.py
Labels: new-version

#9002 Packages/atk
  var/spack/repos/builtin/packages/at-spi2-atk/package.py
  var/spack/repos/builtin/packages/at-spi2-core/package.py
  var/spack/repos/builtin/packages/atk/package.py
Labels: new-package, new-version

#9010 gperftools@2.7: new version; homepage, URL, hash updates
  var/spack/repos/builtin/packages/gperftools/package.py
Labels: new-version

#9000 Specify Python executable in VTK package
  var/spack/repos/builtin/packages/vtk/package.py
Labels: dependencies, python

#8797 Change qtgraph and cbtf-argonavis to create proper module file library paths
  var/spack/repos/builtin/packages/cbtf-argonavis-gui/package.py
  var/spack/repos/builtin/packages/qtgraph/package.py
Labels: libraries, modules, power

#9019 install_tree relative symlinks
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/test/llnl/util/filesystem.py
  var/spack/repos/builtin/packages/foam-extend/package.py
  var/spack/repos/builtin/packages/openfoam-com/package.py
  var/spack/repos/builtin/packages/openfoam-org/package.py
Labels: utilities

#9008 QMCPACK Spack Package Update (Summer 2018)
  var/spack/repos/builtin/packages/qmcpack/package.py
Labels: new-version

#9006 Openmpi add v2.1.4
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: new-version

#9021 Open MPI: add v2.1.5
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: new-version

#8928 update Intel packages (2018.u5 for TBB and 2018.u3 for the others)
  var/spack/repos/builtin/packages/intel-daal/package.py
  var/spack/repos/builtin/packages/intel-ipp/package.py
  var/spack/repos/builtin/packages/intel-mkl/package.py
  var/spack/repos/builtin/packages/intel-mpi/package.py
  var/spack/repos/builtin/packages/intel-tbb/package.py
Labels: intel, new-version

#9023 dealii: blacklist boost 1.68.0 due to segmentation fault in serializa…
  var/spack/repos/builtin/packages/dealii/package.py
Labels: dependencies

#9026 dealii: add constraint on suite-sparse for old gcc
  var/spack/repos/builtin/packages/dealii/package.py
Labels: dependencies

#8819 Even better Makefile target parsing
  .travis.yml
  lib/spack/spack/package.py
  lib/spack/spack/test/build_systems.py
  lib/spack/spack/test/data/make/affirmative/capital_makefile/Makefile
  lib/spack/spack/test/data/make/affirmative/check_test/Makefile
  lib/spack/spack/test/data/make/affirmative/expansion/Makefile
  lib/spack/spack/test/data/make/affirmative/gnu_makefile/GNUmakefile
  lib/spack/spack/test/data/make/affirmative/include/Makefile
  lib/spack/spack/test/data/make/affirmative/include/make.mk
  lib/spack/spack/test/data/make/affirmative/lowercase_makefile/makefile
  lib/spack/spack/test/data/make/affirmative/prerequisites/Makefile
  lib/spack/spack/test/data/make/affirmative/spaces/Makefile
  lib/spack/spack/test/data/make/affirmative/test_check/Makefile
  lib/spack/spack/test/data/make/affirmative/three_targets/Makefile
  lib/spack/spack/test/data/make/negative/no_makefile/readme.txt
  lib/spack/spack/test/data/make/negative/partial_match/Makefile
  lib/spack/spack/test/data/make/negative/variable/Makefile
  lib/spack/spack/test/data/ninja/.gitignore
  lib/spack/spack/test/data/ninja/affirmative/check_test/build.ninja
  lib/spack/spack/test/data/ninja/affirmative/include/build.ninja
  lib/spack/spack/test/data/ninja/affirmative/include/include.ninja
  lib/spack/spack/test/data/ninja/affirmative/simple/build.ninja
  lib/spack/spack/test/data/ninja/affirmative/spaces/build.ninja
  lib/spack/spack/test/data/ninja/affirmative/subninja/build.ninja
  lib/spack/spack/test/data/ninja/affirmative/subninja/subninja.ninja
  lib/spack/spack/test/data/ninja/affirmative/test_check/build.ninja
  lib/spack/spack/test/data/ninja/affirmative/three_targets/build.ninja
  lib/spack/spack/test/data/ninja/negative/no_ninja/readme.txt
  lib/spack/spack/test/data/ninja/negative/partial_match/build.ninja
  lib/spack/spack/test/data/ninja/negative/rule/build.ninja
  lib/spack/spack/test/data/ninja/negative/variable/build.ninja
Labels: makefile, tests

#9046 r-biocparallel: new version
  var/spack/repos/builtin/packages/r-biocparallel/package.py
Labels: new-version

#9045 r-xvector: new version
  var/spack/repos/builtin/packages/r-xvector/package.py
Labels: new-version

#9044 r-zlibbioc: new version
  var/spack/repos/builtin/packages/r-zlibbioc/package.py
Labels: new-version

#9043 r-s4vectors: new version
  var/spack/repos/builtin/packages/r-s4vectors/package.py
Labels: new-version

#9042 libfabric: Add 1.6.1 release.
  var/spack/repos/builtin/packages/libfabric/package.py
Labels: new-version

#9040 r-annotationdbi : new version
  var/spack/repos/builtin/packages/r-annotationdbi/package.py
Labels: new-version

#9039 r-biocgenerics: new version
  var/spack/repos/builtin/packages/r-biocgenerics/package.py
Labels: new-version

#9038 r-biobase: new version
  var/spack/repos/builtin/packages/r-biobase/package.py
Labels: new-version

#9041 r-iranges: new version
  var/spack/repos/builtin/packages/r-iranges/package.py
Labels: new-version

#8981 Fix error caused by missing spack-build.out build log
  lib/spack/spack/build_environment.py
  lib/spack/spack/error.py
Labels: error-messages

#9068 Added a new target message to comply with newer versions of GNU Make
  lib/spack/spack/package.py
  lib/spack/spack/test/build_systems.py
Labels: bug, tests, travis

#9070 dealii: patch boost 1.68.0
  var/spack/repos/builtin/packages/dealii/boost_1.68.0.patch
  var/spack/repos/builtin/packages/dealii/package.py
Labels: patch

#9047 intel-parallel-studio: add version 2018.3
  var/spack/repos/builtin/packages/intel-parallel-studio/package.py
  var/spack/repos/builtin/packages/intel/package.py
Labels: intel, new-version

#9049 r-rsamtools: new version
  var/spack/repos/builtin/packages/r-rsamtools/package.py
Labels: new-version

#9050 r-genomeinfodbdata: new version
  var/spack/repos/builtin/packages/r-genomeinfodbdata/package.py
Labels: new-version

#9051 r-genomeinfodb: new version
  var/spack/repos/builtin/packages/r-genomeinfodb/package.py
Labels: new-version

#9052 r-genomicranges: new version
  var/spack/repos/builtin/packages/r-genomicranges/package.py
Labels: new-version

#9053 r-delayedarray: new version
  var/spack/repos/builtin/packages/r-delayedarray/package.py
Labels: new-version

#9057 r-genomicfeatures: new version
  var/spack/repos/builtin/packages/r-genomicfeatures/package.py
Labels: new-version

#9056 r-rtracklayer: new version
  var/spack/repos/builtin/packages/r-rtracklayer/package.py
Labels: new-version

#9059 r-qvalue: new version
  var/spack/repos/builtin/packages/r-qvalue/package.py
Labels: new-version

#9060 r-geneplotter: new version
  var/spack/repos/builtin/packages/r-geneplotter/package.py
Labels: new-version

#9061 r-annotate: new version
  var/spack/repos/builtin/packages/r-annotate/package.py
Labels: new-version

#9063 r-genefilter: new version
  var/spack/repos/builtin/packages/r-genefilter/package.py
Labels: new-version

#9076 libquo: Packaging updates.
  var/spack/repos/builtin/packages/libquo/package.py
Labels: new-version

#9078 Open mpi add v3.1.2
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: new-version

#9036 More consistent colored messages from activate/deactivate
  lib/spack/spack/package.py
Labels: color, commands

#9072 mvapich2: Use rdma-core for mrail and nemesis*ib* fabrics
  var/spack/repos/builtin/packages/mvapich2/package.py
Labels: dependencies, mpi

#9079 add cdo releases 1.9.4 and 1.9.5
  var/spack/repos/builtin/packages/cdo/package.py
Labels: new-version

#9081 lammps: add v20180822
  var/spack/repos/builtin/packages/lammps/package.py
Labels: new-version

#9085 bison: add new version
  var/spack/repos/builtin/packages/bison/package.py
Labels: new-version

#9093 range-v3 package
  var/spack/repos/builtin/packages/range-v3/package.py
Labels: new-package

#9089 Add new CLHEP releases and move to sha256 checksums
  var/spack/repos/builtin/packages/clhep/package.py
Labels: new-version

#9090 Update the pocl package
  var/spack/repos/builtin/packages/pocl/package.py
Labels: new-version

#9091 Add package for the C++ Guideline Support Library
  var/spack/repos/builtin/packages/cppgsl/package.py
Labels: new-package

#8982 patch for OF.com@18.06 to correctly find KAHIP
  var/spack/repos/builtin/packages/openfoam-com/1806-have-kahip.patch
  var/spack/repos/builtin/packages/openfoam-com/package.py
Labels: patch

#8946 braker: add new version 2.1.0
  var/spack/repos/builtin/packages/braker/package.py
Labels: new-version

#8939 r-goseq: new package
  var/spack/repos/builtin/packages/r-goseq/package.py
Labels: new-package

#9082 Add line in trilinos/stk configuration to enable stk_ngp package.
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: update-package

#8806 dyninst: add dependency on libiberty
  var/spack/repos/builtin/packages/dyninst/package.py
Labels: dependencies

#9088 improve spack load error
  lib/spack/spack/cmd/modules/__init__.py
Labels: error-messages

#8613 Major overhaul of Java packages
  var/spack/repos/builtin/packages/icedtea/package.py
  var/spack/repos/builtin/packages/jdk/package.py
  var/spack/repos/builtin/packages/octave/package.py
  var/spack/repos/builtin/packages/openmpi/package.py
  var/spack/repos/builtin/packages/spark/package.py
  var/spack/repos/builtin/packages/thrift/package.py
Labels: extensions, java

#9127 gasnet: version bump
  var/spack/repos/builtin/packages/gasnet/package.py
Labels: new-version

#9111 New package: channelflow
  var/spack/repos/builtin/packages/channelflow/package.py
Labels: new-package

#9035 on error spack view suggests -i option
  lib/spack/spack/cmd/view.py
Labels: commands, error-messages, views

#9092 New package: NEST Simulator
  var/spack/repos/builtin/packages/nest/package.py
Labels: new-package

#8614 Add MDB driver support to GDAL
  var/spack/repos/builtin/packages/commons-lang/package.py
  var/spack/repos/builtin/packages/commons-lang3/package.py
  var/spack/repos/builtin/packages/commons-logging/package.py
  var/spack/repos/builtin/packages/gdal/package.py
  var/spack/repos/builtin/packages/jackcess/package.py
Labels: new-package, update-package

#7469 Intel prefixes
  lib/spack/docs/basic_usage.rst
  lib/spack/docs/build_systems/intelpackage.rst
  lib/spack/docs/getting_started.rst
  lib/spack/docs/module_file_support.rst
  lib/spack/docs/packaging_guide.rst
  lib/spack/docs/tutorial_configuration.rst
  lib/spack/spack/build_systems/README-intel.rst
  lib/spack/spack/build_systems/intel.py
  var/spack/repos/builtin/packages/intel-daal/package.py
  var/spack/repos/builtin/packages/intel-ipp/package.py
  var/spack/repos/builtin/packages/intel-mkl/package.py
  var/spack/repos/builtin/packages/intel-mpi/package.py
  var/spack/repos/builtin/packages/intel-parallel-studio/package.py
  var/spack/repos/builtin/packages/intel/package.py
Labels: blas-lapack-scalapack, intel

#8991 Update instructions to initialize Spack-global license files
  lib/spack/spack/hooks/licensing.py
Labels: licenses

#9143 openblas@0.3.3: new version
  var/spack/repos/builtin/packages/openblas/package.py
Labels: new-version

#9115 Add new SUNDIALS versions
  var/spack/repos/builtin/packages/sundials/package.py
Labels: new-version
