Repository spack/spack, pull requests merged in 2018-10, with the labels that each got.

#9403 Spack package for ytopt
  var/spack/repos/builtin/packages/py-ytopt/package.py
Labels: new-package

#9298 new package: TraceR
  var/spack/repos/builtin/packages/tracer/package.py
Labels: new-package

#9412 MACSio: update package
  var/spack/repos/builtin/packages/macsio/package.py
Labels: update-package

#9410 PICSARlite: actually builds PICSARlite now instead of PICSAR
  var/spack/repos/builtin/packages/picsarlite/package.py
Labels: hotfix

#9411 PICSAR: new package
  var/spack/repos/builtin/packages/picsar/package.py
Labels: new-package

#9335 added py-matplotlib version 3.0.0
  var/spack/repos/builtin/packages/py-matplotlib/package.py
Labels: concretization, new-version

#9368 [WIP] Release 2.0 of the ECP Proxy Apps suite
  var/spack/repos/builtin/packages/ecp-proxy-apps/package.py
  var/spack/repos/builtin/packages/examinimd/package.py
  var/spack/repos/builtin/packages/macsio/package.py
  var/spack/repos/builtin/packages/miniamr/package.py
  var/spack/repos/builtin/packages/miniqmc/package.py
Labels: update-package

#9422 trilinos: superlu_dist patch is now in trilinos develop - so removing it
  var/spack/repos/builtin/packages/trilinos/package.py
  var/spack/repos/builtin/packages/trilinos/superlu_dist_v5.4.0.patch
Labels: xSDK

#7974 openmc: version bump
  var/spack/repos/builtin/packages/openmc/package.py
Labels: new-version

#9424 Package mesa: added dependency on zlib
  var/spack/repos/builtin/packages/mesa/package.py
Labels: dependencies

#9418 py-py4j: add version 0.10.6
  var/spack/repos/builtin/packages/py-py4j/package.py
Labels: new-version

#9302 Valgrind make ubsan and enable64bit variants.
  var/spack/repos/builtin/packages/valgrind/package.py
Labels: update-package

#9303 VecGeom update versions and add cxxstd option.
  var/spack/repos/builtin/packages/vecgeom/package.py
Labels: update-package

#9304 Davix update
  var/spack/repos/builtin/packages/davix/davix-0.6.7-uuid.patch
  var/spack/repos/builtin/packages/davix/package.py
Labels: update-package

#9417 py-jprops: new package @ 2.0.2
  var/spack/repos/builtin/packages/py-jprops/package.py
Labels: new-package

#9419 py-pyspark: new package
  var/spack/repos/builtin/packages/py-pyspark/package.py
Labels: new-package

#9404 perl-module-build new version
  var/spack/repos/builtin/packages/perl-module-build/package.py
Labels: new-version

#9112 New package: pplacer
  var/spack/repos/builtin/packages/pplacer/package.py
Labels: new-package

#9262 energyplus: new package starting at 8.9.0
  var/spack/repos/builtin/packages/energyplus/package.py
Labels: new-package

#9467 petsc: add petsc-3.10.2
  var/spack/repos/builtin/packages/petsc/package.py
Labels: new-version, xSDK

#9469 xsdk: reorder develop version statements
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: xSDK

#9318 Update compile flags for netlib-lapack when building with the XL compiler.
  var/spack/repos/builtin/packages/netlib-lapack/ibm-xl.patch
  var/spack/repos/builtin/packages/netlib-lapack/package.py
Labels: patch, xl

#9474 openblas: fix experimental USE_TLS makefile option
  var/spack/repos/builtin/packages/openblas/package.py
Labels: blas-lapack-scalapack

#9357 Make CDash reporting easier to use
  lib/spack/spack/report.py
  lib/spack/spack/reporters/cdash.py
Labels: cdash, documentation

#9445 Update superlu-dist package.py to support latest release v6.0.0
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: xSDK

#9499 superlu-dist: switch to sha256sum
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: xSDK

#9501 amrex: add in new version for xssd [18.09.1, 18.10]
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, xSDK

#8773 Configurable permissions on installed files
  etc/spack/defaults/packages.yaml
  lib/spack/docs/build_settings.rst
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/directory_layout.py
  lib/spack/spack/hooks/permissions_setters.py
  lib/spack/spack/package.py
  lib/spack/spack/package_prefs.py
  lib/spack/spack/schema/packages.py
  lib/spack/spack/stage.py
  lib/spack/spack/test/concretize_preferences.py
Labels: permissions, ready

#9511 dealii: add 9.0.1 and update to sha256
  var/spack/repos/builtin/packages/dealii/package.py
Labels: new-version

#9508 libepoxy: fix build
  var/spack/repos/builtin/packages/libepoxy/package.py
Labels: build-error, opengl, update-package

#9506 Change nlohmann-json gcc 4.8 conflict
  var/spack/repos/builtin/packages/nlohmann-json/package.py
Labels: gcc, update-package

#9497 dbus: add missing pkgconfig dependency
  var/spack/repos/builtin/packages/dbus/package.py
Labels: build-error, update-package

#9503 at-spi2-atk: add missing pkgconfig dependency
  var/spack/repos/builtin/packages/at-spi2-atk/package.py
Labels: build-error, update-package

#9498 codes, dia, nest: fix pkg-config dependency
  var/spack/repos/builtin/packages/codes/package.py
  var/spack/repos/builtin/packages/dia/package.py
  var/spack/repos/builtin/packages/nest/package.py
Labels: update-package, virtual-dependencies

#9494 vtk: Added mpi variant
  var/spack/repos/builtin/packages/vtk/package.py
Labels: mpi, update-package

#9495 Update scorep and friends
  var/spack/repos/builtin/packages/cube/package.py
  var/spack/repos/builtin/packages/cubelib/package.py
  var/spack/repos/builtin/packages/cubew/package.py
  var/spack/repos/builtin/packages/opari2/package.py
  var/spack/repos/builtin/packages/scorep/package.py
Labels: new-version

#9515 Added py-pandas@0.23.4 and py-bottleneck@1.2.1
  var/spack/repos/builtin/packages/py-bottleneck/package.py
  var/spack/repos/builtin/packages/py-pandas/package.py
Labels: new-version

#9509 buildcache install: add modules
  lib/spack/spack/cmd/buildcache.py
Labels: buildcache

#9207 remove py-setuptools dependency from py-spyder
  var/spack/repos/builtin/packages/py-spyder/package.py
Labels: dependencies

#4641 PR for Swift/T Release 1.3
  var/spack/repos/builtin/packages/adlbx/package.py
  var/spack/repos/builtin/packages/exmcutils/package.py
  var/spack/repos/builtin/packages/stc/package.py
  var/spack/repos/builtin/packages/turbine/package.py
Labels: new-version

#9444 cabana: initial commit
  var/spack/repos/builtin/packages/cabana/package.py
Labels: new-package

#9545 Fixes to Omega_h C++ compiler flags
  var/spack/repos/builtin/packages/omega-h/package.py
Labels: xSDK

#9549 gmodel: switch from .zip to .tar.gz to avoid unzip dependency
  var/spack/repos/builtin/packages/gmodel/package.py
Labels: xSDK

#9554 pflotran: switch to parallel build
  var/spack/repos/builtin/packages/pflotran/package.py
Labels: xSDK

#9548 omega-h: update to versions 9.19.0, 9.19.1
  var/spack/repos/builtin/packages/omega-h/package.py
Labels: new-version, xSDK

#9552 omega-h: fix dependencies
  var/spack/repos/builtin/packages/omega-h/package.py
Labels: xSDK

#9421 py-hdfs: new package
  var/spack/repos/builtin/packages/py-hdfs/package.py
Labels: new-package

#9535 py-numpy: update to version 1.15.2
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: new-version

#9510 vtk: enhance with Xdmf IO.
  var/spack/repos/builtin/packages/lz4/package.py
  var/spack/repos/builtin/packages/mesa/package.py
  var/spack/repos/builtin/packages/vtk/package.py
  var/spack/repos/builtin/packages/vtk/python3.7-const-char.patch
Labels: mpi, update-package

#9486 Remove language-related variables from build environment
  etc/spack/defaults/config.yaml
  lib/spack/spack/build_environment.py
  lib/spack/spack/schema/config.py
Labels: build-environment

#9311 Update samrai 2.4.4
  var/spack/repos/builtin/packages/samrai/package.py
Labels: patch

#9584 warpx: new package
  var/spack/repos/builtin/packages/warpx/package.py
Labels: new-package

#9491 dbcsr: add new package
  var/spack/repos/builtin/packages/dbcsr/package.py
  var/spack/repos/builtin/packages/py-fypp/package.py
Labels: new-package

#9197 New package: DFT-FE
  var/spack/repos/builtin/packages/dftfe/package.py
Labels: new-package

#9580 STRUMPACK: update version to 3.1.0
  var/spack/repos/builtin/packages/strumpack/package.py
Labels: xSDK

#9578 license: exclude ignored files from the license check
  lib/spack/spack/cmd/license.py
Labels: commands, licenses

#9603 sundials: update to version 3.2.1
  var/spack/repos/builtin/packages/sundials/package.py
Labels: new-version, xSDK

#9602 hypre: update to version 2.15.1
  var/spack/repos/builtin/packages/hypre/package.py
Labels: new-version, xSDK

#9608 plasma: 18.10.0 update
  var/spack/repos/builtin/packages/plasma/package.py
Labels: new-version, xSDK

#9574 Bug fix: Module PATH check
  lib/spack/spack/util/module_cmd.py
Labels: bug, xSDK

#9607 added stat version 4.0.1
  var/spack/repos/builtin/packages/py-xdot/package.py
  var/spack/repos/builtin/packages/stat/package.py
Labels: new-version

#9416 py-pyarrow: new package
  var/spack/repos/builtin/packages/arrow/package.py
  var/spack/repos/builtin/packages/py-pyarrow/package.py
Labels: new-package

#9433 Package VisIt: updated visit package
  var/spack/repos/builtin/packages/visit/package.py
Labels: mpi, update-package, variants

#9630 Fix autoload of direct dependencies for python
  lib/spack/spack/modules/common.py
  lib/spack/spack/test/data/modules/tcl/autoload_with_constraints.yaml
  lib/spack/spack/test/modules/tcl.py
Labels: bug

#9627 Ignore flake8 W503 and W504
  .flake8
  .flake8_packages
Labels: flake8, travis

#9589 Fix issue with miniconda attempting to install the incorrect version
  var/spack/repos/builtin/packages/miniconda2/package.py
  var/spack/repos/builtin/packages/miniconda3/package.py
Labels: build-error

#9645 license: add copyright to MIT license and SPDX in README
  LICENSE-MIT
  README.md
Labels: licenses

#9644 cabana: added v0.1.0
  var/spack/repos/builtin/packages/cabana/package.py
Labels: new-version

#9329 Unite Dockerfiles - add build/run/push scripts
  .dockerignore
  .travis.yml
  lib/spack/docs/docker_for_developers.rst
  share/spack/docker/.env
  share/spack/docker/Dockerfile
  share/spack/docker/build-image.sh
  share/spack/docker/build/arch.dockerfile
  share/spack/docker/build/centos.dockerfile
  share/spack/docker/build/fedora.dockerfile
  share/spack/docker/build/opensuse.dockerfile
  share/spack/docker/build/scilinux.dockerfile
  share/spack/docker/build/ubuntu.dockerfile
  share/spack/docker/config/arch.bash
  share/spack/docker/config/centos.bash
  share/spack/docker/config/fedora.bash
  share/spack/docker/config/opensuse.bash
  share/spack/docker/config/scilinux.bash
  share/spack/docker/config/ubuntu.bash
  share/spack/docker/docker-compose.yml
  share/spack/docker/dpp.bash
  share/spack/docker/entrypoint.bash
  share/spack/docker/handle-prompt.sh
  share/spack/docker/handle-ssh.sh
  share/spack/docker/modules.yaml
  share/spack/docker/push-image.sh
  share/spack/docker/render-image-template.sh
  share/spack/docker/run-image.sh
Labels: containers, docker

#9656 config: `spack config blame` now colors filenames in config output
  lib/spack/spack/util/spack_yaml.py
Labels: commands, configuration

#9665 slepc: update to version 3.10.1
  var/spack/repos/builtin/packages/slepc/package.py
Labels: new-version, xSDK

#9666 strumpack: update to version 3.1.1
  var/spack/repos/builtin/packages/strumpack/package.py
Labels: new-version, xSDK

#9672 packages/phist: new version 1.7.3
  var/spack/repos/builtin/packages/phist/package.py
Labels: new-version

#9670 caliper: specify path to libunwind
  var/spack/repos/builtin/packages/caliper/package.py
Labels: update-package

#9597 vtk: Fix leftovers
  var/spack/repos/builtin/packages/vtk/package.py
Labels: update-package

#9655 New package for RegCM, regional climate model.
  var/spack/repos/builtin/packages/regcm/package.py
Labels: don't-merge-yet

#9668 Update dependencies for py-llvmlite
  var/spack/repos/builtin/packages/py-llvmlite/package.py
Labels: build-error, update-package

#9234 Update openspeedshop and cbtf-krell module creation code
  var/spack/repos/builtin/packages/cbtf-argonavis-gui/package.py
  var/spack/repos/builtin/packages/cbtf-argonavis/package.py
  var/spack/repos/builtin/packages/cbtf-krell/package.py
  var/spack/repos/builtin/packages/cbtf-lanl/package.py
  var/spack/repos/builtin/packages/cbtf/package.py
  var/spack/repos/builtin/packages/openspeedshop-utils/package.py
  var/spack/repos/builtin/packages/openspeedshop/package.py
Labels: modules

#9687 Packmol: a new package.
  var/spack/repos/builtin/packages/packmol/package.py
Labels: new-package

#9691 ecp-proxy-apps: disable building CANDLE Benchmarks by default
  var/spack/repos/builtin/packages/ecp-proxy-apps/package.py
Labels: update-package

#9690 static_to_shared_library: breaks with lua build on osx with brew/gcc
  lib/spack/spack/build_environment.py
Labels: bug, xSDK
