Repository spack/spack, pull requests merged in 2018-12, with the labels that each got.

#9968 Bump vtkm to version 1.3 and add new features
  var/spack/repos/builtin/packages/vtkm/package.py
Labels: new-version

#10003 Download CMake sources from the Github releases
  var/spack/repos/builtin/packages/cmake/package.py
Labels: cmake, fetching

#9981 abyss: new version
  var/spack/repos/builtin/packages/abyss/package.py
Labels: new-version

#9967 r-optparse: new package
  var/spack/repos/builtin/packages/r-getopt/package.py
  var/spack/repos/builtin/packages/r-optparse/package.py
Labels: new-package, new-version

#9966 Disallow bcl2fastq2 on OS X
  var/spack/repos/builtin/packages/bcl2fastq2/package.py
Labels: macOS

#9975 improved constraint conflict error message
  lib/spack/spack/spec.py
Labels: error-messages

#9980 boost: 1.68 also needs `boost_1.67.0_pgi.patch`
  var/spack/repos/builtin/packages/boost/package.py
Labels: update-package

#9970 NETCDF: Add new versions and update url
  var/spack/repos/builtin/packages/netcdf/package.py
Labels: new-version

#10010 Add tmux@2.8
  var/spack/repos/builtin/packages/tmux/package.py
Labels: new-version

#9993 MATIO: New versions
  var/spack/repos/builtin/packages/matio/package.py
Labels: new-version

#10009 c-blosc: 1.15.0
  var/spack/repos/builtin/packages/c-blosc/package.py
Labels: new-version

#9971 EXODUS: Update version and dependencies
  var/spack/repos/builtin/packages/exodusii/package.py
Labels: new-version

#10008 dealii: do not hardcode prefix.include for BLAS/LAPACK
  var/spack/repos/builtin/packages/dealii/package.py
Labels: blas-lapack-scalapack, libraries

#10015 ffmpeg: add version 4.1
  var/spack/repos/builtin/packages/ffmpeg/package.py
Labels: new-version

#10012 added bwa runtime dep
  var/spack/repos/builtin/packages/abyss/package.py
Labels: dependencies

#10013 sdsl-lite: new package at 2.1.1
  var/spack/repos/builtin/packages/sdsl-lite/package.py
Labels: new-package

#10014 biobloom: new package at 2.2.0
  var/spack/repos/builtin/packages/biobloom/package.py
Labels: new-package

#9387 pfunit: add mpi-test patch
  var/spack/repos/builtin/packages/pfunit/mpi-test.patch
  var/spack/repos/builtin/packages/pfunit/package.py
Labels: mpi, patch, tests

#10016 openblas: add version 0.3.4
  var/spack/repos/builtin/packages/openblas/package.py
Labels: new-version

#9998 Rewrite Rust package
  var/spack/repos/builtin/packages/rust/package.py
Labels: build-error

#10029 cloc: add version 1.80
  var/spack/repos/builtin/packages/cloc/package.py
Labels: new-version

#10030 DIAMOND: Add version 0.9.23
  var/spack/repos/builtin/packages/diamond/package.py
Labels: new-version

#9853 Quantum ESPRESSO update - Nov 2018
  var/spack/repos/builtin/packages/quantum-espresso/package.py
Labels: update-package

#9988 Adding patch to remove unicode character from pyrope readme file
  var/spack/repos/builtin/packages/py-rope/fix_readme_unicode.patch
  var/spack/repos/builtin/packages/py-rope/package.py
Labels: patch

#10037 superlu-dist: update to version 6.1.0
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: new-version, xSDK

#10025 cdo: fix URLs
  var/spack/repos/builtin/packages/cdo/package.py
Labels: fetching

#10040 clp: new package at 1.16.11
  var/spack/repos/builtin/packages/clp/package.py
Labels: new-package

#10041 scallop: new package at 0.10.3
  var/spack/repos/builtin/packages/scallop/package.py
Labels: new-package

#10046 gcc: Add patch to build GCC with glibc 2.28 and later
  var/spack/repos/builtin/packages/gcc/package.py
  var/spack/repos/builtin/packages/gcc/sys_ustat.h.patch
Labels: gcc, patch

#10022 Fix Catch2 Single Header
  var/spack/repos/builtin/packages/catch/package.py
Labels: build-error, update-package

#10060 eztrace: add new package
  var/spack/repos/builtin/packages/eztrace/package.py
Labels: new-package

#10057 pumi: shared variant
  var/spack/repos/builtin/packages/pumi/package.py
Labels: variants

#10054 TraceR: add release tag/version
  var/spack/repos/builtin/packages/tracer/package.py
Labels: update-package

#10055 OpenMPI: adding static libraries with slurm support for latest versions.
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: mpi

#10058 metis: Fix issues with gcc6 and misleading indentation
  var/spack/repos/builtin/packages/metis/gklib_nomisleadingindentation_warning.patch
  var/spack/repos/builtin/packages/metis/package.py
Labels: patch

#9138 mofem: add new releases and minor changes
  var/spack/repos/builtin/packages/moab/package.py
  var/spack/repos/builtin/packages/mofem-cephas/package.py
  var/spack/repos/builtin/packages/mofem-fracture-module/package.py
  var/spack/repos/builtin/packages/mofem-minimal-surface-equation/package.py
  var/spack/repos/builtin/packages/mofem-users-modules/package.py
Labels: new-version

#10047 Make downloads from list_url deterministic
  lib/spack/spack/util/web.py
Labels: fetching

#9906 Update LBANN generator and bug fix
  var/spack/repos/builtin/packages/aluminum/package.py
  var/spack/repos/builtin/packages/hydrogen/package.py
  var/spack/repos/builtin/packages/lbann/package.py
Labels: new-version, variants

#10081 gcc: fix sys_ustat.h patch for gcc 4.8 and 4.9
  var/spack/repos/builtin/packages/gcc/package.py
  var/spack/repos/builtin/packages/gcc/sys_ustat-4.9.patch
Labels: gcc, patch

#10082 new SCR releases
  var/spack/repos/builtin/packages/scr/package.py
Labels: new-version

#10077 LEMON: Create new package
  var/spack/repos/builtin/packages/lemon/package.py
Labels: new-package

#10083 boost: add 1.69.0
  var/spack/repos/builtin/packages/boost/package.py
Labels: new-version

#10086 lammps: add new stable version
  var/spack/repos/builtin/packages/lammps/package.py
Labels: new-version

#10088 Add CUDA_HOME variable to cuda module file.
  var/spack/repos/builtin/packages/cuda/package.py
Labels: cuda, modules

#10078 superlu-dist: update v6.1.0 checksum
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: checksum, xSDK

#10093 trf: add version 4.07b and install fixes
  var/spack/repos/builtin/packages/trf/package.py
Labels: new-version

#10053 Feature/spm
  var/spack/repos/builtin/packages/spm/package.py
Labels: new-package

#10092 cmake: add version 3.13.2
  var/spack/repos/builtin/packages/cmake/package.py
Labels: cmake, new-version

#10072 Add new packages for ELSD and ELSDc
  var/spack/repos/builtin/packages/elsd/package.py
  var/spack/repos/builtin/packages/elsdc/package.py
Labels: new-package

#10095 make dtcmp an autotools spackage
  var/spack/repos/builtin/packages/dtcmp/package.py
Labels: update-package

#10104 Add latest version of meson
  var/spack/repos/builtin/packages/meson/package.py
Labels: new-version

#10105 Turn on verbose output for MPICH builds in Travis
  share/spack/qa/run-build-tests
Labels: tests, travis

#10090 Updated the Travis environment to xenial
  .travis.yml
Labels: tests, travis

#10102 Add latest version of cairo
  var/spack/repos/builtin/packages/cairo/package.py
Labels: new-version

#10101 Add latest version of poppler
  var/spack/repos/builtin/packages/poppler/package.py
Labels: new-version

#10098 Add latest version of libxslt
  var/spack/repos/builtin/packages/libxslt/package.py
Labels: new-version

#10106 qt: fix openssl dependency for older versions
  var/spack/repos/builtin/packages/qt/package.py
Labels: dependencies

#10079 Fixes for Google Test
  var/spack/repos/builtin/packages/googletest/package.py
Labels: new-version

#10099 Add latest version of libatomic-ops
  var/spack/repos/builtin/packages/libatomic-ops/package.py
Labels: new-version

#10100 Add latest version of bdw-gc
  var/spack/repos/builtin/packages/bdw-gc/package.py
Labels: new-version

#10103 Add latest version of libsigcpp
  var/spack/repos/builtin/packages/libsigcpp/package.py
Labels: new-version

#6370 Enable ccache in travis
  .travis.yml
  share/spack/qa/configuration/config.yaml
Labels: performance, tests, travis

#10116 spack pkg add: add help message
  lib/spack/spack/cmd/pkg.py
Labels: commands

#10111 r-xnomial: new package at 1.0.4
  var/spack/repos/builtin/packages/r-xnomial/package.py
Labels: new-package

#10108 r-popgenome: new package at 2.6.1
  var/spack/repos/builtin/packages/r-popgenome/package.py
Labels: new-package

#10119 Store ccache directory explicitly in Travis.
  .travis.yml
Labels: tests, travis

#10110 r-multitaper: new package at 1.0-14
  var/spack/repos/builtin/packages/r-multitaper/package.py
Labels: new-package

#10069 env setup: support --help for cd/env commands
  share/spack/setup-env.sh
Labels: shell-support

#8993 Add patches to mirrors 2
  lib/spack/spack/caches.py
  lib/spack/spack/cmd/mirror.py
  lib/spack/spack/mirror.py
  lib/spack/spack/patch.py
  lib/spack/spack/stage.py
  lib/spack/spack/test/mirror.py
Labels: mirrors, patch

#10120 packages/phist: new version 1.7.5
  var/spack/repos/builtin/packages/phist/package.py
Labels: new-version

#10125 Add latest version of atk
  var/spack/repos/builtin/packages/atk/package.py
Labels: new-version

#7069 mark: Create new package.
  var/spack/repos/builtin/packages/mark/package.py
Labels: new-package

#8986 zoltan: rely on MPI wrappers instead of guessing MPI libraries
  var/spack/repos/builtin/packages/zoltan/package.py
Labels: libraries, mpi

#9936 GDL: python integration fixes
  var/spack/repos/builtin/packages/gdl/Always-build-antlr-as-shared-library.patch
  var/spack/repos/builtin/packages/gdl/package.py
Labels: python

#9972 SEACAS: Add preliminary support for seacas package
  var/spack/repos/builtin/packages/seacas/package.py
Labels: new-package

#10075 Add patch to fix windows.h include in freetype
  var/spack/repos/builtin/packages/freetype/package.py
  var/spack/repos/builtin/packages/freetype/windows.patch
Labels: patch

#10114 Update Spack's Bash completion script
  share/spack/spack-completion.bash
Labels: shell-support

#10115 spack buildcache: --allow_root -> --allow-root
  lib/spack/spack/cmd/buildcache.py
Labels: buildcache, commands

#10117 Add help messages to spack gpg subcommands
  lib/spack/spack/cmd/gpg.py
Labels: commands

#10121 Add latest version of libbsd
  var/spack/repos/builtin/packages/libbsd/package.py
Labels: new-version

#10122 Add missing libbsd dependency to libxdmcp
  var/spack/repos/builtin/packages/libxdmcp/package.py
Labels: dependencies

#10123 Add latest version of ghostscript
  var/spack/repos/builtin/packages/ghostscript/package.py
Labels: dependencies, new-version

#10126 Add latest version of gdk-pixbuf
  var/spack/repos/builtin/packages/gdk-pixbuf/package.py
Labels: new-version

#10131 Revert "mark: Create new package" due to license issue
  var/spack/repos/builtin/packages/mark/package.py
Labels: licenses, relicense

#10124 Add missing gettext dependency to at-spi2-core
  var/spack/repos/builtin/packages/at-spi2-core/package.py
Labels: dependencies

#10084 Added RocksDB package
  var/spack/repos/builtin/packages/rocksdb/package.py
Labels: new-package

#10130 git: add version 2.20.1
  var/spack/repos/builtin/packages/git/package.py
Labels: git, new-version

#10018 Add spack package for saga-gis
  var/spack/repos/builtin/packages/saga-gis/package.py
Labels: new-package

#9999 Add thread count variant to atlas
  var/spack/repos/builtin/packages/atlas/package.py
Labels: blas-lapack-scalapack

#10112 clp: add build_directory, remove old hack
  var/spack/repos/builtin/packages/clp/package.py
Labels: build-error

#10135 Add pdf variant to cairo
  var/spack/repos/builtin/packages/cairo/package.py
Labels: variants

#10137 flatbuffers: add 1.10.0
  var/spack/repos/builtin/packages/arrow/package.py
  var/spack/repos/builtin/packages/flatbuffers/package.py
Labels: new-version

#10144 WarpX: Added dependency on fftw when +psatd
  var/spack/repos/builtin/packages/warpx/package.py
Labels: dependencies

#10142 fix for mpifileutils package
  var/spack/repos/builtin/packages/mpifileutils/package.py
Labels: update-package

#10133 Add additional info to MesonPackage docs
  lib/spack/docs/build_systems/mesonpackage.rst
Labels: documentation, meson

#10128 Added labels in github issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/build_error.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: community

#10067 mapserver: new package
  var/spack/repos/builtin/packages/mapserver/package.py
Labels: new-package

#10154 PETSc: add version 3.10.3
  var/spack/repos/builtin/packages/petsc/package.py
Labels: new-version

#10145 Restrict patch to oldest version of libbsd
  var/spack/repos/builtin/packages/libbsd/package.py
Labels: new-version, patch

#10147 Add latest version of docbook-xsl
  var/spack/repos/builtin/packages/docbook-xsl/docbook-xsl-1.79.2-stack_fix-1.patch
  var/spack/repos/builtin/packages/docbook-xsl/package.py
Labels: new-version, patch

#10146 Add list_url to docbook-xml
  var/spack/repos/builtin/packages/docbook-xml/package.py
Labels: update-package

#10148 Add missing libiconv dependency to libxml2
  var/spack/repos/builtin/packages/libxml2/package.py
Labels: dependencies, tests

#10149 Add python bindings to libxslt
  var/spack/repos/builtin/packages/libxslt/package.py
Labels: python, tests

#10157 Updated Dakota to 6.9
  var/spack/repos/builtin/packages/dakota/package.py
Labels: new-version

#10155 phist tag 1.7.5 was moved
  var/spack/repos/builtin/packages/phist/package.py
Labels: checksum

#10153 fetch_strategy: improve GitFetchStrategy
  lib/spack/spack/fetch_strategy.py
  var/spack/repos/builtin/packages/h5z-zfp/package.py
Labels: fetching, git

#10158 kallisto: updated checksum
  var/spack/repos/builtin/packages/kallisto/package.py
Labels: checksum

#10138 sqlite: add 3.26.0
  var/spack/repos/builtin/packages/sqlite/package.py
  var/spack/repos/builtin/packages/sqlite/remove_overflow_builtins.patch
  var/spack/repos/builtin/packages/sqlite/sqlite_b0.patch
Labels: new-version, security

#10107 env: all commands that disambiguate specs should be env-aware
  lib/spack/spack/cmd/__init__.py
  lib/spack/spack/cmd/activate.py
  lib/spack/spack/cmd/add.py
  lib/spack/spack/cmd/buildcache.py
  lib/spack/spack/cmd/concretize.py
  lib/spack/spack/cmd/config.py
  lib/spack/spack/cmd/deactivate.py
  lib/spack/spack/cmd/dependencies.py
  lib/spack/spack/cmd/dependents.py
  lib/spack/spack/cmd/env.py
  lib/spack/spack/cmd/extensions.py
  lib/spack/spack/cmd/find.py
  lib/spack/spack/cmd/install.py
  lib/spack/spack/cmd/location.py
  lib/spack/spack/cmd/remove.py
  lib/spack/spack/cmd/stage.py
  lib/spack/spack/cmd/uninstall.py
  lib/spack/spack/cmd/view.py
  lib/spack/spack/environment.py
Labels: commands, environments

#10156 CGNS: Allow use of git branch versions
  var/spack/repos/builtin/packages/cgns/package.py
Labels: new-version

#9718 fix multiple issues with the docker images
  .dockerignore
  share/spack/docker/Dockerfile
  share/spack/docker/entrypoint.bash
  share/spack/docker/handle-prompt.sh
  share/spack/docker/handle-ssh.sh
Labels: configuration, containers, docker, ecp

#9805 Fix docker builds
  .travis.yml
  share/spack/docker/Dockerfile
  share/spack/qa/run-docker-tests
Labels: docker

#10167 OpenFOAM-v1812 - new version
  var/spack/repos/builtin/packages/openfoam-com/package.py
Labels: new-version

#10169 update h5py to 2.9.0
  var/spack/repos/builtin/packages/py-h5py/package.py
Labels: new-version

#10164 R3D spackage
  var/spack/repos/builtin/packages/r3d/package.py
Labels: new-package

#10165 Add libiconv variant to glib
  var/spack/repos/builtin/packages/glib/package.py
Labels: dependencies, variants

#10175 py-numba: fix py-llvmlite version
  var/spack/repos/builtin/packages/py-numba/package.py
Labels: dependencies

#10176 add charliecloud 0.9.6
  var/spack/repos/builtin/packages/charliecloud/package.py
Labels: new-version

#10174 gpgme: new package
  var/spack/repos/builtin/packages/gpgme/package.py
Labels: new-package

#10166 petsc-3.10.3: syncs with superlu-dist-6.1.
  var/spack/repos/builtin/packages/petsc/package.py
Labels: xSDK

#10074 py-pynio: new package
  var/spack/repos/builtin/packages/py-pynio/package.py
Labels: new-package

#10180 Feature add breathe and m2r
  var/spack/repos/builtin/packages/py-breathe/package.py
  var/spack/repos/builtin/packages/py-m2r/package.py
  var/spack/repos/builtin/packages/py-sphinx/package.py
Labels: new-package

#10129 openFOAM-paraview-catalyst
  var/spack/repos/builtin/packages/catalyst/package.py
  var/spack/repos/builtin/packages/catalyst/vtkm-catalyst-pv551.patch
  var/spack/repos/builtin/packages/of-catalyst/package.py
  var/spack/repos/builtin/packages/openfoam-com/package.py
  var/spack/repos/builtin/packages/paraview/package.py
  var/spack/repos/builtin/packages/paraview/vtkm-catalyst-pv551.patch
Labels: new-package

#10066 py-cftime: new package
  var/spack/repos/builtin/packages/py-cftime/package.py
Labels: new-package

#10038 xsdk-0.4.0: add/update package versions:
  var/spack/repos/builtin/packages/alquimia/package.py
  var/spack/repos/builtin/packages/pflotran/package.py
  var/spack/repos/builtin/packages/trilinos/package.py
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: xSDK

#10177 travis: fix pip install for docker stage
  .travis.yml
Labels: containers, docker, travis

#10186 bugfix: handle unicode properly in spack.util.executable
  lib/spack/spack/test/util/executable.py
  lib/spack/spack/util/executable.py
Labels: commands

#10178 manta: Add version 1.5.0 and add missing zlib dependency
  var/spack/repos/builtin/packages/manta/package.py
Labels: dependencies, new-version

#10188 dealii: fix build with some Intel compilers
  var/spack/repos/builtin/packages/dealii/package.py
Labels: intel, patch

#10127 Don't spawn processes during python 2.6 'test_compiler_add' unit test
  lib/spack/spack/test/cmd/test_compiler_cmd.py
Labels: WIP, tests, travis

#10197 mawk: added 1.3.4_p20171017
  var/spack/repos/builtin/packages/mawk/package.py
Labels: new-version

#10196 Fix libxml2+python and libxslt+python import tests
  var/spack/repos/builtin/packages/libxml2/package.py
  var/spack/repos/builtin/packages/libxslt/package.py
Labels: dependencies, extensions, variants

#10202 Fix pkgconf downloads
  var/spack/repos/builtin/packages/pkgconf/package.py
Labels: fetching

#10200 pgmath: depend on awk
  var/spack/repos/builtin/packages/pgmath/package.py
Labels: dependencies

#10189 Add Stata package
  var/spack/repos/builtin/packages/stata/package.py
Labels: new-package

#10201 fix moab installation for version 5.0.2 removed from ftp
  var/spack/repos/builtin/packages/moab/package.py
Labels: new-version

#9854 xgboost: new package at 0.81
  var/spack/repos/builtin/packages/xgboost/package.py
Labels: new-package

#10179 Add new versions of optional-lite and string-view-lite
  var/spack/repos/builtin/packages/optional-lite/package.py
  var/spack/repos/builtin/packages/string-view-lite/package.py
Labels: new-version

#10212 velvet: Add missing zlib dependency to fix installation errors
  var/spack/repos/builtin/packages/velvet/package.py
Labels: dependencies

#10211 salmon: Add version 0.12.0
  var/spack/repos/builtin/packages/salmon/package.py
Labels: new-version

#10215 Add GDAL 2.4.0
  var/spack/repos/builtin/packages/gdal/package.py
Labels: new-version

#10213 Use homebrew addon instead of manually invoking brew
  .travis.yml
Labels: travis

#10220 bugfix: add codecov upload back to travis.yml
  .travis.yml
Labels: coverage, travis

#10221 coverage: use kcov to get coverage for compiler wrappers
  .codecov.yml
  .coveragerc
  .travis.yml
  share/spack/qa/bashcov
  share/spack/qa/setup.sh
Labels: shell-support, travis

#10226 py-sphinxautomodapi: new python package
  var/spack/repos/builtin/packages/py-sphinxautomodapi/package.py
Labels: new-package

#10224 flang, llvm, pgmath: Add release for 2018-09-21
  var/spack/repos/builtin/packages/flang/package.py
  var/spack/repos/builtin/packages/llvm/package.py
  var/spack/repos/builtin/packages/pgmath/package.py
Labels: new-version

#9852 ds: new package at 9.8.0
  var/spack/repos/builtin/packages/ds/package.py
Labels: new-package

#10229 bamutil builds with newer gcc's
  var/spack/repos/builtin/packages/bamutil/libstatgen-issue-17.patch
  var/spack/repos/builtin/packages/bamutil/libstatgen-issue-19.patch
  var/spack/repos/builtin/packages/bamutil/libstatgen-issue-7.patch
  var/spack/repos/builtin/packages/bamutil/package.py
  var/spack/repos/builtin/packages/bamutil/verifybamid-issue-8.patch
Labels: patch

#10228 fastx-toolkit builds with newer gcc's
  var/spack/repos/builtin/packages/fastx-toolkit/package.py
  var/spack/repos/builtin/packages/fastx-toolkit/pr-22.patch
Labels: patch

#10227 aspell builds with newer gcc's
  var/spack/repos/builtin/packages/aspell/issue-519.patch
  var/spack/repos/builtin/packages/aspell/package.py
Labels: patch
