Repository spack/spack, pull requests merged in 2018-07, with the labels that each got.

#8620 A new package: xhmm.
  var/spack/repos/builtin/packages/xhmm/package.py
Labels: new-package

#8592 ENH: Building OpenFOAM sub-packages (issue #8579)
  var/spack/repos/builtin/packages/openfoam-com/common/spack-Allwmake
  var/spack/repos/builtin/packages/openfoam-com/common/spack-derived-Allwmake
  var/spack/repos/builtin/packages/openfoam-com/package.py
  var/spack/repos/builtin/packages/openfoam-org/assets/bin/foamEtcFile
Labels: update-package

#8590 Add Amrvis package
  var/spack/repos/builtin/packages/amrvis/package.py
Labels: new-package

#8625 Bump gradle to 4.8.1.
  var/spack/repos/builtin/packages/gradle/package.py
Labels: new-version

#8628 byobu: update package
  var/spack/repos/builtin/packages/byobu/package.py
Labels: new-version

#8627 petsc: add in latest release 3.9.3.
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/petsc/xlc-test-3.9.0.diff
Labels: new-version

#8630 screen: update package
  var/spack/repos/builtin/packages/screen/package.py
Labels: new-version

#8631 Pxz: new package
  var/spack/repos/builtin/packages/pxz/package.py
Labels: new-package

#8633 Fix base class for py-pyserial
  var/spack/repos/builtin/packages/py-pyserial/package.py
Labels: python, update-package

#8634 Bump sbt to 1.1.6.
  var/spack/repos/builtin/packages/sbt/package.py
Labels: new-version

#8621 Add new versions for log4cplus.
  var/spack/repos/builtin/packages/log4cplus/package.py
Labels: new-version

#8510 gcc: Fix build of older versions with recent versions of glibc
  var/spack/repos/builtin/packages/gcc/package.py
  var/spack/repos/builtin/packages/gcc/signal.patch
  var/spack/repos/builtin/packages/gcc/stack_t-4.9.patch
  var/spack/repos/builtin/packages/gcc/stack_t.patch
  var/spack/repos/builtin/packages/gcc/ucontext_t-java.patch
  var/spack/repos/builtin/packages/gcc/ucontext_t.patch
Labels: gcc, patch

#8645 added rpy2 2.9.4 and added py-jinja2 dependency
  var/spack/repos/builtin/packages/py-rpy2/package.py
Labels: new-version

#8591 ncbitoolkit: Create new package.
  var/spack/repos/builtin/packages/ncbi-toolkit/package.py
Labels: new-package

#8603 Add missing dependencies and variants to wcslib
  var/spack/repos/builtin/packages/wcslib/package.py
Labels: dependencies, variants

#8598 cleverleaf: Intel compiler fails compilation without c++11 flag (#8550)
  var/spack/repos/builtin/packages/cleverleaf/package.py
Labels: build-error, intel

#8648 Glog: make is a function
  var/spack/repos/builtin/packages/glog/package.py
Labels: makefile

#8580 switch git to kernel.org source and sha256
  var/spack/repos/builtin/packages/git/package.py
Labels: fetching

#8644 precice: new package (issue #8643)
  var/spack/repos/builtin/packages/of-precice/package.py
  var/spack/repos/builtin/packages/precice/package.py
Labels: new-package

#8216 Add url_for_version and list_url to Ruby package
  var/spack/repos/builtin/packages/ruby/package.py
Labels: fetching

#8650 Clear up a bit of modules/dotkit confusion
  lib/spack/docs/module_file_support.rst
Labels: documentation, modules

#8653 Update nettle package with info for v3.4
  var/spack/repos/builtin/packages/nettle/package.py
Labels: new-version

#8652 Fix digests for git@2.17.0 and git@2.17.1
  var/spack/repos/builtin/packages/git/package.py
Labels: checksum

#8657 Fix security issue in singularity + misc cleanups
  var/spack/repos/builtin/packages/singularity/package.py
Labels: security

#8655 Added support for uncrustify 0.67.
  var/spack/repos/builtin/packages/uncrustify/package.py
Labels: new-version

#8581 ECP VELOC
  var/spack/repos/builtin/packages/axl/package.py
  var/spack/repos/builtin/packages/er/package.py
  var/spack/repos/builtin/packages/kvtree/package.py
  var/spack/repos/builtin/packages/rankstr/package.py
  var/spack/repos/builtin/packages/redset/package.py
  var/spack/repos/builtin/packages/shuffile/package.py
  var/spack/repos/builtin/packages/veloc/package.py
Labels: new-package, ready

#8367 blasr: new package
  var/spack/repos/builtin/packages/blasr/package.py
Labels: new-package

#8658 fix typo in help of `spack clone` prefix is singular
  lib/spack/spack/cmd/clone.py
Labels: commands

#8660 trilinos: update dtk dependencies
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: conflicts

#8552 express: bamtools lib handling
  var/spack/repos/builtin/packages/express/package.py
Labels: libraries

#8661 Make 'netlib-lapack' a CMakePackage.
  var/spack/repos/builtin/packages/netlib-lapack/package.py
Labels: cmake

#3761 ccache support
  etc/spack/defaults/config.yaml
  lib/spack/docs/config_yaml.rst
  lib/spack/env/cc
  lib/spack/spack/build_environment.py
  lib/spack/spack/schema/config.py
Labels: compilers

#8666 libnova: new package
  var/spack/repos/builtin/packages/libnova/package.py
Labels: new-package

#8665 charm: add possibility to run tests
  var/spack/repos/builtin/packages/charm/package.py
Labels: tests

#8651 fetch: remove 'trying' when cloning repos
  lib/spack/docs/getting_started.rst
  lib/spack/spack/fetch_strategy.py
Labels: fetching, git, mercurial, subversion

#8663 Gtkorvo updates
  var/spack/repos/builtin/packages/gtkorvo-atl/package.py
  var/spack/repos/builtin/packages/gtkorvo-dill/package.py
  var/spack/repos/builtin/packages/gtkorvo-enet/package.py
  var/spack/repos/builtin/packages/libevpath/package.py
  var/spack/repos/builtin/packages/libffs/package.py
Labels: new-version

#8674 Adding psm as a dependency of mvapich2.
  var/spack/repos/builtin/packages/mvapich2/package.py
Labels: dependencies, mpi

#8677 Patch for 'netlib-lapack'.
  var/spack/repos/builtin/packages/netlib-lapack/package.py
  var/spack/repos/builtin/packages/netlib-lapack/undefined_declarations.patch
Labels: patch

#8681 New packages: libbeato bwtool.
  var/spack/repos/builtin/packages/bwtool/package.py
  var/spack/repos/builtin/packages/libbeato/package.py
Labels: new-package

#8682 Update kaldi
  var/spack/repos/builtin/packages/kaldi/package.py
Labels: new-version

#8671 perl-math-cephes: new package
  var/spack/repos/builtin/packages/perl-math-cephes/package.py
Labels: new-package

#8684 openmpi: add 3.1.1
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: new-version

#8565 Version specific URL overrides won't propagate to newer versions
  lib/spack/spack/package.py
  lib/spack/spack/test/packages.py
  var/spack/repos/builtin.mock/packages/url_override/package.py
Labels: bug, versions

#8383 py-ply: added version 3.11
  var/spack/repos/builtin/packages/py-ply/package.py
Labels: new-version

#8692 mothur: new version
  var/spack/repos/builtin/packages/mothur/package.py
Labels: new-version

#8691 beast1: new version
  var/spack/repos/builtin/packages/beast1/package.py
Labels: new-version

#8690 transdecoder: needs perl-uri-escape
  var/spack/repos/builtin/packages/transdecoder/package.py
Labels: dependencies

#8686 mitofates: more deps and a patch to make it functional
  var/spack/repos/builtin/packages/mitofates/DirichletRegulator_fast.patch
  var/spack/repos/builtin/packages/mitofates/package.py
Labels: dependencies, patch

#8649 First try on pytorch
  var/spack/repos/builtin/packages/py-pytorch/package.py
Labels: new-package

#8073 flang: add support for llvm-6
  var/spack/repos/builtin/packages/flang/package.py
  var/spack/repos/builtin/packages/pgmath/package.py
Labels: clang, new-version

#8701 Add py-backcall
  var/spack/repos/builtin/packages/py-backcall/package.py
Labels: new-package

#8702 update version for numexpr
  var/spack/repos/builtin/packages/py-numexpr/package.py
Labels: new-version

#8704 Scotch: fix compilation of 6.0.5a
  var/spack/repos/builtin/packages/scotch/libscotchmetis-return-6.0.5a.patch
  var/spack/repos/builtin/packages/scotch/package.py
Labels: patch

#8706 mothur: mpi not used
  var/spack/repos/builtin/packages/mothur/package.py
Labels: dependencies, variants

#8705 py-fn: new package
  var/spack/repos/builtin/packages/py-fn/package.py
Labels: new-package

#8698 Unset F90 and F90FLAGS in mvapich2
  var/spack/repos/builtin/packages/mvapich2/package.py
Labels: mpi

#8707 Py-opentuner: new package
  var/spack/repos/builtin/packages/py-opentuner/package.py
Labels: new-package

#8710 Fixing error in amrvis package.
  var/spack/repos/builtin/packages/amrvis/package.py
Labels: update-package

#8610 clean up of spack clean
  bin/spack
  lib/spack/spack/cmd/clean.py
Labels: commands

#8647 Charm: provide MPI
  var/spack/repos/builtin/packages/charm/package.py
Labels: mpi

#8712 yasm: add develop version
  var/spack/repos/builtin/packages/yasm/package.py
Labels: new-version

#8711 scotch: add version 6.0.6
  var/spack/repos/builtin/packages/scotch/package.py
Labels: new-version

#8713 Charm: more info about build targets
  var/spack/repos/builtin/packages/charm/package.py
Labels: update-package

#8714 Charm: set default backend to netlrts
  var/spack/repos/builtin/packages/charm/package.py
Labels: mpi, virtual-dependencies

#8715 aspera-cli: a new package.
  var/spack/repos/builtin/packages/aspera-cli/package.py
Labels: new-package

#8717 r: add memory profiling variant
  var/spack/repos/builtin/packages/r/package.py
Labels: variants

#8723 fftw: version bump
  var/spack/repos/builtin/packages/fftw/package.py
Labels: new-version

#8695 lammps: added v20180629
  var/spack/repos/builtin/packages/lammps/package.py
Labels: new-version

#8038 Package.installed now checks both the presence of prefix and a DB entry
  lib/spack/spack/package.py
  lib/spack/spack/test/data/packages.yaml
  lib/spack/spack/test/database.py
  var/spack/repos/builtin.mock/packages/externaltool/package.py
Labels: bug, external-packages, pkg-database

#8725 Confine the xlf_seacas.patch for trilinos to version 12.12.1
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: patch

#8726 py-pyqi: new package
  var/spack/repos/builtin/packages/py-pyqi/package.py
Labels: new-package

#8740 Add spack to PATH before calling spack in setup-env.csh
  share/spack/setup-env.csh
Labels: shell-support

#8743 openmpi: add c++ exceptions cfg option variant
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: mpi, variants

#8749 py-pkgconfig: Made nose dependency type=build,test instead of just ty…
  var/spack/repos/builtin/packages/py-pkgconfig/package.py
Labels: dependencies

#8748 py-snuggs: Added depends_on py-parsing. The build uses setuptools, wh…
  var/spack/repos/builtin/packages/py-snuggs/package.py
Labels: dependencies

#8750 py-pytest: Added dependency on py-setuptools-scm, as well as py-setup…
  var/spack/repos/builtin/packages/py-pytest/package.py
Labels: dependencies

#8738 New package: Verrou, a floating point error checker
  var/spack/repos/builtin/packages/verrou/package.py
Labels: new-package

#8759 nwchem: add link type to python dep
  var/spack/repos/builtin/packages/nwchem/package.py
Labels: dependencies, python

#8760 pycparser: add version 2.18
  var/spack/repos/builtin/packages/py-pycparser/package.py
Labels: new-version

#8761 Py-lark-parser: new package
  var/spack/repos/builtin/packages/py-lark-parser/package.py
Labels: new-package

#8762 Packaged iperf3
  var/spack/repos/builtin/packages/iperf3/package.py
Labels: new-package

#8765 Packaged iperf2
  var/spack/repos/builtin/packages/iperf2/package.py
Labels: new-package

#8744 r-qorts: Create new package.
  var/spack/repos/builtin/packages/qorts/QoRTs.sh
  var/spack/repos/builtin/packages/qorts/package.py
Labels: new-package

#8769 Add kealib 1.4.10
  var/spack/repos/builtin/packages/kealib/package.py
Labels: new-version

#8771 votca: add more deps
  var/spack/repos/builtin/packages/votca-csg/package.py
  var/spack/repos/builtin/packages/votca-tools/package.py
Labels: dependencies

#8774 bugfix: stage test no longer modifies ~/.spack/config.yaml
  lib/spack/spack/test/stage.py
Labels: bug, tests

#8776 add necessary dependence on lapack, and fix ld_flags for blas
  var/spack/repos/builtin/packages/moab/package.py
Labels: blas-lapack-scalapack, dependencies

#8770 Remove extra Scientific Linux docker build left after merge.
  share/spack/docker/spack_scilinux/Dockerfile
  share/spack/docker/spack_scilinux/handle-prompt.sh
  share/spack/docker/spack_scilinux/handle-ssh.sh
  share/spack/docker/spack_scilinux/modules.yaml
Labels: docker, update-package

#8764 Make read only source file writeable in perl before patch
  var/spack/repos/builtin/packages/perl/package.py
Labels: patch

#8747 Ncl update
  var/spack/repos/builtin/packages/ncl/package.py
Labels: fetching

#8680 fix to build libmatheval with guile@2.0:
  var/spack/repos/builtin/packages/libmatheval/guile-2.0.patch
  var/spack/repos/builtin/packages/libmatheval/guile-2.2.patch
  var/spack/repos/builtin/packages/libmatheval/package.py
Labels: patch

#8588 Augustus updated to version 3.3.1
  var/spack/repos/builtin/packages/augustus/package.py
Labels: new-version

#8524 libbeagle: add java dependency so jni hooks get built
  var/spack/repos/builtin/packages/libbeagle/package.py
Labels: dependencies, java, libraries

#8525 beast1: add libbeagle support
  var/spack/repos/builtin/packages/beast1/package.py
Labels: dependencies, variants

#8516 Trinity plugins
  var/spack/repos/builtin/packages/trinity/package.py
Labels: update-package

#8778 Test Spack on Python 3.7 as part of Travis CI
  .travis.yml
Labels: tests, travis

#8794 bugfix: `spack module -m` error message is correct with no `-m`
  lib/spack/spack/cmd/module.py
Labels: bug, commands, modules

#8779 core: make `spack.util.crypto` initialization less complicated
  lib/spack/spack/test/url_fetch.py
  lib/spack/spack/util/crypto.py
Labels: hashes, refactoring

#8798 Fix order of regexes reported by spack url summary
  lib/spack/spack/cmd/url.py
Labels: commands, python3, url-parsing

#8807 hypre: 'master' is branch - not a tag
  var/spack/repos/builtin/packages/hypre/package.py
Labels: xSDK

#8799 intel-tbb: Add variant to disable transactional memory.
  var/spack/repos/builtin/packages/intel-tbb/disable-tm.patch
  var/spack/repos/builtin/packages/intel-tbb/package.py
Labels: variants

#8810 readme: add our @spackpm Twitter handle
  README.md
Labels: documentation

#8809 mfem: mfem-3.3-3.4-petsc-3.9.patch is not needed for latest develop version
  var/spack/repos/builtin/packages/mfem/package.py
Labels: patch, xSDK

#8808 Add package DMTCP
  var/spack/repos/builtin/packages/dmtcp/package.py
Labels: new-package

#8796 papi: Update to 5.6.0 and fix build with %gcc@8
  var/spack/repos/builtin/packages/papi/package.py
Labels: new-version, patch

#8787 hmmer: added version 3.2.1 & updated URL
  var/spack/repos/builtin/packages/hmmer/package.py
Labels: fetching, new-version

#8782 Templight package
  var/spack/repos/builtin/packages/templight-tools/package.py
  var/spack/repos/builtin/packages/templight/develop-20180720.patch
  var/spack/repos/builtin/packages/templight/package.py
Labels: new-package

#8812 FTGL package workarounds
  var/spack/repos/builtin/packages/ftgl/package.py
  var/spack/repos/builtin/packages/ftgl/remove-extra-qualifier.diff
Labels: patch

#8795 halc: Create new package.
  var/spack/repos/builtin/packages/halc/package.py
Labels: new-package

#8788 hdf5: Fix build with %gcc@8
  var/spack/repos/builtin/packages/hdf5/package.py
Labels: patch

#8786 sz: new version 2.0.2.0
  var/spack/repos/builtin/packages/sz/package.py
Labels: new-version

#8801 Updated llvm to version 6.0.1. The previous 6.0.0 had an incorrectly …
  var/spack/repos/builtin/packages/llvm/package.py
  var/spack/repos/builtin/packages/py-numba/package.py
Labels: conflicts, new-version

#8466 py-numpy: Add C{,PLUS}_INCLUDE_PATH in modulefile
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: python

#8805 Fix shift warning on zsh
  share/spack/setup-env.sh
Labels: shell-support

#8814 Fixed a typo in the docs (the docker image to pull was wrong)
  lib/spack/docs/tutorial_modules.rst
Labels: documentation

#8683 Skip update check.
  var/spack/repos/builtin/packages/emboss/package.py
Labels: update-package

#8804 updated Tasmanian spack with latest options
  var/spack/repos/builtin/packages/tasmanian/package.py
Labels: dependencies, new-version, variants, xSDK

#8821 spec: `Spec.tree()` merges deptypes when only covering nodes
  lib/spack/spack/spec.py
  lib/spack/spack/test/cmd/spec.py
Labels: commands, dependencies, specs

#8687 Add extra_rpath paths into rpath commands for openmpi wrappers.
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: mpi, rpath
