Repository spack/spack, pull requests merged in 2018-06, with the labels that each got.

#8339 Use GitHub URL for pigz, supports > 1 release
  var/spack/repos/builtin/packages/pigz/package.py
Labels: new-version

#8337 Camellia: add version restriction for HDF5.
  var/spack/repos/builtin/packages/camellia/package.py
Labels: dependencies

#8328 subread: use compiler wrappers when compiling
  var/spack/repos/builtin/packages/subread/package.py
Labels: compilers, update-package

#8167 Adding nektar++ package
  var/spack/repos/builtin/packages/nektar/package.py
Labels: new-package

#8344 gmake: fix build with glibc 2.27
  var/spack/repos/builtin/packages/gmake/package.py
Labels: patch

#8338 make provision to install version 6.4.0beta.2
  var/spack/repos/builtin/packages/eospac/package.py
Labels: new-version

#8349 added py-cffi 1.11.5
  var/spack/repos/builtin/packages/py-cffi/package.py
Labels: new-version

#8084 Skip external specs when creating mirrors
  lib/spack/spack/cmd/mirror.py
  lib/spack/spack/test/cmd/mirror.py
Labels: fetching

#8351 added avro and avro_json_serializer python packages
  var/spack/repos/builtin/packages/py-avro-json-serializer/package.py
  var/spack/repos/builtin/packages/py-avro/package.py
Labels: new-package

#8341 Fix digest for abyss@1.5.2
  var/spack/repos/builtin/packages/abyss/package.py
Labels: checksum

#8352 legion: version bump
  var/spack/repos/builtin/packages/legion/package.py
Labels: new-version

#8316 add 2.17.1 for git
  var/spack/repos/builtin/packages/git/package.py
Labels: WIP, new-version

#8271 Fix package error message line numbers
  lib/spack/spack/build_environment.py
Labels: build-error, error-messages

#8277 Fix coloring of error messages containing '}' symbol
  lib/spack/llnl/util/tty/color.py
  lib/spack/spack/build_environment.py
  lib/spack/spack/util/log_parse.py
Labels: build-error, color, error-messages

#8270 Don't duplicate Python error messages
  lib/spack/spack/build_environment.py
Labels: error-messages

#8278 Less sensitive error detection in build logs
  lib/spack/external/ctest_log_parser.py
Labels: build-error, error-messages

#8304 pybind11: test functionality
  lib/spack/spack/build_systems/cmake.py
  var/spack/repos/builtin/packages/py-pybind11/package.py
Labels: cmake, tests, update-package

#7992 New package: clapack
  var/spack/repos/builtin/packages/clapack/package.py
Labels: new-package

#7993 New package: phast
  var/spack/repos/builtin/packages/phast/package.py
Labels: new-package

#8368 clean up version names
  var/spack/repos/builtin/packages/eospac/package.py
Labels: versions

#8369 libhio: added version 1.4.1.2
  var/spack/repos/builtin/packages/libhio/package.py
Labels: new-version

#8346 Preserve a few environment variables when loading modules before build
  lib/spack/spack/build_environment.py
  lib/spack/spack/environment.py
  lib/spack/spack/test/build_environment.py
  lib/spack/spack/test/environment.py
Labels: compilers

#8380 py-virtualenv: added version 16.0.0
  var/spack/repos/builtin/packages/py-virtualenv/package.py
Labels: new-version

#8377 Added py-pip 10.0.1 and py-setuptools 39.2.0
  var/spack/repos/builtin/packages/py-pip/package.py
  var/spack/repos/builtin/packages/py-setuptools/package.py
Labels: new-version

#8379 py-cython: added version 0.28.3
  var/spack/repos/builtin/packages/py-cython/package.py
Labels: new-version

#8381 py-sympy: added version 1.1.1
  var/spack/repos/builtin/packages/py-sympy/package.py
Labels: new-version

#8400 py-theano: added version 1.0.2
  var/spack/repos/builtin/packages/py-theano/package.py
Labels: new-version

#8399 py-scikit-learn: updated version and dependencies
  var/spack/repos/builtin/packages/py-numpy/package.py
  var/spack/repos/builtin/packages/py-scikit-learn/package.py
  var/spack/repos/builtin/packages/py-scipy/package.py
Labels: new-version

#8382 py-mpmath: added version 1.0.0
  var/spack/repos/builtin/packages/py-mpmath/package.py
Labels: new-version

#8375 add 1.4.13.4 for SZ
  var/spack/repos/builtin/packages/sz/package.py
Labels: new-version

#8370 r-splitstackshape: Create new package.
  var/spack/repos/builtin/packages/r-splitstackshape/package.py
Labels: new-package

#8363 Trilinos update
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: variants

#8403 ISAAC Server 1.3.3
  var/spack/repos/builtin/packages/isaac-server/package.py
Labels: new-version

#8404 numpy: nosetest
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: dependencies, tests, update-package

#8408 Fix ADIOS 1.13.1: Maxium SZ
  var/spack/repos/builtin/packages/adios/package.py
Labels: build-error, update-package

#8396 Add new package: prng
  var/spack/repos/builtin/packages/prng/package.py
  var/spack/repos/builtin/packages/prng/prng-3.0.2-fix-c99-inline-semantics.patch
  var/spack/repos/builtin/packages/prng/prng-3.0.2-shared.patch
Labels: new-package

#8395 Add new package: rngstreams
  var/spack/repos/builtin/packages/rngstreams/package.py
Labels: new-package

#8409 ADIOS: Serial API with Parallel Lib
  var/spack/repos/builtin/packages/adios/nompi.patch
  var/spack/repos/builtin/packages/adios/package.py
Labels: mpi, patch, update-package

#8411 libjpeg-turbo: updated checksums and added autoreconf for older versions
  var/spack/repos/builtin/packages/libjpeg-turbo/package.py
Labels: checksum

#8412 r-mitml: new package and its dependency r-jomo and r-pan
  var/spack/repos/builtin/packages/r-jomo/package.py
  var/spack/repos/builtin/packages/r-mitml/package.py
  var/spack/repos/builtin/packages/r-pan/package.py
Labels: new-package

#8414 new version SZ 1.4.13.5
  var/spack/repos/builtin/packages/sz/package.py
Labels: new-version

#8376 Add new package: davix
  var/spack/repos/builtin/packages/davix/davix-0.6.7-uuid.patch
  var/spack/repos/builtin/packages/davix/package.py
Labels: new-package

#8272 Fix bug where patches specified by dependents were not applied
  lib/spack/spack/package.py
  lib/spack/spack/test/packages.py
Labels: patch

#8406 add package py-cartopy and dependencies
  var/spack/repos/builtin/packages/py-cartopy/package.py
  var/spack/repos/builtin/packages/py-owslib/package.py
  var/spack/repos/builtin/packages/py-pyepsg/package.py
  var/spack/repos/builtin/packages/py-pyshp/package.py
  var/spack/repos/builtin/packages/py-shapely/package.py
Labels: new-package

#8330 openPMD-api: Update Dependencies
  var/spack/repos/builtin/packages/openpmd-api/package.py
Labels: new-version, update-package

#8416 Add new package: ftgl
  var/spack/repos/builtin/packages/ftgl/package.py
Labels: new-package

#8420 add version 5.4.5 to py-psutil
  var/spack/repos/builtin/packages/py-psutil/package.py
Labels: new-version

#8407 add commented test dependencies
  var/spack/repos/builtin/packages/esmf/package.py
  var/spack/repos/builtin/packages/flann/package.py
  var/spack/repos/builtin/packages/jsoncpp/package.py
  var/spack/repos/builtin/packages/libpipeline/package.py
  var/spack/repos/builtin/packages/lz4/package.py
  var/spack/repos/builtin/packages/openssl/package.py
  var/spack/repos/builtin/packages/py-brian2/package.py
  var/spack/repos/builtin/packages/py-elephant/package.py
  var/spack/repos/builtin/packages/py-fiscalyear/package.py
  var/spack/repos/builtin/packages/py-flake8/package.py
  var/spack/repos/builtin/packages/py-mako/package.py
  var/spack/repos/builtin/packages/py-matplotlib/package.py
  var/spack/repos/builtin/packages/py-mccabe/package.py
  var/spack/repos/builtin/packages/py-patsy/package.py
  var/spack/repos/builtin/packages/py-pkgconfig/package.py
  var/spack/repos/builtin/packages/py-psyclone/package.py
  var/spack/repos/builtin/packages/py-py2cairo/package.py
  var/spack/repos/builtin/packages/py-pynn/package.py
  var/spack/repos/builtin/packages/py-qtconsole/package.py
  var/spack/repos/builtin/packages/py-requests/package.py
  var/spack/repos/builtin/packages/py-sphinx/package.py
  var/spack/repos/builtin/packages/py-sphinxcontrib-websupport/package.py
  var/spack/repos/builtin/packages/py-theano/package.py
  var/spack/repos/builtin/packages/rr/package.py
  var/spack/repos/builtin/packages/wget/package.py
Labels: dependencies, tests

#8373 googletest: add a shared variant for all supported versions
  var/spack/repos/builtin/packages/googletest/package.py
Labels: update-package, variants

#8417 fix qt@5.8: build on systems without wayland
  var/spack/repos/builtin/packages/qt/package.py
Labels: X11

#8418 add sqlitebrowser
  var/spack/repos/builtin/packages/sqlite/package.py
  var/spack/repos/builtin/packages/sqlitebrowser/package.py
Labels: new-package, resources, variants

#8419 add python cache removal to `spack clean`
  lib/spack/spack/cmd/clean.py
Labels: commands

#8126 Fermi Science Tools: New package
  var/spack/repos/builtin/packages/fermisciencetools/package.py
Labels: new-package

#8365 pbbam: new package
  var/spack/repos/builtin/packages/pbbam/package.py
Labels: new-package

#7932 Update intel-tbb to 2018.3 and improve version URLs, dependencies and patching.
  var/spack/repos/builtin/packages/intel-tbb/package.py
  var/spack/repos/builtin/packages/intel-tbb/tbb_cmakeConfig.patch
  var/spack/repos/builtin/packages/intel-tbb/tbb_gcc_rtm_key.patch
Labels: new-version

#8424 Added elasticsearch
  var/spack/repos/builtin/packages/elasticsearch/package.py
Labels: new-package

#8283 GDL and missing dependencies
  var/spack/repos/builtin/packages/gdl/package.py
  var/spack/repos/builtin/packages/graphicsmagick/package.py
  var/spack/repos/builtin/packages/plplot/package.py
  var/spack/repos/builtin/packages/pslib/package.py
Labels: new-package

#8254 new version scotch@6.0.5a
  var/spack/repos/builtin/packages/scotch/metis-headers-6.0.4.patch
  var/spack/repos/builtin/packages/scotch/package.py
Labels: new-version

#8153 tcl: Install sources
  var/spack/repos/builtin/packages/tcl/package.py
Labels: bug, update-package

#8423 r-mice: new package
  var/spack/repos/builtin/packages/r-mice/package.py
Labels: new-package

#7601 Select compiler standard for Boost build with associated enhancements to compiler flag handling.
  lib/spack/docs/packaging_guide.rst
  lib/spack/spack/compiler.py
  lib/spack/spack/compilers/clang.py
  lib/spack/spack/compilers/gcc.py
  lib/spack/spack/compilers/intel.py
  lib/spack/spack/compilers/xl.py
  lib/spack/spack/compilers/xl_r.py
  lib/spack/spack/test/compilers.py
  var/spack/repos/builtin/packages/boost/package.py
  var/spack/repos/builtin/packages/clingo/package.py
Labels: compilers

#8360 Git's gitk needs TK's wish to be found in PATH
  var/spack/repos/builtin/packages/git/package.py
Labels: dependencies, git

#8435 Bump miniconda to 4.5.4.
  var/spack/repos/builtin/packages/miniconda2/package.py
  var/spack/repos/builtin/packages/miniconda3/package.py
Labels: new-version

#8434 A new package: axel.
  var/spack/repos/builtin/packages/axel/package.py
Labels: new-package

#8433 arpack-ng: add 3.6.0
  var/spack/repos/builtin/packages/arpack-ng/package.py
Labels: new-version

#8438 boost: fix cxxstd=default
  var/spack/repos/builtin/packages/boost/package.py
Labels: bug

#8439 Fixed compilation of quantum-espresso
  var/spack/repos/builtin/packages/quantum-espresso/package.py
Labels: update-package

#8442 superlu_dist: fix 'spack install superlu-dist@develop'
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: xSDK

#8447 Package: ISAAC 1.4.0
  var/spack/repos/builtin/packages/isaac-server/package.py
  var/spack/repos/builtin/packages/isaac/package.py
Labels: new-version

#8429 Fix list_urls missing trailing slash
  lib/spack/spack/util/web.py
Labels: fetching, url-parsing

#8454 [GLVis] Add new version: 3.4
  var/spack/repos/builtin/packages/glvis/package.py
Labels: new-version

#8457 petsc: 'master' is a branch - not a tag - so fix it accordingly.
  var/spack/repos/builtin/packages/petsc/package.py
Labels: xSDK

#8456 new package: dealii-parameter-gui
  var/spack/repos/builtin/packages/dealii-parameter-gui/package.py
Labels: new-package

#8448 trilinos: use 'branch' option to specify branches such as develop/mas…
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: xSDK

#8366 blasr-libcpp: new package
  var/spack/repos/builtin/packages/blasr-libcpp/package.py
Labels: new-package

#8446 openfoam-com: added submodule flag to git fetch
  var/spack/repos/builtin/packages/openfoam-com/package.py
Labels: git

#8336 gplates: new package
  var/spack/repos/builtin/packages/gdal/package.py
  var/spack/repos/builtin/packages/gplates/package.py
  var/spack/repos/builtin/packages/json-c/package.py
Labels: new-package, new-version

#8464 Add: MPILander
  var/spack/repos/builtin/packages/mpilander/package.py
Labels: mpi, new-package

#8463 ADIOS: Revert Patch
  var/spack/repos/builtin/packages/adios/nompi.patch
  var/spack/repos/builtin/packages/adios/package.py
Labels: mpi, patch, refactoring

#8459 new package: ASPECT
  var/spack/repos/builtin/packages/aspect/package.py
Labels: new-package

#8455 Add the ability to build the dyninst master branch under the develop version name.
  var/spack/repos/builtin/packages/dyninst/package.py
  var/spack/repos/builtin/packages/elfutils/package.py
  var/spack/repos/builtin/packages/libdwarf/package.py
Labels: libraries, new-version

#8453 [MFEM] New version: 3.4
  var/spack/repos/builtin/packages/mfem/mfem-3.3-3.4-petsc-3.9.patch
  var/spack/repos/builtin/packages/mfem/mfem-3.4.patch
  var/spack/repos/builtin/packages/mfem/package.py
  var/spack/repos/builtin/packages/mfem/test_builds.sh
Labels: new-version

#8462 xsdk: update xsdk@develop dependency on mfem@develop
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: xSDK

#8440 xsdk: fix 'ChecksumError: md5 checksum failed'
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: xSDK

#8313 Remove definition of dirent for the PGI compiler.
  var/spack/repos/builtin/packages/boost/boost_1.67.0_pgi.patch
  var/spack/repos/builtin/packages/boost/package.py
Labels: patch, pgi

#8481 superlu-dist: add 5.3.0 and 5.4.0
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: new-version

#8480 slepc: add 3.9.1
  var/spack/repos/builtin/packages/slepc/package.py
Labels: new-version

#8479 petsc: add 3.9.1 and 3.9.2
  var/spack/repos/builtin/packages/petsc/package.py
Labels: new-version

#8478 openblas: add 0.3.0
  var/spack/repos/builtin/packages/openblas/package.py
Labels: new-version

#8473 netgen should depend on zlib
  var/spack/repos/builtin/packages/netgen/package.py
Labels: dependencies

#8477 oce: add 0.18.3
  var/spack/repos/builtin/packages/oce/package.py
Labels: new-version

#8472 neovim: add version 0.3.0
  var/spack/repos/builtin/packages/neovim/package.py
Labels: new-version

#8471 A new package: megahit.
  var/spack/repos/builtin/packages/megahit/package.py
Labels: new-package

#8486 openssl: add new version 1.0.2o
  var/spack/repos/builtin/packages/openssl/package.py
Labels: new-version

#8485 [mfem] Add BLAS+LAPACK to the required dependencies of SuperLU_DIST
  var/spack/repos/builtin/packages/mfem/package.py
Labels: bug, build-error, linking, xSDK

#8487 geopm: Update to version 0.5.0
  var/spack/repos/builtin/packages/geopm/package.py
Labels: new-version

#8488 Add new likwid versions 4.3.1 and 4.3.2
  var/spack/repos/builtin/packages/likwid/package.py
Labels: new-version

#8482 Fix GDAL Python bindings and add import tests
  var/spack/repos/builtin/packages/gdal/package.py
Labels: dependencies, python, tests

#8494 Updates to SAMRAI
  var/spack/repos/builtin/packages/samrai/package.py
Labels: new-version

#8495 superlu_dist: 'master' is branch - not tag
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: xSDK

#8493 Adding Parallel NetCDF as explicit dependency to Trilinos
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: dependencies

#8496 docs: remove vendored sphinx_rtd_theme
  lib/spack/docs/_themes/sphinx_rtd_theme/__init__.py
  lib/spack/docs/_themes/sphinx_rtd_theme/breadcrumbs.html
  lib/spack/docs/_themes/sphinx_rtd_theme/footer.html
  lib/spack/docs/_themes/sphinx_rtd_theme/layout.html
  lib/spack/docs/_themes/sphinx_rtd_theme/layout_old.html
  lib/spack/docs/_themes/sphinx_rtd_theme/search.html
  lib/spack/docs/_themes/sphinx_rtd_theme/searchbox.html
  lib/spack/docs/_themes/sphinx_rtd_theme/static/css/badge_only.css
  lib/spack/docs/_themes/sphinx_rtd_theme/static/css/badge_only.css.map
  lib/spack/docs/_themes/sphinx_rtd_theme/static/css/theme.css
  lib/spack/docs/_themes/sphinx_rtd_theme/static/css/theme.css.map
  lib/spack/docs/_themes/sphinx_rtd_theme/static/fonts/FontAwesome.otf
  lib/spack/docs/_themes/sphinx_rtd_theme/static/fonts/Inconsolata-Bold.ttf
  lib/spack/docs/_themes/sphinx_rtd_theme/static/fonts/Inconsolata.ttf
  lib/spack/docs/_themes/sphinx_rtd_theme/static/fonts/Lato-Bold.ttf
  lib/spack/docs/_themes/sphinx_rtd_theme/static/fonts/Lato-Regular.ttf
  lib/spack/docs/_themes/sphinx_rtd_theme/static/fonts/RobotoSlab-Bold.ttf
  lib/spack/docs/_themes/sphinx_rtd_theme/static/fonts/RobotoSlab-Regular.ttf
  lib/spack/docs/_themes/sphinx_rtd_theme/static/fonts/fontawesome-webfont.eot
  lib/spack/docs/_themes/sphinx_rtd_theme/static/fonts/fontawesome-webfont.svg
  lib/spack/docs/_themes/sphinx_rtd_theme/static/fonts/fontawesome-webfont.ttf
  lib/spack/docs/_themes/sphinx_rtd_theme/static/fonts/fontawesome-webfont.woff
  lib/spack/docs/_themes/sphinx_rtd_theme/static/js/modernizr.min.js
  lib/spack/docs/_themes/sphinx_rtd_theme/static/js/theme.js
  lib/spack/docs/_themes/sphinx_rtd_theme/theme.conf
  lib/spack/docs/_themes/sphinx_rtd_theme/versions.html
  lib/spack/docs/conf.py
  lib/spack/docs/contribution_guide.rst
  lib/spack/docs/requirements.txt
Labels: documentation

#8468 Add changes to the Krell packages with version updates and ranges for the latest release.
  var/spack/repos/builtin/packages/cbtf-argonavis-gui/package.py
  var/spack/repos/builtin/packages/cbtf-argonavis/package.py
  var/spack/repos/builtin/packages/cbtf-krell/package.py
  var/spack/repos/builtin/packages/cbtf-lanl/package.py
  var/spack/repos/builtin/packages/cbtf/package.py
  var/spack/repos/builtin/packages/openspeedshop-utils/package.py
  var/spack/repos/builtin/packages/openspeedshop/package.py
Labels: dependencies

#8497 Add new versions for TAU and PDT package
  var/spack/repos/builtin/packages/pdt/package.py
  var/spack/repos/builtin/packages/tau/package.py
Labels: new-version

#8498 There's only one 'u' in "configuration"
  lib/spack/spack/dependency.py
Labels: documentation

#8502 Adding patch to Opencv (3.3.0-3.4.1) for fixing conflict between CUDA and OpenCV dnn header file
  var/spack/repos/builtin/packages/opencv/dnn_cuda.patch
  var/spack/repos/builtin/packages/opencv/package.py
Labels: patch

#8332 Albany: Add Albany package.
  var/spack/repos/builtin/packages/albany/package.py
Labels: new-package

#8501 samrai: update package for 3.12.0 and fix compilation bugs for earlier versions
  var/spack/repos/builtin/packages/samrai/package.py
Labels: dependencies

#8506 Percept requires googletest to be a static library.
  var/spack/repos/builtin/packages/percept/package.py
Labels: dependencies

#8500 Allow docs to be built with Sphinx 1.7.1+
  lib/spack/docs/conf.py
Labels: documentation

#8513 added albacore version 2.3.1
  var/spack/repos/builtin/packages/ont-albacore/package.py
Labels: new-version

#8514 Bump ZeroMQ from v4.2.2 to v4.2.5
  var/spack/repos/builtin/packages/zeromq/package.py
Labels: new-version

#8526 mitofates: needs perl at runtime
  var/spack/repos/builtin/packages/mitofates/package.py
Labels: dependencies

#8523 glib: Update to 2.56.1
  var/spack/repos/builtin/packages/glib/package.py
Labels: new-version

#8528 openPMD-api: update dependencies
  var/spack/repos/builtin/packages/openpmd-api/package.py
Labels: update-package

#8522 Add kealib 1.4.8
  var/spack/repos/builtin/packages/kealib/package.py
Labels: new-version

#8530 New package xxhash.
  var/spack/repos/builtin/packages/xxhash/package.py
Labels: new-package

#8519 poppler needs it test repo URL updated
  var/spack/repos/builtin/packages/poppler/package.py
Labels: resources, tests

#8509 dealii: add msg= to conflicts statements
  var/spack/repos/builtin/packages/dealii/package.py
Labels: error-messages, update-package

#8452 openmpi: add latest release 3.0.2
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: new-version

#8539 cmake: update package
  var/spack/repos/builtin/packages/cmake/package.py
Labels: new-version

#8538 use new valgrind repo
  var/spack/repos/builtin/packages/valgrind/package.py
Labels: update-package

#8490 Add tags for ECP applications that are in Spack.
  var/spack/repos/builtin/packages/chombo/package.py
  var/spack/repos/builtin/packages/lammps/package.py
  var/spack/repos/builtin/packages/latte/package.py
  var/spack/repos/builtin/packages/nalu/package.py
  var/spack/repos/builtin/packages/nek5000/package.py
  var/spack/repos/builtin/packages/nwchem/package.py
  var/spack/repos/builtin/packages/openmc/package.py
  var/spack/repos/builtin/packages/parsplice/package.py
  var/spack/repos/builtin/packages/qmcpack/package.py
Labels: ecp

#8512 elpa: add 2018.05.001.rc1 and 2017.11.001
  var/spack/repos/builtin/packages/elpa/package.py
Labels: new-version

#8548 added ReMPI version 1.1.0
  var/spack/repos/builtin/packages/rempi/package.py
Labels: new-version

#8551 silo: Make silo use AutotoolsPackage
  var/spack/repos/builtin/packages/silo/package.py
Labels: autotools

#8517 New package ncbi-magicblast
  var/spack/repos/builtin/packages/ncbi-magicblast/package.py
Labels: new-package

#8547 Updating py-pillow with change in checksum for version 5.1.0.
  var/spack/repos/builtin/packages/py-pillow/package.py
Labels: checksum

#8505 Package/grass
  var/spack/repos/builtin/packages/grass/package.py
Labels: new-package

#8511 Fix version detection for gcc@8
  lib/spack/spack/compilers/gcc.py
Labels: compilers, gcc

#8521 Packages/kokkos
  var/spack/repos/builtin/packages/kokkos/package.py
Labels: new-version

#8540 Fix gcc@5.5.0 on OS X 10.13.5
  var/spack/repos/builtin/packages/gcc/darwin/headers-10.13-fix.patch
  var/spack/repos/builtin/packages/gcc/package.py
Labels: gcc, macOS

#8559 Fix m4 on OS X highsierra (allows nettle to build)
  var/spack/repos/builtin/packages/m4/package.py
  var/spack/repos/builtin/packages/m4/secure_snprintf.patch
Labels: patch

#8555 xsdk: update xsdk@develop to use plasma@develop
  var/spack/repos/builtin/packages/plasma/package.py
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: xSDK

#8508 Balay/petsc remove boost dependency
  var/spack/repos/builtin/packages/ceed/package.py
  var/spack/repos/builtin/packages/mfem/test_builds.sh
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: xSDK

#8556 help: add `spack -H` shortcut for `spack help --all`
  lib/spack/spack/main.py
Labels: commands, documentation

#8561 sowing: update to version used by current petsc -i.e 1.1.25-p1
  var/spack/repos/builtin/packages/sowing/package.py
Labels: new-version, xSDK

#7586 Move templates to be under the share directory by default.
  etc/spack/defaults/config.yaml
  lib/spack/docs/module_file_support.rst
  lib/spack/docs/tutorial_modules.rst
  lib/spack/spack/test/data/config.yaml
  share/spack/templates/modules/modulefile.dk
  share/spack/templates/modules/modulefile.lua
  share/spack/templates/modules/modulefile.tcl
  share/spack/templates/reports/cdash/Build.xml
  share/spack/templates/reports/cdash/Configure.xml
  share/spack/templates/reports/cdash/Site.xml
  share/spack/templates/reports/cdash/Update.xml
  share/spack/templates/reports/junit.xml
Labels: configuration, defaults

#8562 coreutils: add version 8.29
  var/spack/repos/builtin/packages/coreutils/package.py
Labels: new-version

#8563 refactor: move issue_template.md to .github directory
  .github/issue_template.md
Labels: refactoring

#8566 A new perl package: perl-io-compress.
  var/spack/repos/builtin/packages/perl-compress-raw-bzip2/package.py
  var/spack/repos/builtin/packages/perl-compress-raw-zlib/package.py
  var/spack/repos/builtin/packages/perl-io-compress/package.py
Labels: new-package

#8564 HiC-pro depends on python+ucs4.
  var/spack/repos/builtin/packages/hic-pro/package.py
Labels: variants

#8569 refactor: move top-level testing files to lib/spack/spack/test
  conftest.py
  lib/spack/spack/cmd/test.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/pytest.ini
Labels: tests

#8422 Add Dockerfile for Scientific Linux 7 (RHEL7 recompile)
  share/spack/docker/docker-compose.yml
  share/spack/docker/spack_scilinux/Dockerfile
  share/spack/docker/spack_scilinux/handle-prompt.sh
  share/spack/docker/spack_scilinux/handle-ssh.sh
  share/spack/docker/spack_scilinux/modules.yaml
Labels: docker

#8573 bugfix: fix macos incompatibility in lock test
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/test/cmd/debug.py
  lib/spack/spack/test/llnl/util/lock.py
Labels: bug, locking, macOS, travis

#8441 Docker dedupe
  share/spack/docker/build/arch.dockerfile
  share/spack/docker/build/centos.dockerfile
  share/spack/docker/build/common/handle-prompt.sh
  share/spack/docker/build/common/handle-ssh.sh
  share/spack/docker/build/common/modules.yaml
  share/spack/docker/build/fedora.dockerfile
  share/spack/docker/build/opensuse.dockerfile
  share/spack/docker/build/scilinux.dockerfile
  share/spack/docker/build/ubuntu.dockerfile
  share/spack/docker/docker-compose.yml
  share/spack/docker/spack_arch/handle-prompt.sh
  share/spack/docker/spack_centos/handle-ssh.sh
  share/spack/docker/spack_centos/modules.yaml
  share/spack/docker/spack_fedora/handle-prompt.sh
  share/spack/docker/spack_fedora/handle-ssh.sh
  share/spack/docker/spack_fedora/modules.yaml
  share/spack/docker/spack_opensuse/handle-prompt.sh
  share/spack/docker/spack_opensuse/handle-ssh.sh
  share/spack/docker/spack_opensuse/modules.yaml
  share/spack/docker/spack_ubuntu/handle-prompt.sh
  share/spack/docker/spack_ubuntu/handle-ssh.sh
  share/spack/docker/spack_ubuntu/modules.yaml
Labels: containers, docker, don't-merge-yet

#8553 Add py-imageio for python3
  var/spack/repos/builtin/packages/py-imageio/package.py
Labels: new-package

#8577 Add version 3.904 of verilator
  var/spack/repos/builtin/packages/verilator/package.py
Labels: new-version

#8584 pumi: add fortran variant
  var/spack/repos/builtin/packages/pumi/package.py
Labels: variants

#8578 Add package tcl-itcl3
  var/spack/repos/builtin/packages/tcl-itcl/package.py
Labels: new-package
