Repository spack/spack, pull requests merged in 2019-06, with the labels that each got.

#11595 mesa: Revert updated meson build and restore autotools build
  var/spack/repos/builtin/packages/mesa/autotools-x11-nodri.patch
  var/spack/repos/builtin/packages/mesa/glproto-mr806.patch
  var/spack/repos/builtin/packages/mesa/meson-expose-glapi-through-osmesa.patch
  var/spack/repos/builtin/packages/mesa/package.py
Labels: opengl

#11626 Add Google Benchmark version 1.5.0
  var/spack/repos/builtin/packages/benchmark/package.py
Labels: new-version

#11618 add C standard flags to compiler classes
  lib/spack/spack/compiler.py
  lib/spack/spack/compilers/arm.py
  lib/spack/spack/compilers/cce.py
  lib/spack/spack/compilers/clang.py
  lib/spack/spack/compilers/gcc.py
  lib/spack/spack/compilers/intel.py
  lib/spack/spack/compilers/xl.py
Labels: compilers

#11632 clang: fix some error messages for C/C++ flags
  lib/spack/spack/compilers/clang.py
Labels: compilers

#11638 lammps: added v20190605
  var/spack/repos/builtin/packages/lammps/package.py
Labels: new-version

#11611 nettle: fix broken build
  var/spack/repos/builtin/packages/nettle/package.py
Labels: build-error

#11637 Package sanity tests need to be able to find packages in repos other
  lib/spack/spack/test/package_sanity.py
Labels: repos, tests

#11648 bugfix: lua-luafilesystem package should use stage.source_path
  var/spack/repos/builtin/packages/lua-luafilesystem/package.py
Labels: stage, update-package

#11647 bugfix: StageComposite must include the `expanded` property`
  lib/spack/spack/stage.py
Labels: arm, stage

#11599 added tix package and python variant for tix
  var/spack/repos/builtin/packages/python/package.py
  var/spack/repos/builtin/packages/tcl/package.py
  var/spack/repos/builtin/packages/tix/package.py
  var/spack/repos/builtin/packages/tk/package.py
Labels: dependencies, new-package, python, variants

#11651 commands: remove unused `spack list --format=rst`
  lib/spack/spack/cmd/list.py
  lib/spack/spack/test/cmd/list.py
Labels: commands, documentation

#10190 Compiler search uses a pool of workers
  lib/spack/llnl/util/filesystem.py
  lib/spack/llnl/util/multiproc.py
  lib/spack/llnl/util/tty/__init__.py
  lib/spack/llnl/util/tty/colify.py
  lib/spack/llnl/util/tty/color.py
  lib/spack/llnl/util/tty/log.py
  lib/spack/spack/architecture.py
  lib/spack/spack/cmd/compiler.py
  lib/spack/spack/compiler.py
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/operating_systems/cnl.py
  lib/spack/spack/operating_systems/cray_frontend.py
  lib/spack/spack/package.py
  lib/spack/spack/test/architecture.py
  lib/spack/spack/test/cmd/release_jobs.py
  lib/spack/spack/test/cmd/test_compiler_cmd.py
  lib/spack/spack/test/compilers.py
Labels: compilers, performance, refactoring, tests, travis

#11652 spack list: format version_json
  lib/spack/spack/cmd/list.py
  lib/spack/spack/test/cmd/list.py
  lib/spack/spack/test/versions.py
  lib/spack/spack/version.py
Labels: commands

#11609 Add ADIOS2 option to Trilinos
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: dependencies, update-package

#11633 fix qt build on gcc8.3
  var/spack/repos/builtin/packages/qt/package.py
  var/spack/repos/builtin/packages/qt/qt4-gcc8.3-asm-volatile-fix.patch
  var/spack/repos/builtin/packages/qt/qt5-gcc8.3-asm-volatile-fix.patch
Labels: build-error, gcc, hotfix, patch, qt, update-package, workaround

#11594 Don't apply build-dependency constraints for installed packages
  lib/spack/spack/spec.py
  lib/spack/spack/test/directory_layout.py
  lib/spack/spack/test/spec_dag.py
Labels: concretization

#11664 tests: restore `spack spec mpileaks` for Python 2
  share/spack/qa/run-unit-tests
Labels: compilers, tests, travis

#11623 dateutils: new package
  var/spack/repos/builtin/packages/dateutils/package.py
Labels: new-package

#11646 CMake ssl fixes
  var/spack/repos/builtin/packages/cmake/package.py
Labels: dependencies, variants

#11665 CD: Package Index
  share/spack/packages/Dockerfile
  share/spack/packages/build-image.sh
  share/spack/packages/push-image.sh
  share/spack/packages/split.sh
  share/spack/qa/run-docker-tests
Labels: docker, documentation

#11485 ParaView and Catalyst use python3.
  var/spack/repos/builtin/packages/catalyst/package.py
  var/spack/repos/builtin/packages/paraview/package.py
Labels: dependencies, new-version, python3

#11629 ninja{-fortran}: make pkgs nonvirtual (fix #11628)
  etc/spack/defaults/packages.yaml
  var/spack/repos/builtin/packages/ninja-fortran/package.py
  var/spack/repos/builtin/packages/ninja/package.py
Labels: virtual-dependencies

#11635 Add extra logic for C std flags on PGI, XL, and Cray
  lib/spack/spack/compilers/cce.py
  lib/spack/spack/compilers/pgi.py
  lib/spack/spack/compilers/xl.py
Labels: compilers

#11657 new python package/py-typesentry
  var/spack/repos/builtin/packages/py-typesentry/package.py
Labels: new-package, python

#11600 Add additional common C++ and Fortran header file extensions
  lib/spack/llnl/util/filesystem.py
Labels: headers

#11667 warpx: only allow master branch, and fix build on darwin
  var/spack/repos/builtin/packages/warpx/package.py
Labels: update-package

#11683 Compiler find looks again into PATH by default
  lib/spack/spack/cmd/compiler.py
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/test/cmd/compiler_command.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/relocate.py
Labels: bug, compilers

#11661 Added check of `expanded` StageComposite property
  lib/spack/spack/test/cmd/location.py
  lib/spack/spack/test/stage.py
Labels: stage, tests

#11471 add charliecloud-0.9.10
  var/spack/repos/builtin/packages/charliecloud/package.py
Labels: new-version

#11684 swift-t: New release packages for 1.4.3
  var/spack/repos/builtin/packages/adlbx/package.py
  var/spack/repos/builtin/packages/exmcutils/package.py
  var/spack/repos/builtin/packages/stc/package.py
  var/spack/repos/builtin/packages/turbine/package.py
Labels: new-version

#11709 scons: add version 3.0.5
  var/spack/repos/builtin/packages/scons/package.py
Labels: new-version

#11696 montage: new package at 6.0
  var/spack/repos/builtin/packages/montage/package.py
Labels: new-package

#11710 r3d: add version 2019-04-24
  var/spack/repos/builtin/packages/r3d/package.py
Labels: new-version

#11705 new package: mutationpp
  var/spack/repos/builtin/packages/mutationpp/package.py
Labels: new-package

#11713 pybind11: v2.3.0
  var/spack/repos/builtin/packages/py-pybind11/package.py
Labels: new-version

#11715 docs: fix config tutorial
  lib/spack/docs/tutorial_configuration.rst
Labels: configuration, documentation

#11712 Fix latest HPL for MKL use
  var/spack/repos/builtin/packages/hpl/package.py
Labels: blas-lapack-scalapack

#11681 Updates to poppler to get pdf2svg working
  var/spack/repos/builtin/packages/pdf2svg/package.py
  var/spack/repos/builtin/packages/poppler/package.py
Labels: dependencies, new-version

#11741 Add intel 19.0.4
  var/spack/repos/builtin/packages/intel-mpi/package.py
  var/spack/repos/builtin/packages/intel-parallel-studio/package.py
  var/spack/repos/builtin/packages/intel/package.py
Labels: intel, new-version

#11716 Add py-aenum package
  var/spack/repos/builtin/packages/py-aenum/package.py
Labels: new-package

#11717 Rename py-dateutil -> py-python-dateutil
  var/spack/repos/builtin/packages/ont-albacore/package.py
  var/spack/repos/builtin/packages/py-bokeh/package.py
  var/spack/repos/builtin/packages/py-csvkit/package.py
  var/spack/repos/builtin/packages/py-dateutil/package.py
  var/spack/repos/builtin/packages/py-jupyterhub/package.py
  var/spack/repos/builtin/packages/py-luigi/package.py
  var/spack/repos/builtin/packages/py-matplotlib/package.py
  var/spack/repos/builtin/packages/py-openpmd-validator/package.py
  var/spack/repos/builtin/packages/py-owslib/package.py
  var/spack/repos/builtin/packages/py-pandas/package.py
  var/spack/repos/builtin/packages/py-pydv/package.py
  var/spack/repos/builtin/packages/py-python-dateutil/package.py
Labels: update-package

#11718 Add new package py-freezegun
  var/spack/repos/builtin/packages/py-freezegun/package.py
Labels: new-package

#11719 Add new package py-jmespath
  var/spack/repos/builtin/packages/py-jmespath/package.py
Labels: new-package

#11720 Add new package py-botocore
  var/spack/repos/builtin/packages/py-botocore/package.py
Labels: new-package

#11721 Add new package py-s3transfer
  var/spack/repos/builtin/packages/py-s3transfer/package.py
Labels: new-package

#11722 Add new package py-boto3
  var/spack/repos/builtin/packages/py-boto3/package.py
Labels: new-package

#11723 Add HDF 4.2.14
  var/spack/repos/builtin/packages/hdf/package.py
Labels: new-version

#11724 Update URL for older version of jackcess
  var/spack/repos/builtin/packages/jackcess/package.py
Labels: update-package

#11725 Add libjpeg-turbo 2.0.2
  var/spack/repos/builtin/packages/libjpeg-turbo/package.py
Labels: new-version

#11726 Add py-numpy 1.16.4
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: new-version

#11727 Add py-cligj 0.5.0
  var/spack/repos/builtin/packages/py-cligj/package.py
Labels: new-version

#11728 Add openjpeg 2.3.1
  var/spack/repos/builtin/packages/openjpeg/package.py
Labels: new-version

#11729 Add nasm 2.14.02
  var/spack/repos/builtin/packages/nasm/package.py
Labels: new-version

#11732 Add libtiff 4.0.10
  var/spack/repos/builtin/packages/libtiff/package.py
Labels: new-version

#11737 Add py-geopandas 0.5.0
  var/spack/repos/builtin/packages/py-geopandas/package.py
Labels: new-version

#11742 docs: update tutorial page for ISC19 tutorial
  lib/spack/docs/tutorial.rst
Labels: documentation

#11743 cowsay: new package
  var/spack/repos/builtin/packages/cowsay/package.py
Labels: new-package, singularity

#11744 openPMD-api: pybind11>=2.3.0
  var/spack/repos/builtin/packages/openpmd-api/package.py
Labels: update-package

#11702 docs: updates for `stage.source_path`
  lib/spack/docs/packaging_guide.rst
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/stage.py
Labels: WIP

#11701 tests/bugfix: Use config fixture for stage tests
  lib/spack/spack/stage.py
  lib/spack/spack/test/stage.py
Labels: tests

#11707 Fix condition to enable mpi4py.
  var/spack/repos/builtin/packages/catalyst/package.py
  var/spack/repos/builtin/packages/paraview/package.py
Labels: mpi, python, update-package

#11748 claw: Add version 1.2.2 and 1.2.3 to the package
  var/spack/repos/builtin/packages/claw/package.py
Labels: new-version

#11587 Remove version from py-mpi4py
  var/spack/repos/builtin/packages/ascent/package.py
Labels: python3

#11753 Restrict ibmisc to proj@:4
  var/spack/repos/builtin/packages/ibmisc/package.py
Labels: dependencies

#11756 Add Go@1.12.[5,6] and 1.11.[10,11]
  var/spack/repos/builtin/packages/go/package.py
Labels: new-version

#11754 Restrict pism to proj@:4
  var/spack/repos/builtin/packages/pism/package.py
Labels: dependencies

#11735 Add py-pyproj 2.2.0
  var/spack/repos/builtin/packages/py-pyproj/package.py
Labels: new-version

#11750 Libmesh updates
  var/spack/repos/builtin/packages/libmesh/package.py
Labels: new-version, variants

#11731 Add libgeotiff 1.5.1
  var/spack/repos/builtin/packages/libgeotiff/a76c686441398669422cb728411abd2dec358f7f.patch
  var/spack/repos/builtin/packages/libgeotiff/package.py
Labels: new-version, patch

#11736 Add py-fiona 1.8.6
  var/spack/repos/builtin/packages/py-fiona/package.py
Labels: new-version

#11733 Add GDAL 3.0.0
  var/spack/repos/builtin/packages/gdal/package.py
Labels: new-version

#11734 Add GEOS 3.7.2
  var/spack/repos/builtin/packages/geos/package.py
Labels: new-version

#11762 GRASS GIS does not yet support PROJ.6
  var/spack/repos/builtin/packages/grass/package.py
Labels: dependencies

#11763 Restrict magics to proj@:5
  var/spack/repos/builtin/packages/magics/package.py
Labels: dependencies

#11764 Specify which versions of PROJ work with MapServer
  var/spack/repos/builtin/packages/mapserver/package.py
Labels: dependencies

#11765 py-cartopy does not yet support PROJ.6
  var/spack/repos/builtin/packages/py-cartopy/package.py
Labels: dependencies

#11768 PROJ.6 not yet supported in SAGA-GIS
  var/spack/repos/builtin/packages/saga-gis/package.py
Labels: dependencies

#11730 Add PROJ.6
  var/spack/repos/builtin/packages/proj/package.py
Labels: new-version

#11766 r-rgdal does not yet support PROJ.6
  var/spack/repos/builtin/packages/r-rgdal/package.py
Labels: dependencies

#11752 Restrict libspatialite to proj@:5'
  var/spack/repos/builtin/packages/libspatialite/package.py
Labels: dependencies

#11770 r3d: add version 2018-01-07
  var/spack/repos/builtin/packages/r3d/package.py
Labels: new-version

#11749 Rename build.out to build.txt
  lib/spack/spack/directory_layout.py
  lib/spack/spack/package.py
  lib/spack/spack/test/cmd/install.py
Labels: reporting

#11755 Ensure proper gopath set for rclone.
  var/spack/repos/builtin/packages/rclone/package.py
Labels: build-environment

#11606 A few more ACTS releases that I forgot in my last update
  var/spack/repos/builtin/packages/acts-core/package.py
Labels: new-version, versions

#11758 Add CDO 1.9.7.1
  var/spack/repos/builtin/packages/cdo/package.py
Labels: new-version

#11739 Add py-shapely 1.6.4.post2
  var/spack/repos/builtin/packages/py-shapely/package.py
Labels: new-version

#11738 Add py-rasterio 1.0.24
  var/spack/repos/builtin/packages/py-rasterio/package.py
Labels: new-version

#11761 Restrict gplates to proj@:5
  var/spack/repos/builtin/packages/gplates/package.py
Labels: dependencies

#11759 Added Cinch Spackage
  var/spack/repos/builtin/packages/cinch/package.py
  var/spack/repos/builtin/packages/flecsi/package.py
Labels: new-package

#11574 xtensor: 0.20.7
  var/spack/repos/builtin/packages/xsimd/package.py
  var/spack/repos/builtin/packages/xtensor-python/package.py
  var/spack/repos/builtin/packages/xtensor/package.py
  var/spack/repos/builtin/packages/xtl/package.py
Labels: new-version

#11784 Testing bugfix: Spurious MacOS failures
  .travis.yml
Labels: macOS, travis

#11769 bugfix for regression test for 11678 on Darwin
  lib/spack/spack/test/cmd/compiler_command.py
Labels: macOS, tests

#11619 amber: new package at v16
  var/spack/repos/builtin/packages/amber/package.py
Labels: new-package

#11776 fixed spec dependence attribute writing for #11686
  lib/spack/spack/spec.py
Labels: bug

#11474 Add ArborX package
  var/spack/repos/builtin/packages/arborx/package.py
Labels: new-package

#11757 eospac: create sha256 sums
  var/spack/repos/builtin/packages/eospac/package.py
Labels: checksum

#11774 vtk, paraview, catalyst: Add maintainers
  var/spack/repos/builtin/packages/catalyst/package.py
  var/spack/repos/builtin/packages/paraview/package.py
  var/spack/repos/builtin/packages/vtk/package.py
Labels: maintainers, update-package

#11775 new package: fgsl: fortran interface to GSL
  var/spack/repos/builtin/packages/fgsl/package.py
Labels: new-package

#11779 osu-micro-benchmarks: update to 5.6.1
  var/spack/repos/builtin/packages/osu-micro-benchmarks/package.py
Labels: new-version

#11787 py-matplotlib: Fix dependencies in [2.1.0:3.0.0)
  var/spack/repos/builtin/packages/py-matplotlib/package.py
Labels: dependencies

#11790 netcdf-fortran: add checksummed version 4.4.5
  var/spack/repos/builtin/packages/netcdf-fortran/package.py
Labels: new-version

#11795 py-python-dateutil: Version 2.7.0 acquired dependency on setuptools-scm
  var/spack/repos/builtin/packages/py-python-dateutil/package.py
Labels: dependencies

#11760 Add GDL 0.9.9
  var/spack/repos/builtin/packages/gdl/package.py
Labels: new-version

#11800 subread: add 1.6.4
  var/spack/repos/builtin/packages/subread/package.py
Labels: new-version

#11703 Ignore pgcc-llvm and friends, default to pgcc
  lib/spack/spack/compilers/pgi.py
Labels: pgi

#11777 libnrm,nrm,py-jsonpatch,py-jsonpointer,py-warlock: New packages.
  var/spack/repos/builtin/packages/libnrm/package.py
  var/spack/repos/builtin/packages/nrm/package.py
  var/spack/repos/builtin/packages/py-jsonpatch/package.py
  var/spack/repos/builtin/packages/py-jsonpointer/package.py
  var/spack/repos/builtin/packages/py-warlock/package.py
Labels: new-package

#11794 converting to launchmon to autotools package
  var/spack/repos/builtin/packages/launchmon/package.py
Labels: autotools

#11656 new package/py-blessed
  var/spack/repos/builtin/packages/py-blessed/package.py
Labels: new-package

#11767 r-sf may not support PROJ.6
  var/spack/repos/builtin/packages/r-sf/package.py
Labels: dependencies

#11796 awscli: new package
  var/spack/repos/builtin/packages/awscli/package.py
Labels: new-package

#11829 hypre: superlu-dist-link-2.15.0.patch is now in hypre@develop
  var/spack/repos/builtin/packages/hypre/package.py
Labels: xSDK

#11818 clamav: add new package
  var/spack/repos/builtin/packages/clamav/package.py
Labels: new-package

#11650 rodinia: new package at 3.1
  var/spack/repos/builtin/packages/rodinia/package.py
Labels: cuda, new-package

#11799 fmt: Add version 5.3.0 with cxxstd variant support
  var/spack/repos/builtin/packages/fmt/fmt-attributes-cpp11_4.1.0.patch
  var/spack/repos/builtin/packages/fmt/fmt-no-export-cpp11flag_3.0.0.patch
  var/spack/repos/builtin/packages/fmt/fmt-use-cmake-cxx-standard_3.0.0.patch
  var/spack/repos/builtin/packages/fmt/package.py
Labels: new-version, patch, variants

#11677 phist can't be compiled with gcc older than 4.9.2
  var/spack/repos/builtin/packages/phist/package.py
Labels: conflicts

#11751 gnutls: workaround guile build error on macos
  var/spack/repos/builtin/packages/gnutls/package.py
Labels: build-error, macOS, variants

#11847 Rename py-pytables -> py-tables
  var/spack/repos/builtin/packages/partitionfinder/package.py
  var/spack/repos/builtin/packages/py-sfepy/package.py
  var/spack/repos/builtin/packages/py-tables/package.py
Labels: python, update-package

#11746 Add --frontend and --backend option to spack arch.
  lib/spack/spack/cmd/arch.py
  lib/spack/spack/test/cmd/arch.py
Labels: commands, platform-support

#11857 petsc: add version 3.11.3
  var/spack/repos/builtin/packages/petsc/package.py
Labels: new-version

#11866 Update openfoam
  var/spack/repos/builtin/packages/openfoam-com/package.py
Labels: new-version

#11856 bml: add v1.3.1
  var/spack/repos/builtin/packages/bml/package.py
Labels: don't-merge-yet, new-version

#11889 legion: added recent releases
  var/spack/repos/builtin/packages/legion/package.py
Labels: new-version

#11874 Allow uninstalling missing packages
  lib/spack/spack/directory_layout.py
  lib/spack/spack/test/install.py
Labels: regression, repos

#11586 setup-env.sh: send cd output to /dev/null when it affects Spack
  share/spack/setup-env.sh
Labels: shell-support

#11897 style: remove unnecessary NOQA exception
  lib/spack/spack/test/spec_semantics.py
Labels: flake8
