Repository spack/spack, pull requests merged in 2019-04, with the labels that each got.

#11063 cmake: add version 3.14.1
  var/spack/repos/builtin/packages/cmake/package.py
Labels: new-version

#11019 QMCPACK Minor MKL buglet.
  var/spack/repos/builtin/packages/qmcpack/package.py
Labels: blas-lapack-scalapack

#11077 adding package to install squashfs for singularity
  var/spack/repos/builtin/packages/squashfs/package.py
Labels: new-package

#10931 Added tests on compiler's version detection
  lib/spack/spack/compiler.py
  lib/spack/spack/compilers/arm.py
  lib/spack/spack/compilers/cce.py
  lib/spack/spack/compilers/clang.py
  lib/spack/spack/compilers/gcc.py
  lib/spack/spack/compilers/intel.py
  lib/spack/spack/compilers/nag.py
  lib/spack/spack/compilers/pgi.py
  lib/spack/spack/compilers/xl.py
  lib/spack/spack/compilers/xl_r.py
  lib/spack/spack/test/cmd/test_compiler_cmd.py
  lib/spack/spack/test/compilers.py
Labels: compilers, tests, versions

#11041 arpack-ng: add 3.7.0
  var/spack/repos/builtin/packages/arpack-ng/package.py
Labels: new-version

#11099 AMG: update version
  var/spack/repos/builtin/packages/amg/package.py
Labels: new-version

#11100 laghos: update dependencies
  var/spack/repos/builtin/packages/laghos/package.py
Labels: update-package

#11102 raja: add newer versions
  var/spack/repos/builtin/packages/raja/package.py
Labels: new-version

#11101 miniamr: add develop version and update release
  var/spack/repos/builtin/packages/miniamr/package.py
Labels: new-version

#11119 ecp-proxy-apps: update version
  var/spack/repos/builtin/packages/ecp-proxy-apps/package.py
Labels: new-version

#11124 netlib-scalapack: fix compatibility with mpi2 i.e openmpi-4
  var/spack/repos/builtin/packages/netlib-scalapack/mpi2-compatibility.patch
  var/spack/repos/builtin/packages/netlib-scalapack/package.py
Labels: build-error, dependencies

#11129 root: unset SPACK_INCLUDE_DIRS so the compiler wrapper does not prepend any -I flags.
  var/spack/repos/builtin/packages/root/package.py
Labels: hep

#11132 mumps: add version 5.1.2
  var/spack/repos/builtin/packages/mumps/gfortran8.patch
  var/spack/repos/builtin/packages/mumps/package.py
Labels: bug, new-version

#11126 openmpi: add 4.0.1
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: mpi, new-version

#11147 amrex: add sundials variant
  var/spack/repos/builtin/packages/amrex/package.py
Labels: xSDK

#11169 xsdk@develop: enable amrex@develop+sundials
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: xSDK

#11136 intel: optionally take gcc executable from cflags
  lib/spack/spack/build_systems/intel.py
Labels: intel

#11165 Updated Sphinx configuration
  .readthedocs.yml
  .travis.yml
  lib/spack/docs/requirements.txt
Labels: documentation, travis

#11179 petsc: add version 3.11.1
  var/spack/repos/builtin/packages/petsc/package.py
Labels: new-version

#11178 petsc: add fftw variant
  var/spack/repos/builtin/packages/petsc/package.py
Labels: variants

#11171 Limit to FASTMath-only packages
  var/spack/repos/builtin/packages/fastmath/package.py
Labels: dependencies

#11186 petsc4py: add verson 3.11.0
  var/spack/repos/builtin/packages/py-petsc4py/package.py
Labels: new-version

#11183 boost: add 1.70.0
  var/spack/repos/builtin/packages/boost/package.py
Labels: new-version

#11192 cmake: add version 3.14.2
  var/spack/repos/builtin/packages/cmake/package.py
Labels: new-version

#11190 add charliecloud 0.9.9
  var/spack/repos/builtin/packages/charliecloud/package.py
Labels: new-version

#11191 Add unit tests for Cray compiler detection
  lib/spack/spack/test/compilers.py
Labels: compilers, cray, tests

#11187 superlu-dist: fix issue with adding system blas/lapack - when MKL is explicitly specified
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: bug, xSDK

#11153 Update setup-env.sh
  share/spack/setup-env.sh
Labels: shell-support

#11201 Added openmpi 3.1.4
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: new-version

#11200 Added rust 1.34.0
  var/spack/repos/builtin/packages/rust/package.py
Labels: new-version

#11208 zstd: Add 1.4.0
  var/spack/repos/builtin/packages/zstd/package.py
Labels: new-version

#11207 lz4: Add 1.9.0
  var/spack/repos/builtin/packages/lz4/package.py
Labels: new-version

#11197 Add llvm 8.0.0
  var/spack/repos/builtin/packages/llvm/package.py
Labels: new-version

#11195 astral: add 5.6.1
  var/spack/repos/builtin/packages/astral/package.py
Labels: new-version

#11204 strumpack@3.1.1: add patch for Intel-19 build failure on cori
  var/spack/repos/builtin/packages/strumpack/intel-19-compile.patch
  var/spack/repos/builtin/packages/strumpack/package.py
Labels: build-error, xSDK

#11211 gromacs: added 2019 patch releases
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: new-version

#11180 cray: add ftn to Intel compiler env
  lib/spack/env/ftn
Labels: xSDK

#11216 mpifileutils v0.9.1
  var/spack/repos/builtin/packages/mpifileutils/package.py
Labels: new-version, update-package

#10903 [WIP] CEED 2.0
  var/spack/repos/builtin/packages/ceed/package.py
  var/spack/repos/builtin/packages/gslib/package.py
  var/spack/repos/builtin/packages/hpgmg/package.py
  var/spack/repos/builtin/packages/laghos/package.py
  var/spack/repos/builtin/packages/libceed/package.py
  var/spack/repos/builtin/packages/libceed/pkgconfig-version-0.4.diff
  var/spack/repos/builtin/packages/magma/magma-2.5.0-cmake.patch
  var/spack/repos/builtin/packages/magma/magma-2.5.0.patch
  var/spack/repos/builtin/packages/magma/package.py
  var/spack/repos/builtin/packages/mfem/package.py
  var/spack/repos/builtin/packages/nek5000/package.py
  var/spack/repos/builtin/packages/nekbone/package.py
  var/spack/repos/builtin/packages/nekcem/package.py
  var/spack/repos/builtin/packages/nektools/package.py
  var/spack/repos/builtin/packages/occa/package.py
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/petsc/xlf_fix-dup-petscfecreate.patch
  var/spack/repos/builtin/packages/suite-sparse/package.py
Labels: WIP

#10556 Features: Improve Spec format strings
  lib/spack/docs/config_yaml.rst
  lib/spack/docs/configuration.rst
  lib/spack/docs/module_file_support.rst
  lib/spack/docs/tutorial_modules.rst
  lib/spack/docs/workflows.rst
  lib/spack/spack/architecture.py
  lib/spack/spack/build_environment.py
  lib/spack/spack/cmd/__init__.py
  lib/spack/spack/cmd/arch.py
  lib/spack/spack/cmd/dependencies.py
  lib/spack/spack/cmd/dependents.py
  lib/spack/spack/cmd/mirror.py
  lib/spack/spack/cmd/modules/__init__.py
  lib/spack/spack/cmd/spec.py
  lib/spack/spack/cmd/uninstall.py
  lib/spack/spack/cmd/view.py
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/concretize.py
  lib/spack/spack/database.py
  lib/spack/spack/directory_layout.py
  lib/spack/spack/filesystem_view.py
  lib/spack/spack/mirror.py
  lib/spack/spack/modules/common.py
  lib/spack/spack/modules/lmod.py
  lib/spack/spack/package.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/architecture.py
  lib/spack/spack/test/cmd/view.py
  lib/spack/spack/test/data/modules/lmod/alter_environment.yaml
  lib/spack/spack/test/data/modules/tcl/alter_environment.yaml
  lib/spack/spack/test/data/modules/tcl/conflicts.yaml
  lib/spack/spack/test/data/modules/tcl/invalid_naming_scheme.yaml
  lib/spack/spack/test/data/modules/tcl/invalid_token_in_env_var_name.yaml
  lib/spack/spack/test/data/modules/tcl/wrong_conflicts.yaml
  lib/spack/spack/test/directory_layout.py
  lib/spack/spack/test/graph.py
  lib/spack/spack/test/modules/tcl.py
  lib/spack/spack/test/spec_semantics.py
  lib/spack/spack/test/spec_syntax.py
  var/spack/repos/builtin/packages/gcc/package.py
  var/spack/repos/builtin/packages/of-adios-write/package.py
  var/spack/repos/builtin/packages/of-precice/package.py
Labels: configuration, specs

#9621 new package: kitty terminal
  var/spack/repos/builtin/packages/dbus/package.py
  var/spack/repos/builtin/packages/harfbuzz/package.py
  var/spack/repos/builtin/packages/kitty/package.py
  var/spack/repos/builtin/packages/libx11/package.py
  var/spack/repos/builtin/packages/libxkbcommon/package.py
  var/spack/repos/builtin/packages/util-macros/package.py
  var/spack/repos/builtin/packages/xkeyboard-config/package.py
Labels: new-package

#11146 xsdk: add maintainers
  var/spack/repos/builtin/packages/alquimia/package.py
  var/spack/repos/builtin/packages/amrex/package.py
  var/spack/repos/builtin/packages/hypre/package.py
  var/spack/repos/builtin/packages/magma/package.py
  var/spack/repos/builtin/packages/omega-h/package.py
  var/spack/repos/builtin/packages/pflotran/package.py
  var/spack/repos/builtin/packages/plasma/package.py
  var/spack/repos/builtin/packages/pumi/package.py
  var/spack/repos/builtin/packages/slepc/package.py
  var/spack/repos/builtin/packages/strumpack/package.py
  var/spack/repos/builtin/packages/superlu-dist/package.py
  var/spack/repos/builtin/packages/tasmanian/package.py
  var/spack/repos/builtin/packages/trilinos/package.py
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: xSDK

#11221 Add Open MPI v3.0.4
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: new-version

#11181 Forbid the assignment of Repo and RepoPath super-namespace
  lib/spack/spack/repo.py
Labels: bug, refactoring

#11194 hpx: overhaul of the package recipe
  var/spack/repos/builtin/packages/hpx/package.py
Labels: update-package

#11188 petsc: fix suitesparse configure options.
  var/spack/repos/builtin/packages/petsc/package.py
Labels: bug, xSDK

#11231 libsodium: new version
  var/spack/repos/builtin/packages/libsodium/package.py
Labels: new-version

#11233 hypre: add @osborn9 to maintainers
  var/spack/repos/builtin/packages/hypre/package.py
Labels: xSDK

#11234 MUMPS: add version 5.2.0
  var/spack/repos/builtin/packages/mumps/package.py
Labels: new-version

#11237 mysql: fix #11226.
  var/spack/repos/builtin/packages/mysql/package.py
Labels: bug

#11239 dealii: add patch for build with boost@1.70.0
  var/spack/repos/builtin/packages/dealii/package.py
Labels: build-error, xSDK

#10997 move NoLibrariesError and NoHeadersError into spack/error.py
  lib/spack/spack/build_environment.py
  lib/spack/spack/error.py
  lib/spack/spack/spec.py
Labels: refactoring

#10906 Add latest version of mercury
  var/spack/repos/builtin/packages/fabtests/package.py
  var/spack/repos/builtin/packages/libfabric/package.py
  var/spack/repos/builtin/packages/mercury/package.py
Labels: dependencies, new-version, variants

#10704 Fix detection of LLVM-enabled PGI compilers
  lib/spack/spack/compilers/pgi.py
  lib/spack/spack/test/compilers.py
Labels: compilers, pgi, tests

#11245 spack edit: use execv instead of Executable
  lib/spack/spack/test/util/editor.py
  lib/spack/spack/util/editor.py
  lib/spack/spack/util/executable.py
Labels: commands

#11254 Update tutorial page with RIKEN tutorial slides.
  lib/spack/docs/tutorial.rst
Labels: docker, documentation

#11246 Install squashfs exe's into prefix.bin, not prefix
  var/spack/repos/builtin/packages/squashfs/package.py
Labels: bug

#11214 ftgl: update to 2.1.3-rc5.
  var/spack/repos/builtin/packages/ftgl/ftgl-2.1.3-rc5-ldflags.patch
  var/spack/repos/builtin/packages/ftgl/package.py
Labels: new-version

#11215 root: new versions, variants and patches
  var/spack/repos/builtin/packages/root/find-mysql.patch
  var/spack/repos/builtin/packages/root/format-stringbuf-size.patch
  var/spack/repos/builtin/packages/root/honor-unuran-switch.patch
  var/spack/repos/builtin/packages/root/package.py
  var/spack/repos/builtin/packages/root/root7-webgui.patch
Labels: new-version

#11293 vtk: Use the vendored libharu
  var/spack/repos/builtin/packages/vtk/package.py
Labels: dependencies

#11319 remove myself from maintainers of some packages
  var/spack/repos/builtin/packages/astyle/package.py
  var/spack/repos/builtin/packages/likwid/package.py
  var/spack/repos/builtin/packages/numdiff/package.py
  var/spack/repos/builtin/packages/tethex/package.py
Labels: documentation

#11311 git-lfs: add version 2.7.2
  var/spack/repos/builtin/packages/git-lfs/package.py
Labels: new-version

#11286 Masurca
  var/spack/repos/builtin/packages/masurca/package.py
Labels: new-version

#11252 Fix spack flake8 to use Travis's target as base when needed
  .travis.yml
  lib/spack/spack/cmd/flake8.py
Labels: travis
