Repository spack/spack, pull requests merged in 2019-09, with the labels that each got.

#12671 A new package: fastp.
  var/spack/repos/builtin/packages/fastp/package.py
Labels: new-package

#12581 Add Vesta recipe
  var/spack/repos/builtin/packages/vesta/package.py
Labels: new-package

#12674 IDBA: package does not need conflicts with other compilers
  var/spack/repos/builtin/packages/idba/package.py
Labels: conflicts

#12580 Install the newest version of ncbi-rmblastn
  var/spack/repos/builtin/packages/ncbi-rmblastn/isb-2.9.0+-rmblast-p1.patch
  var/spack/repos/builtin/packages/ncbi-rmblastn/package.py
Labels: new-version

#12675 Add fpocket
  var/spack/repos/builtin/packages/fpocket/package.py
Labels: new-package

#12683 icu4c: Add missing python dependency
  var/spack/repos/builtin/packages/icu4c/package.py
Labels: dependencies

#12679 Add XSSP recipe
  var/spack/repos/builtin/packages/xssp/package.py
Labels: new-package

#12678 esmf: Fix build with gcc@8:
  var/spack/repos/builtin/packages/esmf/cstddef.patch
  var/spack/repos/builtin/packages/esmf/gcc_darwin.patch
  var/spack/repos/builtin/packages/esmf/package.py
Labels: patch

#12681 ccs-qcd: new package
  var/spack/repos/builtin/packages/ccs-qcd/package.py
Labels: new-package

#12625 pmlib: new package
  var/spack/repos/builtin/packages/pmlib/fix_compiler_options.patch
  var/spack/repos/builtin/packages/pmlib/package.py
Labels: new-package

#12676 Boost/Change the method for analysis version
  var/spack/repos/builtin/packages/boost/fujitsu_version_analysis.patch
  var/spack/repos/builtin/packages/boost/package.py
Labels: fujitsu

#12686 perf: spack find -p now does only one DB transaction
  lib/spack/spack/cmd/__init__.py
Labels: commands, performance, pkg-database

#12634 new package: protobuf-c
  var/spack/repos/builtin/packages/protobuf-c/package.py
Labels: new-package

#12516 Resolve `build_stage` path issues.
  etc/spack/defaults/config.yaml
  lib/spack/docs/config_yaml.rst
  lib/spack/docs/configuration.rst
  lib/spack/docs/packaging_guide.rst
  lib/spack/docs/tutorial_configuration.rst
  lib/spack/spack/stage.py
  lib/spack/spack/test/data/config.yaml
  lib/spack/spack/test/stage.py
Labels: build-error

#10355 specs: better lookup by hash; allow references to missing dependency hashes
  lib/spack/spack/database.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/cmd/uninstall.py
Labels: pkg-database, specs

#12619 new package: liblas
  var/spack/repos/builtin/packages/liblas/package.py
Labels: new-package

#12627 Boost: fixed problem when requesting ~signals for boost >= 1.69
  var/spack/repos/builtin/packages/boost/package.py
Labels: update-package

#12688 Add tecplot recipe
  var/spack/repos/builtin/packages/tecplot/package.py
Labels: new-package

#12694 boost: add -c option to C/C++ compile commands for clang.
  var/spack/repos/builtin/packages/boost/clang-linux_add_option.patch
  var/spack/repos/builtin/packages/boost/clang-linux_add_option2.patch
  var/spack/repos/builtin/packages/boost/package.py
Labels: clang, patch

#12700 Add gams recipe
  var/spack/repos/builtin/packages/gams/package.py
Labels: new-package

#12513 Improve mock_archive versatility; Remove unwanted ALLOWED_ARCHIVE_TYPES.
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/url_fetch.py
  lib/spack/spack/util/compression.py
Labels: fetching, tests

#11804 openblas: Add route to f_check for Fujitsu compiler.
  var/spack/repos/builtin/packages/openblas/openblas_fujitsu.patch
  var/spack/repos/builtin/packages/openblas/package.py
Labels: blas-lapack-scalapack, impact-medium, update-package

#12704 Add Go 1.13
  var/spack/repos/builtin/packages/go/package.py
Labels: new-version

#12697 py-ase: New version 3.18
  var/spack/repos/builtin/packages/py-ase/package.py
Labels: new-version

#12715 mariadb: Add missing dependencies
  var/spack/repos/builtin/packages/mariadb/package.py
Labels: dependencies

#12713 textparser: new package
  var/spack/repos/builtin/packages/textparser/fix_compiler_options.patch
  var/spack/repos/builtin/packages/textparser/package.py
Labels: new-package

#12706 [jemalloc] added version 5.2.1
  var/spack/repos/builtin/packages/jemalloc/package.py
Labels: new-version

#12698 Add pixz package
  var/spack/repos/builtin/packages/pixz/package.py
Labels: new-package

#12707 FIX Catalyst: corrected catalyst package for aarch64 targets
  var/spack/repos/builtin/packages/catalyst/package.py
Labels: arm

#11627 fftw: change default value of simd variant for other than x86_64
  var/spack/repos/builtin/packages/fftw/package.py
Labels: platform-support, variants

#12389 iso-codes: new package
  var/spack/repos/builtin/packages/iso-codes/package.py
Labels: new-package

#12385 libpeas@1.22.0: new package
  var/spack/repos/builtin/packages/libpeas/package.py
Labels: new-package

#11861 openspeedshop: fixed build on arm.
  var/spack/repos/builtin/packages/openspeedshop-utils/arm.patch
  var/spack/repos/builtin/packages/openspeedshop-utils/package.py
  var/spack/repos/builtin/packages/openspeedshop/arm.patch
  var/spack/repos/builtin/packages/openspeedshop/package.py
Labels: update-package

#12746 UPC++: new package
  var/spack/repos/builtin/packages/upcxx/package.py
Labels: new-package

#12747 new package: py-pygdal
  var/spack/repos/builtin/packages/py-pygdal/package.py
Labels: new-package

#12702 Update docs on module loads command
  lib/spack/docs/module_file_support.rst
Labels: documentation, modules

#12728 font-util: new release 1.3.2
  var/spack/repos/builtin/packages/font-util/package.py
Labels: new-version

#12744 Add PLASMA patches to work around CMake versions
  var/spack/repos/builtin/packages/plasma/fix_cmake_include.patch
  var/spack/repos/builtin/packages/plasma/package.py
  var/spack/repos/builtin/packages/plasma/protect_cmake_version.patch
Labels: cmake, update-package

#12753 Add py-numpy 1.17.2
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: new-version

#12703 luarocks: Use `make` command instead of `install`
  var/spack/repos/builtin/packages/lua-luafilesystem/package.py
  var/spack/repos/builtin/packages/lua-luaposix/package.py
Labels: fetching

#12621 ncurses: improve build time
  var/spack/repos/builtin/packages/ncurses/package.py
Labels: update-package

#12739 add mpi variant to p4est package to allow turning off MPI
  var/spack/repos/builtin/packages/p4est/package.py
Labels: mpi, variants

#12735 mesa: disable use of libunwind for arm arch
  var/spack/repos/builtin/packages/mesa/package.py
Labels: update-package

#12720 Updating TAU package. Fixing compiler specification for OSX
  var/spack/repos/builtin/packages/tau/package.py
Labels: variants

#12718 patch boost version 1.54-1.55 with ANY gcc >= 5.0
  var/spack/repos/builtin/packages/boost/package.py
Labels: patch

#12755 flake8: only add E501 exemptions when absolutely necessary
  lib/spack/spack/cmd/flake8.py
Labels: flake8, style

#12743 py-dnaio: new package need by py-cutadapt
  var/spack/repos/builtin/packages/py-dnaio/package.py
Labels: new-package

#12742 py-xopen: update release 0.8.2 checksum
  var/spack/repos/builtin/packages/py-xopen/package.py
Labels: new-version

#12761 new package: py-bz2file
  var/spack/repos/builtin/packages/py-bz2file/package.py
Labels: new-package

#12741 py-cutadapt: Updated version checksum
  var/spack/repos/builtin/packages/py-cutadapt/package.py
Labels: new-version

#12737 py-gpaw: Fixing missing numpy include path, adding newer version of p…
  var/spack/repos/builtin/packages/py-gpaw/libxc.patch
  var/spack/repos/builtin/packages/py-gpaw/package.py
Labels: new-version, patch

#12479 Fix PyQt installation
  lib/spack/docs/build_systems/sippackage.rst
  lib/spack/spack/build_systems/sip.py
  var/spack/repos/builtin/packages/py-pyqt4/package.py
  var/spack/repos/builtin/packages/py-pyqt5/package.py
  var/spack/repos/builtin/packages/py-sip/package.py
  var/spack/repos/builtin/packages/qt/package.py
Labels: qt, sip

#12754 for fakeroot support, add "shadow" dependency
  var/spack/repos/builtin/packages/singularity/package.py
Labels: WIP, dependencies, new-version

#12639 Package/py configobj
  var/spack/repos/builtin/packages/py-configobj/package.py
Labels: new-package

#12638 new package: py-iniparse
  var/spack/repos/builtin/packages/py-iniparse/package.py
Labels: new-package

#12386 fribidi@1.0.5: new package
  var/spack/repos/builtin/packages/fribidi/package.py
Labels: new-package

#9984 CGNS: Add setting of RPATH on Darwin
  var/spack/repos/builtin/packages/cgns/package.py
Labels: cmake, macOS, rpath

#12763 Add CORS for spack.packages.io
  share/spack/packages/Dockerfile
  share/spack/packages/cors-header.conf
Labels: bug, docker

#12770 binutils: fix undefined symbol libintl_dgettext
  var/spack/repos/builtin/packages/binutils/package.py
Labels: update-package

#12769 clang: add another regex for version detection
  lib/spack/spack/compilers/clang.py
  lib/spack/spack/test/compilers.py
Labels: clang, compilers, versions

#12766 Paraview version
  var/spack/repos/builtin/packages/paraview/package.py
Labels: new-version

#12725 New package: py-fsspec
  var/spack/repos/builtin/packages/py-fsspec/package.py
Labels: new-package

#12724 Update py-bokeh: new version & dependencies"
  var/spack/repos/builtin/packages/py-bokeh/package.py
Labels: dependencies, new-version

#12714 Fix pkgconfig dependencies
  var/spack/repos/builtin/packages/gtksourceview/package.py
  var/spack/repos/builtin/packages/libfive/package.py
  var/spack/repos/builtin/packages/librsvg/package.py
Labels: virtual-dependencies

#12721 update bbmap
  var/spack/repos/builtin/packages/bbmap/package.py
Labels: new-version

#12764 Fix CD: Packages Service First
  share/spack/qa/run-docker-tests
Labels: bug, ci

#12772 packages build: fix path to spack
  share/spack/qa/run-docker-tests
Labels: bug, ci, docker

#12773 packages service: fix docker build
  share/spack/packages/build-image.sh
Labels: bug, ci, docker

#12774 packages service: fix docker build cont
  share/spack/qa/run-docker-tests
Labels: bug, ci, docker

#12745 py-atropos: new package
  var/spack/repos/builtin/packages/py-atropos/package.py
Labels: new-package

#12777 cuda: New version 10.1.243
  var/spack/repos/builtin/packages/cuda/package.py
Labels: cuda, new-version, update-package

#12768 openmx: new package
  var/spack/repos/builtin/packages/openmx/package.py
Labels: new-package

#12783 create package popt
  var/spack/repos/builtin/packages/popt/package.py
Labels: new-package

#12780 jsoncpp: new versions, support cxxstd variant.
  var/spack/repos/builtin/packages/jsoncpp/package.py
Labels: c++, new-version, variants, versions

#12790 fgsl: new version + fix for recent spack commit
  var/spack/repos/builtin/packages/fgsl/package.py
Labels: new-version

#12540 new package: py-pykwalify
  var/spack/repos/builtin/packages/py-pykwalify/package.py
Labels: new-package

#12810 Add wcslib 6.4
  var/spack/repos/builtin/packages/wcslib/package.py
Labels: new-version

#12812 Add py-emcee 2.2.1
  var/spack/repos/builtin/packages/py-emcee/package.py
Labels: new-version

#12813 Fix bug in string conversion of py-cython
  var/spack/repos/builtin/packages/py-cython/package.py
Labels: python3

#12814 Add py-bleach 3.1.0
  var/spack/repos/builtin/packages/py-bleach/package.py
Labels: new-version

#12808 flang: build on arm.
  var/spack/repos/builtin/packages/flang/package.py
Labels: arm

#12832 qt: Fix build with GCC9 for version 4
  var/spack/repos/builtin/packages/qt/package.py
  var/spack/repos/builtin/packages/qt/qt4-gcc9-qforeach.patch
Labels: gcc, patch, qt

#12778 xdmf3: new package
  var/spack/repos/builtin/packages/xdmf3/package.py
Labels: new-package

#12811 Relax Python version constraints on py-html5lib
  var/spack/repos/builtin/packages/py-html5lib/package.py
Labels: dependencies

#12827 Add py-soupsieve package
  var/spack/repos/builtin/packages/py-soupsieve/package.py
Labels: new-package

#12828 Add py-weave package
  var/spack/repos/builtin/packages/py-weave/package.py
Labels: new-package

#12826 Add py-sortedcontainers package
  var/spack/repos/builtin/packages/py-sortedcontainers/package.py
Labels: new-package

#12825 Add py-semantic-version package
  var/spack/repos/builtin/packages/py-semantic-version/package.py
Labels: new-package

#12824 Add py-pyopenssl package
  var/spack/repos/builtin/packages/py-pyopenssl/package.py
Labels: new-package

#12820 Add py-ligo-segments package
  var/spack/repos/builtin/packages/py-ligo-segments/package.py
Labels: new-package

#12819 Add py-jplephem package
  var/spack/repos/builtin/packages/py-jplephem/package.py
Labels: new-package

#12821 Add py-lscsoft-glue package
  var/spack/repos/builtin/packages/py-lscsoft-glue/package.py
Labels: new-package

#12818 Add py-bintrees package
  var/spack/repos/builtin/packages/py-bintrees/package.py
Labels: new-package

#12817 Add py-asdf package
  var/spack/repos/builtin/packages/py-asdf/package.py
Labels: new-package

#12822 Add py-mpld3 package
  var/spack/repos/builtin/packages/py-mpld3/package.py
Labels: new-package

#12815 Add py-beautifulsoup4 4.8.0
  var/spack/repos/builtin/packages/py-beautifulsoup4/package.py
Labels: new-version

#12816 Add py-astropy 2.0.14
  var/spack/repos/builtin/packages/py-astropy/package.py
Labels: dependencies, new-variants, new-version

#12823 Add py-pycbc package
  var/spack/repos/builtin/packages/py-pycbc/package.py
Labels: new-package

#12759 Fix Spack Environments bug with space in PATH
  lib/spack/spack/util/environment.py
Labels: environments, shell-support

#12756 Add exception for failed implicit RPATH detection
  lib/spack/spack/compiler.py
Labels: compilers, rpath

#12804 Fix generic body during package creation
  lib/spack/spack/cmd/create.py
Labels: commands

#12847 cmake: add v3.15.{2,3}
  var/spack/repos/builtin/packages/cmake/package.py
Labels: new-version

#12789 implicit rpaths filtering
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/build_environment.py
  lib/spack/spack/compiler.py
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/compilers/arm.py
  lib/spack/spack/compilers/clang.py
  lib/spack/spack/compilers/gcc.py
  lib/spack/spack/compilers/intel.py
  lib/spack/spack/compilers/pgi.py
  lib/spack/spack/schema/compilers.py
  lib/spack/spack/test/compilers.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/link_paths.py
  lib/spack/spack/test/llnl/util/filesystem.py
Labels: compilers, rpath

#12856 package/py-pygdal add a version
  var/spack/repos/builtin/packages/py-pygdal/package.py
Labels: new-version

#12834 Add uriparser package
  var/spack/repos/builtin/packages/uriparser/package.py
Labels: new-package

#12835 Add minizip package
  var/spack/repos/builtin/packages/minizip/package.py
Labels: new-package

#12863 libunistring: add missing dependency on libiconv
  var/spack/repos/builtin/packages/libunistring/package.py
Labels: dependencies

#12836 Add libkml package
  var/spack/repos/builtin/packages/libkml/package.py
Labels: new-package

#12837 GDAL: Add support for MKL driver
  var/spack/repos/builtin/packages/gdal/package.py
Labels: dependencies, new-variants

#12862 Add SQLite 3.29.0
  var/spack/repos/builtin/packages/sqlite/package.py
Labels: dependencies, new-version

#12866 diffutils: add missing libiconv dependency
  var/spack/repos/builtin/packages/diffutils/package.py
Labels: dependencies

#12868 wcslib: fix darwin install name
  var/spack/repos/builtin/packages/wcslib/package.py
Labels: linking, macOS, rpath

#12872 libkml: fix darwin install name
  var/spack/repos/builtin/packages/libkml/package.py
Labels: linking, macOS, rpath

#12871 googletest: fix darwin install name
  var/spack/repos/builtin/packages/googletest/package.py
Labels: linking, macOS, rpath

#12869 blis: fix darwin install name
  var/spack/repos/builtin/packages/blis/package.py
Labels: blas-lapack-scalapack, linking, macOS, rpath

#12848 Ignore git *.orig files and emacs backup files
  .gitignore
Labels: git

#12867 Buildcache: put back the use of otool and install_name_tool when running on macOS. Only use machotools on linux.
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/cmd/buildcache.py
  lib/spack/spack/relocate.py
  lib/spack/spack/test/packaging.py
Labels: buildcache

#12831 Fix how 'gpg --list-secret-keys ...' output is parsed
  lib/spack/spack/test/util/util_gpg.py
  lib/spack/spack/util/gpg.py
Labels: buildcache

#12861 add charliecloud/0.11
  var/spack/repos/builtin/packages/charliecloud/package.py
Labels: new-version, tests

#12894 externals: avoid importing requests in jsonschema
  lib/spack/external/jsonschema/validators.py
Labels: external-packages, performance

#12893 environment-modules: add version 4.3.1
  var/spack/repos/builtin/packages/environment-modules/package.py
Labels: new-version

#12895 externals: add note to jsonschema about modifications
  lib/spack/external/__init__.py
Labels: documentation, external-packages

#12574 Fix configure when disabling fontconfig on non-macOS systems
  var/spack/repos/builtin/packages/qt/package.py
Labels: update-package

#12882 tests: add more template creation tests
  lib/spack/spack/test/cmd/create.py
Labels: create-package, tests

#12912 Fix detection of Apple Clang 11.0.0
  lib/spack/spack/compilers/clang.py
  lib/spack/spack/test/compilers.py
Labels: clang, compilers, macOS

#12919 Fix installation permissions on BLIS and libflame libs
  var/spack/repos/builtin/packages/blis/Makefile_0.6.0.patch
  var/spack/repos/builtin/packages/blis/package.py
  var/spack/repos/builtin/packages/libflame/Makefile_5.2.0.patch
  var/spack/repos/builtin/packages/libflame/package.py
Labels: blas-lapack-scalapack, libraries, permissions

#12921 bugfix: use string keys to set preferred targets
  lib/spack/docs/basic_usage.rst
  lib/spack/docs/build_settings.rst
  lib/spack/spack/concretize.py
  lib/spack/spack/test/concretize_preferences.py
Labels: microarchitectures

#12917 spdlog: v1.4.1
  var/spack/repos/builtin/packages/spdlog/package.py
Labels: new-version

#12906 Fix "specific target" detection in Python 3
  lib/spack/llnl/util/cpu/detect.py
Labels: macOS, platform-support, python3

#12880 Upcxx/2019.9.0
  var/spack/repos/builtin/packages/upcxx/package.py
Labels: error-messages, new-version

#12934 kokkos-kernels: initial commit
  var/spack/repos/builtin/packages/kokkos-kernels/makefile.patch
  var/spack/repos/builtin/packages/kokkos-kernels/package.py
Labels: new-package

#12950 libflame: fix macOS build
  var/spack/repos/builtin/packages/libflame/Makefile_5.2.0_darwin.patch
  var/spack/repos/builtin/packages/libflame/package.py
Labels: blas-lapack-scalapack, linking, macOS, rpath

#12914 fixing target conversion to string
  var/spack/repos/builtin/packages/llvm/package.py
  var/spack/repos/builtin/packages/mesa/package.py
Labels: bugfix, platform-support

#12926 New package: flibcpp (Fortran bindings to C++ standard library)
  var/spack/repos/builtin/packages/flibcpp/package.py
Labels: new-package

#12949 parsimonator: simplified recipe by removing SIMD variants
  var/spack/repos/builtin/packages/parsimonator/package.py
Labels: platform-support

#12948 Removed references to '(-march|-mtune|-mcpu)=native' in packages
  var/spack/repos/builtin/packages/cp2k/package.py
  var/spack/repos/builtin/packages/dealii/package.py
  var/spack/repos/builtin/packages/elpa/package.py
  var/spack/repos/builtin/packages/hpgmg/package.py
  var/spack/repos/builtin/packages/krims/package.py
  var/spack/repos/builtin/packages/lazyten/package.py
  var/spack/repos/builtin/packages/libceed/package.py
  var/spack/repos/builtin/packages/nanoflann/package.py
  var/spack/repos/builtin/packages/rocksdb/package.py
  var/spack/repos/builtin/packages/tealeaf/package.py
  var/spack/repos/tutorial/packages/elpa/package.py
Labels: platform-support

#12947 Fixed query to target for a few packages
  var/spack/repos/builtin/packages/blast-plus/package.py
  var/spack/repos/builtin/packages/catalyst/package.py
  var/spack/repos/builtin/packages/hpctoolkit/package.py
  var/spack/repos/builtin/packages/openfoam/package.py
  var/spack/repos/builtin/packages/ross/package.py
  var/spack/repos/builtin/packages/templight/package.py
Labels: build-error, platform-support, update-package

#12946 Relocate mach-o binaries using macholib on linux.
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/relocate.py
Labels: binary-packages, buildcache

#12957 Fix 'arch' string in QT4 due to microarchitecture change
  var/spack/repos/builtin/packages/qt/package.py
Labels: bug, build-error

#12904 New package: maker
  var/spack/repos/builtin/packages/maker/MpiChunk.patch
  var/spack/repos/builtin/packages/maker/install.patch
  var/spack/repos/builtin/packages/maker/mpi.patch
  var/spack/repos/builtin/packages/maker/package.py
  var/spack/repos/builtin/packages/perl-acme-damn/package.py
  var/spack/repos/builtin/packages/perl-alien-build/package.py
  var/spack/repos/builtin/packages/perl-alien-libxml2/package.py
  var/spack/repos/builtin/packages/perl-bio-perl/package.py
  var/spack/repos/builtin/packages/perl-dbd-pg/package.py
  var/spack/repos/builtin/packages/perl-devel-symdump/package.py
  var/spack/repos/builtin/packages/perl-error/package.py
  var/spack/repos/builtin/packages/perl-ffi-checklib/package.py
  var/spack/repos/builtin/packages/perl-file-chdir/package.py
  var/spack/repos/builtin/packages/perl-forks/package.py
  var/spack/repos/builtin/packages/perl-io-all/package.py
  var/spack/repos/builtin/packages/perl-io-prompt/package.py
  var/spack/repos/builtin/packages/perl-io-stringy/package.py
  var/spack/repos/builtin/packages/perl-io-tty/package.py
  var/spack/repos/builtin/packages/perl-ipc-run/package.py
  var/spack/repos/builtin/packages/perl-libxml-perl/package.py
  var/spack/repos/builtin/packages/perl-list-moreutils-xs/package.py
  var/spack/repos/builtin/packages/perl-mailtools/package.py
  var/spack/repos/builtin/packages/perl-path-tiny/package.py
  var/spack/repos/builtin/packages/perl-perl-unsafe-signals/package.py
  var/spack/repos/builtin/packages/perl-set-scalar/package.py
  var/spack/repos/builtin/packages/perl-sys-sigaction/package.py
  var/spack/repos/builtin/packages/perl-term-readkey/package.py
  var/spack/repos/builtin/packages/perl-timedate/package.py
  var/spack/repos/builtin/packages/perl-xml-dom-xpath/package.py
  var/spack/repos/builtin/packages/perl-xml-dom/package.py
  var/spack/repos/builtin/packages/perl-xml-filter-buffertext/package.py
  var/spack/repos/builtin/packages/perl-xml-libxml/package.py
  var/spack/repos/builtin/packages/perl-xml-namespacesupport/package.py
  var/spack/repos/builtin/packages/perl-xml-quote/package.py
  var/spack/repos/builtin/packages/perl-xml-regexp/package.py
  var/spack/repos/builtin/packages/perl-xml-sax-base/package.py
  var/spack/repos/builtin/packages/perl-xml-sax-writer/package.py
  var/spack/repos/builtin/packages/perl-xml-sax/package.py
  var/spack/repos/builtin/packages/perl-xml-twig/non_interactive.patch
  var/spack/repos/builtin/packages/perl-xml-twig/package.py
  var/spack/repos/builtin/packages/perl-xml-writer/package.py
  var/spack/repos/builtin/packages/perl-xml-xpathengine/package.py
Labels: new-package

#12966 BOLT: update a version (1.0rc2)
  var/spack/repos/builtin/packages/bolt/package.py
Labels: new-version

#12965 Update neovim to v0.4.2
  var/spack/repos/builtin/packages/neovim/package.py
Labels: new-version

#12964 correct with-xxx-lib= options
  var/spack/repos/builtin/packages/petsc/package.py
Labels: update-package

#12954 vdt: simplified recipe by removing SIMD variants
  var/spack/repos/builtin/packages/vdt/package.py
Labels: platform-support, update-package

#12953 bowtie: fix for aarch64, and bugfix about c++11-narrowing.
  var/spack/repos/builtin/packages/bowtie/fix_narrowing_err.patch
  var/spack/repos/builtin/packages/bowtie/for_aarch64.patch
  var/spack/repos/builtin/packages/bowtie/package.py
Labels: arm

#12952 raxml: simplified recipe by removing SIMD variants
  var/spack/repos/builtin/packages/raxml/package.py
Labels: platform-support, update-package

#12958 Add all the 'generic' architectures that are mentioned in recipes
  lib/spack/llnl/util/cpu/microarchitectures.json
Labels: build-error, platform-support

#12971 The perl-uri-escape package duplicates perl-uri
  var/spack/repos/builtin/packages/perl-star-fusion/package.py
  var/spack/repos/builtin/packages/perl-uri-escape/package.py
  var/spack/repos/builtin/packages/perl-uri/package.py
  var/spack/repos/builtin/packages/transdecoder/package.py
  var/spack/repos/builtin/packages/trinity/package.py
  var/spack/repos/builtin/packages/xios/package.py
Labels: update-package

#12711 otf2: add configure args to specify compiler commands.
  var/spack/repos/builtin/packages/otf2/package.py
Labels: update-package

#12454 Fix GCC environment variables for external installations
  var/spack/repos/builtin/packages/gcc/package.py
Labels: build-environment, gcc, macOS, modules
