Repository spack/spack, pull requests merged in 2019-01, with the labels that each got.

#9878 Improve validation of modules.yaml
  lib/spack/llnl/util/lang.py
  lib/spack/spack/config.py
  lib/spack/spack/environment.py
  lib/spack/spack/schema/__init__.py
  lib/spack/spack/schema/env.py
  lib/spack/spack/schema/merged.py
  lib/spack/spack/schema/modules.py
  lib/spack/spack/test/schema.py
Labels: bug, configuration, modules

#10231 Add list_url for r-readr, finding old versions
  var/spack/repos/builtin/packages/r-readr/package.py
Labels: fetching

#10235 FEniCS: workaround concretization issue with PETSc
  var/spack/repos/builtin/packages/fenics/package.py
Labels: concretization

#10236 Fixed broken module file configuration
  lib/spack/spack/schema/modules.py
Labels: broken-develop, bug, modules

#10172 PARALLEL-NETCDF: Update new version and location
  var/spack/repos/builtin/packages/parallel-netcdf/package.py
Labels: new-version

#10237 Catch2: v2.5.0
  var/spack/repos/builtin/packages/catch/package.py
Labels: new-version

#10150 patch: split up fetch and clean into separate methods
  lib/spack/spack/mirror.py
  lib/spack/spack/package.py
  lib/spack/spack/patch.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/patch.py
Labels: mirrors, patch

#10243 bugfix: add missing code block
  lib/spack/spack/graph.py
Labels: documentation

#10253 Fix download path, the existing one has been removed from nvidia's site
  var/spack/repos/builtin/packages/cudnn/package.py
Labels: fetching

#10249 Added package osmctools
  var/spack/repos/builtin/packages/osmctools/package.py
Labels: new-package

#10254 mvapich2: add missing zlib dependency
  var/spack/repos/builtin/packages/mvapich2/package.py
Labels: dependencies

#9481 Complex variants might use a more declarative style
  lib/spack/docs/packaging_guide.rst
  lib/spack/spack/build_systems/autotools.py
  lib/spack/spack/build_systems/cuda.py
  lib/spack/spack/directives.py
  lib/spack/spack/pkgkit.py
  lib/spack/spack/test/build_systems.py
  lib/spack/spack/test/spec_semantics.py
  lib/spack/spack/test/variant.py
  lib/spack/spack/variant.py
  var/spack/repos/builtin.mock/packages/a/package.py
  var/spack/repos/builtin.mock/packages/multivalue_variant/package.py
  var/spack/repos/builtin/packages/adios/package.py
  var/spack/repos/builtin/packages/axl/package.py
  var/spack/repos/builtin/packages/glib/package.py
  var/spack/repos/builtin/packages/kokkos/package.py
  var/spack/repos/builtin/packages/matlab/package.py
  var/spack/repos/builtin/packages/mvapich2/package.py
  var/spack/repos/builtin/packages/omega-h/package.py
  var/spack/repos/builtin/packages/openblas/package.py
  var/spack/repos/builtin/packages/openmpi/package.py
  var/spack/repos/builtin/packages/py-patsy/package.py
  var/spack/repos/builtin/packages/regcm/package.py
  var/spack/repos/builtin/packages/scr/package.py
  var/spack/repos/builtin/packages/yambo/package.py
Labels: bug

#10232 bowtie: new versions and %gcc@8.0.0: fix
  var/spack/repos/builtin/packages/bowtie/issue-87.patch
  var/spack/repos/builtin/packages/bowtie/package.py
Labels: new-version, patch

#10276 Infer abstract spec for file-based installs
  lib/spack/spack/cmd/install.py
Labels: specs

#10280 Check for ARM compiler in addition to clang
  var/spack/repos/builtin/packages/m4/package.py
Labels: arm

#10270 libzip: Add zlib dependency
  var/spack/repos/builtin/packages/libzip/package.py
Labels: dependencies

#10265 Package OpenPA: added openpa package
  var/spack/repos/builtin/packages/openpa/package.py
Labels: new-package

#10264 r-dplyr: new versions
  var/spack/repos/builtin/packages/r-dplyr/package.py
Labels: R, dependencies, new-version

#10263 r-factominer: new versions
  var/spack/repos/builtin/packages/r-factominer/package.py
Labels: R, dependencies, new-version

#10261 r-dt: new versions
  var/spack/repos/builtin/packages/r-dt/package.py
Labels: R, dependencies, new-version

#10282 Added bash 5.0
  var/spack/repos/builtin/packages/bash/package.py
Labels: new-version

#10273 New package: MGIS
  var/spack/repos/builtin/packages/mgis/package.py
Labels: new-package

#10262 r-dbplyr: new versions
  var/spack/repos/builtin/packages/r-dbplyr/package.py
Labels: R, dependencies, new-version

#10260 r-data-table: new versions
  var/spack/repos/builtin/packages/r-data-table/package.py
Labels: R, dependencies, new-version

#10259 r-cowplot: new versions, more specific dependencies
  var/spack/repos/builtin/packages/r-cowplot/package.py
Labels: R, dependencies, new-version

#10258 r-ape: new versions
  var/spack/repos/builtin/packages/r-ape/package.py
Labels: R, new-version

#10286 Updated fish to 3.0.0
  var/spack/repos/builtin/packages/fish/package.py
Labels: new-version

#10257 OpenMPI: Add Development Version
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: mpi, new-version

#9931 gromacs: added simd and rdtscp variants
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: update-package

#10266 New package: git-fat-git
  var/spack/repos/builtin/packages/git-fat-git/package.py
Labels: new-package

#10292 R: add version 3.5.2
  var/spack/repos/builtin/packages/r/package.py
Labels: new-version

#10293 py-pyyaml: Add version 3.13
  var/spack/repos/builtin/packages/py-pyyaml/package.py
Labels: new-version

#10185 elfutils: option to install elf.h header file
  var/spack/repos/builtin/packages/elfutils/package.py
Labels: headers

#10294 EOSPAC version bump
  var/spack/repos/builtin/packages/eospac/package.py
Labels: new-version

#10298 tutorial basics section: fix gcc install version
  lib/spack/docs/tutorial_basics.rst
Labels: documentation

#10004 spack versions: only list safe versions
  lib/spack/spack/cmd/versions.py
  lib/spack/spack/test/cmd/versions.py
  share/spack/spack-completion.bash
Labels: commands

#8708 Explicitly listing blas and lapack sections in site.cfg for numpy
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: blas-lapack-scalapack, python

#10306 sundials: add version 4.0.1 and remove 4.0.0-dev series
  var/spack/repos/builtin/packages/sundials/package.py
Labels: new-version

#10223 hpctoolkit: variants to build for cray and blue gene
  var/spack/repos/builtin/packages/hpctoolkit/package.py
Labels: bgq, cray

#10295 boost: fix the bjam build for Cray
  var/spack/repos/builtin/packages/boost/bootstrap-path.patch
  var/spack/repos/builtin/packages/boost/package.py
Labels: cray

#10305 Updating LBANN and related packages
  var/spack/repos/builtin/packages/aluminum/package.py
  var/spack/repos/builtin/packages/hydrogen/package.py
  var/spack/repos/builtin/packages/lbann/package.py
Labels: dependencies

#10288 dealii: fix concretization of xsdk package
  lib/spack/spack/test/concretize.py
  var/spack/repos/builtin/packages/dealii/package.py
Labels: concretization, xSDK

#10297 omega-h: requires empty CMAKE_BUILD_TYPE
  var/spack/repos/builtin/packages/omega-h/package.py
Labels: build-error, cmake, xSDK

#10073 Binary caching bugfix: symlink relocation
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/relocate.py
  lib/spack/spack/test/packaging.py
Labels: buildcache

#10289 fix archlinux docker build
  share/spack/docker/Dockerfile
  share/spack/docker/config/arch.bash
Labels: containers, docker, ecp, travis

#10322 gdal: Add variant for GRIB driver
  var/spack/repos/builtin/packages/gdal/package.py
Labels: variants

#10328 Add libxslt v1.1.33 info
  var/spack/repos/builtin/packages/libxslt/package.py
Labels: new-version

#10323 Remove Cray CC compilers causing problems on case-insensitive filesystems
  lib/spack/env/cce/case-insensitive/CC
  lib/spack/env/cce/cc
  lib/spack/env/cce/ftn
  lib/spack/env/cray/ftn
  lib/spack/env/craype/CC
  lib/spack/env/craype/cc
  lib/spack/env/craype/ftn
  lib/spack/spack/build_environment.py
  lib/spack/spack/compilers/cce.py
Labels: compilers, macOS

#10312 bugfix/gdk-pixbuf
  var/spack/repos/builtin/packages/docbook-xsl/package.py
  var/spack/repos/builtin/packages/gdk-pixbuf/docbook-cdn.patch
  var/spack/repos/builtin/packages/gdk-pixbuf/package.py
Labels: bug, build-error

#10339 Update tutorial materials for ECP19
  lib/spack/docs/tutorial.rst
Labels: documentation

#10225 feature: py-invoke: new python package
  var/spack/repos/builtin/packages/py-invoke/package.py
Labels: new-package

#10343 libfabric 1.7.0
  var/spack/repos/builtin/packages/libfabric/package.py
Labels: new-version

#10341 Added latest rust releases and develop branch
  var/spack/repos/builtin/packages/rust/package.py
Labels: new-version

#10347 Add span-lite version
  var/spack/repos/builtin/packages/span-lite/package.py
Labels: new-version

#10337 vigra: new package
  var/spack/repos/builtin/packages/vigra/package.py
Labels: new-package

#10351 gtkplus requires cairo+pdf
  var/spack/repos/builtin/packages/gtkplus/package.py
Labels: dependencies

#10350 r requires cairo+pdf
  var/spack/repos/builtin/packages/r/package.py
Labels: R, dependencies

#10309 py-modred: New package
  var/spack/repos/builtin/packages/py-modred/package.py
  var/spack/repos/builtin/packages/py-modred/v2x-setuptools-8.0.patch
Labels: new-package

#10358 Add package for Hugo (static website generator)
  var/spack/repos/builtin/packages/hugo/package.py
Labels: new-package

#10364 openblas: added version 0.3.5
  var/spack/repos/builtin/packages/openblas/package.py
Labels: new-version

#10290 Update templight pseudo-release to remove need for patching
  var/spack/repos/builtin/packages/templight/package.py
Labels: new-version

#10204 Update Nalu-Wind and some of its dependencies
  var/spack/repos/builtin/packages/nalu-wind/package.py
  var/spack/repos/builtin/packages/nalu/package.py
  var/spack/repos/builtin/packages/openfast/package.py
  var/spack/repos/builtin/packages/paraview/package.py
  var/spack/repos/builtin/packages/percept/package.py
  var/spack/repos/builtin/packages/tioga/package.py
  var/spack/repos/builtin/packages/trilinos-catalyst-ioss-adapter/package.py
Labels: dependencies

#8192 Update ecp st tau pdt
  var/spack/repos/builtin/packages/binutils/package.py
  var/spack/repos/builtin/packages/tau/package.py
Labels: new-version

#10379 fix issue where docker images were being pushed without login
  share/spack/qa/run-docker-tests
Labels: containers, docker, ecp, tests

#9201 Allow `spack install --overwrite` for nonexistent or multiple packages
  lib/spack/spack/cmd/install.py
  lib/spack/spack/test/cmd/install.py
Labels: commands

#10449 capstone: new package
  var/spack/repos/builtin/packages/capstone/package.py
Labels: new-package

#10438 magma: add version 2.5.0
  var/spack/repos/builtin/packages/magma/package.py
Labels: new-version

#10441 Added the py-send2trash package as a pre-req for py-jupyterhub
  var/spack/repos/builtin/packages/py-send2trash/package.py
Labels: new-package, python

#10424 cmake: Use system libs by default
  var/spack/repos/builtin/packages/cmake/package.py
Labels: dependencies, update-package

#10423 libuv: Bump version to 1.25.0
  var/spack/repos/builtin/packages/libuv/package.py
Labels: new-version

#10425 perl-data-dumper: New package
  var/spack/repos/builtin/packages/perl-data-dumper/package.py
Labels: new-package, perl

#10445 bcftools: do not use bundled htslib
  var/spack/repos/builtin/packages/bcftools/package.py
Labels: build-error, intel, update-package

#10252 QMCPACK Update - Jan 2019
  var/spack/repos/builtin/packages/qmcpack/package.py
Labels: update-package

#10409 add variant for a Trilinos debug build
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: variants

#10427 llvm: various updates
  var/spack/repos/builtin/packages/llvm/package.py
Labels: dependencies, new-version

#10447 add flux-core@0.11.0 and flux-sched@0.7.0
  var/spack/repos/builtin/packages/flux-core/package.py
  var/spack/repos/builtin/packages/flux-sched/package.py
Labels: new-version

#10433 py-configparser: bump version (v3.5.1, which fixes backports namespaces issues)
  var/spack/repos/builtin/packages/py-configparser/package.py
Labels: new-version

#10469 py-espresso: add v4.0.1
  var/spack/repos/builtin/packages/py-espresso/package.py
Labels: new-version

#10457 py-petsc4py: add version 3.10.1
  var/spack/repos/builtin/packages/py-petsc4py/package.py
Labels: new-version

#10443 New package for lm-sensors
  var/spack/repos/builtin/packages/lm-sensors/package.py
Labels: new-package

#10413 Add JDK 11.0.2_9
  var/spack/repos/builtin/packages/jdk/package.py
Labels: new-version

#10429 ROSS: update homepage and git url
  var/spack/repos/builtin/packages/ross/package.py
Labels: update-package

#10344 Update opa-psm2 package
  var/spack/repos/builtin/packages/opa-psm2/package.py
Labels: new-version

#10076 Add simgrid package
  var/spack/repos/builtin/packages/simgrid/package.py
Labels: new-package

#10006 redundans: add 0.14a, cleanup install
  var/spack/repos/builtin/packages/redundans/package.py
Labels: new-version, update-package

#10434 New package for SLATE
  var/spack/repos/builtin/packages/slate/package.py
Labels: cuda, mpi, new-package

#10382 HDF5: Add develop Version
  var/spack/repos/builtin/packages/hdf5/package.py
Labels: new-version

#10039 fftw: fix issue #7372/rename config.h in source tree
  var/spack/repos/builtin/packages/fftw/package.py
Labels: patch

#9861 openjdk: adding new package openjdk
  var/spack/repos/builtin/packages/openjdk/package.py
Labels: java

#10444 py-pybigwig: fix build with python3 and numpy variant
  var/spack/repos/builtin/packages/py-pybigwig/package.py
  var/spack/repos/builtin/packages/py-pybigwig/python3_curl.patch
Labels: build-error, dependencies, new-version, patch, python3, variants
