Repository spack/spack, pull requests merged in 2019-10, with the labels that each got.

#12992 hypre: add version 2.18.0
  var/spack/repos/builtin/packages/hypre/package.py
Labels: new-version, xSDK

#12987 ADIOS2: 2.5.0
  var/spack/repos/builtin/packages/adios2/package.py
Labels: new-version

#12991 Update chapel to current (1.19 -> 1.20)
  var/spack/repos/builtin/packages/chapel/package.py
Labels: new-version

#12997 new mercurial versions
  var/spack/repos/builtin/packages/mercurial/package.py
Labels: new-version

#12960 when removing a file from a view, don't fail if it doesn't exist
  lib/spack/spack/filesystem_view.py
Labels: views

#12976 libaio: fixed a condition that checks whether we are running on OS X
  var/spack/repos/builtin/packages/fio/package.py
  var/spack/repos/builtin/packages/libaio/package.py
  var/spack/repos/builtin/packages/lvm2/package.py
  var/spack/repos/builtin/packages/mariadb/package.py
Labels: update-package

#13000 Gcc package: setup environment bug when installing
  var/spack/repos/builtin/packages/gcc/package.py
Labels: gcc

#13001 Dataspaces: Fix Fetch URL, Savanna Spec
  var/spack/repos/builtin/packages/dataspaces/package.py
  var/spack/repos/builtin/packages/savanna/package.py
Labels: fetching, specs

#12943 binary cache: show all packages for compatible differing targets
  lib/spack/spack/binary_distribution.py
Labels: binary-packages, buildcache

#12995 add singularity 3.4.1
  var/spack/repos/builtin/packages/singularity/package.py
Labels: new-version

#13004 picard: add 2.20.8
  var/spack/repos/builtin/packages/picard/package.py
Labels: new-version

#12786 new package: py-python-mapnik
  var/spack/repos/builtin/packages/py-python-mapnik/package.py
Labels: new-package

#12599 new package: py-python-ldap
  var/spack/repos/builtin/packages/py-python-ldap/package.py
Labels: new-package

#12962 Add all compatible system types directory to module paths
  lib/spack/spack/architecture.py
  lib/spack/spack/main.py
  share/spack/setup-env.csh
  share/spack/setup-env.sh
Labels: microarchitectures, modules, platform-support

#13007 direnv: add info for version 2.20.0
  var/spack/repos/builtin/packages/direnv/package.py
Labels: new-version

#13002 'spack buildcache list' should show all buildaches available.
  lib/spack/spack/binary_distribution.py
Labels: binary-packages, buildcache

#12999 ZFP: CMake Package
  var/spack/repos/builtin/packages/adios/package.py
  var/spack/repos/builtin/packages/adios/zfp051.patch
  var/spack/repos/builtin/packages/adios2/package.py
  var/spack/repos/builtin/packages/zfp/package.py
Labels: cmake, new-version, update-package

#13020 update py-jupyter-notebook to use the real releases
  var/spack/repos/builtin/packages/py-jupyter-notebook/package.py
Labels: dependencies, python3

#13014 fujitsu compiler: Add 'required_libs'.
  lib/spack/spack/compilers/fj.py
Labels: fujitsu

#13013 breseq: fix dependency and limit compiler version.
  var/spack/repos/builtin/packages/breseq/package.py
Labels: conflicts, dependencies

#13011 breakdancer: missing ncurses dependency.
  var/spack/repos/builtin/packages/breakdancer/package.py
Labels: dependencies

#13010 ants: missing zlib dependency and fix working directory in install.
  var/spack/repos/builtin/packages/ants/package.py
Labels: dependencies

#12748 new package: openldap
  var/spack/repos/builtin/packages/openldap/package.py
Labels: new-package

#13008 Singularity 3.4.1 still needs the makefile patch
  var/spack/repos/builtin/packages/singularity/package.py
Labels: patch

#12996 Add cuda to paraview build.
  var/spack/repos/builtin/packages/paraview/package.py
Labels: cuda

#13016 cnpy: add zlib dependency.
  var/spack/repos/builtin/packages/cnpy/package.py
Labels: dependencies

#13017 denovogear: Add missing zlib depenbdency and fix open handling error.
  var/spack/repos/builtin/packages/denovogear/package.py
  var/spack/repos/builtin/packages/denovogear/stream-open.patch
Labels: dependencies, patch

#13015 cdhit: add zlib dependency.
  var/spack/repos/builtin/packages/cdhit/package.py
Labels: dependencies, new-variants

#12475 libint: 2-stage build with 'tune' and 'fortran' variants
  var/spack/repos/builtin/packages/cp2k/package.py
  var/spack/repos/builtin/packages/libint/package.py
Labels: dependencies, new-variants, new-version

#12708 new package: mapnik
  var/spack/repos/builtin/packages/mapnik/package.py
Labels: new-package

#13003 added tasmanian version 7.0 to spack
  var/spack/repos/builtin/packages/tasmanian/addons70.patch
  var/spack/repos/builtin/packages/tasmanian/package.py
  var/spack/repos/builtin/packages/tasmanian/packageconf70.patch
Labels: new-version, patch

#11986 Remove support for generating dotkit files
  etc/spack/defaults/config.yaml
  etc/spack/defaults/modules.yaml
  lib/spack/docs/basic_usage.rst
  lib/spack/docs/config_yaml.rst
  lib/spack/docs/configuration.rst
  lib/spack/docs/getting_started.rst
  lib/spack/docs/module_file_support.rst
  lib/spack/spack/cmd/module.py
  lib/spack/spack/cmd/modules/__init__.py
  lib/spack/spack/cmd/modules/dotkit.py
  lib/spack/spack/cmd/unuse.py
  lib/spack/spack/cmd/use.py
  lib/spack/spack/hooks/__init__.py
  lib/spack/spack/main.py
  lib/spack/spack/modules/__init__.py
  lib/spack/spack/modules/dotkit.py
  lib/spack/spack/schema/__init__.py
  lib/spack/spack/schema/config.py
  lib/spack/spack/schema/modules.py
  lib/spack/spack/schema/upstreams.py
  lib/spack/spack/test/cmd/module.py
  lib/spack/spack/test/data/config/modules.yaml
  lib/spack/spack/test/data/modules/dotkit/autoload_direct.yaml
  lib/spack/spack/test/data/modules/dotkit/override_template.yaml
  lib/spack/spack/test/modules/dotkit.py
  lib/spack/spack/test/schema.py
  share/spack/csh/spack.csh
  share/spack/qa/setup-env-test.sh
  share/spack/setup-env.csh
  share/spack/setup-env.sh
  share/spack/spack-completion.bash
  share/spack/templates/modules/modulefile.dk
  var/spack/repos/builtin.mock/packages/override-module-templates/package.py
  var/spack/repos/builtin/packages/go/package.py
Labels: modules

#13022 Generic x86_64 code compiled with GCC uses non deprecated mtune flags
  lib/spack/llnl/util/cpu/microarchitectures.json
  lib/spack/spack/test/llnl/util/cpu.py
Labels: AMD, intel, microarchitectures, platform-support

#13027 Update ECP Data & Vis SDK packages
  var/spack/repos/builtin/packages/ecp-io-sdk/package.py
  var/spack/repos/builtin/packages/ecp-viz-sdk/package.py
Labels: dependencies, ecp, new-variants, variants

#13024 Add EasyBuild 4.0.0
  var/spack/repos/builtin/packages/easybuild/package.py
  var/spack/repos/builtin/packages/py-easybuild-easyblocks/package.py
  var/spack/repos/builtin/packages/py-easybuild-easyconfigs/package.py
  var/spack/repos/builtin/packages/py-easybuild-framework/package.py
Labels: new-version, python3

#13029 Update compilers.yaml location in Getting Started docs
  lib/spack/docs/getting_started.rst
Labels: compilers, configuration, documentation

#13025 Add py-flye 2.6
  var/spack/repos/builtin/packages/py-flye/package.py
Labels: new-version, python3

#13037 Update cctools to v7.0.18
  var/spack/repos/builtin/packages/cctools/package.py
Labels: new-version

#13019 fix ipykernel dependency, newer versions are python3-only
  var/spack/repos/builtin/packages/py-ipykernel/package.py
Labels: python3

#13041 ngmlr: add zlib dependency.
  var/spack/repos/builtin/packages/ngmlr/package.py
Labels: dependencies

#13040 muse: add zlib dependency.
  var/spack/repos/builtin/packages/muse/package.py
Labels: dependencies

#13034 metabat: Add zlib and ncurses dependency.
  var/spack/repos/builtin/packages/metabat/package.py
Labels: dependencies, update-package

#13033 liblbxutil: Add zlib dependency.
  var/spack/repos/builtin/packages/liblbxutil/package.py
Labels: dependencies

#13032 hapcut2: add zlib dependency.
  var/spack/repos/builtin/packages/hapcut2/package.py
Labels: dependencies

#13030 fastqvalidator: add zlib dependency and Removes erroneous deletes in Chromosome
  var/spack/repos/builtin/packages/fastqvalidator/chromosome.patch
  var/spack/repos/builtin/packages/fastqvalidator/package.py
Labels: dependencies, patch

#13031 graphmap: add zlib dependency.
  var/spack/repos/builtin/packages/graphmap/package.py
Labels: dependencies

#12876 boost: Use gcc toolset for bootstrap with Fujitsu compiler.
  var/spack/repos/builtin/packages/boost/package.py
Labels: fujitsu

#12889 fftw: simplify the recipe and make use of specific targets
  var/spack/repos/builtin/packages/fftw/package.py
Labels: microarchitectures, platform-support, update-package

#13039 migrate: add zlib dependency.
  var/spack/repos/builtin/packages/migrate/package.py
Labels: dependencies

#13052 superlu-dist: add openmp variant
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: new-variants

#13047 llvm: update link to the document explaining codesign
  var/spack/repos/builtin/packages/llvm/package.py
Labels: clang

#13054 grpc: new package
  var/spack/repos/builtin/packages/grpc/package.py
Labels: new-package

#13046 Fixed issue caused by a custom dotkit root present in config.yaml
  lib/spack/spack/main.py
  lib/spack/spack/test/config.py
Labels: bugfix, modules

#13043 Add procps package
  var/spack/repos/builtin/packages/procps/package.py
Labels: new-package

#13035 New package: cxxopts
  var/spack/repos/builtin/packages/cxxopts/package.py
Labels: new-package

#13042 expect: fix darwin install name
  var/spack/repos/builtin/packages/expect/package.py
Labels: linking, macOS, rpath

#12807 Package/fujitsu mpi
  var/spack/repos/builtin/packages/fujitsu-mpi/package.py
Labels: mpi

#12838 Consistently support pkg-config files in share subdirectory
  etc/spack/defaults/modules.yaml
  lib/spack/docs/environments.rst
  lib/spack/spack/environment.py
  lib/spack/spack/test/config.py
  lib/spack/spack/test/data/config/modules.yaml
  lib/spack/spack/test/environment_modifications.py
Labels: defaults, modules

#12515 doc: fix #12245 non-functional libdwarf dependency
  lib/spack/docs/features.rst
Labels: documentation

#11172 qt: help pick up dependencies
  var/spack/repos/builtin/packages/pcre2/package.py
  var/spack/repos/builtin/packages/qt/package.py
Labels: build-error

#13056 Add missing py-contextlib2
  var/spack/repos/builtin/packages/py-contextlib2/package.py
Labels: new-package

#12908 unrar: Add package
  var/spack/repos/builtin/packages/unrar/package.py
Labels: new-version

#13049 freeimage: new package
  var/spack/repos/builtin/packages/freeimage/install_fixes.patch
  var/spack/repos/builtin/packages/freeimage/package.py
Labels: new-package

#13058 gnuplot: add 5.2.7 and fix qt dep
  var/spack/repos/builtin/packages/gnuplot/package.py
  var/spack/repos/builtin/packages/qt/package.py
Labels: new-version

#12977 Added go 1.13.1 and 1.12.10
  var/spack/repos/builtin/packages/go/package.py
Labels: new-version, security

#13044 Add watch package
  var/spack/repos/builtin/packages/watch/package.py
Labels: new-package

#11372 Spack environments can concretize specs together
  lib/spack/docs/environments.rst
  lib/spack/spack/environment.py
  lib/spack/spack/schema/env.py
  lib/spack/spack/test/cmd/env.py
Labels: concretization, environments

#13066 py-apipkg: Fix mix up of checksums
  var/spack/repos/builtin/packages/py-apipkg/package.py
Labels: checksum

#13070 Add macOS Catalina support
  lib/spack/spack/operating_systems/mac_os.py
Labels: macOS

#13067 bump PMDK to v 1.7
  var/spack/repos/builtin/packages/pmdk/package.py
Labels: new-version

#13036 travis: bump python version for flake8 and build tests
  .travis.yml
Labels: travis

#13076 Add headsup note re cryptsetup patch for v2.2.2
  var/spack/repos/builtin/packages/cryptsetup/package.py
Labels: update-package

#13075 Added py-pamela package. Dependency of py-jupyterhub.
  var/spack/repos/builtin/packages/py-pamela/package.py
Labels: new-package

#13071 Build older openfoam
  var/spack/repos/builtin/packages/openfoam/1806-have-kahip.patch
  var/spack/repos/builtin/packages/openfoam/package.py
Labels: patch, update-package

#13077 Fixed hash of version .0.5 and added latest version (.0.7.1)
  var/spack/repos/builtin/packages/py-prometheus-client/package.py
Labels: checksum, new-version

#13069 QMCPACK Oct2019 fix buglets
  var/spack/repos/builtin/packages/qmcpack/package.py
Labels: new-variants

#13068 Added py-certipy package. Dependency of py-jupyterhub.
  var/spack/repos/builtin/packages/py-certipy/package.py
Labels: new-package

#13064 tabix: add zlib dependency.
  var/spack/repos/builtin/packages/tabix/package.py
Labels: dependencies

#13062 seqprep: add zlib dependency.
  var/spack/repos/builtin/packages/seqprep/package.py
Labels: dependencies

#13061 psmc: add zlib dependency.
  var/spack/repos/builtin/packages/psmc/package.py
Labels: dependencies

#13060 perl-perlio-gzip: add zlib dependency.
  var/spack/repos/builtin/packages/perl-perlio-gzip/package.py
Labels: dependencies

#13082 "No Spack mirror configured": demoted the warning to a debug message
  lib/spack/spack/binary_distribution.py
Labels: user-experience

#12717 mysql: Add missing dependencies
  var/spack/repos/builtin/packages/mysql/package.py
Labels: dependencies

#13109 qt: Add 5.13.1 and missing zlib flags
  var/spack/repos/builtin/packages/qt/package.py
Labels: new-version

#13081 Add new versions of py-maestrowf
  var/spack/repos/builtin/packages/py-maestrowf/package.py
Labels: new-version

#13079 Added latest versions to py-traitlets
  var/spack/repos/builtin/packages/py-traitlets/package.py
Labels: new-version

#13078 Added latest versions of SQLAlchemy 1.3.X, 1.2.X and 1.1.X
  var/spack/repos/builtin/packages/py-sqlalchemy/package.py
Labels: new-version

#13053 libfabric: new upstream release 1.8.1
  var/spack/repos/builtin/packages/libfabric/package.py
Labels: new-version

#13102 py-line-profiler: add 2.1.2, re-run cython if needed
  var/spack/repos/builtin/packages/py-line-profiler/package.py
Labels: new-version

#13080 Added new versions to py-tornado
  var/spack/repos/builtin/packages/py-tornado/package.py
Labels: new-version

#13116 hypre@2.18.0: add compatibility patch for petsc/mfem build failures
  var/spack/repos/builtin/packages/hypre/hypre21800-compat.patch
  var/spack/repos/builtin/packages/hypre/package.py
Labels: xSDK

#13098 Add sqlite 3.30.0
  var/spack/repos/builtin/packages/sqlite/package.py
Labels: new-version

#13097 ncurses: https -> http
  var/spack/repos/builtin/packages/ncurses/package.py
Labels: fetching

#13096 gdbm: https -> http
  var/spack/repos/builtin/packages/gdbm/package.py
Labels: fetching

#13095 Add readline 8.0
  var/spack/repos/builtin/packages/readline/package.py
Labels: new-version

#13094 Add pkgconf 1.6.3
  var/spack/repos/builtin/packages/pkgconf/package.py
Labels: new-version

#13093 Add latest Perl releases
  var/spack/repos/builtin/packages/perl/package.py
Labels: new-version

#13092 Add latest openssl releases
  var/spack/repos/builtin/packages/openssl/package.py
Labels: new-version

#13089 Add libsigsegv 2.12
  var/spack/repos/builtin/packages/libsigsegv/package.py
Labels: new-version

#13088 Add libiconv 1.16
  var/spack/repos/builtin/packages/libiconv/package.py
Labels: new-version

#13087 Add isl 0.21
  var/spack/repos/builtin/packages/isl/package.py
Labels: new-version

#13086 Add gettext 0.20.1
  var/spack/repos/builtin/packages/gettext/package.py
Labels: new-version

#13085 Add expat 2.2.9
  var/spack/repos/builtin/packages/expat/package.py
Labels: new-version

#13074 sublime-text: New version, adapt install process
  var/spack/repos/builtin/packages/sublime-text/package.py
Labels: new-version

#13099 Add tar 1.32
  var/spack/repos/builtin/packages/tar/package.py
Labels: new-version

#13091 Add mpfr 4.0.2
  var/spack/repos/builtin/packages/mpfr/package.py
Labels: new-version, patch

#13084 Add patches and missing dependency to bash
  var/spack/repos/builtin/packages/bash/package.py
Labels: dependencies, patch

#13113 ArchSpec: fix constraint satisfaction for targets
  lib/spack/spack/spec.py
  lib/spack/spack/test/spec_semantics.py
Labels: bugfix, impact-high, microarchitectures, platform-support

#13012 Added NEON to the list of features required for the aarch64 family
  lib/spack/llnl/util/cpu/microarchitectures.json
  lib/spack/spack/test/llnl/util/cpu.py
Labels: arm, microarchitectures, platform-support

#12857 Tests/bugfix: clean up build stage handling
  lib/spack/spack/config.py
  lib/spack/spack/stage.py
  lib/spack/spack/test/config.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/stage.py
Labels: bugfix, impact-medium, refactoring, stage, tests

#13123 Fix f18 install method
  var/spack/repos/builtin/packages/f18/package.py
Labels: update-package

#13125 Fixed constraints in recipes for packages that depends on fftw
  var/spack/repos/builtin/packages/abinit/package.py
  var/spack/repos/builtin/packages/accfft/package.py
  var/spack/repos/builtin/packages/libemos/package.py
  var/spack/repos/builtin/packages/relion/package.py
Labels: dependencies, update-package

#13188 Fixed options to compile generic code on ppc64 and ppc64le
  lib/spack/llnl/util/cpu/microarchitectures.json
Labels: bugfix, compilers, microarchitectures, platform-support, power

#13186 Autotools build system to patch config.guess based on a range check
  lib/spack/spack/build_systems/autotools.py
Labels: autotools, bugfix, microarchitectures, platform-support

#13193 Add adiak package, version 0.1.1
  var/spack/repos/builtin/packages/adiak/package.py
Labels: new-package

#12729 install command: add cache-only option
  lib/spack/spack/cmd/bootstrap.py
  lib/spack/spack/cmd/install.py
  lib/spack/spack/package.py
  lib/spack/spack/test/cmd/install.py
Labels: commands

#13144 Add utf8proc package
  var/spack/repos/builtin/packages/utf8proc/package.py
Labels: new-package

#13148 Add cmake 3.15.4
  var/spack/repos/builtin/packages/cmake/package.py
Labels: cmake, new-version

#13150 Add graphviz 2.42.2
  var/spack/repos/builtin/packages/graphviz/package.py
Labels: new-version

#13151 Add help2man 1.47.11
  var/spack/repos/builtin/packages/help2man/package.py
Labels: new-version

#13152 Add libjpeg-turbo 2.0.3
  var/spack/repos/builtin/packages/libjpeg-turbo/package.py
Labels: new-version

#13154 Add LLVM OpenMP 9.0.0
  var/spack/repos/builtin/packages/llvm-openmp/package.py
Labels: new-version

#13157 Add SCons 3.1.1
  var/spack/repos/builtin/packages/scons/package.py
Labels: new-version, scons

#13159 Fix valgrind concretization on macOS
  var/spack/repos/builtin/packages/valgrind/package.py
Labels: macOS

#13160 Add missing gettext dependency to watch
  var/spack/repos/builtin/packages/watch/package.py
Labels: dependencies

#13161 Add missing libiconv dependency to wget
  var/spack/repos/builtin/packages/wget/package.py
Labels: dependencies

#13162 Add py-atomicwrites 1.3.0
  var/spack/repos/builtin/packages/py-atomicwrites/package.py
Labels: new-version

#13164 Add missing test dependency to py-bottleneck
  var/spack/repos/builtin/packages/py-bottleneck/package.py
Labels: dependencies, tests

#13165 Add py-certifi 2019.9.11
  var/spack/repos/builtin/packages/py-certifi/package.py
Labels: new-version

#13168 Add py-importlib-metadata 0.23
  var/spack/repos/builtin/packages/py-importlib-metadata/package.py
Labels: new-version

#13172 Add py-numexpr 2.7.0
  var/spack/repos/builtin/packages/py-numexpr/package.py
Labels: new-version

#13173 Add py-packaging 19.2
  var/spack/repos/builtin/packages/py-packaging/package.py
Labels: new-version

#13174 Add py-pandas 0.25.1
  var/spack/repos/builtin/packages/py-pandas/package.py
Labels: new-version

#13176 Add py-pluggy 0.13.0
  var/spack/repos/builtin/packages/py-pluggy/package.py
Labels: new-version

#13181 Add py-pytest 5.2.1
  var/spack/repos/builtin/packages/py-pytest/package.py
Labels: new-version

#13184 Add py-setuptools 41.4.0
  var/spack/repos/builtin/packages/py-setuptools/package.py
Labels: new-version

#13197 Fix external numpy package support
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: external-packages

#13200 mpfr: fix make check on catalina
  var/spack/repos/builtin/packages/mpfr/package.py
Labels: tests

#13201 gmp: fix make check on catalina
  var/spack/repos/builtin/packages/gmp/package.py
Labels: tests

#13183 Add py-setuptools-scm 3.3.3
  var/spack/repos/builtin/packages/py-setuptools-scm/package.py
Labels: new-version

#13182 Add py-pytz 2019.3
  var/spack/repos/builtin/packages/py-pytz/package.py
Labels: new-version

#13180 Add py-pyparsing 2.4.2
  var/spack/repos/builtin/packages/py-pyparsing/package.py
Labels: new-version

#13179 Add py-pygments 2.4.2
  var/spack/repos/builtin/packages/py-pygments/package.py
Labels: new-version

#13178 Add py-pyflakes 2.1.1
  var/spack/repos/builtin/packages/py-pyflakes/package.py
Labels: new-version

#13177 Add py-py 1.8.0
  var/spack/repos/builtin/packages/py-py/package.py
Labels: new-version

#13175 Add py-pillow 6.2.0
  var/spack/repos/builtin/packages/py-pillow/package.py
Labels: new-version

#13171 Add py-more-itertools 7.2.0
  var/spack/repos/builtin/packages/py-more-itertools/package.py
Labels: new-version

#13169 Add py-joblib 0.14.0
  var/spack/repos/builtin/packages/py-joblib/package.py
Labels: new-version

#13167 Add py-docutils 0.15.2
  var/spack/repos/builtin/packages/py-docutils/package.py
Labels: new-version

#13166 Add py-cython 0.29.13
  var/spack/repos/builtin/packages/py-cython/package.py
Labels: new-version
