Repository spack/spack, pull requests merged in 2019-11, with the labels that each got.

#13530 elpa: prefer 2016.05.004 until sse/avx/avx2 configure phase issues ar…
  var/spack/repos/builtin/packages/elpa/package.py
Labels: update-package

#13513 Spack prints a warning message before downgrading targets
  lib/spack/spack/concretize.py
  lib/spack/spack/test/concretize.py
Labels: compilers, microarchitectures, platform-support, user-experience

#13521 Specs with quoted flags containing spaces are parsed correctly
  lib/spack/spack/cmd/__init__.py
  lib/spack/spack/test/cmd/common/arguments.py
Labels: bugfix, specs

#13490 use utf-8 for encoding in sbang patching, fixes issue #13489
  lib/spack/spack/hooks/sbang.py
Labels: python3

#13488 fix issue where spack.util.url.join() failed to correctly handle absolute path components
  lib/spack/spack/test/util/util_url.py
  lib/spack/spack/util/url.py
  lib/spack/spack/util/web.py
Labels: url-parsing

#13430 allow bootstrap buildcache install of patchelf
  lib/spack/spack/relocate.py
  lib/spack/spack/test/relocate.py
Labels: buildcache

#13471 libxc: download from gitlab
  var/spack/repos/builtin/packages/libxc/configure_add_fj.patch
  var/spack/repos/builtin/packages/libxc/package.py
Labels: fetching, patch

#13536 Add py-tables 3.6.1
  var/spack/repos/builtin/packages/py-tables/package.py
Labels: new-version

#13523 environments: make shell modifications partially unconditional
  lib/spack/spack/environment.py
  lib/spack/spack/test/cmd/env.py
Labels: environments

#13547 spack create: http -> https
  lib/spack/spack/cmd/create.py
Labels: commands

#13500 chgcentre: a new package.
  var/spack/repos/builtin/packages/chgcentre/package.py
Labels: new-package, ready

#13549 Add QNNPACK package
  var/spack/repos/builtin/packages/py-torch/package.py
  var/spack/repos/builtin/packages/qnnpack/package.py
Labels: new-package

#13551 Add latest version of protobuf
  var/spack/repos/builtin/packages/protobuf/package.py
Labels: new-version

#13548 constexpr_longdouble.patch should be applied to v6 too
  var/spack/repos/builtin/packages/llvm/package.py
Labels: patch

#13520 Update package saga gis
  var/spack/repos/builtin/packages/saga-gis/package.py
Labels: new-variants, new-version, update-package

#13519 Added dependencies
  var/spack/repos/builtin/packages/vtk/package.py
Labels: dependencies

#13459 New package py-wradlib with new dependencies
  var/spack/repos/builtin/packages/py-deprecation/package.py
  var/spack/repos/builtin/packages/py-semver/package.py
  var/spack/repos/builtin/packages/py-wradlib/package.py
  var/spack/repos/builtin/packages/py-xarray/package.py
  var/spack/repos/builtin/packages/py-xmltodict/package.py
Labels: new-package, new-version

#13399 Polymake: new version and more dependencies
  var/spack/repos/builtin/packages/perl-term-readline-gnu/package.py
  var/spack/repos/builtin/packages/perl-xml-libxslt/package.py
  var/spack/repos/builtin/packages/polymake/package.py
  var/spack/repos/builtin/packages/ppl/package.py
Labels: dependencies, new-package, new-version

#13546 environments: only write when necessary
  lib/spack/spack/cmd/release_jobs.py
  lib/spack/spack/environment.py
  lib/spack/spack/schema/env.py
  lib/spack/spack/test/cmd/env.py
Labels: configuration, environments

#13131 r-gstat: new package at 2.0-3
  var/spack/repos/builtin/packages/r-gstat/package.py
Labels: new-package

#13457 Add py-voluptuous
  var/spack/repos/builtin/packages/py-voluptuous/package.py
Labels: new-package

#13545 Fix issue where fetch failed to prefer local mirrors over public remote resources
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/stage.py
  lib/spack/spack/util/web.py
Labels: fetching, mirrors

#13552 Add latest version of py-pybind11
  var/spack/repos/builtin/packages/py-pybind11/package.py
Labels: new-version

#13199 Flux v0.11.1 - v0.11.3
  var/spack/repos/builtin/packages/flux-core/package.py
  var/spack/repos/builtin/packages/flux-sched/package.py
Labels: new-version

#13533 py-astor: specify py-setuptools versions as build fail with latest version
  var/spack/repos/builtin/packages/py-astor/package.py
Labels: dependencies

#13556 Add ACTS v0.10.5
  var/spack/repos/builtin/packages/acts-core/package.py
Labels: new-version

#13568 new package: py-umalqurra
  var/spack/repos/builtin/packages/py-umalqurra/package.py
Labels: new-package

#13567 new package: py-chai
  var/spack/repos/builtin/packages/py-chai/package.py
Labels: new-package

#13565 py-tzlocal: add new version 2.0.0
  var/spack/repos/builtin/packages/py-tzlocal/package.py
Labels: new-version

#13564 py-dataclasses: new package
  var/spack/repos/builtin/packages/py-dataclasses/package.py
Labels: new-package

#13563 py-regex: new version 2019.11.1, w/o setuptools
  var/spack/repos/builtin/packages/py-regex/package.py
Labels: new-version

#13562 py-colorama: new version 0.4.1
  var/spack/repos/builtin/packages/py-colorama/package.py
Labels: new-version

#13558 portage: fix lapack/blas linkage
  var/spack/repos/builtin/packages/portage/package.py
Labels: blas-lapack-scalapack

#13577 added archer 2.0.0 and package build fixes
  var/spack/repos/builtin/packages/archer/package.py
Labels: dependencies, new-version, update-package

#13580 Mothur update
  var/spack/repos/builtin/packages/mothur/package.py
Labels: new-variants, new-version

#13425 update py-jupyter-client and new setuptools dependency
  var/spack/repos/builtin/packages/py-jupyter-client/package.py
Labels: new-version

#13420 update py-pyzmq
  var/spack/repos/builtin/packages/py-pyzmq/package.py
Labels: new-version

#13417 new package py-testpath
  var/spack/repos/builtin/packages/py-testpath/package.py
Labels: new-package

#13578 binary distribution: relocate text files properly in relative binaries
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/relocate.py
  var/spack/repos/builtin/packages/perl/package.py
Labels: binary-packages

#13596 `spack find` now displays variants and other spec constraints
  lib/spack/spack/cmd/__init__.py
  lib/spack/spack/cmd/find.py
  lib/spack/spack/test/cmd/env.py
Labels: commands, environments

#13598 bugfix: uninstall should find concrete specs by DAG hash
  lib/spack/spack/environment.py
Labels: environments, hashes

#13539 added relion 3.0.8 [latest stable version in 3.0 branch] as well as 3.1_beta
  var/spack/repos/builtin/packages/relion/package.py
Labels: new-version

#13593 new package: py-identify
  var/spack/repos/builtin/packages/py-identify/package.py
Labels: new-package

#13592 new package py-cfgv
  var/spack/repos/builtin/packages/py-cfgv/package.py
Labels: new-package

#13423 update py-notebook
  var/spack/repos/builtin/packages/py-notebook/package.py
Labels: new-version

#13571 new package: py-nose-cov
  var/spack/repos/builtin/packages/py-nose-cov/package.py
Labels: new-package

#13595 add depends_on(python) to PythonPackage stub
  lib/spack/spack/cmd/create.py
Labels: commands, user-experience

#13588 PyTorch: avoid use of third party vendored deps
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: vendored-dependencies

#13602 elpa: add v 2019.05.002
  var/spack/repos/builtin/packages/elpa/package.py
Labels: new-version

#13600 netcdf: fix headers in v4.7.2
  var/spack/repos/builtin/packages/netcdf-c/package.py
Labels: patch

#13601 mpi4py 3.0.3
  var/spack/repos/builtin/packages/py-mpi4py/package.py
Labels: mpi, new-version, python3

#13603 Add GDAL 3.0.2
  var/spack/repos/builtin/packages/gdal/package.py
Labels: new-version

#13599 add charliecloud 0.12
  var/spack/repos/builtin/packages/charliecloud/package.py
Labels: new-version

#13576 new package: py-ics
  var/spack/repos/builtin/packages/py-ics/package.py
Labels: new-package

#13605 pybind11: correct get_include path
  var/spack/repos/builtin/packages/py-pybind11/package.py
Labels: bug, python3, update-package

#13591 new package: py-aspy-yaml
  var/spack/repos/builtin/packages/py-aspy-yaml/package.py
Labels: new-package

#13570 new package: py-pre-commit
  var/spack/repos/builtin/packages/py-pre-commit/package.py
Labels: new-package

#13572 new package: py-pymeeus
  var/spack/repos/builtin/packages/py-pymeeus/package.py
Labels: new-package

#13614 cdo: Fix with_or_without calls
  var/spack/repos/builtin/packages/cdo/package.py
Labels: update-package

#13566 py-tatsu: new package
  var/spack/repos/builtin/packages/py-tatsu/package.py
Labels: new-package

#13594 new package: py-nodeenv
  var/spack/repos/builtin/packages/py-nodeenv/package.py
Labels: new-package

#13574 new package: py-dateparser
  var/spack/repos/builtin/packages/py-dateparser/package.py
Labels: new-package

#13617 gromacs: add v2019.4 and others
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: new-version

#13615 ncview: Fix dependency check
  var/spack/repos/builtin/packages/ncview/package.py
Labels: update-package

#13569 new package: py-jdatetime
  var/spack/repos/builtin/packages/py-jdatetime/package.py
Labels: new-package

#13424 py-jupyter-core add new version and setuptools dependency
  var/spack/repos/builtin/packages/py-jupyter-core/package.py
Labels: new-version

#13623 m4: fixed macOS version identification on patch
  var/spack/repos/builtin/packages/m4/package.py
Labels: macOS, patch

#13628 bam-readcount: a new package.
  var/spack/repos/builtin/packages/bam-readcount/package.py
Labels: new-package

#13621 Speed up PyTorch build
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: performance, update-package

#13573 new package: py-convertdate
  var/spack/repos/builtin/packages/py-convertdate/package.py
Labels: new-package

#13561 (py)arrow: new versions
  var/spack/repos/builtin/packages/arrow/package.py
  var/spack/repos/builtin/packages/py-pyarrow/package.py
Labels: new-version

#13629 PyTorch: Add 1.3.1
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: new-version

#13630 elmerfem: add devel branch
  var/spack/repos/builtin/packages/elmerfem/package.py
Labels: new-version

#13613 py-pyside: fix setup files to support python 3.5.
  var/spack/repos/builtin/packages/py-pyside/package.py
Labels: build-error, patch, python3

#13626 bugfix: mirror path works for nonexisting versions
  lib/spack/spack/mirror.py
  lib/spack/spack/test/mirror.py
Labels: fetching, mirrors, versions

#13632 Balay/ginkgo 1.1.0
  var/spack/repos/builtin/packages/ginkgo/package.py
Labels: conflicts, new-version, xSDK

#13581 New package: py-jaraco-functools
  var/spack/repos/builtin/packages/py-jaraco-functools/package.py
Labels: new-package

#13619 New package: py-uwsgi
  var/spack/repos/builtin/packages/py-uwsgi/package.py
Labels: new-package

#13582 new package: py-tempora
  var/spack/repos/builtin/packages/py-tempora/package.py
Labels: new-package

#13631 llvm: fix PythonString::GetString for >=python-3.7
  var/spack/repos/builtin/packages/llvm/llvm_py37.patch
  var/spack/repos/builtin/packages/llvm/package.py
Labels: patch, python3

#13644 precice: add compiler conflicts
  var/spack/repos/builtin/packages/precice/package.py
Labels: xSDK

#13503 Timemory
  var/spack/repos/builtin/packages/timemory/package.py
Labels: new-package

#13642 fluxbox: fix the comparison method with zero.
  var/spack/repos/builtin/packages/fluxbox/fix_zero_comparison.patch
  var/spack/repos/builtin/packages/fluxbox/package.py
Labels: patch

#13641 openPMD-api: JSON Always On
  var/spack/repos/builtin/packages/openpmd-api/package.py
Labels: dependencies, update-package

#13651 py-torchvision: add 0.4.2
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: new-version

#13587 New Package: py-cherrypy
  var/spack/repos/builtin/packages/py-cherrypy/package.py
Labels: new-package

#13585 new package: py-zc-buildout
  var/spack/repos/builtin/packages/py-zc-buildout/package.py
Labels: new-package

#13584 New Package py-portend
  var/spack/repos/builtin/packages/py-portend/package.py
Labels: new-package

#13653 update openfoam versions, sha256 values and download directory
  var/spack/repos/builtin/packages/openfoam/package.py
Labels: new-version

#13654 graphviz: Fix patch URL
  var/spack/repos/builtin/packages/graphviz/package.py
Labels: fetching, patch

#13652 Fix visit+
  var/spack/repos/builtin/packages/visit/package.py
  var/spack/repos/builtin/packages/visit/parallel-hdf5.patch
  var/spack/repos/builtin/packages/vtk/package.py
Labels: build-error, update-package

#13660 hpx: fix incompatible cxxstd with boost and compiling tests
  var/spack/repos/builtin/packages/hpx/package.py
Labels: concretization

#13647 New Package: py-pyside2
  var/spack/repos/builtin/packages/py-pyside2/package.py
Labels: new-package

#13664 Add grass 7.8.1
  var/spack/repos/builtin/packages/grass/package.py
Labels: new-version

#13663 Add py-scipy 1.3.2
  var/spack/repos/builtin/packages/py-scipy/package.py
Labels: new-version

#13667 Update default PyTorch variants
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: defaults, variants

#13666 Improve spack checksum formatting
  lib/spack/spack/cmd/checksum.py
  lib/spack/spack/stage.py
Labels: commands

#13672 nlohmann-json 3.7.2
  var/spack/repos/builtin/packages/nlohmann-json/package.py
Labels: new-version

#13671 Add CMake 3.13.5
  var/spack/repos/builtin/packages/cmake/package.py
Labels: new-version

#13670 Add py-numpy 1.17.4
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: new-version

#13589 Don't read Python env unless it is installed
  lib/spack/spack/environment.py
Labels: environments, python

#13676 fix x86_64 arch check in pmdk package
  var/spack/repos/builtin/packages/pmdk/package.py
Labels: update-package

#13661 Update ButterflyPACK and STRUMPACK
  var/spack/repos/builtin/packages/butterflypack/package.py
  var/spack/repos/builtin/packages/strumpack/package.py
Labels: new-version, xSDK

#13674 new CDO release 1.9.8
  var/spack/repos/builtin/packages/cdo/package.py
Labels: new-version

#13683 py-scikit-learn: update OpenMP flag
  var/spack/repos/builtin/packages/py-scikit-learn/package.py
Labels: openmp

#13669 Add new version of Intel MKL-DNN
  var/spack/repos/builtin/packages/intel-mkl-dnn/package.py
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: new-version

#13668 cuDNN: add new versions
  var/spack/repos/builtin/packages/cudnn/package.py
Labels: new-version

#13616 Add HPE MPT package
  var/spack/repos/builtin/packages/mpt/package.py
Labels: mpi, new-package

#13687 added lcov package
  var/spack/repos/builtin/packages/lcov/package.py
Labels: new-package

#13680 SIRIUS: add new version, etc.
  var/spack/repos/builtin/packages/sirius/package.py
Labels: dependencies, new-variants, new-version

#13656 verify.py: os.path.exists exception handling
  lib/spack/spack/verify.py
Labels: bugfix

#13665 sundial: add patch for build failure on cori/theta
  var/spack/repos/builtin/packages/sundials/FindPackageMultipass.cmake.patch
  var/spack/repos/builtin/packages/sundials/package.py
Labels: build-error, xSDK

#13690 trilinos: add version 12.18.1 with dtk-3.1
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: new-version, xSDK

#13696 preCICE: Enable PETSc by default
  var/spack/repos/builtin/packages/precice/package.py
Labels: xSDK

#13677 athena, mvapich2, spectrum-mpi: use new API to setup environment
  var/spack/repos/builtin/packages/athena/package.py
  var/spack/repos/builtin/packages/mvapich2/package.py
  var/spack/repos/builtin/packages/spectrum-mpi/package.py
Labels: update-package

#13688 Update nlopt package to add Python bindings to PYTHONPATH
  var/spack/repos/builtin/packages/nlopt/package.py
Labels: python

#13699 Fixing Fortran MPI compiler reference in mpt package
  var/spack/repos/builtin/packages/mpt/package.py
Labels: mpi, update-package

#13694 damselfly: Add mpi dependency.
  var/spack/repos/builtin/packages/damselfly/package.py
Labels: dependencies

#13693 Fixed url. url="https://sourceware.org/pub/libffi/libffi-3.2.1.tar.…
  var/spack/repos/builtin/packages/libffi/package.py
Labels: fetching

#13692 Add missing dependencies to flex.
  var/spack/repos/builtin/packages/flex/package.py
Labels: dependencies

#13681 add new version 1.9.2 for py-ranger-fm
  var/spack/repos/builtin/packages/py-ranger-fm/package.py
  var/spack/repos/builtin/packages/py-ranger/package.py
Labels: new-version

#13708 docs: use nicer looking code blocks in docs
  lib/spack/docs/conf.py
Labels: documentation

#13703 strumpack: revert default to ~shared
  var/spack/repos/builtin/packages/strumpack/package.py
Labels: update-package

#13657 root: relax libxml2 requirements when ~python.
  var/spack/repos/builtin/packages/root/package.py
Labels: dependencies, python, update-package

#13702 superlu_dist: fix build with xl compilers
  var/spack/repos/builtin/packages/superlu-dist/package.py
  var/spack/repos/builtin/packages/superlu-dist/xl-611.patch
Labels: build-error, xSDK

#13236 Update MVAPICH2 package for 2.3.2 release
  var/spack/repos/builtin/packages/mvapich2/package.py
Labels: mpi, new-version

#12624 new package: sfcgal
  var/spack/repos/builtin/packages/sfcgal/package.py
Labels: new-package

#13701 Docs update for deprecated `spack sha256`
  lib/spack/docs/packaging_guide.rst
Labels: documentation

#13717 Fix mgis package dependency on boost/numpy
  var/spack/repos/builtin/packages/mgis/package.py
Labels: dependencies

#13706 Papi components
  var/spack/repos/builtin/packages/papi/package.py
Labels: new-variants

#13723 Add Caliper v2.2.0 and v2.1.1
  var/spack/repos/builtin/packages/caliper/package.py
Labels: new-version, update-package

#13705 Added "file" package and added missing depenency to VIM
  var/spack/repos/builtin/packages/file/package.py
  var/spack/repos/builtin/packages/gmake/package.py
  var/spack/repos/builtin/packages/grep/package.py
  var/spack/repos/builtin/packages/gzip/package.py
  var/spack/repos/builtin/packages/vim/package.py
  var/spack/repos/builtin/packages/which/package.py
Labels: dependencies, new-package

#13710 Binary packaging: correct relative symlinks
  lib/spack/spack/relocate.py
Labels: binary-packages

#13720 Fix libbsd build on Intel compilers
  var/spack/repos/builtin/packages/libbsd/local-elf.h.patch
  var/spack/repos/builtin/packages/libbsd/package.py
Labels: build-error, intel, new-version, patch

#13715 Adding final bug-releases for the gromacs-2016 and -2018 and Plumed
  var/spack/repos/builtin/packages/gromacs/package.py
  var/spack/repos/builtin/packages/plumed/package.py
Labels: new-version

#13721 package/geopm: Added versions 1.0.0 and 1.1.0
  var/spack/repos/builtin/packages/geopm/package.py
Labels: new-version

#12793 new package Qscintilla (with python bindings via py-pyqt )
  var/spack/repos/builtin/packages/py-pyqt4/package.py
  var/spack/repos/builtin/packages/py-pyqt5/package.py
  var/spack/repos/builtin/packages/qscintilla/package.py
Labels: new-package

#13731 hwloc: added 'master' version pointing at the HEAD of the master branch
  var/spack/repos/builtin/packages/hwloc/package.py
Labels: new-version

#13727 Binary packaging: correct relative symlinks
  lib/spack/spack/relocate.py
Labels: binary-packages

#13736 update vsearch
  var/spack/repos/builtin/packages/vsearch/package.py
Labels: new-version

#13739 Update DMTCP package to v2.6.0
  var/spack/repos/builtin/packages/dmtcp/package.py
Labels: new-version

#13737 update to v0.6.4
  var/spack/repos/builtin/packages/trimgalore/package.py
Labels: new-version

#13735 add boost dependency to stat package
  var/spack/repos/builtin/packages/stat/package.py
Labels: dependencies

#13712 py-matplotlib only needs backports when ^python@:2
  var/spack/repos/builtin/packages/py-enum34/package.py
  var/spack/repos/builtin/packages/py-matplotlib/package.py
  var/spack/repos/builtin/packages/py-multiqc/package.py
Labels: dependencies

#13729 Mark conflicts between newer packages and Intel 14 compilers
  var/spack/repos/builtin/packages/bison/package.py
  var/spack/repos/builtin/packages/cmake/package.py
  var/spack/repos/builtin/packages/icu4c/package.py
  var/spack/repos/builtin/packages/nasm/package.py
Labels: build-error, conflicts, intel

#13713 z3: bugfix about python dependency and fallthrough annotation.
  var/spack/repos/builtin/packages/z3/fix_1016_1.patch
  var/spack/repos/builtin/packages/z3/fix_1016_2.patch
  var/spack/repos/builtin/packages/z3/package.py
Labels: python

#13682 xsdk 0.5.0
  var/spack/repos/builtin/packages/alquimia/package.py
  var/spack/repos/builtin/packages/pflotran/package.py
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: new-version, xSDK

#12270 Document use of the maintainers field
  lib/spack/docs/packaging_guide.rst
  lib/spack/spack/cmd/create.py
Labels: documentation

#13734 hwloc: added 'master' version pointing at the HEAD of the master branch
  var/spack/repos/builtin/packages/hwloc/package.py
Labels: new-version, releases

#13755 Fix for issue #13754
  lib/spack/spack/relocate.py
Labels: binary-packages, bug, buildcache
