Repository spack/spack, pull requests merged in 2019-07, with the labels that each got.

#11893 py-netcdf4: depend on hdf5+hl
  var/spack/repos/builtin/packages/py-netcdf4/package.py
Labels: dependencies, update-package

#11904 ADIOS2: v2.4.0
  var/spack/repos/builtin/packages/adios2/package.py
Labels: new-version

#11902 planck-likelihood: remove -m64 on ARM
  var/spack/repos/builtin/packages/planck-likelihood/arm.patch
  var/spack/repos/builtin/packages/planck-likelihood/package.py
Labels: arm, build-error, platform-support, update-package

#11909 mpich: wrapperrpath variant allows disablement of RPATH usage in mpicc
  var/spack/repos/builtin/packages/mpich/package.py
Labels: containers, mpi, rpath

#11906 cray: use the cle-release file to determine CNL version
  lib/spack/spack/operating_systems/cnl.py
  lib/spack/spack/test/operating_system.py
Labels: cray

#10206 refactor: remove parse_anonymous_spec() method
  lib/spack/spack/directives.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/directives.py
  lib/spack/spack/test/patch.py
  lib/spack/spack/test/spec_semantics.py
  lib/spack/spack/test/spec_syntax.py
  var/spack/repos/builtin.mock/packages/when-directives-false/package.py
  var/spack/repos/builtin.mock/packages/when-directives-true/package.py
Labels: directives, refactoring, specs

#11876 CONFIG: openfoam package renaming
  etc/spack/defaults/packages.yaml
  var/spack/repos/builtin/packages/foam-extend/package.py
  var/spack/repos/builtin/packages/of-adios-write/package.py
  var/spack/repos/builtin/packages/of-catalyst/package.py
  var/spack/repos/builtin/packages/of-precice/package.py
  var/spack/repos/builtin/packages/openfoam-com/common/README
  var/spack/repos/builtin/packages/openfoam-org/package.py
  var/spack/repos/builtin/packages/openfoam/1612-spack-patches.patch
  var/spack/repos/builtin/packages/openfoam/1806-have-kahip.patch
  var/spack/repos/builtin/packages/openfoam/common/README
  var/spack/repos/builtin/packages/openfoam/common/README-spack
  var/spack/repos/builtin/packages/openfoam/common/change-sitedir.sh
  var/spack/repos/builtin/packages/openfoam/common/change-userdir.sh
  var/spack/repos/builtin/packages/openfoam/common/spack-Allwmake
  var/spack/repos/builtin/packages/openfoam/common/spack-derived-Allwmake
  var/spack/repos/builtin/packages/openfoam/package.py
Labels: virtual-dependencies

#11905 portcullis: remove -m64 on aarch64.
  var/spack/repos/builtin/packages/portcullis/package.py
Labels: arm, build-error, platform-support, update-package

#11894 py-pyke: new package
  var/spack/repos/builtin/packages/py-pyke/package.py
Labels: new-package, python, python3

#11711 turbine: Better auto-detection of R location
  var/spack/repos/builtin/packages/turbine/package.py
Labels: R

#11926 coverage: remove sub-reports; only show project/patch on PRs
  .codecov.yml
Labels: coverage

#11928 Set ignore files for py-reportlab
  var/spack/repos/builtin/packages/py-reportlab/package.py
Labels: extensions, update-package

#11903 jdk: Add JDK 12.0.1
  var/spack/repos/builtin/packages/jdk/package.py
Labels: java, new-version

#11940 bugfix: always generate a stack trace when spack is run with --debug
  lib/spack/spack/main.py
Labels: debugging, error-messages

#11933 travis: the sudo tag is now deprecated
  .travis.yml
Labels: travis

#11947 bugfix: conflicts should print out the spec that has the conflict
  lib/spack/spack/spec.py
Labels: conflicts, specs

#11899 diffsplice: remove -m64 on ARM.
  var/spack/repos/builtin/packages/diffsplice/package.py
Labels: arm, platform-support, update-package

#11975 bzip2: Add 1.0.7
  var/spack/repos/builtin/packages/bzip2/package.py
Labels: new-version

#11976 mpich: Add 3.3.1
  var/spack/repos/builtin/packages/mpich/package.py
Labels: mpi, new-version

#11806 Rename build logs (#11781)
  lib/spack/docs/tutorial_advanced_packaging.rst
  lib/spack/docs/tutorial_packaging.rst
  lib/spack/spack/build_environment.py
  lib/spack/spack/directory_layout.py
  lib/spack/spack/package.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/cmd/install.py
  lib/spack/spack/test/directory_layout.py
  lib/spack/spack/test/install.py
  var/spack/repos/builtin/packages/foam-extend/package.py
  var/spack/repos/builtin/packages/mathematica/package.py
  var/spack/repos/builtin/packages/openfoam-org/package.py
  var/spack/repos/builtin/packages/openfoam/package.py
  var/spack/repos/builtin/packages/picard/package.py
Labels: build

#11988 test: Extra possible-dependencies coverage check
  lib/spack/spack/test/package_class.py
Labels: build, tests

#11974 bowtie2: Add version 2.5.3.1 and fix to build on ARM
  var/spack/repos/builtin/packages/bowtie2/package.py
Labels: new-version, platform-support

#11999 update scalasca to version 2.5
  var/spack/repos/builtin/packages/scalasca/package.py
Labels: new-version

#11945 bugfix: show dot after namespaces in `spack find -N`
  lib/spack/spack/cmd/__init__.py
  lib/spack/spack/test/cmd/find.py
Labels: commands

#11994 bugfix: setup-env.sh detects bash even when bash is run as sh
  share/spack/setup-env.sh
Labels: shell-support

#11996 Fix pic_flag and test contents about Fujitsu compiler.
  lib/spack/spack/compilers/fj.py
  lib/spack/spack/test/compilers.py
Labels: compilers

#11990 Update libensemble
  var/spack/repos/builtin/packages/py-libensemble/package.py
Labels: new-version

#11997 jdk: Add the 'provides' call
  var/spack/repos/builtin/packages/jdk/package.py
Labels: java, virtual-dependencies

#11970 tests: Add template creation test
  lib/spack/spack/cmd/create.py
  lib/spack/spack/test/cmd/create.py
  share/spack/spack-completion.bash
Labels: tests

#12000 new package: umap
  var/spack/repos/builtin/packages/umap/package.py
Labels: new-package

#11786 Copy --{use,no}-cache from install to bootstrap
  lib/spack/spack/cmd/bootstrap.py
  share/spack/spack-completion.bash
Labels: commands

#11693 r: add rmath variant for standalone rmath library
  var/spack/repos/builtin/packages/r/package.py
Labels: R

#12009 Add py-jsonschema 2.6.0
  var/spack/repos/builtin/packages/py-jsonschema/package.py
Labels: new-version

#12017 bzip2: Add 1.0.8
  var/spack/repos/builtin/packages/bzip2/package.py
Labels: new-version

#12016 make cfitsio explicitly depend on curl
  var/spack/repos/builtin/packages/cfitsio/package.py
Labels: dependencies

#12018 gdb: add version 8.3
  var/spack/repos/builtin/packages/gdb/package.py
Labels: new-version

#11961 py-basemap: install without egg
  var/spack/repos/builtin/packages/py-basemap/package.py
Labels: python

#12013 fetching: computation.llnl.gov is now computing.llnl.gov
  var/spack/repos/builtin/packages/amg/package.py
  var/spack/repos/builtin/packages/amg2013/package.py
  var/spack/repos/builtin/packages/hypre/package.py
  var/spack/repos/builtin/packages/kripke/package.py
  var/spack/repos/builtin/packages/laghos/package.py
  var/spack/repos/builtin/packages/lcals/package.py
  var/spack/repos/builtin/packages/lulesh/package.py
  var/spack/repos/builtin/packages/macsio/package.py
  var/spack/repos/builtin/packages/samrai/package.py
  var/spack/repos/builtin/packages/scr/package.py
  var/spack/repos/builtin/packages/spindle/package.py
  var/spack/repos/builtin/packages/sundials/package.py
  var/spack/repos/builtin/packages/xbraid/package.py
  var/spack/repos/builtin/packages/zfp/package.py
Labels: fetching, update-package

#11977 spack uninstall can uninstall specs with multiple roots
  lib/spack/spack/cmd/uninstall.py
  lib/spack/spack/test/cmd/uninstall.py
Labels: bug, pkg-database, specs

#11697 Add auto-dispatch specification to Intel packages
  lib/spack/spack/build_systems/intel.py
  var/spack/repos/builtin/packages/intel-parallel-studio/package.py
  var/spack/repos/builtin/packages/intel/package.py
Labels: intel

#11827 boost: use clang toolset when building with Fujitsu compiler.
  var/spack/repos/builtin/packages/boost/package.py
Labels: arm, clang, fujitsu

#12028 Fix typo in module template
  share/spack/templates/modules/modulefile.tcl
Labels: modules

#12025 Added HPX version 1.3.0.
  var/spack/repos/builtin/packages/hpx/package.py
Labels: new-version

#12023 Add JUBE package definition
  var/spack/repos/builtin/packages/jube/package.py
Labels: new-package

#12024 qt: fix patch checksum
  var/spack/repos/builtin/packages/qt/package.py
Labels: checksum

#12030 bugfix: fix module() function in setup-env.sh
  share/spack/setup-env.sh
Labels: bug, modules, priority-low, shell-support

#12032 coverage: restore status updates on PRs
  .codecov.yml
Labels: coverage, travis

#10753 Ignore Modules v4 environment variables in `from_sourcing_file`
  lib/spack/spack/test/data/sourceme_unset.sh
  lib/spack/spack/test/environment_modifications.py
  lib/spack/spack/util/environment.py
Labels: modules

#12035 package mutationpp: add new version: 1.0.0
  var/spack/repos/builtin/packages/mutationpp/package.py
Labels: new-version

#12033 r: set FPICFLAGS for compilers except 'gcc'
  var/spack/repos/builtin/packages/r/package.py
Labels: R

#12038 py-pandas: add 0.24.2
  var/spack/repos/builtin/packages/py-pandas/package.py
Labels: new-version

#12040 Added url_for_version to python/package.py
  var/spack/repos/builtin/packages/python/package.py
Labels: fetching, python

#11839 Cmake/add option for fujitsu compiler
  var/spack/repos/builtin/packages/cmake/package.py
Labels: cmake, compilers, priority-medium

#12043 package opencoarrays: add new version: 2.7.1
  var/spack/repos/builtin/packages/opencoarrays/package.py
Labels: new-version

#12041 kim-api 2.1.0
  var/spack/repos/builtin/packages/kim-api/package.py
Labels: new-version

#11971 tests: uninstall_by_spec error and rpath_args tests
  lib/spack/spack/test/install.py
  lib/spack/spack/test/packages.py
Labels: build, tests

#12048 Add support for .txz and .tbz2 file extensions
  lib/spack/spack/test/url_parse.py
  lib/spack/spack/url.py
  lib/spack/spack/util/compression.py
  var/spack/repos/builtin/packages/kim-api/package.py
  var/spack/repos/builtin/packages/openkim-models/package.py
Labels: fetching, tests

#11496 Fix scikit-learn build with Apple clang
  var/spack/repos/builtin/packages/llvm-openmp-ompt/package.py
  var/spack/repos/builtin/packages/llvm-openmp/package.py
  var/spack/repos/builtin/packages/ompt-openmp/package.py
  var/spack/repos/builtin/packages/py-scikit-learn/package.py
Labels: clang, new-version

#12046 add charliecloud v0.10
  var/spack/repos/builtin/packages/charliecloud/package.py
Labels: new-version

#12036 update web site and git url for BMI package
  var/spack/repos/builtin/packages/bmi/package.py
Labels: fetching

#12039 py-mlxtend: new package at 0.16.0
  var/spack/repos/builtin/packages/py-mlxtend/package.py
Labels: new-package

#12050 Workaround for #9149
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: bug, external-packages

#12055 added version 3.1.3 of PMIx
  var/spack/repos/builtin/packages/pmix/package.py
Labels: new-version

#12054 pkg PRRTE: added version 1.0.0
  var/spack/repos/builtin/packages/prrte/package.py
Labels: new-version

#12057 Add master version to sklearn
  var/spack/repos/builtin/packages/py-scikit-learn/package.py
Labels: new-version

#12058 cmake: add version 3.15.0
  var/spack/repos/builtin/packages/cmake/package.py
Labels: new-version

#10881 libxpm: cope with system gettext if configured.
  var/spack/repos/builtin/packages/libxpm/package.py
Labels: bug, external-packages

#12044 leveldb: add 1.22
  var/spack/repos/builtin/packages/leveldb/package.py
Labels: new-version

#11995 Fix #11240
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/directory_layout.py
Labels: permissions, priority-high, stage

#12051 Package inheritance: Find patch files defined in parent classes using MRO
  lib/spack/spack/patch.py
  lib/spack/spack/test/packages.py
  lib/spack/spack/test/patch.py
  var/spack/repos/builtin.mock/packages/patch-inheritance/package.py
Labels: patch, repos

#11942 environments: activate/deactivate tests, support `set -u`
  lib/spack/spack/environment.py
  lib/spack/spack/test/cmd/env.py
  share/spack/qa/setup-env-test.sh
Labels: environments, shell-support

#11910 allow multiple compiler definitions
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/test/compilers.py
Labels: compilers, configuration

#12069 environment views: refactor build-only dependency removal
  lib/spack/spack/environment.py
Labels: specs, views

#12067 hpcviewer: add version 2019.07
  var/spack/repos/builtin/packages/hpcviewer/package.py
  var/spack/repos/builtin/packages/ibm-java/package.py
Labels: update-package

#12031 Speed-up tests that rely on the database fixture
  lib/spack/spack/test/cmd/buildcache.py
  lib/spack/spack/test/cmd/debug.py
  lib/spack/spack/test/cmd/module.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/database.py
  lib/spack/spack/test/spec_syntax.py
Labels: tests, travis

#12049 Add OpenMP flag for Apple Clang
  lib/spack/spack/compilers/clang.py
  lib/spack/spack/test/compilers.py
Labels: clang, macOS

#11621 fix docker builds/remove extra builds/add ci builds
  share/spack/docker/Dockerfile
  share/spack/docker/build-image.sh
  share/spack/docker/centos-6.dockerfile
  share/spack/docker/centos-7.dockerfile
  share/spack/docker/config/arch.bash
  share/spack/docker/config/centos-6.bash
  share/spack/docker/config/centos-7.bash
  share/spack/docker/config/fedora-24.bash
  share/spack/docker/config/fedora-29.bash
  share/spack/docker/config/opensuse-leap.bash
  share/spack/docker/config/opensuse-tumbleweed.bash
  share/spack/docker/config/scilinux-6.bash
  share/spack/docker/config/scilinux-7.bash
  share/spack/docker/config/ubuntu-1604.bash
  share/spack/docker/config/ubuntu-1804.bash
  share/spack/docker/dpp.bash
  share/spack/docker/handle-prompt.sh
  share/spack/docker/push-image.sh
  share/spack/docker/render-image-template.sh
  share/spack/docker/run-image.sh
  share/spack/docker/spack_builder/Dockerfile-spack_builder_centos_7
  share/spack/docker/spack_builder/Dockerfile-spack_builder_ubuntu_18.04
  share/spack/docker/spack_builder/update_rpaths.py
  share/spack/docker/ubuntu-1604.dockerfile
  share/spack/docker/ubuntu-1804.dockerfile
  share/spack/qa/run-docker-tests
Labels: binary-packages, containers, docker, ecp, mirrors, releases, repos, tags, travis, utilities

#12064 libsharp: Don't add -march=native on ARM
  var/spack/repos/builtin/packages/libsharp/1.0.0-arm.patch
  var/spack/repos/builtin/packages/libsharp/arm.patch
  var/spack/repos/builtin/packages/libsharp/package.py
Labels: arm, patch

#12081 jdk: Add JDK 12.0.2_10
  var/spack/repos/builtin/packages/jdk/package.py
Labels: new-version

#12080 tealeaf: Don't add -march=native on ARM and gcc 5.x or before.
  var/spack/repos/builtin/packages/tealeaf/package.py
Labels: platform-support

#10446 openjdk
  var/spack/repos/builtin/packages/openjdk/package.py
Labels: new-version

#12021 Fix version scraping for CRAN packages
  lib/spack/spack/url.py
  lib/spack/spack/util/web.py
Labels: R, fetching

#11040 gcc: support installation without command line tools
  lib/spack/spack/operating_systems/mac_os.py
  var/spack/repos/builtin/packages/gcc/package.py
Labels: build-error, macOS

#12056 cmake: Move cxx11 flags for fujitsu into the flag_handler method
  var/spack/repos/builtin/packages/cmake/package.py
Labels: cmake, compilers

#12084 scons: add version 3.1.0
  var/spack/repos/builtin/packages/scons/package.py
Labels: new-version, scons

#12089 Add UCX 1.6.0
  var/spack/repos/builtin/packages/ucx/package.py
Labels: new-version

#12090 Add `spack pkg changed` command
  lib/spack/spack/cmd/pkg.py
  lib/spack/spack/repo.py
  lib/spack/spack/test/cmd/pkg.py
Labels: commands, git, utilities

#12053 font-util: add missing autoconf automake dependencies
  var/spack/repos/builtin/packages/font-util/package.py
Labels: autotools, dependencies

#12086 ncurses: remove TERMINFO from build env
  var/spack/repos/builtin/packages/ncurses/package.py
Labels: build-environment

#12088 ioapi: add version 3.2
  var/spack/repos/builtin/packages/ioapi/package.py
Labels: new-package

#12087 libfabric: add EFA fabric
  var/spack/repos/builtin/packages/libfabric/package.py
Labels: update-package, variants

#12098 Quantum Espresso Update 2019
  var/spack/repos/builtin/packages/quantum-espresso/package.py
Labels: new-version

#12093 nanoflann: Don't add -mtune=native on ARM and gcc 5.x
  var/spack/repos/builtin/packages/nanoflann/package.py
Labels: platform-support

#12042 isaac-server: Don't add -march=native on ARM and gcc 5.x or before.
  var/spack/repos/builtin/packages/isaac-server/arm.patch
  var/spack/repos/builtin/packages/isaac-server/package.py
Labels: arm, patch

#12100 Typo fixes in Spack Environments docs
  lib/spack/docs/environments.rst
Labels: documentation, environments

#12101 added relion 3.0.7 - removed deprecated versions
  var/spack/repos/builtin/packages/relion/package.py
Labels: new-version

#12108 rocksdb: Don't add -march=native on ARM and gcc 5.x or before.
  var/spack/repos/builtin/packages/rocksdb/package.py
Labels: arm, patch, platform-support

#12116 Fixed a name clash in the 'from_environment_diff' function
  lib/spack/spack/test/environment_modifications.py
  lib/spack/spack/util/environment.py
Labels: bug, tests

#12110 Do not build c-blosc test if intel in spec
  var/spack/repos/builtin/packages/c-blosc/package.py
Labels: intel, tests

#12097 QMCPACK Update July 2019
  var/spack/repos/builtin/packages/qmcpack/package.py
Labels: new-version

#12117 rapidjson: Don't add -march=native on ARM and gcc 5.x or before.
  var/spack/repos/builtin/packages/rapidjson/arm.patch
  var/spack/repos/builtin/packages/rapidjson/package.py
Labels: arm, patch

#12113 nnvm: cmake bug is fixed.
  var/spack/repos/builtin/packages/nnvm/cmake2.patch
  var/spack/repos/builtin/packages/nnvm/package.py
Labels: cmake

#12112 Perl take in flags
  var/spack/repos/builtin/packages/perl/package.py
Labels: perl

#12111 Add conflicts statement to freetype for icc
  var/spack/repos/builtin/packages/freetype/package.py
Labels: conflicts, intel

#12109 Add py-setuptools as a build dependency for py-absl-py
  var/spack/repos/builtin/packages/py-absl-py/package.py
Labels: dependencies

#12099 tests: Test install of unconcretized spec
  lib/spack/spack/test/install.py
Labels: build, tests

#12115 new command: `spack maintainers` queries package maintainers
  lib/spack/spack/cmd/maintainers.py
  lib/spack/spack/test/cmd/maintainers.py
  share/spack/spack-completion.bash
  var/spack/repos/builtin.mock/packages/maintainers-1/package.py
  var/spack/repos/builtin.mock/packages/maintainers-2/package.py
Labels: commands, maintainers

#11964 lame & libmad: Added two new packages for sox mp3 support.
  var/spack/repos/builtin/packages/lame/package.py
  var/spack/repos/builtin/packages/libmad/libmad-0.15.1b.patch
  var/spack/repos/builtin/packages/libmad/package.py
  var/spack/repos/builtin/packages/sox/package.py
Labels: new-package, variants

#12123 catch: more versions, new and older.
  var/spack/repos/builtin/packages/catch/package.py
Labels: new-version

#12129 cmake: Add a patch to revert a findmpi regression
  var/spack/repos/builtin/packages/cmake/cmake-revert-findmpi-link-flag-list.patch
  var/spack/repos/builtin/packages/cmake/package.py
Labels: cmake, impact-high, patch, regression

#12106 Make OpenJDK the default
  etc/spack/defaults/packages.yaml
Labels: defaults, java

#11968 fix defunct editor exit in #11691
  lib/spack/spack/hooks/licensing.py
Labels: bug, impact-medium, licenses

#11946 xsdk: phist has a conflict with gcc version <= gcc-4.9.1
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: xSDK

#12133 Patches for graphviz
  var/spack/repos/builtin/packages/graphviz/package.py
Labels: patch

#12131 git-lfs: add version 2.8.0
  var/spack/repos/builtin/packages/git-lfs/package.py
Labels: new-version

#12130 interproscan: new package at 5.36-75.0
  var/spack/repos/builtin/packages/interproscan/package.py
Labels: new-package

#12142 Add Python 3.7.4
  var/spack/repos/builtin/packages/python/package.py
Labels: new-version, python

#12140 Add GDAL 3.0.1
  var/spack/repos/builtin/packages/gdal/package.py
Labels: new-version

#12134 py-pyomo: new package at 5.6.6
  var/spack/repos/builtin/packages/py-pyomo/package.py
Labels: new-package

#12147 libxc: Make configure recognize Fujitsu compiler
  var/spack/repos/builtin/packages/libxc/configure_add_fj.patch
  var/spack/repos/builtin/packages/libxc/package.py
Labels: fujitsu

#12141 Add flake8 3.7.8
  var/spack/repos/builtin/packages/py-flake8/package.py
Labels: new-version

#12137 update to kim-api-2.1.1 and openkim-models-2019-07-25
  var/spack/repos/builtin/packages/kim-api/package.py
  var/spack/repos/builtin/packages/openkim-models/package.py
Labels: new-version

#12126 kealib: fix incorrect md5sum for v1.4.11
  var/spack/repos/builtin/packages/kealib/package.py
Labels: checksum

#12152 adios2: Patch findmpi for downstream issues.
  var/spack/repos/builtin/packages/adios2/cmake-update-findmpi.patch
  var/spack/repos/builtin/packages/adios2/package.py
Labels: cmake, mpi, patch

#12155 environment-modules package: add version 4.3.0
  var/spack/repos/builtin/packages/environment-modules/package.py
Labels: modules, new-version

#12151 cmake: Bump to 3.15.1
  var/spack/repos/builtin/packages/cmake/package.py
Labels: cmake, new-version

#12162 Bump version for BLIS
  var/spack/repos/builtin/packages/blis/package.py
Labels: new-version

#12166 Prevent conflicts between libuuid and Apple Cocoa Framework on Mac
  var/spack/repos/builtin/packages/python/package.py
Labels: conflicts, macOS

#12037 Update checksum of fmt 5.3.0
  var/spack/repos/builtin/packages/fmt/package.py
Labels: checksum

#11852 Add a new version (7.2) of draco.
  var/spack/repos/builtin/packages/draco/package.py
Labels: new-version

#12179 Use *virtual* jpeg package for package dependencies
  var/spack/repos/builtin/packages/lammps/package.py
  var/spack/repos/builtin/packages/ncbi-toolkit/package.py
  var/spack/repos/builtin/packages/r-tiff/package.py
  var/spack/repos/builtin/packages/vigra/package.py
  var/spack/repos/builtin/packages/virtualgl/package.py
  var/spack/repos/builtin/packages/vtk/package.py
Labels: update-package, virtual-dependencies

#12174 Add PyTorch 1.1.0
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: new-version

#12175 Add torchvision package
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: new-package

#12171 Add scipy 1.3.0
  var/spack/repos/builtin/packages/py-scipy/package.py
Labels: new-version

#12132 intel: Add mpicc wrapper bindir to dependent env
  lib/spack/spack/build_systems/intel.py
Labels: intel

#12158 OpenGL always provides gl
  var/spack/repos/builtin/packages/opengl/package.py
Labels: opengl, virtual-dependencies

#12182 update cmake 3.15.1 checksum
  var/spack/repos/builtin/packages/cmake/package.py
Labels: cmake

#12160 Add py-pytest-isort package
  var/spack/repos/builtin/packages/py-pytest-isort/package.py
Labels: new-package

#12150 Gromacs/add option and variant
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: variants

#12149 zeromq: refactor url selection and add new releases
  var/spack/repos/builtin/packages/zeromq/package.py
Labels: new-version

#12145 Add conflicts statement for Python-3.6.7+ and Intel compiler
  var/spack/repos/builtin/packages/python/package.py
Labels: conflicts, intel, python

#12138 Use Version object for version comparison
  var/spack/repos/builtin/packages/py-ipython/package.py
  var/spack/repos/builtin/packages/py-numpy/package.py
  var/spack/repos/builtin/packages/qt/package.py
Labels: macOS, python3, versions

#12107 Typo fixes in Environments Tutorial
  lib/spack/docs/tutorial_environments.rst
Labels: documentation, environments

#12083 Add PISM 1.1.4
  var/spack/repos/builtin/packages/pism/package.py
Labels: new-version, python3

#12079 Add SimulationIO 9.0.1
  var/spack/repos/builtin/packages/simulationio/package.py
Labels: new-version, python3

#12119 Quantum Espresso: Specify F90 compiler
  var/spack/repos/builtin/packages/quantum-espresso/package.py
Labels: compilers

#12076 Add CMOR 3.4.0
  var/spack/repos/builtin/packages/cmor/package.py
Labels: new-version, python3

#12034 hpgmp: Don't add -mcpu=native on ARM and gcc 5.x or before.
  var/spack/repos/builtin/packages/hpgmg/package.py
Labels: arm, patch

#12154 Added basic package for cgdb.
  var/spack/repos/builtin/packages/cgdb/package.py
Labels: new-package

#12197 Add gromacs@4.5.5 .
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: new-version
