Repository spack/spack, pull requests merged in 2019-08, with the labels that each got.

#12224 py-pyqt5: add missing py-enum34 dependency
  var/spack/repos/builtin/packages/py-pyqt5/package.py
Labels: dependencies

#12193 Add libflame
  var/spack/repos/builtin/packages/libflame/Makefile_5.1.0.patch
  var/spack/repos/builtin/packages/libflame/package.py
Labels: blas-lapack-scalapack

#12227 Buildcache: skip binary string replacement with padding when the new install path is longer than the old install path.
  lib/spack/spack/relocate.py
Labels: binary-packages, buildcache

#10944 Fix QT4 build for mac
  lib/spack/spack/operating_systems/mac_os.py
  var/spack/repos/builtin/packages/gettext/package.py
  var/spack/repos/builtin/packages/python/package.py
  var/spack/repos/builtin/packages/qt/package.py
  var/spack/repos/builtin/packages/qt/qt4-corewlan-new-osx.patch
  var/spack/repos/builtin/packages/qt/qt4-el-capitan.patch
  var/spack/repos/builtin/packages/qt/qt4-gcc-and-webkit-487.patch
  var/spack/repos/builtin/packages/qt/qt4-mac.patch
  var/spack/repos/builtin/packages/qt/qt4-tools.patch
Labels: macOS, patch, qt

#12234 Fix py-matplotlib build (#12230)
  var/spack/repos/builtin/packages/py-matplotlib/package.py
Labels: build-error

#12169 openPMD-api: Increase ADIOS2 Minimum
  var/spack/repos/builtin/packages/openpmd-api/package.py
Labels: dependencies, update-package

#11356 mysql: New versions, add conflicts, cope with use of dtrace.
  var/spack/repos/builtin/packages/mysql/package.py
Labels: new-version

#12241 adios2: Fix backwards compatibility version logic for FindMPI
  var/spack/repos/builtin/packages/adios2/cmake-update-findmpi.patch
Labels: cmake, patch, regression

#12242 liggghts: added version 3.8.0
  var/spack/repos/builtin/packages/liggghts/package.py
Labels: new-package

#12248 ginkgo: fix branch -> commit for @1.0.0. Also add variant: develtools
  var/spack/repos/builtin/packages/ginkgo/package.py
Labels: xSDK

#12236 hpcviewer: update sha sums for version 2019.07
  var/spack/repos/builtin/packages/hpcviewer/package.py
Labels: checksum

#12222 added a package butterflypack
  var/spack/repos/builtin/packages/butterflypack/package.py
Labels: new-package

#12210 dialign-tx: build on ARM.
  var/spack/repos/builtin/packages/dialign-tx/package.py
Labels: arm

#12208 raxml: compile on non-x86 hosts.
  var/spack/repos/builtin/packages/raxml/nox86.patch
  var/spack/repos/builtin/packages/raxml/package.py
Labels: platform-support

#12204 Update c-blosc and fix building tests with icc
  var/spack/repos/builtin/packages/c-blosc/package.py
  var/spack/repos/builtin/packages/c-blosc/test_forksafe.patch
Labels: intel, new-version, patch, tests

#12194 parsimonator: Enable build on non x86_64 hosts.
  var/spack/repos/builtin/packages/parsimonator/nox86.patch
  var/spack/repos/builtin/packages/parsimonator/package.py
Labels: platform-support

#12192 ermod: new package
  var/spack/repos/builtin/packages/ermod/package.py
Labels: new-package

#12191 py-mpi4py: Added build argument for mpicc path
  var/spack/repos/builtin/packages/py-mpi4py/package.py
Labels: mpi, python

#12188 vdt: add simd variant
  var/spack/repos/builtin/packages/vdt/package.py
Labels: platform-support

#12180 FAODEL: Add version 1.1906.1
  var/spack/repos/builtin/packages/faodel/package.py
Labels: new-version, variants

#12176 py-flye: change to build ARM.
  var/spack/repos/builtin/packages/py-flye/package.py
Labels: arm

#12136 range-v3: Resolve installation issues with 0.5.0
  var/spack/repos/builtin/packages/range-v3/fix-is_trivial.patch
  var/spack/repos/builtin/packages/range-v3/gcc-compile-opt-check.patch
  var/spack/repos/builtin/packages/range-v3/package.py
Labels: patch

#12127 minimap2, py-mappy: change dependency and build on ARM
  var/spack/repos/builtin/packages/minimap2/package.py
  var/spack/repos/builtin/packages/py-mappy/package.py
Labels: arm

#12092 jube: set default resource manager to 'none'
  var/spack/repos/builtin/packages/jube/package.py
Labels: update-package

#12213 Removed an argument to concretize that was there only for unit tests
  lib/spack/spack/cmd/concretize.py
  lib/spack/spack/cmd/install.py
  lib/spack/spack/environment.py
  lib/spack/spack/test/cmd/env.py
Labels: refactoring, tests

#12247 packages/musl
  var/spack/repos/builtin/packages/musl/package.py
Labels: new-package

#12250 slepc: update python dependencies to be in sync with petsc
  var/spack/repos/builtin/packages/slepc/package.py
Labels: xSDK

#12243 swig: add latest version, 4.0.0
  var/spack/repos/builtin/packages/swig/package.py
Labels: new-version

#12251 Add py-pyasn1 0.4.6
  var/spack/repos/builtin/packages/py-pyasn1/package.py
Labels: new-version

#12252 Add py-cachetools package
  var/spack/repos/tutorial/packages/py-cachetools/package.py
Labels: new-package

#12258 Add py-pyasn1-modules package
  var/spack/repos/tutorial/packages/py-pyasn1-modules/package.py
Labels: new-package

#12257 Add py-httplib2 package
  var/spack/repos/tutorial/packages/py-httplib2/package.py
Labels: new-package

#12256 Add py-google-auth package
  var/spack/repos/tutorial/packages/py-google-auth/package.py
Labels: new-package

#12255 Add py-google-auth-httplib2 package
  var/spack/repos/tutorial/packages/py-google-auth-httplib2/package.py
Labels: new-package

#12254 Add py-google-api-python-client package
  var/spack/repos/tutorial/packages/py-google-api-python-client/package.py
Labels: new-package

#12253 Add py-earthengine-api package
  var/spack/repos/tutorial/packages/py-earthengine-api/package.py
Labels: new-package

#12259 Add py-uritemplate package
  var/spack/repos/tutorial/packages/py-uritemplate/package.py
Labels: new-package

#12207 Fix CNL version detection
  lib/spack/spack/operating_systems/cnl.py
  lib/spack/spack/test/operating_system.py
Labels: cray

#12266 new package: py-colorpy
  var/spack/repos/builtin/packages/py-colorpy/package.py
Labels: new-package

#12265 new package: py-colorlog
  var/spack/repos/builtin/packages/py-colorlog/package.py
Labels: new-package

#12264 new package: py-requests-futures
  var/spack/repos/builtin/packages/py-requests-futures/package.py
Labels: new-package

#12263 new package: py-usgs
  var/spack/repos/builtin/packages/py-usgs/package.py
Labels: new-package

#12262 new package: py-backports-weakref
  var/spack/repos/builtin/packages/py-backports-weakref/package.py
Labels: new-package

#12260 package/py-apipkg add new version, add sha256 sums
  var/spack/repos/builtin/packages/py-apipkg/package.py
Labels: new-version

#12267 Fix typo in config
  lib/spack/docs/environments.rst
Labels: configuration, documentation

#12269 actions: add maintainers as PR reviewers for their packages
  .github/actions/add-maintainers-as-reviewers/Dockerfile
  .github/actions/add-maintainers-as-reviewers/entrypoint.py
Labels: actions, workflow

#12261 new package: py-backports-tempfile
  var/spack/repos/builtin/packages/py-backports-tempfile/package.py
Labels: new-package

#12274 MAGMA: Add version 2.5.1
  var/spack/repos/builtin/packages/magma/package.py
Labels: new-version, xSDK

#12275 PLASMA: Add version 19.8.0
  var/spack/repos/builtin/packages/plasma/package.py
Labels: new-version, xSDK

#12279 openPMD-api: pre-load depend libs
  var/spack/repos/builtin/packages/openpmd-api/package.py
Labels: update-package

#12287 Balay/amrex 19.08
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, xSDK

#12289 Move new packages from tutorial to builtin
  var/spack/repos/builtin/packages/py-cachetools/package.py
  var/spack/repos/builtin/packages/py-earthengine-api/package.py
  var/spack/repos/builtin/packages/py-google-api-python-client/package.py
  var/spack/repos/builtin/packages/py-google-auth-httplib2/package.py
  var/spack/repos/builtin/packages/py-google-auth/package.py
  var/spack/repos/builtin/packages/py-httplib2/package.py
  var/spack/repos/builtin/packages/py-pyasn1-modules/package.py
  var/spack/repos/builtin/packages/py-uritemplate/package.py
Labels: new-package, repos

#11959 c-blosc: Add -std=gnu99 flag when gcc.
  var/spack/repos/builtin/packages/c-blosc/gcc.patch
  var/spack/repos/builtin/packages/c-blosc/package.py
Labels: gcc, patch

#12293 Avoid sending empty reports to codecov
  .travis.yml
Labels: coverage, tests, travis

#9027 Make mirrors use spack environment expansions
  lib/spack/spack/stage.py
  lib/spack/spack/util/path.py
Labels: configuration, mirrors

#12170 Overhaul numpy package
  var/spack/repos/builtin/packages/atlas/package.py
  var/spack/repos/builtin/packages/libflame/package.py
  var/spack/repos/builtin/packages/py-meep/package.py
  var/spack/repos/builtin/packages/py-numpy/blas-lapack-order.patch
  var/spack/repos/builtin/packages/py-numpy/package.py
  var/spack/repos/builtin/packages/veclibfort/package.py
Labels: blas-lapack-scalapack, new-version, python

#11128 graphviz: Simplify package and add quartz support
  var/spack/repos/builtin/packages/graphviz/fix-quartz-darwin.patch
  var/spack/repos/builtin/packages/graphviz/package.py
Labels: macOS, update-package

#11993 Explain and test two pkg dependency routines
  lib/spack/spack/package.py
  lib/spack/spack/test/install.py
  var/spack/repos/builtin.mock/packages/flatten-deps/package.py
Labels: build, tests

#12282 pumi: new version 2.2.1
  var/spack/repos/builtin/packages/pumi/package.py
Labels: xSDK

#12291 new package: py-exodus
  var/spack/repos/builtin/packages/py-exodus/package.py
Labels: new-package

#12299 Version 19.8.1 of PLASMA
  var/spack/repos/builtin/packages/plasma/package.py
Labels: new-version

#12278 ncbi-toolkit: add version 22_0_0
  var/spack/repos/builtin/packages/ncbi-toolkit/package.py
Labels: new-version

#12312 Fix typo in yaml config docs
  lib/spack/docs/build_settings.rst
Labels: configuration, documentation

#12342 Add latest versions of openssl
  var/spack/repos/builtin/packages/openssl/package.py
Labels: new-version, security

#11991 Allow Spack to uninstall external extensions without permissions
  lib/spack/spack/filesystem_view.py
Labels: extensions, external-packages, impact-medium

#12339 Add py-certifi 2019.6.16
  var/spack/repos/builtin/packages/py-certifi/package.py
Labels: new-version

#12338 Re-add py-cython dependency to py-tables
  var/spack/repos/builtin/packages/py-tables/package.py
Labels: dependencies

#12333 guile: add versions 2.2.1 through 2.2.6
  var/spack/repos/builtin/packages/guile/package.py
Labels: new-version

#12325 netcdf-cxx4: add m4 dep for call to autoreconf
  var/spack/repos/builtin/packages/netcdf-cxx4/package.py
Labels: dependencies

#12318 new package: aria2
  var/spack/repos/builtin/packages/aria2/package.py
Labels: new-package

#12309 new package: Cromwell
  var/spack/repos/builtin/packages/cromwell-womtool/package.py
  var/spack/repos/builtin/packages/cromwell-womtool/womtool.sh
  var/spack/repos/builtin/packages/cromwell/cromwell.sh
  var/spack/repos/builtin/packages/cromwell/package.py
Labels: new-package

#12303 Add new releases of Cube Tools, Opari2, OTF2, and Score-P
  var/spack/repos/builtin/packages/cube/package.py
  var/spack/repos/builtin/packages/cubelib/package.py
  var/spack/repos/builtin/packages/cubew/package.py
  var/spack/repos/builtin/packages/opari2/package.py
  var/spack/repos/builtin/packages/otf2/package.py
  var/spack/repos/builtin/packages/scorep/package.py
Labels: new-version

#12302 hisea: build on ARM.
  var/spack/repos/builtin/packages/hisea/package.py
Labels: arm, patch

#12349 enchant@2.2.5: new package
  var/spack/repos/builtin/packages/enchant/package.py
Labels: new-package

#12320 Bugfix: nested matrices in spec lists
  lib/spack/spack/environment.py
  lib/spack/spack/spec.py
  lib/spack/spack/spec_list.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/spec_list.py
  lib/spack/spack/variant.py
Labels: specs, stacks

#12350 Added checksum for binutils@2.32
  var/spack/repos/builtin/packages/binutils/package.py
Labels: new-version

#12347 bugfix: hunspell: add missing gettext dependency
  var/spack/repos/builtin/packages/hunspell/package.py
Labels: dependencies, new-version

#12319 newpackage/tippecanoe
  var/spack/repos/builtin/packages/tippecanoe/package.py
Labels: new-package

#12352 New Plink beta version
  var/spack/repos/builtin/packages/plink/package.py
Labels: new-version

#12351 sdl2: fix dependency for libxext and build on ARM
  var/spack/repos/builtin/packages/sdl2/package.py
Labels: arm, dependencies

#12334 Add new package: libfive@master
  var/spack/repos/builtin/packages/libfive/package.py
Labels: new-package

#12359 gnome-common: new package
  var/spack/repos/builtin/packages/gnome-common/package.py
Labels: new-package

#12358 flatcc: add version 0.5.3
  var/spack/repos/builtin/packages/flatcc/package.py
Labels: new-version

#12341 Updated Blaze version 3.5 and added access to master branch
  var/spack/repos/builtin/packages/blaze/package.py
Labels: new-version

#12354 gromacs: fix CPU optimizations detection (simd=auto)
  var/spack/repos/builtin/packages/gromacs/gmxDetectCpu-cmake-3.14.patch
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: patch

#12360 py-numexpr: switch from PyPI to GitHub download
  var/spack/repos/builtin/packages/py-numexpr/package.py
Labels: fetching

#12328 Fix build for moab 4.9.2 on gcc8
  var/spack/repos/builtin/packages/moab/package.py
  var/spack/repos/builtin/packages/moab/tools-492.patch
Labels: build-error, update-package

#12324 libconfig: add version 1.7.1
  var/spack/repos/builtin/packages/libconfig/package.py
Labels: new-version

#12379 Add libflame 5.2.0
  var/spack/repos/builtin/packages/libflame/package.py
Labels: new-version

#12378 Add py-selenium package
  var/spack/repos/builtin/packages/py-selenium/package.py
Labels: new-package

#12377 Add py-retrying package
  var/spack/repos/builtin/packages/py-retrying/package.py
Labels: new-package

#12376 Add py-pysmartdl package
  var/spack/repos/builtin/packages/py-pysmartdl/package.py
Labels: new-package

#12375 Add py-pyperclip package
  var/spack/repos/builtin/packages/py-pyperclip/package.py
Labels: new-package

#12374 Add py-pathlib package
  var/spack/repos/builtin/packages/py-pathlib/package.py
Labels: new-package

#12373 Add py-oauth2client package
  var/spack/repos/builtin/packages/py-oauth2client/package.py
Labels: new-package

#12372 Add py-googleapis-common-protos package
  var/spack/repos/builtin/packages/py-googleapis-common-protos/package.py
Labels: new-package

#12371 Add py-google-resumable-media package
  var/spack/repos/builtin/packages/py-google-resumable-media/package.py
Labels: new-package

#12370 Add py-google-cloud-storage package
  var/spack/repos/builtin/packages/py-google-cloud-storage/package.py
Labels: new-package

#12369 Add py-google-cloud-core package
  var/spack/repos/builtin/packages/py-google-cloud-core/package.py
Labels: new-package

#12368 Add py-google-api-core package
  var/spack/repos/builtin/packages/py-google-api-core/package.py
Labels: new-package

#12367 Add py-geeup package
  var/spack/repos/builtin/packages/py-geeup/package.py
Labels: new-package

#12366 Add py-geeadd package
  var/spack/repos/builtin/packages/py-geeadd/package.py
Labels: new-package

#12365 Add py-gee-asset-manager package
  var/spack/repos/builtin/packages/py-gee-asset-manager/package.py
Labels: new-package

#12364 Add py-clipboard package
  var/spack/repos/builtin/packages/py-clipboard/package.py
Labels: new-package

#12363 Port py-poster to Python 3
  var/spack/repos/builtin/packages/py-poster/package.py
  var/spack/repos/builtin/packages/py-poster/python3.patch
Labels: python3

#12362 Add NCCL 2.4.8-1
  var/spack/repos/builtin/packages/nccl/package.py
Labels: new-version

#12356 Add preCICE xSDK support
  var/spack/repos/builtin/packages/precice/package.py
Labels: xSDK

#12382 new package: qwtpolar
  var/spack/repos/builtin/packages/qwtpolar/package.py
Labels: new-package

#12381 Use correct GCC installation when installing clang with GCC
  var/spack/repos/builtin/packages/llvm/package.py
Labels: clang, gcc

#12144 Fix py-matplotlib build with Intel compiler
  var/spack/repos/builtin/packages/py-matplotlib/package.py
Labels: intel

#12185 Update SWIG versions and add Fortran fork
  var/spack/repos/builtin/packages/swig/package.py
Labels: update-package

#11867 Fixed a Python 2.6 parsing error
  lib/spack/spack/parse.py
  lib/spack/spack/test/cmd/release_jobs.py
  lib/spack/spack/test/spec_syntax.py
  lib/spack/spack/util/editor.py
  lib/spack/spack/util/executable.py
Labels: bug, tests

#12348 packages/skopeo
  var/spack/repos/builtin/packages/skopeo/package.py
Labels: new-package

#12392 Apply xl patch for cce@9: to fix cmake.
  var/spack/repos/builtin/packages/netlib-lapack/package.py
Labels: build-error, cmake, patch

#12391 openblas@0.3.7: New version
  var/spack/repos/builtin/packages/openblas/package.py
Labels: new-version

#12387 gtksourceview@4.2.0: new package
  var/spack/repos/builtin/packages/gtksourceview/package.py
Labels: new-package

#12357 blaze: converted to CMakePackage
  var/spack/repos/builtin/packages/blaze/package.py
Labels: cmake

#12301 New package: TexStudio
  var/spack/repos/builtin/packages/poppler/package.py
  var/spack/repos/builtin/packages/poppler/poppler_page_splash.patch
  var/spack/repos/builtin/packages/texstudio/package.py
Labels: new-package

#12295 singularity: update version to 3.3.0
  var/spack/repos/builtin/packages/singularity/package.py
Labels: new-version

#11931 new package: asagi: create package.py
  var/spack/repos/builtin/packages/asagi/package.py
Labels: new-package

#11418 CP2K/SIRIUS: add support for building with CUDA, fix CP2K build with MKL
  var/spack/repos/builtin/packages/cp2k/package.py
  var/spack/repos/builtin/packages/sirius/cmake-fix-shared-library-installation.patch
  var/spack/repos/builtin/packages/sirius/package.py
Labels: cuda

#12411 gcc: Add 9.2.0
  var/spack/repos/builtin/packages/gcc/package.py
Labels: new-version

#12410 Fix package gpgme dependency
  var/spack/repos/builtin/packages/gpgme/package.py
Labels: dependencies

#12407 patch opa-psm2 to build with spack wrappers
  var/spack/repos/builtin/packages/opa-psm2/opa-psm2-compiler.patch
  var/spack/repos/builtin/packages/opa-psm2/package.py
Labels: intel, patch

#12405 Add version 2.4.0 for cantera.
  var/spack/repos/builtin/packages/cantera/package.py
Labels: new-version

#12402 package/gromacs: simd optimizations autodetection for more versions
  var/spack/repos/builtin/packages/gromacs/gmxDetectCpu-cmake-3.14.patch
  var/spack/repos/builtin/packages/gromacs/gmxDetectSimd-cmake-3.14.patch
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: patch

#12400 subread: build on ARM.
  var/spack/repos/builtin/packages/subread/package.py
Labels: arm

#12395 package/py-keras-preprocessing: add new version
  var/spack/repos/builtin/packages/py-keras-preprocessing/package.py
Labels: new-version

#12394 package/py-keras-applications: add new version
  var/spack/repos/builtin/packages/py-keras-applications/package.py
Labels: new-version

#12393 package/py-future add new versions
  var/spack/repos/builtin/packages/py-future/package.py
Labels: new-version

#12346 packages/umoci
  var/spack/repos/builtin/packages/umoci/package.py
Labels: new-package

#12327 add charliecloud master branch; add dependencies
  var/spack/repos/builtin/packages/charliecloud/package.py
Labels: dependencies, new-version

#12401 starce: new version and build on ARM.
  var/spack/repos/builtin/packages/strace/package.py
Labels: arm, new-version

#12413 zstd: fix build linking error
  var/spack/repos/builtin/packages/zstd/package.py
Labels: build-error, new-version

#12409 add new package: py-python-magic
  var/spack/repos/builtin/packages/py-python-magic/package.py
Labels: new-package

#12416 masurca: build on arm.
  var/spack/repos/builtin/packages/masurca/arm.patch
  var/spack/repos/builtin/packages/masurca/package.py
Labels: arm, patch

#12415 NCCL: fix build on older Linux systems
  var/spack/repos/builtin/packages/nccl/package.py
  var/spack/repos/builtin/packages/nccl/so_reuseport.patch
Labels: patch

#12397 New package: go-md2man
  var/spack/repos/builtin/packages/go-md2man/package.py
Labels: new-package

#12417 r-rmutil: new package at 1.1.3
  var/spack/repos/builtin/packages/r-rmutil/package.py
Labels: new-package

#12406 New package: device-mapper
  var/spack/repos/builtin/packages/lvm2/package.py
Labels: new-package

#12424 lammps: add version 20190807
  var/spack/repos/builtin/packages/lammps/package.py
Labels: new-version

#12422 Package umoci dependency
  var/spack/repos/builtin/packages/umoci/package.py
Labels: dependencies

#12427 Fix charliecloud dependencies
  var/spack/repos/builtin/packages/charliecloud/package.py
Labels: dependencies

#12425 Fix skopeo dependencies
  var/spack/repos/builtin/packages/skopeo/package.py
Labels: dependencies

#12423 Update BOLT package
  var/spack/repos/builtin/packages/bolt/package.py
Labels: dependencies, new-version

#12429 Update icu4c to version 64.1
  var/spack/repos/builtin/packages/icu4c/package.py
Labels: build-error, update-package

#12414 ADIOS 2.4.0: Add new Deps
  var/spack/repos/builtin/packages/adios2/package.py
Labels: build-error, dependencies

#12396 Update VisIt to version 3.0.1 and fix on mac
  var/spack/repos/builtin/packages/qwt/no-designer.patch
  var/spack/repos/builtin/packages/qwt/package.py
  var/spack/repos/builtin/packages/visit/nonframework-qwt.patch
  var/spack/repos/builtin/packages/visit/package.py
  var/spack/repos/builtin/packages/visit/spack-changes.patch
  var/spack/repos/builtin/packages/vtk/package.py
Labels: macOS, update-package

#12433 go: Add 1.12.8 and 1.11.13
  var/spack/repos/builtin/packages/go/package.py
Labels: new-version

#12435 hpctoolkit: add version 2019.08.14
  var/spack/repos/builtin/packages/hpctoolkit/package.py
Labels: new-version
