Repository spack/spack, pull requests merged in 2019-05, with the labels that each got.

#11285 Supernova
  var/spack/repos/builtin/packages/supernova/package.py
Labels: new-version

#11210 ffmpeg with aom support
  var/spack/repos/builtin/packages/aom/package.py
  var/spack/repos/builtin/packages/ffmpeg/package.py
Labels: new-package, variants

#10482 mesa: re-written to new meson build system
  etc/spack/defaults/packages.yaml
  var/spack/repos/builtin/packages/catalyst/package.py
  var/spack/repos/builtin/packages/dislin/package.py
  var/spack/repos/builtin/packages/fsl/package.py
  var/spack/repos/builtin/packages/geant4/package.py
  var/spack/repos/builtin/packages/gplates/package.py
  var/spack/repos/builtin/packages/libepoxy/package.py
  var/spack/repos/builtin/packages/mesa-glu/package.py
  var/spack/repos/builtin/packages/mesa/package.py
  var/spack/repos/builtin/packages/mrtrix3/package.py
  var/spack/repos/builtin/packages/opengl/package.py
  var/spack/repos/builtin/packages/paraview/package.py
  var/spack/repos/builtin/packages/r-rgl/package.py
  var/spack/repos/builtin/packages/virtualgl/package.py
  var/spack/repos/builtin/packages/vtk/package.py
  var/spack/repos/builtin/packages/xorg-server/package.py
Labels: meson, opengl, update-package, virtual-dependencies

#11317 LIBXSMM 1.11
  var/spack/repos/builtin/packages/libxsmm/package.py
Labels: new-version, update-package

#11321 fix error when adding package to env in container
  lib/spack/spack/environment.py
Labels: bug, environments

#10969 install spack under /opt/spack in docker images
  share/spack/docker/Dockerfile
Labels: containers, docker

#1983 extend Version class so that 2.0 > 1.develop > 1.1 and develop > master > head > trunk > 9999
  lib/spack/docs/packaging_guide.rst
  lib/spack/spack/test/concretize_preferences.py
  lib/spack/spack/test/versions.py
  lib/spack/spack/version.py
  var/spack/repos/builtin.mock/packages/develop-test2/package.py
  var/spack/repos/builtin.mock/packages/preferred-test/package.py
Labels: concretization, ready, versions

#11348 llvm: depend on python only when +python
  var/spack/repos/builtin/packages/llvm/package.py
Labels: ecp

#11327 py-espresso: added v4.0.2
  var/spack/repos/builtin/packages/py-espresso/package.py
Labels: new-version

#11310 add BMI package
  var/spack/repos/builtin/packages/bmi/package.py
  var/spack/repos/builtin/packages/mercury/package.py
Labels: dependencies, new-package, update-package

#11359 cppunit: New version 1.14.0.
  var/spack/repos/builtin/packages/cppunit/package.py
Labels: new-version

#11357 libxml2: New version 2.9.9.
  var/spack/repos/builtin/packages/libxml2/package.py
Labels: new-version

#11358 range-v3: New versions 0.3.7, 0.4.0, 0.5.0.
  var/spack/repos/builtin/packages/range-v3/package.py
Labels: new-version

#11158 Added a function that concretizes specs together
  lib/spack/spack/concretize.py
  lib/spack/spack/repo.py
  lib/spack/spack/test/concretize.py
  share/spack/templates/misc/coconcretization.pyt
Labels: concretization, environments, tests

#11328 gdal: add new version 2.4.1
  var/spack/repos/builtin/packages/gdal/package.py
Labels: new-version

#11329 PARALLEL-NETCDF: New version 1.11.1
  var/spack/repos/builtin/packages/parallel-netcdf/package.py
Labels: ecp

#11330 NETCDF: New version 4.7.0
  var/spack/repos/builtin/packages/netcdf/package.py
Labels: ecp

#11323 FAODEL: Add FAODEL package to spack
  var/spack/repos/builtin/packages/faodel/array.patch
  var/spack/repos/builtin/packages/faodel/faodel_mpi.patch
  var/spack/repos/builtin/packages/faodel/faodel_sbl.patch
  var/spack/repos/builtin/packages/faodel/package.py
Labels: ecp

#11360 Mesa should depend_on('glproto')
  var/spack/repos/builtin/packages/mesa/glproto-mr806.patch
  var/spack/repos/builtin/packages/mesa/package.py
Labels: build-error, dependencies

#8476 New environment manipulation functions for system path deprioritization and duplicate removal.
  lib/spack/spack/test/environment_modifications.py
  lib/spack/spack/test/util/environment.py
  lib/spack/spack/util/environment.py
Labels: build-environment

#11377 py-pysam: update
  var/spack/repos/builtin/packages/py-pysam/package.py
Labels: new-version

#11380 hpcviewer: add version 2019.04
  var/spack/repos/builtin/packages/hpcviewer/package.py
Labels: new-version

#11379 py-scikit-learn: needs setuptools
  var/spack/repos/builtin/packages/py-scikit-learn/package.py
Labels: dependencies

#11375 openblas: Add version 0.3.6
  var/spack/repos/builtin/packages/openblas/package.py
Labels: new-version

#11318 llvm: Adjust default supported targets
  var/spack/repos/builtin/packages/llvm/package.py
Labels: compilers, variants

#11133 Allow spack-build.env file to be safely `source`d
  lib/spack/spack/util/environment.py
Labels: debugging, nag

#11388 Random123: Provide a patch to allow preliminary support for ARM platforms
  var/spack/repos/builtin/packages/random123/arm-gcc.patch
  var/spack/repos/builtin/packages/random123/package.py
Labels: arm, platform-support

#11401 mesa: Add 19.0.{1,2,3}
  var/spack/repos/builtin/packages/mesa/package.py
Labels: ecp, new-version

#11399 qt: sqlite needs to be a run dep because of the qt plugin infrastructure
  var/spack/repos/builtin/packages/qt/package.py
Labels: dependencies

#11394 mesa: Add missing dependencies
  var/spack/repos/builtin/packages/mesa/package.py
Labels: dependencies, ecp

#11386 gcc: Add 9.1.0
  var/spack/repos/builtin/packages/gcc/package.py
Labels: new-version

#11390 papi: Add 5.7.0
  var/spack/repos/builtin/packages/papi/package.py
Labels: new-version

#11391 qt: Fix build with gcc@9
  var/spack/repos/builtin/packages/qt/package.py
Labels: patch

#11387 netcdf: Fix build if curl is not installed
  var/spack/repos/builtin/packages/netcdf/package.py
Labels: dependencies, ecp, patch

#11389 nco: Add 4.7.9
  var/spack/repos/builtin/packages/nco/package.py
Labels: new-version

#11368 Fix mercury package dependencies and use tarballs
  var/spack/repos/builtin/packages/mercury/package.py
Labels: ecp

#11365 texlive: update to texlive 2019
  var/spack/repos/builtin/packages/texlive/package.py
Labels: new-version

#8570 Change from modulecmd interface to module interface
  lib/spack/spack/operating_systems/cnl.py
  lib/spack/spack/operating_systems/cray_frontend.py
  lib/spack/spack/platforms/cray.py
  lib/spack/spack/test/build_environment.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/flag_handlers.py
  lib/spack/spack/test/module_parsing.py
  lib/spack/spack/util/module_cmd.py
Labels: build-environment, modules

#11292 py-pauvr:new package
  var/spack/repos/builtin/packages/py-pauvr/package.py
Labels: new-package

#11400 paraview: Fix OpenGL search to ignore glvnd
  var/spack/repos/builtin/packages/paraview/package.py
Labels: ecp, opengl

#11411 coverage: only run coverage for subset of unit tests
  .travis.yml
  share/spack/qa/setup.sh
Labels: coverage, tests

#11336 sqlite: New versions; restore old versions; variant to resolve security issues
  var/spack/repos/builtin/packages/sqlite/package.py
  var/spack/repos/builtin/packages/sqlite/remove_overflow_builtins.patch
  var/spack/repos/builtin/packages/sqlite/sqlite_b0.patch
Labels: new-version

#11417 Add new version of PGI compiler
  var/spack/repos/builtin/packages/pgi/package.py
Labels: new-version, pgi

#11414 LIBXSMM 1.12
  var/spack/repos/builtin/packages/libxsmm/package.py
Labels: new-version

#11415 mesa: Add 19.0.4
  var/spack/repos/builtin/packages/mesa/package.py
Labels: new-version, opengl

#11424 tests: require Python 2.6 tests to pass
  .travis.yml
Labels: python, travis

#11426 tests: stop testing Python 3.4
  .travis.yml
Labels: python, python3, tests, travis

#11405 Add master branch of leveldb
  var/spack/repos/builtin/packages/leveldb/package.py
Labels: dependencies, ecp, new-version

#11437 rename py-pauvr to py-pauvre
  var/spack/repos/builtin/packages/py-pauvre/package.py
Labels: update-package

#10537 megadock: new package at 4.0.3
  var/spack/repos/builtin/packages/megadock/package.py
Labels: cuda, mpi, new-package

#11385 repeatmasker: add 4.0.9
  var/spack/repos/builtin/packages/repeatmasker/package.py
Labels: new-version

#11445 r-withr: add 2.1.2
  var/spack/repos/builtin/packages/r-withr/package.py
Labels: new-version

#11446 r-stanheaders: add 2.18.1
  var/spack/repos/builtin/packages/r-stanheaders/package.py
Labels: new-version

#11450 r-caroline: new package at 0.7.6
  var/spack/repos/builtin/packages/r-caroline/package.py
Labels: new-package

#11451 r-rstantools: new package at 1.5.1
  var/spack/repos/builtin/packages/r-rstantools/package.py
Labels: new-package

#11453 gmap-gsnap: add 2019-05-12
  var/spack/repos/builtin/packages/gmap-gsnap/package.py
Labels: new-version

#11448 r-loo: new package at 2.1.0
  var/spack/repos/builtin/packages/r-loo/package.py
Labels: new-package

#11447 r-rstan: add 2.18.2
  var/spack/repos/builtin/packages/r-rstan/package.py
Labels: new-version

#11452 r-construct: new package at 1.0.3
  var/spack/repos/builtin/packages/r-construct/package.py
Labels: new-package

#11444 nut: add v0.1.1
  var/spack/repos/builtin/packages/nut/package.py
Labels: new-version

#11466 svn: use `svn info --xml` instead of `svn info` to get revisions
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/test/conftest.py
Labels: fetching

#11410 nseg: new package at 1.0
  var/spack/repos/builtin/packages/nseg/package.py
Labels: new-package

#11134 fix suite-sparse built with tbb from intel-parallel-studio
  lib/spack/spack/build_systems/intel.py
  var/spack/repos/builtin/packages/suite-sparse/package.py
Labels: bug, intel

#11456 r-curl: add 3.3
  var/spack/repos/builtin/packages/r-curl/package.py
Labels: new-version

#11457 r-triebeard: new package at 0.3.0
  var/spack/repos/builtin/packages/r-triebeard/package.py
Labels: new-package

#11458 r-urltools: new package at 1.7.3
  var/spack/repos/builtin/packages/r-urltools/package.py
Labels: new-package

#11454 r-httpcode: new package at 0.2.0
  var/spack/repos/builtin/packages/r-httpcode/package.py
Labels: new-package

#11459 r-crul: new package at 0.7.4
  var/spack/repos/builtin/packages/r-crul/package.py
Labels: new-package

#11460 r-isdparser: new package at 0.3.0
  var/spack/repos/builtin/packages/r-isdparser/package.py
Labels: new-package

#11461 r-rnoaa: new package at 0.8.4
  var/spack/repos/builtin/packages/r-rnoaa/package.py
Labels: new-package

#11408 recon: new package at 1.08
  var/spack/repos/builtin/packages/recon/package.py
  var/spack/repos/builtin/packages/recon/repeatmasker_recon.patch
Labels: new-package

#11044 r-rmysql: add 0.10.17, mariadb-connector-c dependency
  var/spack/repos/builtin/packages/r-rmysql/package.py
Labels: dependencies, new-version

#11052 r-taxizedb: new package at 0.1.4
  var/spack/repos/builtin/packages/r-taxizedb/package.py
Labels: new-package

#11053 r-phylostratr: new package
  var/spack/repos/builtin/packages/r-phylostratr/package.py
Labels: new-package

#11409 repeatscout: new package at 1.0.5
  var/spack/repos/builtin/packages/repeatscout/package.py
Labels: new-package

#11455 r-geonames: new package at 0.999
  var/spack/repos/builtin/packages/r-geonames/package.py
Labels: new-package

#11432 paraview: fix several dependency issues
  var/spack/repos/builtin/packages/paraview/package.py
Labels: dependencies, ecp

#11364 numpy: new version 1.16.3; update historical versions.
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: new-version

#11434 Allow command access to dump/pickle_environment from #8476
  lib/spack/spack/cmd/build_env.py
  lib/spack/spack/test/cmd/build_env.py
Labels: build-environment, commands

#11209 Spack extensions can import code from modules in root or cmd folder
  lib/spack/docs/extensions.rst
  lib/spack/docs/index.rst
  lib/spack/spack/extensions.py
  lib/spack/spack/test/cmd_extensions.py
Labels: commands, documentation, extensions, feature, tests

#11483 cmake: default to +ownlibs to improve build times
  var/spack/repos/builtin/packages/cmake/package.py
Labels: update-package, variants

#11503 gasnet: 2019.3.0
  var/spack/repos/builtin/packages/gasnet/package.py
Labels: new-version

#11472 repeatmodeler: new package at 1.0.11
  var/spack/repos/builtin/packages/repeatmodeler/package.py
Labels: new-package

#11475 py-pybedtools: new package at 0.6.9
  var/spack/repos/builtin/packages/py-pybedtools/package.py
Labels: new-package

#11476 py-metasv: new package at 0.5.4
  var/spack/repos/builtin/packages/py-metasv/package.py
Labels: new-package

#11487 r-qtl: new package at 1.44-9
  var/spack/repos/builtin/packages/r-qtl/package.py
Labels: new-package

#11488 r-rrblup: new package at 4.6
  var/spack/repos/builtin/packages/r-rrblup/package.py
Labels: new-package

#11489 r-bglr: new package at 1.0.8
  var/spack/repos/builtin/packages/r-bglr/package.py
Labels: new-package

#11502 smof: new package at 2.13.1
  var/spack/repos/builtin/packages/smof/package.py
Labels: new-package

#11490 r-popvar: new package at 1.2.1
  var/spack/repos/builtin/packages/r-popvar/package.py
Labels: new-package

#11371 intel-tbb: fix patch for old compilers
  var/spack/repos/builtin/packages/intel-tbb/package.py
  var/spack/repos/builtin/packages/intel-tbb/tbb_gcc_rtm_key_2019U1.patch
Labels: intel, patch

#11492 QMCPACK Update May 2019
  var/spack/repos/builtin/packages/qmcpack/package.py
Labels: new-version

#11484 dyninst: rework the cmake args for version 10.1 and later
  var/spack/repos/builtin/packages/dyninst/package.py
Labels: new-version

#11482 trilinos: add variant to disable chaco from seacas
  var/spack/repos/builtin/packages/dealii/package.py
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: variants

#11441 Update Umpire package with new versions
  var/spack/repos/builtin/packages/umpire/package.py
Labels: new-version

#11493 Add latest version of setuptools
  var/spack/repos/builtin/packages/py-setuptools/package.py
Labels: new-version

#11495 Add latest version of joblib
  var/spack/repos/builtin/packages/py-joblib/package.py
Labels: new-version

#11497 Add py-kmodes package
  var/spack/repos/builtin/packages/py-kmodes/package.py
Labels: new-package

#11407 Update optional-lite and span-lite to use CMakePackage
  var/spack/repos/builtin/packages/optional-lite/package.py
  var/spack/repos/builtin/packages/span-lite/package.py
  var/spack/repos/builtin/packages/string-view-lite/package.py
Labels: cmake, new-version

#10774 Grep the cray PrgEnv directly
  lib/spack/spack/operating_systems/cnl.py
Labels: cray

#11513 Make flake8 check python files without .py extension
  lib/spack/spack/cmd/flake8.py
Labels: flake8

#11431 Openmpi default for fabrics/schedulers=auto behavior
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: conflicts, mpi

#11518 mesa: Patch missing gl symbols in OSMesa
  var/spack/repos/builtin/packages/mesa/meson-expose-glapi-through-osmesa.patch
  var/spack/repos/builtin/packages/mesa/package.py
Labels: opengl, patch

#11517 dealii: fix symengine constraints
  var/spack/repos/builtin/packages/dealii/package.py
Labels: bug, concretization, update-package, variants

#10594 qt: Add version
  var/spack/repos/builtin/packages/qt/package.py
Labels: new-version

#11525 py-htseq: new version
  var/spack/repos/builtin/packages/py-htseq/package.py
Labels: new-version

#11527 dealii: add 9.1.0
  var/spack/repos/builtin/packages/dealii/package.py
Labels: new-version

#11287 Add Fujitsu compiler to Spack.
  etc/spack/defaults/packages.yaml
  lib/spack/env/cc
  lib/spack/env/fj/case-insensitive/FCC
  lib/spack/env/fj/fcc
  lib/spack/env/fj/frt
  lib/spack/spack/compilers/fj.py
  lib/spack/spack/test/compilers.py
Labels: compilers

#11534 Add CMake 3.14.3 and 3.14.4.
  var/spack/repos/builtin/packages/cmake/package.py
Labels: new-version

#11536 Add cppcheck version 1.87.
  var/spack/repos/builtin/packages/cppcheck/package.py
Labels: new-version

#11540 docs: truncate `spack list` output in basic usage
  lib/spack/docs/basic_usage.rst
Labels: documentation

#11494 Add latest version of py-cython
  var/spack/repos/builtin/packages/py-cython/package.py
Labels: new-version

#11552 Updated lmod (to version 8.1.5) and associated dependencies
  var/spack/repos/builtin/packages/lmod/package.py
  var/spack/repos/builtin/packages/lua-luafilesystem/package.py
  var/spack/repos/builtin/packages/lua/package.py
Labels: new-version, update-package

#11524 Simplified handling of parallel jobs during builds
  lib/spack/spack/build_environment.py
  lib/spack/spack/cmd/bootstrap.py
  lib/spack/spack/cmd/common/arguments.py
  lib/spack/spack/cmd/diy.py
  lib/spack/spack/cmd/install.py
  lib/spack/spack/package.py
  lib/spack/spack/test/build_environment.py
  lib/spack/spack/test/cmd/common/arguments.py
  lib/spack/spack/test/conftest.py
  var/spack/repos/builtin.mock/packages/a/package.py
  var/spack/repos/builtin/packages/bazel/package.py
Labels: build-environment, refactoring

#11547 Add nettle@3.4.1
  var/spack/repos/builtin/packages/nettle/package.py
Labels: new-version

#11544 Update libensemble to v0.5.0
  var/spack/repos/builtin/packages/py-libensemble/package.py
Labels: new-version

#11558 mbedtls: add pic variant
  var/spack/repos/builtin/packages/mbedtls/package.py
Labels: new-version, variants

#11562 xsdk@0.4.0: update dealii defaults wrt changes in a973ab475
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: xSDK

#11565 New Package: sl
  var/spack/repos/builtin/packages/sl/package.py
Labels: new-package

#11564 Update GnuPG and associated packages
  var/spack/repos/builtin/packages/gnupg/package.py
  var/spack/repos/builtin/packages/libassuan/package.py
  var/spack/repos/builtin/packages/libgcrypt/package.py
  var/spack/repos/builtin/packages/libgpg-error/package.py
Labels: new-version

#11557 r-emmli: new package
  var/spack/repos/builtin/packages/r-emmli/package.py
Labels: new-package

#11549 Add new versions for intel-mkl-dnn.
  var/spack/repos/builtin/packages/intel-mkl-dnn/package.py
Labels: new-version

#11548 py-markdown: new version
  var/spack/repos/builtin/packages/py-markdown/package.py
Labels: new-version

#11546 Add a new version for gnutls.
  var/spack/repos/builtin/packages/gnutls/package.py
Labels: new-version

#11556 r-geomorph: new version
  var/spack/repos/builtin/packages/r-geomorph/package.py
Labels: new-version

#8585 mirror create: non-zero return code
  lib/spack/spack/cmd/mirror.py
Labels: commands, mirrors

#11567 docs: set gettext_uuid to False to reduce churn
  lib/spack/docs/conf.py
  lib/spack/docs/requirements.txt
Labels: documentation, internationalization

#11566 commands: completion for new --update and --header options
  share/spack/spack-completion.bash
Labels: commands, shell-support

#11373 Cap the maximum number of build jobs
  etc/spack/defaults/config.yaml
  lib/spack/docs/config_yaml.rst
  lib/spack/docs/packaging_guide.rst
  lib/spack/spack/cmd/common/arguments.py
  lib/spack/spack/config.py
  lib/spack/spack/test/cmd/common/arguments.py
Labels: build-environment, configuration, feature

#11575 Add support for new unittest-cpp package
  var/spack/repos/builtin/packages/unittest-cpp/package.py
Labels: new-package

#11573 dealii: add 9.1.1
  var/spack/repos/builtin/packages/dealii/package.py
Labels: new-version

#11572 petsc: add version 3.11.2
  var/spack/repos/builtin/packages/petsc/package.py
Labels: new-version, xSDK

#11571 guile variant + update to GnuTLS 3.6.8
  var/spack/repos/builtin/packages/gnutls/package.py
Labels: dependencies, new-version, variants

#11570 Catch: 2.8.0
  var/spack/repos/builtin/packages/catch/package.py
Labels: new-version

#11532 Add external package for IBM Platform LSF and have OpenMPI depend on it when LSF is specified in the schedulers variant.
  var/spack/repos/builtin/packages/lsf/package.py
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: mpi, new-package

#11584 py-flye: new package at 2.4.2
  var/spack/repos/builtin/packages/py-flye/package.py
Labels: new-package

#11577 precice: add version 1.5.0
  var/spack/repos/builtin/packages/precice/package.py
Labels: new-version

#11509 mathematica: new package at 12.0.0
  var/spack/repos/builtin/packages/mathematica/package.py
Labels: new-package

#11559 Revbayes update
  var/spack/repos/builtin/packages/revbayes/package.py
Labels: new-version

#11589 r-randomglm: new package at 1.02-1
  var/spack/repos/builtin/packages/r-randomglm/package.py
Labels: new-package

#11590 aml: new package - the aml memory management library.
  var/spack/repos/builtin/packages/aml/package.py
Labels: new-package

#11593 alan: new package at 2.1.1
  var/spack/repos/builtin/packages/alan/package.py
Labels: new-package

#11591 Package/tau/tau 2.28.1 update
  var/spack/repos/builtin/packages/pdt/package.py
  var/spack/repos/builtin/packages/tau/package.py
Labels: new-version, update-package

#11596 Git: patch to make git relocatable with buildcache.
  var/spack/repos/builtin/packages/git/package.py
  var/spack/repos/builtin/packages/git/patch/relocatable.patch
Labels: patch
