Repository spack/spack, pull requests merged in 2019-02, with the labels that each got.

#10439 Added the py-async-generator package as a pre-req for py-jupyterhub
  var/spack/repos/builtin/packages/py-async-generator/package.py
Labels: new-package, python, python3

#10490 Catch2: v2.6.0
  var/spack/repos/builtin/packages/catch/package.py
Labels: new-version

#10512 MPark: Variant v1.4.0
  var/spack/repos/builtin/packages/mpark-variant/package.py
Labels: new-version

#10218 xsdk: enable slepc in deal.ii (used to be a concretization error)
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: xSDK

#10460 CUDA compiler conflicts for Linux
  lib/spack/spack/build_systems/cuda.py
Labels: compilers, conflicts, cuda, new-version

#10519 Package/genemark et
  var/spack/repos/builtin/packages/genemark-et/package.py
Labels: new-version

#10500 fmt: fix cmake arguments
  var/spack/repos/builtin/packages/fmt/package.py
Labels: build-error, update-package

#10532 py-biopython: new version
  var/spack/repos/builtin/packages/py-biopython/package.py
Labels: new-version

#10533 perl-file-homedir: new package
  var/spack/repos/builtin/packages/perl-file-homedir/package.py
Labels: new-package

#10521 xsdk@develop fixes
  var/spack/repos/builtin/packages/trilinos/package.py
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: xSDK

#10535 petsc@xsdk-0.2.0: fix sowing dependency
  var/spack/repos/builtin/packages/petsc/package.py
Labels: bug, xSDK

#10365 petsc: petscvariables is used from user makefiles - so it should not …
  var/spack/repos/builtin/packages/petsc/package.py
Labels: bug, makefile, xSDK

#10543 Fixed an issue occurring when no error lines are found
  lib/spack/spack/util/log_parse.py
Labels: bug

#10448 Adding a package for cardioid.
  var/spack/repos/builtin/packages/cardioid/package.py
Labels: cuda, mpi, new-package

#10551 CudaPackage: fix wrong version range
  lib/spack/spack/build_systems/cuda.py
Labels: bug, cuda

#10517 libarchive: remove lzma dependency
  var/spack/repos/builtin/packages/libarchive/package.py
Labels: dependencies, update-package

#8428 root package major update
  var/spack/repos/builtin/packages/root/package.py
Labels: update-package

#10547 try to workaround an issue with docker/dockerhub
  share/spack/qa/run-docker-tests
Labels: docker, travis

#7471 A new package: casacore.
  var/spack/repos/builtin/packages/casacore/package.py
Labels: new-package

#9324 Allow secondary generators when building with CMake.
  lib/spack/spack/build_systems/cmake.py
  lib/spack/spack/test/build_systems.py
Labels: cmake

#10310 Enhancement to module autoload documentation
  lib/spack/docs/module_file_support.rst
Labels: documentation, modules, user-experience

#8959 Cnvnator: a new package.
  var/spack/repos/builtin/packages/cnvnator/package.py
Labels: new-package

#10584 Bug Fix in permission setter
  lib/spack/spack/hooks/permissions_setters.py
Labels: permissions

#8136 Don't hard-code include/lib paths in compiler wrapper
  lib/spack/env/cc
  lib/spack/spack/build_environment.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/build_environment.py
  lib/spack/spack/test/build_systems.py
  lib/spack/spack/test/cc.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/util/environment.py
  var/spack/repos/builtin/packages/freetype/package.py
Labels: WIP

#9712 make SPACK_SHELL detection more robust
  share/spack/setup-env.sh
Labels: don't-merge-yet, shell-support

#10518 Updated Geant4 and dependencies clhep and vecgeom to use cxxstd= variant
  var/spack/repos/builtin/packages/clhep/package.py
  var/spack/repos/builtin/packages/g4abla/package.py
  var/spack/repos/builtin/packages/g4emlow/package.py
  var/spack/repos/builtin/packages/g4ensdfstate/package.py
  var/spack/repos/builtin/packages/g4ndl/package.py
  var/spack/repos/builtin/packages/g4neutronxs/package.py
  var/spack/repos/builtin/packages/g4photonevaporation/package.py
  var/spack/repos/builtin/packages/g4pii/package.py
  var/spack/repos/builtin/packages/g4radioactivedecay/package.py
  var/spack/repos/builtin/packages/g4realsurface/package.py
  var/spack/repos/builtin/packages/g4saiddata/package.py
  var/spack/repos/builtin/packages/g4tendl/package.py
  var/spack/repos/builtin/packages/geant4-data/package.py
  var/spack/repos/builtin/packages/geant4/cxx17.patch
  var/spack/repos/builtin/packages/geant4/cxx17_geant4_10_0.patch
  var/spack/repos/builtin/packages/geant4/package.py
  var/spack/repos/builtin/packages/vecgeom/package.py
Labels: update-package

#9208 DD4hep package
  var/spack/repos/builtin/packages/dd4hep/package.py
Labels: don't-merge-yet, new-package

#9194 Add Gaudi and RELAX packages
  var/spack/repos/builtin/packages/gaudi/package.py
  var/spack/repos/builtin/packages/gaudi/use-xenv-master.diff
  var/spack/repos/builtin/packages/relax/package.py
Labels: don't-merge-yet

#10570 cp2k is now a MakefilePackage
  var/spack/repos/builtin/packages/cp2k/package.py
  var/spack/repos/builtin/packages/libint/package.py
  var/spack/repos/builtin/packages/libxc/package.py
  var/spack/repos/builtin/packages/plumed/package.py
Labels: update-package

#10604 Compiler wrappers don't add "pkg.headers.directories" to the include list
  lib/spack/env/cc
  lib/spack/spack/build_environment.py
  lib/spack/spack/test/build_environment.py
Labels: bug, compilers, hotfix

#8775 new variant: simmodsuite for pumi
  var/spack/repos/builtin/packages/pumi/package.py
Labels: variants

#9600 Fix bug getting specs from build caches
  lib/spack/spack/binary_distribution.py
Labels: binary-packages, buildcache

#10560 [Docker] more base images
  share/spack/docker/Dockerfile
  share/spack/docker/config/centos-6.bash
  share/spack/docker/config/centos-7.bash
  share/spack/docker/config/fedora-24.bash
  share/spack/docker/config/fedora-29.bash
  share/spack/docker/config/opensuse-leap.bash
  share/spack/docker/config/opensuse-tumbleweed.bash
  share/spack/docker/config/scilinux-6.bash
  share/spack/docker/config/scilinux-7.bash
  share/spack/docker/config/ubuntu-1604.bash
  share/spack/docker/config/ubuntu-1804.bash
  share/spack/docker/handle-ssh.sh
  share/spack/qa/run-docker-tests
Labels: containers, docker

#10614 Fix plural typo in ROOT package
  var/spack/repos/builtin/packages/root/package.py
Labels: update-package

#10613 Catch2: v2.6.1
  var/spack/repos/builtin/packages/catch/package.py
Labels: new-version

#10615 NLohmann-JSON: v3.5.0
  var/spack/repos/builtin/packages/nlohmann-json/package.py
Labels: new-version

#10616 openPMD-api: mpi4py support
  var/spack/repos/builtin/packages/openpmd-api/package.py
Labels: update-package

#10592 openssl: Add comments and version
  var/spack/repos/builtin/packages/openssl/package.py
Labels: new-version

#10606 xxhash: edit prefix in Makefile for macOS
  var/spack/repos/builtin/packages/xxhash/package.py
Labels: macOS

#10645 uvw: new package
  var/spack/repos/builtin/packages/uvw/package.py
Labels: new-package

#10555 Download GNU packages from mirrors (Part 2)
  var/spack/repos/builtin/packages/diffutils/package.py
  var/spack/repos/builtin/packages/gcc/package.py
  var/spack/repos/builtin/packages/mpc/package.py
  var/spack/repos/builtin/packages/time/package.py
Labels: fetching

#9406 gcc: add nvptx offload capability
  var/spack/repos/builtin/packages/gcc/package.py
Labels: cuda, gcc, new-version, update-package

#10666 ADIOS v2.3.1
  var/spack/repos/builtin/packages/adios2/package.py
Labels: new-version

#10653 stacks: new version
  var/spack/repos/builtin/packages/stacks/package.py
Labels: new-version

#10335 Python: optional dependencies and post-installation tests
  var/spack/repos/builtin/packages/cdecimal/darwin_install_name.patch
  var/spack/repos/builtin/packages/cdecimal/package.py
  var/spack/repos/builtin/packages/libbsd/package.py
  var/spack/repos/builtin/packages/libnsl/package.py
  var/spack/repos/builtin/packages/libtirpc/package.py
  var/spack/repos/builtin/packages/libxdmcp/package.py
  var/spack/repos/builtin/packages/mpdecimal/package.py
  var/spack/repos/builtin/packages/py-pymol/package.py
  var/spack/repos/builtin/packages/python/ncurses.patch
  var/spack/repos/builtin/packages/python/package.py
  var/spack/repos/builtin/packages/python/tkinter.patch
  var/spack/repos/builtin/packages/rpcsvc-proto/package.py
  var/spack/repos/builtin/packages/tcl/package.py
  var/spack/repos/builtin/packages/tk/package.py
  var/spack/repos/builtin/packages/xz/package.py
Labels: dependencies, new-version, python, tests

#7727 Package/py unicycler
  var/spack/repos/builtin/packages/py-unicycler/package.py
Labels: new-package

#10691 Add /hash to spack help --spec
  lib/spack/spack/cmd/help.py
Labels: commands, documentation

#10697 r-vfs: new package at 1.0.2
  var/spack/repos/builtin/packages/r-vfs/package.py
Labels: new-package

#10623 Restore computation of include directories
  lib/spack/env/cc
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/build_environment.py
  lib/spack/spack/test/build_environment.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/llnl/util/filesystem.py
  var/spack/repos/builtin/packages/libxml2/package.py
Labels: build-environment, headers

#10724 petsc: add version 3.10.4
  var/spack/repos/builtin/packages/petsc/package.py
Labels: new-version

#10717 Update environment-modules package
  lib/spack/spack/cmd/bootstrap.py
  var/spack/repos/builtin/packages/environment-modules/package.py
Labels: modules, update-package

#10639 wtdbg2: new package
  var/spack/repos/builtin/packages/wtdbg2/package.py
Labels: new-package

#10499 Fix 'make test' detection when LANG is not in English
  lib/spack/spack/package.py
Labels: makefile, tests

#10740 Trilinos: add release 12.14.1
  var/spack/repos/builtin/packages/trilinos/package.py
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: new-version, xSDK

#9199 Added a sub-command to show if packages are relocatable
  .travis.yml
  lib/spack/llnl/util/lang.py
  lib/spack/spack/cmd/buildcache.py
  lib/spack/spack/cmd/spec.py
  lib/spack/spack/environment.py
  lib/spack/spack/relocate.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/cmd/buildcache.py
  lib/spack/spack/test/data/templates/non_relocatable.c
  lib/spack/spack/test/data/templates/relocatable.c
  lib/spack/spack/test/relocate.py
Labels: binary-packages, buildcache
