Repository spack/spack, pull requests merged in 2020-11, with the labels that each got.

#19645 opencv: fixed conflict firectives (missing '^')
  var/spack/repos/builtin/packages/opencv/package.py
Labels: update-package

#19646 gromacs: simplified use of targets
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: update-package

#19654 root: fix conflict directives (missing '^')
  var/spack/repos/builtin/packages/root/package.py
Labels: update-package

#19656 hpl: fix conflict directive (missing '^')
  var/spack/repos/builtin/packages/hpl/package.py
Labels: concretization

#19655 arborx: fix depends_on conditional (missing '+')
  var/spack/repos/builtin/packages/arborx/package.py
Labels: concretization

#19643 Fix rdma-core package installation
  var/spack/repos/builtin/packages/py-docutils/package.py
  var/spack/repos/builtin/packages/rdma-core/package.py
Labels: dependencies, update-package

#19657 krb5: fix build with Apple Clang 12
  var/spack/repos/builtin/packages/krb5/package.py
Labels: clang, external-packages, patch

#19659 libepoxy: remove meson dependency
  var/spack/repos/builtin/packages/libepoxy/package.py
Labels: dependencies

#19658 meson: add new version, external find support
  var/spack/repos/builtin/packages/meson/package.py
  var/spack/repos/builtin/packages/meson/rpath-0.56.patch
Labels: external-packages, meson, new-version, patch

#19662 Scalapack: don't apply patches twice
  var/spack/repos/builtin/packages/netlib-scalapack/package.py
Labels: blas-lapack-scalapack, patch

#19636 sbang: fixes for sbang relocation
  lib/spack/spack/hooks/sbang.py
  lib/spack/spack/relocate.py
  lib/spack/spack/test/relocate.py
Labels: binary-packages, e4s, ecp, sbang

#19637 hip: setup run environments
  var/spack/repos/builtin/packages/hip/package.py
Labels: AMD, e4s, ecp, modules

#19627 llvm: fix +lldb build with external ncurses on openSUSE
  var/spack/repos/builtin/packages/llvm/lldb_external_ncurses-10.patch
  var/spack/repos/builtin/packages/llvm/package.py
Labels: patch

#19675 Fix issue with NAMD patch not applying cleanly
  var/spack/repos/builtin/packages/namd/inherited-member-2.13.patch
  var/spack/repos/builtin/packages/namd/package.py
Labels: patch

#19642 ROOT: use native CMakePackage functions in packages.py
  var/spack/repos/builtin/packages/root/package.py
Labels: hep, update-package

#19679 omega-h: add version 9.32.5
  var/spack/repos/builtin/packages/omega-h/package.py
Labels: new-version, xSDK

#19680 pumi add version 2.2.5
  var/spack/repos/builtin/packages/pumi/package.py
Labels: WIP, new-version, xSDK

#19606 allow ucx to build with more recent version of gdrcopy
  var/spack/repos/builtin/packages/ucx/package.py
Labels: dependencies

#19620 Update cuDNN packages to check Power installation
  var/spack/repos/builtin/packages/cudnn/package.py
Labels: cuda, update-package

#18738 Add new package: abi-dumper
  var/spack/repos/builtin/packages/abi-dumper/package.py
Labels: new-package

#19705 Add maximum Python version for Snakemake
  var/spack/repos/builtin/packages/snakemake/package.py
Labels: update-package

#19693 fix format issue with code-block section
  lib/spack/docs/module_file_support.rst
Labels: documentation

#18811 Add new package: py-boom
  var/spack/repos/builtin/packages/py-boom-boot-manager/package.py
Labels: new-package

#17829 Add new package: istio
  var/spack/repos/builtin/packages/istio/package.py
Labels: new-package

#19681 py-petsc4py: add version 3.14.0
  var/spack/repos/builtin/packages/py-petsc4py/package.py
Labels: new-version, xSDK

#19686 petsc@3.14 update superlu-dist dependency
  var/spack/repos/builtin/packages/petsc/package.py
Labels: dependencies

#19682 superlu-dist: update to version 6.4.0
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: new-version, xSDK

#19639 range-v3: add version 0.11.0
  var/spack/repos/builtin/packages/range-v3/package.py
Labels: new-version

#19628 [dire] dire is included in pythia8@8300: so dire depends_on adjusted
  var/spack/repos/builtin/packages/dire/package.py
Labels: dependencies

#19560 Trilinos: Add STRUMPACK dependency
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: new-variant

#19549 [julia]: CPU names are LLVM-style, must map across
  var/spack/repos/builtin/packages/julia/package.py
Labels: microarchitectures, update-package

#19119 Trilinos: support cuda, hwloc, Kokkos_ARCH_* and c++ std
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: update-package

#19712 Use commit instead of branch as version for dtk 3.1-rc2
  var/spack/repos/builtin/packages/datatransferkit/package.py
Labels: fetching

#19708 Add new package: libdatrie
  var/spack/repos/builtin/packages/libdatrie/package.py
Labels: new-package

#19707 Add new package: jose
  var/spack/repos/builtin/packages/jose/package.py
Labels: new-package

#19706 Add new package: libbinio
  var/spack/repos/builtin/packages/libbinio/package.py
Labels: new-package

#19709 py-pygobject: new version 3.38.0
  var/spack/repos/builtin/packages/at-spi2-core/package.py
  var/spack/repos/builtin/packages/atk/package.py
  var/spack/repos/builtin/packages/gdk-pixbuf/package.py
  var/spack/repos/builtin/packages/gobject-introspection/package.py
  var/spack/repos/builtin/packages/gtkplus/package.py
  var/spack/repos/builtin/packages/pango/package.py
  var/spack/repos/builtin/packages/py-pygobject/package.py
Labels: new-version, update-package

#19699 new package: fprettify 0.3.6
  var/spack/repos/builtin/packages/py-fprettify/package.py
Labels: new-package

#19691 amrex: new version 20.11
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package

#19697 disable tests to fix build.
  var/spack/repos/builtin/packages/cppzmq/package.py
Labels: update-package

#19689 Package/py json get
  var/spack/repos/builtin/packages/py-json-get/package.py
Labels: new-package

#19714 speexdsp: fix link dependency on FFT library
  var/spack/repos/builtin/packages/speexdsp/package.py
Labels: update-package

#19668 bump up hsakmt-roct ,hsa-rocr-dev,llvm-amdgpu version for 3.9.0 release
  var/spack/repos/builtin/packages/comgr/package.py
  var/spack/repos/builtin/packages/hipify-clang/package.py
  var/spack/repos/builtin/packages/hsa-rocr-dev/package.py
  var/spack/repos/builtin/packages/hsakmt-roct/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/rocm-clang-ocl/package.py
  var/spack/repos/builtin/packages/rocm-cmake/package.py
  var/spack/repos/builtin/packages/rocm-device-libs/package.py
  var/spack/repos/builtin/packages/rocm-smi/package.py
  var/spack/repos/builtin/packages/rocminfo/package.py
Labels: AMD, new-version

#19664 New package - gatepet2stir
  var/spack/repos/builtin/packages/gatepet2stir/package.py
Labels: new-package

#19663 Regenerate patch for gate to include SGE script
  var/spack/repos/builtin/packages/gate/cluster_tools_jobsplitter_platform.patch
Labels: patch

#19660 sirius,spfft: fix defaults for amdgpu_target to be str, not tuple
  var/spack/repos/builtin/packages/sirius/package.py
  var/spack/repos/builtin/packages/spfft/package.py
Labels: update-package

#19713 libusb: disable udev
  var/spack/repos/builtin/packages/libusb/package.py
Labels: update-package

#18737 Add new package: abi-compliance-checker
  var/spack/repos/builtin/packages/abi-compliance-checker/package.py
Labels: new-package

#19731 Fix trilinos error (when building packages that depend in it? dtk, petsc..)
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: bugfix, xSDK

#19523 Added HIP support to VTK-m package
  var/spack/repos/builtin/packages/vtk-m/package.py
Labels: AMD, new-variant

#19684 New MFEM version: 4.2
  var/spack/repos/builtin/packages/mfem/package.py
Labels: new-version, xSDK

#19730 petsc add version 3.14.1
  var/spack/repos/builtin/packages/petsc/package.py
Labels: new-version, xSDK

#19727 admixtools package
  var/spack/repos/builtin/packages/admixtools/package.py
Labels: new-package

#19724 update rocm-bandwidth-test,rocm-dbgapi,rocprofiler for rocm 3.9.0
  var/spack/repos/builtin/packages/rocm-bandwidth-test/package.py
  var/spack/repos/builtin/packages/rocm-dbgapi/package.py
  var/spack/repos/builtin/packages/rocm-gdb/package.py
  var/spack/repos/builtin/packages/rocprofiler-dev/package.py
Labels: AMD, new-version

#19721 AMD - Bumped up version for hip-rocclr, rocm-opencl, rocm-smi-lib
  var/spack/repos/builtin/packages/hip-rocclr/package.py
  var/spack/repos/builtin/packages/rocm-opencl/package.py
  var/spack/repos/builtin/packages/rocm-smi-lib/package.py
Labels: AMD, new-version

#19719 10.1 release and various bug fixes for SST packages
  var/spack/repos/builtin/packages/ramulator/ramulator_sha_7d2e723_libPatch.patch
  var/spack/repos/builtin/packages/sst-core/package.py
  var/spack/repos/builtin/packages/sst-elements/package.py
  var/spack/repos/builtin/packages/sst-macro/package.py
Labels: dependencies, new-version, patch, update-package

#19717 Axom: update package
  var/spack/repos/builtin/packages/axom/package.py
Labels: bugfix, configuration, triage

#19739 py-llvmlite: fix llvm compatibility version
  var/spack/repos/builtin/packages/py-llvmlite/package.py
Labels: update-package

#19695 bug fix: Report curl is missing if command not found
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/test/url_fetch.py
Labels: bugfix, fetching

#19741 Update packages.yaml format references in packages
  var/spack/repos/builtin/packages/apple-libunwind/package.py
  var/spack/repos/builtin/packages/fca/package.py
  var/spack/repos/builtin/packages/hcoll/package.py
  var/spack/repos/builtin/packages/jdk/package.py
  var/spack/repos/builtin/packages/lsf/package.py
  var/spack/repos/builtin/packages/lustre/package.py
  var/spack/repos/builtin/packages/mpt/package.py
  var/spack/repos/builtin/packages/mxm/package.py
  var/spack/repos/builtin/packages/opengl/package.py
  var/spack/repos/builtin/packages/openglu/package.py
Labels: configuration, external-packages, update-package

#19729 bamaddrg package
  var/spack/repos/builtin/packages/bamaddrg/package.py
Labels: new-package

#19732 filtlong package
  var/spack/repos/builtin/packages/filtlong/package.py
Labels: new-package

#19716 Remove hardcoded version numbers from container logic
  lib/spack/docs/developer_guide.rst
  lib/spack/spack/container/images.json
  lib/spack/spack/container/images.py
  lib/spack/spack/schema/container.py
  lib/spack/spack/test/container/images.py
Labels: containers

#19683 LBANN update HWLOC versions
  var/spack/repos/builtin/packages/aluminum/package.py
  var/spack/repos/builtin/packages/dihydrogen/package.py
  var/spack/repos/builtin/packages/hydrogen/package.py
  var/spack/repos/builtin/packages/lbann/package.py
Labels: dependencies

#19737 Added CUB dependency to Aluminum
  var/spack/repos/builtin/packages/aluminum/package.py
Labels: dependencies, new-version

#19738 add z-checker
  var/spack/repos/builtin/packages/z-checker/package.py
Labels: new-package

#19678 py-numpy: add v1.19.4
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: new-version

#19685 GDAL: add v3.2.0
  var/spack/repos/builtin/packages/gdal/package.py
Labels: new-version

#19757 py-scipy: add v1.5.4 and master
  var/spack/repos/builtin/packages/py-scipy/package.py
Labels: new-version

#19718 oneDNN: add v1.7
  var/spack/repos/builtin/packages/onednn/package.py
Labels: new-version

#19108 New Package: libcumlprims
  var/spack/repos/builtin/packages/libcumlprims/package.py
Labels: new-package

#16076 New package: code-server
  var/spack/repos/builtin/packages/code-server/package.py
Labels: new-package

#19710 py-grpcio: workaround build failures pending new release
  var/spack/repos/builtin/packages/py-grpcio/package.py
Labels: update-package

#19786 Mumps oneapi
  var/spack/repos/builtin/packages/mumps/package.py
Labels: e4s, ecp

#19728 cget package
  var/spack/repos/builtin/packages/cget/package.py
Labels: new-package

#19677 meson: set STRIP on macOS
  var/spack/repos/builtin/packages/at-spi2-core/package.py
  var/spack/repos/builtin/packages/glib/package.py
  var/spack/repos/builtin/packages/meson/package.py
Labels: macOS, meson, new-version

#19795 virtualgl: Change virtual jpeg dependency to libjpeg-turbo dep
  var/spack/repos/builtin/packages/virtualgl/package.py
Labels: dependencies, virtual-dependencies

#19793 glib: add 2.66.2 and 2.64.6
  var/spack/repos/builtin/packages/glib/meson-gettext-2.66.patch
  var/spack/repos/builtin/packages/glib/package.py
Labels: new-version

#19792 py-setuptools: add 50.3.2
  var/spack/repos/builtin/packages/py-setuptools/package.py
Labels: new-version

#19791 expat: add 2.2.10
  var/spack/repos/builtin/packages/expat/package.py
Labels: new-version

#19790 spot: add v2.9.4
  var/spack/repos/builtin/packages/spot/package.py
Labels: e4s, ecp, new-version

#19789 fast-global-file-status needs elf
  var/spack/repos/builtin/packages/fast-global-file-status/package.py
Labels: dependencies, e4s, ecp

#19785 add new vtk-h versions
  var/spack/repos/builtin/packages/vtk-h/package.py
Labels: new-version

#19780 cp2k: fix lmax variant to use tuple
  var/spack/repos/builtin/packages/cp2k/package.py
Labels: update-package

#19776 Add new package: predixy
  var/spack/repos/builtin/packages/predixy/package.py
Labels: new-package

#19775 [root] fix package definition
  var/spack/repos/builtin/packages/root/package.py
Labels: bugfix, update-package

#19765 openblas: make TIMER compatible with LLVM F18
  var/spack/repos/builtin/packages/openblas/package.py
Labels: clang, e4s, ecp, update-package

#19760 New version of Recorder: 2.1.6
  var/spack/repos/builtin/packages/recorder/package.py
Labels: new-version

#19758 fairlogger: Add Version 1.9.0
  var/spack/repos/builtin/packages/fairlogger/package.py
Labels: new-version

#19756 fmt: Add Version 7.1.2
  var/spack/repos/builtin/packages/fmt/package.py
Labels: new-version

#19742 Add the `scorep` package dependency.
  var/spack/repos/builtin/packages/scalasca/package.py
Labels: dependencies

#19787 [evtgen] add env var
  var/spack/repos/builtin/packages/evtgen/package.py
Labels: run-environment, update-package

#19747 fdupes: new package
  var/spack/repos/builtin/packages/fdupes/package.py
Labels: new-package

#19783 Added code to help DiHydrogen find cuDNN and CUB
  var/spack/repos/builtin/packages/aluminum/package.py
  var/spack/repos/builtin/packages/dihydrogen/package.py
  var/spack/repos/builtin/packages/hydrogen/package.py
  var/spack/repos/builtin/packages/lbann/package.py
Labels: update-package

#19769 amrex: new options names for version > 20.11
  var/spack/repos/builtin/packages/amrex/package.py
Labels: update-package

#19798 Bash: add new patches, maintainer
  var/spack/repos/builtin/packages/bash/package.py
  var/spack/repos/builtin/packages/bash/patch-configure.diff
  var/spack/repos/builtin/packages/bash/xcode12-strsignal-conf.patch
Labels: clang, macOS, maintainers, patch

#19799 perl: make 5.32.0 the preferred version
  var/spack/repos/builtin/packages/perl/package.py
Labels: perl, update-package

#19778 draft: openfoam / openfoam-org : handle arch naming differences #19777
  var/spack/repos/builtin/packages/openfoam-org/package.py
  var/spack/repos/builtin/packages/openfoam/package.py
Labels: update-package

#19808 commands: add `spack tutorial` command
  lib/spack/spack/cmd/tutorial.py
  share/spack/spack-completion.bash
Labels: tutorial

#19770 ParaView: correct path for PARAVIEW_VTK_DIR
  var/spack/repos/builtin/packages/paraview/package.py
Labels: update-package

#19725 tskit package
  var/spack/repos/builtin/packages/tskit/package.py
Labels: new-package

#19817 ruby-narray: Added git master branch
  var/spack/repos/builtin/packages/ruby-narray/package.py
Labels: new-version

#19819 add sundials 5.5.0
  var/spack/repos/builtin/packages/sundials/5.5.0-xsdk-patches.patch
  var/spack/repos/builtin/packages/sundials/package.py
Labels: new-version, xSDK

#19820 py-vermin: add latest version 1.0.2
  var/spack/repos/builtin/packages/py-vermin/package.py
Labels: new-version

#19774 py-pygps: new package.
  var/spack/repos/builtin/packages/py-pygps/package.py
Labels: new-package

#19794 spiral: new version 8.2.0
  var/spack/repos/builtin/packages/spiral/package.py
Labels: new-version

#19822 add trilinos 13.0.1 [and update superlu-dist dependency]
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: WIP, new-version, xSDK

#19823 [opencascade] depends_on libxext, libxmu, libxt, libxi
  var/spack/repos/builtin/packages/opencascade/package.py
Labels: dependencies

#19815 [docs] getting_started.rst: fix typo
  lib/spack/docs/getting_started.rst
Labels: documentation

#19811 openblas: Add versions 0.3.11 and 0.3.12
  var/spack/repos/builtin/packages/openblas/package.py
Labels: blas-lapack-scalapack, new-version

#19805 saga-gis: add "depends_on('libsm', type='link')"
  var/spack/repos/builtin/packages/saga-gis/package.py
Labels: dependencies

#19796 py-gpytorch: add v1.2.1
  var/spack/repos/builtin/packages/py-gpytorch/package.py
Labels: new-version

#19804 Fix minor typo in function comment
  lib/spack/spack/util/spack_yaml.py
Labels: documentation

#19821 [geant4] depends_on glu when +opengl
  var/spack/repos/builtin/packages/geant4/package.py
Labels: dependencies

#19818 py-scipy: set F90 for all compilers
  var/spack/repos/builtin/packages/py-scipy/package.py
Labels: build-environment, compilers

#19845 py-torchvision: gather correct cuda_arch setting from py-torch
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: cuda, update-package

#19807 abi-dumper: Add phases
  var/spack/repos/builtin/packages/abi-dumper/package.py
Labels: makefile

#19850 votca-xtp: update deps
  var/spack/repos/builtin/packages/votca-xtp/package.py
Labels: dependencies

#19849 soapdenovo2: add 242
  var/spack/repos/builtin/packages/soapdenovo2/package.py
Labels: new-version

#19841 ROCm3.9 recipe for rocblas, hipblas & rocsolver
  var/spack/repos/builtin/packages/hipblas/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocsolver/package.py
Labels: AMD

#19861 openfoam: remove mplibUSER provisioning
  var/spack/repos/builtin/packages/foam-extend/package.py
  var/spack/repos/builtin/packages/openfoam-org/package.py
  var/spack/repos/builtin/packages/openfoam/package.py
Labels: update-package

#19856 ace: Add version 6.5.12
  var/spack/repos/builtin/packages/ace/package.py
Labels: new-version

#19854 Metall package: add v0.6
  var/spack/repos/builtin/packages/metall/package.py
Labels: new-version

#19852 Add optional deps mpmath and deap to py-libensemble
  var/spack/repos/builtin/packages/py-libensemble/package.py
Labels: new-variant

#19839 arbor: Add version 0.4
  var/spack/repos/builtin/packages/arbor/package.py
Labels: new-version

#19812 suite-sparse: add versions 5.8.0 and 5.8.1
  var/spack/repos/builtin/packages/suite-sparse/package.py
Labels: new-version

#19779 [podio] set pythonpath correctly
  var/spack/repos/builtin/packages/podio/package.py
Labels: run-environment, update-package

#19740 axom: devtools require llvm clang-format
  var/spack/repos/builtin/packages/axom/package.py
Labels: update-package

#19669 add spack recipe for rocm version of the tensile
  var/spack/repos/builtin/packages/rocm-tensile/0001-fix-compile-error.patch
  var/spack/repos/builtin/packages/rocm-tensile/package.py
Labels: AMD, new-package

#19471 New package: libcuml
  var/spack/repos/builtin/packages/libcuml/package.py
Labels: new-package

#18089 Adding support to build ucx development branch
  var/spack/repos/builtin/packages/ucx/package.py
Labels: new-version

#19480 Restore `spack checksum` verbosity
  lib/spack/spack/stage.py
Labels: commands, user-experience

#19474 New package: py-cuml
  var/spack/repos/builtin/packages/py-cuml/package.py
Labels: new-package

#19863 msgpack-c: Add Version 3.1.1
  var/spack/repos/builtin/packages/msgpack-c/package.py
Labels: new-version

#19865 fix typo wrt target=graviton
  lib/spack/external/__init__.py
  lib/spack/external/archspec/json/cpu/microarchitectures.json
Labels: bug

#19866 yaml-cpp: Improve shared library building
  var/spack/repos/builtin/packages/yaml-cpp/package.py
Labels: update-package

#19698 Keep output machine readable using `spack find --format` in an env
  lib/spack/spack/cmd/find.py
  lib/spack/spack/test/cmd/find.py
Labels: commands

#19869 kokkos add "graviton" to spack_micro_arch_map
  var/spack/repos/builtin/packages/kokkos/package.py
Labels: build-error, microarchitectures, xSDK

#19824 Fix scalapack build error
  var/spack/repos/builtin/packages/netlib-scalapack/package.py
Labels: build-error, clang

#19847 SuperLU-Dist: Add CUDA variant
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: cuda, new-variant

#19826 Package/r bigalgebra
  var/spack/repos/builtin/packages/r-bigalgebra/package.py
  var/spack/repos/builtin/packages/r-bigmemory-sri/package.py
  var/spack/repos/builtin/packages/r-bigmemory/package.py
Labels: new-package

#19846 xsdk@0.6.0
  var/spack/repos/builtin/packages/alquimia/package.py
  var/spack/repos/builtin/packages/petsc/disable-DEPRECATED_ENUM.diff
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/pflotran/package.py
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: new-version, xSDK

#19872 elpa: Fix for aarch64
  var/spack/repos/builtin/packages/elpa/package.py
Labels: arm

#19876 new release: cdo-1.9.9
  var/spack/repos/builtin/packages/cdo/package.py
Labels: new-version

#19881 [acts] conflicts with %gcc@:7 since @0.23: due to c++17 <charconv> header
  var/spack/repos/builtin/packages/acts/package.py
Labels: conflicts

#19886 py-vermin: add latest version 1.0.3
  var/spack/repos/builtin/packages/py-vermin/package.py
Labels: new-version

#19883 suite-sparse: add deps: mpfr, gmp
  var/spack/repos/builtin/packages/suite-sparse/package.py
Labels: dependencies, e4s, ecp

#18205 Fix "spack install" when using Python 3.8 on macos
  .github/workflows/macos_unit_tests.yaml
  bin/spack
  lib/spack/llnl/util/lang.py
  lib/spack/llnl/util/tty/log.py
  lib/spack/llnl/util/tty/pty.py
  lib/spack/spack/build_environment.py
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/hooks/sbang.py
  lib/spack/spack/installer.py
  lib/spack/spack/package.py
  lib/spack/spack/repo.py
  lib/spack/spack/spec.py
  lib/spack/spack/stage.py
  lib/spack/spack/store.py
  lib/spack/spack/subprocess_context.py
  lib/spack/spack/test/bindist.py
  lib/spack/spack/test/cmd/dev_build.py
  lib/spack/spack/test/cmd/install.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/database.py
  lib/spack/spack/test/install.py
  lib/spack/spack/test/installer.py
  lib/spack/spack/test/llnl/util/lock.py
  lib/spack/spack/test/llnl/util/tty/log.py
  lib/spack/spack/test/sbang.py
  lib/spack/spack/util/pattern.py
  lib/spack/spack/util/prefix.py
Labels: macOS, python3

#19888 Ginkgo: add smoke tests.
  var/spack/repos/builtin/packages/ginkgo/package.py
Labels: smoke-tests

#19878 [gaudi] v35r0
  var/spack/repos/builtin/packages/gaudi/package.py
  var/spack/repos/builtin/packages/gaudi/python2.patch
Labels: update-package
