Repository spack/spack, pull requests merged in 2020-04, with the labels that each got.

#12597 new package: py-spatialite
  var/spack/repos/builtin/packages/py-spatialite/package.py
Labels: new-package

#13905 pybind11 2.5.0: Include Change
  var/spack/repos/builtin/packages/py-pybind11/package.py
Labels: new-version, python, update-package

#15805 Spelling fixes
  .flake8_packages
  CHANGELOG.md
  lib/spack/docs/basic_usage.rst
  lib/spack/docs/build_systems/intelpackage.rst
  lib/spack/docs/containers.rst
  lib/spack/docs/getting_started.rst
  lib/spack/docs/packaging_guide.rst
  lib/spack/docs/pipelines.rst
  lib/spack/docs/workflows.rst
Labels: documentation

#15801 Add libgit2 1.0.0 and 0.28.5
  var/spack/repos/builtin/packages/libgit2/package.py
Labels: new-version

#15796 Package/sfcgal fix typo
  var/spack/repos/builtin/packages/sfcgal/package.py
Labels: dependencies

#15788 Minor LLVM libomptarget fixes
  var/spack/repos/builtin/packages/llvm/package.py
Labels: update-package

#15787 Fixed Missed Shared Object Logic in Lua Spackage
  var/spack/repos/builtin/packages/lua/package.py
Labels: update-package

#15737 [WIP] OpenDX: add new package
  var/spack/repos/builtin/packages/opendx/package.py
Labels: WIP, new-package

#15806 Added v3 of Laghos
  var/spack/repos/builtin/packages/laghos/package.py
Labels: new-version

#15808 amrex: New version 20.04
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version

#15802 openssl: add v1.1.1f
  var/spack/repos/builtin/packages/openssl/package.py
Labels: new-version

#15790 Version bump for slurm package
  var/spack/repos/builtin/packages/slurm/package.py
Labels: new-version

#15810 hdf5: prefer version 1.10 for now
  var/spack/repos/builtin/packages/hdf5/package.py
Labels: update-package

#15798 New package:dhpmm-f
  var/spack/repos/builtin/packages/dhpmm-f/package.py
Labels: new-package

#15814 package: add static library build option for yaml-cpp
  var/spack/repos/builtin/packages/yaml-cpp/package.py
Labels: new-variants

#15816 package: add variants to cgns
  var/spack/repos/builtin/packages/cgns/package.py
Labels: new-variants

#15817 package: update flit and py-pyelftools versions
  var/spack/repos/builtin/packages/flit/package.py
  var/spack/repos/builtin/packages/py-pyelftools/package.py
Labels: new-version

#15822 Up version for cmake to 3.17.0
  var/spack/repos/builtin/packages/cmake/package.py
Labels: new-version

#15438 py-ephem: a new python package.
  var/spack/repos/builtin/packages/py-ephem/package.py
Labels: new-package, python, ready

#15825 py-pyfits: a new package.
  var/spack/repos/builtin/packages/py-pyfits/package.py
Labels: new-package

#15819 ppOpen-APPL/BEM: New package.
  var/spack/repos/builtin/packages/ppopen-appl-bem/package.py
Labels: new-package

#15789 c-blosc: Add variants to disable building tests and benchmarks
  var/spack/repos/builtin/packages/c-blosc/package.py
Labels: tests

#15830 unqlite: Patching unqlite to be able to build a shared library
  var/spack/repos/builtin/packages/unqlite/0001-Removed-the-STATIC-key-word-to-enable-building-a-sha.patch
  var/spack/repos/builtin/packages/unqlite/package.py
Labels: libraries, patch

#15831 go: Add 1.14.1 and 1.13.9
  var/spack/repos/builtin/packages/go/package.py
Labels: go, new-version

#15835 intel-mkl-dnn: add 1.3
  var/spack/repos/builtin/packages/intel-mkl-dnn/package.py
Labels: new-version

#15837 mpip: add demangling and setjmp variants
  var/spack/repos/builtin/packages/mpip/package.py
Labels: new-variants

#15839 Updates versions of Intel packages
  var/spack/repos/builtin/packages/intel-daal/package.py
  var/spack/repos/builtin/packages/intel-ipp/package.py
  var/spack/repos/builtin/packages/intel-mkl/package.py
  var/spack/repos/builtin/packages/intel-mpi/package.py
  var/spack/repos/builtin/packages/intel-parallel-studio/package.py
  var/spack/repos/builtin/packages/intel-pin/package.py
  var/spack/repos/builtin/packages/intel-tbb/package.py
  var/spack/repos/builtin/packages/intel/package.py
Labels: new-version

#15786 argobots: new version 1.0
  var/spack/repos/builtin/packages/argobots/package.py
Labels: new-version

#15658 New Package: py-astropy-helpers
  var/spack/repos/builtin/packages/py-astropy-helpers/package.py
Labels: new-package

#15838 pmix: add option for toggling pmi backwards compatibility
  var/spack/repos/builtin/packages/pmix/package.py
Labels: new-variants

#15834 Add command to facilitate easy Spack/Python/OS reporting
  .github/ISSUE_TEMPLATE/bug_report.md
  lib/spack/spack/cmd/debug.py
  lib/spack/spack/cmd/python.py
  lib/spack/spack/test/cmd/debug.py
  lib/spack/spack/test/cmd/python.py
  share/spack/spack-completion.bash
Labels: commands, python

#15844 py-d2to1: a package metadata converter.
  var/spack/repos/builtin/packages/py-d2to1/package.py
Labels: new-package

#15841 ppOpen-APPL/BEM-AT: New Package.
  var/spack/repos/builtin/packages/ppopen-appl-bem-at/duplicate_defs.patch
  var/spack/repos/builtin/packages/ppopen-appl-bem-at/package.py
Labels: new-package

#15845 py-stsci-distutils: a new package.
  var/spack/repos/builtin/packages/py-stsci-distutils/package.py
Labels: new-package

#15769 New package: libnotify
  var/spack/repos/builtin/packages/libnotify/docbook-location.patch
  var/spack/repos/builtin/packages/libnotify/package.py
Labels: new-package

#15846 precice: Add version 2.0.2
  var/spack/repos/builtin/packages/precice/package.py
Labels: new-version

#15849 Papi package: updating with new bugfix version and variant
  var/spack/repos/builtin/packages/papi/package.py
Labels: new-variants, new-version

#15622 Add option "--first" for "spack load"
  lib/spack/docs/workflows.rst
  lib/spack/spack/cmd/__init__.py
  lib/spack/spack/cmd/load.py
  lib/spack/spack/test/cmd/load.py
  share/spack/spack-completion.bash
Labels: commands, modules

#15857 unqlite: restricted patch to version 1.1.9
  var/spack/repos/builtin/packages/unqlite/package.py
Labels: patch

#15858 Added support for new config process for papi@6:+lmsensors
  var/spack/repos/builtin/packages/papi/package.py
Labels: update-package

#15856 New package: py-gluoncv
  var/spack/repos/builtin/packages/py-gluoncv/no-unicode-readme.patch
  var/spack/repos/builtin/packages/py-gluoncv/package.py
Labels: new-package

#15862 Check if CPU family is x86_64.
  var/spack/repos/builtin/packages/fl/package.py
Labels: microarchitectures

#15860 SIRIUS: add version 6.5.1 and 6.5.2
  var/spack/repos/builtin/packages/sirius/package.py
Labels: new-version

#15859 LLVM package now supports MLIR
  var/spack/repos/builtin/packages/llvm/package.py
Labels: new-variants

#15852 Package rename: intel-mkl-dnn -> dnnl
  var/spack/repos/builtin/packages/dnnl/package.py
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: dependencies, new-variants, update-package

#15840 openjdk: support aarch64 platform
  var/spack/repos/builtin/packages/openjdk/package.py
Labels: arm, java

#15865 py-espressopp: pin py-numpy to py2 version
  var/spack/repos/builtin/packages/py-espressopp/package.py
Labels: concretization

#15866 Version bump: eztrace-1.1-10
  var/spack/repos/builtin/packages/eztrace/package.py
Labels: new-version

#15826 py-pywcs: a new package.
  var/spack/repos/builtin/packages/py-pywcs/package.py
Labels: new-package, ready

#15882 verify `other.exe` attr exists before use in __eq__
  lib/spack/spack/util/executable.py
Labels: documentation, utilities

#15871 py-ecdsa: add new version, fix download url
  var/spack/repos/builtin/packages/py-ecdsa/package.py
Labels: dependencies, fetching, new-version

#15881 py-sphinx: add 3.0.0
  var/spack/repos/builtin/packages/py-sphinx/package.py
Labels: new-version

#15880 package urls: pypi.org -> pypi.io
  var/spack/repos/builtin/packages/py-backports-weakref/package.py
  var/spack/repos/builtin/packages/py-colorlog/package.py
  var/spack/repos/builtin/packages/py-colorpy/package.py
  var/spack/repos/builtin/packages/py-exodus-bundler/package.py
  var/spack/repos/builtin/packages/py-hdfs/package.py
  var/spack/repos/builtin/packages/py-jprops/package.py
  var/spack/repos/builtin/packages/py-progress/package.py
  var/spack/repos/builtin/packages/py-pyarrow/package.py
  var/spack/repos/builtin/packages/py-pyspark/package.py
  var/spack/repos/builtin/packages/py-requests-futures/package.py
  var/spack/repos/builtin/packages/py-testinfra/package.py
  var/spack/repos/builtin/packages/py-usgs/package.py
  var/spack/repos/builtin/packages/py-uwsgi/package.py
Labels: fetching

#15879 py-tblib: add new version, fix url and deps
  var/spack/repos/builtin/packages/py-tblib/package.py
Labels: dependencies, fetching, new-version

#15877 py-scoop: fix url and deps
  var/spack/repos/builtin/packages/py-scoop/package.py
Labels: dependencies, fetching

#15876 py-python-utils: add new version, fix url and deps
  var/spack/repos/builtin/packages/py-python-utils/package.py
Labels: dependencies, fetching, new-version

#15875 py-progressbar2: add new version, fix url
  var/spack/repos/builtin/packages/py-progressbar2/package.py
Labels: fetching, new-version

#15874 py-pep8-naming: add new version, fix url and deps
  var/spack/repos/builtin/packages/py-pep8-naming/package.py
Labels: dependencies, fetching, new-version

#15873 py-humanfriendly: add new version, fix url and deps
  var/spack/repos/builtin/packages/py-humanfriendly/package.py
Labels: dependencies, fetching, new-version

#15870 py-gensim: fix url and deps, add maintainer
  var/spack/repos/builtin/packages/py-gensim/package.py
Labels: dependencies, fetching, maintainers

#15872 py-flake8-polyfill: fix url and deps
  var/spack/repos/builtin/packages/py-flake8-polyfill/package.py
Labels: dependencies, fetching

#15878 py-spatialist: add maintainer and new version, fix url and deps
  var/spack/repos/builtin/packages/py-spatialist/package.py
Labels: dependencies, fetching, maintainers, new-version

#15885 boost: boost-python in 1.72.0 broken with cxxstd=98
  var/spack/repos/builtin/packages/boost/package.py
  var/spack/repos/builtin/packages/py-espressopp/package.py
Labels: conflicts, update-package

#15791 Source devnull in environment_after_sourcing_files
  lib/spack/spack/util/environment.py
Labels: bugfix

#15778 Blacklist Lmod variable modifications when sourcing files
  lib/spack/spack/test/data/sourceme_lmod.sh
  lib/spack/spack/test/environment_modifications.py
  lib/spack/spack/util/environment.py
Labels: bugfix, modules

#15868 new packages: libbacktrace, libpfm, numap, numamma
  var/spack/repos/builtin/packages/libbacktrace/package.py
  var/spack/repos/builtin/packages/numamma/package.py
  var/spack/repos/builtin/packages/numap/package.py
Labels: new-package

#15894 nanomsg: add new Package
  var/spack/repos/builtin/packages/nanomsg/package.py
Labels: new-package

#15892 py-smart-open: fix url/checksum, add deps
  var/spack/repos/builtin/packages/py-smart-open/package.py
Labels: checksum, dependencies, fetching, new-version

#15891 Docs: fix Spack Environments command
  lib/spack/docs/environments.rst
Labels: documentation, environments

#15900 new package: py-google-auth-oauthlib
  var/spack/repos/builtin/packages/py-google-auth-oauthlib/package.py
Labels: new-package

#15889 nccl: supports infiniband/RoCE since 2.3.5-5
  var/spack/repos/builtin/packages/nccl/package.py
Labels: dependencies

#15851 pdt: add PIC support as variant
  var/spack/repos/builtin/packages/pdt/package.py
Labels: new-variants

#15898 new package: py-tensorboard-plugin-wit
  var/spack/repos/builtin/packages/py-tensorboard-plugin-wit/package.py
Labels: new-package

#15890 new package: nccl-tests
  var/spack/repos/builtin/packages/nccl-tests/package.py
Labels: new-package

#15883 Update nano and fix coreutils on Darwin
  var/spack/repos/builtin/packages/coreutils/package.py
  var/spack/repos/builtin/packages/nano/package.py
Labels: new-version, update-package

#15812 fish: add version 3.1.0 and switch to cmake
  var/spack/repos/builtin/packages/fish/package.py
Labels: build-systems, new-version

#15910 Package rename: DNNL -> oneDNN
  var/spack/repos/builtin/packages/dnnl/package.py
  var/spack/repos/builtin/packages/onednn/package.py
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: update-package

#15864 Simplify Build Error template
  .github/ISSUE_TEMPLATE/build_error.md
Labels: build-error, community

#15895 Don't run linux build tests for doc PRs
  .github/workflows/linux_build_tests.yaml
Labels: documentation, workflow

#15911 ppOpen-APPL/FEM: New package.
  var/spack/repos/builtin/packages/ppopen-appl-fem/gcc_struct_atomic.patch
  var/spack/repos/builtin/packages/ppopen-appl-fem/package.py
Labels: new-package

#15915 intel: fixed version number (update4 is 18.0.5)
  var/spack/repos/builtin/packages/intel/package.py
Labels: new-version, update-package

#15809 Add build number to Arm compiler version identification
  lib/spack/spack/compilers/arm.py
  lib/spack/spack/test/compilers.py
Labels: arm, compilers

#15770 New package: boinc-client
  var/spack/repos/builtin/packages/boinc-client/package.py
  var/spack/repos/builtin/packages/boinc-client/systemd-fix.patch
Labels: new-package

#15899 NAG Compiler 7.0 (Build 7014) download checksum
  var/spack/repos/builtin/packages/nag/package.py
Labels: checksum, nag

#15918 cryptsetup: restrict the version of automake if @2.2.1
  var/spack/repos/builtin/packages/cryptsetup/package.py
Labels: update-package

#15916 update OpenFOAM patch versions
  var/spack/repos/builtin/packages/openfoam/common/spack-Allwmake
  var/spack/repos/builtin/packages/openfoam/package.py
Labels: new-version

#15913 Add new package: shark
  var/spack/repos/builtin/packages/shark/package.py
Labels: new-package

#15828 New package(s): py-pydeps and py-stdlib-list
  var/spack/repos/builtin/packages/py-pydeps/package.py
  var/spack/repos/builtin/packages/py-stdlib-list/package.py
Labels: new-package

#15897 slepc 3.13 develop updates
  var/spack/repos/builtin/packages/slepc/package.py
Labels: new-variants, new-version, update-package

#15925 ucx: add additional variants
  var/spack/repos/builtin/packages/ucx/package.py
Labels: new-variants

#15922 [acts-core] Add version 0.21
  var/spack/repos/builtin/packages/acts-core/package.py
Labels: new-version

#15928 update versions: petsc4py@3.13.0 and slepc4py@3.13.0
  var/spack/repos/builtin/packages/py-petsc4py/package.py
  var/spack/repos/builtin/packages/py-slepc4py/package.py
Labels: new-version

#15927 Fix lua build, missing deref of self for spec
  var/spack/repos/builtin/packages/lua/package.py
Labels: bugfix

#15926 Addded Draco@7.5.0:7.6.0
  var/spack/repos/builtin/packages/draco/package.py
Labels: new-version

#15924 LLVM Use Spack's Builtin CUDA support
  var/spack/repos/builtin/packages/llvm/package.py
Labels: cuda

#15923 updates CCTools to version 7.1.2
  var/spack/repos/builtin/packages/cctools/package.py
Labels: new-version

#15920 update gasnet spackage cmake args
  var/spack/repos/builtin/packages/gasnet/package.py
Labels: new-variants, new-version, update-package

#15917 openfoam: modified flex to be a build + link dependency
  var/spack/repos/builtin/packages/openfoam-org/package.py
Labels: update-package

#15903 py-args: new package at 0.1.0
  var/spack/repos/builtin/packages/py-args/package.py
Labels: new-package

#15904 py-utils: new package at 1.0.1
  var/spack/repos/builtin/packages/py-utils/package.py
Labels: new-package

#15906 py-unidecode: new package at 1.1.1
  var/spack/repos/builtin/packages/py-unidecode/package.py
Labels: new-package

#15909 py-yahmm: new package at 1.1.3
  var/spack/repos/builtin/packages/py-yahmm/package.py
Labels: new-package

#15908 py-cyvcf2: new package at 0.11.7
  var/spack/repos/builtin/packages/py-cyvcf2/package.py
Labels: new-package

#15914 Add new package: open-isns
  var/spack/repos/builtin/packages/open-isns/package.py
Labels: new-package

#15933 Update hugo version and add extended variant
  var/spack/repos/builtin/packages/hugo/package.py
Labels: feature, new-variants, new-version

#15938 environment-modules: add version 4.5.0
  var/spack/repos/builtin/packages/environment-modules/package.py
Labels: new-version

#15931 py-onnx: only use py-typing if python < 3.5
  var/spack/repos/builtin/packages/py-onnx/package.py
Labels: dependencies

#15829 New package: py-tensorboard
  var/spack/repos/builtin/packages/py-tensorboard/package.py
Labels: new-package

#15930 F18 update April 2020
  var/spack/repos/builtin/packages/f18/package.py
Labels: new-variants, update-package

#15907 py-awesome-slugify: new package at 1.6.5
  var/spack/repos/builtin/packages/py-awesome-slugify/package.py
Labels: new-package

#15956 Fixed bad expand option for openjdk versions.
  var/spack/repos/builtin/packages/openjdk/package.py
Labels: fetching, java

#15953 py-tensorflow-estimator: fix build
  var/spack/repos/builtin/packages/py-tensorflow-estimator/package.py
Labels: bazel, new-version, python

#15951 Updates to Kripke package.
  var/spack/repos/builtin/packages/kripke/package.py
Labels: fetching, new-variants, new-version

#15948 py-gpaw: Add libvdwxc as variant
  var/spack/repos/builtin/packages/py-gpaw/package.py
Labels: new-variants

#15947 glib: Add new stable versions
  var/spack/repos/builtin/packages/glib/meson-gettext.patch
  var/spack/repos/builtin/packages/glib/package.py
Labels: build-systems, new-version

#15964 elasticsearch: change depends on from jdk to java
  var/spack/repos/builtin/packages/elasticsearch/package.py
Labels: dependencies, java

#15962 Papi packge: refactored to inherit from AutotoolsPackage
  var/spack/repos/builtin/packages/papi/package.py
Labels: autotools, update-package

#15937 Add new package: uchardet
  var/spack/repos/builtin/packages/uchardet/package.py
Labels: new-package

#15902 NAG compiler fix: skip implicit RPATH detection
  lib/spack/spack/compiler.py
Labels: compilers, nag

#15761 py-torch: Fix v1.4.0 by adding v1.4.1
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: new-version

#15726 Add Recipe for PODIO
  var/spack/repos/builtin/packages/podio/package.py
Labels: hep, new-package

#15968 papi: check existence of a fortran compiler
  var/spack/repos/builtin/packages/papi/package.py
Labels: update-package

#15768 New package: gtk-doc
  var/spack/repos/builtin/packages/gtk-doc/package.py
Labels: new-package

#15641 NetCDF packages: switch to the official FTP server
  var/spack/repos/builtin/packages/netcdf-c/package.py
  var/spack/repos/builtin/packages/netcdf-cxx4/package.py
  var/spack/repos/builtin/packages/netcdf-fortran/package.py
Labels: update-package

#15958 primer3: move to github, add 2.5.0, fix 2.3.7
  var/spack/repos/builtin/packages/primer3/package.py
Labels: build-error, fetching, new-version, patch

#15969 Update doxygen package
  var/spack/repos/builtin/packages/doxygen/package.py
Labels: new-variants, new-version

#15967 aperture-photometry: add new version
  var/spack/repos/builtin/packages/aperture-photometry/package.py
Labels: new-version

#15973 [py-pygdal] added version 3.0.4.6
  var/spack/repos/builtin/packages/py-pygdal/package.py
Labels: new-version

#15952 meson: Add 0.54.0
  var/spack/repos/builtin/packages/meson/package.py
  var/spack/repos/builtin/packages/meson/rpath-0.49.patch
  var/spack/repos/builtin/packages/meson/rpath-0.54.patch
  var/spack/repos/builtin/packages/meson/rpath.patch
Labels: meson, new-version, patch, rpath

#15905 py-clint: new package at 0.5.1
  var/spack/repos/builtin/packages/py-clint/package.py
Labels: new-package

#15980 update URL and sha256 for aws-parallelcluster 2.6.1
  var/spack/repos/builtin/packages/aws-parallelcluster/package.py
Labels: new-version

#15983 Update yaml-cpp package to enable for build of old api
  var/spack/repos/builtin/packages/yaml-cpp/package.py
Labels: new-version

#15942 Add new version of py-hypothesis
  var/spack/repos/builtin/packages/py-hypothesis/package.py
Labels: new-version

#15955 New package: tensorboardX
  var/spack/repos/builtin/packages/py-tensorboardx/package.py
Labels: new-package

#15988 fujitsu compiler: Delete custom environment function.
  lib/spack/spack/compilers/fj.py
Labels: compilers, fujitsu

#15971 opencv: assorted fixes
  var/spack/repos/builtin/packages/opencv/package.py
Labels: cuda, dependencies, update-package

#15989 new package: py-torchaudio
  var/spack/repos/builtin/packages/py-torchaudio/package.py
Labels: new-package

#15990 new package: py-torchsummary
  var/spack/repos/builtin/packages/py-torchsummary/package.py
Labels: new-package

#15993 hdf: Add option to link against libtirpc package
  var/spack/repos/builtin/packages/hdf/package.py
Labels: dependencies, new-variants

#15995 gdal: Patch to support hdf linked against libtirpc
  var/spack/repos/builtin/packages/gdal/package.py
Labels: update-package

#15996 gromacs: install header files
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: update-package

#16000 Add Go versions 1.14.2 and 1.13.10
  var/spack/repos/builtin/packages/go/package.py
Labels: go, new-version

#15999 votca-*: add v1.6_rc2
  var/spack/repos/builtin/packages/votca-csg-tutorials/package.py
  var/spack/repos/builtin/packages/votca-csg/package.py
  var/spack/repos/builtin/packages/votca-csgapps/package.py
  var/spack/repos/builtin/packages/votca-ctp/package.py
  var/spack/repos/builtin/packages/votca-tools/package.py
  var/spack/repos/builtin/packages/votca-xtp/package.py
Labels: new-version

#15997 votca-tools: add mkl support
  var/spack/repos/builtin/packages/votca-tools/package.py
Labels: blas-lapack-scalapack, new-variants

#15991 [py-jupyter-core] added version 4.6.3
  var/spack/repos/builtin/packages/py-jupyter-core/package.py
Labels: new-version

#16002 new package: openmm
  var/spack/repos/builtin/packages/openmm/package.py
Labels: new-package

#16005 tau: added new variants
  var/spack/repos/builtin/packages/tau/package.py
Labels: new-variants

#16008 py-setuptools-rust: add new package
  var/spack/repos/builtin/packages/py-setuptools-rust/package.py
Labels: new-package

#16009 py-sacremoses: add new package
  var/spack/repos/builtin/packages/py-sacremoses/package.py
Labels: new-package

#16010 py-tokenizers: add new package
  var/spack/repos/builtin/packages/py-tokenizers/package.py
Labels: new-package
