Repository spack/spack, pull requests merged in 2020-05, with the labels that each got.

#16408 gromacs: add v2020.2
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: new-version

#16377 Make RAJA aware of the cuda architecture
  var/spack/repos/builtin/packages/raja/package.py
Labels: cuda

#16380 mt-metis: New package.
  var/spack/repos/builtin/packages/mt-metis/non_x8664.patch
  var/spack/repos/builtin/packages/mt-metis/package.py
Labels: new-package

#14887 dev-build: --drop-in <shell>
  lib/spack/spack/cmd/dev_build.py
  lib/spack/spack/test/cmd/dev_build.py
  share/spack/spack-completion.bash
Labels: commands, dev

#16003 Set MPI providers for test config
  lib/spack/spack/cmd/compiler.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/concretize_preferences.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/data/config/packages.yaml
Labels: configuration, mpi, tests

#16280 tbl2asn: new package at 20200301
  var/spack/repos/builtin/packages/tbl2asn/package.py
Labels: new-package

#16426 [py-pyside2] new version 5.14.2.1
  var/spack/repos/builtin/packages/py-pyside2/package.py
Labels: new-version

#16427 amrex: New version 20.05
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version

#16425 stata: add version 16
  var/spack/repos/builtin/packages/stata/package.py
Labels: new-version

#16424 [ncbi-magicblast] added version 1.5.0
  var/spack/repos/builtin/packages/ncbi-magicblast/package.py
Labels: new-version

#16423 py-opentuner: add version 0.8.2
  var/spack/repos/builtin/packages/py-opentuner/package.py
Labels: maintainers, new-version, python3

#16428 add hydra/pmix conflict to mpich
  var/spack/repos/builtin/packages/mpich/package.py
Labels: conflicts, mpi

#15793 Add a gpfs variant to openmpi package
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: mpi, new-variants

#16431 colordiff: add version 1.0.19
  var/spack/repos/builtin/packages/colordiff/package.py
Labels: new-version

#16436 py-cartopy: update package, fix PROJ.6 support
  var/spack/repos/builtin/packages/py-cartopy/package.py
  var/spack/repos/builtin/packages/py-cartopy/proj6.patch
Labels: dependencies, maintainers, patch, smoke-tests, update-package

#16438 py-shapely: new version, Python 3.7 fix
  var/spack/repos/builtin/packages/py-shapely/package.py
Labels: new-version, python3

#16437 GEOS: add new version
  var/spack/repos/builtin/packages/geos/package.py
Labels: new-version

#16440 Add new HEP package: Delphes
  var/spack/repos/builtin/packages/delphes/package.py
Labels: new-package

#16439 Add new HEP package: fastjet
  var/spack/repos/builtin/packages/fastjet/package.py
Labels: new-package

#16441 NumPy: add 1.18.4
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: new-version

#16422 QE-to-QMCPACK wave function converter relocation + some bug fixes
  var/spack/repos/builtin/packages/quantum-espresso/package.py
Labels: new-variants, patch, update-package

#16430 singularity: Add more Dependencies
  var/spack/repos/builtin/packages/singularity/package.py
Labels: dependencies

#16419 LAPACKC++: Shared Control
  var/spack/repos/builtin/packages/lapackpp/package.py
Labels: new-variants, update-package

#16181 grass: new versions
  var/spack/repos/builtin/packages/grass/package.py
Labels: dependencies, new-version

#16449 Updates to Python for macOS
  var/spack/repos/builtin/packages/python/package.py
Labels: python

#16458 Argobots: mark 1.0 as preferred
  var/spack/repos/builtin/packages/argobots/package.py
Labels: update-package

#16457 BOLT: add 1.0
  var/spack/repos/builtin/packages/bolt/package.py
Labels: new-version

#16456 hwloc: add version 2.2.0
  var/spack/repos/builtin/packages/hwloc/package.py
Labels: new-version

#16455 pocl: add version 1.5
  var/spack/repos/builtin/packages/pocl/package.py
Labels: new-version

#16452 update isaac and issac-server to v1.5.0
  var/spack/repos/builtin/packages/isaac-server/package.py
  var/spack/repos/builtin/packages/isaac/package.py
Labels: new-version

#16446 py-cf-units: Add new version
  var/spack/repos/builtin/packages/py-cf-units/package.py
Labels: new-version

#16445 py-palletable: Add new version
  var/spack/repos/builtin/packages/py-palettable/package.py
Labels: new-version

#16444 ecFlow added UI & GUI flag with new version
  var/spack/repos/builtin/packages/ecflow/package.py
Labels: new-variants, new-version

#15245 environments: allow sigils to apply to entire reference
  lib/spack/docs/environments.rst
  lib/spack/spack/spec_list.py
  lib/spack/spack/test/cmd/env.py
Labels: environments, specs

#16433 [gaudi] fixes and patches
  var/spack/repos/builtin/packages/gaudi/build_testing.patch
  var/spack/repos/builtin/packages/gaudi/link_target_fixes.patch
  var/spack/repos/builtin/packages/gaudi/link_target_fixes32.patch
  var/spack/repos/builtin/packages/gaudi/package.py
  var/spack/repos/builtin/packages/gaudi/python2.patch
  var/spack/repos/builtin/packages/podio/cpack.patch
Labels: new-version, patch

#16460 bugfix: Update run-time dependencies of py-xenv
  var/spack/repos/builtin/packages/py-xenv/package.py
Labels: dependencies

#16174 libsecret
  var/spack/repos/builtin/packages/libsecret/package.py
Labels: dependencies

#16277 Add --fail-first and --fail-fast options to spack test run
  lib/spack/spack/cmd/test.py
  lib/spack/spack/package.py
Labels: commands, smoke-tests, tests

#16173 libspatialite: Update for proj@6
  var/spack/repos/builtin/packages/libspatialite/package.py
Labels: dependencies, new-version

#16465 py-shapely: add master version
  var/spack/repos/builtin/packages/py-shapely/package.py
Labels: new-version

#15919 Bugfix: config:install_hash_length ignored
  lib/spack/spack/directory_layout.py
  lib/spack/spack/test/config_values.py
Labels: configuration

#16463 lammps: add v20200505
  var/spack/repos/builtin/packages/lammps/package.py
Labels: new-version

#16450 cctools to 7.1.5
  var/spack/repos/builtin/packages/cctools/package.py
Labels: new-version

#16442 Boost: Add version 1.73.0
  var/spack/repos/builtin/packages/boost/package.py
Labels: new-version

#16464 WarpX: RZ + PSATD
  var/spack/repos/builtin/packages/warpx/package.py
Labels: dependencies, update-package, variants

#16281 perl-bio-searchio-hmmer: new package at 1.7.3
  var/spack/repos/builtin/packages/perl-bio-searchio-hmmer/package.py
Labels: new-package

#11830 exonerate-gff3: new package at 2.3.0
  var/spack/repos/builtin/packages/exonerate-gff3/package.py
Labels: new-package

#15432 Add Axom spack package
  var/spack/repos/builtin/packages/axom/package.py
  var/spack/repos/builtin/packages/conduit/package.py
  var/spack/repos/builtin/packages/py-shroud/package.py
  var/spack/repos/builtin/packages/raja/package.py
  var/spack/repos/builtin/packages/umpire/package.py
Labels: new-package

#16466 cabana: add v0.3.0 & shared variant
  var/spack/repos/builtin/packages/cabana/package.py
Labels: new-variants, new-version

#16459 CMake: Cray XC40 system errors bootstrapping CMake
  var/spack/repos/builtin/packages/cmake/ignore_crayxc_warnings.patch
  var/spack/repos/builtin/packages/cmake/package.py
Labels: cmake, patch

#16467 bump PETSc version
  var/spack/repos/builtin/packages/petsc/package.py
Labels: new-version

#16471 OpenBLAS: Fix LLVM 9.0.0 ICE on macOS
  var/spack/repos/builtin/packages/openblas/openblas_appleclang11.patch
  var/spack/repos/builtin/packages/openblas/package.py
Labels: blas-lapack-scalapack, macOS, patch, python

#12989 cray platform: detect platform properly after module purge
  lib/spack/spack/architecture.py
  lib/spack/spack/build_environment.py
  lib/spack/spack/compiler.py
  lib/spack/spack/compilers/cce.py
  lib/spack/spack/operating_systems/cray_backend.py
  lib/spack/spack/platforms/cray.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/architecture.py
  lib/spack/spack/test/cmd/dev_build.py
  lib/spack/spack/test/compilers.py
  lib/spack/spack/test/operating_system.py
  lib/spack/spack/util/module_cmd.py
  var/spack/repos/builtin/packages/cray-libsci/package.py
  var/spack/repos/builtin/packages/mvapich2/package.py
Labels: cray, don't-merge-yet

#16470 kokkos: add v3.1.01
  var/spack/repos/builtin/packages/kokkos-kernels/package.py
  var/spack/repos/builtin/packages/kokkos/package.py
Labels: new-version

#16477 PyTorch: add patches to fix build
  var/spack/repos/builtin/packages/py-torch/package.py
  var/spack/repos/builtin/packages/py-torch/xnnpack.patch
Labels: patch

#15158 Automatically find externals
  lib/spack/docs/build_settings.rst
  lib/spack/spack/cmd/external.py
  lib/spack/spack/test/cmd/external.py
  share/spack/spack-completion.bash
  var/spack/repos/builtin.mock/packages/find-externals1/package.py
  var/spack/repos/builtin/packages/automake/package.py
  var/spack/repos/builtin/packages/cmake/package.py
Labels: external-packages, new-command

#16345 macOS Package Builds (nightly)
  .github/workflows/install_spack.sh
  .github/workflows/macos_python.yml
  README.md
Labels: actions, ci, macOS, smoke-tests

#16182 qscintilla
  var/spack/repos/builtin/packages/qt/package.py
Labels: build-environment, qt

#16476 blis: FIX threads option, HPL: enable opemp variant for 2.3
  var/spack/repos/builtin/packages/blis/package.py
  var/spack/repos/builtin/packages/hpl/package.py
Labels: libraries, openmp

#16337 smoke tests: Refined openmpi version checks
  lib/spack/spack/package.py
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: smoke-tests

#16495 PyTorch/Torchvision: fix deptype
  var/spack/repos/builtin/packages/py-torch/package.py
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: linking

#16497 Add new version of Geant4
  var/spack/repos/builtin/packages/geant4/package.py
Labels: new-version

#16496 OpenMPI: 3.1.6 Patch Update
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: mpi, new-version

#16494 TensorFlow: add new version
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: new-version

#16493 Bazel: add new versions
  var/spack/repos/builtin/packages/bazel/package.py
  var/spack/repos/builtin/packages/bazel/unix_cc_configure-3.0.patch
Labels: bazel, new-version

#16492 py-netcdf4: avoid using system hdf5
  var/spack/repos/builtin/packages/py-netcdf4/disable_pkgconf.patch
  var/spack/repos/builtin/packages/py-netcdf4/package.py
Labels: patch

#16500 py-shapely: fix unit tests
  var/spack/repos/builtin/packages/py-shapely/package.py
Labels: smoke-tests

#16501 bugfix: Resolve perl install test bug
  var/spack/repos/builtin/packages/perl/package.py
Labels: bugfix, smoke-tests

#16479 Install RMPISNOW wrapper in prefix.bin for r-snow
  var/spack/repos/builtin/packages/r-snow/package.py
Labels: R, mpi

#16443 New version of pylint + fix dependencies
  var/spack/repos/builtin/packages/py-pylint/package.py
Labels: new-version

#16273 Add new package:py-json5
  var/spack/repos/builtin/packages/py-json5/package.py
Labels: new-package

#15941 openfoam: correspond to build with Fujitsu compiler.
  var/spack/repos/builtin/packages/openfoam/package.py
Labels: fujitsu, update-package

#16410 Bump neovim to 0.4.3
  var/spack/repos/builtin/packages/neovim/package.py
Labels: new-version

#16473 bugfix: spack shouldn't fail in an incomplete environment
  lib/spack/spack/environment.py
  lib/spack/spack/test/cmd/env.py
Labels: bugfix, environments

#16484 Add PGI version 19.7 and export OMPI variables
  var/spack/repos/builtin/packages/pgi/package.py
Labels: modules, new-version

#16385 Adapt to the latest Acts developments
  var/spack/repos/builtin/packages/acts/package.py
Labels: update-package

#16382 Add new package: ganglia
  var/spack/repos/builtin/packages/ganglia/package.py
Labels: new-package

#16499 ADD New package revocap-refiner
  var/spack/repos/builtin/packages/revocap-refiner/package.py
Labels: new-package

#16512 Add Rust 1.43.1
  var/spack/repos/builtin/packages/rust/package.py
Labels: new-version, rust

#16510 NAG Compiler 7.0 (Build 7017) download checksum
  var/spack/repos/builtin/packages/nag/package.py
Labels: checksum

#16509 GDAL: add 3.1.0
  var/spack/repos/builtin/packages/gdal/package.py
Labels: new-version

#14311 "spack checksum" QoL
  lib/spack/spack/cmd/checksum.py
  lib/spack/spack/cmd/create.py
  lib/spack/spack/stage.py
  share/spack/spack-completion.bash
Labels: commands

#14479 Config option to disable setting S_ISGID bit when creating installation directory
  etc/spack/defaults/config.yaml
  lib/spack/spack/package_prefs.py
  lib/spack/spack/schema/config.py
Labels: permissions

#16435 all_urls: add urls[0] for versions
  lib/spack/spack/package.py
Labels: bug, fetching, mirrors, versions

#16529 new version r-git2r-0.27.1
  var/spack/repos/builtin/packages/r-git2r/package.py
Labels: new-version

#16528 new version xrootd-4.12.0
  var/spack/repos/builtin/packages/xrootd/package.py
Labels: new-version

#16523 Gaudi: syntax fix
  var/spack/repos/builtin/packages/gaudi/package.py
Labels: bugfix

#16519 New package revocap-coupler
  var/spack/repos/builtin/packages/revocap-coupler/package.py
Labels: new-package

#16515 Gaudi: separate variant for building documentation
  var/spack/repos/builtin/packages/gaudi/package.py
Labels: new-variants

#16511 graphviz: fix cairo backend
  var/spack/repos/builtin/packages/graphviz/package.py
Labels: dependencies

#16507 preCICE: Fix conflict with Boost 1.73.0
  var/spack/repos/builtin/packages/precice/package.py
Labels: dependencies

#16505 py-netcdf4: a couple of improvements
  var/spack/repos/builtin/packages/py-netcdf4/check_hdf5version.patch
  var/spack/repos/builtin/packages/py-netcdf4/package.py
Labels: patch

#16503 Add new package:py-pytest-check-links
  var/spack/repos/builtin/packages/py-pytest-check-links/package.py
Labels: new-package

#16502 Metall: add version 0.2
  var/spack/repos/builtin/packages/metall/package.py
Labels: new-version

#16539 spaCy: add new package for en_core_web_sm model
  var/spack/repos/builtin/packages/py-spacy-models-en-core-web-sm/package.py
Labels: new-package

#16498 update visit package with 3.1.1 release and add comments
  var/spack/repos/builtin/packages/visit/package.py
  var/spack/repos/builtin/packages/visit/spack-changes-3.0.1.patch
  var/spack/repos/builtin/packages/visit/spack-changes-3.1.patch
Labels: new-version, update-package

#16475 Increase coverage of spack.relocate
  .travis.yml
  lib/spack/spack/relocate.py
  lib/spack/spack/test/relocate.py
Labels: binary-packages, coverage

#16504 Fix dependency of geant4 (amends #16497)
  var/spack/repos/builtin/packages/g4emlow/package.py
  var/spack/repos/builtin/packages/geant4-data/package.py
  var/spack/repos/builtin/packages/geant4/package.py
Labels: dependencies

#16542 QMCPACK Update May 2020
  var/spack/repos/builtin/packages/qmcpack/package.py
Labels: maintainers, new-version, update-package

#16535 New package: py-addict
  var/spack/repos/builtin/packages/py-addict/package.py
Labels: new-package

#16534 Add maintainers and variants for building with default earlier api versions.
  var/spack/repos/builtin/packages/hdf5/package.py
Labels: new-variants

#16524 [dd4hep] variant and run env updates
  var/spack/repos/builtin/packages/dd4hep/package.py
Labels: modules, new-variants

#14220 Add unit test on MacOS using Github Actions
  .codecov.yml
  .github/workflows/macos_unit_tests.yaml
  .travis.yml
  README.md
Labels: macOS, tests

#16543 Fix MacOS tests on develop
  .github/workflows/macos_unit_tests.yaml
Labels: broken-develop, tests

#16547 DGL: add new version
  var/spack/repos/builtin/packages/py-dgl/package.py
Labels: new-version

#16552 new version r-callr
  var/spack/repos/builtin/packages/r-callr/package.py
Labels: new-version

#16554 new version r-covr
  var/spack/repos/builtin/packages/r-covr/package.py
Labels: new-version

#16555 new version r-dt
  var/spack/repos/builtin/packages/r-dt/package.py
Labels: new-version

#16557 new version r-jsonlite
  var/spack/repos/builtin/packages/r-jsonlite/package.py
Labels: new-version

#16559 new version r-pkgbuild
  var/spack/repos/builtin/packages/r-pkgbuild/package.py
Labels: new-version

#16558 new version r-glue
  var/spack/repos/builtin/packages/r-glue/package.py
Labels: new-version

#16549 new version r-rcpp
  var/spack/repos/builtin/packages/r-rcpp/package.py
Labels: new-version

#16560 PyTorch: fix master and mkldnn builds
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: update-package

#16561 Add new package:py-jupyterlab-server
  var/spack/repos/builtin/packages/py-jupyterlab-server/package.py
Labels: new-package

#16522 remove url function, it seems the pypi version of the package somehow…
  var/spack/repos/builtin/packages/py-configobj/package.py
Labels: fetching

#16525 gcc: Add 10.1.0
  var/spack/repos/builtin/packages/gcc/package.py
  var/spack/repos/builtin/packages/gcc/zstd.patch
Labels: gcc, new-version

#16536 New package: py-mmcv
  var/spack/repos/builtin/packages/py-mmcv/package.py
Labels: new-package

#16573 netcdf-fortran: Fix build with gcc@10:
  var/spack/repos/builtin/packages/netcdf-fortran/package.py
Labels: gcc

#16582 stata: add libpng dependency
  var/spack/repos/builtin/packages/stata/package.py
Labels: dependencies

#16583 Map the spack skylake arch to Kokkos BDW, rather than SKX
  var/spack/repos/builtin/packages/kokkos/package.py
Labels: microarchitectures

#16578 r-digest : version updated
  var/spack/repos/builtin/packages/r-digest/package.py
Labels: new-version

#16575 r-rlang : new version
  var/spack/repos/builtin/packages/r-rlang/package.py
Labels: new-version

#16574 r-rstudioapi : new version
  var/spack/repos/builtin/packages/r-rstudioapi/package.py
Labels: new-version

#15179 Remove 'spack bootstrap' and associated docs
  .travis.yml
  lib/spack/docs/getting_started.rst
  lib/spack/docs/module_file_support.rst
  lib/spack/docs/workflows.rst
  lib/spack/spack/cmd/bootstrap.py
  share/spack/qa/run-bootstrap-tests
  share/spack/spack-completion.bash
Labels: commands, travis

#16568 mpich: Fix build with gcc@10:
  var/spack/repos/builtin/packages/mpich/package.py
Labels: gcc, mpi

#16584 py-plac: remove erroneous argparse dependency
  var/spack/repos/builtin/packages/py-plac/package.py
Labels: dependencies

#16567 Add avizo version 2020.1
  var/spack/repos/builtin/packages/avizo/package.py
Labels: new-version

#16569 adios: Fix build with gcc@10:
  var/spack/repos/builtin/packages/adios/package.py
Labels: gcc

#16571 fio: Add 3.19
  var/spack/repos/builtin/packages/fio/package.py
Labels: conflicts, gcc, new-version

#16592 python: add -fwrapv to cflags for python@3.8.0: %intel
  var/spack/repos/builtin/packages/python/package.py
Labels: intel, python

#16594 clingo: update package
  var/spack/repos/builtin/packages/clingo/package.py
Labels: update-package

#16282 prokka: new package at 1.14.6
  var/spack/repos/builtin/packages/prokka/package.py
Labels: new-package

#16597 z3: update python dependency
  var/spack/repos/builtin/packages/z3/package.py
Labels: update-package

#16599 gcc: Fix several issues
  var/spack/repos/builtin/packages/gcc/package.py
  var/spack/repos/builtin/packages/gcc/zstd.patch
Labels: update-package

#16531 py-dask: new version
  var/spack/repos/builtin/packages/py-dask/package.py
  var/spack/repos/builtin/packages/py-fsspec/package.py
  var/spack/repos/builtin/packages/py-partd/package.py
Labels: new-version

#16520 caffe: fixed build error
  var/spack/repos/builtin/packages/caffe/package.py
  var/spack/repos/builtin/packages/opencv/opencv3.2_cmake.patch
  var/spack/repos/builtin/packages/opencv/opencv3.2_ffmpeg.patch
  var/spack/repos/builtin/packages/opencv/opencv3.2_python3.7.patch
  var/spack/repos/builtin/packages/opencv/opencv3.2_regacyvtk.patch
  var/spack/repos/builtin/packages/opencv/opencv3.2_vtk.patch
  var/spack/repos/builtin/packages/opencv/package.py
Labels: dependencies

#16600 py-horovod: link dependency for py-torch
  var/spack/repos/builtin/packages/py-horovod/package.py
Labels: linking

#16601 New patch release SLEPc 3.13.2
  var/spack/repos/builtin/packages/slepc/package.py
Labels: new-version

#16598 modylas: Add flag to use preprocessor when building with Fujitsu compiler
  var/spack/repos/builtin/packages/modylas/package.py
Labels: fujitsu

#16579 r-knitr : dependencies and version updated
  var/spack/repos/builtin/packages/r-knitr/package.py
Labels: new-version

#16577 r-withr : dependencies and version updated
  var/spack/repos/builtin/packages/r-withr/package.py
Labels: new-version

#16572 r-rversions : new package
  var/spack/repos/builtin/packages/r-rversions/package.py
Labels: new-package

#16566 r-purrr : dependencies and version update
  var/spack/repos/builtin/packages/r-purrr/package.py
Labels: new-version

#16565 r-roxygen : dependencies and version updated
  var/spack/repos/builtin/packages/r-roxygen2/package.py
Labels: new-version

#16563 r-rematch2 : new package
  var/spack/repos/builtin/packages/r-rematch2/package.py
Labels: new-package

#16556 new version r-ellipsis
  var/spack/repos/builtin/packages/r-ellipsis/package.py
Labels: new-version

#16553 new version r-cli
  var/spack/repos/builtin/packages/r-cli/package.py
Labels: new-version

#16550 new version r-rcurl
  var/spack/repos/builtin/packages/r-rcurl/package.py
Labels: new-version

#16462 bugfix: reorder variants in Spec strings
  lib/spack/spack/test/spec_syntax.py
  lib/spack/spack/test/variant.py
  lib/spack/spack/variant.py
Labels: specs, variants

#16603 revbayes: update for 1.1.0
  var/spack/repos/builtin/packages/revbayes/package.py
Labels: new-version, update-package
