Repository spack/spack, pull requests merged in 2020-12, with the labels that each got.

#20101 OpenBLAS: More Precise GCC Conflicts
  var/spack/repos/builtin/packages/openblas/package.py
Labels: build-error, conflicts

#20056 r-v8: new package at 3.4.0
  var/spack/repos/builtin/packages/r-v8/package.py
Labels: new-package

#20182 concretizer: swap priority of selecting provider and default variant
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/test/concretize.py
  var/spack/repos/builtin.mock/packages/conditional-constrained-dependencies/package.py
  var/spack/repos/builtin.mock/packages/dep-with-variants/package.py
  var/spack/repos/builtin.mock/packages/ecp-viz-sdk/package.py
Labels: concretization

#20193 concretizer: remove ad-hoc rule for external packages
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/test/concretize_preferences.py
  var/spack/repos/builtin.mock/packages/vdefault-or-external-root/package.py
  var/spack/repos/builtin.mock/packages/vdefault-or-external/package.py
Labels: concretization

#20089 AOCC-2.3.0 is now added to spack
  lib/spack/spack/test/compilers/detection.py
  var/spack/repos/builtin/packages/aocc/package.py
Labels: AMD

#20196 spec: return early from concretization if a spec is already concrete
  lib/spack/spack/spec.py
Labels: bugfix

#20176 add build dependency on autoconf/automake/libtool for mpich
  var/spack/repos/builtin/packages/mpich/package.py
Labels: update-package

#19455 New package: py-qsymm
  var/spack/repos/builtin/packages/py-qsymm/package.py
Labels: new-package

#20175 pugixml: add 1.11 and update variants
  var/spack/repos/builtin/packages/pugixml/package.py
Labels: new-variant, new-version, update-package

#20091 added dockerfile for opensuse leap 15
  share/spack/docker/leap-15.dockerfile
Labels: containers

#20006 WRF: Fixes compile time errors
  var/spack/repos/builtin/packages/wrf/package.py
Labels: bugfix, update-package

#19816 Add smoke test to VTK-m package
  var/spack/repos/builtin/packages/vtk-m/package.py
Labels: smoke-tests

#20083 spack recipe for namd with AMD Toolchain support
  var/spack/repos/builtin/packages/charmpp/charm_6.7.1_aocc.patch
  var/spack/repos/builtin/packages/charmpp/charm_6.8.2_aocc.patch
  var/spack/repos/builtin/packages/charmpp/package.py
  var/spack/repos/builtin/packages/namd/package.py
Labels: AMD

#20128 concretizer: don't optimize emitting version_satisfies()
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/concretize.py
Labels: concretization

#20199 QMCPACK Update December 2020
  var/spack/repos/builtin/packages/qmcpack/package.py
Labels: update-package

#20198 boost: disable find_package's config mode for boost prior to v1.70.0
  var/spack/repos/builtin/packages/boost/package.py
Labels: update-package

#20212 py-tensorflow: use mkdtemp for temporary directory.
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: update-package

#20095 Fix hipcc once more
  lib/spack/spack/build_systems/rocm.py
  lib/spack/spack/pkgkit.py
  var/spack/repos/builtin/packages/camp/package.py
  var/spack/repos/builtin/packages/chai/package.py
  var/spack/repos/builtin/packages/hip/package.py
  var/spack/repos/builtin/packages/raja/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/umpire/package.py
Labels: AMD

#20008 libtheora: fix how package is configured
  var/spack/repos/builtin/packages/libtheora/exit-prior-to-running-configure.patch
  var/spack/repos/builtin/packages/libtheora/package.py
Labels: build-error, patch

#20093 py-ucx-py: new package
  var/spack/repos/builtin/packages/py-pynvml/package.py
  var/spack/repos/builtin/packages/py-ucx-py/package.py
Labels: new-package

#20178 libqglviewer: build dylib instead of Framework
  var/spack/repos/builtin/packages/libqglviewer/package.py
Labels: libraries, macOS, update-package

#20165 G2O: add new package
  var/spack/repos/builtin/packages/g2o/package.py
Labels: new-package

#20214 bump up version for rocm-3.10.0 release
  var/spack/repos/builtin/packages/comgr/package.py
  var/spack/repos/builtin/packages/hip-rocclr/package.py
  var/spack/repos/builtin/packages/hipify-clang/package.py
  var/spack/repos/builtin/packages/hsa-rocr-dev/package.py
  var/spack/repos/builtin/packages/hsakmt-roct/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/rocm-bandwidth-test/package.py
  var/spack/repos/builtin/packages/rocm-clang-ocl/package.py
  var/spack/repos/builtin/packages/rocm-cmake/package.py
  var/spack/repos/builtin/packages/rocm-dbgapi/package.py
  var/spack/repos/builtin/packages/rocm-debug-agent/package.py
  var/spack/repos/builtin/packages/rocm-device-libs/package.py
  var/spack/repos/builtin/packages/rocm-gdb/package.py
  var/spack/repos/builtin/packages/rocm-smi-lib/package.py
  var/spack/repos/builtin/packages/rocm-smi/package.py
  var/spack/repos/builtin/packages/rocminfo/package.py
  var/spack/repos/builtin/packages/rocprofiler-dev/package.py
  var/spack/repos/builtin/packages/roctracer-dev/package.py
Labels: AMD, new-version

#20087 pmix/openpmix: add versions 3.2.1 and 3.1.5
  var/spack/repos/builtin/packages/pmix/package.py
Labels: new-variant, new-version

#20024 Blast plus
  var/spack/repos/builtin/packages/blast-plus/package.py
Labels: new-version

#20099 concretizer: try to infer the real version of compilers if spec fails
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/data/config/compilers.yaml
Labels: bugfix, concretization

#20227 bump up the version for rocm mathlib packages for rocm-3.10.0 release
  var/spack/repos/builtin/packages/hipblas/package.py
  var/spack/repos/builtin/packages/hipcub/package.py
  var/spack/repos/builtin/packages/hipfort/package.py
  var/spack/repos/builtin/packages/hipsparse/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
  var/spack/repos/builtin/packages/rocm-validation-suite/package.py
  var/spack/repos/builtin/packages/rocprim/package.py
  var/spack/repos/builtin/packages/rocrand/package.py
  var/spack/repos/builtin/packages/rocsolver/package.py
  var/spack/repos/builtin/packages/rocsparse/package.py
  var/spack/repos/builtin/packages/rocthrust/package.py
Labels: AMD

#20229 bump up version for rocm_3.10.0 rel
  var/spack/repos/builtin/packages/hip/package.py
Labels: AMD

#20203 concretizer: call inject_patches_variants() on the roots of the specs
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/cmd/dependents.py
  lib/spack/spack/test/concretize.py
  var/spack/repos/builtin.mock/packages/conditionally-patch-dependency/package.py
  var/spack/repos/builtin.mock/packages/conditionally-patch-dependency/uuid.patch
Labels: concretization

#20004 environment installs: fix reporting.
  lib/spack/spack/cmd/install.py
Labels: error-messages

#19955 allow install of build-deps from cache via --include-build-deps switch
  lib/spack/spack/cmd/install.py
  lib/spack/spack/installer.py
  share/spack/spack-completion.bash
Labels: e4s, ecp

#20235 bump up version for miopengemm ,rocm-opencl rocm-3.10.0 rel
  var/spack/repos/builtin/packages/miopen-opencl/package.py
  var/spack/repos/builtin/packages/miopengemm/package.py
  var/spack/repos/builtin/packages/rdc/package.py
  var/spack/repos/builtin/packages/rocm-opencl/package.py
Labels: AMD

#20243 AMD ROCm - Bump up rocalution with 3.9.0 and 3.10.0 releases
  var/spack/repos/builtin/packages/rocalution/package.py
Labels: AMD

#20194 concretizer: restrict maximizing variant values to MV variants
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/test/concretize.py
  var/spack/repos/builtin.mock/packages/dep-with-variants-if-develop-root/package.py
  var/spack/repos/builtin.mock/packages/dep-with-variants-if-develop/package.py
Labels: concretization

#18473 Also allow --rpath as rpath linker flags
  lib/spack/env/cc
  lib/spack/spack/test/cc.py
Labels: compilers, rpath

#20250 geant4, geant4-data: versions 10.6.3 and 10.7.0
  var/spack/repos/builtin/packages/g4emlow/package.py
  var/spack/repos/builtin/packages/g4ensdfstate/package.py
  var/spack/repos/builtin/packages/g4particlexs/package.py
  var/spack/repos/builtin/packages/g4photonevaporation/package.py
  var/spack/repos/builtin/packages/g4radioactivedecay/package.py
  var/spack/repos/builtin/packages/g4realsurface/package.py
  var/spack/repos/builtin/packages/geant4-data/package.py
  var/spack/repos/builtin/packages/geant4/package.py
Labels: hep, new-version

#20264 bump up version for rccl ,atmi for rocm-3.10.0 rel
  var/spack/repos/builtin/packages/atmi/package.py
  var/spack/repos/builtin/packages/rccl/package.py
Labels: AMD

#20162 OpenCV: disable variants by default
  var/spack/repos/builtin/packages/opencv/package.py
Labels: defaults, variants

#20017 krb5: Support static lib creation. Added variant +static
  var/spack/repos/builtin/packages/krb5/mit-krb5-1.17-static-libs.patch
  var/spack/repos/builtin/packages/krb5/package.py
Labels: new-variant, patch

#20030 Add "spack versions --new" flag to only show new versions
  lib/spack/spack/cmd/versions.py
  lib/spack/spack/test/cmd/versions.py
  share/spack/spack-completion.bash
  var/spack/repos/builtin.mock/packages/brillig/package.py
Labels: commands, versions

#20249 Compiler wrapper linting
  lib/spack/env/cc
Labels: compilers, shell-support

#20268 py-pandas: add v1.1.5
  var/spack/repos/builtin/packages/py-pandas/package.py
Labels: new-version

#20102 concretizer: try hard to obtain all needed variant_possible_value()'s
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/spec.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/concretize_preferences.py
  var/spack/repos/builtin.mock/packages/singlevalue-variant-dependent-type/package.py
  var/spack/repos/builtin.mock/packages/singlevalue-variant/package.py
Labels: concretization

#20054 Command Reference: add link to spack test docs
  lib/spack/docs/packaging_guide.rst
Labels: commands, documentation, smoke-tests

#20291 New patch release SLEPc 3.14.1
  var/spack/repos/builtin/packages/slepc/package.py
Labels: xSDK

#20288 Below changes were added to lammps recipe:
  var/spack/repos/builtin/packages/lammps/package.py
Labels: AMD, ecp

#20299 AMD ROCm Release: Bump up migraphx recipe with 3.9.0 and 3.10.0
  var/spack/repos/builtin/packages/migraphx/0001-Adding-nlohmann-json-include-directory.patch
  var/spack/repos/builtin/packages/migraphx/package.py
Labels: AMD, ecp

#20308 votca-*: add v1.6.3
  var/spack/repos/builtin/packages/votca-csg-tutorials/package.py
  var/spack/repos/builtin/packages/votca-csg/package.py
  var/spack/repos/builtin/packages/votca-csgapps/package.py
  var/spack/repos/builtin/packages/votca-tools/package.py
  var/spack/repos/builtin/packages/votca-xtp/package.py
Labels: new-version

#20296 AMD ROCm Release: Bump up versions(3.9.0 and 3.10.0) for miopen-hip
  var/spack/repos/builtin/packages/miopen-hip/0001-Add-rocm-path-and-rocm-device-lib-path-flags.patch
  var/spack/repos/builtin/packages/miopen-hip/package.py
Labels: AMD, build-environment, dependencies, ecp, new-version, patch

#20298 Tests: enable re-use of post-install tests in smoke tests
  lib/spack/spack/build_environment.py
  var/spack/repos/builtin/packages/hdf5/package.py
Labels: smoke-tests

#20327 py-torch: add v1.7.1
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: new-version

#20328 py-torchvision: add v0.8.2
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: new-version

#20306 albert: new version
  var/spack/repos/builtin/packages/albert/package.py
Labels: new-version

#20362 concretizer: remove clingo command-line driver
  lib/spack/spack/solver/asp.py
Labels: concretization, refactoring

#20342 WarpX: PSATD on
  var/spack/repos/builtin/packages/warpx/package.py
Labels: update-package

#20355 bazel: add latest versions up to 3.7.1
  var/spack/repos/builtin/packages/bazel/package.py
Labels: bazel, new-version

#20391 Bugfix/kokkos-nvcc-wrapper: Correct the git URL
  var/spack/repos/builtin/packages/kokkos-nvcc-wrapper/package.py
Labels: download-error, ecp, git

#20373 package sanity: ensure all variant defaults are allowed values
  lib/spack/spack/build_systems/cuda.py
  lib/spack/spack/test/package_sanity.py
  lib/spack/spack/variant.py
  var/spack/repos/builtin/packages/cbtf-argonavis/package.py
  var/spack/repos/builtin/packages/cbtf-krell/package.py
  var/spack/repos/builtin/packages/cbtf-lanl/package.py
  var/spack/repos/builtin/packages/cbtf/package.py
  var/spack/repos/builtin/packages/elsi/package.py
  var/spack/repos/builtin/packages/fairlogger/package.py
  var/spack/repos/builtin/packages/gpu-burn/package.py
  var/spack/repos/builtin/packages/hdf5/package.py
  var/spack/repos/builtin/packages/jube/package.py
  var/spack/repos/builtin/packages/kokkos-legacy/package.py
  var/spack/repos/builtin/packages/kokkos/package.py
  var/spack/repos/builtin/packages/libbeagle/package.py
  var/spack/repos/builtin/packages/openspeedshop-utils/package.py
  var/spack/repos/builtin/packages/openspeedshop/package.py
  var/spack/repos/builtin/packages/rr/package.py
  var/spack/repos/builtin/packages/vtk-m/package.py
Labels: defaults, tests, variants

#20394 outputs: restore default output of fetch/build/total times
  lib/spack/spack/installer.py
Labels: build

#20330 comgr: disable hip compile test from /opt/rocm
  var/spack/repos/builtin/packages/comgr/hip-tests.patch
  var/spack/repos/builtin/packages/comgr/package.py
Labels: AMD

#20278 Bugfix/docs: correct and expand smoke test documentation
  lib/spack/docs/packaging_guide.rst
Labels: bugfix, documentation, smoke-tests

#20383 concretizer: don't use one_of_iff for range constraints
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
Labels: concretization, refactoring

#20367 Kluge to get the gfortran linker to work correctly for SciPy on Big Sur.
  var/spack/repos/builtin/packages/py-scipy/package.py
Labels: macOS, update-package

#20415 docs: fix command usage for unit-test pytest help
  lib/spack/spack/cmd/unit_test.py
Labels: commands, documentation, tests

#20427 Match master version instead of develop for PARAVIEW_VTK_DIR
  var/spack/repos/builtin/packages/paraview/package.py
Labels: update-package

#20413 Docs: add more Command Reference links to spack test
  lib/spack/docs/packaging_guide.rst
Labels: commands, documentation, smoke-tests

#20433 meme: Version update to 5.3.0
  var/spack/repos/builtin/packages/meme/package.py
Labels: update-package

#20408 pylikwid: New recipe
  var/spack/repos/builtin/packages/py-pylikwid/package.py
Labels: new-package

#20386 dlib: add new package
  var/spack/repos/builtin/packages/dlib/package.py
Labels: new-package

#20401 AMD ROCm release for mivisionx Bump up versions - 3.9.0 and 3.10.0
  var/spack/repos/builtin/packages/mivisionx/package.py
Labels: AMD, new-version

#20399 ninja: update to version 1.10.2
  var/spack/repos/builtin/packages/ninja/package.py
Labels: update-package

#20398 cli11: add new package
  var/spack/repos/builtin/packages/cli11/package.py
Labels: new-package

#20414 Adding PyAMG package.
  var/spack/repos/builtin/packages/py-pyamg/package.py
Labels: new-package

#20436 sundials: add versions up to 5.6.1
  var/spack/repos/builtin/packages/sundials/package.py
Labels: ecp, update-package

#20397 help2man: update to 1.47.16
  var/spack/repos/builtin/packages/help2man/package.py
Labels: new-version

#20307 unit-tests: ensure that installed packages can be reused
  lib/spack/spack/test/concretize.py
Labels: concretization, tests

#18154 xlc, xlf: added new packages
  var/spack/repos/builtin/packages/xlc/package.py
  var/spack/repos/builtin/packages/xlf/package.py
Labels: compilers, external-packages, new-package

#18019 arm: added new package
  var/spack/repos/builtin/packages/arm/package.py
Labels: arm, compilers, new-package

#20402 [acts] Add version 3
  var/spack/repos/builtin/packages/acts/package.py
Labels: update-package

#20387 DBoW2: add new package
  var/spack/repos/builtin/packages/dbow2/package.py
Labels: new-package

#20378 OpenCV: add new versions, variants
  var/spack/repos/builtin/packages/opencv/package.py
Labels: conflicts, maintainers, new-variant, new-version, update-package

#20416 docs: add single node concurrent build example
  lib/spack/docs/packaging_guide.rst
Labels: build, documentation

#20388 pangolin: add new package
  var/spack/repos/builtin/packages/pangolin/package.py
Labels: new-package

#16950 add py-gemini
  var/spack/repos/builtin/packages/grabix/package.py
  var/spack/repos/builtin/packages/py-gemini/package.py
Labels: new-package, new-version

#20448 cmake: Add Version 3.19.2
  var/spack/repos/builtin/packages/cmake/package.py
Labels: new-version, update-package

#20381 superlu depends on tcsh for build
  var/spack/repos/builtin/packages/superlu/package.py
Labels: e4s, ecp

#20076 Add cray mpich
  var/spack/repos/builtin/packages/cray-mpich/package.py
  var/spack/repos/builtin/packages/mpich/package.py
Labels: cray, new-package

#20449 meson: Add cmake runtime dependency
  var/spack/repos/builtin/packages/meson/package.py
Labels: build-error, dependencies, update-package

#20457 py-greenlet: add version 0.4.17
  var/spack/repos/builtin/packages/py-greenlet/package.py
Labels: e4s, ecp, new-version, power, update-package

#20453 mesa: drop use of shared variant
  var/spack/repos/builtin/packages/mesa/package.py
Labels: build-error, variants

#20463 slepc: set --with-arpack-dir correctly
  var/spack/repos/builtin/packages/slepc/package.py
Labels: e4s, ecp

#20437 Add spack test support for Qthreads
  var/spack/repos/builtin/packages/qthreads/package.py
Labels: ecp

#20253 minimal zsh completion
  share/spack/bash/spack-completion.in
  share/spack/qa/completion-test.sh
  share/spack/qa/run-shell-tests
  share/spack/setup-env.sh
  share/spack/spack-completion.bash
Labels: shell-support

#20473 asp: memoize the list of all target_specs to speed-up setup phase
  lib/spack/spack/solver/asp.py
Labels: concretization, user-experience

#20423 concretizer: move conditional dependency logic into `concretize.lp`
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
Labels: concretization, performance, refactoring

#20499 clingo: prefer master branch
  var/spack/repos/builtin/packages/clingo/package.py
Labels: concretization, new-version

#18493 Corrected Go dependent build environment.
  var/spack/repos/builtin/packages/go/package.py
Labels: go, update-package

#20506 concretizer: optimize cardinality constraints by expressing them as integrity constraints
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
Labels: concretization

#20376 Refactor flake8 handling and tool compatibility
  .flake8
  .flake8_packages
  lib/spack/spack/cmd/flake8.py
  share/spack/qa/flake8_formatter.py
  share/spack/spack-completion.bash
Labels: commands, flake8, style

#20507 concretizer: refactor conditional rules to be less repetitious
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
Labels: concretization, refactoring

#20512 Add patch to fix bazel build on power9
  var/spack/repos/builtin/packages/bazel/linux_ppc-0.29.1.patch
  var/spack/repos/builtin/packages/bazel/package.py
Labels: bazel, patch, power

#20384 add mypy to style checks; rename `spack flake8` to `spack style`
  .flake8
  .github/workflows/macos_unit_tests.yaml
  .github/workflows/style_and_docs.yaml
  .mypy.ini
  bin/spack
  lib/spack/docs/contribution_guide.rst
  lib/spack/external/py2/typing.py
  lib/spack/llnl/util/tty/log.py
  lib/spack/spack/architecture.py
  lib/spack/spack/build_systems/autotools.py
  lib/spack/spack/build_systems/cmake.py
  lib/spack/spack/build_systems/makefile.py
  lib/spack/spack/build_systems/meson.py
  lib/spack/spack/cmd/flake8.py
  lib/spack/spack/cmd/module.py
  lib/spack/spack/cmd/style.py
  lib/spack/spack/compiler.py
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/compilers/nag.py
  lib/spack/spack/config.py
  lib/spack/spack/database.py
  lib/spack/spack/directives.py
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/installer.py
  lib/spack/spack/mirror.py
  lib/spack/spack/mixins.py
  lib/spack/spack/modules/common.py
  lib/spack/spack/modules/lmod.py
  lib/spack/spack/modules/tcl.py
  lib/spack/spack/package.py
  lib/spack/spack/repo.py
  lib/spack/spack/schema/environment.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/spec.py
  lib/spack/spack/stage.py
  lib/spack/spack/tengine.py
  lib/spack/spack/test/cmd/flake8.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/package_sanity.py
  lib/spack/spack/test/sbang.py
  lib/spack/spack/util/crypto.py
  lib/spack/spack/util/gpg.py
  lib/spack/spack/util/lock.py
  lib/spack/spack/util/log_parse.py
  lib/spack/spack/util/spack_yaml.py
  lib/spack/spack/util/web.py
  lib/spack/spack/variant.py
  share/spack/qa/run-style-tests
  share/spack/qa/setup.sh
  share/spack/spack-completion.bash
Labels: black, flake8, mypy, style

#20411 add intel-oneapi packages
  lib/spack/spack/build_systems/oneapi.py
  lib/spack/spack/compilers/oneapi.py
  lib/spack/spack/pkgkit.py
  lib/spack/spack/test/compilers/detection.py
  var/spack/repos/builtin/packages/intel-oneapi-ccl/package.py
  var/spack/repos/builtin/packages/intel-oneapi-compilers/package.py
  var/spack/repos/builtin/packages/intel-oneapi-dal/package.py
  var/spack/repos/builtin/packages/intel-oneapi-dnn/package.py
  var/spack/repos/builtin/packages/intel-oneapi-ipp/package.py
  var/spack/repos/builtin/packages/intel-oneapi-ippcp/package.py
  var/spack/repos/builtin/packages/intel-oneapi-mkl/package.py
  var/spack/repos/builtin/packages/intel-oneapi-mpi/package.py
  var/spack/repos/builtin/packages/intel-oneapi-tbb/package.py
  var/spack/repos/builtin/packages/intel-oneapi-vpl/package.py
Labels: ecp, new-package

#20538 style: ensure that all packages pass `spack style -a`
  lib/spack/spack/cmd/info.py
  lib/spack/spack/cmd/style.py
  lib/spack/spack/test/cmd/dependencies.py
  var/spack/repos/builtin.mock/packages/cumulative-vrange-root/package.py
  var/spack/repos/builtin/packages/aocc/package.py
  var/spack/repos/builtin/packages/bref3/package.py
  var/spack/repos/builtin/packages/codes/package.py
  var/spack/repos/builtin/packages/erlang/package.py
  var/spack/repos/builtin/packages/gotcha/package.py
  var/spack/repos/builtin/packages/intel-mpi/package.py
  var/spack/repos/builtin/packages/iq-tree/package.py
  var/spack/repos/builtin/packages/libmaus2/package.py
  var/spack/repos/builtin/packages/libproxy/package.py
  var/spack/repos/builtin/packages/libspatialite/package.py
  var/spack/repos/builtin/packages/madgraph5amc/package.py
  var/spack/repos/builtin/packages/mcpp/package.py
  var/spack/repos/builtin/packages/minimap2/package.py
  var/spack/repos/builtin/packages/mozjs/package.py
  var/spack/repos/builtin/packages/nim/package.py
  var/spack/repos/builtin/packages/openkim-models/package.py
  var/spack/repos/builtin/packages/py-cogent/package.py
  var/spack/repos/builtin/packages/py-h5glance/package.py
  var/spack/repos/builtin/packages/py-jedi/package.py
  var/spack/repos/builtin/packages/py-libensemble/package.py
  var/spack/repos/builtin/packages/py-redis/package.py
  var/spack/repos/builtin/packages/py-sphinxcontrib-mermaid/package.py
  var/spack/repos/builtin/packages/rust/package.py
  var/spack/repos/builtin/packages/simmetrix-simmodsuite/package.py
  var/spack/repos/builtin/packages/squashfs/package.py
  var/spack/repos/builtin/packages/talass/package.py
  var/spack/repos/builtin/packages/typhonio/package.py
Labels: flake8, style

#20509 concretizer: remove vestigial code and comment
  lib/spack/spack/solver/concretize.lp
Labels: concretization, refactoring

#20526 bugfix: do not write empty default dicts/lists in envs
  lib/spack/spack/environment.py
  lib/spack/spack/schema/__init__.py
  lib/spack/spack/test/cmd/env.py
Labels: configuration, environments, yaml

#20531 [gcc] Make ISL optional by adding a +graphite variant
  var/spack/repos/builtin/packages/gcc/package.py
Labels: new-variant

#20524 Update ParallelCluster to v2.10.1
  var/spack/repos/builtin/packages/aws-parallelcluster/package.py
Labels: new-version

#20520 Add py-ez-setup package file
  var/spack/repos/builtin/packages/py-ez-setup/package.py
Labels: new-package

#20452 Add lbann cmake flags
  var/spack/repos/builtin/packages/dihydrogen/package.py
  var/spack/repos/builtin/packages/lbann/package.py
Labels: update-package

#20438 New versions: py-sphinxcontrib-bibtex 2.2.0 and py-pybtex-docutils 0.2.2
  var/spack/repos/builtin/packages/py-pybtex-docutils/package.py
  var/spack/repos/builtin/packages/py-sphinxcontrib-bibtex/package.py
Labels: new-version

#20361 py-lxml: Add Version 4.6.1
  var/spack/repos/builtin/packages/py-lxml/package.py
Labels: new-version

#20354 sqlite: add 3.34.0
  var/spack/repos/builtin/packages/sqlite/package.py
Labels: new-version

#20233 libgff: new package at version 2.0.0
  var/spack/repos/builtin/packages/libgff/package.py
Labels: new-package

#20544 babelflow: Add spec
  var/spack/repos/builtin/packages/babelflow/package.py
Labels: bugfix

#20542 mptensor: Add new package
  var/spack/repos/builtin/packages/mptensor/package.py
Labels: new-package

#20540 Update to the latest version (1.6.0)
  var/spack/repos/builtin/packages/py-cloudpickle/package.py
Labels: new-version

#20539 Fixed for merging patches for Fujitsu compiler in version 0.3.13
  var/spack/repos/builtin/packages/openblas/package.py
Labels: blas-lapack-scalapack, fujitsu, patch

#20533 openfoam: update for version 20.12
  var/spack/repos/builtin/packages/openfoam/package.py
Labels: new-version

#20508 Add libvori and support for libvori (and spglib) in CP2K
  var/spack/repos/builtin/packages/cp2k/package.py
  var/spack/repos/builtin/packages/libvori/package.py
Labels: new-package, new-variant

#20488 nbdkit: Fix configure arg
  var/spack/repos/builtin/packages/nbdkit/package.py
Labels: update-package

#20481 branson: dropped parmetis dependency in 0.82 release
  var/spack/repos/builtin/packages/branson/package.py
Labels: dependencies

#20547 zoltan: Add PGI runtime libs to LDFLAGS
  var/spack/repos/builtin/packages/zoltan/package.py
Labels: pgi, update-package

#20546 fftw: PGI compiler has trouble with avx2/avx-512 SIMD support
  var/spack/repos/builtin/packages/fftw/package.py
Labels: nvhpc, pgi, update-package

#20529 silo: HDF5 1.10.0+ introduces a new "terminate" member in the H5FD_class_t structure
  var/spack/repos/builtin/packages/silo/H5FD_class_t-terminate.patch
  var/spack/repos/builtin/packages/silo/package.py
Labels: patch

#20543 salmon-tddft: new package.
  var/spack/repos/builtin/packages/salmon-tddft/cmakefix.patch
  var/spack/repos/builtin/packages/salmon-tddft/fjmpi.patch
  var/spack/repos/builtin/packages/salmon-tddft/package.py
  var/spack/repos/builtin/packages/salmon-tddft/v2.0.libxc-5.0.patch
Labels: new-package

#20477 CUDA: update to 11.2.0
  var/spack/repos/builtin/packages/cuda/package.py
Labels: cuda, new-version

#20474 xios: add support for Fujitsu compilers
  var/spack/repos/builtin/packages/xios/package.py
Labels: fujitsu, update-package

#20472 [acts] Add version 4
  var/spack/repos/builtin/packages/acts/package.py
Labels: new-version

#20470 libjson: Fix install parameters
  var/spack/repos/builtin/packages/libjson/package.py
Labels: patch

#20459 mesa: Add missing expat dependency
  var/spack/repos/builtin/packages/mesa/package.py
Labels: dependencies, update-package

#20447 Add pem package file
  var/spack/repos/builtin/packages/py-pem/package.py
Labels: new-package

#20446 fix rocm_3.8.0 build error for rocprim,rocrand,rocfft packages
  var/spack/repos/builtin/packages/hip/package.py
Labels: AMD, ecp

#20353 Adding cce to compilers that patch gdbm
  var/spack/repos/builtin/packages/gdbm/package.py
Labels: cray, patch

#20276 openipmi: fix dependency and add version 2.0.29
  var/spack/repos/builtin/packages/openipmi/package.py
  var/spack/repos/builtin/packages/openipmi/readline.patch
Labels: dependencies, new-version, patch

#20271 unifyfs: dependency changes and new release
  var/spack/repos/builtin/packages/unifyfs/package.py
Labels: dependencies, new-variant, new-version

#20197 mumps: Fix dependency issues in shared licenses
  var/spack/repos/builtin/packages/mumps/mumps.src-makefile.patch
  var/spack/repos/builtin/packages/mumps/package.py
Labels: patch

#20084 cfitsio: new versions and new url sheme
  var/spack/repos/builtin/packages/cfitsio/package.py
Labels: fetching, new-version

#19809 New package: py-pydmd
  var/spack/repos/builtin/packages/py-pydmd/isuue-133.patch
  var/spack/repos/builtin/packages/py-pydmd/package.py
Labels: new-package

#20461 openstf: Add version 1.7.0
  var/spack/repos/builtin/packages/openstf/package.py
Labels: new-version

#20460 openfdtd: Add version 2.6.0
  var/spack/repos/builtin/packages/openfdtd/package.py
Labels: new-version

#20317 openwsman: fix detect python executable
  var/spack/repos/builtin/packages/openwsman/package.py
Labels: dependencies, new-variant, update-package

#20548 Lis: Add new package
  var/spack/repos/builtin/packages/lis/package.py
Labels: new-package

#20365 PFAPACK: Add new package
  var/spack/repos/builtin/packages/pfapack/package.py
Labels: new-package

#20549 molden: Fix for aarch64
  var/spack/repos/builtin/packages/molden/for_aarch64.patch
  var/spack/repos/builtin/packages/molden/package.py
Labels: arm, patch

#20550 dpdk: add conflicts('target=aarch64:')
  var/spack/repos/builtin/packages/dpdk/package.py
Labels: arm, conflicts

#20356 llvm: provide fix for python dependencies
  var/spack/repos/builtin/packages/llvm/llvm_python_path.patch
  var/spack/repos/builtin/packages/llvm/package.py
Labels: clang, patch, python

#20562 py-toml: add v0.10.2
  var/spack/repos/builtin/packages/py-toml/package.py
Labels: new-version

#20563 py-regex: add v2020.11.13
  var/spack/repos/builtin/packages/py-regex/package.py
Labels: new-version

#20564 py-pathspec: add v0.8.1
  var/spack/repos/builtin/packages/py-pathspec/package.py
Labels: new-version
