Repository spack/spack, pull requests merged in 2020-06, with the labels that each got.

#16846 Healpix-cxx: a new package.
  var/spack/repos/builtin/packages/healpix-cxx/package.py
Labels: new-package

#16888 miniforge3: add version 4.8.3-4.
  var/spack/repos/builtin/packages/miniforge3/package.py
Labels: new-version

#16884 Recognize system installed gcc-10 as a valid compiler
  lib/spack/spack/compilers/gcc.py
Labels: bugfix, compilers

#16881 r-exactextractr: package type fixed
  var/spack/repos/builtin/packages/r-exactextractr/package.py
Labels: build-systems

#16873 Add opa-psm2 dependency to openmpi
  lib/spack/docs/build_systems/autotoolspackage.rst
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: dependencies, documentation, update-package

#16902 CCache 3.7.9
  var/spack/repos/builtin/packages/ccache/package.py
Labels: new-version

#16801 Add ipython 7.5.0
  var/spack/repos/builtin/packages/py-ipython/package.py
Labels: dependencies, new-version

#16908 Bump ADIOS to 2.6.0
  var/spack/repos/builtin/packages/adios2/package.py
Labels: new-version

#16891 Unify tests for compiler command in the same file
  lib/spack/spack/test/cmd/compiler.py
  lib/spack/spack/test/cmd/compiler_command.py
  lib/spack/spack/test/cmd/test_compiler_cmd.py
Labels: bugfix, maintainers, tests

#16882 Ruby: add warning about Avira antivirus
  var/spack/repos/builtin/packages/ruby/package.py
Labels: build-error, ruby

#16907 mummer4: new package at 4.0.0-beta2
  var/spack/repos/builtin/packages/mummer4/package.py
Labels: new-package

#16886 spack uninstall: improve help message
  lib/spack/spack/cmd/uninstall.py
Labels: user-experience

#16480 Feature: add option to create view by copying/relocating files
  lib/spack/spack/cmd/view.py
  lib/spack/spack/filesystem_view.py
  lib/spack/spack/package.py
  lib/spack/spack/test/cmd/view.py
  share/spack/spack-completion.bash
  var/spack/repos/builtin/packages/python/package.py
Labels: commands, views

#14154 Mirrors: add option to exclude packages from "mirror create"
  lib/spack/spack/cmd/mirror.py
  lib/spack/spack/environment.py
  lib/spack/spack/test/cmd/mirror.py
  share/spack/spack-completion.bash
Labels: mirrors

#16929 Gnuplot fix 16928
  var/spack/repos/builtin/packages/gnuplot/package.py
Labels: update-package

#16836 Ignore __pycache__ directory
  .gitignore
Labels: git

#16883 Fix parsing of EvtGen URL
  lib/spack/spack/test/url_parse.py
  lib/spack/spack/url.py
Labels: url-parsing

#16915 IPython: fix setuptools dependency
  var/spack/repos/builtin/packages/py-ipython/package.py
Labels: dependencies, python

#16940 py-openpyxl: add 3.0.3
  var/spack/repos/builtin/packages/py-openpyxl/package.py
Labels: new-version

#16937 mpfr: update hash for 4.0.2 patch
  var/spack/repos/builtin/packages/mpfr/package.py
Labels: checksum, patch

#16927 Add pytest@5.3.4
  var/spack/repos/builtin/packages/py-pytest/package.py
Labels: new-version

#16926 Update to opppy-0_1_3
  var/spack/repos/builtin/packages/py-opppy/package.py
Labels: new-version

#16925 Trilinos: add Stratimikos package
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: new-variant, update-package

#16922 Add py-jupyter-core@4.6.1
  var/spack/repos/builtin/packages/py-jupyter-core/package.py
Labels: new-version

#16921 Add matplotlib 3.1.0
  var/spack/repos/builtin/packages/py-matplotlib/package.py
Labels: new-version

#16943 NumPy: add 1.18.5
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: new-version

#16941 tau: correctly set libhwloc + libunwind library paths
  var/spack/repos/builtin/packages/tau/package.py
  var/spack/repos/builtin/packages/tau/unwind.patch
Labels: patch

#16952 libgit2 v1.0.1
  var/spack/repos/builtin/packages/libgit2/package.py
Labels: new-version

#16749 Use a single ThreadPool for "spack versions"
  lib/spack/spack/cmd/versions.py
  lib/spack/spack/package.py
  lib/spack/spack/test/web.py
  lib/spack/spack/util/web.py
  share/spack/spack-completion.bash
Labels: bugfix, hotfix

#16333 spack dev-build: Do not mark -u builds in database
  lib/spack/spack/build_environment.py
  lib/spack/spack/installer.py
  lib/spack/spack/package.py
  lib/spack/spack/test/cmd/dev_build.py
Labels: bugfix, dev

#16859 suite-sparse: Change the condition to add C11 flag.
  var/spack/repos/builtin/packages/suite-sparse/package.py
Labels: patch

#16864 Cmake/add fujitsu mpi commands
  var/spack/repos/builtin/packages/cmake/package.py
  var/spack/repos/builtin/packages/netlib-scalapack/package.py
Labels: cmake, fujitsu, mpi

#16862 protobuf: support aarch64 @2.5.0
  var/spack/repos/builtin/packages/protobuf/package.py
  var/spack/repos/builtin/packages/protobuf/protoc2.5.0_aarch64.patch
Labels: build-systems, new-version

#16946 py-astunparse: add version 1.6.3
  var/spack/repos/builtin/packages/py-astunparse/package.py
Labels: new-version

#16974 py-tensorflow: ensure xla is turned off
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: update-package

#16985 py-mysqlclient: relax dependency constraint, add new versions
  var/spack/repos/builtin/packages/py-mysqlclient/package.py
Labels: new-version

#16984 Add new package: lxc
  var/spack/repos/builtin/packages/lxc/package.py
Labels: new-package

#16983 Add new package: py-louie
  var/spack/repos/builtin/packages/py-louie/package.py
Labels: new-package

#16972 intel-tbb: Fix for #16938 add custom libs method
  var/spack/repos/builtin/packages/intel-tbb/package.py
Labels: libraries

#16969 gcc: Fix error 'size of array is negative' (#16968)
  var/spack/repos/builtin/packages/gcc/glibc-2.31-libsanitizer-1-gcc-6.patch
  var/spack/repos/builtin/packages/gcc/glibc-2.31-libsanitizer-2-gcc-6.patch
  var/spack/repos/builtin/packages/gcc/glibc-2.31-libsanitizer-2-gcc-7.patch
  var/spack/repos/builtin/packages/gcc/package.py
Labels: gcc, patch

#16964 [Package] added CTRE package
  var/spack/repos/builtin/packages/ctre/package.py
Labels: new-package

#16956 mongo-c-driver: Add 1.16.2
  var/spack/repos/builtin/packages/libbson/package.py
  var/spack/repos/builtin/packages/mongo-c-driver/package.py
Labels: build-systems, new-version, update-package

#16949 Add package PRMON
  var/spack/repos/builtin/packages/prmon/package.py
Labels: new-package

#16948 ffr: fix mpi programs to use mpi compiler wrapper.
  var/spack/repos/builtin/packages/ffr/package.py
Labels: mpi, update-package

#16924 Add rpy2@3.0.4
  var/spack/repos/builtin/packages/py-rpy2/package.py
Labels: new-version

#16945 py-gast: add version 0.3.3
  var/spack/repos/builtin/packages/py-gast/package.py
Labels: new-version

#16981 rose: Add build dependencies for flex and bison
  var/spack/repos/builtin/packages/rose/package.py
Labels: dependencies

#16914 boost: Don't use pre-compiled headers for Fujitsu compiler
  var/spack/repos/builtin/packages/boost/package.py
Labels: fujitsu

#16955 view remove: bugfix hardlinks and copies
  lib/spack/spack/filesystem_view.py
  lib/spack/spack/test/cmd/view.py
  var/spack/repos/builtin.mock/packages/needs-relocation/package.py
Labels: bugfix

#16832 ltr-retriever: new package at 2.8.7
  var/spack/repos/builtin/packages/ltr-retriever/package.py
Labels: new-package

#16991 Add py-storm@0.23 and update URL
  var/spack/repos/builtin/packages/py-storm/package.py
Labels: new-version

#16962 R: url-version custom, release 4
  var/spack/repos/builtin/packages/r/package.py
Labels: R, new-version

#16951 Add Package HSF-CMakeTools
  var/spack/repos/builtin/packages/hsf-cmaketools/package.py
Labels: new-package

#16982 Add new package: py-devlib
  var/spack/repos/builtin/packages/py-devlib/package.py
Labels: new-package

#16593 Cray: fix Blue Waters support and user-built MPIs on Cray
  lib/spack/spack/build_environment.py
  lib/spack/spack/platforms/cray.py
  var/spack/repos/builtin/packages/mpich/package.py
  var/spack/repos/builtin/packages/mvapich2/package.py
Labels: cray, microarchitectures, platform-support

#17003 Update miniconda3@4.8.2
  var/spack/repos/builtin/packages/miniconda3/package.py
Labels: new-version

#17007 suite-sparse: build libraries without running demos
  var/spack/repos/builtin/packages/suite-sparse/package.py
Labels: macOS, update-package

#16818 Set the BOOST_ROOT environment variable when library is loaded
  var/spack/repos/builtin/packages/boost/package.py
Labels: modules

#16897 SpecList: fix recursion for references
  lib/spack/spack/spec_list.py
  lib/spack/spack/test/spec_list.py
Labels: specs

#16999 Fixture to mock an arbitrarily named executable
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/relocate.py
Labels: refactoring, tests

#17004 Add pygelf Python package
  var/spack/repos/builtin/packages/py-pygelf/package.py
Labels: new-package

#16855 libffi: add patch for building with clang on power
  var/spack/repos/builtin/packages/libffi/clang-powerpc-3.2.1.patch
  var/spack/repos/builtin/packages/libffi/package.py
Labels: bugfix, update-package

#16958 Add new package: wcs
  var/spack/repos/builtin/packages/sbml/package.py
  var/spack/repos/builtin/packages/wcs/package.py
Labels: new-package, new-variant

#16973 teach spack how to build pmix from git
  var/spack/repos/builtin/packages/pmix/package.py
Labels: new-version

#16210 lib/spack : expand spack config vars in 'include' section
  lib/spack/spack/environment.py
  lib/spack/spack/test/cmd/env.py
Labels: environments

#16890 add gaussian-view
  var/spack/repos/builtin/packages/gaussian-view/package.py
Labels: new-package

#16997 new package: py-uncertainties
  var/spack/repos/builtin/packages/py-uncertainties/package.py
Labels: new-package

#17057 bugfix: fix cache_extra_test_sources' file copy
  lib/spack/spack/package.py
  lib/spack/spack/test/package_class.py
Labels: smoke-tests

#17059 readline: fix linking to ncurses
  var/spack/repos/builtin/packages/readline/package.py
Labels: linking, update-package

#17043 libffi 3.3: float128 ppc patch
  var/spack/repos/builtin/packages/libffi/package.py
  var/spack/repos/builtin/packages/libffi/powerpc-3.3.patch
Labels: build-error, patch, power

#17046 Geant4 +Python: Load Module
  var/spack/repos/builtin/packages/geant4/package.py
Labels: python, update-package

#16901 New package: FrontFlow Blue
  var/spack/repos/builtin/packages/ffb/package.py
  var/spack/repos/builtin/packages/ffb/revocap_refiner.patch
Labels: new-package

#17076 xrootd: new versions
  var/spack/repos/builtin/packages/xrootd/package.py
Labels: new-version

#17063 libflame: replace 'no' with 'none' as possible value of 'threads' variant
  var/spack/repos/builtin/packages/libflame/package.py
Labels: variants

#17045 fix depends issue and support for aarch64
  var/spack/repos/builtin/packages/mysql/package.py
Labels: dependencies

#17038 New recipe for building the Log4C package
  var/spack/repos/builtin/packages/log4c/package.py
Labels: new-package

#17001 py-healpy: a new package.
  var/spack/repos/builtin/packages/py-healpy/package.py
Labels: new-package, python

#17005 Reframe 3.0
  var/spack/repos/builtin/packages/reframe/package.py
Labels: new-variant, new-version

#17078 New package: ocl-icd
  var/spack/repos/builtin/packages/ocl-icd/package.py
Labels: new-package

#17071 clang: add 'version_argument', remove redundant method
  lib/spack/spack/compilers/clang.py
  lib/spack/spack/test/compilers/basics.py
Labels: clang, compilers

#17079 package/pocl: add dependency for icd variant, or else build fails
  var/spack/repos/builtin/packages/pocl/package.py
Labels: dependencies

#16975 Package/py-lmfit: add new version
  var/spack/repos/builtin/packages/py-lmfit/package.py
Labels: new-version

#16788 Add new package: grafana
  var/spack/repos/builtin/packages/grafana/package.py
Labels: go, new-package

#17072 Skip failing test on MacOS
  .github/workflows/macos_unit_tests.yaml
  lib/spack/spack/test/llnl/util/lock.py
Labels: macOS, tests, workaround

#15598 new package: arrayfire
  var/spack/repos/builtin/packages/arrayfire/package.py
Labels: help wanted, new-package

#17037 pcre2: new variant and version
  var/spack/repos/builtin/packages/pcre2/package.py
Labels: new-variant, new-version

#17032 [py-torchvision] added dependency of ffmpeg
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: dependencies

#17018 cuda: 10.1 and onward, installers will crash if /tmp/cuda-installer.l…
  var/spack/repos/builtin/packages/cuda/package.py
Labels: cuda, error-messages

#17009 hdf5: fix libtool files
  var/spack/repos/builtin/packages/hdf5/package.py
  var/spack/repos/builtin/packages/libaec/package.py
  var/spack/repos/builtin/packages/libszip/package.py
Labels: dependencies, libraries

#16989 chill: Update dependency versions
  var/spack/repos/builtin/packages/chill/package.py
Labels: dependencies, update-package

#17098 Add new package: lzop
  var/spack/repos/builtin/packages/lzop/package.py
Labels: new-package

#16899 Set ROOT environment correctly when ~rpath
  var/spack/repos/builtin/packages/root/package.py
Labels: update-package

#17104 Reframe 3.0 - fix package bug
  var/spack/repos/builtin/packages/reframe/package.py
Labels: update-package

#16856 py-matplotlib: fix bug building matplotlib source files w/ C-specific flags
  var/spack/repos/builtin/packages/python/package.py
  var/spack/repos/builtin/packages/python/python-2.7-distutils-C++.patch
  var/spack/repos/builtin/packages/python/python-3.6-distutils-C++.patch
  var/spack/repos/builtin/packages/python/python-3.7+-distutils-C++.patch
Labels: bugfix, update-package

#17019 vtk: Add latest version/python3.8 support
  var/spack/repos/builtin/packages/vtk/package.py
Labels: new-version, update-package

#17112 ruby: add version 2.7.1
  var/spack/repos/builtin/packages/ruby/package.py
Labels: new-version

#12384 pango: add libffi so that configure detects glib
  var/spack/repos/builtin/packages/pango/package.py
Labels: dependencies

#16986 Doc: E4S Build Cache Link
  lib/spack/docs/binary_caches.rst
Labels: documentation

#17067 Add compiler option to use with Fujitsu compiler
  var/spack/repos/builtin/packages/linsys-v/package.py
Labels: fujitsu, patch

#16860 bazel: Update for use with Fujitsu compiler
  var/spack/repos/builtin/packages/bazel/package.py
  var/spack/repos/builtin/packages/bazel/patch_for_fcc.patch
  var/spack/repos/builtin/packages/bazel/patch_for_fcc2.patch
Labels: bazel, fujitsu, patch

#17095 mxnet: avoid GNU parallel shuffle when without openmp.
  var/spack/repos/builtin/packages/mxnet/package.py
  var/spack/repos/builtin/packages/mxnet/parallell_shuffle.patch
Labels: openmp, patch, update-package

#17122 Add patch for older versions of py-tensorflow
  var/spack/repos/builtin/packages/py-tensorflow/contrib_cloud_1.1.patch
  var/spack/repos/builtin/packages/py-tensorflow/contrib_cloud_1.10.patch
  var/spack/repos/builtin/packages/py-tensorflow/contrib_cloud_1.4.patch
  var/spack/repos/builtin/packages/py-tensorflow/contrib_cloud_1.9.patch
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: patch

#17124 Modified for Fujitsu compiler.
  var/spack/repos/builtin/packages/ffb/fj_compiler.patch
  var/spack/repos/builtin/packages/ffb/package.py
  var/spack/repos/builtin/packages/ffb/revocap_refiner.patch
Labels: fujitsu, patch

#17120 vecgeom: add version 1.1.7
  var/spack/repos/builtin/packages/vecgeom/package.py
Labels: update-package

#17088 py-tensorflow: Update for use with Fujitsu compiler
  var/spack/repos/builtin/packages/py-tensorflow/1-1_fcc_tf_patch.patch
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: patch

#17006 Trilinos: Fix/clarify some variants/dependencies
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: update-package

#17073 openmpi: fixes for NAG compiler
  var/spack/repos/builtin/packages/openmpi/nag_pthread/1.10.4_1.10.999.patch
  var/spack/repos/builtin/packages/openmpi/nag_pthread/2.0.0_2.1.1.patch
  var/spack/repos/builtin/packages/openmpi/nag_pthread/2.1.2_2.1.3_3.0.0.patch
  var/spack/repos/builtin/packages/openmpi/nag_pthread/2.1.4_2.1.999_3.0.1_4.patch
  var/spack/repos/builtin/packages/openmpi/package.py
  var/spack/repos/builtin/packages/openmpi/use_mpi_tkr_sizeof/step_1.patch
  var/spack/repos/builtin/packages/openmpi/use_mpi_tkr_sizeof/step_2.patch
Labels: mpi, nag, patch

#16892 Split hepmc Into hepmc and hepmc3
  var/spack/repos/builtin/packages/acts/package.py
  var/spack/repos/builtin/packages/hepmc/package.py
  var/spack/repos/builtin/packages/hepmc3/package.py
Labels: new-package

#17064 Smoke tests: Add install tests for libsigsegv
  var/spack/repos/builtin/packages/libsigsegv/package.py
Labels: smoke-tests

#16831 openmpi: options for local transport
  var/spack/repos/builtin/packages/fca/package.py
  var/spack/repos/builtin/packages/hcoll/package.py
  var/spack/repos/builtin/packages/knem/package.py
  var/spack/repos/builtin/packages/openmpi/package.py
  var/spack/repos/builtin/packages/xpmem/package.py
Labels: mpi, new-package, new-variant

#17137 oneDNN: add v1.5.0
  var/spack/repos/builtin/packages/onednn/package.py
Labels: new-version

#17031 cray module do not work without CRAY_LD_LIBRARY_PATH
  lib/spack/spack/build_environment.py
  lib/spack/spack/util/module_cmd.py
Labels: bugfix, cray

#17140 python: fix patch issue for 2.7.X, 3.7.X
  var/spack/repos/builtin/packages/python/package.py
  var/spack/repos/builtin/packages/python/python-2.7.17+-distutils-C++.patch
  var/spack/repos/builtin/packages/python/python-2.7.8-distutils-C++.patch
  var/spack/repos/builtin/packages/python/python-3.6.8-distutils-C++.patch
  var/spack/repos/builtin/packages/python/python-3.7.3-distutils-C++.patch
  var/spack/repos/builtin/packages/python/python-3.7.4+-distutils-C++.patch
Labels: bugfix

#17144 glib: fix 2.56 build with python@2
  var/spack/repos/builtin/packages/glib/package.py
Labels: update-package

#17148 minimap2: typo fix
  var/spack/repos/builtin/packages/minimap2/package.py
Labels: update-package

#17147 Docs: fix rst link to spack ci
  lib/spack/docs/pipelines.rst
Labels: documentation

#16434 Fetching from urls: Error Message
  lib/spack/spack/build_systems/xorg.py
  lib/spack/spack/fetch_strategy.py
Labels: error-messages, fetching, mirrors, user-experience

#17117 argobots/bolt: update package.py
  var/spack/repos/builtin/packages/argobots/package.py
  var/spack/repos/builtin/packages/bolt/package.py
Labels: update-package

#17150 atop: fix ld error
  var/spack/repos/builtin/packages/atop/package.py
Labels: update-package

#17154 libjpeg-turbo: fixed sha256
  var/spack/repos/builtin/packages/libjpeg-turbo/package.py
Labels: update-package

#17160 py-matplotlib: add v3.2.2
  var/spack/repos/builtin/packages/py-matplotlib/package.py
Labels: new-version

#17161 py-pandas: add v1.0.5
  var/spack/repos/builtin/packages/py-pandas/package.py
Labels: new-version

#17167 PyTorch: add v1.5.1
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: new-version

#17173 Update to swipl package
  var/spack/repos/builtin/packages/swipl/package.py
Labels: new-variant, new-version

#17183 NumPy: add v1.19.0
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: new-version

#17189 SciPy: add v1.5.0
  var/spack/repos/builtin/packages/py-scipy/package.py
Labels: new-version

#17175 [delphes] fix root cxxstd dependency
  var/spack/repos/builtin/packages/delphes/package.py
Labels: update-package

#17136 Minor cleanup for conduit and hydrogen
  var/spack/repos/builtin/packages/conduit/package.py
  var/spack/repos/builtin/packages/hydrogen/package.py
Labels: update-package

#17191 dos2unix: add build depends
  var/spack/repos/builtin/packages/dos2unix/package.py
Labels: update-package

#17184 Package update for blaspp
  var/spack/repos/builtin/packages/blaspp/package.py
Labels: update-package

#17176 Added 8.0 RC to the versions
  var/spack/repos/builtin/packages/cudnn/package.py
Labels: new-version

#16854 swig: fix older builds on newer platforms by updating config files
  lib/spack/spack/build_systems/autotools.py
  var/spack/repos/builtin/packages/swig/package.py
Labels: autotools, bugfix, update-package

#16372 Pre ci optimization
  lib/spack/spack/ci.py
  lib/spack/spack/ci_optimization.py
  lib/spack/spack/cmd/ci.py
  share/spack/spack-completion.bash
Labels: ci, ecp, feature, gitlab, pipelines, robustness, security, user-experience, workaround, xSDK, yaml

#16817 [py-macs2] new version and dependency
  var/spack/repos/builtin/packages/py-macs2/package.py
Labels: dependencies, new-version

#16880 HEP generator update: evtgen, tauola, photos, pythia8, lhapdf, whizard
  var/spack/repos/builtin/packages/evtgen/g2c.patch
  var/spack/repos/builtin/packages/evtgen/package.py
  var/spack/repos/builtin/packages/lhapdf/package.py
  var/spack/repos/builtin/packages/photos/package.py
  var/spack/repos/builtin/packages/pythia8/package.py
  var/spack/repos/builtin/packages/tauola/package.py
  var/spack/repos/builtin/packages/whizard/package.py
Labels: new-package

#17206 lua: Fix build
  var/spack/repos/builtin/packages/lua/package.py
Labels: update-package

#17125 caffe: Use MPI compiler when using HDF5 with MPI.
  var/spack/repos/builtin/packages/caffe/package.py
Labels: update-package

#17182 [hepmc3] gcc@9.3.0 patch for @3.1.2:3.2.1, conflicts for earlier @:3.1.1
  var/spack/repos/builtin/packages/hepmc3/ba38f14d8f56c16cc4105d98f6d4540c928c6150.patch
  var/spack/repos/builtin/packages/hepmc3/package.py
Labels: update-package

#17203 py-torchvision: add v0.6.1
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: new-version

#17202 OpenMPI: add v4.0.4
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: new-version

#17200 New package: py-gsd
  var/spack/repos/builtin/packages/py-gsd/package.py
Labels: new-package

#17138 dock: new package at 6.9
  var/spack/repos/builtin/packages/dock/package.py
Labels: new-package

#16610 Added unit tests to Github Actions
  .github/workflows/linux_unit_tests.yaml
  .travis.yml
  README.md
  share/spack/qa/setup.sh
Labels: actions, tests

#17204 fix compiler environment handling to reset environment after
  lib/spack/spack/compiler.py
  lib/spack/spack/test/compilers/basics.py
Labels: compilers, cray

#15295 features: terminate installs on ctrl-c and --fail-fast failures
  lib/spack/docs/packaging_guide.rst
  lib/spack/spack/cmd/install.py
  lib/spack/spack/installer.py
  lib/spack/spack/test/installer.py
  share/spack/spack-completion.bash
Labels: build, impact-high, radiuss

#17177 Enable mysql for macos
  var/spack/repos/builtin/packages/mysql/package.py
Labels: update-package

#14837 Module index should not be unconditionally overwritten
  lib/spack/spack/cmd/modules/__init__.py
  lib/spack/spack/modules/common.py
  lib/spack/spack/test/cmd/module.py
  lib/spack/spack/test/modules/tcl.py
Labels: modules, spack-chains

#17216 bugfix/tests: check rpath presence not equality
  lib/spack/spack/test/relocate.py
Labels: bugfix, tests

#17180 Quantum ESPRESSO crosscompile variant
  var/spack/repos/builtin/packages/quantum-espresso/package.py
Labels: update-package

#17220 perl: Add 5.30.3 and 5.32.0
  var/spack/repos/builtin/packages/perl/package.py
Labels: new-version
