Repository spack/spack, pull requests merged in 2020-07, with the labels that each got.

#17306 hbase: refine url , java and version
  var/spack/repos/builtin/packages/hbase/package.py
Labels: fetching, java, new-version

#17320 use apple-clang for macos nightly tests
  .github/workflows/macos_python.yml
Labels: macOS, tests

#17321 Documentation update for container example
  lib/spack/docs/containers.rst
Labels: docker, documentation

#17323 Fix hashlib function capitalization
  lib/spack/spack/util/crypto.py
Labels: hashes, tests

#17328 Moved flake8, shell and documentation tests to Github Action
  .github/workflows/linux_unit_tests.yaml
  .travis.yml
  lib/spack/spack/test/llnl/util/lock.py
  share/spack/qa/run-shell-tests
  share/spack/qa/run-unit-tests
  share/spack/qa/setup.sh
Labels: tests, travis

#17337 amrex: New version 20.07
  var/spack/repos/builtin/packages/amrex/package.py
Labels: update-package

#17332 py-shroud: Add 0.12.1
  var/spack/repos/builtin/packages/py-shroud/package.py
Labels: new-version

#17318 Add Fortran Language Server package
  var/spack/repos/builtin/packages/py-fortran-language-server/package.py
Labels: new-package

#17265 examl +
  var/spack/repos/builtin/packages/examl/package.py
Labels: new-package

#17288 openmpi: added singularity variant
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: mpi, new-variant

#17324 py-tensorflow: Fix for tensorflow issue #40688
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: dependencies

#17362 quicksilver: add v1.0
  var/spack/repos/builtin/packages/quicksilver/package.py
Labels: new-version

#17361 Two new versions of Random123.
  var/spack/repos/builtin/packages/random123/package.py
Labels: new-version, update-package

#17350 Package request: HPCG
  var/spack/repos/builtin/packages/hpcg/package.py
Labels: new-package

#17355 fix url link name
  lib/spack/docs/pipelines.rst
Labels: documentation

#15191 dtfbplus: New package.
  var/spack/repos/builtin/packages/dftbplus/package.py
  var/spack/repos/builtin/packages/dftd3-lib/package.py
Labels: new-package

#17378 Fix Intel MPI super invocation, again
  var/spack/repos/builtin/packages/intel-mpi/package.py
Labels: bugfix

#17382 intel-mpi: fix for wrong structure name instroduced in ea8a0be4
  var/spack/repos/builtin/packages/intel-mpi/package.py
Labels: bugfix, intel, mpi

#17380 SciPy: add v1.5.1
  var/spack/repos/builtin/packages/py-scipy/package.py
Labels: new-version

#17379 update aspect to 2.2.0
  var/spack/repos/builtin/packages/aspect/package.py
Labels: new-variant, new-version

#17376 openblas: fix fj compiler support in 0.3.10
  var/spack/repos/builtin/packages/openblas/openblas_fujitsu2.patch
  var/spack/repos/builtin/packages/openblas/package.py
Labels: blas-lapack-scalapack, fujitsu, patch

#17374 package Amber: amber tools 20
  var/spack/repos/builtin/packages/amber/package.py
Labels: new-version

#17369 amdblis bump to 2.2.
  var/spack/repos/builtin/packages/amdblis/package.py
Labels: new-version

#17381 protobuf: add new versions
  var/spack/repos/builtin/packages/protobuf/package.py
Labels: new-version

#17367 New version of LHAPDF: 6.3.0
  var/spack/repos/builtin/packages/lhapdf/package.py
Labels: new-version

#17357 [opencascade] depends_on freetype, tcl, tk, gl
  var/spack/repos/builtin/packages/opencascade/package.py
Labels: dependencies, new-version

#17347 brpc: fix depends issue
  var/spack/repos/builtin/packages/brpc/package.py
Labels: dependencies

#17341 acl: fix depends error
  var/spack/repos/builtin/packages/acl/package.py
Labels: dependencies

#17384 GMT: add v6.1.0
  var/spack/repos/builtin/packages/gmt/package.py
  var/spack/repos/builtin/packages/gmt/regexp.patch
Labels: new-version, patch

#17375 psi4: Simple fix to filter_compilers()
  var/spack/repos/builtin/packages/psi4/package.py
Labels: bugfix

#17387 esmf: set ESMF_COMM=intelmpi also for ^intel-mpi
  var/spack/repos/builtin/packages/esmf/package.py
Labels: update-package

#17372 Add Rivet and YODA
  var/spack/repos/builtin/packages/rivet/package.py
  var/spack/repos/builtin/packages/rivet/rivet-1.8.2.patch
  var/spack/repos/builtin/packages/rivet/rivet-1.9.0.patch
  var/spack/repos/builtin/packages/rivet/rivet-2.2.0.patch
  var/spack/repos/builtin/packages/rivet/rivet-2.2.1.patch
  var/spack/repos/builtin/packages/rivet/rivet-2.4.0.patch
  var/spack/repos/builtin/packages/rivet/rivet-2.4.2.patch
  var/spack/repos/builtin/packages/rivet/rivet-2.4.3.patch
  var/spack/repos/builtin/packages/rivet/rivet-2.5.1.patch
  var/spack/repos/builtin/packages/rivet/rivet-2.5.2.patch
  var/spack/repos/builtin/packages/rivet/rivet-2.5.3.patch
  var/spack/repos/builtin/packages/rivet/rivet-2.5.4.patch
  var/spack/repos/builtin/packages/rivet/rivet-2.6.0.patch
  var/spack/repos/builtin/packages/rivet/rivet-2.6.1.patch
  var/spack/repos/builtin/packages/rivet/rivet-2.6.2.patch
  var/spack/repos/builtin/packages/rivet/rivet-2.7.0.patch
  var/spack/repos/builtin/packages/rivet/rivet-3.0.0.patch
  var/spack/repos/builtin/packages/rivet/rivet-3.0.1.patch
  var/spack/repos/builtin/packages/rivet/rivet-3.1.0.patch
  var/spack/repos/builtin/packages/rivet/rivet-3.1.1.patch
  var/spack/repos/builtin/packages/yoda/package.py
  var/spack/repos/builtin/packages/yoda/yoda-1.5.5.patch
  var/spack/repos/builtin/packages/yoda/yoda-1.5.9.patch
  var/spack/repos/builtin/packages/yoda/yoda-1.6.1.patch
  var/spack/repos/builtin/packages/yoda/yoda-1.6.2.patch
  var/spack/repos/builtin/packages/yoda/yoda-1.6.3.patch
  var/spack/repos/builtin/packages/yoda/yoda-1.6.4.patch
  var/spack/repos/builtin/packages/yoda/yoda-1.6.5.patch
  var/spack/repos/builtin/packages/yoda/yoda-1.6.6.patch
  var/spack/repos/builtin/packages/yoda/yoda-1.6.7.patch
Labels: new-package

#17356 autotools: Fix config.guess detection, take three
  lib/spack/spack/build_systems/autotools.py
Labels: autotools

#9024 Fix gcc + binutils compilation.
  var/spack/repos/builtin/packages/gcc/package.py
Labels: gcc

#17340 package/gunrock: add cmake args optional deps
  var/spack/repos/builtin/packages/gunrock/package.py
Labels: new-variant, new-version, update-package

#17388 ncview: add version 2.1.8
  var/spack/repos/builtin/packages/ncview/package.py
Labels: new-version

#17389 nco: new versions (4.8.[0,1], 4.9.[0-3])
  var/spack/repos/builtin/packages/nco/package.py
Labels: new-version

#17398 New package - mumax
  var/spack/repos/builtin/packages/mumax/package.py
Labels: new-package

#17385 bliss: add spaces to __DATE__
  var/spack/repos/builtin/packages/bliss/package.py
Labels: update-package

#17383 abseil-cpp: add version 20200225.2
  var/spack/repos/builtin/packages/abseil-cpp/package.py
Labels: new-version

#17397 update snappy for 1.1.8
  var/spack/repos/builtin/packages/snappy/package.py
Labels: new-version

#17414 votca-tools: fix build with mkl
  var/spack/repos/builtin/packages/votca-tools/package.py
Labels: patch

#16513 Uninstall: tolerate failures when force=true
  lib/spack/spack/package.py
Labels: commands

#17402 releases: document `releases/latest` tag
  README.md
  lib/spack/docs/developer_guide.rst
Labels: documentation, releases

#17409 CudaPackage: maintainers are listed in the docstring
  lib/spack/spack/build_systems/cuda.py
Labels: cuda

#17416 GDAL: add v3.1.2
  var/spack/repos/builtin/packages/gdal/package.py
Labels: new-version

#17419 oneDNN: add v1.5.1
  var/spack/repos/builtin/packages/onednn/package.py
Labels: new-version

#17412 Fix YODA and Rivet recipes
  var/spack/repos/builtin/packages/rivet/package.py
  var/spack/repos/builtin/packages/yoda/package.py
Labels: bugfix

#17420 Tweak Travis sample
  lib/spack/docs/workflows.rst
Labels: documentation, travis

#17391 ncl: fix compilation errors with Intel compilers
  var/spack/repos/builtin/packages/ncl/package.py
Labels: bugfix, intel

#17424 typhon: Add --linkfortran for %fj
  var/spack/repos/builtin/packages/typhon/package.py
Labels: fujitsu

#17373 spack create: ask how many to download
  lib/spack/spack/cmd/checksum.py
  lib/spack/spack/cmd/create.py
  share/spack/spack-completion.bash
Labels: commands, user-experience

#17413 Ginkgo: new versions
  var/spack/repos/builtin/packages/ginkgo/CAS-HIP-NVCC-1.2.0.patch
  var/spack/repos/builtin/packages/ginkgo/package.py
Labels: new-variant, new-version

#17411 r-usethis: new version and dependencies
  var/spack/repos/builtin/packages/r-usethis/package.py
Labels: new-version

#17426 Add missing gsl.m4 file to Rivet
  var/spack/repos/builtin/packages/rivet/gsl.m4
Labels: bugfix

#15687 Buildcache: bindist test without invoking spack compiler wrappers.
  .travis.yml
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/test/bindist.py
  share/spack/qa/install_patchelf.sh
  var/spack/repos/builtin.mock/packages/corge/package.py
  var/spack/repos/builtin.mock/packages/garply/package.py
  var/spack/repos/builtin.mock/packages/patchelf/package.py
  var/spack/repos/builtin.mock/packages/quux/package.py
Labels: buildcache

#17425 new package: ligra
  var/spack/repos/builtin/packages/ligra/package.py
Labels: new-package

#17077 Add public spack mirror
  etc/spack/defaults/mirrors.yaml
Labels: mirrors

#17178 Smoke tests: Preliminary Umpire install tests
  var/spack/repos/builtin/packages/umpire/package.py
Labels: radiuss, smoke-tests

#17445 openslide: Add missing dependencies.
  var/spack/repos/builtin/packages/openslide/package.py
Labels: dependencies

#17444 ltrace: Disable "-Werror".
  var/spack/repos/builtin/packages/ltrace/package.py
Labels: update-package

#17455 Relocation of sbang needs to be done when the spack prefix changes even if the install tree has not changed.
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/relocate.py
Labels: bugfix

#17442 New Package: ChaNGa
  var/spack/repos/builtin/packages/changa/fix_configure_path.patch
  var/spack/repos/builtin/packages/changa/package.py
  var/spack/repos/builtin/packages/charmpp/package.py
Labels: new-package

#17446 New packages: looptools + vbfnlo
  var/spack/repos/builtin/packages/looptools/package.py
  var/spack/repos/builtin/packages/vbfnlo/package.py
Labels: new-package

#17433 grpc: add versions 1.28/1.29/1.30
  var/spack/repos/builtin/packages/grpc/package.py
Labels: new-version

#17434 py-pysam: add LDFLAGS to curl
  var/spack/repos/builtin/packages/py-pysam/package.py
Labels: update-package

#17436 Update the bbcp package
  var/spack/repos/builtin/packages/bbcp/package.py
Labels: dependencies

#17454 spack install: improve error message with no args
  lib/spack/spack/cmd/install.py
  lib/spack/spack/test/cmd/install.py
Labels: commands, error-messages

#17462 tensorflow-serving-client: add new version 2.2.0
  var/spack/repos/builtin/packages/tensorflow-serving-client/package.py
Labels: new-version

#17452 energyplus: add 9.3.0
  var/spack/repos/builtin/packages/energyplus/package.py
Labels: new-version

#17428 [glew] depends on libsm and libice
  var/spack/repos/builtin/packages/glew/package.py
Labels: dependencies

#17466 llvm-flang: Only build offload code if cuda enabled
  var/spack/repos/builtin/packages/llvm-flang/package.py
Labels: bugfix

#17456 lmbench: fix scripts path for aarch64
  var/spack/repos/builtin/packages/lmbench/fix_results_path_for_aarch64.patch
  var/spack/repos/builtin/packages/lmbench/package.py
Labels: patch

#17463 update docs on point releases
  lib/spack/docs/developer_guide.rst
Labels: documentation

#17477 Magics fix and update
  var/spack/repos/builtin/packages/magics/package.py
Labels: dependencies, new-version

#17472 Add new package: atf
  var/spack/repos/builtin/packages/atf/package.py
Labels: new-package

#14572 Add libglvnd packages/Add EGL support
  etc/spack/defaults/packages.yaml
  lib/spack/docs/getting_started.rst
  var/spack/repos/builtin/packages/libglvnd-fe/package.py
  var/spack/repos/builtin/packages/mesa/package.py
  var/spack/repos/builtin/packages/opengl/package.py
  var/spack/repos/builtin/packages/paraview/package.py
Labels: ecp, update-package

#17483 updated sha256 for openfoam-1806 patch
  var/spack/repos/builtin/packages/openfoam/package.py
Labels: checksum

#17458 Update gdk-pixbuf package.
  var/spack/repos/builtin/packages/gdk-pixbuf/package.py
Labels: new-variant, new-version, update-package

#17473 bwa: support for aarch64
  var/spack/repos/builtin/packages/bwa/bwa_for_aarch64.patch
  var/spack/repos/builtin/packages/bwa/package.py
Labels: arm, patch

#17499 update vtk-h package with new version and options
  var/spack/repos/builtin/packages/vtk-h/package.py
  var/spack/repos/builtin/packages/vtk-h/vtkm_lagrange_cuda_fix.patch
Labels: new-version

#17498 update vtk-m with pinned version for ascent and related packages
  var/spack/repos/builtin/packages/vtk-m/disable_flying_edges.patch
  var/spack/repos/builtin/packages/vtk-m/package.py
  var/spack/repos/builtin/packages/vtk-m/vtkmdiy_fpic.patch
Labels: new-version

#17497 add shared libs variant to umpire
  var/spack/repos/builtin/packages/umpire/package.py
Labels: new-variant, update-package

#17496 add shared libs variant to raja
  var/spack/repos/builtin/packages/raja/package.py
Labels: new-variant, update-package

#17427 Add `--no-same-owner` flag to tar decompressor
  lib/spack/spack/util/compression.py
Labels: utilities

#17423 CUDA 11.0.2
  lib/spack/spack/build_systems/cuda.py
  var/spack/repos/builtin/packages/cuda/package.py
Labels: cuda, new-version

#17435 smartdenovo: fix compile error for debian
  var/spack/repos/builtin/packages/smartdenovo/inline-limit.patch
  var/spack/repos/builtin/packages/smartdenovo/package.py
Labels: patch

#17534 Remove maintainer from Trilinos
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: maintainers

#17538 scons: support Fujitsu Fortran moddir option
  var/spack/repos/builtin/packages/scons/package.py
Labels: fujitsu, scons

#17524 py-lockfile: depends on py-pbr by setup.py
  var/spack/repos/builtin/packages/py-lockfile/package.py
Labels: dependencies

#17500 add babelflow pkg
  var/spack/repos/builtin/packages/babelflow/package.py
Labels: new-package

#17522 Add new package: minio
  var/spack/repos/builtin/packages/minio/package.py
Labels: new-package

#17521 gpdb: fix runtime issue
  var/spack/repos/builtin/packages/gpdb/package.py
Labels: dependencies, update-package

#17517 r-glue: new version
  var/spack/repos/builtin/packages/r-glue/package.py
Labels: new-version

#17511 [acts] remove dd4hep+xercesc dependency
  var/spack/repos/builtin/packages/acts/package.py
Labels: dependencies

#17485 [acts] Add 0.25.x series
  var/spack/repos/builtin/packages/acts/package.py
Labels: cuda, new-version

#17476 New Package: GrADS
  var/spack/repos/builtin/packages/grads/package.py
  var/spack/repos/builtin/packages/grads/udpt
  var/spack/repos/builtin/packages/shapelib/package.py
Labels: new-package

#17540 cantera: Add sundials+lapack
  var/spack/repos/builtin/packages/cantera/package.py
Labels: update-package

#17395 namd: bump to 2.14b2
  var/spack/repos/builtin/packages/namd/package.py
Labels: new-version

#17526 curl: Add libidn2 dependency
  var/spack/repos/builtin/packages/curl/package.py
Labels: dependencies

#17537 visit package update, add glu as a linux dep
  var/spack/repos/builtin/packages/visit/package.py
Labels: dependencies

#17539 Added Go 1.14.5 and 1.13.13.
  var/spack/repos/builtin/packages/go/package.py
Labels: go, new-version

#17533 Added fail-fast argument to containerize install.
  share/spack/templates/container/Dockerfile
  share/spack/templates/container/singularity.def
Labels: containers, docker

#17487 [root] fix cmake args for r variant
  var/spack/repos/builtin/packages/root/package.py
Labels: update-package

#17529 Adds new R package: GSODR
  var/spack/repos/builtin/packages/r-countrycode/package.py
  var/spack/repos/builtin/packages/r-data-table/package.py
  var/spack/repos/builtin/packages/r-gsodr/package.py
Labels: new-package, new-version

#17410 changes to py-torch recipe to enable rocm build
  var/spack/repos/builtin/packages/py-torch/package.py
  var/spack/repos/builtin/packages/py-torch/rocm.patch
Labels: AMD, new-variant, patch, update-package

#17461 Update icu4c package
  var/spack/repos/builtin/packages/icu4c/package.py
Labels: new-version, patch

#17494 add apcomp package
  var/spack/repos/builtin/packages/apcomp/package.py
Labels: new-package

#15187 vasp: New package.
  var/spack/repos/builtin/packages/vasp/package.py
Labels: new-package

#17523 storm: update url, version & runtime depends
  var/spack/repos/builtin/packages/storm/package.py
Labels: dependencies, new-version

#17541 Add new package: prometheus
  var/spack/repos/builtin/packages/prometheus/package.py
Labels: new-package

#17551 kallisto: Remove mpich dependency
  var/spack/repos/builtin/packages/kallisto/package.py
Labels: dependencies, mpi

#17520 New package: openloops
  var/spack/repos/builtin/packages/openloops/package.py
  var/spack/repos/builtin/packages/openloops/sft1.coll
  var/spack/repos/builtin/packages/openloops/sft2.coll
Labels: new-package

#17552 Add new package: hibench
  var/spack/repos/builtin/packages/hibench/package.py
Labels: new-package

#17555 Update for Build 7020 of nagfor compiler
  var/spack/repos/builtin/packages/nag/package.py
Labels: checksum

#17553 Make the largest layer of the docker image cacheable
  share/spack/docker/centos-6.dockerfile
  share/spack/docker/centos-7.dockerfile
  share/spack/docker/ubuntu-1604.dockerfile
  share/spack/docker/ubuntu-1804.dockerfile
Labels: docker

#17417 Abinit+wannier90 fix
  var/spack/repos/builtin/packages/abinit/package.py
  var/spack/repos/builtin/packages/wannier90/package.py
Labels: dependencies, new-variant, new-version, update-package

#17474 PySCF new package
  var/spack/repos/builtin/packages/py-pyscf/package.py
  var/spack/repos/builtin/packages/xcfun/package.py
Labels: new-package, new-version

#17558 Add new dependencies required in latest rsync
  var/spack/repos/builtin/packages/rsync/package.py
  var/spack/repos/builtin/packages/xxhash/package.py
Labels: dependencies, new-version

#17545 Fix security issue in CI
  lib/spack/spack/ci.py
  lib/spack/spack/test/cmd/ci.py
Labels: ci, security

#17562 icu4c: Mark new version as conflicting with old GCC
  var/spack/repos/builtin/packages/icu4c/package.py
Labels: build-error, conflicts, gcc, update-package

#17560 adept-utils: 1.0.1 does not build w/ boost 1.73.0 or newer
  var/spack/repos/builtin/packages/adept-utils/package.py
Labels: dependencies

#17561 Version 1.13.2 still needs the XL patch.
  var/spack/repos/builtin/packages/random123/package.py
  var/spack/repos/builtin/packages/random123/v1132-xl161.patch
Labels: patch, xl

#17470 Updates to maestrowf package
  var/spack/repos/builtin/packages/py-chainmap/package.py
  var/spack/repos/builtin/packages/py-maestrowf/package.py
Labels: new-package, new-version

#17495 add devil ray package
  var/spack/repos/builtin/packages/dray/package.py
Labels: new-package

#17519 subversion: url version and new versions
  var/spack/repos/builtin/packages/subversion/package.py
Labels: fetching, new-version, subversion

#17363 Features/spack test emacs
  var/spack/repos/builtin/packages/emacs/package.py
Labels: smoke-tests

#17564 py-matplotlib: add v3.3.0
  var/spack/repos/builtin/packages/py-matplotlib/package.py
Labels: new-version

#17536 Bugfix/install missing compiler from buildcache
  lib/spack/spack/installer.py
  lib/spack/spack/test/cmd/install.py
Labels: bugfix, buildcache

#17501 add babelflow-based parallel merge tree (pmt) package
  var/spack/repos/builtin/packages/parallelmergetree/package.py
Labels: new-package

#17329 Libint: new values for a variant
  var/spack/repos/builtin/packages/libint/package.py
Labels: update-package

#17408 r-devtools: new version and dependencies
  var/spack/repos/builtin/packages/r-devtools/package.py
Labels: new-version

#17139 Allow GNUPGHOME to come from env via SPACK_GNUPGHOME, if set
  lib/spack/spack/util/gpg.py
Labels: buildcache, cray

#17559 Add texlive 2020 version
  var/spack/repos/builtin/packages/harfbuzz/package.py
  var/spack/repos/builtin/packages/poppler/package.py
  var/spack/repos/builtin/packages/texlive/package.py
Labels: new-version

#17502 update ascent package with recent ver dep logic, and dray support
  var/spack/repos/builtin/packages/ascent/package.py
Labels: dependencies, new-variant

#17549 py-dp-gp-cluster: new package at 2019-09-22
  var/spack/repos/builtin/packages/py-dp-gp-cluster/package.py
Labels: new-package

#14608 Fix #12228: make environments and --config-scope work
  lib/spack/spack/main.py
Labels: bugfix, environments

#17576 Smoke tests: Switch install test warnings to debug for existing packages
  var/spack/repos/builtin/packages/libsigsegv/package.py
  var/spack/repos/builtin/packages/openmpi/package.py
  var/spack/repos/builtin/packages/umpire/package.py
Labels: smoke-tests

#17542 Fix MacOS build tests
  .github/workflows/install_spack.sh
  .github/workflows/macos_python.yml
Labels: ci, macOS, maintainers, tests

#17589 bugfix: ignore Apple's "gcc" by default
  lib/spack/spack/compilers/apple_clang.py
  lib/spack/spack/compilers/gcc.py
  lib/spack/spack/test/cmd/compiler.py
Labels: bugfix, compilers, macOS

#17578 Bugfix: Do not raise InstallError for ascent_ver
  var/spack/repos/builtin/packages/vtk-m/package.py
Labels: bugfix, build-error

#17611 qt: add missing libSM dependency
  var/spack/repos/builtin/packages/qt/package.py
Labels: dependencies

#17360 Smoke tests: hdf5 version checks and check_install
  var/spack/repos/builtin/packages/hdf5/package.py
Labels: radiuss, smoke-tests

#17590 bugfix: make compiler preferences slightly saner
  lib/spack/spack/compiler.py
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/test/cmd/compiler.py
  lib/spack/spack/test/util/executable.py
  lib/spack/spack/util/executable.py
Labels: bugfix, compilers

#17359 Smoke tests: cmake version checks
  var/spack/repos/builtin/packages/cmake/package.py
Labels: smoke-tests

#17639 New Package: py-boto
  var/spack/repos/builtin/packages/py-boto/package.py
Labels: new-package

#17650 Cython: add v0.29.21
  var/spack/repos/builtin/packages/py-cython/package.py
Labels: new-version

#17604 [M4] Add missing compiler flag on Cray Compiler
  var/spack/repos/builtin/packages/m4/package.py
Labels: cray

#17546 Reduce output verbosity with debug levels
  lib/spack/llnl/util/lock.py
  lib/spack/llnl/util/tty/__init__.py
  lib/spack/llnl/util/tty/log.py
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/installer.py
  lib/spack/spack/main.py
  lib/spack/spack/package.py
  lib/spack/spack/stage.py
  lib/spack/spack/test/cache_fetch.py
  lib/spack/spack/test/cmd/install.py
  lib/spack/spack/test/install.py
  lib/spack/spack/test/installer.py
  lib/spack/spack/test/llnl/util/tty/tty.py
  lib/spack/spack/test/s3_fetch.py
Labels: build, fetching, stage

#17675 nn-c package
  var/spack/repos/builtin/packages/nn-c/package.py
Labels: new-package
