Repository spack/spack, pull requests merged in 2020-10, with the labels that each got.

#18472 timemory: created +python_deps variant
  var/spack/repos/builtin/packages/timemory/package.py
Labels: new-variant

#19022 ROCm3.8 miopen-opencl
  var/spack/repos/builtin/packages/miopen-opencl/package.py
  var/spack/repos/builtin/packages/miopengemm/package.py
  var/spack/repos/builtin/packages/rocm-opencl/package.py
Labels: AMD, new-version

#19093 FAODEL: fix CMake failures on NERSC Cori in faodel@1.1906.1
  var/spack/repos/builtin/packages/faodel/package.py
  var/spack/repos/builtin/packages/faodel/ugni-target-redef-b67e856.patch
Labels: e4s, ecp

#18670 Buildcache: Need to check the binary is not a Mach-o binary in a linux package or an ELF binary in a macOS package.
  lib/spack/spack/binary_distribution.py
Labels: binary-packages, buildcache, e4s, ecp

#19107 amrex: new version 20.10
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version

#19106 Version 20.9.20 of PLASMA
  var/spack/repos/builtin/packages/plasma/package.py
Labels: new-version, xSDK

#19061 Fixes for relocating buildcache binaries with relative rpaths:
  lib/spack/spack/relocate.py
Labels: binary-packages, buildcache, e4s, ecp

#19053 DiHydrogen: add new versions
  var/spack/repos/builtin/packages/dihydrogen/package.py
Labels: new-version

#19026 Add sirius@6.5.7
  var/spack/repos/builtin/packages/sirius/package.py
Labels: new-version

#19030 New Package: py-hepunits and py-particle
  var/spack/repos/builtin/packages/py-hepunits/package.py
  var/spack/repos/builtin/packages/py-particle/package.py
Labels: new-package

#19027 Bump rocblas to 3.8.0
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocm-smi/package.py
Labels: AMD, new-version

#19130 oneDNN: add new versions
  var/spack/repos/builtin/packages/onednn/package.py
Labels: new-version

#19118 AMD ROCm 3.8.0 - rdc
  var/spack/repos/builtin/packages/rdc/package.py
Labels: AMD

#19114 p7zip: fix build on macOS
  var/spack/repos/builtin/packages/p7zip/package.py
Labels: bugfix, macOS, makefile, update-package

#19105 new versions: hypre@2.20.0 petsc@3.14.0 [and 3.13.6,3.13.5]
  var/spack/repos/builtin/packages/hypre/package.py
  var/spack/repos/builtin/packages/petsc/package.py
Labels: WIP, new-version, xSDK

#19055 libceed 0.7 and occa 1.1.0
  var/spack/repos/builtin/packages/libceed/package.py
  var/spack/repos/builtin/packages/occa/package.py
Labels: new-variant, new-version

#19044 Trilinos: restrict SuperLU-dist version
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: build-error, update-package

#18711 Add new package: WPS
  var/spack/repos/builtin/packages/wps/package.py
  var/spack/repos/builtin/packages/wps/patches/4.2/arch.Config.pl.patch
  var/spack/repos/builtin/packages/wps/patches/4.2/arch.configure.defaults.patch
  var/spack/repos/builtin/packages/wps/patches/4.2/configure.patch
  var/spack/repos/builtin/packages/wps/patches/4.2/preamble.patch
  var/spack/repos/builtin/packages/wrf/package.py
Labels: new-package

#19014 package/qgis: add new versions
  var/spack/repos/builtin/packages/qgis/package.py
Labels: new-version

#19017 py-vermin: add latest version
  var/spack/repos/builtin/packages/py-vermin/package.py
Labels: new-version

#19136 unrar: add new version, fix macOS build
  var/spack/repos/builtin/packages/unrar/package.py
Labels: build-error, macOS, new-version

#19005 py-py-spy: add new package
  var/spack/repos/builtin/packages/py-py-spy/package.py
Labels: new-package

#19002 py-nvidia-ml-py3: add new package
  var/spack/repos/builtin/packages/py-nvidia-ml-py3/package.py
Labels: new-package

#19001 py-nvidia-ml-py: add new package
  var/spack/repos/builtin/packages/py-nvidia-ml-py/package.py
Labels: new-package

#19000 py-hiredis: add new package
  var/spack/repos/builtin/packages/py-hiredis/package.py
Labels: new-package

#18998 py-google: add new package
  var/spack/repos/builtin/packages/py-google/package.py
Labels: new-package

#18997 py-colorful: add new package
  var/spack/repos/builtin/packages/py-colorful/package.py
Labels: new-package

#18995 py-grpcio: add new version
  var/spack/repos/builtin/packages/c-ares/package.py
  var/spack/repos/builtin/packages/py-grpcio/package.py
Labels: new-version

#18993 py-msgpack: add new version
  var/spack/repos/builtin/packages/py-msgpack/package.py
Labels: new-version

#18945 TensorFlow: add new versions
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: new-version

#19143 Fix for py-cffi sha256sum issue
  var/spack/repos/builtin/packages/py-cffi/package.py
Labels: checksum, e4s, ecp

#19148 py-immutables: add new package
  var/spack/repos/builtin/packages/py-immutables/package.py
Labels: new-package

#19149 py-contextvars: add new package
  var/spack/repos/builtin/packages/py-contextvars/package.py
Labels: new-package

#18996 py-aioredis: add new package
  var/spack/repos/builtin/packages/py-aioredis/package.py
Labels: new-package

#18999 py-gpustat: add new package
  var/spack/repos/builtin/packages/py-gpustat/package.py
Labels: new-package

#19003 py-opencensus-context: add new package
  var/spack/repos/builtin/packages/py-opencensus-context/package.py
Labels: new-package

#19004 py-opencensus: add new package
  var/spack/repos/builtin/packages/py-opencensus/package.py
Labels: new-package

#19006 py-ray: add new package
  var/spack/repos/builtin/packages/py-ray/package.py
Labels: new-package

#18977 py-horovod: add new version
  var/spack/repos/builtin/packages/py-horovod/package.py
Labels: cmake, cuda, new-variant, new-version

#18991 bazel: add latest version
  var/spack/repos/builtin/packages/bazel/package.py
Labels: bazel, new-version

#18970 ftgl: Improve shared library building on macOS
  var/spack/repos/builtin/packages/ftgl/package.py
Labels: cmake, macOS, update-package

#18745 Closes #16303: Julia build fails with "ERROR: Invalid CPU name skylake_avx512."
  var/spack/repos/builtin/packages/julia/package.py
Labels: new-version, update-package

#19037 bump up rocm-debug-agent to ROCm 3.8.0
  var/spack/repos/builtin/packages/rocm-debug-agent/package.py
Labels: AMD, new-version

#19034 AMD ROCm - aomp 3.7.0/3.8.0 and rccl 3.8.0 update
  var/spack/repos/builtin/packages/aomp/0001-Add-amdgcn-to-devicelibs-bitcode-names-3.8.patch
  var/spack/repos/builtin/packages/aomp/0001-Add-amdgcn-to-devicelibs-bitcode-names.patch
  var/spack/repos/builtin/packages/aomp/package.py
  var/spack/repos/builtin/packages/rccl/package.py
Labels: AMD, new-version

#19154 Julia: Add 1.5.2
  var/spack/repos/builtin/packages/julia/package.py
Labels: new-version

#19151 add gdrcopy 2.1
  var/spack/repos/builtin/packages/gdrcopy/package.py
Labels: new-version

#19138 New package: Taskflow
  var/spack/repos/builtin/packages/taskflow/package.py
Labels: new-package

#19116 Extend patch for XL to also support XL+cuda.
  var/spack/repos/builtin/packages/random123/ibmxl.patch
Labels: patch, update-package

#19160 New package FastTransforms
  var/spack/repos/builtin/packages/fasttransforms/package.py
Labels: new-package

#19159 Improve VisIt info message
  var/spack/repos/builtin/packages/visit/package.py
Labels: user-experience

#19152 py-pandas: add new version
  var/spack/repos/builtin/packages/py-pandas/package.py
Labels: new-version

#19127 SZ: add variant for profiling statistics
  var/spack/repos/builtin/packages/sz/package.py
Labels: new-variant

#17596 package cuda: fix for chmod error
  var/spack/repos/builtin/packages/cuda/package.py
Labels: cuda

#19208 gromacs: add v2020.4
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: new-version

#19215 sz: fix fetch url for SZ for older releases
  var/spack/repos/builtin/packages/sz/package.py
Labels: e4s, ecp

#19123 sollve: build on aarch64
  var/spack/repos/builtin/packages/sollve/disable_unused_lock.patch
  var/spack/repos/builtin/packages/sollve/package.py
Labels: patch

#19142 AMD ROCm rocm-gdb update with its dependency package - babeltrace
  var/spack/repos/builtin/packages/babeltrace/package.py
  var/spack/repos/builtin/packages/rocm-gdb/package.py
Labels: AMD, dependencies, new-package

#19086 AMD ROCm 3.8.0 - roctracer-dev
  var/spack/repos/builtin/packages/py-cppheaderparser/package.py
  var/spack/repos/builtin/packages/roctracer-dev/package.py
Labels: AMD, new-package, new-version

#19210 macOS 11 version check for Perl
  var/spack/repos/builtin/packages/perl/macos-11-version-check.patch
  var/spack/repos/builtin/packages/perl/package.py
Labels: macOS, patch, perl

#18498 fujitsu-ssl2: Add new package
  var/spack/repos/builtin/packages/fujitsu-ssl2/package.py
Labels: blas-lapack-scalapack, new-package

#19156 Update py-fortran-language-server
  var/spack/repos/builtin/packages/py-fortran-language-server/package.py
Labels: new-version

#19069 Update py-merlin
  var/spack/repos/builtin/packages/py-merlin/package.py
Labels: new-version

#18961 Add new package: py-walinuxagent
  var/spack/repos/builtin/packages/py-walinuxagent/package.py
Labels: new-package

#18960 Add new package: py-azote
  var/spack/repos/builtin/packages/py-azote/package.py
Labels: new-package

#18810 Add new package: py-bmap-tools
  var/spack/repos/builtin/packages/py-bmap-tools/package.py
Labels: new-package

#18618 Pymol 2.4 package update
  var/spack/repos/builtin/packages/py-pymol/package.py
Labels: new-version, update-package

#18666 py-charm4py: new package
  var/spack/repos/builtin/packages/py-charm4py/package.py
  var/spack/repos/builtin/packages/py-charm4py/py-charm4py.makefile.patch
Labels: new-package

#19091 Patch cereal
  var/spack/repos/builtin/packages/cereal/LockGuard-default-ctor.patch
  var/spack/repos/builtin/packages/cereal/package.py
Labels: patch

#19090 Add new package: bitsery
  var/spack/repos/builtin/packages/bitsery/package.py
Labels: new-package

#19244 Use https for links
  CHANGELOG.md
  README.md
  lib/spack/docs/_gh_pages_redirect/index.html
  lib/spack/docs/packaging_guide.rst
Labels: documentation

#17917 Fixed the dependency of newer OpenMPI on current hwloc.
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: mpi, update-package

#19137 Reorganise deal.II package and add some new settings
  var/spack/repos/builtin/packages/dealii/package.py
Labels: new-variant, refactoring

#19251 make py-pillow the default for pil
  etc/spack/defaults/packages.yaml
Labels: virtual-dependencies

#19153 py-scikit-image: bump version
  var/spack/repos/builtin/packages/py-scikit-image/package.py
Labels: new-version

#18904 Add new package: powertop
  var/spack/repos/builtin/packages/powertop/package.py
Labels: new-package

#19245 Add MAGMA v2.5.4 release
  var/spack/repos/builtin/packages/magma/package.py
Labels: new-version

#19243 asdcplib: Added PATH of openssl installed by spack to configure_args.
  var/spack/repos/builtin/packages/asdcplib/package.py
Labels: dependencies

#19240 Rust 1.47.0
  var/spack/repos/builtin/packages/rust/package.py
Labels: new-version, rust

#19237 parallel-netcdf: added burst buffer variant
  var/spack/repos/builtin/packages/parallel-netcdf/package.py
Labels: new-variant

#19231 [whizard] Add compiler constraints and minimal ocaml version
  var/spack/repos/builtin/packages/whizard/package.py
Labels: conflicts, dependencies

#19230 [acts] Add version 1.1
  var/spack/repos/builtin/packages/acts/package.py
Labels: new-version

#19229 eigen: add a patch for 3.3.8
  var/spack/repos/builtin/packages/eigen/package.py
Labels: patch

#19228 Add cuSZ
  var/spack/repos/builtin/packages/cusz/package.py
Labels: new-package

#19223 Update Metall package to v0.4 and v0.5
  var/spack/repos/builtin/packages/metall/package.py
Labels: new-version

#19222 meme: newer tarballs use a hyphen
  var/spack/repos/builtin/packages/meme/package.py
Labels: new-version

#19096 superlu-mt: Add openmp flag to link command when using OpenMP
  var/spack/repos/builtin/packages/superlu-mt/package.py
Labels: update-package

#19089 fl: Fix for aarch64
  var/spack/repos/builtin/packages/fl/package.py
Labels: arm

#19056 [dd4hep] update version v1.14.0
  var/spack/repos/builtin/packages/dd4hep/package.py
Labels: new-variant, new-version

#19045 julea: Fix dependency typo and add new optional rocksdb dependency
  var/spack/repos/builtin/packages/julea/package.py
Labels: new-variant, update-package

#19019 jellyfish@1.1.11: Change the type of the array dna_codes to the signed type.
  var/spack/repos/builtin/packages/jellyfish/dna_codes.patch
  var/spack/repos/builtin/packages/jellyfish/package.py
Labels: patch

#18972 parallel-netcdf: patch for PGI on Cray
  var/spack/repos/builtin/packages/parallel-netcdf/cray_pgi_libtool_master.patch
  var/spack/repos/builtin/packages/parallel-netcdf/cray_pgi_libtool_release.patch
  var/spack/repos/builtin/packages/parallel-netcdf/package.py
Labels: cray, patch, pgi

#18969 poplpler: fix patch for 0.90.1.
  var/spack/repos/builtin/packages/poppler/package.py
  var/spack/repos/builtin/packages/poppler/poppler_page_splash.0.90.1.patch
Labels: patch

#18967 pandoc: add variant for texlive
  var/spack/repos/builtin/packages/pandoc/package.py
Labels: update-package

#18964 Add new package: vtable-dumper
  var/spack/repos/builtin/packages/vtable-dumper/package.py
Labels: new-package

#18962 Add new package: universal-ctags
  var/spack/repos/builtin/packages/universal-ctags/package.py
Labels: new-package

#18957 Add new package: backupninja
  var/spack/repos/builtin/packages/backupninja/package.py
Labels: new-package

#18955 Add new package: authd
  var/spack/repos/builtin/packages/authd/package.py
Labels: new-package

#18954 Add new package: libnftnl
  var/spack/repos/builtin/packages/libnftnl/package.py
Labels: new-package

#18953 Add new package: lsscsi
  var/spack/repos/builtin/packages/lsscsi/package.py
Labels: new-package

#18952 Add new package: less
  var/spack/repos/builtin/packages/less/package.py
Labels: new-package

#18947 Provide draco-7_8_0.
  var/spack/repos/builtin/packages/draco/d760-cray.patch
  var/spack/repos/builtin/packages/draco/package.py
  var/spack/repos/builtin/packages/draco/smpi.patch
Labels: new-version, patch, update-package

#18884 audacious: add link type build to glib.
  var/spack/repos/builtin/packages/audacious/package.py
Labels: dependencies

#18855 cpio: Fix issue compiling with newer intel compilers (#18854)
  var/spack/repos/builtin/packages/cpio/package.py
Labels: intel

#18842 Ginkgo: new version and HIP support
  var/spack/repos/builtin/packages/ginkgo/package.py
Labels: new-variant, new-version

#18827 Add new package: xdelta
  var/spack/repos/builtin/packages/xdelta/package.py
Labels: new-package

#18806 Add new package: pinfo
  var/spack/repos/builtin/packages/pinfo/package.py
Labels: new-package

#18774 Add new package: libgssglue
  var/spack/repos/builtin/packages/libgssglue/package.py
Labels: new-package

#18784 Update XCFun with stable releases
  var/spack/repos/builtin/packages/xcfun/package.py
Labels: new-version

#19239 Update Datatransferkit
  var/spack/repos/builtin/packages/datatransferkit/package.py
Labels: new-version

#19259 Fix failing mpich build tests
  .github/workflows/linux_build_tests.yaml
Labels: actions, build-error, hotfix, mpi, tests

#19253 deal.II: Further modernisation and improvements
  var/spack/repos/builtin/packages/dealii/package.py
Labels: update-package

#18724 mpifileutils: Add patch for aarch64.
  var/spack/repos/builtin/packages/mpifileutils/nosys_getdents.patch
  var/spack/repos/builtin/packages/mpifileutils/package.py
Labels: patch

#19262 CUDA: update maintainers
  lib/spack/spack/build_systems/cuda.py
  var/spack/repos/builtin/packages/cuda/package.py
Labels: cuda, maintainers

#19261 Add testing for Python 3.9
  .github/workflows/linux_build_tests.yaml
  .github/workflows/linux_unit_tests.yaml
  .github/workflows/macos_python.yml
  .github/workflows/macos_unit_tests.yaml
  .github/workflows/style_and_docs.yaml
  lib/spack/docs/getting_started.rst
Labels: actions, python, tests

#19260 Python: add v3.9.0
  var/spack/repos/builtin/packages/python/package.py
Labels: new-version, python

#19020 itstool :Installation is not possible due to lack of itstool dependencies.
  var/spack/repos/builtin/packages/itstool/package.py
Labels: dependencies

#19254 Added CUDAHOSTCXX variable needed to compile with cuda and mpi.
  var/spack/repos/builtin/packages/dealii/package.py
Labels: build-environment, compilers, cuda

#18981 Fix r-devtools package
  var/spack/repos/builtin/packages/r-devtools/package.py
  var/spack/repos/builtin/packages/r-gh/package.py
  var/spack/repos/builtin/packages/r-usethis/package.py
Labels: dependencies, new-version

#18920 Add new package: asciidoc-py3
  var/spack/repos/builtin/packages/asciidoc-py3/package.py
Labels: new-package

#19264 precice: Add version 2.1.1
  var/spack/repos/builtin/packages/precice/package.py
Labels: new-version

#18983 Change how CUDA variants are handled for gpu-burn
  var/spack/repos/builtin/packages/gpu-burn/package.py
Labels: update-package

#18984 Change how CUDA variants are handled for libbeagle
  var/spack/repos/builtin/packages/libbeagle/package.py
Labels: update-package

#18985 Add new package: cmark
  var/spack/repos/builtin/packages/cmark/package.py
Labels: new-package

#18986 Add new package: console-bridge
  var/spack/repos/builtin/packages/console-bridge/package.py
Labels: new-package

#19217 autotools.py: Removed some options from libtool only for Fujitsu.
  lib/spack/spack/build_systems/autotools.py
Labels: autotools, fujitsu

#18989 Add new package: cc65
  var/spack/repos/builtin/packages/cc65/package.py
Labels: new-package

#18988 Add new package: conserver
  var/spack/repos/builtin/packages/conserver/package.py
Labels: new-package

#19007 Add new package: ecdsautils
  var/spack/repos/builtin/packages/ecdsautils/package.py
Labels: new-package

#19008 Add new package: glib-networking
  var/spack/repos/builtin/packages/glib-networking/package.py
Labels: new-package

#19009 Add new package: openwsman
  var/spack/repos/builtin/packages/openwsman/package.py
Labels: new-package

#19011 Add new package: rng-tools
  var/spack/repos/builtin/packages/rng-tools/package.py
Labels: new-package

#19025 comgr is linked to by libamdhip64, so it should be a link dep
  var/spack/repos/builtin/packages/hip/package.py
Labels: dependencies

#19258 autotools: refactor search paths for aclocal in its own method
  lib/spack/spack/build_systems/autotools.py
  var/spack/repos/builtin/packages/audacious/package.py
Labels: autotools

#19012 Add new package: libnetfilter-conntrack
  var/spack/repos/builtin/packages/libnetfilter-conntrack/package.py
Labels: new-package

#19013 Add new package: evemu
  var/spack/repos/builtin/packages/evemu/package.py
Labels: new-package

#19272 singularity: Add version 3.6.3
  var/spack/repos/builtin/packages/singularity/package.py
Labels: new-version

#19249 Added slurm version 20-02-4-1 and support to build slurmrestd
  var/spack/repos/builtin/packages/libjwt/package.py
  var/spack/repos/builtin/packages/slurm/package.py
Labels: new-package, new-variant, new-version

#19063 Update py-redis
  var/spack/repos/builtin/packages/py-redis/package.py
Labels: new-version

#19275 openfoam: update for version 20.06 patch 2020-10-12
  var/spack/repos/builtin/packages/openfoam/package.py
Labels: new-version

#19273 m4: Fix issue compiling with new intel compilers (#18894)
  var/spack/repos/builtin/packages/m4/package.py
Labels: update-package

#19267 gcc: Restrict permitted cuda versions
  var/spack/repos/builtin/packages/gcc/package.py
Labels: cuda, gcc

#19218 octave: Specify fortran calling-convention for Fujitsu compiler.
  var/spack/repos/builtin/packages/octave/package.py
Labels: fujitsu

#18523 Python: add both lib and lib64 to PYTHONPATH
  var/spack/repos/builtin/packages/python/package.py
Labels: python

#19283 Add STRUMPACK v5.0.0
  var/spack/repos/builtin/packages/strumpack/package.py
Labels: new-version

#19042 ROCm3.8 mivisionx recipe
  var/spack/repos/builtin/packages/mivisionx/package.py
Labels: AMD, new-package

#18994 zip: add patches
  var/spack/repos/builtin/packages/zip/01-typo-it-is-transferring-not-transfering.patch
  var/spack/repos/builtin/packages/zip/02-typo-it-is-privileges-not-priviliges.patch
  var/spack/repos/builtin/packages/zip/03-manpages-in-section-1-not-in-section-1l.patch
  var/spack/repos/builtin/packages/zip/04-do-not-set-unwanted-cflags.patch
  var/spack/repos/builtin/packages/zip/05-typo-it-is-preceding-not-preceeding.patch
  var/spack/repos/builtin/packages/zip/06-stack-markings-to-avoid-executable-stack.patch
  var/spack/repos/builtin/packages/zip/07-fclose-in-file-not-fclose-x.patch
  var/spack/repos/builtin/packages/zip/08-hardening-build-fix-1.patch
  var/spack/repos/builtin/packages/zip/09-hardening-build-fix-2.patch
  var/spack/repos/builtin/packages/zip/10-remove-build-date.patch
  var/spack/repos/builtin/packages/zip/package.py
Labels: patch

#18736 Add new package: byteman
  var/spack/repos/builtin/packages/byteman/package.py
Labels: new-package

#19010 Add new package: py-adb-enhanced
  var/spack/repos/builtin/packages/py-adb-enhanced/package.py
Labels: new-package

#18829 Add new package: xfsprogs
  var/spack/repos/builtin/packages/xfsprogs/package.py
Labels: new-package

#18885 Add new package: py-eg
  var/spack/repos/builtin/packages/py-eg/package.py
Labels: new-package
