Repository spack/spack, pull requests merged in 2020-09, with the labels that each got.

#18332 OPENMPI: add 4.0.5
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: mpi, new-version

#18398 new package: wrf
  var/spack/repos/builtin/packages/wrf/package.py
  var/spack/repos/builtin/packages/wrf/patches/4.0/Makefile.patch
  var/spack/repos/builtin/packages/wrf/patches/4.0/arch.Config.pl.patch
  var/spack/repos/builtin/packages/wrf/patches/4.0/arch.conf_tokens.patch
  var/spack/repos/builtin/packages/wrf/patches/4.0/arch.configure.defaults.patch
  var/spack/repos/builtin/packages/wrf/patches/4.0/arch.postamble.patch
  var/spack/repos/builtin/packages/wrf/patches/4.0/configure.patch
  var/spack/repos/builtin/packages/wrf/patches/4.0/external.io_netcdf.makefile.patch
  var/spack/repos/builtin/packages/wrf/patches/4.2/Makefile.patch
  var/spack/repos/builtin/packages/wrf/patches/4.2/arch.Config.pl.patch
  var/spack/repos/builtin/packages/wrf/patches/4.2/arch.conf_tokens.patch
  var/spack/repos/builtin/packages/wrf/patches/4.2/arch.configure.defaults.patch
  var/spack/repos/builtin/packages/wrf/patches/4.2/arch.postamble.patch
  var/spack/repos/builtin/packages/wrf/patches/4.2/configure.patch
  var/spack/repos/builtin/packages/wrf/patches/4.2/external.io_netcdf.makefile.patch
  var/spack/repos/builtin/packages/wrf/patches/4.2/var.gen_be.Makefile.patch
Labels: new-package

#18418 Add new package: libpam
  var/spack/repos/builtin/packages/libpam/package.py
Labels: new-package

#17985 openfoam: delete test print and split long lines.
  var/spack/repos/builtin/packages/openfoam/package.py
Labels: update-package

#18227 elfutils: Add support for debuginfod
  var/spack/repos/builtin/packages/elfutils/package.py
Labels: new-variant

#18425 environment-modules: add version 4.5.3
  var/spack/repos/builtin/packages/environment-modules/package.py
Labels: new-version

#18385 new package: py-tpot
  var/spack/repos/builtin/packages/py-tpot/package.py
Labels: new-package

#18254 allow 4.08 and 4.09 to build with gcc10
  var/spack/repos/builtin/packages/ocaml/fix-duplicate-defs.patch
  var/spack/repos/builtin/packages/ocaml/package.py
Labels: update-package

#18435 Add new package: fuse-overlayfs
  var/spack/repos/builtin/packages/fuse-overlayfs/package.py
Labels: new-package

#18405 new package: orbit2
  var/spack/repos/builtin/packages/orbit2/package.py
Labels: new-package

#18323 Added HPC Challenge Benchmark
  var/spack/repos/builtin/packages/hpcc/package.py
Labels: new-package

#18392 Add new package: efivar
  var/spack/repos/builtin/packages/efivar/package.py
Labels: new-package

#18265 Update dependencies: py-torch-geometric
  var/spack/repos/builtin/packages/py-torch-geometric/package.py
Labels: dependencies

#18447 Jali: Fix bugs in CMake section
  var/spack/repos/builtin/packages/jali/package.py
Labels: update-package

#18451 test/relocate.py: skip tests involving patchelf on macOS
  lib/spack/spack/test/relocate.py
Labels: binary-packages, macOS, tests

#17516 ccs-qcd: Change compile option for aarch64
  var/spack/repos/builtin/packages/ccs-qcd/package.py
Labels: arm, update-package

#18240 Deprecate spack setup
  lib/spack/docs/config_yaml.rst
  lib/spack/docs/known_issues.rst
  lib/spack/docs/packaging_guide.rst
  lib/spack/docs/workflows.rst
  lib/spack/spack/cmd/setup.py
  lib/spack/spack/installer.py
Labels: commands

#18453 ADIOS: Fix no-MPI Build
  var/spack/repos/builtin/packages/adios/package.py
Labels: build-error, mpi, patch, regression

#18124 use the 'fork' start method for multiprocessing, even on macOS with Python>=3.8
  .github/workflows/macos_python.yml
  .github/workflows/macos_unit_tests.yaml
  .github/workflows/style_and_docs.yaml
  lib/spack/llnl/util/lang.py
  lib/spack/llnl/util/tty/log.py
  lib/spack/llnl/util/tty/pty.py
  lib/spack/spack/build_environment.py
  lib/spack/spack/test/database.py
  lib/spack/spack/test/llnl/util/lock.py
Labels: macOS, python3

#18456 New package: ForTrilinos
  var/spack/repos/builtin/packages/fortrilinos/package.py
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: new-package

#18462 scotch: update to 6.0.10 (released 31-AUG-2020)
  var/spack/repos/builtin/packages/scotch/package.py
Labels: new-version

#18459 Add gdb TUI variant
  var/spack/repos/builtin/packages/gdb/package.py
Labels: new-variant

#18458 r-boot: checksum mismatch @1.3-23
  var/spack/repos/builtin/packages/r-boot/package.py
Labels: checksum

#18448 Flibcpp: update version
  var/spack/repos/builtin/packages/flibcpp/package.py
Labels: update-package

#18434 Add new package: rasdaemon
  var/spack/repos/builtin/packages/rasdaemon/package.py
Labels: new-package

#18424 Update blaze package with new versions 3.6-3.8
  var/spack/repos/builtin/packages/blaze/package.py
Labels: new-version

#18386 new package: py-gitdb
  var/spack/repos/builtin/packages/py-gitdb/package.py
Labels: new-package

#18382 new package: py-python-fmask
  var/spack/repos/builtin/packages/py-python-fmask/package.py
Labels: new-package

#18464 Add HPX 1.5.0 release and update the homepage
  var/spack/repos/builtin/packages/hpx/package.py
Labels: new-version

#18431 ldak: new package at 5.1
  var/spack/repos/builtin/packages/ldak/package.py
Labels: new-package

#18445 Packages: headers should be lists
  var/spack/repos/builtin/packages/ffmpeg/package.py
  var/spack/repos/builtin/packages/gnutls/package.py
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: bugfix, headers

#18465 Aria2: Add version 1.35.0.
  var/spack/repos/builtin/packages/aria2/package.py
Labels: new-version

#18466 New patch release SLEPc 3.13.4
  var/spack/repos/builtin/packages/slepc/package.py
Labels: new-version

#18365 Document test dependency type
  lib/spack/docs/packaging_guide.rst
Labels: dependencies, documentation

#18252 python: switch to +uuid by default
  var/spack/repos/builtin/packages/python/package.py
Labels: defaults, python

#18454 spack test: no gpg sign
  lib/spack/spack/test/cmd/pkg.py
  lib/spack/spack/test/conftest.py
Labels: git, tests

#18181 PythonPackage: update documentation
  lib/spack/docs/build_systems/pythonpackage.rst
  lib/spack/spack/build_systems/python.py
Labels: build-systems, documentation, python

#18457 Mfem: Fix transitive hdf5 static libs
  var/spack/repos/builtin/packages/mfem/package.py
  var/spack/repos/builtin/packages/netcdf-c/package.py
Labels: libraries

#18199 Add new RubyPackage build system base class
  .github/workflows/linux_build_tests.yaml
  lib/spack/docs/build_systems/rubypackage.rst
  lib/spack/spack/build_systems/ruby.py
  lib/spack/spack/cmd/create.py
  lib/spack/spack/pkgkit.py
  lib/spack/spack/test/build_system_guess.py
  share/spack/qa/configuration/packages.yaml
  var/spack/repos/builtin/packages/asciidoctor/package.py
  var/spack/repos/builtin/packages/ruby-asciidoctor/package.py
  var/spack/repos/builtin/packages/ruby-erubis/package.py
  var/spack/repos/builtin/packages/ruby-gnuplot/package.py
  var/spack/repos/builtin/packages/ruby-hpricot/package.py
  var/spack/repos/builtin/packages/ruby-mustache/package.py
  var/spack/repos/builtin/packages/ruby-narray/package.py
  var/spack/repos/builtin/packages/ruby-rake/package.py
  var/spack/repos/builtin/packages/ruby-rdiscount/package.py
  var/spack/repos/builtin/packages/ruby-ronn/package.py
  var/spack/repos/builtin/packages/ruby-rubyinline/package.py
  var/spack/repos/builtin/packages/ruby-svn2git/package.py
  var/spack/repos/builtin/packages/ruby-terminal-table/package.py
  var/spack/repos/builtin/packages/ruby-thor/package.py
  var/spack/repos/builtin/packages/ruby-tmuxinator/package.py
  var/spack/repos/builtin/packages/ruby-unicode-display-width/package.py
  var/spack/repos/builtin/packages/ruby-xdg/package.py
  var/spack/repos/builtin/packages/ruby-zentest/package.py
  var/spack/repos/builtin/packages/ruby/package.py
  var/spack/repos/builtin/packages/tmuxinator/package.py
Labels: build-systems, documentation, external-packages, ruby

#18366 Add rocm 3.7.0 libs
  var/spack/repos/builtin/packages/comgr/package.py
  var/spack/repos/builtin/packages/hip/package.py
  var/spack/repos/builtin/packages/hsa-rocr-dev/0002-Remove-explicit-RPATH-again.patch
  var/spack/repos/builtin/packages/hsa-rocr-dev/package.py
  var/spack/repos/builtin/packages/hsakmt-roct/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocclr/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
  var/spack/repos/builtin/packages/rocm-bandwidth-test/package.py
  var/spack/repos/builtin/packages/rocm-clang-ocl/package.py
  var/spack/repos/builtin/packages/rocm-cmake/package.py
  var/spack/repos/builtin/packages/rocm-debug-agent/0001-Drop-overly-strict-Werror-flag.patch
  var/spack/repos/builtin/packages/rocm-debug-agent/package.py
  var/spack/repos/builtin/packages/rocm-device-libs/package.py
  var/spack/repos/builtin/packages/rocminfo/package.py
  var/spack/repos/builtin/packages/rocsparse/package.py
  var/spack/repos/builtin/packages/roctracer-dev/package.py
Labels: AMD, new-version

#18475 py-torchvision: cuda prefix determined by user's PATH
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: cuda

#18467 new package: corenlp
  var/spack/repos/builtin/packages/corenlp/corenlp.sh
  var/spack/repos/builtin/packages/corenlp/package.py
Labels: new-package

#18476 eospac: add version 6.4.1
  var/spack/repos/builtin/packages/eospac/package.py
Labels: new-version

#18455 Add test tolerance variant to nalu-wind pkg
  var/spack/repos/builtin/packages/nalu-wind/package.py
Labels: new-variant

#18479 fermi: support for aarch64
  var/spack/repos/builtin/packages/fermi/ksw_for_aarch64.patch
  var/spack/repos/builtin/packages/fermi/package.py
Labels: update-package

#18074 Bugfix: Terminate if a spack.yaml include path does not exist
  lib/spack/spack/environment.py
  lib/spack/spack/test/cmd/env.py
Labels: bugfix, configuration, environments

#18440 freetype: Add custom headers property
  var/spack/repos/builtin/packages/freetype/package.py
  var/spack/repos/builtin/packages/glvis/package.py
  var/spack/repos/builtin/packages/ncl/package.py
  var/spack/repos/builtin/packages/qt/package.py
Labels: headers

#18097 Pillow-SIMD: use as default PIL provider
  etc/spack/defaults/packages.yaml
  var/spack/repos/builtin/packages/paraview/package.py
  var/spack/repos/builtin/packages/py-bokeh/package.py
  var/spack/repos/builtin/packages/py-cartopy/package.py
  var/spack/repos/builtin/packages/py-gluoncv/package.py
  var/spack/repos/builtin/packages/py-guiqwt/package.py
  var/spack/repos/builtin/packages/py-imageio/package.py
  var/spack/repos/builtin/packages/py-matplotlib/package.py
  var/spack/repos/builtin/packages/py-openslide-python/package.py
  var/spack/repos/builtin/packages/py-pauvre/package.py
  var/spack/repos/builtin/packages/py-pil/package.py
  var/spack/repos/builtin/packages/py-pillow-simd/package.py
  var/spack/repos/builtin/packages/py-pillow/package.py
  var/spack/repos/builtin/packages/py-pycbc/package.py
  var/spack/repos/builtin/packages/py-scikit-image/package.py
  var/spack/repos/builtin/packages/py-sphinx-gallery/package.py
  var/spack/repos/builtin/packages/py-torchvision/package.py
  var/spack/repos/builtin/packages/py-wxpython/package.py
  var/spack/repos/builtin/packages/timemory/package.py
Labels: defaults, new-package, virtual-dependencies

#18376 install/install_tree: glob support
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/test/llnl/util/filesystem.py
  var/spack/repos/builtin/packages/alglib/package.py
  var/spack/repos/builtin/packages/amrvis/package.py
  var/spack/repos/builtin/packages/aspa/package.py
  var/spack/repos/builtin/packages/bcftools/package.py
  var/spack/repos/builtin/packages/bib2xhtml/package.py
  var/spack/repos/builtin/packages/binutils/package.py
  var/spack/repos/builtin/packages/bowtie2/package.py
  var/spack/repos/builtin/packages/braker/package.py
  var/spack/repos/builtin/packages/chombo/package.py
  var/spack/repos/builtin/packages/cloverleaf/package.py
  var/spack/repos/builtin/packages/cloverleaf3d/package.py
  var/spack/repos/builtin/packages/cohmm/package.py
  var/spack/repos/builtin/packages/efivar/package.py
  var/spack/repos/builtin/packages/exasp2/package.py
  var/spack/repos/builtin/packages/gatk/package.py
  var/spack/repos/builtin/packages/highwayhash/package.py
  var/spack/repos/builtin/packages/hisat2/package.py
  var/spack/repos/builtin/packages/hybpiper/package.py
  var/spack/repos/builtin/packages/iniparser/package.py
  var/spack/repos/builtin/packages/intel-tbb/package.py
  var/spack/repos/builtin/packages/intel-xed/package.py
  var/spack/repos/builtin/packages/ioapi/package.py
  var/spack/repos/builtin/packages/keyutils/package.py
  var/spack/repos/builtin/packages/leveldb/package.py
  var/spack/repos/builtin/packages/librom/package.py
  var/spack/repos/builtin/packages/libxsmm/package.py
  var/spack/repos/builtin/packages/metis/package.py
  var/spack/repos/builtin/packages/minigmg/package.py
  var/spack/repos/builtin/packages/minimd/package.py
  var/spack/repos/builtin/packages/motioncor2/package.py
  var/spack/repos/builtin/packages/mumps/package.py
  var/spack/repos/builtin/packages/openmx/package.py
  var/spack/repos/builtin/packages/opennurbs/package.py
  var/spack/repos/builtin/packages/perl-star-fusion/package.py
  var/spack/repos/builtin/packages/q-e-sirius/package.py
  var/spack/repos/builtin/packages/quantum-espresso/package.py
  var/spack/repos/builtin/packages/redundans/package.py
  var/spack/repos/builtin/packages/rhash/package.py
  var/spack/repos/builtin/packages/snap-korf/package.py
  var/spack/repos/builtin/packages/sparse/package.py
  var/spack/repos/builtin/packages/sse2neon/package.py
  var/spack/repos/builtin/packages/superlu/package.py
  var/spack/repos/builtin/packages/sw4lite/package.py
  var/spack/repos/builtin/packages/texlive/package.py
  var/spack/repos/builtin/packages/vardictjava/package.py
  var/spack/repos/builtin/packages/wireshark/package.py
Labels: feature, utilities

#18446 Enforce the type of Spec.external_modules
  lib/spack/spack/spec.py
  lib/spack/spack/test/cmd/env.py
Labels: bugfix, hotfix

#18185 Add new MavenPackage build system base class
  lib/spack/docs/build_systems.rst
  lib/spack/docs/build_systems/mavenpackage.rst
  lib/spack/spack/build_systems/maven.py
  lib/spack/spack/cmd/create.py
  lib/spack/spack/pkgkit.py
  lib/spack/spack/test/build_system_guess.py
  var/spack/repos/builtin/packages/accumulo/package.py
  var/spack/repos/builtin/packages/canal/package.py
  var/spack/repos/builtin/packages/giraph/package.py
  var/spack/repos/builtin/packages/h2database/package.py
  var/spack/repos/builtin/packages/hazelcast/package.py
  var/spack/repos/builtin/packages/hibench/package.py
  var/spack/repos/builtin/packages/hudi/package.py
  var/spack/repos/builtin/packages/interproscan/package.py
  var/spack/repos/builtin/packages/kinesis/package.py
  var/spack/repos/builtin/packages/mahout/package.py
  var/spack/repos/builtin/packages/maven/package.py
  var/spack/repos/builtin/packages/mongodb-async-driver/package.py
  var/spack/repos/builtin/packages/mrbench/package.py
  var/spack/repos/builtin/packages/neo4j/package.py
  var/spack/repos/builtin/packages/phoenix/package.py
  var/spack/repos/builtin/packages/presto/package.py
  var/spack/repos/builtin/packages/slf4j/package.py
  var/spack/repos/builtin/packages/slider/package.py
  var/spack/repos/builtin/packages/sqoop/package.py
  var/spack/repos/builtin/packages/testdfsio/package.py
  var/spack/repos/builtin/packages/ycsb/package.py
  var/spack/repos/builtin/packages/zipkin/package.py
  var/spack/repos/builtin/packages/zookeeper-benchmark/package.py
Labels: build-systems, documentation, external-packages, maven

#18220 depends_on cannot handle ^ sigil
  lib/spack/docs/known_issues.rst
  var/spack/repos/builtin/packages/cardioid/package.py
  var/spack/repos/builtin/packages/parmetis/package.py
  var/spack/repos/builtin/packages/phist/package.py
  var/spack/repos/builtin/packages/warpx/package.py
Labels: dependencies, directives, update-package

#18490 py-pillow-simd: fix concretization
  var/spack/repos/builtin/packages/py-pillow-simd/package.py
Labels: bugfix, concretization

#17798 Python: default to Python 3.8
  var/spack/repos/builtin/packages/python/package.py
Labels: defaults, python

#18517 new package: py-markovify
  var/spack/repos/builtin/packages/py-markovify/package.py
Labels: new-package

#18511 Build libtinfo.so --with-versioned-syms when it is enabled in ncurses.
  var/spack/repos/builtin/packages/ncurses/package.py
Labels: update-package

#18510 Add madgraph 2.8.0; fix recipe
  var/spack/repos/builtin/packages/madgraph5amc/madgraph5amc-2.8.0.atlas.patch
  var/spack/repos/builtin/packages/madgraph5amc/package.py
Labels: new-version, update-package

#18509 gettext: Add 0.21
  var/spack/repos/builtin/packages/gettext/package.py
Labels: new-version

#18508 curl: Add 7.72.0
  var/spack/repos/builtin/packages/curl/package.py
Labels: new-version

#18507 libidn2: Add 2.3.0
  var/spack/repos/builtin/packages/libidn2/package.py
Labels: new-version

#18506 libbson, mongo-c-driver: Add 1.17.0
  var/spack/repos/builtin/packages/libbson/package.py
  var/spack/repos/builtin/packages/mongo-c-driver/package.py
Labels: new-version

#18505 glib: Add 2.64.5
  var/spack/repos/builtin/packages/glib/package.py
Labels: new-version

#18503 rocksdb: Add 6.11.4
  var/spack/repos/builtin/packages/rocksdb/package.py
Labels: new-version

#18502 py-setuptools: Add 50.1.0 and 49.6.0
  var/spack/repos/builtin/packages/py-setuptools/package.py
Labels: new-version

#18491 bml: Add build dependency on python (#18489)
  var/spack/repos/builtin/packages/bml/package.py
Labels: dependencies

#18485 energyplus: add version 9.1
  var/spack/repos/builtin/packages/energyplus/package.py
Labels: new-version

#18442 ROCm3.5 miopen recipe
  var/spack/repos/builtin/packages/miopen-hip/package.py
  var/spack/repos/builtin/packages/miopen-opencl/package.py
Labels: AMD, new-package

#18165 Make spack environment configurations writable from spack external and spack compiler find
  lib/spack/spack/cmd/config.py
  lib/spack/spack/cmd/external.py
  lib/spack/spack/config.py
  lib/spack/spack/environment.py
  lib/spack/spack/test/cmd/config.py
  lib/spack/spack/test/cmd/external.py
  lib/spack/spack/test/config.py
  share/spack/spack-completion.bash
Labels: configuration

#18021 fujitsu: added new package
  var/spack/repos/builtin/packages/fj/package.py
Labels: compilers, fujitsu, new-package

#18519 petsc4py: repo is migrated from bitbucket to gitlab
  var/spack/repos/builtin/packages/py-petsc4py/package.py
Labels: hash-change

#18516 new package: py-textblob
  var/spack/repos/builtin/packages/py-nltk/package.py
  var/spack/repos/builtin/packages/py-nltk/resourcegen.py
  var/spack/repos/builtin/packages/py-textblob/package.py
Labels: new-package, new-variant

#18406 gconf: add dependencies
  var/spack/repos/builtin/packages/gconf/package.py
Labels: dependencies

#18534 capstone: Add version 4.0.2
  var/spack/repos/builtin/packages/capstone/package.py
Labels: new-version

#18436 Add new package: kbd
  var/spack/repos/builtin/packages/kbd/package.py
Labels: new-package

#18512 lcio: changes to install and CPATH for python bindings
  var/spack/repos/builtin/packages/lcio/package.py
Labels: update-package

#18515 SpecList: remove mutable types from __init__ arguments
  lib/spack/spack/spec_list.py
Labels: refactoring

#18560 openPMD-api: 0.12.0
  var/spack/repos/builtin/packages/openpmd-api/package.py
Labels: new-version

#18351 Modules: Deduplicate suffixes but don't sort them.
  lib/spack/spack/modules/common.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/data/modules/tcl/suffix.yaml
  lib/spack/spack/test/modules/tcl.py
Labels: modules

#18209 Rust: added nvptx variant
  var/spack/repos/builtin/packages/rust/package.py
Labels: new-variant, rust

#18573 spack docs: http -> https
  lib/spack/spack/main.py
Labels: commands, documentation

#14854 More debug info for concretizer errors
  lib/spack/spack/spec.py
Labels: concretization, debugging

#18367 feature: update help for `spack install --yes-to-all`
  lib/spack/spack/cmd/install.py
  share/spack/spack-completion.bash
Labels: feature

#18581 Update cray-libsci homepage and install error
  var/spack/repos/builtin/packages/cray-libsci/package.py
Labels: build-error, external-packages, update-package

#18242 Clarify manual download required if unable to fetch package
  lib/spack/spack/package.py
  lib/spack/spack/stage.py
  lib/spack/spack/test/packaging.py
  lib/spack/spack/test/stage.py
Labels: error-messages, fetching

#18572 Cython: add setuptools run-dependency
  var/spack/repos/builtin/packages/py-cython/package.py
Labels: dependencies, python

#18577 npm: Add 6.14.8
  var/spack/repos/builtin/packages/npm/package.py
Labels: new-version

#18576 node-js: Add 14.10.0 and 12.18.3
  var/spack/repos/builtin/packages/node-js/package.py
Labels: new-version

#18575 go: Add 1.15.1 and 1.14.8
  var/spack/repos/builtin/packages/go/package.py
Labels: go, new-version

#18568 libxmms: add python build dependency (#18566)
  var/spack/repos/builtin/packages/libxsmm/package.py
Labels: dependencies

#18567 astra: update checksum, add other executables
  var/spack/repos/builtin/packages/astra/package.py
Labels: new-variant, update-package

#18564 metis: fix darwin install name
  var/spack/repos/builtin/packages/metis/package.py
Labels: linking, macOS

#18552 Update texlive/package.py
  var/spack/repos/builtin/packages/texlive/package.py
Labels: build-environment

#18557 refine efivar install flow
  var/spack/repos/builtin/packages/efivar/package.py
Labels: update-package

#18548 Add new package: jline3
  var/spack/repos/builtin/packages/jline3/package.py
Labels: new-package

#18547 Add new package: jansi-native
  var/spack/repos/builtin/packages/jansi-native/package.py
Labels: new-package

#18546 Add new package: guacamole-client
  var/spack/repos/builtin/packages/guacamole-client/package.py
Labels: new-package

#18545 Add new package: fastjson
  var/spack/repos/builtin/packages/fastjson/package.py
Labels: new-package

#18543 Add new package: nacos
  var/spack/repos/builtin/packages/nacos/package.py
Labels: new-package

#18542 Add new package: orientdb
  var/spack/repos/builtin/packages/orientdb/package.py
Labels: new-package

#18540 Add new package: sqlite-jdbc
  var/spack/repos/builtin/packages/sqlite-jdbc/package.py
Labels: new-package

#18537 Add new package: kylin
  var/spack/repos/builtin/packages/kylin/package.py
Labels: new-package

#18531 openscenegraph: remove dependency on Qt for newer versions
  var/spack/repos/builtin/packages/openscenegraph/package.py
Labels: dependencies

#18539 Add new package: quartz
  var/spack/repos/builtin/packages/quartz/package.py
Labels: new-package

#18580 Pandas: add v1.1.2
  var/spack/repos/builtin/packages/py-pandas/package.py
Labels: new-version

#18563 [acts] Add version 0.32 and adapt to latest master changes
  var/spack/repos/builtin/packages/acts/package.py
Labels: new-version

#18525 PCRE2: fix libs property
  var/spack/repos/builtin/packages/pcre2/package.py
Labels: libraries

#18524 readline: fix build with ncurses~termlib
  var/spack/repos/builtin/packages/readline/package.py
Labels: update-package

#18500 py-torchvision: add variant to set image backend
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: new-variant

#18478 nn-c: fix pic flags
  var/spack/repos/builtin/packages/nn-c/package.py
Labels: pic, update-package

#18584 audacious: Add gettext and iconv dependency.
  var/spack/repos/builtin/packages/audacious/package.py
Labels: dependencies

#18561 spla: Add version 1.1.0
  var/spack/repos/builtin/packages/spla/package.py
Labels: new-variant, new-version

#18522 Rocm 3.7 rocm smi
  var/spack/repos/builtin/packages/rocm-smi-lib/package.py
  var/spack/repos/builtin/packages/rocm-smi/package.py
Labels: AMD, new-package, new-version

#18587 Rocm 3.7 rccl
  var/spack/repos/builtin/packages/rccl/package.py
Labels: AMD, new-version

#18586 (py-)fenics-dolfinx: fix dependencies
  var/spack/repos/builtin/packages/fenics-dolfinx/package.py
  var/spack/repos/builtin/packages/py-fenics-dolfinx/package.py
Labels: dependencies

#18514 Modules: Fix configuration overriding
  lib/spack/spack/modules/common.py
  lib/spack/spack/test/data/modules/tcl/override_config.yaml
  lib/spack/spack/test/modules/tcl.py
Labels: configuration, modules

#18571 [py-thinc] fixed checksum
  var/spack/repos/builtin/packages/py-thinc/package.py
Labels: checksum

#18579 Added specific "@master" version specifier for SCR dependencies
  var/spack/repos/builtin/packages/scr/package.py
Labels: dependencies

#18333 Adding hipify-clang and aomp recipe for rocm
  var/spack/repos/builtin/packages/aomp/package.py
  var/spack/repos/builtin/packages/hipify-clang/package.py
Labels: AMD, new-package

#18592 Add new versions of intel-mkl
  var/spack/repos/builtin/packages/intel-mkl/package.py
Labels: blas-lapack-scalapack, intel, new-version

#18595 Packages/gamess ri mp2 mini app
  var/spack/repos/builtin/packages/gamess-ri-mp2-miniapp/package.py
Labels: new-package

#18594 Support external find for gpgme.
  var/spack/repos/builtin/packages/gpgme/package.py
Labels: external-packages

#18504 darshan-util: remove return(-1) from void function
  var/spack/repos/builtin/packages/darshan-util/package.py
  var/spack/repos/builtin/packages/darshan-util/retvoid.patch
Labels: fujitsu, patch

#18597 Support older cuda arch capabilties.
  var/spack/repos/builtin/packages/dihydrogen/package.py
Labels: cuda

#18599 Rocprofiler changes for rocm-3.7.0 release
  var/spack/repos/builtin/packages/rocprofiler-dev/package.py
Labels: AMD

#18494 GDAL: fix Java bindings
  var/spack/repos/builtin/packages/gdal/package.py
Labels: java, update-package

#18603 dpdk: Avoid option conflicts between spack wrappers and Makefiles on aarch64
  var/spack/repos/builtin/packages/dpdk/package.py
Labels: arm, patch

#18528 Bugfix for fish support: overly zealous arg matching
  share/spack/setup-env.fish
Labels: shell-support

#18593 Orca: update the package.
  var/spack/repos/builtin/packages/orca/mpirun_srun.sh
  var/spack/repos/builtin/packages/orca/package.py
Labels: new-version

#18518 Features/spack test refactor cmds
  lib/spack/spack/cmd/clean.py
  lib/spack/spack/cmd/test.py
  lib/spack/spack/install_test.py
  lib/spack/spack/package.py
  lib/spack/spack/test/cmd/clean.py
Labels: commands, refactoring, tests

#18611 Dyninst: add v10.2.1
  var/spack/repos/builtin/packages/dyninst/package.py
Labels: new-version

#18590 Adding Cuda Variant to SW4Lite
  var/spack/repos/builtin/packages/sw4lite/package.py
Labels: cuda

#18612 Adding Missing Versions for Flux-Sched/Flux-Core and Compiler Flags
  var/spack/repos/builtin/packages/flux-core/package.py
  var/spack/repos/builtin/packages/flux-sched/package.py
Labels: new-version, update-package

#18495 recipes changes for hipblas, rocprim, rocfft, rocsolver for rocm3.7.0
  var/spack/repos/builtin/packages/hipblas/package.py
  var/spack/repos/builtin/packages/hipcub/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
  var/spack/repos/builtin/packages/rocprim/package.py
  var/spack/repos/builtin/packages/rocsolver/package.py
Labels: AMD, new-version, update-package

#18497 Changes for hipsparse, rocthrust recipes for rocm_3.7.0
  var/spack/repos/builtin/packages/hipsparse/package.py
  var/spack/repos/builtin/packages/rocrand/package.py
  var/spack/repos/builtin/packages/rocthrust/package.py
Labels: AMD, new-version, update-package

#18615 NumPy: add v1.19.2
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: new-version

#18538 Avoid accidental deletions of lock files on write errors
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/environment.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/llnl/util/filesystem.py
Labels: bugfix, environments

#18609 ncurses: adding external support.
  var/spack/repos/builtin/packages/ncurses/package.py
Labels: external-packages

#18487 bugfix: include configuration ignoring files with the same basename
  lib/spack/spack/environment.py
  lib/spack/spack/test/cmd/env.py
Labels: bugfix, configuration, environments, impact-low

#18555 Add new package: jetty-project
  var/spack/repos/builtin/packages/jetty-project/package.py
Labels: new-package

#18311 Add new package: hping
  var/spack/repos/builtin/packages/hping/bpf.patch
  var/spack/repos/builtin/packages/hping/package.py
Labels: new-package

#18654 Add new package: libspiro
  var/spack/repos/builtin/packages/libspiro/package.py
Labels: new-package

#18653 Add new package: geoip-api-c
  var/spack/repos/builtin/packages/geoip-api-c/package.py
Labels: new-package

#18651 Add new package: dbxtool
  var/spack/repos/builtin/packages/dbxtool/package.py
Labels: new-package

#18649 cvs: add a patch for segv issue
  var/spack/repos/builtin/packages/cvs/package.py
Labels: patch

#18648 Add new package: delta
  var/spack/repos/builtin/packages/delta/package.py
Labels: new-package

#18641 new package: py-reproject
  var/spack/repos/builtin/packages/py-astropy-healpix/package.py
  var/spack/repos/builtin/packages/py-extension-helpers/package.py
  var/spack/repos/builtin/packages/py-reproject/package.py
Labels: new-package, update-package

#18657 use github for download
  var/spack/repos/builtin/packages/glew/package.py
Labels: fetching

#18608 Updated FZF package for newer versions.
  var/spack/repos/builtin/packages/fzf/package.py
Labels: external-packages, new-version

#18659 nek5000: Support Fujitsu fortran
  var/spack/repos/builtin/packages/nek5000/add_fjfortran.patch
  var/spack/repos/builtin/packages/nek5000/package.py
Labels: fujitsu, patch

#18621 ngmlr: support for aarch64
  var/spack/repos/builtin/packages/ngmlr/for_aarch64.patch
  var/spack/repos/builtin/packages/ngmlr/for_va_list.patch
  var/spack/repos/builtin/packages/ngmlr/package.py
Labels: arm, patch
