Repository spack/spack, pull requests merged in 2021-05, with the labels that each got.

#23392 Package silo : zlib system dependency altered as in hdf5
  var/spack/repos/builtin/packages/silo/package.py
Labels: update-package

#23386 py-hdf5: restore py-h5py~mpi ^hdf5+mpi
  var/spack/repos/builtin/packages/py-h5py/package.py
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: mpi, variants

#23390 arborx: kokkos hip backend is actually now called rocm
  var/spack/repos/builtin/packages/arborx/package.py
Labels: dependencies, e4s, ecp

#23384 rocksdb: add 6.19.3
  var/spack/repos/builtin/packages/rocksdb/package.py
Labels: new-version

#23370 darshan-runtime, darshan-util: add darshan-3.3.0-pre2 release
  var/spack/repos/builtin/packages/darshan-runtime/package.py
  var/spack/repos/builtin/packages/darshan-util/package.py
Labels: e4s, ecp

#23034 New package: py-tensorflow-hub
  var/spack/repos/builtin/packages/py-tensorflow-hub/package.py
Labels: new-package

#23352 New package: py-torchmetrics
  var/spack/repos/builtin/packages/py-torchmetrics/package.py
Labels: new-package

#23403 Metall package: add v0.13 and support test
  var/spack/repos/builtin/packages/metall/package.py
Labels: e4s, ecp

#23391 flecsi: fix legion dependency specification so variants actually exist
  var/spack/repos/builtin/packages/flecsi/package.py
  var/spack/repos/builtin/packages/legion/package.py
Labels: dependencies, e4s, ecp

#23404 [py-fsspec] added http variant
  var/spack/repos/builtin/packages/py-fsspec/package.py
Labels: new-variant

#23395 Package cube has very tight dependencies on cubelib
  var/spack/repos/builtin/packages/cube/package.py
Labels: update-package

#23377 Remove weird rocm version of BLT
  var/spack/repos/builtin/packages/blt/package.py
  var/spack/repos/builtin/packages/care/package.py
  var/spack/repos/builtin/packages/chai/package.py
  var/spack/repos/builtin/packages/raja/package.py
  var/spack/repos/builtin/packages/umpire/package.py
Labels: e4s, ecp

#23378 scr: new release and dependency updates
  var/spack/repos/builtin/packages/scr/package.py
Labels: e4s, ecp

#23290 Import compilers using Python's built-in machinery
  lib/spack/spack/compilers/__init__.py
Labels: imports, refactoring

#23311 archspec: updated external dependency
  lib/spack/external/__init__.py
  lib/spack/external/archspec/cpu/detect.py
  lib/spack/external/archspec/json/cpu/microarchitectures.json
Labels: microarchitectures

#23064 rust: new version 1.51.0
  var/spack/repos/builtin/packages/rust/package.py
Labels: new-version, patch

#23366 disable locks on windows testing
  lib/spack/spack/test/bindist.py
  lib/spack/spack/test/build_distribution.py
  lib/spack/spack/test/build_system_guess.py
  lib/spack/spack/test/cmd/activate.py
  lib/spack/spack/test/cmd/blame.py
  lib/spack/spack/test/cmd/ci.py
  lib/spack/spack/test/cmd/deprecate.py
  lib/spack/spack/test/cmd/dev_build.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/cmd/install.py
  lib/spack/spack/test/cmd/load.py
  lib/spack/spack/test/cmd/reindex.py
  lib/spack/spack/test/cmd/test.py
  lib/spack/spack/test/cmd/verify.py
  lib/spack/spack/test/cmd/view.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/git_fetch.py
  lib/spack/spack/test/installer.py
  lib/spack/spack/test/modules/common.py
  lib/spack/spack/test/stage.py
  lib/spack/spack/test/views.py
Labels: windows

#23353 New package: py-pytorch-lightning
  var/spack/repos/builtin/packages/py-pytorch-lightning/package.py
Labels: new-package

#23420 py-tensorflow: continue to constrain h5py version
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: update-package

#23372 Packages: BLAS++ and LAPACK++
  var/spack/repos/builtin/packages/blaspp/package.py
  var/spack/repos/builtin/packages/lapackpp/package.py
Labels: e4s, ecp

#23442 Update Brian to 2.4.2
  var/spack/repos/builtin/packages/py-brian2/package.py
Labels: new-version

#23452 Add parallel-netcdf version 1.12.2
  var/spack/repos/builtin/packages/parallel-netcdf/package.py
Labels: e4s, ecp, new-version

#23451 conduit: change default ver to tagged release
  var/spack/repos/builtin/packages/conduit/package.py
Labels: update-package

#23418 New version scorep 7.0 based on opari2-2.0.6, otf2-2.3 +cubex-4.6
  var/spack/repos/builtin/packages/scorep/package.py
Labels: new-version

#23433 Update Kokkos for release 3.4.00 and add SYCL
  var/spack/repos/builtin/packages/kokkos/package.py
Labels: e4s, ecp, intel, new-version

#23448 Enable cmake option -optimal for rocsolver
  var/spack/repos/builtin/packages/rocsolver/package.py
Labels: AMD

#23269 Improve llnl.util.lang.load_module_from_file
  lib/spack/llnl/util/lang.py
  lib/spack/spack/test/llnl/util/lang.py
Labels: imports, refactoring

#23087 mlperf-deepcam: fixed issue with cuda variant and deps
  var/spack/repos/builtin/packages/arrow/package.py
  var/spack/repos/builtin/packages/mlperf-deepcam/package.py
  var/spack/repos/builtin/packages/py-apache-beam/package.py
Labels: update-package

#23079 amp: cleanup of the recipe
  var/spack/repos/builtin/packages/amp/package.py
Labels: update-package

#23469 py-brian2: Fix missing open range for python dependency
  var/spack/repos/builtin/packages/py-brian2/package.py
Labels: dependencies

#22711 py-keras: new version
  var/spack/repos/builtin/packages/py-keras/package.py
Labels: new-version

#23307 ASP-based solver: no intermediate package for concretizing together
  lib/spack/spack/concretize.py
  lib/spack/spack/test/cmd/env.py
Labels: bugfix, concretization, environments, refactoring

#23462 ASP-based solver: minimize target mismatches
  lib/spack/spack/solver/concretize.lp
Labels: concretization, refactoring

#23426 GDAL: add v3.3.0
  var/spack/repos/builtin/packages/gdal/package.py
Labels: new-version

#23289 compilers: aocc is now also available as a Cray PrgEnv
  lib/spack/spack/compilers/aocc.py
Labels: AMD, compilers, cray, ecp

#23279 Update py-hieroglyph
  var/spack/repos/builtin/packages/py-hieroglyph/package.py
Labels: new-version

#23480 geos: Fix config issues with python bindings using python3 (#23479)
  var/spack/repos/builtin/packages/geos/geos_python3_config.patch
  var/spack/repos/builtin/packages/geos/package.py
Labels: patch, python3

#23502 Add conflict for the CCE compiler
  var/spack/repos/builtin/packages/elfutils/package.py
Labels: cray, e4s, ecp

#23519 Bugfix/matplotlib clang lto
  var/spack/repos/builtin/packages/py-matplotlib/package.py
Labels: update-package

#23521 mercury: add version 2.0.1
  var/spack/repos/builtin/packages/mercury/package.py
Labels: new-version

#23505 craype fix for pdt
  var/spack/repos/builtin/packages/pdt/cray_configure.patch
  var/spack/repos/builtin/packages/pdt/package.py
Labels: architectures, cray, e4s, ecp

#23531 py-matplotlib: add v3.4.2
  var/spack/repos/builtin/packages/py-matplotlib/package.py
Labels: new-version

#22642 binutils: Improve flag_handler
  var/spack/repos/builtin/packages/binutils/package.py
Labels: update-package

#22161 Add new package: ima-evm-utils
  var/spack/repos/builtin/packages/ima-evm-utils/package.py
Labels: new-package

#23532 metall: fix incorrect use of setup_build_environment
  var/spack/repos/builtin/packages/metall/package.py
Labels: e4s, ecp

#23506 improve relocation logic: allow relocation when relative_prefixes change
  lib/spack/spack/binary_distribution.py
Labels: binary-packages, buildcache, e4s, ecp

#23524 tau: depend on provider of elf in place of libelf
  var/spack/repos/builtin/packages/tau/package.py
Labels: dependencies, e4s, ecp

#23515 CrayPE fix for json-c
  var/spack/repos/builtin/packages/json-c/package.py
Labels: cray, e4s, ecp

#23499 CrayPE fix for otf2
  var/spack/repos/builtin/packages/otf2/cray_ac_scorep_sys_detection-m4.patch
  var/spack/repos/builtin/packages/otf2/package.py
Labels: cray, e4s, ecp

#23498 CrayPE fix for unifyfs
  var/spack/repos/builtin/packages/unifyfs/package.py
Labels: cray, e4s, ecp

#23543 WarpX: 21.05
  var/spack/repos/builtin/packages/warpx/package.py
Labels: dependencies, ecp, new-version, update-package

#23504 craype fix for omega-h
  var/spack/repos/builtin/packages/omega-h/package.py
Labels: architectures, cray, ecp

#23541 Bump fuse-overlayfs
  var/spack/repos/builtin/packages/fuse-overlayfs/package.py
Labels: new-version

#23548 tau: revert depends_on generic elf provider
  var/spack/repos/builtin/packages/tau/package.py
Labels: dependencies, e4s, ecp

#23549 [py-websocket-client] added version 0.48.0
  var/spack/repos/builtin/packages/py-websocket-client/package.py
Labels: new-version

#23478 zfp: Add python as explicit dependency
  var/spack/repos/builtin/packages/zfp/package.py
Labels: radiuss, update-package

#23547 [py-pyjwt] added version 2.1.0
  var/spack/repos/builtin/packages/py-pyjwt/package.py
Labels: dependencies, new-version, python

#23544 gmsh: add variants and new version
  var/spack/repos/builtin/packages/gmsh/package.py
Labels: new-variant, update-package, variants

#23485 Environments: add run deps to shell modifications
  lib/spack/spack/environment.py
  lib/spack/spack/test/cmd/env.py
  var/spack/repos/builtin.mock/packages/depends-on-run-env/package.py
  var/spack/repos/builtin.mock/packages/modifies-run-env/package.py
Labels: bugfix, environments

#23516 CrayPE patch for conduit
  var/spack/repos/builtin/packages/conduit/package.py
Labels: cray, e4s, ecp

#23571 rocksdb: add 6.20.3
  var/spack/repos/builtin/packages/rocksdb/package.py
  var/spack/repos/builtin/packages/rocksdb/pkg-config.patch
Labels: new-version, patch

#23572 meson: add 0.57.2, 0.58.0
  var/spack/repos/builtin/packages/meson/package.py
  var/spack/repos/builtin/packages/meson/rpath-0.58.patch
Labels: new-version, patch, versions

#23514 CrayPE fix for mercury
  var/spack/repos/builtin/packages/mercury/package.py
Labels: cray, e4s, ecp

#23507 craype fix for rempi
  var/spack/repos/builtin/packages/rempi/package.py
Labels: cray, e4s, ecp

#23501 Fix cray-libsci package to find correct libraries
  var/spack/repos/builtin/packages/cray-libsci/package.py
Labels: cray, e4s, ecp

#23491 ASP-based solver: account for deprecated versions
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/solver/display.lp
  lib/spack/spack/test/concretize.py
  var/spack/repos/builtin.mock/packages/deprecated-versions/package.py
Labels: bugfix, concretization, concretizer-use-case

#23567 If symlinks and junctions are unavailable, fall back to copying file
  lib/spack/llnl/util/symlink.py
Labels: windows

#23563 gmsh: fix variant flags and dependencies
  var/spack/repos/builtin/packages/gmsh/package.py
Labels: update-package

#23280 Update: Ginkgo ROCm setup and smoke tests
  var/spack/repos/builtin/packages/ginkgo/package.py
  var/spack/repos/builtin/packages/hipsparse/package.py
  var/spack/repos/builtin/packages/rocrand/package.py
Labels: AMD, conflicts, dependencies, e4s, ecp, smoke-tests, update-package

#23602 tau: depend on provider of elf
  var/spack/repos/builtin/packages/tau/package.py
Labels: e4s, ecp

#23457 New Package r-dexseq
  var/spack/repos/builtin/packages/r-dexseq/package.py
Labels: BioConductor, R, new-package

#23610 config key error: fix format string
  lib/spack/spack/config.py
Labels: bugfix

#23608 update the version for rocm packages comgr,hip-rocclr ,... for rocm-4.2.0 release
  var/spack/repos/builtin/packages/comgr/package.py
  var/spack/repos/builtin/packages/hip-rocclr/package.py
  var/spack/repos/builtin/packages/hipify-clang/package.py
  var/spack/repos/builtin/packages/rocm-bandwidth-test/package.py
  var/spack/repos/builtin/packages/rocm-clang-ocl/package.py
  var/spack/repos/builtin/packages/rocm-dbgapi/package.py
  var/spack/repos/builtin/packages/rocm-device-libs/package.py
  var/spack/repos/builtin/packages/rocm-opencl/package.py
  var/spack/repos/builtin/packages/rocminfo/package.py
Labels: AMD

#23573 py-cocotools: add new package
  var/spack/repos/builtin/packages/py-pycocotools/package.py
Labels: new-package

#23484 Updates to Windows Installer Readme
  lib/spack/docs/getting_started.rst
  lib/spack/spack/cmd/installer/README.md
Labels: windows

#23597 Bundle git in windows installer
  lib/spack/spack/cmd/installer/CMakeLists.txt
  lib/spack/spack/cmd/installer/bundle.wxs.in
  lib/spack/spack/cmd/make_installer.py
Labels: windows

#23620 Bug fix to fix the issues with hipMalloc3D, hipMallocPitch in Spack environment.
  var/spack/repos/builtin/packages/hsa-rocr-dev/package.py
Labels: AMD

#23619 openPMD-api: 0.13.4
  var/spack/repos/builtin/packages/openpmd-api/package.py
Labels: new-version

#23626 veloc: add v1.3 and v1.2
  var/spack/repos/builtin/packages/veloc/package.py
Labels: e4s, ecp, new-version

#23628 py-warpx: new version: 21.05
  var/spack/repos/builtin/packages/py-warpx/package.py
Labels: e4s, ecp, new-version

#23482 change mode to ccld for loopopt edit
  lib/spack/env/cc
  lib/spack/spack/test/cc.py
Labels: alcf, ecp, fortran, intel, oneapi

#23593 spec: simplify __str__ implementation
  lib/spack/spack/spec.py
  lib/spack/spack/test/spec_semantics.py
Labels: bugfix, refactoring

#23574 Update mvapich2 to 2.3.6
  var/spack/repos/builtin/packages/mvapich2/package.py
Labels: new-version, update-package

#23493 Emacs native compilation on master
  var/spack/repos/builtin/packages/emacs/package.py
Labels: dependencies, new-variant, update-package

#23630 build tests (tut): put an upper bound on the version of GCC being used
  .github/workflows/linux_build_tests.yaml
  var/spack/repos/builtin/packages/tut/package.py
Labels: ci, tests

#23622 py-rarfile: add new package
  var/spack/repos/builtin/packages/py-rarfile/package.py
Labels: new-package

#23441 root: Add variants: dcache and oracle
  var/spack/repos/builtin/packages/root/README.md
  var/spack/repos/builtin/packages/root/package.py
Labels: dependencies, documentation, new-variant, update-package, variants

#23641 New package: py-pytweening
  var/spack/repos/builtin/packages/py-pytweening/package.py
Labels: new-package

#23639 New package: py-pymsgbox
  var/spack/repos/builtin/packages/py-pymsgbox/package.py
Labels: new-package

#23638 New package: py-word2number
  var/spack/repos/builtin/packages/py-word2number/package.py
Labels: new-package

#23634 New package: py-pyrect
  var/spack/repos/builtin/packages/py-pyrect/package.py
Labels: new-package

#23635 New package: py-pygetwindow
  var/spack/repos/builtin/packages/py-pygetwindow/package.py
Labels: new-package

#23629 Addition of py-pyaestro package.
  var/spack/repos/builtin/packages/py-pyaestro/package.py
Labels: new-package

#23658 commands: some fixes for command help strings
  lib/spack/spack/cmd/analyze.py
  lib/spack/spack/cmd/module.py
  lib/spack/spack/cmd/style.py
Labels: commands, documentation

#23666 geopm: allow py-tables versions past 3.5.2 (build+run dependency)
  var/spack/repos/builtin/packages/geopm/package.py
Labels: dependencies, e4s, ecp

#23653 minisign: permit to build statically, add maintainer
  var/spack/repos/builtin/packages/minisign/package.py
Labels: update-package

#23661 performance: speed up existence checks in packages
  lib/spack/spack/repo.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/cmd/pkg.py
Labels: commands, performance, run-environment

#23659 Add version 4.1.1.0 to atompaw
  var/spack/repos/builtin/packages/atompaw/package.py
Labels: dependencies, update-package

#23249 openfoam: update to OpenFOAM-v2012_210414 (patch release)
  var/spack/repos/builtin/packages/openfoam/package.py
Labels: new-version, oneapi, update-package

#22742 bib2xhtml: add dependency to run bibtex
  var/spack/repos/builtin/packages/bib2xhtml/package.py
Labels: dependencies, update-package

#23560 c-blosc2: new version, v2.0.0rc1
  var/spack/repos/builtin/packages/c-blosc2/package.py
Labels: new-version, update-package

#23117 trilinos: add scorec variant
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: conflicts, e4s, ecp, new-variant, radiuss, resources, update-package

#23674 Revert "Separable module configurations"
  etc/spack/defaults/config.yaml
  etc/spack/defaults/darwin/modules.yaml
  etc/spack/defaults/linux/modules.yaml
  etc/spack/defaults/modules.yaml
  lib/spack/spack/cmd/env.py
  lib/spack/spack/cmd/install.py
  lib/spack/spack/cmd/modules/__init__.py
  lib/spack/spack/cmd/modules/lmod.py
  lib/spack/spack/config.py
  lib/spack/spack/environment.py
  lib/spack/spack/hooks/__init__.py
  lib/spack/spack/hooks/module_file_generation.py
  lib/spack/spack/main.py
  lib/spack/spack/modules/common.py
  lib/spack/spack/modules/lmod.py
  lib/spack/spack/modules/tcl.py
  lib/spack/spack/schema/modules.py
  lib/spack/spack/subprocess_context.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/cmd/module.py
  lib/spack/spack/test/config.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/data/config/config.yaml
  lib/spack/spack/test/data/config/modules.yaml
  lib/spack/spack/test/data/modules/lmod/alter_environment.yaml
  lib/spack/spack/test/data/modules/lmod/with_view.yaml
  lib/spack/spack/test/data/modules/tcl/alter_environment.yaml
  lib/spack/spack/test/data/modules/tcl/invalid_token_in_env_var_name.yaml
  lib/spack/spack/test/modules/common.py
  lib/spack/spack/test/modules/conftest.py
  lib/spack/spack/test/modules/lmod.py
  lib/spack/spack/test/modules/tcl.py
  lib/spack/spack/user_environment.py
  share/spack/spack-completion.bash
Labels: broken-develop

#23510 craype fixes for scr
  var/spack/repos/builtin/packages/scr/package.py
Labels: cray, e4s, ecp

#23518 CrayPE fix for trilinos
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: cray, e4s, ecp

#23500 CrayPE fix for binutils
  var/spack/repos/builtin/packages/binutils/package.py
Labels: cray, e4s, ecp

#23692 py-coverage: add version and restrict newer python dependency
  var/spack/repos/builtin/packages/py-coverage/package.py
Labels: new-version

#23503 CrayPE fixes for the slepc package
  var/spack/repos/builtin/packages/slepc/package.py
Labels: cray, e4s, ecp

#23689 py-bottleneck: add new versions
  var/spack/repos/builtin/packages/py-bottleneck/package.py
Labels: new-version

#23687 py-astroid: add new versions and update dependencies
  var/spack/repos/builtin/packages/py-astroid/PR546.patch
  var/spack/repos/builtin/packages/py-astroid/package.py
Labels: new-version

#23694 py-google-pasta: add older versions
  var/spack/repos/builtin/packages/py-google-pasta/package.py
Labels: new-version

#23696 py-grpcio: add version 1.16.0
  var/spack/repos/builtin/packages/py-grpcio/package.py
Labels: new-version

#23697 py-jedi: add older versions
  var/spack/repos/builtin/packages/py-jedi/package.py
Labels: new-version

#23699 py-jsonpickle: restrict importlib dependency to appropriate python
  var/spack/repos/builtin/packages/py-jsonpickle/package.py
Labels: dependencies

#23695 py-gitpython: add version 0.3.6
  var/spack/repos/builtin/packages/py-gitpython/package.py
Labels: new-version

#23686 py-alembic: add new version 1.5.5
  var/spack/repos/builtin/packages/py-alembic/package.py
Labels: new-version

#23715 binutils: fix NameError from commit de8027
  var/spack/repos/builtin/packages/binutils/package.py
Labels: bugfix, e4s, ecp

#23613 AMD ROCm release 4.2: core components part-1
  var/spack/repos/builtin/packages/hsakmt-roct/package.py
  var/spack/repos/builtin/packages/rocm-cmake/package.py
  var/spack/repos/builtin/packages/rocm-smi-lib/package.py
Labels: update-package

#23254 Update the openspeedshop and cbtf related packages including patches to libmonitor
  var/spack/repos/builtin/packages/cbtf-argonavis-gui/package.py
  var/spack/repos/builtin/packages/cbtf-argonavis/package.py
  var/spack/repos/builtin/packages/cbtf-krell/package.py
  var/spack/repos/builtin/packages/cbtf-lanl/package.py
  var/spack/repos/builtin/packages/cbtf/package.py
  var/spack/repos/builtin/packages/libmonitor/add-monitor-comm-rank-notification.patch
  var/spack/repos/builtin/packages/libmonitor/libmonitorkrell-0000.patch
  var/spack/repos/builtin/packages/libmonitor/package.py
  var/spack/repos/builtin/packages/llvm-openmp-ompt/package.py
  var/spack/repos/builtin/packages/openspeedshop-utils/package.py
  var/spack/repos/builtin/packages/openspeedshop/package.py
Labels: dependencies, new-variant, patch, variants, versions

#23430 trinity: Version Update to 2.12.0
  var/spack/repos/builtin/packages/trinity/package.py
Labels: dependencies, new-version, update-package

#23300 patch: Escape URLPatch names
  lib/spack/spack/fetch_strategy.py
Labels: mirrors, patch

#23743 precice: Add version 2.2.1
  var/spack/repos/builtin/packages/precice/package.py
Labels: e4s, ecp, new-version

#23714 upcxx: Add support for stand-alone post-install tests
  var/spack/repos/builtin/packages/upcxx/package.py
Labels: e4s, ecp, smoke-tests

#23707 docs/packaging guide: Reference test stage directory
  lib/spack/docs/packaging_guide.rst
Labels: documentation, smoke-tests

#23775 TAU needs to specify pdt_c++ if built with intel.
  var/spack/repos/builtin/packages/tau/package.py
Labels: bugfix, e4s, ecp

#23698 py-jinja2: add version 2.11.3
  var/spack/repos/builtin/packages/py-jinja2/package.py
Labels: new-version

#23734 gnupg: bumped versions, added maintainer
  var/spack/repos/builtin/packages/gnupg/package.py
  var/spack/repos/builtin/packages/libassuan/package.py
  var/spack/repos/builtin/packages/libgcrypt/package.py
  var/spack/repos/builtin/packages/libgpg-error/package.py
  var/spack/repos/builtin/packages/libksba/package.py
  var/spack/repos/builtin/packages/pinentry/package.py
Labels: update-package

#23781 py-pygeos: add v0.10
  var/spack/repos/builtin/packages/py-pygeos/package.py
Labels: new-version

#23745 Add Go 1.16.4 and 1.15.12
  var/spack/repos/builtin/packages/go/package.py
Labels: new-version

#23716 gawk: add support for external find
  var/spack/repos/builtin/packages/gawk/package.py
Labels: update-package

#23706 use cmake spec to find cmake instead of shell path
  lib/spack/spack/cmd/make_installer.py
Labels: windows

#20158 Write junit-report to reports directory to allow installation from read-only spack
  lib/spack/spack/cmd/install.py
  lib/spack/spack/paths.py
Labels: configuration

#23693 py-git-review add version 1.27.0
  var/spack/repos/builtin/packages/py-git-review/package.py
Labels: new-version

#23688 new package: py-batchspawner
  var/spack/repos/builtin/packages/py-batchspawner/package.py
Labels: new-package

#23690 py-checkm-genome: fix backportsdependency
  var/spack/repos/builtin/packages/py-checkm-genome/package.py
Labels: dependencies

#23763 gatk Updated Archives links for 3.X
  var/spack/repos/builtin/packages/gatk/package.py
Labels: fetching

#23725 py-setuptools: add older version 41.3.0
  var/spack/repos/builtin/packages/py-setuptools/package.py
Labels: new-version

#23627 umpire: preliminary stand-alone test simplification
  var/spack/repos/builtin/packages/umpire/package.py
Labels: e4s, ecp, smoke-tests

#23797 add conduit 0.7.2 release
  var/spack/repos/builtin/packages/conduit/package.py
Labels: new-version, update-package

#23791 add vtk-h 0.7.1 release
  var/spack/repos/builtin/packages/vtk-h/package.py
Labels: new-version, update-package

#23801 findutils: use homebrew trick to build findutils 4.8.0 with apple-clang
  var/spack/repos/builtin/packages/findutils/package.py
Labels: clang, macOS

#23200 visit: make it extendable for plugins
  var/spack/repos/builtin/packages/visit/package.py
Labels: e4s, ecp, extensions, radiuss, update-package

#23778 bump up the version for rocm-4.2.0 release
  var/spack/repos/builtin/packages/atmi/package.py
  var/spack/repos/builtin/packages/hip/0003-Improve-compilation-without-git-repo-and-remove-compiler-rt-linkage-for-host.4.2.0.patch
  var/spack/repos/builtin/packages/hip/package.py
  var/spack/repos/builtin/packages/rccl/package.py
  var/spack/repos/builtin/packages/rocprofiler-dev/package.py
  var/spack/repos/builtin/packages/roctracer-dev/package.py
Labels: AMD

#23795 bump up version for rocm-4.2.0 release
  var/spack/repos/builtin/packages/hipblas/package.py
  var/spack/repos/builtin/packages/hipcub/package.py
  var/spack/repos/builtin/packages/hipfft/package.py
  var/spack/repos/builtin/packages/hipfort/package.py
  var/spack/repos/builtin/packages/hipsparse/package.py
  var/spack/repos/builtin/packages/migraphx/package.py
  var/spack/repos/builtin/packages/miopen-hip/package.py
  var/spack/repos/builtin/packages/miopen-opencl/package.py
  var/spack/repos/builtin/packages/miopengemm/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
  var/spack/repos/builtin/packages/rocm-tensile/package.py
  var/spack/repos/builtin/packages/rocprim/package.py
  var/spack/repos/builtin/packages/rocrand/package.py
  var/spack/repos/builtin/packages/rocsolver/package.py
  var/spack/repos/builtin/packages/rocsparse/package.py
  var/spack/repos/builtin/packages/rocthrust/package.py
Labels: AMD

#23779 AMD ROCm 4.2.0: Bump up rocm recipes part 2
  var/spack/repos/builtin/packages/hsa-rocr-dev/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/fix-spack-detection-4.2.0.patch
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/rocalution/package.py
  var/spack/repos/builtin/packages/rocm-debug-agent/package.py
  var/spack/repos/builtin/packages/rocm-gdb/package.py
  var/spack/repos/builtin/packages/rocm-validation-suite/package.py
Labels: AMD

#23803 Axom: Small updates and a new version
  var/spack/repos/builtin/packages/axom/package.py
Labels: e4s, ecp

#23700 py-lazyarray: add new version 0.3.2
  var/spack/repos/builtin/packages/py-lazyarray/package.py
Labels: new-version

#23806 py-torch: add patch to build on systems with glibc<2.12
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: patch

#23792 add dray release 0.1.6
  var/spack/repos/builtin/packages/dray/package.py
Labels: e4s, ecp, new-version, update-package

#23823 add ascent 0.7.1 release
  var/spack/repos/builtin/packages/ascent/package.py
Labels: e4s, ecp, new-version, update-package
