Repository spack/spack, pull requests merged in 2021-09, with the labels that each got.

#25724 allow building silo+mpi ^hdf5~mpi
  var/spack/repos/builtin/packages/silo/package.py
Labels: dependencies, update-package

#25605 Fix nghttp2
  var/spack/repos/builtin/packages/nghttp2/package.py
Labels: new-version, dependencies, update-package

#25714 Adding new versions of redis
  var/spack/repos/builtin/packages/redis/package.py
Labels: new-version, update-package

#25544 add mock_packages to test
  lib/spack/spack/test/cmd/install.py
Labels: tests

#19736 Add variant to allow unsupported compiler & CUDA combinations
  lib/spack/spack/build_systems/cuda.py
  var/spack/repos/builtin/packages/cuda/package.py
Labels: cuda, update-package, conflicts, build-systems, new-variant

#25730 bugfix: R packages can be concretized together with clingo again
  var/spack/repos/builtin/packages/r-pbkrtest/package.py
Labels: R, dependencies, update-package

#25528 Update versions for RAJA, CHAI, Umpire and camp
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/radiuss/spack.yaml
  var/spack/repos/builtin/packages/camp/package.py
  var/spack/repos/builtin/packages/chai/package.py
  var/spack/repos/builtin/packages/raja/package.py
  var/spack/repos/builtin/packages/umpire/package.py
Labels: new-version, dependencies, update-package, conflicts, maintainers, gitlab, new-variant

#25504 Bump nlohman-json and fix cmake args
  var/spack/repos/builtin/packages/nlohmann-json/package.py
Labels: new-version, update-package, new-variant

#25746 py-adios: add new version
  var/spack/repos/builtin/packages/py-adios/package.py
Labels: new-version, python, update-package

#25750 gromacs: add v2021.3
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: new-version, update-package

#25699 py-submitit: add new package
  var/spack/repos/builtin/packages/py-submitit/package.py
Labels: new-version, new-package, python, dependencies

#25744 mfem: Update stand-alone test to use test stage directory
  var/spack/repos/builtin/packages/mfem/package.py
Labels: update-package

#25754 Correct typo in r-assertive-data-uk
  var/spack/repos/builtin/packages/r-assertive-data-uk/package.py
Labels: R, dependencies, update-package

#25770 Package silo depends on m4 as well as autoconf/automake/libtool
  var/spack/repos/builtin/packages/silo/package.py
Labels: dependencies, update-package

#25749 New Package:py-pathtools@0.1.2
  var/spack/repos/builtin/packages/py-pathtools/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#25742 New Package:py-mrcfile@1.3.0
  var/spack/repos/builtin/packages/py-mrcfile/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#25747 New Package:py-colorclass@2.2.0
  var/spack/repos/builtin/packages/py-colorclass/package.py
Labels: new-version, new-package, python, dependencies

#25763 New Package:py-gooey@1.0.8.1
  var/spack/repos/builtin/packages/py-gooey/package.py
Labels: new-version, new-package, python, dependencies

#25762 Add tasmanian as optional dependency to libensemble
  var/spack/repos/builtin/packages/py-libensemble/package.py
Labels: python, dependencies, update-package, new-variant

#25771 WarpX: 21.09
  var/spack/repos/builtin/packages/py-warpx/package.py
  var/spack/repos/builtin/packages/warpx/package.py
Labels: new-version, python, dependencies, update-package, ecp

#25738 New Package: py-terminaltables@3.1.0
  var/spack/repos/builtin/packages/py-terminaltables/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#25743 New Package:py-lineenhancer@1.0.8
  var/spack/repos/builtin/packages/py-lineenhancer/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#25748 New Package:py-cryolobm@1.3.0
  var/spack/repos/builtin/packages/py-cryolobm/package.py
Labels: new-version, new-package, python, dependencies

#25741 New Package:py-ansi2html@1.6.0
  var/spack/repos/builtin/packages/py-ansi2html/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#25739 amrex: 21.09
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package

#25774 openssh: add new version 8.7
  var/spack/repos/builtin/packages/openssh/package.py
Labels: new-version, update-package

#25766 update version for rocm-4.3.1 release
  var/spack/repos/builtin/packages/atmi/package.py
  var/spack/repos/builtin/packages/comgr/package.py
  var/spack/repos/builtin/packages/hip-rocclr/package.py
  var/spack/repos/builtin/packages/hip/package.py
  var/spack/repos/builtin/packages/hipblas/package.py
  var/spack/repos/builtin/packages/hipcub/package.py
  var/spack/repos/builtin/packages/hipfft/package.py
  var/spack/repos/builtin/packages/hipfort/package.py
  var/spack/repos/builtin/packages/hipify-clang/package.py
  var/spack/repos/builtin/packages/hipsparse/package.py
  var/spack/repos/builtin/packages/hsa-rocr-dev/package.py
  var/spack/repos/builtin/packages/hsakmt-roct/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/migraphx/package.py
  var/spack/repos/builtin/packages/miopen-hip/package.py
  var/spack/repos/builtin/packages/miopen-opencl/package.py
  var/spack/repos/builtin/packages/miopengemm/package.py
  var/spack/repos/builtin/packages/mivisionx/package.py
  var/spack/repos/builtin/packages/rccl/package.py
  var/spack/repos/builtin/packages/rdc/package.py
  var/spack/repos/builtin/packages/rocalution/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
  var/spack/repos/builtin/packages/rocm-bandwidth-test/package.py
  var/spack/repos/builtin/packages/rocm-clang-ocl/package.py
  var/spack/repos/builtin/packages/rocm-cmake/package.py
  var/spack/repos/builtin/packages/rocm-dbgapi/package.py
  var/spack/repos/builtin/packages/rocm-debug-agent/package.py
  var/spack/repos/builtin/packages/rocm-device-libs/package.py
  var/spack/repos/builtin/packages/rocm-gdb/package.py
  var/spack/repos/builtin/packages/rocm-opencl/package.py
  var/spack/repos/builtin/packages/rocm-smi-lib/package.py
  var/spack/repos/builtin/packages/rocm-tensile/package.py
  var/spack/repos/builtin/packages/rocm-validation-suite/package.py
  var/spack/repos/builtin/packages/rocminfo/package.py
  var/spack/repos/builtin/packages/rocprim/package.py
  var/spack/repos/builtin/packages/rocprofiler-dev/package.py
  var/spack/repos/builtin/packages/rocrand/package.py
  var/spack/repos/builtin/packages/rocsolver/package.py
  var/spack/repos/builtin/packages/rocsparse/package.py
  var/spack/repos/builtin/packages/rocthrust/package.py
  var/spack/repos/builtin/packages/roctracer-dev-api/package.py
  var/spack/repos/builtin/packages/roctracer-dev/package.py
Labels: new-version, dependencies, patch, update-package, maintainers

#25778 Tensile_ARCHITECTURE -> AMDGPU_TARGETS in rocblas@4.3.0:
  var/spack/repos/builtin/packages/rocblas/package.py
Labels: update-package

#25791 Add checksum for mathematica 12.2.0
  var/spack/repos/builtin/packages/mathematica/package.py
Labels: new-version, update-package

#25772 RELION: added versions 3.1.3 and 3.1.2
  var/spack/repos/builtin/packages/relion/package.py
Labels: new-version, update-package

#25767 add new apcomp releases
  var/spack/repos/builtin/packages/apcomp/package.py
Labels: new-version, update-package

#25760 slepc: add gpu variants
  var/spack/repos/builtin/packages/slepc/package.py
Labels: dependencies, update-package

#25725 New package getOrganelle@1.7.5.0
  var/spack/repos/builtin/packages/py-getorganelle/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#25702 m4-1.4.19: Fix testsuite glitch
  var/spack/repos/builtin/packages/m4/package.py
Labels: dependencies, patch, update-package

#25721 Update hiop magma dependency
  var/spack/repos/builtin/packages/hiop/package.py
Labels: dependencies, update-package

#25718 py-anytree: add new package
  var/spack/repos/builtin/packages/py-anytree/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#25722 boost @1.76: set toolset for intel b2 invocation
  var/spack/repos/builtin/packages/boost/package.py
Labels: update-package

#25657 py-pyqt5: Don't install files into qt install prefix
  var/spack/repos/builtin/packages/py-pyqt5/package.py
Labels: python, update-package

#25799 New package: Fortran package manager (fpm)
  var/spack/repos/builtin/packages/fpm/package.py
Labels: new-version, new-package, dependencies, maintainers, new-variant

#25798 gdbm: add 1.21
  var/spack/repos/builtin/packages/gdbm/package.py
Labels: new-version, update-package

#25797 gzip: add 1.11
  var/spack/repos/builtin/packages/gzip/package.py
Labels: new-version, update-package

#25795 deal.II: Bump minimum required version for Ginkgo package
  var/spack/repos/builtin/packages/dealii/package.py
Labels: dependencies, update-package

#25606 Ginkgo: update to v1.4.0
  var/spack/repos/builtin/packages/ginkgo/1.4.0_skip_invalid_smoke_tests.patch
  var/spack/repos/builtin/packages/ginkgo/package.py
Labels: new-version, patch, update-package

#25283 Do not allow cray build system patch for later version of otf2
  var/spack/repos/builtin/packages/otf2/package.py
Labels: cray, dependencies, patch, update-package, ecp, e4s

#25789 WarpX/HiPACE/openPMD-api: Use when(...)
  var/spack/repos/builtin/packages/hipace/package.py
  var/spack/repos/builtin/packages/openpmd-api/package.py
  var/spack/repos/builtin/packages/warpx/package.py
Labels: dependencies, update-package

#25783 ccache 4.4 errors for old gcc/clang
  var/spack/repos/builtin/packages/ccache/package.py
Labels: update-package, conflicts, maintainers

#25710 uftrace: add new package
  var/spack/repos/builtin/packages/uftrace/package.py
Labels: new-version, new-package, dependencies, maintainers, new-variant, stand-alone-tests

#25715 add last mesa version in recipe
  var/spack/repos/builtin/packages/mesa/package.py
Labels: new-version, update-package

#25637 gxsview: new package, an MCNP viewer
  var/spack/repos/builtin/packages/gxsview/package.py
Labels: new-version, new-package, dependencies, conflicts, maintainers

#25691 libunistring: apply upstream fix for test suite
  var/spack/repos/builtin/packages/libunistring/package.py
Labels: new-version, dependencies, update-package, maintainers

#25801 perl: Fix regressions in the end-of-life revisions
  var/spack/repos/builtin/packages/perl/package.py
Labels: dependencies, patch, update-package

#25787 Update pinned OpenSSL version to 1.1.1l
  share/spack/gitlab/cloud_pipelines/stacks/e4s-on-power/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: gitlab

#25717 gtk-doc: fix testsuite (hung if gtkdocize was not installed)
  var/spack/repos/builtin/packages/gtk-doc/package.py
Labels: python, dependencies, patch, update-package

#25812 py-einops: add new package
  var/spack/repos/builtin/packages/py-einops/package.py
Labels: new-version, new-package, python, dependencies

#25550 FPChecker: adding fpchecker package (https://github.com/LLNL/FPChecker)
  var/spack/repos/builtin/packages/fpchecker/package.py
Labels: new-version, new-package, dependencies, conflicts, maintainers

#25800 Add package Garfield++ (garfieldpp)
  var/spack/repos/builtin/packages/garfieldpp/package.py
Labels: new-version, new-package, dependencies, maintainers

#25811 gdbm: fix build issue on macOS
  var/spack/repos/builtin/packages/gdbm/macOS.patch
  var/spack/repos/builtin/packages/gdbm/package.py
Labels: new-version, patch, update-package

#25814 [docs] minor grammar fix
  lib/spack/docs/workflows.rst
Labels: documentation

#25820 GDAL: add v3.3.2
  var/spack/repos/builtin/packages/gdal/package.py
Labels: new-version, update-package

#25745 amrex: support sundials variant in newer amrex versions
  var/spack/repos/builtin/packages/amrex/package.py
Labels: dependencies, update-package, conflicts, new-variant

#25701 autoconf: Fix 2.69 and 2.62 to pass the testsuite
  var/spack/repos/builtin/packages/autoconf/package.py
Labels: dependencies, patch, update-package, vendored-dependencies

#25793 netlib-lapack: Fixes for IBM XL builds
  var/spack/repos/builtin/packages/netlib-lapack/ibm-xl-3.9.1.patch
  var/spack/repos/builtin/packages/netlib-lapack/package.py
Labels: patch, update-package

#25836 Update package: Add new versions of nlopt
  var/spack/repos/builtin/packages/nlopt/package.py
Labels: new-version, update-package

#25733 lib/spack/env/cc: tolerate trailing / in elements of $PATH
  lib/spack/env/cc
  lib/spack/spack/test/cc.py
Labels: tests

#25558 Turn mbedtls into a MakefilePackage
  var/spack/repos/builtin/packages/mbedtls/package.py
Labels: new-version, dependencies, update-package, new-variant

#25838 Update catch2
  var/spack/repos/builtin/packages/catch2/package.py
Labels: new-version, update-package

#25559 cmake~ownlibs does not depend on openssl
  var/spack/repos/builtin/packages/cmake/package.py
Labels: new-version, dependencies, update-package, conflicts, maintainers, new-variant

#25835 Add new version of Alpaka, set minimal CMake version
  var/spack/repos/builtin/packages/alpaka/package.py
Labels: new-version, dependencies, update-package

#25776 Explicitly enable ccmake in cmake, and make bootstrapping use CMAKE_PREFIX_PATH to detect dependencies
  var/spack/repos/builtin/packages/cmake/package.py
Labels: dependencies, update-package, new-variant

#25549 trilinos: yak shaving
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: update-package, conflicts, new-variant

#25462 ParaView: disable externals for fmt and exprtk
  var/spack/repos/builtin/packages/paraview/package.py
Labels: update-package

#25761 Add systemc
  var/spack/repos/builtin/packages/systemc/package.py
Labels: new-version, new-package, maintainers, new-variant

#25819 perl: Handle gdbm API change caused by gdbm@1.20:
  var/spack/repos/builtin/packages/perl/package.py
Labels: dependencies, patch, update-package

#25804 gcc: add patch for sanitizer in gcc<11.1.0
  var/spack/repos/builtin/packages/gcc/package.py
Labels: patch, update-package

#25703 Gather teko requirements in one place and add conflict for muelu
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: update-package, conflicts

#25806 Disable module generation during bootstrapping
  lib/spack/spack/bootstrap.py
  lib/spack/spack/config.py
  lib/spack/spack/modules/__init__.py
  lib/spack/spack/modules/common.py
  lib/spack/spack/test/bootstrap.py
Labels: modules, tests, bootstrap

#25756 Fix clingo bootstrapping on rhel + ppc64le
  lib/spack/spack/bootstrap.py
Labels: power, bootstrap

#24007 Fix mpip package to depends_on libunwind when the libunwind variant is set to true
  var/spack/repos/builtin/packages/mpip/package.py
Labels: cray, dependencies, update-package

#25719 conduit: changes related to hdf5 builds that use cmake
  var/spack/repos/builtin/packages/conduit/package.py
Labels: dependencies, update-package

#25822 root: Add Version 6.24.06
  var/spack/repos/builtin/packages/root/package.py
Labels: new-version, update-package

#25448 sina: new package
  var/spack/repos/builtin/packages/sina/package.py
Labels: new-version, new-package, dependencies, maintainers, new-variant

#25855 py-torchmetrics: add v0.5.1
  var/spack/repos/builtin/packages/py-torchmetrics/package.py
Labels: new-version, python, update-package

#25839 Fix python/package.py's config_vars for python2 packages
  var/spack/repos/builtin/packages/python/package.py
Labels: python, update-package

#25849 Add new package gnuconfig
  var/spack/repos/builtin/packages/gnuconfig/package.py
Labels: new-version, new-package, maintainers

#22845 specs: move to new spec.json format with build provenance
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/ci.py
  lib/spack/spack/cmd/__init__.py
  lib/spack/spack/cmd/buildcache.py
  lib/spack/spack/cmd/ci.py
  lib/spack/spack/cmd/debug.py
  lib/spack/spack/cmd/install.py
  lib/spack/spack/database.py
  lib/spack/spack/directory_layout.py
  lib/spack/spack/environment.py
  lib/spack/spack/hash_types.py
  lib/spack/spack/monitor.py
  lib/spack/spack/schema/buildcache_spec.py
  lib/spack/spack/schema/spec.py
  lib/spack/spack/spec.py
  lib/spack/spack/store.py
  lib/spack/spack/test/bindist.py
  lib/spack/spack/test/build_distribution.py
  lib/spack/spack/test/ci.py
  lib/spack/spack/test/cmd/buildcache.py
  lib/spack/spack/test/cmd/ci.py
  lib/spack/spack/test/cmd/debug.py
  lib/spack/spack/test/cmd/diff.py
  lib/spack/spack/test/cmd/find.py
  lib/spack/spack/test/cmd/install.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/data/mirrors/legacy_yaml/build_cache/test-debian6-core2-gcc-4.5.0-zlib-1.2.11-t5mczux3tfqpxwmg7egp7axy2jvyulqk.spec.yaml
  lib/spack/spack/test/data/mirrors/legacy_yaml/build_cache/test-debian6-core2/gcc-4.5.0/zlib-1.2.11/test-debian6-core2-gcc-4.5.0-zlib-1.2.11-t5mczux3tfqpxwmg7egp7axy2jvyulqk.spack
  lib/spack/spack/test/directory_layout.py
  lib/spack/spack/test/spec_semantics.py
  lib/spack/spack/test/spec_yaml.py
  lib/spack/spack/test/test_activations.py
  lib/spack/spack/test/views.py
  lib/spack/spack/util/spack_json.py
  share/spack/spack-completion.bash
  var/spack/repos/builtin.mock/packages/zlib/package.py
  var/spack/repos/builtin.mock/packages/zlib/w_patch.patch
Labels: hash-change, tests, commands, environments, binary-packages, utilities, yaml

#25827 libfabric: Adds v1.13.1
  var/spack/repos/builtin/packages/libfabric/package.py
Labels: new-version, update-package, maintainers

#25807 openssl: link system openssl.conf after installation
  var/spack/repos/builtin/packages/openssl/package.py
Labels: update-package

#25848 Refactor unit-tests in test/architecture.py
  lib/spack/spack/bootstrap.py
  lib/spack/spack/platforms/__init__.py
  lib/spack/spack/test/architecture.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/conftest.py
Labels: refactoring, tests, architecture

#25826 Add IFX to all MSVC
  lib/spack/spack/compilers/msvc.py
Labels: compilers, windows

#25871 support patching on win via git
  lib/spack/spack/patch.py
Labels: windows

#25054 CUDA official GCC conflicts
  lib/spack/spack/build_systems/cuda.py
Labels: conflicts, build-systems

#25869 Have GROMACS log files indicate spack was used
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: update-package

#25554 SQLite: fix rtree, add version, make discoverable
  var/spack/repos/builtin/packages/sqlite/package.py
Labels: new-version, update-package

#25790 openssh: Fix parallel install issue, add test suite
  var/spack/repos/builtin/packages/openssh/package.py
Labels: dependencies, update-package, maintainers

#25845 Pipelines: build kokkos-kernels on bigger instance
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: gitlab

#24035 Remove dead code in installer
  lib/spack/spack/directory_layout.py
  lib/spack/spack/installer.py
  lib/spack/spack/test/installer.py
Labels: refactoring, tests, maintainers

#25818 [docs] document official gfortran macOS precompiled binaries
  lib/spack/docs/getting_started.rst
Labels: documentation

#25905 py-pandas: add v1.3.3
  var/spack/repos/builtin/packages/py-pandas/package.py
Labels: new-version, python, update-package

#25904 environment-modules: add version 5.0.0
  var/spack/repos/builtin/packages/environment-modules/package.py
Labels: new-version, dependencies, update-package

#25656 More complete nmap support
  var/spack/repos/builtin/packages/nmap/package.py
Labels: new-version, dependencies, update-package, new-variant

#25897 Bugfix: spack test debug requires Spack tty
  lib/spack/spack/install_test.py
Labels: bugfix

#25569 Tell gtk-doc where the XML catalog is
  var/spack/repos/builtin/packages/gtk-doc/package.py
Labels: update-package

#25831 Bugfix: Correct checksum's sha256 when retrieve from remote
  lib/spack/spack/cmd/checksum.py
Labels: commands, bugfix

#25698 HiPACE: Update openPMD dep, add v21.09
  var/spack/repos/builtin/packages/hipace/package.py
  var/spack/repos/builtin/packages/openpmd-api/package.py
Labels: new-version, dependencies, update-package

#25535 Small updates to Kokkos package
  var/spack/repos/builtin/packages/hpx/package.py
  var/spack/repos/builtin/packages/kokkos/package.py
Labels: dependencies, update-package, maintainers, new-variant

#25711 Add py-glmnet
  var/spack/repos/builtin/packages/py-glmnet/package.py
Labels: new-version, new-package, python, dependencies

#25844 py-kornia: add new package
  var/spack/repos/builtin/packages/py-kornia/package.py
Labels: new-version, new-package, python, dependencies

#24631 [package][new version] Provide draco-7_11_0
  var/spack/repos/builtin/packages/draco/package.py
Labels: new-version, dependencies, update-package, new-variant

#25834 Make sure perl doesn't run into recompile with fPIC linker errors
  var/spack/repos/builtin/packages/perl/package.py
Labels: dependencies, update-package, conflicts

#25906 Fix ravel package
  var/spack/repos/builtin/packages/ravel/package.py
  var/spack/repos/builtin/packages/ravel/qpainterpath.patch
Labels: dependencies, patch, update-package

#25875 Log4cxx 0.12.0 only as CMake package
  var/spack/repos/builtin/packages/log4cxx/package.py
Labels: new-version, dependencies, update-package, maintainers

#25866 Add a master branch for gnuconfig
  var/spack/repos/builtin/packages/gnuconfig/package.py
Labels: new-version, update-package

#25911 trilinos: add conflicts for fortran
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: update-package, conflicts

#25850 New Version: mothur@1.46.1
  var/spack/repos/builtin/packages/mothur/package.py
Labels: new-version, update-package

#25910 kokkos: fail gracefully on missing microarch
  var/spack/repos/builtin/packages/kokkos/package.py
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: update-package, microarchitectures

#25889 Disable dvsdk variants
  var/spack/repos/builtin/packages/ecp-data-vis-sdk/package.py
Labels: update-package, conflicts, ecp, new-variant

#25873 Avoid hidden circular dependencies in spack.architecture
  lib/spack/docs/developer_guide.rst
  lib/spack/spack/architecture.py
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/concretize.py
  lib/spack/spack/main.py
  lib/spack/spack/operating_systems/__init__.py
  lib/spack/spack/operating_systems/_operating_system.py
  lib/spack/spack/operating_systems/cray_backend.py
  lib/spack/spack/operating_systems/cray_frontend.py
  lib/spack/spack/operating_systems/linux_distro.py
  lib/spack/spack/operating_systems/mac_os.py
  lib/spack/spack/platforms/__init__.py
  lib/spack/spack/platforms/_platform.py
  lib/spack/spack/platforms/cray.py
  lib/spack/spack/platforms/darwin.py
  lib/spack/spack/platforms/linux.py
  lib/spack/spack/platforms/test.py
  lib/spack/spack/spec.py
  lib/spack/spack/target.py
  lib/spack/spack/test/architecture.py
  lib/spack/spack/test/concretize.py
  var/spack/repos/builtin/packages/pmix/package.py
Labels: compilers, documentation, refactoring, tests, update-package, binary-packages, architecture

#25912 petsc, petsc4py: add version 3.15.4
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/py-petsc4py/package.py
Labels: new-version, python, update-package

#25879 Fix environment reading from lockfile to trust written hashes
  lib/spack/spack/environment.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/env.py
Labels: tests, environments

#25846 ESMF, NEMSIO and UFS-UTILS changes.
  var/spack/repos/builtin/packages/esmf/package.py
  var/spack/repos/builtin/packages/nemsio/package.py
  var/spack/repos/builtin/packages/ufs-utils/package.py
Labels: update-package

#25918 Rename camp 'main' version
  var/spack/repos/builtin/packages/camp/package.py
Labels: new-version, update-package

#25916 update parallelio version
  var/spack/repos/builtin/packages/parallelio/package.py
Labels: new-version, update-package

#25823 trilinos: variant for libx11
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: dependencies, update-package, conflicts, new-variant

#25923 dcmtk: add versions 3.6.4 - 3.6.6
  var/spack/repos/builtin/packages/dcmtk/package.py
Labels: new-version, update-package

#25886 ocaml: add patch for clang@11:
  var/spack/repos/builtin/packages/ocaml/package.py
Labels: patch, update-package

#25842 Set PYTHONPATH in reframe
  var/spack/repos/builtin/packages/reframe/package.py
Labels: update-package

#25712 Add py-pot with patch
  var/spack/repos/builtin/packages/py-pot/175.patch
  var/spack/repos/builtin/packages/py-pot/package.py
Labels: new-version, new-package, python, dependencies, patch

#25940 trilinos: Add missing mumps TPL commands
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: update-package

#25921 Pipelines: (Re)enable E4S on Power stack
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-on-power/spack.yaml
Labels: gitlab

#25915 dealii: add version 9.3.1
  var/spack/repos/builtin/packages/dealii/package.py
Labels: new-version, update-package

#25945 Apply backported fixes to GCC@4.9.3
  var/spack/repos/builtin/packages/gcc/package.py
Labels: patch, update-package

#24639 Adding ability to compare git references to spack install
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/paths.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/cmd/install.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/git_fetch.py
  lib/spack/spack/test/util/util_url.py
  lib/spack/spack/test/versions.py
  lib/spack/spack/url.py
  lib/spack/spack/util/url.py
  lib/spack/spack/version.py
  var/spack/repos/builtin.mock/packages/git-test-commit/package.py
Labels: new-version, fetching, tests, commands, versions, utilities

#25678 Add a __reduce__ method to Environment
  lib/spack/spack/environment.py
  lib/spack/spack/test/environment.py
Labels: macOS, tests, environments, python3, bugfix, stand-alone-tests

#25502 Make clingo the default solver
  .github/workflows/unit_tests.yaml
  etc/spack/defaults/config.yaml
  lib/spack/spack/bootstrap.py
  lib/spack/spack/test/conftest.py
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  var/spack/repos/builtin/packages/libtool/package.py
  var/spack/repos/builtin/packages/numactl/package.py
Labels: new-version, dependencies, defaults, tests, environments, patch, update-package, conflicts, workflow, gitlab

#25950 Added LvArray 0.2.2
  var/spack/repos/builtin/packages/lvarray/package.py
Labels: new-version, update-package

#25857 Raise exception when 1+ stand-alone tests fail
  lib/spack/spack/install_test.py
Labels: stand-alone-tests, core

#25650 py-pybind11: use PythonPackage install method
  var/spack/repos/builtin/packages/py-pybind11/package.py
Labels: python, update-package

#25958 bedops: Fix checksum for 2.4.40
  var/spack/repos/builtin/packages/bedops/package.py
Labels: new-version, update-package

#25964 Inform the user about bootstrapping
  lib/spack/spack/bootstrap.py
Labels: user-experience

#25967 Fix NameError in foreground/background test
  lib/spack/spack/test/llnl/util/tty/log.py
Labels: tests

#25962 Improve bootstrapping docs a hair
  lib/spack/docs/getting_started.rst
  lib/spack/docs/tables/system_prerequisites.csv
Labels: documentation

#25775 Update HPX package
  var/spack/repos/builtin/packages/asio/package.py
  var/spack/repos/builtin/packages/hpx/package.py
Labels: dependencies, update-package, conflicts, maintainers, new-variant

#25966 Add a deprecation warning when using the old concretizer
  lib/spack/spack/spec.py
Labels: user-experience

#25977 Recommend Git's manyFiles feature
  README.md
  lib/spack/docs/getting_started.rst
  lib/spack/docs/index.rst
Labels: documentation

#24509 cc: Use parameter expansion instead of basename
  lib/spack/env/cc
Labels: compilers

#25990 New package: ROMS
  var/spack/repos/builtin/packages/roms/package.py
Labels: new-version, new-package, dependencies, conflicts, new-variant

#25989 Package magma: Fix for problem with cmake@3.21
  var/spack/repos/builtin/packages/magma/package.py
Labels: update-package

#25997 Add v7.0.2 to Admixtools
  var/spack/repos/builtin/packages/admixtools/package.py
Labels: new-version, update-package

#25948 workaround a cmake/rocm bug in heffte
  var/spack/repos/builtin/packages/heffte/package.py
Labels: update-package

#26001 Filter UserWarning out of test output
  pytest.ini
Labels: tests, maintainers, ci
