Repository spack/spack, pull requests merged in 2021-10, with the labels that each got.

#25424 New package: slurm-drmaa
  var/spack/repos/builtin/packages/slurm-drmaa/package.py
Labels: new-version, new-package, dependencies, patch, maintainers

#26387 vtk: fix install path to lib
  var/spack/repos/builtin/packages/vtk/package.py
Labels: update-package

#26390 py-shiboken2: add new package
  var/spack/repos/builtin/packages/py-shiboken2/package.py
Labels: new-version, new-package, python, dependencies, extends

#25982 Replace install_test.py asserts with exceptions
  lib/spack/spack/install_test.py
  lib/spack/spack/test/test_suite.py
Labels: tests, stand-alone-tests

#25843 py-setuptools-rust: remove checksum url workaround (issue 24668)
  var/spack/repos/builtin/packages/py-setuptools-rust/package.py
Labels: python, update-package

#26127 tests: Add info command tests to increase coverage
  lib/spack/spack/test/cmd/info.py
Labels: tests, core

#26363 boost: @1.77.0: need updated python_jam.patch for +python
  var/spack/repos/builtin/packages/boost/package.py
  var/spack/repos/builtin/packages/boost/python_jam-1_77.patch
Labels: patch, update-package

#26404 py-fury: add new package
  var/spack/repos/builtin/packages/py-fury/package.py
Labels: new-version, new-package, python, dependencies

#26403 Update SLEPc to version 3.16
  var/spack/repos/builtin/packages/slepc/package.py
Labels: new-version, dependencies, update-package

#26401 Add oneAPI packages from 2021.4 release
  lib/spack/spack/test/compilers/detection.py
  var/spack/repos/builtin/packages/intel-oneapi-ccl/package.py
  var/spack/repos/builtin/packages/intel-oneapi-compilers/package.py
  var/spack/repos/builtin/packages/intel-oneapi-dal/package.py
  var/spack/repos/builtin/packages/intel-oneapi-dnn/package.py
  var/spack/repos/builtin/packages/intel-oneapi-dpl/package.py
  var/spack/repos/builtin/packages/intel-oneapi-ipp/package.py
  var/spack/repos/builtin/packages/intel-oneapi-ippcp/package.py
  var/spack/repos/builtin/packages/intel-oneapi-mkl/package.py
  var/spack/repos/builtin/packages/intel-oneapi-mpi/package.py
  var/spack/repos/builtin/packages/intel-oneapi-tbb/package.py
  var/spack/repos/builtin/packages/intel-oneapi-vpl/package.py
  var/spack/repos/builtin/packages/intel-oneapi-vtune/package.py
Labels: new-version, tests, resources, intel, update-package

#26398 py-pyvista: add new package
  var/spack/repos/builtin/packages/py-pyvista/package.py
Labels: new-version, new-package, python, dependencies

#26396 py-pyside: @1.2.2 => fix sphinx doc build
  var/spack/repos/builtin/packages/py-pyside/package.py
Labels: python, dependencies, update-package

#26395 Added package for the Python Globus SDK (globus.org)
  var/spack/repos/builtin/packages/py-globus-sdk/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#26393 py-ipywidgets: add 7.6.5 and get sources from pypi
  var/spack/repos/builtin/packages/py-ipywidgets/package.py
Labels: new-version, python, dependencies, update-package

#26389 py-pyface: add 7.3.0
  var/spack/repos/builtin/packages/py-pyface/package.py
Labels: new-version, python, dependencies, update-package, conflicts

#26386 STRUMPACK: new version 6.0.0
  var/spack/repos/builtin/packages/strumpack/package.py
Labels: new-version, dependencies, update-package

#26383 ns-3-dev: Add versions 3.31, 3.32, 3.33, and 3.34
  var/spack/repos/builtin/packages/ns-3-dev/package.py
Labels: new-version, update-package

#25312 med: work around "could not find TARGET hdf5" error
  var/spack/repos/builtin/packages/med/med-4.1.0-hdf5-target.patch
  var/spack/repos/builtin/packages/med/package.py
Labels: dependencies, patch, update-package

#26375 petsc,py-petsc4py add versions 3.15.5, 3.16.0
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/py-petsc4py/package.py
Labels: new-version, python, dependencies, update-package

#26362 Update LWGRP and DTCMP for latest releases
  var/spack/repos/builtin/packages/dtcmp/package.py
  var/spack/repos/builtin/packages/lwgrp/package.py
Labels: new-version, update-package

#26359 mpibind: Flux variant and new stable version
  var/spack/repos/builtin/packages/mpibind/package.py
Labels: new-version, dependencies, update-package, new-variant

#26350 damask-grid, damask-mesh: fix spack install --test=root
  var/spack/repos/builtin/packages/damask-grid/package.py
  var/spack/repos/builtin/packages/damask-mesh/package.py
Labels: update-package

#26346 otf: Explicitly disable MPI and ZOIDFS
  var/spack/repos/builtin/packages/otf/package.py
Labels: update-package

#26344 Update ArborX for release 1.1
  var/spack/repos/builtin/packages/arborx/package.py
Labels: new-version, dependencies, update-package

#26337 py-gsutil: bump version
  var/spack/repos/builtin/packages/py-gsutil/package.py
Labels: new-version, python, update-package

#26320 llvm-openmp: 12.0.1
  var/spack/repos/builtin/packages/llvm-openmp/package.py
Labels: build-error, new-version, update-package, arm

#26407 py-coverage: add 5.5
  var/spack/repos/builtin/packages/py-coverage/package.py
Labels: new-version, python, update-package

#26297 hoppet: add new package
  var/spack/repos/builtin/packages/hoppet/package.py
Labels: new-version, new-package, update-package, maintainers

#26296 Eigen upgrade
  var/spack/repos/builtin/packages/eigen/package.py
Labels: new-version, update-package

#26149 cmor: bump version and depend on the specific libuuid packages needed by version.
  var/spack/repos/builtin/packages/cmor/package.py
Labels: new-version, dependencies, update-package

#26292 graphviz: macOS patch not needed on newer version
  var/spack/repos/builtin/packages/graphviz/package.py
Labels: patch, update-package

#26269 Update DataTransferKit for RC3
  var/spack/repos/builtin/packages/datatransferkit/package.py
Labels: new-version, dependencies, update-package

#26392 py-traitsui: add 7.2.1
  var/spack/repos/builtin/packages/py-traitsui/package.py
Labels: new-version, python, dependencies, update-package, conflicts

#26342 Add pmix variant to openmpi package
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: dependencies, update-package, conflicts, new-variant

#26340 Add new package: ffte
  var/spack/repos/builtin/packages/ffte/package.py
Labels: new-version, new-package, dependencies, conflicts, maintainers, new-variant, nvhpc, fortran

#26303 xrootd: Add current version 5.3.1 and restrict to openssl@1
  var/spack/repos/builtin/packages/xrootd/package.py
Labels: new-version, dependencies, update-package

#26405 gh: add new package
  var/spack/repos/builtin/packages/gh/package.py
Labels: new-version, new-package, dependencies, maintainers

#26224 uftrace(dynamic function graph tracer): bump version
  var/spack/repos/builtin/packages/uftrace/package.py
Labels: new-version, update-package

#25781 hypre: new version 2.22.1, variant fortran, becomes AutotoolsPackage
  var/spack/repos/builtin/packages/hypre/package.py
Labels: new-version, update-package, new-variant

#25647 Mark spec uninstalled if spack install --overwrite fails and backup can't be restored
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/installer.py
  lib/spack/spack/test/installer.py
Labels: tests, utilities

#25864 Fenicsx update dependency and build for main branch
  var/spack/repos/builtin/packages/fenics-basix/package.py
  var/spack/repos/builtin/packages/py-fenics-ffcx/package.py
Labels: python, dependencies, update-package

#26402 Allow non-empty ranges 1.1.0:1.1
  lib/spack/spack/test/versions.py
  lib/spack/spack/version.py
Labels: tests, versions

#26150 trilinos: add conflict and enable gtest for developers
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: dependencies, update-package, conflicts, new-variant

#26140 axel(download manager): bump version and fix build
  var/spack/repos/builtin/packages/axel/package.py
Labels: new-version, dependencies, update-package

#26414 Added py-sqlalchemy-stubs package.
  var/spack/repos/builtin/packages/py-sqlalchemy-stubs/package.py
Labels: new-version, new-package, python, dependencies

#25895 Fix error message when test throws AttributeError
  lib/spack/spack/package.py
Labels: tests, bugfix

#26070 Simplify setup_package in build environment
  lib/spack/spack/build_environment.py
Labels: build-environment, tests

#26411 Added py-typeguard package.
  var/spack/repos/builtin/packages/py-sphinx-autodoc-typehints/package.py
  var/spack/repos/builtin/packages/py-typeguard/package.py
Labels: new-version, new-package, python, dependencies

#25449 New versions: geant4@10.7.2, geant4-data@10.7.2
  var/spack/repos/builtin/packages/geant4-data/package.py
  var/spack/repos/builtin/packages/geant4/package.py
Labels: new-version, dependencies, update-package

#26417 ucx: add version 1.11.2
  var/spack/repos/builtin/packages/ucx/package.py
Labels: new-version, update-package

#26418 Add hypre release 2.23.0
  var/spack/repos/builtin/packages/hypre/package.py
Labels: new-version, update-package

#26413 Added random-order plugin for py-pytest.
  var/spack/repos/builtin/packages/py-pytest-random-order/package.py
Labels: new-version, new-package, python, dependencies

#26421 clingo-bootstrap: add a variant for static libstdc++
  var/spack/repos/builtin/packages/clingo-bootstrap/package.py
Labels: update-package, new-variant

#26416 amrex: 21.10
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package

#26315 cddlib: Update URLs, sha256
  var/spack/repos/builtin/packages/cddlib/package.py
Labels: new-version, dependencies, update-package, maintainers

#26427 py-ipyevents: add new package
  var/spack/repos/builtin/packages/py-ipyevents/package.py
Labels: new-version, new-package, python, dependencies

#26423 fltk: new version 1.3.7, new variant xft
  var/spack/repos/builtin/packages/fltk/package.py
Labels: new-version, dependencies, update-package, new-variant

#26426 py-ipycanvas: add new package
  var/spack/repos/builtin/packages/py-ipycanvas/package.py
Labels: new-version, new-package, python, dependencies

#26220 Damaris package file updated - latest v1.5.0 tag and build allows ins…
  var/spack/repos/builtin/packages/damaris/package.py
Labels: new-version, dependencies, update-package, maintainers, new-variant

#26431 py-ipyvtk-simple: add new package
  var/spack/repos/builtin/packages/py-ipyvtk-simple/package.py
Labels: new-version, new-package, python, dependencies

#26353 use rync spack package instead of refering rsync pkg install
  var/spack/repos/builtin/packages/atmi/0002-Remove-usr-bin-rsync-reference.patch
  var/spack/repos/builtin/packages/atmi/package.py
Labels: dependencies, patch, update-package

#26433 py-pybids: add 0.13.2
  var/spack/repos/builtin/packages/py-pybids/package.py
Labels: new-version, python, update-package

#26432 [podio] add supported build_type values
  var/spack/repos/builtin/packages/podio/package.py
Labels: update-package

#26434 py-nitransforms: add new package
  var/spack/repos/builtin/packages/py-nitransforms/package.py
Labels: new-version, new-package, python, dependencies

#26435 py-attrs: add 21.2.0
  var/spack/repos/builtin/packages/py-attrs/package.py
Labels: new-version, python, dependencies, update-package

#26436 py-packaging: add 21.0
  var/spack/repos/builtin/packages/py-packaging/package.py
Labels: new-version, python, dependencies, update-package

#26081 p4est: update to 2.8
  var/spack/repos/builtin/packages/p4est/package.py
Labels: new-version, update-package

#26437 py-svgutils: add new package
  var/spack/repos/builtin/packages/py-svgutils/package.py
Labels: new-version, new-package, python, dependencies

#26429 openblas: add 0.3.18
  var/spack/repos/builtin/packages/openblas/package.py
Labels: new-version, update-package

#26430 meson: add 0.59.2
  var/spack/repos/builtin/packages/meson/package.py
Labels: new-version, update-package

#26425 Fix the FORM package
  var/spack/repos/builtin/packages/form/package.py
Labels: new-version, dependencies, update-package, maintainers, new-variant

#26439 bison: new versions 3.8:3.8.2
  var/spack/repos/builtin/packages/bison/package.py
Labels: new-version, update-package

#26424 chombo: several build fixes: csh, space regex and install
  var/spack/repos/builtin/packages/chombo/package.py
Labels: dependencies, update-package

#26384 DiHydrogen: Specify required NVSHMEM variants
  var/spack/repos/builtin/packages/dihydrogen/package.py
Labels: dependencies, update-package

#24927 PICSAR: added support for GCC >10.0 and arm compiler
  var/spack/repos/builtin/packages/picsar/package.py
Labels: update-package

#26412 source-highlight: add conflict and gcc11-compatible version
  var/spack/repos/builtin/packages/source-highlight/package.py
Labels: new-version, dependencies, patch, update-package, conflicts

#26347 Explicitly set path to Kokkos for ArborX testing
  var/spack/repos/builtin/packages/arborx/package.py
Labels: update-package

#26453 update ocaml to 4.13.1
  var/spack/repos/builtin/packages/ocaml/package.py
Labels: new-version, update-package

#26448 py-transforms3d: add new package
  var/spack/repos/builtin/packages/py-transforms3d/package.py
Labels: new-version, new-package, python, dependencies

#26447 py-seaborn: add 0.11.2
  var/spack/repos/builtin/packages/py-seaborn/package.py
Labels: new-version, python, update-package

#26445 FEniCSx: fix CMake root directory and dependency versions
  var/spack/repos/builtin/packages/fenics-basix/package.py
  var/spack/repos/builtin/packages/fenics-dolfinx/package.py
  var/spack/repos/builtin/packages/py-fenics-dolfinx/package.py
Labels: python, dependencies, update-package, maintainers

#26442 Build ppc64le docker images
  .github/workflows/build-containers.yml
  lib/spack/external/__init__.py
  lib/spack/external/archspec/cpu/detect.py
  lib/spack/external/archspec/cpu/microarchitecture.py
Labels: vendored-dependencies, workflow

#26452 py-pockets: add new package
  var/spack/repos/builtin/packages/py-pockets/package.py
Labels: new-version, new-package, python, dependencies

#26449 git-annex: add 8.20210804 for amd64
  var/spack/repos/builtin/packages/git-annex/package.py
Labels: new-version, update-package

#26214 Package update: PAPI, new variants rocm and rocm_smi
  var/spack/repos/builtin/packages/papi/package.py
Labels: dependencies, update-package, new-variant

#25837 Update byacc
  var/spack/repos/builtin/packages/byacc/package.py
Labels: new-version, update-package

#26365 python: correctly disable ~tkinter when @3.8
  var/spack/repos/builtin/packages/python/package.py
  var/spack/repos/builtin/packages/python/tkinter-3.8.patch
Labels: macOS, python, patch, update-package

#26409 hdf5: allow implicit functions on apple-clang
  var/spack/repos/builtin/packages/hdf5/package.py
Labels: build-error, update-package

#26008 Fix NonVirtualInHierarchyError message format
  lib/spack/spack/modules/lmod.py
Labels: modules

#26458 py-templateflow: add new package
  var/spack/repos/builtin/packages/py-templateflow/package.py
Labels: new-version, new-package, python, dependencies

#26457 py-sphinxcontrib-napoleon: add new package
  var/spack/repos/builtin/packages/py-sphinxcontrib-napoleon/package.py
Labels: new-version, new-package, python, dependencies

#26446 py-mne: add new package
  var/spack/repos/builtin/packages/py-mne/package.py
Labels: new-version, new-package, python, dependencies

#26460 Disable tests on hip for cmake 3.21
  var/spack/repos/builtin/packages/hip/package.py
Labels: update-package

#26461 py-pybids: add 0.9.5
  var/spack/repos/builtin/packages/py-pybids/package.py
Labels: new-version, python, dependencies, update-package

#26099 Add variants for libunwind
  var/spack/repos/builtin/packages/libunwind/package.py
Labels: new-version, patch, update-package, new-variant

#25367 graph500: added option -fcommon for gcc@10.2
  var/spack/repos/builtin/packages/graph500/package.py
Labels: update-package

#26440 freebayes: Fix running the testsuite and add pkgconfig
  var/spack/repos/builtin/packages/freebayes/package.py
Labels: dependencies, update-package

#26463 podio: remove build_type variant
  var/spack/repos/builtin/packages/podio/package.py
Labels: update-package

#26462 py-nibabel: add 2.4.1
  var/spack/repos/builtin/packages/py-nibabel/package.py
Labels: new-version, python, dependencies, update-package

#26465 py-duecredit: add 0.6.5
  var/spack/repos/builtin/packages/py-duecredit/package.py
Labels: new-version, python, dependencies, update-package

#25933 evtgen: fix mac build and version 2.0.0 with pythia >= 8.304.
  var/spack/repos/builtin/packages/evtgen/evtgen-2.0.0.patch
  var/spack/repos/builtin/packages/evtgen/package.py
Labels: patch, update-package

#25460 arm: Added download and better detection
  var/spack/repos/builtin/packages/arm/package.py
Labels: new-version, update-package, conflicts, maintainers

#26143 bugfix/cp2k intel oneapi
  var/spack/repos/builtin/packages/cp2k/package.py
Labels: patch, update-package

#23737 Enhance error reporting in stage.py for failed fetches
  lib/spack/spack/stage.py
Labels: error-messages, stage

#25261 Update grpc recipe
  var/spack/repos/builtin/packages/grpc/package.py
Labels: dependencies, update-package, new-variant

#25952 add MKL support
  var/spack/repos/builtin/packages/octave/package.py
Labels: update-package

#26291 ParaView: add new release ParaView v5.10.0-RC1
  var/spack/repos/builtin/packages/paraview/package.py
Labels: new-version, update-package

#26428 Avoid replacing symlinked spack.yaml when concretizing an environment
  lib/spack/spack/environment.py
  lib/spack/spack/test/cmd/env.py
Labels: tests, environments

#26173 masurca: removing sys/sysctl.h include
  var/spack/repos/builtin/packages/masurca/package.py
Labels: build-error, update-package

#26473 py-scikit-learn: add 0.19.2 and 0.22.2.post1
  var/spack/repos/builtin/packages/py-scikit-learn/package.py
Labels: new-version, python, update-package

#26477 cppgsl: Add 3.1.0
  var/spack/repos/builtin/packages/cppgsl/package.py
Labels: new-version, update-package

#26280 Add new pythia8 variants and fix url_for_version
  var/spack/repos/builtin/packages/pythia8/package.py
Labels: dependencies, update-package, conflicts, new-variant, extends

#26313 Python source build windows
  var/spack/repos/builtin/packages/python/cpython-windows-externals.patch
  var/spack/repos/builtin/packages/python/package.py
Labels: python, dependencies, patch, update-package, new-variant, windows

#24295 gcc: patch for https://gcc.gnu.org/bugzilla/show_bug.cgi?id=100102
  var/spack/repos/builtin/packages/gcc/package.py
Labels: gcc, patch, update-package

#25338 esys-particle: add new package esys-particle
  var/spack/repos/builtin/packages/esys-particle/package.py
Labels: new-version, new-package, dependencies, maintainers

#25880 Stand-alone tests: distinguish NO-TESTS from PASSED
  lib/spack/spack/install_test.py
  lib/spack/spack/package.py
Labels: stand-alone-tests, core

#23977 intel-tbb: install pkgconfig file
  var/spack/repos/builtin/packages/intel-tbb/package.py
Labels: intel, update-package

#26480 log4cxx: new version and fix for c++11
  var/spack/repos/builtin/packages/log4cxx/package.py
Labels: new-version, dependencies, update-package, new-variant

#26481 itk: Add 5.2.0
  var/spack/repos/builtin/packages/itk/package.py
Labels: new-version, update-package

#25803 Patch for molden (ambor) when using gcc>10
  var/spack/repos/builtin/packages/molden/package.py
Labels: patch, update-package

#26518 zstd: fix install name on macOS
  var/spack/repos/builtin/packages/zstd/package.py
Labels: build-error, update-package

#26071 Isolate bootstrap configuration from user configuration
  lib/spack/docs/getting_started.rst
  lib/spack/spack/bootstrap.py
  lib/spack/spack/cmd/clean.py
  lib/spack/spack/config.py
  lib/spack/spack/test/bootstrap.py
Labels: documentation, tests, commands

#26360 py-parsl - added recipe for Parsl (see https://parsl-project.org/)
  var/spack/repos/builtin/packages/py-mypy/package.py
  var/spack/repos/builtin/packages/py-parsl/package.py
  var/spack/repos/builtin/packages/py-sphinx/package.py
Labels: new-version, new-package, python, dependencies, update-package, maintainers

#26522 mpl: add new package
  var/spack/repos/builtin/packages/mpl/package.py
Labels: new-version, new-package, dependencies, maintainers

#26524 sundials: Add 5.8.0 and sycl variant
  var/spack/repos/builtin/packages/sundials/package.py
Labels: new-version, update-package, conflicts, new-variant

#26507 WarpX: 21.10
  var/spack/repos/builtin/packages/py-warpx/package.py
  var/spack/repos/builtin/packages/warpx/package.py
Labels: new-version, python, update-package, ecp

#26514 py-rsatoolbox: add new package
  var/spack/repos/builtin/packages/py-rsatoolbox/package.py
Labels: new-version, new-package, python, dependencies

#26512 libatomic_ops: add v7.6.12
  var/spack/repos/builtin/packages/libatomic-ops/package.py
Labels: new-version, update-package

#26444 py-flatbuffers: Add py-flatbuffers package
  var/spack/repos/builtin/packages/py-flatbuffers/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#26216 add a patch for the case +host arch=ppc64le (fixes #22758)
  var/spack/repos/builtin/packages/phist/package.py
  var/spack/repos/builtin/packages/phist/ppc64_sse.patch
Labels: patch, update-package

#24883 Fix compilation with `arm` and `nvhpc` compilers
  var/spack/repos/builtin/packages/meme/arm.patch
  var/spack/repos/builtin/packages/meme/package.py
Labels: dependencies, patch, update-package

#26499 postgresql: Add version 12.2
  var/spack/repos/builtin/packages/postgresql/package.py
Labels: new-version, update-package

#25608 Move shell aware env into spack.environment.shell
  lib/spack/spack/bootstrap.py
  lib/spack/spack/cmd/common/arguments.py
  lib/spack/spack/cmd/env.py
  lib/spack/spack/environment/__init__.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/environment/shell.py
  lib/spack/spack/main.py
  lib/spack/spack/subprocess_context.py
  lib/spack/spack/test/cmd/ci.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/env.py
Labels: tests, commands, environments, utilities

#26364 Use gnuconfig package for config file replacement for RISC-V.
  lib/spack/external/__init__.py
  lib/spack/external/archspec/README.md
  lib/spack/external/archspec/cpu/detect.py
  lib/spack/external/archspec/json/cpu/microarchitectures.json
  lib/spack/spack/build_systems/autotools.py
Labels: dependencies, vendored-dependencies, build-systems

#26534 py-simplejson: Add version 3.16.1
  var/spack/repos/builtin/packages/py-simplejson/package.py
Labels: new-version, python, update-package

#25636 vtk: gui support for vtk 9 added
  var/spack/repos/builtin/packages/vtk/package.py
Labels: dependencies, update-package

#26539 Set explicitly write permission for packages
  .github/workflows/build-containers.yml
Labels: workflow

#26527 py-bcrypt: Add versions 3.1.6, 3.1.7 and 3.2.0
  var/spack/repos/builtin/packages/py-bcrypt/package.py
Labels: new-version, python, update-package

#26491 py-dask: Add version 2021.4.1
  var/spack/repos/builtin/packages/py-dask/package.py
Labels: new-version, python, update-package

#26490 py-bleach: Add version 3.3.1
  var/spack/repos/builtin/packages/py-bleach/package.py
Labels: new-version, python, dependencies, update-package

#26492 py-defusedxml: Add version 0.7.1
  var/spack/repos/builtin/packages/py-defusedxml/package.py
Labels: new-version, python, update-package

#26495 py-heapdict: Add version 1.0.0
  var/spack/repos/builtin/packages/py-heapdict/package.py
Labels: new-version, python, update-package

#26496 py-hepdata-validator: Add version 0.2.3
  var/spack/repos/builtin/packages/py-hepdata-validator/package.py
Labels: new-version, python, dependencies, update-package

#26500 py-decorator: Add version 5.0.9
  var/spack/repos/builtin/packages/py-decorator/package.py
Labels: new-version, python, update-package

#26501 py-ipykernel: Add version 6.0.2
  var/spack/repos/builtin/packages/py-ipykernel/package.py
Labels: new-version, python, update-package

#26545 bdw-gc: add v8.0.6
  var/spack/repos/builtin/packages/bdw-gc/package.py
Labels: new-version, update-package

#26502 py-ipywidgets: Add version 7.6.3
  var/spack/repos/builtin/packages/py-ipywidgets/package.py
Labels: new-version, python, update-package

#26551 precice: Add version 2.3.0
  var/spack/repos/builtin/packages/precice/package.py
Labels: new-version, update-package

#26510 New package: py-emoji
  var/spack/repos/builtin/packages/py-emoji/package.py
Labels: new-version, new-package, python, dependencies

#26509 [py-ftfy] added version 6.0.3
  var/spack/repos/builtin/packages/py-ftfy/package.py
Labels: new-version, python, dependencies, update-package
