Repository spack/spack, pull requests merged in 2021-01, with the labels that each got.

#20639 linguist: update .gitattributes for better linguist parsing
  .gitattributes
Labels: concretization, style, vendored-dependencies

#20482 bump py-h5py
  var/spack/repos/builtin/packages/py-h5py/package.py
Labels: new-version

#19924 Add new package: py-holland
  var/spack/repos/builtin/packages/py-holland-backup/package.py
Labels: new-package

#19914 Add new package: xfsdump
  var/spack/repos/builtin/packages/xfsdump/package.py
Labels: new-package

#20466 fdupes: Add pcre2 depend
  var/spack/repos/builtin/packages/fdupes/package.py
Labels: dependencies

#20649 bugfix: infinite loop when building a set from incomplete specs
  lib/spack/spack/solver/asp.py
Labels: bugfix, concretization, hashes, patch, specs

#20505 exciting: Fix for aarch64
  var/spack/repos/builtin/packages/exciting/for_aarch64.patch
  var/spack/repos/builtin/packages/exciting/package.py
Labels: arm, patch

#20648 openPMD-api: 0.13.0
  var/spack/repos/builtin/packages/openpmd-api/package.py
Labels: new-version

#20635 bumpup version for rocm stage1 recipes for rocm-4.0.0 release
  var/spack/repos/builtin/packages/atmi/package.py
  var/spack/repos/builtin/packages/comgr/package.py
  var/spack/repos/builtin/packages/hip-rocclr/package.py
  var/spack/repos/builtin/packages/hip/package.py
  var/spack/repos/builtin/packages/hsa-rocr-dev/package.py
  var/spack/repos/builtin/packages/hsakmt-roct/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/rccl/package.py
  var/spack/repos/builtin/packages/rocm-cmake/package.py
  var/spack/repos/builtin/packages/rocm-device-libs/package.py
  var/spack/repos/builtin/packages/rocminfo/package.py
Labels: AMD

#19916 Add new package: libthai
  var/spack/repos/builtin/packages/libthai/package.py
Labels: new-package

#20121 Add procenv
  var/spack/repos/builtin/packages/procenv/7cafed1316ddb16fe0689d54ba10c05dd2edd347.patch
  var/spack/repos/builtin/packages/procenv/package.py
Labels: new-package

#20661 ci: fix issue with latest sphinx
  lib/spack/spack/repo.py
  lib/spack/spack/test/repo.py
Labels: bugfix, ci

#20478 py-networkit/libnetworkit: update to 8.0
  var/spack/repos/builtin/packages/libnetworkit/package.py
  var/spack/repos/builtin/packages/py-networkit/package.py
Labels: new-version

#20626 r-codetools: Update package.
  var/spack/repos/builtin/packages/r-codetools/package.py
Labels: new-version, update-package

#20638 concretizer: convert virtuals to facts and move all rules to `concretize.lp`
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
Labels: concretization, refactoring

#20651 bump up rocm math libs recipes for rocm-4.0.0 release
  var/spack/repos/builtin/packages/hipblas/package.py
  var/spack/repos/builtin/packages/hipcub/package.py
  var/spack/repos/builtin/packages/hipfort/package.py
  var/spack/repos/builtin/packages/hipsparse/package.py
  var/spack/repos/builtin/packages/miopengemm/package.py
  var/spack/repos/builtin/packages/rdc/package.py
  var/spack/repos/builtin/packages/rocalution/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
  var/spack/repos/builtin/packages/rocm-validation-suite/package.py
  var/spack/repos/builtin/packages/rocprim/package.py
  var/spack/repos/builtin/packages/rocrand/package.py
  var/spack/repos/builtin/packages/rocsolver/package.py
  var/spack/repos/builtin/packages/rocsparse/package.py
  var/spack/repos/builtin/packages/rocthrust/package.py
Labels: AMD

#20663 Support old installations using Cray MPICH
  var/spack/repos/builtin/packages/mpich/package.py
Labels: cray, update-package

#20667 py-hatchet: added latest versions up to 1.3.0
  var/spack/repos/builtin/packages/py-hatchet/package.py
Labels: new-version

#20659 amrex: new version 21.01
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version

#20647 SS2NEON transition
  var/spack/repos/builtin/packages/bwa/bwa_for_aarch64.patch
  var/spack/repos/builtin/packages/fermi/ksw_for_aarch64.patch
  var/spack/repos/builtin/packages/fermikit/ksw_for_aarch64.patch
  var/spack/repos/builtin/packages/ngmlr/for_aarch64.patch
  var/spack/repos/builtin/packages/racon/aarch64.patch
  var/spack/repos/builtin/packages/racon/package.py
  var/spack/repos/builtin/packages/smartdenovo/aarch64.patch
  var/spack/repos/builtin/packages/sse2neon/package.py
Labels: update-package

#20658 OpenMPI: Depends on hwlock & libevent
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: build-error, dependencies, macOS, mpi, update-package

#20677 concretizer: use consistent naming for compiler predicates
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
Labels: concretization, refactoring

#20568 AOCC support for WRFv3.9.1.1
  var/spack/repos/builtin/packages/hdf5/package.py
  var/spack/repos/builtin/packages/netcdf-fortran/package.py
  var/spack/repos/builtin/packages/wrf/package.py
  var/spack/repos/builtin/packages/wrf/patches/3.9/aocc_lmvec.patch
  var/spack/repos/builtin/packages/wrf/patches/3.9/configure_aocc.patch
Labels: aocc, patch

#20368 Update of Eccodes to 2.19.1
  var/spack/repos/builtin/packages/eccodes/package.py
Labels: new-version

#20654 Add cray-fftw
  var/spack/repos/builtin/packages/cray-fftw/package.py
Labels: cray, new-package

#20204 AMD ROCm 3.10 Release: Add new package recipe for rocm-openmp-extras.
  var/spack/repos/builtin/packages/rocm-openmp-extras/package.py
Labels: AMD, new-package

#20464 Updates and Enhancements to AOMP Recipe. Added version 3.10.0.
  var/spack/repos/builtin/packages/aomp/package.py
Labels: dependencies, new-version, update-package

#20537 bugfix for target adjustments on target ranges
  lib/spack/spack/concretize.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/conftest.py
Labels: concretization

#20480 VTK: add -no-ipo for builds using intel compiler
  var/spack/repos/builtin/packages/vtk/package.py
Labels: intel, update-package

#20329 adding ipython interpreter option for developers
  lib/spack/docs/developer_guide.rst
  lib/spack/spack/cmd/python.py
  share/spack/spack-completion.bash
Labels: commands, feature, proposal

#20680 concretizer: make rules on virtual packages more linear
  lib/spack/spack/solver/concretize.lp
Labels: bugfix, concretization

#20462 alps: fix for latest gcc and test bug
  var/spack/repos/builtin/packages/alps/alps_climit.patch
  var/spack/repos/builtin/packages/alps/alps_cmake_time.patch
  var/spack/repos/builtin/packages/alps/alps_newgcc.patch
  var/spack/repos/builtin/packages/alps/package.py
Labels: gcc, patch

#20691 bump up version for migraphx, miopen-hip, miopen-opencl for rocm-4.0.0 release
  var/spack/repos/builtin/packages/migraphx/package.py
  var/spack/repos/builtin/packages/miopen-hip/package.py
  var/spack/repos/builtin/packages/miopen-opencl/package.py
Labels: AMD, new-version

#20692 Rocm-openmp-extras 4.0 version updates
  var/spack/repos/builtin/packages/rocm-openmp-extras/package.py
Labels: AMD, new-version

#20293 libspatialite: add v5.0.0
  var/spack/repos/builtin/packages/libspatialite/package.py
Labels: new-version

#20455 New package py-picrust2 version 2.3.0-b with py-biom-format dep. fixed
  var/spack/repos/builtin/packages/py-biom-format/package.py
  var/spack/repos/builtin/packages/py-picrust2/package.py
Labels: new-package, update-package

#20687 fakexrandr: add new package
  var/spack/repos/builtin/packages/fakexrandr/package.py
Labels: new-package

#20360 qa: use dependabot to update Github Actions
  .github/dependabot.yml
Labels: ci, tests

#20684 py-numpy: add v1.19.5
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: new-version

#20675 py-sphinx-rtd-theme: remove npm dependency
  var/spack/repos/builtin/packages/py-sphinx-rtd-theme/package.py
Labels: dependencies, new-version

#20653 New package GenFit
  var/spack/repos/builtin/packages/genfit/package.py
Labels: new-package

#20664 GDAL: add v3.2.1
  var/spack/repos/builtin/packages/gdal/package.py
Labels: new-version

#20637 py-scipy: add v1.6.0
  var/spack/repos/builtin/packages/py-scipy/package.py
Labels: new-version

#20627 r-genefilter: Add version 1.72.
  var/spack/repos/builtin/packages/r-genefilter/package.py
Labels: new-version, update-package

#20516 package magma: Remove -W args from CMakeLists.txt
  var/spack/repos/builtin/packages/magma/cmake-W.patch
  var/spack/repos/builtin/packages/magma/package.py
Labels: nvhpc, patch

#20338 libc: Return empty libs
  var/spack/repos/builtin/packages/libc/package.py
Labels: libraries

#20673 parallelio: New Package.
  var/spack/repos/builtin/packages/parallelio/package.py
Labels: new-package

#19933 Remove hard-coded standard C++ library selection and add more releases in llvm package
  var/spack/repos/builtin/packages/llvm/package.py
Labels: clang, new-version, update-package

#20701 SEACAS: Update to lastest version
  var/spack/repos/builtin/packages/seacas/package.py
Labels: new-version

#20698 SLEPc: Set SLEPC_DIR in the module file.
  var/spack/repos/builtin/packages/slepc/package.py
Labels: ecp, modules, update-package

#20703 charliecloud: add version 0.21
  var/spack/repos/builtin/packages/charliecloud/package.py
Labels: new-version

#20705 fix gpg user rundir check
  lib/spack/spack/util/gpg.py
Labels: e4s, ecp, pipelines

#20096 Update kokkos amd gpu archs and required C++ level
  var/spack/repos/builtin/packages/kokkos/package.py
Labels: e4s, ecp, update-package

#20704 qthreads: New version 1.15
  var/spack/repos/builtin/packages/qthreads/package.py
Labels: e4s, ecp, new-version

#20708 nccl: 2.8.3-1
  var/spack/repos/builtin/packages/nccl/package.py
Labels: new-version

#20711 py-google-pasta: 0.2.0
  var/spack/repos/builtin/packages/py-google-pasta/package.py
Labels: new-version

#20709 py-absl-py: 0.10.0
  var/spack/repos/builtin/packages/py-absl-py/package.py
Labels: new-version

#20712 py-opt-einsum: 3.3.0
  var/spack/repos/builtin/packages/py-opt-einsum/package.py
Labels: new-version

#20707 py-wrapt: 1.12.1
  var/spack/repos/builtin/packages/py-wrapt/package.py
Labels: new-version

#20706 flatbuffers: python variant
  var/spack/repos/builtin/packages/flatbuffers/package.py
Labels: new-variant

#20713 py-wheel: 0.35.1
  var/spack/repos/builtin/packages/py-wheel/package.py
Labels: new-version

#20681 eospac: add version 6.4.2beta
  var/spack/repos/builtin/packages/eospac/package.py
Labels: new-version

#20669 Fix dependencies and https address of gitpython
  var/spack/repos/builtin/packages/py-gitpython/package.py
Labels: checksum, new-version

#20710 py-six: 1.15.0
  var/spack/repos/builtin/packages/py-six/package.py
Labels: new-version

#20432 New package: py-testfixtures
  var/spack/repos/builtin/packages/py-testfixtures/package.py
Labels: new-package

#20740 amrex: expand CUDA support
  var/spack/repos/builtin/packages/amrex/package.py
Labels: cuda, update-package

#20755 Remove ascent gitlab trigger
  share/spack/gitlab/ascent_pipeline.yml
Labels: e4s, ecp

#20695 ForTrilinos: add version 2.0.0
  var/spack/repos/builtin/packages/fortrilinos/package.py
Labels: e4s, ecp, new-version

#20702 py-tensorflow: version updates, add 2.4.0
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: new-version, update-package

#20759 llvm-amdgpu: add variant: openmp (bool)
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
Labels: e4s, ecp

#20741 docs: bring footer copyright from 2019 to 2021
  lib/spack/docs/conf.py
Labels: documentation

#20170 New package: PaRSEC
  var/spack/repos/builtin/packages/parsec/package.py
Labels: e4s, ecp, new-package

#20761 openPMD-api: 0.13.1
  var/spack/repos/builtin/packages/openpmd-api/package.py
Labels: new-version

#20735 Package Repositories docs: num packages has grown
  lib/spack/docs/repositories.rst
Labels: documentation, repos

#20583 libquo: add maintainer
  var/spack/repos/builtin/packages/libquo/package.py
Labels: maintainers

#20776 New package [py-spgl1]
  var/spack/repos/builtin/packages/py-spgl1/package.py
Labels: new-package

#20487 spack recipe for amdlibm
  var/spack/repos/builtin/packages/amdlibm/0001-libm-ose-Scripts-cleanup-pyc-files.patch
  var/spack/repos/builtin/packages/amdlibm/0002-libm-ose-prevent-log-v3.c-from-building.patch
  var/spack/repos/builtin/packages/amdlibm/package.py
Labels: AMD, new-package

#20775 New package [py-scikit-fmm]
  var/spack/repos/builtin/packages/py-scikit-fmm/package.py
Labels: new-package

#20722 py-distributed: Update to the latest version (2020.12.0)
  var/spack/repos/builtin/packages/py-distributed/package.py
Labels: new-version

#20777 New package [py-pylops]
  var/spack/repos/builtin/packages/py-pylops/package.py
Labels: new-package

#20351 restore ability of dev-build to skip patches
  lib/spack/spack/cmd/dev_build.py
Labels: commands

#20794 libyogrt: remove conflicts triggered by an invalid value
  var/spack/repos/builtin/packages/libyogrt/package.py
Labels: bugfix, update-package

#20811 py-torchvision@0.5.0 depends on py-torch@1.4.1
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: new-version

#20822 votca-*: add v1.6.4
  var/spack/repos/builtin/packages/votca-csg-tutorials/package.py
  var/spack/repos/builtin/packages/votca-csg/package.py
  var/spack/repos/builtin/packages/votca-csgapps/package.py
  var/spack/repos/builtin/packages/votca-tools/package.py
  var/spack/repos/builtin/packages/votca-xtp/package.py
Labels: new-version

#20792 py-pyfiglet:new recipe
  var/spack/repos/builtin/packages/py-pyfiglet/package.py
Labels: new-package

#20836 py-healpy: Add version 1.14.0
  var/spack/repos/builtin/packages/py-healpy/package.py
Labels: new-version

#20814 Miniconda: update
  var/spack/repos/builtin/packages/miniconda3/package.py
Labels: new-version

#20676 intel-xed: add version 12.0.1
  var/spack/repos/builtin/packages/intel-xed/package.py
Labels: conflicts, new-variant, update-package

#20800 adios2: Add 2.7.0 release
  var/spack/repos/builtin/packages/adios2/package.py
Labels: new-version

#20848 adios2: Define custom libs property
  var/spack/repos/builtin/packages/adios2/package.py
Labels: libraries, update-package

#20786 amrex: fix handling of CUDA arch
  var/spack/repos/builtin/packages/amrex/package.py
Labels: cuda, update-package

#20737 ecp-data-vis-sdk: Combine the vis and io SDK packages
  var/spack/repos/builtin/packages/ecp-data-vis-sdk/package.py
  var/spack/repos/builtin/packages/ecp-io-sdk/package.py
  var/spack/repos/builtin/packages/ecp-viz-sdk/package.py
Labels: create-package, dependencies, ecp

#20812 improve documentation for Rocm (hip amd builds)
  lib/spack/spack/build_systems/rocm.py
Labels: documentation

#20899 astyle: Fix makefile for install parameter
  var/spack/repos/builtin/packages/astyle/package.py
Labels: patch

#20905 py-h5py: HDF5_DIR is needed for ~mpi too
  var/spack/repos/builtin/packages/py-h5py/package.py
Labels: mpi, update-package

#20906 fix typo on horovod framework[s]
  var/spack/repos/builtin/packages/py-horovod/package.py
Labels: conflicts

#20933 PCL: add new package
  var/spack/repos/builtin/packages/pcl/package.py
Labels: new-package

#20911 py-fiscalyear: add v0.3.0
  var/spack/repos/builtin/packages/py-fiscalyear/package.py
Labels: new-version

#20189 Improve gcc detection in llvm.
  var/spack/repos/builtin/packages/llvm/package.py
Labels: update-package

#20908 update hatchet urls
  var/spack/repos/builtin/packages/py-hatchet/package.py
Labels: fetching

#20782 py-anuga: add new package
  var/spack/repos/builtin/packages/py-anuga/package.py
Labels: new-package

#19583 update dray package with new versions and to fix issue with test variant
  var/spack/repos/builtin/packages/dray/package.py
Labels: new-version, update-package

#21000 util-linux-uuid: don't install to system directories
  var/spack/repos/builtin/packages/util-linux-uuid/package.py
Labels: update-package

#21111 add version 0.2.9 to r-rcppcctz
  var/spack/repos/builtin/packages/r-rcppcctz/package.py
Labels: new-version

#21110 add version 1.1-1 to r-mvtnorm
  var/spack/repos/builtin/packages/r-mvtnorm/package.py
Labels: new-version

#21109 add version 1.0-15 to r-multitaper
  var/spack/repos/builtin/packages/r-multitaper/package.py
Labels: new-version

#21108 add version 0.1-10 to r-multicool
  var/spack/repos/builtin/packages/r-multicool/package.py
Labels: new-version

#21107 add version 1.4-15 to r-multcomp
  var/spack/repos/builtin/packages/r-multcomp/package.py
Labels: new-version

#21106 add version 0.2-23 to r-modeltools
  var/spack/repos/builtin/packages/r-modeltools/package.py
Labels: new-version

#21105 add version 0.1.8 to r-modelr
  var/spack/repos/builtin/packages/r-modelr/package.py
Labels: new-version

#21104 new package: r-tmvnsim
  var/spack/repos/builtin/packages/r-tmvnsim/package.py
Labels: new-package

#21103 add version 0.1.3 to r-mmwrweek
  var/spack/repos/builtin/packages/r-mmwrweek/package.py
Labels: new-version

#21102 add version 1.1.5 to r-mlrmbo
  var/spack/repos/builtin/packages/r-mlrmbo/package.py
Labels: new-version

#21101 add version 2.18.0 to r-mlr
  var/spack/repos/builtin/packages/r-mlr/package.py
Labels: new-version

#21100 add version 1.2.0 to r-mixtools
  var/spack/repos/builtin/packages/r-mixtools/package.py
Labels: new-version

#21099 add version 0.9-0 to r-misc3d
  var/spack/repos/builtin/packages/r-misc3d/package.py
Labels: new-version

#21098 add version 0.9 to r-mime
  var/spack/repos/builtin/packages/r-mime/package.py
Labels: new-version

#21097 add version 1.8-33 to r-mgcv
  var/spack/repos/builtin/packages/r-mgcv/package.py
Labels: new-version

#21096 new package: r-mathjaxr
  var/spack/repos/builtin/packages/r-mathjaxr/package.py
Labels: new-package

#21095 add version 0.5-2 to r-mda
  var/spack/repos/builtin/packages/r-mda/package.py
Labels: new-version

#21094 add version 1.15.6 to r-mco
  var/spack/repos/builtin/packages/r-mco/package.py
Labels: new-version

#21093 add version 2.30 to r-mcmcglmm
  var/spack/repos/builtin/packages/r-mcmcglmm/package.py
Labels: new-version

#21092 add version 5.4.7 to r-mclust
  var/spack/repos/builtin/packages/r-mclust/package.py
Labels: new-version

#21091 add version 0.57.0 to r-matrixstats
  var/spack/repos/builtin/packages/r-matrixstats/package.py
Labels: new-version

#21090 add version 1.3-2 to r-matrix
  var/spack/repos/builtin/packages/r-matrix/package.py
Labels: new-version

#21089 add version 7.3-53 to r-mass
  var/spack/repos/builtin/packages/r-mass/package.py
Labels: new-version

#21088 add version 1.0-2 to r-maptools
  var/spack/repos/builtin/packages/r-maptools/package.py
Labels: new-version

#21087 add version 1.2.7 to r-mapproj
  var/spack/repos/builtin/packages/r-mapproj/package.py
Labels: new-version

#21086 add version 0.10.1 to r-manipulatewidget
  var/spack/repos/builtin/packages/r-manipulatewidget/package.py
Labels: new-version

#21085 add version 2.0.1 to r-magrittr
  var/spack/repos/builtin/packages/r-magrittr/package.py
Labels: new-version

#21084 add version 1.7.9.2 to r-lubridate
  var/spack/repos/builtin/packages/r-lubridate/package.py
Labels: new-version

#21082 add version 5.6.15 to r-lpsolve
  var/spack/repos/builtin/packages/r-lpsolve/package.py
Labels: new-version

#21081 add version 2.4.1 to r-loo
  var/spack/repos/builtin/packages/r-loo/package.py
Labels: new-version

#21080 add version 0.3.2 to r-log4r
  var/spack/repos/builtin/packages/r-log4r/package.py
Labels: new-version

#21079 add version 1.5-9.4 to r-locfit
  var/spack/repos/builtin/packages/r-locfit/package.py
Labels: new-version

#21078 add version 0.9-38 to r-lmtest
  var/spack/repos/builtin/packages/r-lmtest/package.py
Labels: new-version

#21077 add version 1.1-26 to r-lme4
  var/spack/repos/builtin/packages/r-lme4/package.py
Labels: new-version

#21076 add version 0.8.0 to r-listenv
  var/spack/repos/builtin/packages/r-listenv/package.py
Labels: new-version

#21074 add version 1.1.1 to r-lhs
  var/spack/repos/builtin/packages/r-lhs/package.py
Labels: new-version

#21062 add version 1.11.7 to r-ks
  var/spack/repos/builtin/packages/r-ks/package.py
Labels: new-version

#21060 add version 2.23-18 to r-kernsmooth
  var/spack/repos/builtin/packages/r-kernsmooth/package.py
Labels: new-version

#21059 add version 0.9-29 to r-kernlab
  var/spack/repos/builtin/packages/r-kernlab/package.py
Labels: new-version

#21058 add version 2.7-2 to r-jomo
  var/spack/repos/builtin/packages/r-jomo/package.py
Labels: new-version

#21057 add version 1.0.13 to r-iterators
  var/spack/repos/builtin/packages/r-iterators/package.py
Labels: new-version

#21056 add version 0.0-18.1 to r-iso
  var/spack/repos/builtin/packages/r-iso/package.py
Labels: new-version

#21055 add version 0.4.0 to r-isdparser
  var/spack/repos/builtin/packages/r-isdparser/package.py
Labels: new-version

#21054 add version 0.15.2 to r-intervals
  var/spack/repos/builtin/packages/r-intervals/package.py
Labels: new-version

#21052 add version 0.42.3 to r-imager
  var/spack/repos/builtin/packages/r-imager/package.py
Labels: new-version

#21051 add version 1.2.6 to r-igraph
  var/spack/repos/builtin/packages/r-igraph/package.py
Labels: new-version

#21050 add version 1.5.5 to r-httpuv
  var/spack/repos/builtin/packages/r-httpuv/package.py
Labels: new-version
