Repository spack/spack, pull requests merged in 2021-12, with the labels that each got.

#27723 qmcpack package adds more restriction on openblas variants
  var/spack/repos/builtin/packages/qmcpack/package.py
Labels: update-package, conflicts, maintainers

#25130 dpcpp: added a new package
  var/spack/repos/builtin/packages/dpcpp/package.py
Labels: new-version, new-package, dependencies, patch, maintainers, new-variant

#27697 OPENMPI: add 4.0.7 release
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: new-version, update-package

#27696 ParaView: Add 5.10.0-RC2 release
  var/spack/repos/builtin/packages/paraview/package.py
Labels: new-version, update-package

#27661 Update portcullis to 1.2.3
  var/spack/repos/builtin/packages/portcullis/package.py
Labels: new-version, dependencies, update-package

#27721 adol-c: add variant stdczero
  var/spack/repos/builtin/packages/adol-c/package.py
Labels: update-package, new-variant

#27732 New package: py-gin-config
  var/spack/repos/builtin/packages/py-gin-config/package.py
Labels: new-version, new-package, python, dependencies

#27530 Add wi4mpi recipe
  var/spack/repos/builtin/packages/wi4mpi/package.py
Labels: new-version, new-package, dependencies, maintainers, new-variant

#27740 libmonitor: add version 2021.11.08
  var/spack/repos/builtin/packages/libmonitor/package.py
Labels: new-version, update-package

#27737 seacas: fix x11 dependency
  var/spack/repos/builtin/packages/seacas/package.py
Labels: dependencies, update-package

#27573 py-pybind11 fix due to Cmake use in setup.py
  var/spack/repos/builtin/packages/py-pybind11/package.py
Labels: python, dependencies, update-package

#27537 ECP-DAV: Add sensei to SDK
  var/spack/repos/builtin/packages/ecp-data-vis-sdk/package.py
  var/spack/repos/builtin/packages/sensei/package.py
Labels: update-package, new-variant

#27730 New package: py-retry
  var/spack/repos/builtin/packages/py-retry/package.py
Labels: new-version, new-package, python, dependencies

#27729 New package: py-yq
  var/spack/repos/builtin/packages/py-yq/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#27599 adding new package py-tern, suggested to install from main
  var/spack/repos/builtin/packages/py-tern/package.py
Labels: new-version, new-package, python, dependencies

#27738 cp2k fix build with elpa and without cuda
  var/spack/repos/builtin/packages/cp2k/package.py
Labels: new-version, python, dependencies, update-package

#27516 Add: openPMD-viewer
  var/spack/repos/builtin/packages/py-openpmd-viewer/package.py
Labels: new-version, new-package, python, dependencies, maintainers, new-variant

#27339 goshimmer: new package
  var/spack/repos/builtin/packages/goshimmer/package.py
Labels: new-version, new-package, dependencies, maintainers

#27748 version bump elpa libxc
  var/spack/repos/builtin/packages/elpa/package.py
  var/spack/repos/builtin/packages/libxc/package.py
Labels: new-version, update-package

#27744 QMCPACK move compiler changes to setup_build_environment.
  var/spack/repos/builtin/packages/qmcpack/package.py
Labels: update-package

#27759 New package: py-vector-quantize-pytorch
  var/spack/repos/builtin/packages/py-vector-quantize-pytorch/package.py
Labels: new-version, new-package, python, dependencies

#27731 New package: py-fire
  var/spack/repos/builtin/packages/py-fire/package.py
Labels: new-version, new-package, python, dependencies

#27755 f3d: add package (at version 1.1.1)
  var/spack/repos/builtin/packages/f3d/package.py
Labels: new-version, new-package, dependencies

#27760 lvm2: Add current version v2.03.14
  var/spack/repos/builtin/packages/lvm2/package.py
Labels: new-version, update-package

#27756 libseccomp: add 2.5.3 and switch to tar.gz releases
  var/spack/repos/builtin/packages/libseccomp/package.py
Labels: new-version, dependencies, update-package

#27766 nspr: add 4.32
  var/spack/repos/builtin/packages/nspr/package.py
Labels: new-version, update-package

#27168 Support packages which need to explicitly refer to dpcpp by name
  lib/spack/env/cc
  lib/spack/env/oneapi/dpcpp
  lib/spack/spack/compilers/dpcpp.py
Labels: compilers

#27767 nss: add 3.73
  var/spack/repos/builtin/packages/nss/package.py
Labels: new-version, update-package

#26868 Add experimental oneAPI support to the Ginkgo package
  var/spack/repos/builtin/packages/ginkgo/1.4.0_dpcpp_use_old_standard.patch
  var/spack/repos/builtin/packages/ginkgo/package.py
Labels: dependencies, patch, update-package, conflicts, new-variant

#27745 ParaView: add proj, nlohmann-json dependencies needed in paraview@master
  var/spack/repos/builtin/packages/paraview/package.py
Labels: dependencies, update-package

#27689 cuda: add version 11.5.1
  var/spack/repos/builtin/packages/cuda/package.py
Labels: update-package

#27232 Parallel-netcdf: Update Spack test dir
  var/spack/repos/builtin/packages/parallel-netcdf/package.py
Labels: update-package, ecp, e4s, stand-alone-tests

#27778 singularity, singularityce: Add 3.8.5 and ce-3.9.1
  var/spack/repos/builtin/packages/singularity/package.py
  var/spack/repos/builtin/packages/singularityce/package.py
Labels: new-version, dependencies, update-package, conflicts

#27774 Fixed typo (NAMD)
  var/spack/repos/builtin/packages/namd/package.py
Labels: update-package

#27775 LIBXSMM 1.17
  var/spack/repos/builtin/packages/libxsmm/package.py
Labels: new-version, update-package

#27781 amrex: add new release 21.12
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package

#27656 mujoco: new package
  var/spack/repos/builtin/packages/mujoco/package.py
Labels: new-version, new-package

#27780 [libzmq] added version 4.3.4
  var/spack/repos/builtin/packages/libzmq/package.py
Labels: new-version, update-package

#27783 hpctoolkit: add support for smoke tests
  var/spack/repos/builtin/packages/hpctoolkit/package.py
Labels: update-package, stand-alone-tests

#27768 ExaGO: add new versions
  var/spack/repos/builtin/packages/exago/package.py
Labels: new-version, dependencies, update-package

#27715 r-tictoc: add 1.0.1
  var/spack/repos/builtin/packages/r-tictoc/package.py
Labels: new-version, R, dependencies, update-package

#27752 Berkeley-db: Added minimal external detection
  var/spack/repos/builtin/packages/berkeley-db/package.py
Labels: update-package

#27761 LLVM: Revert build_llvm_dylib to llvm_dylib
  share/spack/gitlab/cloud_pipelines/stacks/e4s-on-power/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
  var/spack/repos/builtin/packages/llvm/package.py
Labels: update-package, conflicts, gitlab

#27770 julia: update versions and add znver3 to Julia's CPU target
  var/spack/repos/builtin/packages/julia/package.py
Labels: new-version, update-package

#27786 py-jeepney: add 0.7.1
  var/spack/repos/builtin/packages/py-jeepney/package.py
Labels: new-version, python, update-package

#27787 py-imagesize: add 1.3.0
  var/spack/repos/builtin/packages/py-imagesize/package.py
Labels: new-version, python, dependencies, update-package

#27714 r-v8: add 3.6.0
  var/spack/repos/builtin/packages/r-v8/package.py
Labels: new-version, R, dependencies, update-package, conflicts

#27753 cgdb: add depends_on('gdb', type='run')
  var/spack/repos/builtin/packages/cgdb/package.py
Labels: new-version, dependencies, update-package, maintainers

#27805 py-astropy: set version constraint on cfitsio
  var/spack/repos/builtin/packages/py-astropy/package.py
Labels: python, dependencies, update-package

#27746 new package: py-tensorflow-datasets
  var/spack/repos/builtin/packages/py-tensorflow-datasets/package.py
  var/spack/repos/builtin/packages/py-tensorflow-metadata/package.py
Labels: new-version, new-package, python, dependencies

#27814 [rivet] --with-hepmc3 should use hepmc3 prefix
  var/spack/repos/builtin/packages/rivet/package.py
Labels: update-package

#27790 Avoid `gtk-doc` to avoid unsolvable constraints when installing `gtkplus`
  var/spack/repos/builtin/packages/libcroco/package.py
  var/spack/repos/builtin/packages/librsvg/package.py
Labels: dependencies, update-package, new-variant

#27807 bohrium: missing dependencies
  var/spack/repos/builtin/packages/bohrium/package.py
Labels: dependencies, update-package, conflicts

#27813 [acts] use variants['cuda_arch'] only when +cuda
  var/spack/repos/builtin/packages/acts/package.py
Labels: update-package

#27817 Set preferred version of vtk to 9.0.3
  var/spack/repos/builtin/packages/vtk/package.py
Labels: new-version, update-package

#27812 glib: add 2.70.2
  var/spack/repos/builtin/packages/glib/package.py
Labels: new-version, update-package

#27804 suite-sparse: Add CXSparse and SPQR to targets
  var/spack/repos/builtin/packages/suite-sparse/package.py
Labels: update-package

#27799 [opencascade] new version 7.6.0
  var/spack/repos/builtin/packages/opencascade/package.py
Labels: new-version, update-package

#27793 r-rpostgresql: Remove the autotools resources
  var/spack/repos/builtin/packages/r-rpostgresql/package.py
Labels: R, update-package

#27792 Set r version constraint on r-affy
  var/spack/repos/builtin/packages/r-affy/package.py
Labels: R, dependencies, update-package

#27791 Fix r-prettydoc dependency
  var/spack/repos/builtin/packages/r-prettydoc/package.py
Labels: R, dependencies, update-package

#27725 MUMPS: Fix problem when using Intel OneAPI mkl static lib
  var/spack/repos/builtin/packages/mumps/package.py
Labels: update-package

#27782 New package: apktool
  var/spack/repos/builtin/packages/apktool/package.py
Labels: new-version, new-package, dependencies

#27788 New package: py-pyspellchecker
  var/spack/repos/builtin/packages/py-pyspellchecker/package.py
Labels: new-version, new-package, python, dependencies

#27712 r-rcpparmadillo: add 0.10.7.3.0
  var/spack/repos/builtin/packages/r-rcpparmadillo/package.py
Labels: new-version, R, update-package

#27711 r-bh: add 1.75.0-0
  var/spack/repos/builtin/packages/r-bh/package.py
Labels: new-version, R, update-package

#27710 r-backports: add 1.4.0
  var/spack/repos/builtin/packages/r-backports/package.py
Labels: new-version, R, update-package

#27816 r-colourpicker: add 1.1.1
  var/spack/repos/builtin/packages/r-colourpicker/package.py
Labels: new-version, R, update-package

#27811 r-car: add 3.0-12
  var/spack/repos/builtin/packages/r-car/package.py
Labels: new-version, R, dependencies, update-package

#27810 r-cli: add 3.1.0
  var/spack/repos/builtin/packages/r-cli/package.py
Labels: new-version, R, update-package

#27809 r-brms: add 2.16.3
  var/spack/repos/builtin/packages/r-brms/package.py
Labels: new-version, R, dependencies, update-package

#27803 r-crayon: 1.4.2
  var/spack/repos/builtin/packages/r-crayon/package.py
Labels: new-version, R, update-package

#27802 r-conquer: add 1.2.1
  var/spack/repos/builtin/packages/r-conquer/package.py
Labels: new-version, R, dependencies, update-package

#27801 r-brio: add 1.1.3
  var/spack/repos/builtin/packages/r-brio/package.py
Labels: new-version, R, update-package

#27716 r-jquerylib: add new package
  var/spack/repos/builtin/packages/r-jquerylib/package.py
Labels: new-version, new-package, R, dependencies

#27815 r-colorspace: add 2.0-2
  var/spack/repos/builtin/packages/r-colorspace/package.py
Labels: new-version, R, update-package

#27797 r-blob: add 1.2.2
  var/spack/repos/builtin/packages/r-blob/package.py
Labels: new-version, R, update-package

#27826 py-rich: add version 10.9.0
  var/spack/repos/builtin/packages/py-rich/package.py
Labels: new-version, python, dependencies, update-package

#27800 WarpX: 21.12
  var/spack/repos/builtin/packages/py-warpx/package.py
  var/spack/repos/builtin/packages/warpx/2626.patch
  var/spack/repos/builtin/packages/warpx/package.py
Labels: new-version, python, patch, update-package, ecp, e4s

#27806 3dtk: set boost constraint
  var/spack/repos/builtin/packages/3dtk/package.py
Labels: dependencies, update-package

#27824 HiOp: add versions and variants for rocm
  var/spack/repos/builtin/packages/hiop/package.py
Labels: new-version, dependencies, update-package

#27674 Don't catch FetchCacheError, cause the remainder relies on its result
  lib/spack/spack/cmd/buildcache.py
Labels: commands

#27831 r-rmarkdown: add 2.11
  var/spack/repos/builtin/packages/r-rmarkdown/package.py
Labels: new-version, R, dependencies, update-package

#27832 r-crosstalk: add 1.2.0
  var/spack/repos/builtin/packages/r-crosstalk/package.py
Labels: new-version, R, update-package

#27833 r-dbi: add 1.1.1
  var/spack/repos/builtin/packages/r-dbi/package.py
Labels: new-version, R, update-package

#27834 r-desc: add 1.4.0
  var/spack/repos/builtin/packages/r-desc/package.py
Labels: new-version, R, dependencies, update-package

#27836 r-diffobj: 0.3.5
  var/spack/repos/builtin/packages/r-diffobj/package.py
Labels: new-version, R, update-package

#27838 r-rio: add 0.5.29
  var/spack/repos/builtin/packages/r-rio/package.py
Labels: new-version, R, dependencies, update-package

#27823 rocm: add gfx90a
  lib/spack/spack/build_systems/rocm.py
Labels: build-systems

#27372 ncurses: install correct separate ncurses/ncursesw headers
  var/spack/repos/builtin/packages/ncurses/package.py
Labels: update-package

#27717 dd4hep: add version 0.19 and variants for subpackages
  var/spack/repos/builtin/packages/dd4hep/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#27848 libdrm: fix build error with clang
  var/spack/repos/builtin/packages/libdrm/package.py
Labels: update-package

#27825 mercury: add version 2.1.0
  var/spack/repos/builtin/packages/mercury/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#27853 New package: py-boost-histogram
  var/spack/repos/builtin/packages/py-boost-histogram/package.py
Labels: new-version, new-package, python, dependencies

#27852 New package: py-aiosqlite
  var/spack/repos/builtin/packages/py-aiosqlite/package.py
Labels: new-version, new-package, python, dependencies

#27854 Make external detection more resilient to spurious errors
  lib/spack/spack/detection/path.py
Labels: external-packages, bugfix

#27272 e4s ci: expand +cuda specs
  share/spack/gitlab/cloud_pipelines/stacks/e4s-on-power/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: cuda, e4s, gitlab, ci

#27866 llvm-doe: incorporate updates to official llvm Spack package
  var/spack/repos/builtin/packages/llvm-doe/package.py
Labels: new-version, dependencies, update-package, conflicts, e4s, new-variant

#27878 Add conflict to HPX package for Boost/HIP noinline issue
  var/spack/repos/builtin/packages/hpx/package.py
Labels: update-package, conflicts

#27845 dust: adding new package
  var/spack/repos/builtin/packages/dust/package.py
Labels: new-version, new-package, dependencies, maintainers, stand-alone-tests

#27889 boost: add v1.78
  var/spack/repos/builtin/packages/boost/package.py
Labels: new-version, update-package, e4s

#27885 New package: py-downhill
  var/spack/repos/builtin/packages/py-downhill/package.py
Labels: new-version, new-package, python, dependencies

#27886 New packages: py-backports-os, py-fs
  var/spack/repos/builtin/packages/py-backports-os/package.py
  var/spack/repos/builtin/packages/py-fs/package.py
Labels: new-version, new-package, python, dependencies

#27894 llvm-doe: update maintainer to vlkale
  var/spack/repos/builtin/packages/llvm-doe/package.py
Labels: update-package, maintainers, e4s

#27879 Add py-climate
  var/spack/repos/builtin/packages/py-climate/package.py
Labels: new-version, new-package, python, dependencies

#27884 New package: py-cx-oracle
  var/spack/repos/builtin/packages/py-cx-oracle/package.py
Labels: new-version, new-package, python, dependencies

#27880 New package: py-cmsml
  var/spack/repos/builtin/packages/py-cmsml/package.py
Labels: new-version, new-package, python, dependencies

#27895 raja: needs cmake@:3.20 when +rocm
  var/spack/repos/builtin/packages/raja/package.py
Labels: dependencies, update-package, e4s, ROCm/hip

#27893 umpire: needs cmake@:3.20 when +rocm
  var/spack/repos/builtin/packages/umpire/package.py
Labels: dependencies, update-package, e4s, ROCm/hip

#27776 Refactor "spack buildcache" command
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/bootstrap.py
  lib/spack/spack/ci.py
  lib/spack/spack/cmd/buildcache.py
  lib/spack/spack/cmd/ci.py
  lib/spack/spack/mirror.py
  lib/spack/spack/spec.py
  lib/spack/spack/store.py
  lib/spack/spack/test/build_distribution.py
  lib/spack/spack/test/cmd/ci.py
  lib/spack/spack/test/database.py
  share/spack/spack-completion.bash
Labels: refactoring, tests, commands, binary-packages, maintainers

#27707 Improve debug info from concretizer
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/concretize.py
Labels: tests

#27754 Extends: support spec, not just package name
  lib/spack/spack/directives.py
  lib/spack/spack/test/directives.py
  var/spack/repos/builtin.mock/packages/extends-spec/package.py
Labels: new-version, tests, directives, extends

#27912 New package: py-hepdata-lib
  var/spack/repos/builtin/packages/py-hepdata-lib/package.py
Labels: new-version, new-package, python, dependencies

#27887 New package: py-flawfinder
  var/spack/repos/builtin/packages/py-flawfinder/package.py
Labels: new-version, new-package, python, dependencies

#27882 New package: py-correctionlib
  var/spack/repos/builtin/packages/py-correctionlib/package.py
  var/spack/repos/builtin/packages/py-make/package.py
Labels: new-version, new-package, python, dependencies, new-variant

#27808 Update quantum-espresso package
  var/spack/repos/builtin/packages/quantum-espresso/package.py
Labels: dependencies, update-package, conflicts, new-variant

#27914 New package: py-hist and it's dependencies
  var/spack/repos/builtin/packages/py-hist/package.py
  var/spack/repos/builtin/packages/py-histoprint/package.py
  var/spack/repos/builtin/packages/py-iminuit/package.py
  var/spack/repos/builtin/packages/py-mplhep-data/package.py
  var/spack/repos/builtin/packages/py-mplhep/package.py
  var/spack/repos/builtin/packages/py-uhi/package.py
Labels: new-version, new-package, python, dependencies, update-package, new-variant

#27590 [parallelio] add variant to turn off timing messages.
  var/spack/repos/builtin/packages/parallelio/package.py
Labels: update-package, new-variant

#27910 Adding NVIDIA HPC SDK 21.11
  var/spack/repos/builtin/packages/nvhpc/package.py
Labels: update-package

#27923 vtk-h +cuda: pass cuda_arch to vtk-m dependency
  var/spack/repos/builtin/packages/vtk-h/package.py
Labels: dependencies, cuda, update-package, e4s

#27899 r-htmltools: add 0.5.2
  var/spack/repos/builtin/packages/r-htmltools/package.py
Labels: new-version, R, dependencies, update-package

#27869 r-cpp11: add 0.4.2
  var/spack/repos/builtin/packages/r-cpp11/package.py
Labels: new-version, R, update-package

#27841 petsc, py-petsc4py: add versions 3.16.2
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/py-petsc4py/package.py
Labels: new-version, python, update-package, e4s

#27913 superlu-dist: superlu-cray-ftn-case.patch patch does not apply for versions older than 7.1.0
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: cray, patch, update-package, e4s

#27863 Fix lua package on linux
  var/spack/repos/builtin/packages/lua/package.py
Labels: update-package

#27868 r-dt: add 0.20
  var/spack/repos/builtin/packages/r-dt/package.py
Labels: new-version, R, dependencies, update-package

#27870 r-emmeans: add 1.7.1-1
  var/spack/repos/builtin/packages/r-emmeans/package.py
Labels: new-version, R, update-package

#27904 openjpeg: add missing dependencies and optionally disable them
  var/spack/repos/builtin/packages/openjpeg/package.py
Labels: dependencies, update-package, conflicts, new-variant

#27876 PICMI: 0.16 & 0.18 & WarpX 1D
  var/spack/repos/builtin/packages/py-picmistandard/package.py
  var/spack/repos/builtin/packages/py-warpx/package.py
  var/spack/repos/builtin/packages/warpx/2626.patch
  var/spack/repos/builtin/packages/warpx/package.py
Labels: build-error, new-version, python, dependencies, patch, update-package, conflicts, ecp

#27907 New package: py-grpcio-tools; add new version of py-grpcio
  var/spack/repos/builtin/packages/py-grpcio-tools/package.py
  var/spack/repos/builtin/packages/py-grpcio/package.py
Labels: new-version, new-package, python, dependencies, update-package

#27909 New package: py-hep-ml
  var/spack/repos/builtin/packages/py-hep-ml/package.py
Labels: new-version, new-package, python, dependencies

#27916 vtk-m +cuda: conflicts with cuda_arch=none
  var/spack/repos/builtin/packages/vtk-m/package.py
Labels: update-package, conflicts, e4s

#27871 r-r6: add 2.5.1
  var/spack/repos/builtin/packages/r-r6/package.py
Labels: new-version, R, update-package

#27874 r-vroom: add 1.5.7
  var/spack/repos/builtin/packages/r-vroom/package.py
Labels: new-version, R, update-package

#27900 r-rsconnect: add 0.8.25
  var/spack/repos/builtin/packages/r-rsconnect/package.py
Labels: new-version, R, dependencies, update-package

#27901 r-packrat: add 0.7.0
  var/spack/repos/builtin/packages/r-packrat/package.py
Labels: new-version, R, update-package

#27958 New package: py-jupyter-server-mathjax
  var/spack/repos/builtin/packages/py-jupyter-server-mathjax/package.py
Labels: new-version, new-package, python, dependencies

#27957 New package: py-histogrammar
  var/spack/repos/builtin/packages/py-histogrammar/package.py
Labels: new-version, new-package, python, dependencies

#27956 New package: py-histbook
  var/spack/repos/builtin/packages/py-histbook/package.py
Labels: new-version, new-package, python, dependencies

#27924 CPU Architecture support
  var/spack/repos/builtin/packages/legion/package.py
Labels: update-package

#27945 Add a CI job to audit all the packages in the built-in repository
  .github/workflows/unit_tests.yaml
  var/spack/repos/builtin/packages/acts/package.py
  var/spack/repos/builtin/packages/aoflagger/package.py
  var/spack/repos/builtin/packages/camellia/package.py
  var/spack/repos/builtin/packages/cbtf-argonavis/package.py
  var/spack/repos/builtin/packages/cbtf-krell/package.py
  var/spack/repos/builtin/packages/cbtf-lanl/package.py
  var/spack/repos/builtin/packages/cbtf/package.py
  var/spack/repos/builtin/packages/dd4hep/package.py
  var/spack/repos/builtin/packages/flecsale/package.py
  var/spack/repos/builtin/packages/flecsi/package.py
  var/spack/repos/builtin/packages/grnboost/package.py
  var/spack/repos/builtin/packages/nalu/package.py
  var/spack/repos/builtin/packages/open-iscsi/package.py
  var/spack/repos/builtin/packages/openspeedshop-utils/package.py
  var/spack/repos/builtin/packages/openspeedshop/package.py
  var/spack/repos/builtin/packages/percept/package.py
  var/spack/repos/builtin/packages/phyluce/package.py
  var/spack/repos/builtin/packages/py-mmcv/package.py
  var/spack/repos/builtin/packages/py-pythonqwt/package.py
  var/spack/repos/builtin/packages/sollve/package.py
Labels: python, dependencies, update-package, conflicts, maintainers, workflow, ci, new-variant

#27990 Add libtree 3.0.0-rc9
  var/spack/repos/builtin/packages/libtree/package.py
Labels: new-version, dependencies, update-package, new-variant

#27842 Abinit: Added variant to install tests into install directory
  var/spack/repos/builtin/packages/abinit/package.py
Labels: update-package, new-variant

#27830 Fix OpenLDAP 2.6.0 recipe
  var/spack/repos/builtin/packages/openldap/package.py
  var/spack/repos/builtin/packages/py-python-ldap/package.py
  var/spack/repos/builtin/packages/wiredtiger/package.py
Labels: new-version, new-package, python, dependencies, update-package, conflicts, new-variant

#27993 New package: py-law
  var/spack/repos/builtin/packages/py-law/package.py
Labels: new-version, new-package, python, dependencies

#27883 ci: Catch Exceptions when attempting to register a CDash build
  lib/spack/spack/ci.py
  lib/spack/spack/cmd/ci.py
Labels: commands

#27995 New package: py-nbdime
  var/spack/repos/builtin/packages/py-nbdime/package.py
Labels: new-version, new-package, python, dependencies

#27994 New package: py-lizard
  var/spack/repos/builtin/packages/py-lizard/package.py
Labels: new-version, new-package, python, dependencies

#27996 New package: py-neurolab
  var/spack/repos/builtin/packages/py-neurolab/package.py
Labels: new-version, new-package, python, dependencies

#27970 add option to minimize full debug cores. include warning message about performance
  lib/spack/spack/error.py
  lib/spack/spack/main.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/concretize.py
  share/spack/spack-completion.bash
Labels: tests
