Repository spack/spack, pull requests merged in 2021-08, with the labels that each got.

#25118 Use the new cool Github templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/build_error.md
  .github/ISSUE_TEMPLATE/build_error.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: user-experience

#25153 libjpeg-turbo: New version 2.1.0
  var/spack/repos/builtin/packages/libjpeg-turbo/package.py
Labels: new-version, update-package

#25151 fenics-basix: add missing xtl dependency
  var/spack/repos/builtin/packages/fenics-basix/package.py
  var/spack/repos/builtin/packages/py-fenics-basix/package.py
Labels: dependencies, python, update-package

#25148 lorene: Install only executables, not unrelated files
  var/spack/repos/builtin/packages/lorene/package.py
Labels: update-package

#25169 spack diff: make output order deterministic
  lib/spack/docs/basic_usage.rst
  lib/spack/llnl/util/lang.py
  lib/spack/spack/cmd/diff.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/cmd/diff.py
  lib/spack/spack/test/llnl/util/lang.py
Labels: commands, documentation, tests, utilities

#25173 [giflib] Set LIBVER and LIBMAJOR when installing
  var/spack/repos/builtin/packages/giflib/package.py
Labels: update-package

#25107 [py-asteval] added version 0.9.25
  var/spack/repos/builtin/packages/py-asteval/package.py
Labels: dependencies, new-version, python, update-package

#24910 laghos: add variant with compiler optimization
  var/spack/repos/builtin/packages/laghos/package.py
Labels: new-variant, update-package

#25162 kadath: New package
  var/spack/repos/builtin/packages/kadath/package.py
Labels: dependencies, maintainers, new-package, new-variant, new-version

#25175 amrex: 21.08
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package

#25159 add MIOPEN_AMDGCN_ASSEMBLER to cmake args
  var/spack/repos/builtin/packages/miopen-hip/package.py
  var/spack/repos/builtin/packages/miopen-opencl/package.py
  var/spack/repos/builtin/packages/mivisionx/package.py
Labels: update-package

#24920 Optimised Cloverleaf3D
  var/spack/repos/builtin/packages/cloverleaf3d/package.py
Labels: dependencies, maintainers, new-variant, new-version, update-package

#25030 [imlib2] depends_on pkg-config, type = build; and new versions
  var/spack/repos/builtin/packages/imlib2/package.py
Labels: dependencies, new-version, update-package

#24638 document config option "url_fetch_method"
  etc/spack/defaults/config.yaml
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/schema/config.py
  lib/spack/spack/test/cache_fetch.py
  lib/spack/spack/test/s3_fetch.py
  lib/spack/spack/test/url_fetch.py
Labels: configuration, defaults, fetching, tests

#25156 Add maintainers for gperftools
  var/spack/repos/builtin/packages/gperftools/package.py
Labels: maintainers, update-package

#24960 Do not issue a warning for a missing source id when installing from local sources
  lib/spack/spack/environment.py
  lib/spack/spack/package.py
  lib/spack/spack/test/cmd/env.py
Labels: environments, tests

#25183 cmake 3.21
  var/spack/repos/builtin/packages/cmake/package.py
Labels: new-version, update-package

#25039 py-networkit/libnetworkit: Bump version 9.0
  var/spack/repos/builtin/packages/libnetworkit/0001-Name-agnostic-import-of-tlx-library-90.patch
  var/spack/repos/builtin/packages/libnetworkit/package.py
  var/spack/repos/builtin/packages/py-networkit/package.py
Labels: dependencies, new-version, patch, python, update-package

#25184 Installer CI
  .github/workflows/execute_installer.ps1
  .github/workflows/system_shortcut_check.ps1
  .github/workflows/windows_python.yml
  lib/spack/spack/cmd/installer/bundle.wxs.in
  lib/spack/spack/cmd/make_installer.py
  share/spack/qa/setup_spack.ps1
Labels: commands, windows, workflow

#23922 ci: Add RADIUSS stack to cloud CI
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/stacks/radiuss/spack.yaml
Labels: ci, gitlab, radiuss

#24915 adjust for erroneous detection of nvc as gcc
  var/spack/repos/builtin/packages/hdf5/package.py
Labels: update-package

#24868 modfiy hip-rocclr references for 4.1.0 and 4.2.0 releases
  var/spack/repos/builtin/packages/hipcub/package.py
  var/spack/repos/builtin/packages/hipfft/package.py
  var/spack/repos/builtin/packages/hipsparse/package.py
  var/spack/repos/builtin/packages/miopen-opencl/package.py
  var/spack/repos/builtin/packages/rccl/package.py
  var/spack/repos/builtin/packages/rocalution/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
  var/spack/repos/builtin/packages/rocm-opencl-runtime/package.py
  var/spack/repos/builtin/packages/rocm-tensile/package.py
  var/spack/repos/builtin/packages/rocprim/package.py
  var/spack/repos/builtin/packages/rocrand/package.py
  var/spack/repos/builtin/packages/rocsparse/package.py
  var/spack/repos/builtin/packages/rocthrust/package.py
Labels: dependencies, maintainers, update-package

#25058 petsc: add variants strumpack, scalapack
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/strumpack/package.py
Labels: dependencies, new-variant, update-package

#25088 Docs: add link to source code
  lib/spack/docs/conf.py
Labels: documentation

#25166 [curl] Fix brototli option flag
  var/spack/repos/builtin/packages/curl/package.py
Labels: dependencies, extends, new-variant, new-version, patch, update-package

#25154 rnpletal: New package
  var/spack/repos/builtin/packages/rnpletal/corrections.diff
  var/spack/repos/builtin/packages/rnpletal/package.py
Labels: dependencies, libraries, maintainers, new-package, new-variant, new-version, patch

#25170 don't spin writer daemon when < /dev/null
  lib/spack/llnl/util/tty/log.py
Labels: utilities

#25167 refactor: convert `build_process` to use `BuildProcessInstaller`
  lib/spack/spack/installer.py
Labels: refactoring

#25198 DIAMOND: Add version 2.0.11
  var/spack/repos/builtin/packages/diamond/package.py
Labels: new-version, update-package

#25196 py-fiona: add new version
  var/spack/repos/builtin/packages/py-fiona/package.py
Labels: dependencies, new-version, python, update-package

#25192 PAPI: add version 'master'
  var/spack/repos/builtin/packages/papi/package.py
Labels: new-version, update-package

#25168 installation: filter padding from command arguments
  lib/spack/spack/installer.py
  lib/spack/spack/util/executable.py
Labels: utilities

#25193 aocc: New version 3.1.0
  var/spack/repos/builtin/packages/aocc/package.py
Labels: new-version, update-package

#25194 Add sbp 3.4.10
  var/spack/repos/builtin/packages/sbp/package.py
Labels: maintainers, new-package, new-version

#25044 Intel tbb nvhpc issues
  var/spack/repos/builtin/packages/intel-tbb/intel-tbb.nvhpc-remove-flags.2017.patch
  var/spack/repos/builtin/packages/intel-tbb/intel-tbb.nvhpc-remove-flags.2019.1.patch
  var/spack/repos/builtin/packages/intel-tbb/intel-tbb.nvhpc-remove-flags.2019.7.patch
  var/spack/repos/builtin/packages/intel-tbb/intel-tbb.nvhpc-remove-flags.2019.9.patch
  var/spack/repos/builtin/packages/intel-tbb/intel-tbb.nvhpc-remove-flags.2019.patch
  var/spack/repos/builtin/packages/intel-tbb/intel-tbb.nvhpc-version-script-fix.2017.patch
  var/spack/repos/builtin/packages/intel-tbb/package.py
Labels: intel, patch, update-package

#25188 openPMD-api: 0.13.4 preferred
  var/spack/repos/builtin/packages/openpmd-api/package.py
Labels: e4s, ecp, new-version, update-package

#25106 AOCC support for CloverLeaf
  var/spack/repos/builtin/packages/cloverleaf/package.py
Labels: conflicts, new-variant, new-version, patch, update-package

#25178 Midnight Commander: Add version 4.8.26
  var/spack/repos/builtin/packages/mc/package.py
Labels: new-version, update-package

#25176 [scrot] Use tarball with configure script
  var/spack/repos/builtin/packages/scrot/package.py
Labels: dependencies, new-version, update-package

#25190 h5bench: new package
  var/spack/repos/builtin/packages/h5bench/package.py
Labels: dependencies, new-package, new-version

#25201 Bump fmt
  var/spack/repos/builtin/packages/fmt/package.py
Labels: new-version, update-package

#24519 Bump Arbor package to v0.5.2
  var/spack/repos/builtin/packages/arbor/package.py
Labels: conflicts, dependencies, maintainers, new-version, update-package

#25181 py-datalad: add new package
  var/spack/repos/builtin/packages/py-datalad/package.py
Labels: dependencies, new-package, new-variant, new-version, python

#25208 Bump py-s3tranfer
  var/spack/repos/builtin/packages/py-s3transfer/package.py
Labels: dependencies, new-version, python, update-package

#25138 Test bootstrapping in a workflow
  .github/workflows/bootstrap.yml
  lib/spack/spack/bootstrap.py
  var/spack/repos/builtin/packages/python/package.py
Labels: build-systems, hotfix, python, update-package, workflow

#25214 Add py-netaddr
  var/spack/repos/builtin/packages/py-netaddr/package.py
Labels: dependencies, maintainers, new-package, new-version, python

#25212 Add py-debtcollector
  var/spack/repos/builtin/packages/py-debtcollector/package.py
Labels: dependencies, maintainers, new-package, new-version, python

#25210 Bump py-botocore and add python constraints
  var/spack/repos/builtin/packages/py-botocore/package.py
Labels: dependencies, new-version, python, update-package

#25217 Add py-oslo-i18n
  var/spack/repos/builtin/packages/py-oslo-i18n/package.py
Labels: dependencies, maintainers, new-package, new-version, python

#25215 Add py-os-service-types
  var/spack/repos/builtin/packages/py-os-service-types/package.py
Labels: dependencies, maintainers, new-package, new-version, python

#25211 Bump py-boto3, add python constraints, bump deps
  var/spack/repos/builtin/packages/py-boto3/package.py
Labels: dependencies, new-version, python, update-package

#25209 Bump py-python-dateutil
  var/spack/repos/builtin/packages/py-python-dateutil/package.py
Labels: dependencies, new-version, python, update-package

#25226 py-sympy: Add new versions and python versions they work with
  var/spack/repos/builtin/packages/py-sympy/package.py
Labels: dependencies, new-version, python, update-package

#25230 [py-efficientnet-pytorch] added version 0.7.1
  var/spack/repos/builtin/packages/py-efficientnet-pytorch/package.py
Labels: new-version, python, update-package

#20896 poplddecay: Fix checksum for 3.41
  var/spack/repos/builtin/packages/poplddecay/package.py
Labels: checksum

#25189 Windows lock timeout
  lib/spack/llnl/util/lock.py
  lib/spack/spack/environment.py
  lib/spack/spack/stage.py
  lib/spack/spack/test/installer.py
  lib/spack/spack/test/util/spack_lock_wrapper.py
  lib/spack/spack/util/file_cache.py
  lib/spack/spack/util/lock.py
Labels: environments, locking, stage, tests, utilities, windows

#25219 Add py-oslo-utils
  var/spack/repos/builtin/packages/py-oslo-utils/package.py
Labels: dependencies, maintainers, new-package, new-version, python

#25213 Add py-keystoneauth1
  var/spack/repos/builtin/packages/py-keystoneauth1/package.py
Labels: dependencies, maintainers, new-package, new-version, python

#25216 Add py-oslo-config
  var/spack/repos/builtin/packages/py-oslo-config/package.py
Labels: dependencies, maintainers, new-package, new-version, python

#25218 Add py-oslo-serialization
  var/spack/repos/builtin/packages/py-oslo-serialization/package.py
Labels: dependencies, maintainers, new-package, new-version, python

#25220 Add py-python-keystoneclient
  var/spack/repos/builtin/packages/py-python-keystoneclient/package.py
Labels: dependencies, maintainers, new-package, new-version, python

#25221 Bump py-python-swiftclient and add keystone support
  var/spack/repos/builtin/packages/py-python-swiftclient/package.py
Labels: dependencies, new-variant, new-version, python, update-package

#25243 Added new versions for Sombrero
  var/spack/repos/builtin/packages/sombrero/package.py
Labels: new-version, update-package

#25191 Update Windows installer and installer CI
  .github/workflows/windows_python.yml
  lib/spack/spack/cmd/installer/CMakeLists.txt
  lib/spack/spack/cmd/make_installer.py
Labels: commands, windows, workflow

#25233 Add locking test to Windows CI
  .github/workflows/windows_python.yml
  share/spack/qa/configuration/windows_locking_config.yaml
Labels: workflow

#25256 Add checksum for py-astor@0.8.1
  var/spack/repos/builtin/packages/py-astor/package.py
Labels: new-version, python, update-package

#25255 Spack version: 0.16.1 -> 0.16.2
  lib/spack/spack/__init__.py
Labels: releases

#25259 Add checksums for new protobuf versions
  var/spack/repos/builtin/packages/py-protobuf/package.py
Labels: new-version, python, update-package

#25258 Add checksum for py-gast 0.5.1 and 0.5.2
  var/spack/repos/builtin/packages/py-gast/package.py
Labels: new-version, python, update-package

#25262 Update py-typing-extensions
  var/spack/repos/builtin/packages/py-typing-extensions/package.py
Labels: new-version, python, update-package

#25257 Add checksum for py-wheel 0.33.6
  var/spack/repos/builtin/packages/py-wheel/package.py
Labels: new-version, python, update-package

#25271 bump patchelf 0.13 (spack dep)
  var/spack/repos/builtin/packages/patchelf/package.py
Labels: new-version, update-package

#25268 Add py-fastcov
  var/spack/repos/builtin/packages/py-fastcov/package.py
Labels: dependencies, maintainers, new-package, new-version, python

#25274 [sentencepiece] added version 0.1.91
  var/spack/repos/builtin/packages/sentencepiece/package.py
Labels: new-version, update-package

#25277 New package: r-gparotation
  var/spack/repos/builtin/packages/r-gparotation/package.py
Labels: new-version, new-package, R, dependencies

#25276 New package: r-elemstatlearn
  var/spack/repos/builtin/packages/r-elemstatlearn/package.py
Labels: new-version, new-package, R, dependencies

#25292 refactor: rename `colorful` kwarg to `color`
  lib/spack/spack/cmd/diff.py
Labels: commands

#25275 [py-sentencepiece] added version 0.1.91
  var/spack/repos/builtin/packages/py-sentencepiece/package.py
Labels: new-version, python, dependencies, update-package

#24257 Add New Build Containers Workflow
  .github/workflows/build-containers.yml
  share/spack/docker/ubuntu-1804.dockerfile
Labels: containers, docker, workflow

#25234 WarpX: 21.08
  var/spack/repos/builtin/packages/py-warpx/package.py
  var/spack/repos/builtin/packages/warpx/package.py
Labels: new-version, python, update-package, ecp, e4s

#25265 openPMD-api: 0.14.1
  var/spack/repos/builtin/packages/openpmd-api/package.py
Labels: new-version, update-package, ecp, e4s

#25300 openPMD-api: CTest & Install Tests
  var/spack/repos/builtin/packages/openpmd-api/package.py
Labels: tests, update-package, ecp, e4s, stand-alone-tests

#25301 Fix GHCR Username in Container Builder
  .github/workflows/build-containers.yml
Labels: workflow

#25266 [vecgeom] new version 1.1.16
  var/spack/repos/builtin/packages/vecgeom/package.py
Labels: new-version, update-package

#25290 Trilinos: flag_handler logic fix
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: dependencies, patch, update-package

#25296 hwloc: Adding opencl and rocm (AMD GPUs) variants to hwloc.
  var/spack/repos/builtin/packages/hwloc/package.py
Labels: dependencies, update-package, new-variant

#25305 Remove PR Logic from Container Builder
  .github/workflows/build-containers.yml
Labels: workflow

#25099 petsc: cleanup test code to support 'spack test run' and add a 'cu…
  var/spack/repos/builtin/packages/petsc/package.py
Labels: update-package, stand-alone-tests

#25051 xsdk: remove 0.2.0 and custom package versions
  var/spack/repos/builtin/packages/alquimia/package.py
  var/spack/repos/builtin/packages/hypre/package.py
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/pflotran/package.py
  var/spack/repos/builtin/packages/superlu-dist/package.py
  var/spack/repos/builtin/packages/trilinos/package.py
  var/spack/repos/builtin/packages/xsdk/package.py
  var/spack/repos/builtin/packages/xsdktrilinos/package.py
Labels: dependencies, update-package, conflicts

#25270 libtree 1.2.3
  var/spack/repos/builtin/packages/libtree/package.py
Labels: new-version, update-package

#25253 Use __skip_rocmclang for cmake 3.21 in rocblas/rocfft to avoid incomplete compiler support
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
Labels: update-package, conflicts

#25246 Fix broken tests in hip ^cmake@3.21:
  var/spack/repos/builtin/packages/hip/0005-Disable-tests-3.5.0.patch
  var/spack/repos/builtin/packages/hip/0005-Disable-tests-3.6.0.patch
  var/spack/repos/builtin/packages/hip/0005-Disable-tests-3.9.0.patch
  var/spack/repos/builtin/packages/hip/0005-Disable-tests-4.1.0.patch
  var/spack/repos/builtin/packages/hip/package.py
Labels: patch, update-package

#25309 The r-cairo package needs an explicit dependency on libxt
  var/spack/repos/builtin/packages/r-cairo/package.py
Labels: R, dependencies, update-package

#25307 petsc, petsc4py: add version 3.15.3
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/py-petsc4py/package.py
Labels: new-version, python, update-package

#25299 update version for rocm-4.3.0 release
  var/spack/repos/builtin/packages/atmi/package.py
  var/spack/repos/builtin/packages/comgr/package.py
  var/spack/repos/builtin/packages/hip-rocclr/package.py
  var/spack/repos/builtin/packages/hipify-clang/package.py
  var/spack/repos/builtin/packages/hsa-rocr-dev/package.py
  var/spack/repos/builtin/packages/rocm-bandwidth-test/package.py
  var/spack/repos/builtin/packages/rocm-dbgapi/package.py
  var/spack/repos/builtin/packages/rocm-device-libs/package.py
  var/spack/repos/builtin/packages/rocm-gdb/package.py
  var/spack/repos/builtin/packages/rocm-opencl/package.py
  var/spack/repos/builtin/packages/rocprofiler-dev/package.py
  var/spack/repos/builtin/packages/roctracer-dev-api/package.py
Labels: new-version, patch, update-package, AMD

#25289 petsc: fix build with trilinos
  var/spack/repos/builtin/packages/petsc/package.py
Labels: xSDK, update-package

#25291 trilinos: fix +hypre build
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: xSDK, update-package

#25282 ci: Initial expansion of RADIUSS packages
  share/spack/gitlab/cloud_pipelines/stacks/radiuss/spack.yaml
Labels: gitlab, ci

#25158 Add mfem 4.3
  var/spack/repos/builtin/packages/mfem/package.py
Labels: new-version, update-package

#25186 netcdf-fortran: fix building with AOCC
  var/spack/repos/builtin/packages/netcdf-fortran/package.py
Labels: update-package

#25273 New package: py-speech-recognition
  var/spack/repos/builtin/packages/py-speech-recognition/package.py
Labels: new-version, new-package, python, dependencies

#25303 installation: filter padding from all `tty` output
  lib/spack/llnl/util/tty/__init__.py
  lib/spack/spack/installer.py
  lib/spack/spack/test/util/path.py
  lib/spack/spack/util/executable.py
  lib/spack/spack/util/path.py
Labels: tests, utilities

#25251 casacore: add variant for ADIOS2 support
  var/spack/repos/builtin/packages/casacore/package.py
Labels: dependencies, update-package, new-variant

#25248 apex: add v2.4.1
  var/spack/repos/builtin/packages/apex/package.py
Labels: new-version, update-package

#25250 dcm2niix: add package (at version 1.0.20210317)
  var/spack/repos/builtin/packages/dcm2niix/package.py
Labels: new-version, new-package

#25239 py-setuptools: add new version
  var/spack/repos/builtin/packages/py-scipy/package.py
  var/spack/repos/builtin/packages/py-setuptools/package.py
Labels: new-version, python, dependencies, update-package

#25247 ssht: New version 1.5.0
  var/spack/repos/builtin/packages/ssht/package.py
Labels: new-version, update-package

#25241 py-requests-unixsocket: add missing py-pbr dependency
  var/spack/repos/builtin/packages/py-requests-unixsocket/package.py
Labels: python, dependencies, update-package

#25240 py-pytest: add new version
  var/spack/repos/builtin/packages/py-pytest/package.py
Labels: new-version, python, dependencies, update-package

#25236 Add xproperty package
  var/spack/repos/builtin/packages/xproperty/package.py
Labels: new-version, new-package, dependencies, conflicts, maintainers

#25232 py-pytorch-lightning: add new version
  var/spack/repos/builtin/packages/py-pytorch-lightning/package.py
Labels: new-version, python, dependencies, update-package

#25231 py-pydeprecate: add new version
  var/spack/repos/builtin/packages/py-pydeprecate/package.py
Labels: new-version, python, update-package

#24984 Update xeus package
  var/spack/repos/builtin/packages/xeus/package.py
Labels: new-version, dependencies, patch, update-package, maintainers, new-variant

#24376 cp2k: update elpa and sirius dependencies, fix build with mpich and gcc@10
  var/spack/repos/builtin/packages/cp2k/package.py
  var/spack/repos/builtin/packages/elpa/package.py
Labels: new-version, dependencies, patch, update-package, conflicts, new-variant, bugfix, bootstrap

#25206 ispc: 1.16 & 1.16.1
  var/spack/repos/builtin/packages/ispc/package.py
Labels: new-version, dependencies, update-package

#25204 DD4hep: fixes to run tests
  var/spack/repos/builtin/packages/dd4hep/package.py
Labels: dependencies, update-package

#25281 Libxc: add std flag for Intel
  var/spack/repos/builtin/packages/libxc/package.py
Labels: update-package

#25237 Add xwidgets package
  var/spack/repos/builtin/packages/xwidgets/package.py
Labels: new-version, new-package, dependencies, maintainers

#25260 SOS: add xpmem variant
  var/spack/repos/builtin/packages/sos/package.py
Labels: dependencies, update-package, new-variant

#25263 One more fix for giflib
  var/spack/repos/builtin/packages/giflib/package.py
Labels: update-package

#25315 sos: shr-atomics is a disable/enable
  var/spack/repos/builtin/packages/sos/package.py
Labels: update-package

#25222 Make spack env activate x idempotent
  lib/spack/spack/cmd/env.py
Labels: commands

#25298 uqtk: add pyqutk variant to uqtk
  var/spack/repos/builtin/packages/uqtk/package.py
Labels: dependencies, update-package, new-variant, extends

#25319 openmpi:add pandoc dependency when building master
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: dependencies, patch, update-package

#24432 Elk update
  var/spack/repos/builtin/packages/elk/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#25336 Add cpp-termcolor
  var/spack/repos/builtin/packages/cpp-termcolor/package.py
Labels: new-version, new-package, dependencies, maintainers

#25335 Add elfio
  var/spack/repos/builtin/packages/elfio/package.py
Labels: new-version, new-package, dependencies, maintainers

#25334 Bump cxxopts and clean package.py
  var/spack/repos/builtin/packages/cxxopts/package.py
Labels: new-version, update-package, maintainers

#25331 Rework rules for provider weights
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/data/config/packages.yaml
  var/spack/repos/builtin.mock/packages/leaf-adds-virtual/package.py
  var/spack/repos/builtin.mock/packages/middle-adds-virtual/package.py
  var/spack/repos/builtin.mock/packages/root-adds-virtual/package.py
Labels: new-version, concretization, dependencies, virtual-dependencies, tests, bugfix

#25228 AMD ROCm 4.3.0 - bump up version for llvmamdgpu, hsakmt-roct, rocm-cmake, rocm-smi-lib
  var/spack/repos/builtin/packages/hsakmt-roct/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/rocm-cmake/package.py
  var/spack/repos/builtin/packages/rocm-smi-lib/package.py
Labels: new-version, dependencies, resources, patch, update-package, conflicts, maintainers, new-variant

#25351 Remove HT variant from LBANN SW stack
  var/spack/repos/builtin/packages/dihydrogen/package.py
  var/spack/repos/builtin/packages/hydrogen/package.py
  var/spack/repos/builtin/packages/lbann/package.py
Labels: dependencies, update-package

#25350 Doc: def find() fix rst
  lib/spack/llnl/util/filesystem.py
Labels: documentation, utilities

#25322 mpibind: Adding new package
  var/spack/repos/builtin/packages/mpibind/package.py
Labels: new-version, new-package, dependencies, maintainers, new-variant

#25333 py-particle: add version 0.15.1
  var/spack/repos/builtin/packages/py-particle/package.py
Labels: new-version, python, update-package

#25329 FEniCS: Loosen restriction on Boost version for FEniCS@2019.1.0 and newer
  var/spack/repos/builtin/packages/fenics/package.py
Labels: dependencies, update-package

#25340 Style: Use earlier/common isort settings option
  lib/spack/spack/cmd/style.py
Labels: commands, core

#25349 update version for rocm-4.3.0 release
  var/spack/repos/builtin/packages/hipblas/package.py
  var/spack/repos/builtin/packages/hipcub/package.py
  var/spack/repos/builtin/packages/hipfft/package.py
  var/spack/repos/builtin/packages/hipfort/package.py
  var/spack/repos/builtin/packages/rccl/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
  var/spack/repos/builtin/packages/rocm-tensile/package.py
  var/spack/repos/builtin/packages/rocprim/package.py
  var/spack/repos/builtin/packages/rocrand/package.py
  var/spack/repos/builtin/packages/rocsolver/package.py
  var/spack/repos/builtin/packages/rocthrust/package.py
Labels: new-version, update-package, ROCm/hip

#25343 update the version for rocm-4.3.0 release
  var/spack/repos/builtin/packages/migraphx/package.py
  var/spack/repos/builtin/packages/miopen-hip/package.py
  var/spack/repos/builtin/packages/miopen-opencl/package.py
  var/spack/repos/builtin/packages/miopengemm/package.py
  var/spack/repos/builtin/packages/mivisionx/package.py
  var/spack/repos/builtin/packages/rdc/package.py
  var/spack/repos/builtin/packages/roctracer-dev/package.py
Labels: new-version, update-package, AMD, ROCm/hip

#25337 Add libtree deps
  var/spack/repos/builtin/packages/libtree/package.py
Labels: new-version, dependencies, update-package, new-variant

#25355 package: pango add new versions 1.48...
  var/spack/repos/builtin/packages/pango/package.py
Labels: new-version, dependencies, update-package

#25356 binutils: add v2.37
  var/spack/repos/builtin/packages/binutils/package.py
Labels: new-version, update-package, maintainers

#25347 Umpire: change camp version for develop
  var/spack/repos/builtin/packages/umpire/package.py
Labels: dependencies, update-package

#25372 Add ReFrame 3.7.x versions
  var/spack/repos/builtin/packages/reframe/package.py
Labels: new-version, dependencies, update-package

#25374 update version for rocm-4.3.0 release
  var/spack/repos/builtin/packages/hipsparse/package.py
  var/spack/repos/builtin/packages/rocalution/package.py
  var/spack/repos/builtin/packages/rocm-clang-ocl/package.py
  var/spack/repos/builtin/packages/rocsparse/package.py
Labels: new-version, update-package, AMD

#25342 update version for rocm-4.3.0 release for hip recipe
  var/spack/repos/builtin/packages/hip/Add_missing_open_cl_header_file_for_4.3.0.patch
  var/spack/repos/builtin/packages/hip/package.py
  var/spack/repos/builtin/packages/rocminfo/package.py
Labels: new-version, patch, update-package, ROCm/hip

#25381 Fix typos in fixture use. Mention fixtures in pytest.ini
  lib/spack/spack/test/config_values.py
  pytest.ini
Labels: tests

#25375 py-py-spy: upgrade to 0.3.8 and build with cargo
  var/spack/repos/builtin/packages/py-py-spy/package.py
Labels: new-version, python, update-package

#25252 strumpack: Patch for building shared lib when enabling ROCm.
  var/spack/repos/builtin/packages/strumpack/package.py
  var/spack/repos/builtin/packages/strumpack/shared-rocm.patch
Labels: patch, update-package

#25382 AMD ROCm 4.3: Bump up rvs version to 4.3 and fix hip patch
  var/spack/repos/builtin/packages/rocm-validation-suite/002-remove-force-setting-hip-inc-path.patch
  var/spack/repos/builtin/packages/rocm-validation-suite/003-cmake-change-to-remove-installs-and-sudo.patch
  var/spack/repos/builtin/packages/rocm-validation-suite/package.py
Labels: new-version, patch, update-package

#25407 append CMAKE_MODULE_PATH to include hip for rocalution
  var/spack/repos/builtin/packages/rocalution/0001-fix-hip-build-error.patch
  var/spack/repos/builtin/packages/rocalution/package.py
Labels: update-package
