Repository spack/spack, pull requests merged in 2021-03, with the labels that each got.

#22005 py-geopandas: add v0.9.0
  var/spack/repos/builtin/packages/py-geopandas/package.py
Labels: new-version

#22018 Windows: Workaround for logging during install command
  lib/spack/spack/installer.py
Labels: windows

#22019 binutils: add versions 2.35.2 and 2.36.1
  var/spack/repos/builtin/packages/binutils/package.py
Labels: new-version

#22000 Combine URLFetchStrategy and CurlFetchStrategy into one class
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/mirror.py
  lib/spack/spack/patch.py
  lib/spack/spack/stage.py
  lib/spack/spack/test/cache_fetch.py
  lib/spack/spack/test/s3_fetch.py
  lib/spack/spack/test/url_fetch.py
Labels: fetching, windows

#22022 py-cython-bbox: new package
  var/spack/repos/builtin/packages/py-cython-bbox/package.py
Labels: new-package

#22023 py-motmetrics: new package
  var/spack/repos/builtin/packages/py-motmetrics/package.py
Labels: new-package

#22021 py-lap: new package
  var/spack/repos/builtin/packages/py-lap/package.py
Labels: new-package

#22017 intel-mpi: add version 2019.9.304 and 2019.10.317
  var/spack/repos/builtin/packages/intel-mpi/package.py
Labels: e4s, ecp, intel, mpi, new-version, update-package

#22025 amrex: must use AMReX_CUDA_ARCH for version > 20.11
  var/spack/repos/builtin/packages/amrex/package.py
Labels: cuda, ecp, update-package, xSDK

#22020 py-yacs: new package
  var/spack/repos/builtin/packages/py-yacs/package.py
Labels: new-package

#22026 py-tensorboardx: update package
  var/spack/repos/builtin/packages/py-tensorboardx/package.py
Labels: new-version, update-package

#22024 py-torch-geometric: new version 1.6.3
  var/spack/repos/builtin/packages/py-python-louvain/package.py
  var/spack/repos/builtin/packages/py-torch-cluster/package.py
  var/spack/repos/builtin/packages/py-torch-geometric/package.py
  var/spack/repos/builtin/packages/py-torch-sparse/package.py
Labels: new-package, new-version, update-package

#21834 alps: add smoke test
  var/spack/repos/builtin/packages/alps/package.py
  var/spack/repos/builtin/packages/alps/test/spin_one_half
Labels: smoke-tests

#22028 amrex: new version 21.03
  var/spack/repos/builtin/packages/amrex/package.py
Labels: e4s, ecp, new-version, update-package

#21941 kokkos+cuda requires +wrapper
  var/spack/repos/builtin/packages/kokkos/package.py
Labels: conflicts, e4s, ecp, update-package

#22016 Added Go versions 1.16 and 1.15.8
  var/spack/repos/builtin/packages/go/package.py
Labels: new-version

#21732 Paraview compatibility with PugiXML varies by version.
  var/spack/repos/builtin/packages/paraview/package.py
Labels: dependencies, e4s, ecp, update-package

#22027 orthofinder: Version update with url to checksum all versions
  var/spack/repos/builtin/packages/orthofinder/package.py
Labels: new-version

#22033 py-azureml-dataprep-rslex: install only x86_64
  var/spack/repos/builtin/packages/py-azureml-dataprep-rslex/package.py
Labels: conflicts

#22034 py-importlib: Python 2.7 is needed to build.
  var/spack/repos/builtin/packages/py-importlib/package.py
Labels: dependencies

#22035 py-fava: Removed the importlib dependency from py-fava.
  var/spack/repos/builtin/packages/py-fava/package.py
Labels: dependencies

#21793 virtuoso: new package
  var/spack/repos/builtin/packages/virtuoso/package.py
Labels: new-package

#22004 nim: add v1.4.4
  var/spack/repos/builtin/packages/nim/package.py
Labels: update-package

#21524 Add more unit test coverage for patching
  lib/spack/spack/test/patch.py
Labels: patch, tests

#21992 BMI: adjust git url to new repo location
  var/spack/repos/builtin/packages/bmi/package.py
Labels: update-package, versions

#22041 vecgeom: add version 1.1.12
  var/spack/repos/builtin/packages/vecgeom/package.py
Labels: new-version

#21784 New package at r-spades at 2.0.6
  var/spack/repos/builtin/packages/r-spades/package.py
Labels: R, new-package

#22047 aws-parallelcluster v2.10.2
  var/spack/repos/builtin/packages/aws-parallelcluster/package.py
Labels: new-version

#21769 openfoam: disable FPE handling for Fujitsu compiler
  var/spack/repos/builtin/packages/openfoam/package.py
Labels: fujitsu, update-package

#21878 New Package: keepassxc
  var/spack/repos/builtin/packages/keepassxc/package.py
Labels: new-package

#22046 zig: add new package at v0.7.1
  etc/spack/defaults/packages.yaml
  var/spack/repos/builtin/packages/zig/package.py
Labels: new-package

#22048 py-pandas: add v1.2.3
  var/spack/repos/builtin/packages/py-pandas/package.py
Labels: new-version

#22012 py-pyprecice: Add version 2.1.1.2 and 2.2.0.1
  var/spack/repos/builtin/packages/py-pyprecice/package.py
Labels: new-version

#22049 add spacktivate and config editor
  lib/spack/spack/cmd/installer/spack_cmd.bat.in
  lib/spack/spack/util/editor.py
Labels: windows

#22059 precice: Fix build error with missing pkg-config
  var/spack/repos/builtin/packages/precice/package.py
Labels: build-error, dependencies, e4s, ecp

#21446 Bootstrap clingo from sources
  .github/workflows/linux_unit_tests.yaml
  lib/spack/docs/getting_started.rst
  lib/spack/spack/bootstrap.py
  lib/spack/spack/build_systems/python.py
  lib/spack/spack/cmd/clean.py
  lib/spack/spack/cmd/find.py
  lib/spack/spack/paths.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/store.py
  lib/spack/spack/util/environment.py
  lib/spack/spack/util/executable.py
  share/spack/spack-completion.bash
Labels: bootstrap, concretization

#22057 py-pycuda: new version 2020.1
  var/spack/repos/builtin/packages/py-pycuda/package.py
Labels: dependencies, new-version, update-package

#22036 py-adb-enhanced: update version to fix runtime error
  var/spack/repos/builtin/packages/py-adb-enhanced/package.py
Labels: new-version

#22067 BLAS++: CUDA default (false)
  var/spack/repos/builtin/packages/blaspp/package.py
  var/spack/repos/builtin/packages/warpx/package.py
Labels: cuda, update-package

#22066 unifyfs: Fix strncpy build error of version 0.9.1
  var/spack/repos/builtin/packages/unifyfs/package.py
  var/spack/repos/builtin/packages/unifyfs/unifyfs-sysio.c.patch
Labels: e4s, ecp, patch

#22076 Add new package: perl-test-more
  var/spack/repos/builtin/packages/perl-test-more/package.py
Labels: new-package, perl

#22091 Allow 'spack external find' to find executables on the system path
  lib/spack/spack/cmd/external.py
  lib/spack/spack/util/executable.py
Labels: windows

#21996 Allow relative paths in config files (relative to file dirname)
  lib/spack/spack/test/config.py
  lib/spack/spack/util/path.py
Labels: configuration, environments

#22081 [py-awkward1] add new version
  var/spack/repos/builtin/packages/py-awkward1/package.py
Labels: new-version, update-package

#22110 SLATE: Default ~cuda
  var/spack/repos/builtin/packages/slate/package.py
Labels: build-error, concretization, cuda, update-package

#22102 py-torchvision: add v0.9.0
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: new-version

#22101 py-torch: add v1.8.0
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: new-version

#22094 fixing mcl for gcc10
  var/spack/repos/builtin/packages/mcl/package.py
Labels: build-error

#21207 FEniCS: update of packages to support 2019.1.0
  var/spack/repos/builtin/packages/fenics/header_fix.patch
  var/spack/repos/builtin/packages/fenics/package.py
  var/spack/repos/builtin/packages/fenics/petsc_3_11.patch
Labels: new-package

#20718 Add Caliper 2.5.0 and Adiak 0.3.0
  var/spack/repos/builtin/packages/adiak/package.py
  var/spack/repos/builtin/packages/caliper/package.py
Labels: new-variant, new-version

#21882 casacore: Use a modern CMake's version of FindHDF5.cmake
  var/spack/repos/builtin/packages/casacore/package.py
Labels: dependencies, patch

#21592 Added support for disabling mumps in ipopt
  var/spack/repos/builtin/packages/ipopt/package.py
Labels: conflicts, dependencies, new-variant, update-package

#21914 gtkplus: add new version, convert to meson
  var/spack/repos/builtin/packages/gtkplus/package.py
Labels: help wanted, meson, new-version

#21861 Improve R package creation
  lib/spack/docs/build_systems/rpackage.rst
  lib/spack/spack/build_systems/r.py
  lib/spack/spack/cmd/create.py
Labels: R, commands, create-package, documentation

#22032 add `spack test list --all`
  lib/spack/spack/cmd/test.py
  lib/spack/spack/test/cmd/test.py
  share/spack/spack-completion.bash
Labels: commands, smoke-tests, tests

#22006 spack python: add --path option
  lib/spack/spack/cmd/python.py
  lib/spack/spack/test/cmd/python.py
  share/spack/spack-completion.bash
Labels: commands, python

#22165 py-tensorflow-probability: new package
  var/spack/repos/builtin/packages/py-cloudpickle/package.py
  var/spack/repos/builtin/packages/py-dm-tree/package.py
  var/spack/repos/builtin/packages/py-tensorflow-probability/package.py
Labels: new-package

#22170 Catch2: v2.13.4
  var/spack/repos/builtin/packages/catch2/package.py
Labels: new-version

#22175 py-tensorflow-probability: run install from correct working dir
  var/spack/repos/builtin/packages/py-tensorflow-probability/package.py
Labels: update-package

#22177 Windows logging class
  lib/spack/llnl/util/tty/log.py
  lib/spack/spack/installer.py
Labels: windows

#22176 kokkos: Tuning variant for Kokkos package
  var/spack/repos/builtin/packages/kokkos/package.py
Labels: new-variant, update-package

#22173 lcio, sio: Add newest versions
  var/spack/repos/builtin/packages/lcio/package.py
  var/spack/repos/builtin/packages/sio/package.py
Labels: dependencies, new-version, update-package

#22164 v0.9.1 release of mochi-margo
  var/spack/repos/builtin/packages/margo/package.py
  var/spack/repos/builtin/packages/mochi-margo/package.py
Labels: new-version, update-package

#22122 Cmake: Update Cmake 3.19.x to support crayftn preprocessing (cce 11+)
  var/spack/repos/builtin/packages/cmake/5882-enable-cce-fortran-preprocessing.patch
  var/spack/repos/builtin/packages/cmake/package.py
Labels: cray, e4s, ecp, patch

#22166 Add `--vanilla` flag to r build system
  lib/spack/spack/build_systems/r.py
Labels: R, build-systems

#22103 DSQSS: Add test function, and Continuation of #21666.
  var/spack/repos/builtin/packages/dsqss/package.py
  var/spack/repos/builtin/packages/dsqss/spackpip.patch
Labels: dependencies, patch, smoke-tests

#22073 scr: require dtcmp, switch from /tmp to /dev/shm
  var/spack/repos/builtin/packages/scr/package.py
Labels: conflicts, dependencies, e4s, ecp, update-package, variants

#22142 Add new package: libmacaroons
  var/spack/repos/builtin/packages/libmacaroons/package.py
Labels: new-package

#22160 Add new package: ike-scan
  var/spack/repos/builtin/packages/ike-scan/package.py
Labels: new-package

#22156 Add new package: hw-probe
  var/spack/repos/builtin/packages/hw-probe/package.py
Labels: new-package

#22155 Add new package: iptraf-ng
  var/spack/repos/builtin/packages/iptraf-ng/package.py
Labels: new-package

#22123 kicad: new version 5.1.9
  var/spack/repos/builtin/packages/kicad/package.py
  var/spack/repos/builtin/packages/ngspice/package.py
Labels: new-version

#20485 Pacifica spack integration work
  var/spack/repos/builtin/packages/pacifica-cli/package.py
  var/spack/repos/builtin/packages/py-pacifica-downloader/package.py
  var/spack/repos/builtin/packages/py-pacifica-namespace/package.py
  var/spack/repos/builtin/packages/py-pacifica-uploader/package.py
  var/spack/repos/builtin/packages/py-pager/package.py
Labels: new-package

#22197 concretize test: Disable locks on Windows
  lib/spack/spack/test/concretize.py
Labels: windows

#22198 cmd/env tests will now run on windows
  lib/spack/spack/test/cmd/env.py
Labels: windows

#22184 nalu-wind: add +cuda variant
  var/spack/repos/builtin/packages/nalu-wind/package.py
Labels: cuda, e4s, ecp, new-variant

#22194 New version libnetworkit/py-networkit 8.0 -> 8.1
  var/spack/repos/builtin/packages/libnetworkit/package.py
  var/spack/repos/builtin/packages/py-networkit/package.py
Labels: new-version

#22009 abinit: fix patch for Fujitsu compiler
  var/spack/repos/builtin/packages/abinit/fix_for_fujitsu.patch
  var/spack/repos/builtin/packages/abinit/package.py
Labels: update-package

#22211 BLAS++: OpenMP for AppleClang
  var/spack/repos/builtin/packages/blaspp/package.py
Labels: build-error, macOS, openmp

#22119 Add Compadre package to Spack
  var/spack/repos/builtin/packages/compadre/package.py
Labels: new-package

#22201 salmon: new version 1.4.0
  var/spack/repos/builtin/packages/libdivsufsort/package.py
  var/spack/repos/builtin/packages/salmon/package.py
  var/spack/repos/builtin/packages/staden-io-lib/package.py
Labels: new-version, update-package

#22192 gnutls: version 3.6.15
  var/spack/repos/builtin/packages/gnutls/package.py
Labels: new-version

#21437 gearshifft: added args.append('-DCMAKE_CXX_FLAGS=-pthread')
  var/spack/repos/builtin/packages/gearshifft/gearshifft-v0.4.0-cmake-variable-name.patch
  var/spack/repos/builtin/packages/gearshifft/package.py
Labels: bugfix, update-package

#22216 meson: apply rpath patch for current versions
  var/spack/repos/builtin/packages/meson/package.py
Labels: meson, patch

#22199 Pipelines fix falsely passing jobs
  lib/spack/spack/ci.py
Labels: ci, pipelines

#21626 eospac: add cpuinfo_comp_flags_key.patch
  var/spack/repos/builtin/packages/eospac/cpuinfo_comp_flags_key.patch
  var/spack/repos/builtin/packages/eospac/package.py
Labels: patch, update-package

#22229 py-imageio: new version 2.9.0
  var/spack/repos/builtin/packages/py-imageio/package.py
Labels: new-version

#22182 Fix ELPA < 2020 with GCC >= 10
  var/spack/repos/builtin/packages/elpa/package.py
Labels: update-package, variants

#22244 Windows locks: PyOVERLAPPED may not be a class member
  lib/spack/llnl/util/lock.py
Labels: windows

#22212 bind9: Fix build error
  var/spack/repos/builtin/packages/bind9/package.py
Labels: update-package

#22245 Add newest versions of py-h5py
  var/spack/repos/builtin/packages/py-h5py/package.py
Labels: new-version

#22221 py-pytest-html recipe
  var/spack/repos/builtin/packages/py-pytest-html/package.py
  var/spack/repos/builtin/packages/py-pytest-metadata/package.py
Labels: new-package

#22205 Add internal package options to Trilinos
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: e4s, ecp, update-package

#22237 superlu-dist: Add e4s testsuite-inspired smoke test
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: e4s, ecp, smoke-tests

#22189 py-chainer: Add test method for ChainerMN (continued #21848, #21940)
  var/spack/repos/builtin/packages/py-chainer/package.py
Labels: smoke-tests

#22254 chai: Add 2.3.0 version
  var/spack/repos/builtin/packages/chai/package.py
Labels: e4s, ecp, new-version, radiuss

#22261 py-python-benedict - py-ftfy dep when fixed
  var/spack/repos/builtin/packages/py-python-benedict/package.py
Labels: dependencies, python

#22259 py-fsspec: Update version to install py-s3fs
  var/spack/repos/builtin/packages/py-fsspec/package.py
Labels: new-version

#22238 package/ALPS: add hints for dependency resolution
  var/spack/repos/builtin/packages/alps/package.py
Labels: dependencies

#22234 Updates to LBANN software stack
  var/spack/repos/builtin/packages/aluminum/package.py
  var/spack/repos/builtin/packages/dihydrogen/package.py
  var/spack/repos/builtin/packages/hydrogen/package.py
  var/spack/repos/builtin/packages/lbann/package.py
Labels: dependencies, new-version, radiuss, update-package

#22225 Rivet: syntax fixes
  var/spack/repos/builtin/packages/rivet/package.py
Labels: bugfix, update-package

#22203 bugfix: ensure spack test list still works
  lib/spack/spack/cmd/test.py
  lib/spack/spack/test/cmd/test.py
Labels: bugfix, smoke-tests

#22218 [dd4hep] update env var
  var/spack/repos/builtin/packages/dd4hep/package.py
Labels: update-package

#22253 ascent: Relax CMake version constraints
  var/spack/repos/builtin/packages/ascent/package.py
  var/spack/repos/builtin/packages/vtk-h/package.py
Labels: dependencies, e4s, ecp, radiuss, update-package

#22262 py-h5py: offline installation and deps fix
  var/spack/repos/builtin/packages/py-h5py/h5py-3-setuprequires.patch
  var/spack/repos/builtin/packages/py-h5py/package.py
Labels: dependencies, patch, python, update-package

#22264 py-rich/py-dvc: Fixed when clause when including Python
  var/spack/repos/builtin/packages/py-dvc/package.py
  var/spack/repos/builtin/packages/py-rich/package.py
Labels: dependencies

#22251 adding spack -c to set one off config arguments
  lib/spack/spack/cmd/config.py
  lib/spack/spack/config.py
  lib/spack/spack/main.py
  lib/spack/spack/test/cmd/config.py
  lib/spack/spack/test/config.py
  share/spack/spack-completion.bash
Labels: commands, configuration

#22270 openblas: prevent microarch flags for generic targets
  var/spack/repos/builtin/packages/openblas/package.py
Labels: update-package

#22257 py-botocore: Update version to install py-s3fs
  var/spack/repos/builtin/packages/py-botocore/package.py
Labels: new-version

#22272 do not validate variants of concrete specs in solver setup
  lib/spack/spack/solver/asp.py
Labels: concretization, specs

#22256 py-aioitertools: New package
  var/spack/repos/builtin/packages/py-aioitertools/package.py
Labels: new-package

#22295 fortrilinos: Fix trilinos depend
  var/spack/repos/builtin/packages/fortrilinos/package.py
Labels: dependencies, e4s, ecp

#22289 PyTorch: add missing tqdm dependency
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: dependencies

#22290 py-tqdm: add new version, variants
  var/spack/repos/builtin/packages/py-tqdm/package.py
Labels: dependencies, new-variant, new-version

#22279 Fix use of quotes in Python build system
  lib/spack/spack/build_systems/python.py
Labels: bugfix, build-systems, python

#22288 dos2unix: gettext needed for linking
  var/spack/repos/builtin/packages/dos2unix/package.py
Labels: dependencies

#22302 vtk-h: Fix missing trailing-colon in CMake version
  var/spack/repos/builtin/packages/vtk-h/package.py
Labels: bugfix, dependencies, ecp

#22292 OpenCV: add new version, simplify package
  var/spack/repos/builtin/packages/opencv/package.py
Labels: conflicts, new-version, update-package

#22258 py-aiobotocore: New package
  var/spack/repos/builtin/packages/py-aiobotocore/package.py
Labels: new-package

#22247 Speed-up CI by reorganizing tests
  .github/workflows/linux_unit_tests.yaml
  .github/workflows/macos_unit_tests.yaml
  .github/workflows/style_and_docs.yaml
  .github/workflows/unit_tests.yaml
  README.md
  lib/spack/spack/test/ci.py
  lib/spack/spack/test/cmd/ci.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/cmd/url.py
  lib/spack/spack/test/cmd/versions.py
  lib/spack/spack/test/util/util_gpg.py
  pytest.ini
  share/spack/qa/run-shell-tests
  share/spack/qa/run-unit-tests
Labels: refactoring, tests

#22324 The action to detect changes needs a repository to be checked out on push event
  .github/workflows/unit_tests.yaml
Labels: broken-develop, hotfix, tests

#22285 adding aocc 3.0 support for WRF 3.9.1.1 and 4.2
  var/spack/repos/builtin/packages/wrf/package.py
  var/spack/repos/builtin/packages/wrf/patches/3.9/configure_aocc_2.3.patch
  var/spack/repos/builtin/packages/wrf/patches/3.9/configure_aocc_3.0.patch
  var/spack/repos/builtin/packages/wrf/patches/4.2/configure_aocc_2.3.patch
  var/spack/repos/builtin/packages/wrf/patches/4.2/configure_aocc_3.0.patch
Labels: AMD, e4s, ecp, patch, update-package

#22079 spack recipe for aocl-sparse
  var/spack/repos/builtin/packages/aocl-sparse/package.py
Labels: AMD, e4s, ecp, new-package

#22328 fix weird failure in variant values
  lib/spack/spack/variant.py
Labels: variants

#22319 llvm: enable ncurses patch for building on SUSE in 11.0.1
  var/spack/repos/builtin/packages/llvm/package.py
Labels: bugfix, compilers

#22339 amrex: add gcc 8 conflicts
  var/spack/repos/builtin/packages/amrex/package.py
Labels: conflicts, e4s, ecp

#22332 py-h5py: add maintainer
  var/spack/repos/builtin/packages/py-h5py/package.py
Labels: maintainers

#22338 Fix pythia6 install (issue #22330)
  var/spack/repos/builtin/packages/pythia6/pythia6.patch
Labels: build-error

#22301 Fix unicode bugs in boost/package.py
  var/spack/repos/builtin/packages/boost/package.py
Labels: dependencies, update-package

#22348 make location --build-dir return build directory (take 2)
  lib/spack/spack/cmd/location.py
Labels: bugfix

#22219 spack recipe for AOCC 3.0 release
  lib/spack/spack/compilers/aocc.py
  lib/spack/spack/test/compilers/basics.py
  lib/spack/spack/test/compilers/detection.py
  var/spack/repos/builtin/packages/aocc/package.py
Labels: AMD, compilers, e4s, ecp

#22263 root: new version 6.22.08
  var/spack/repos/builtin/packages/root/package.py
Labels: hep, new-version

#22286 tidy-html5: add new package
  var/spack/repos/builtin/packages/tidy-html5/package.py
Labels: new-package

#22317 intel-mpi-benchmarks: Take in upstream bugfix patches.
  var/spack/repos/builtin/packages/intel-mpi-benchmarks/add_const.patch
  var/spack/repos/builtin/packages/intel-mpi-benchmarks/package.py
  var/spack/repos/builtin/packages/intel-mpi-benchmarks/reorder_benchmark_macros.patch
Labels: e4s, ecp, intel, mpi, patch, update-package

#22352 Fix indentation compiler wrapper issue
  lib/spack/env/cc
Labels: compilers

#22364 Windows Logging Class
  lib/spack/llnl/util/tty/log.py
  lib/spack/spack/installer.py
  lib/spack/spack/main.py
Labels: windows

#22358 openblas: fix older versions
  var/spack/repos/builtin/packages/openblas/package.py
Labels: build-error, e4s, ecp

#22275 Amber
  var/spack/repos/builtin/packages/amber/package.py
Labels: deprecation, fetching, new-version, patch, update-package

#22362 tab to spaces in shell scripts
  lib/spack/env/cc
  share/spack/setup-env.sh
  share/spack/setup-tutorial-env.sh
Labels: shell-support

#22329 py-yt: 3.6.1
  var/spack/repos/builtin/packages/py-yt/package.py
Labels: new-version

#22370 Add udunits2 v2.2.28 and target the new UCAR repository
  var/spack/repos/builtin/packages/udunits/package.py
Labels: new-version, update-package

#22361 Fix broken spack -c flag
  lib/spack/spack/main.py
Labels: hotfix

#21586 perl-tk: creating package
  var/spack/repos/builtin/packages/perl-tk/package.py
Labels: new-package

#22090 xsdk-examples: add new version
  var/spack/repos/builtin/packages/xsdk-examples/package.py
Labels: cmake, dependencies, ecp, new-variant, new-version, update-package, xSDK

#22366 root/intel-tbb interaction
  var/spack/repos/builtin/packages/intel-tbb/package.py
  var/spack/repos/builtin/packages/root/package.py
Labels: conflicts, e4s, ecp, intel, versions

#22350 fixing the perf regression issues with OpenMPI v4.0.x till v4.1.0 for x86_64
  var/spack/repos/builtin/packages/openmpi/opal_assembly_arch.patch
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: AMD, e4s, ecp, mpi, patch, performance

#22233 updates to conduit to add hostcfg and use cmake base
  var/spack/repos/builtin/packages/conduit/package.py
Labels: cmake, dependencies, radiuss, update-package

#22384 CCTools to version 7.2.4
  var/spack/repos/builtin/packages/cctools/package.py
Labels: new-version

#22385 Adds new versions of cuDNN package
  var/spack/repos/builtin/packages/cudnn/package.py
Labels: cuda, new-version, nvidia, update-package

#22402 Add aws-parallelcluster v2.10.3
  var/spack/repos/builtin/packages/aws-parallelcluster/package.py
Labels: new-version, update-package
