Repository spack/spack, pull requests merged in 2022-11, with the labels that each got.

#33623 GDAL: add v3.5.3
  var/spack/repos/builtin/packages/gdal/package.py
Labels: new-version, update-package

#33617 ParaView: ParaView needs to set the HDF5 API
  var/spack/repos/builtin/packages/paraview/package.py
Labels: update-package, e4s

#33630 py-torchmetrics: add v0.10.2
  var/spack/repos/builtin/packages/py-torchmetrics/package.py
Labels: new-version, python, update-package

#33627 hpctoolkit: adjust rocm dependency types
  var/spack/repos/builtin/packages/hpctoolkit/package.py
Labels: dependencies, update-package, e4s

#33636 Relocate links using prefix to prefix map
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/relocate.py
  lib/spack/spack/test/packaging.py
Labels: tests, binary-packages, core

#33632 package/py-simplekml_add_new_versions
  var/spack/repos/builtin/packages/py-simplekml/package.py
Labels: new-version, python, update-package

#33633 py-ilmbase: add dependency to py-numpy
  var/spack/repos/builtin/packages/py-ilmbase/package.py
Labels: python, dependencies, update-package

#33643 py-pytorch-lightning: add v1.8.0
  var/spack/repos/builtin/packages/py-lightning-lite/package.py
  var/spack/repos/builtin/packages/py-lightning-utilities/package.py
  var/spack/repos/builtin/packages/py-pytorch-lightning/package.py
Labels: new-version, new-package, python, dependencies, update-package, maintainers

#33638 Add tracy 0.9
  var/spack/repos/builtin/packages/pika/package.py
  var/spack/repos/builtin/packages/tracy-client/package.py
  var/spack/repos/builtin/packages/tracy/package.py
Labels: new-version, update-package, conflicts

#33624 superlu-dist: fix rocm variant for the master branch
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: update-package

#33619 Let pytest-cov create the xml directly
  .github/workflows/unit_tests.yaml
  share/spack/qa/run-unit-tests
Labels: workflow, core

#33644 sundials: add v6.4.1, new ginkgo and kokkos variants, plus some fixes
  var/spack/repos/builtin/packages/sundials/package.py
Labels: new-version, dependencies, xSDK, update-package, e4s, new-variant

#33338 xz: add 5.2.7
  var/spack/repos/builtin/packages/hpctoolkit/package.py
  var/spack/repos/builtin/packages/xz/package.py
Labels: new-version, dependencies, update-package

#33628 add elf parsing utility function
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/relocate.py
  lib/spack/spack/test/util/elf.py
  lib/spack/spack/util/elf.py
Labels: tests, binary-packages, utilities, core

#32528 Allow target requirements in packages.yaml
  lib/spack/spack/spec.py
  lib/spack/spack/test/abi.py
  lib/spack/spack/test/architecture.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/concretize_preferences.py
  lib/spack/spack/test/spec_syntax.py
Labels: tests, core

#33321 Update command option for example
  lib/spack/docs/basic_usage.rst
Labels: documentation, core

#33625 Unit tests: make unit tests work for aarch64 machines
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/concretize.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/hooks/sbang.py
  lib/spack/spack/platforms/test.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/architecture.py
  lib/spack/spack/test/build_systems.py
  lib/spack/spack/test/cmd/ci.py
  lib/spack/spack/test/cmd/config.py
  lib/spack/spack/test/cmd/find.py
  lib/spack/spack/test/cmd/install.py
  lib/spack/spack/test/cmd/style.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/concretize_preferences.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/data/config/compilers.yaml
  lib/spack/spack/test/data/config/packages.yaml
  lib/spack/spack/test/installer.py
  lib/spack/spack/test/modules/lmod.py
  lib/spack/spack/test/sbang.py
  lib/spack/spack/test/spec_semantics.py
  lib/spack/spack/test/spec_syntax.py
  lib/spack/spack/util/gpg.py
  var/spack/repos/builtin.mock/packages/bowtie/package.py
  var/spack/repos/builtin.mock/packages/impossible-concretization/package.py
  var/spack/repos/builtin.mock/packages/openblas/package.py
Labels: compilers, new-version, tests, commands, environments, conflicts, utilities, sbang, core, architecture

#33486 ParaView: add latest release v5.11.0-RC1
  var/spack/repos/builtin/packages/paraview/package.py
Labels: update-package, e4s

#33654 rempi %oneapi: add -Wno-error=implicit-function-declaration
  var/spack/repos/builtin/packages/rempi/package.py
Labels: update-package, e4s, oneapi

#33658 tests: fix group membership check in sbang tests.
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/test/sbang.py
Labels: tests, broken-develop, utilities, permissions, sbang, core

#33641 Pull RHEL8 package when OS is Rocky8
  var/spack/repos/builtin/packages/armpl-gcc/package.py
Labels: update-package

#33651 llvm: add 15.0.3, 15.0.4
  var/spack/repos/builtin/packages/llvm/package.py
Labels: new-version, update-package

#33646 SEACAS: Update package.py to handle new SEACAS project name
  var/spack/repos/builtin/packages/seacas/package.py
Labels: dependencies, update-package

#33655 package_qgis_fix_pythonpath
  var/spack/repos/builtin/packages/qgis/package.py
Labels: update-package

#33652 Package: add new package py-fitter
  var/spack/repos/builtin/packages/py-fitter/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#33671 amrex: add v22.11
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package, e4s

#33634 update: damask3.0.0-alpha7
  var/spack/repos/builtin/packages/damask-grid/long-lines.patch
  var/spack/repos/builtin/packages/damask-grid/package.py
  var/spack/repos/builtin/packages/damask-mesh/long-lines.patch
  var/spack/repos/builtin/packages/damask-mesh/package.py
  var/spack/repos/builtin/packages/damask/package.py
  var/spack/repos/builtin/packages/py-damask/package.py
  var/spack/repos/builtin/packages/py-damask/setup.patch
Labels: new-version, python, dependencies, patch, update-package

#33647 Initial Version of Hypar Spackage
  var/spack/repos/builtin/packages/hypar/package.py
Labels: new-version, new-package, dependencies, maintainers, new-variant

#33670 remove `deptype_query` remnants and fix incorrect `deptypes` kwarg
  lib/spack/spack/build_systems/lua.py
  var/spack/repos/builtin/packages/lua/package.py
  var/spack/repos/builtin/packages/perl/package.py
  var/spack/repos/builtin/packages/r/package.py
Labels: R, update-package, build-systems, core

#33682 Bugfix for spec objects modified by flag handlers
  lib/spack/spack/build_environment.py
  lib/spack/spack/test/flag_handlers.py
Labels: build-environment, tests, core

#33573 add new package: py-pylatex
  var/spack/repos/builtin/packages/py-pylatex/package.py
Labels: new-version, new-package, python, dependencies, new-variant

#33650 glib: add 2.74.1
  var/spack/repos/builtin/packages/glib/package.py
Labels: new-version, dependencies, update-package

#33665 Update the bootstrap mirror
  .github/workflows/bootstrap.yml
  etc/spack/defaults/bootstrap.yaml
  lib/spack/docs/getting_started.rst
  lib/spack/spack/cmd/bootstrap.py
  lib/spack/spack/test/cmd/bootstrap.py
  lib/spack/spack/test/data/config/bootstrap.yaml
  share/spack/bootstrap/github-actions-v0.1/clingo.json
  share/spack/bootstrap/github-actions-v0.1/gnupg.json
  share/spack/bootstrap/github-actions-v0.2/clingo.json
  share/spack/bootstrap/github-actions-v0.2/gnupg.json
  share/spack/bootstrap/github-actions-v0.2/metadata.yaml
  share/spack/bootstrap/github-actions-v0.3/clingo.json
  share/spack/bootstrap/github-actions-v0.3/gnupg.json
  share/spack/bootstrap/github-actions-v0.4/clingo.json
  share/spack/bootstrap/github-actions-v0.4/gnupg.json
  share/spack/bootstrap/github-actions-v0.4/metadata.yaml
  share/spack/bootstrap/github-actions-v0.4/patchelf.json
Labels: new-version, python, documentation, defaults, tests, commands, patch, update-package, workflow, core

#33661 New patch release SLEPc 3.18.1
  var/spack/repos/builtin/packages/py-slepc4py/package.py
  var/spack/repos/builtin/packages/slepc/package.py
Labels: new-version, python, update-package, e4s

#33677 use spack.traverse.traverse_nodes where useful
  lib/spack/spack/environment/environment.py
Labels: environments, core

#33659 Add pika 0.10.0
  var/spack/repos/builtin/packages/pika/package.py
Labels: new-version, update-package

#33675 isescan: add version 1.7.2.3
  var/spack/repos/builtin/packages/isescan/package.py
Labels: new-version, update-package

#32521 update fides recipe
  var/spack/repos/builtin/packages/fides/package.py
Labels: dependencies, update-package

#33691 Bump HighFive to v2.5.0
  var/spack/repos/builtin/packages/highfive/package.py
Labels: new-version, update-package, maintainers

#33679 new cmake requirement
  var/spack/repos/builtin/packages/heffte/package.py
Labels: dependencies, update-package, e4s

#33669 gitlab: Prune untouched specs less aggressively
  lib/spack/spack/ci.py
  lib/spack/spack/test/ci.py
  lib/spack/spack/test/cmd/ci.py
Labels: tests, commands, core

#33692 Limit the number of parallel jobs launched by Tensile
  var/spack/repos/builtin/packages/rocblas/package.py
Labels: update-package

#33599 flux-core: allow ncurses >= 6.2
  var/spack/repos/builtin/packages/flux-core/package.py
Labels: dependencies, tests, commands, update-package, e4s, core

#33698 spades: adding version 3.15.5
  var/spack/repos/builtin/packages/spades/package.py
Labels: new-version, update-package

#33697 tassel: adding version 5.2.86
  var/spack/repos/builtin/packages/tassel/package.py
Labels: new-version, update-package, maintainers

#33694 Add new versions to py-clustershell
  var/spack/repos/builtin/packages/py-clustershell/package.py
Labels: new-version, python, dependencies, update-package

#31948 Experimental binding of shared ELF libraries
  etc/spack/defaults/config.yaml
  lib/spack/docs/config_yaml.rst
  lib/spack/llnl/util/lang.py
  lib/spack/spack/bootstrap.py
  lib/spack/spack/build_environment.py
  lib/spack/spack/hooks/__init__.py
  lib/spack/spack/hooks/absolutify_elf_sonames.py
  lib/spack/spack/package_base.py
  lib/spack/spack/schema/config.py
  lib/spack/spack/test/build_environment.py
  lib/spack/spack/test/cmd/config.py
  lib/spack/spack/test/hooks/absolutify_elf_sonames.py
  var/spack/repos/builtin/packages/cuda/package.py
  var/spack/repos/builtin/packages/nvhpc/package.py
  var/spack/repos/builtin/packages/openjdk/package.py
Labels: documentation, build-environment, defaults, tests, commands, update-package, utilities, core

#33699 Update glvis for new builder interface
  var/spack/repos/builtin/packages/glvis/package.py
Labels: update-package

#33687 propagation: don't count propagated variant values as non-default
  lib/spack/spack/solver/concretize.lp
Labels: concretization, variants, core

#33702 Add version 2.32 to tau package
  var/spack/repos/builtin/packages/tau/package.py
Labels: new-version, update-package

#33686 Adding gegelati library package
  var/spack/repos/builtin/packages/gegelati/package.py
Labels: new-version, new-package, dependencies, maintainers

#33685 petsc: fix configure option to use double-hyphen
  var/spack/repos/builtin/packages/petsc/package.py
Labels: update-package

#32862 Fix non-parallel make under depfile jobserver
  lib/spack/spack/build_environment.py
  lib/spack/spack/test/make_executable.py
  var/spack/repos/builtin/packages/cmake/package.py
  var/spack/repos/builtin/packages/ninja-fortran/package.py
  var/spack/repos/builtin/packages/ninja/package.py
Labels: build-environment, tests, update-package, core

#27610 Add in-place RPATH replacement
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/relocate.py
  lib/spack/spack/test/relocate.py
  lib/spack/spack/test/util/elf.py
  lib/spack/spack/util/elf.py
Labels: tests, binary-packages, utilities, core

#33649 orca: new version 5.0.3
  var/spack/repos/builtin/packages/orca/package.py
Labels: new-version, dependencies, update-package, maintainers

#33526 Octopus: Refactor the ocotpus package to use AutotoolsPackage
  var/spack/repos/builtin/packages/octopus/package.py
Labels: dependencies, update-package

#33704 Bugfix: glvis new builder interface
  var/spack/repos/builtin/packages/glvis/package.py
Labels: dependencies, update-package

#33709 libressl: New package
  var/spack/repos/builtin/packages/libressl/package.py
Labels: new-version, new-package, maintainers, new-variant

#33708 gnutls: New version 3.7.8
  var/spack/repos/builtin/packages/gnutls/package.py
Labels: new-version, update-package

#33246 paraview: static cuda is not supported
  var/spack/repos/builtin/packages/paraview/package.py
Labels: update-package, conflicts, e4s

#33656 fix requires test for aarch64
  lib/spack/spack/test/concretize.py
Labels: tests, core

#33676 ECP-SDK: fixup +hdf5 +cuda contraints
  var/spack/repos/builtin/packages/ecp-data-vis-sdk/package.py
  var/spack/repos/builtin/packages/hdf5-vfd-gds/package.py
Labels: dependencies, update-package, conflicts

#33663 add elephant version v0.11.2
  var/spack/repos/builtin/packages/py-elephant/package.py
Labels: new-version, python, update-package

#33410 Fix bad python.libs.ld_flags on macOS with external homebrew Python
  var/spack/repos/builtin/packages/python/package.py
Labels: python, update-package

#33703 Updates to stand-alone test documentation
  lib/spack/docs/packaging_guide.rst
  lib/spack/spack/install_test.py
Labels: documentation, core

#33689 add justbuild package
  var/spack/repos/builtin/packages/justbuild/package.py
Labels: new-version, new-package, dependencies, maintainers

#33707 Deprecate old YAML format for buildcaches
  lib/spack/spack/binary_distribution.py
Labels: binary-packages, core

#33584 arm-forge: add 22.1 and 22.1.1.
  var/spack/repos/builtin/packages/arm-forge/package.py
Labels: new-version, update-package

#33662 Update configuration.rst
  lib/spack/docs/configuration.rst
Labels: documentation, core

#33631 package/py-pykml: add new py3 compatible version
  var/spack/repos/builtin/packages/py-pykml/package.py
Labels: new-version, python, dependencies, update-package

#17857 cray support: do not specify target args
  lib/spack/spack/build_environment.py
  lib/spack/spack/spec.py
Labels: cray, build-environment, core

#29392 Cray support: use linux platform for newer craype versions
  lib/spack/env/cc
  lib/spack/env/cce/case-insensitive/crayCC
  lib/spack/env/cce/craycc
  lib/spack/env/cce/crayftn
  lib/spack/spack/compilers/cce.py
  lib/spack/spack/platforms/cray.py
  lib/spack/spack/test/architecture.py
  var/spack/repos/builtin/packages/aluminum/package.py
  var/spack/repos/builtin/packages/esmf/package.py
  var/spack/repos/builtin/packages/mpich/package.py
  var/spack/repos/builtin/packages/mvapich2/package.py
  var/spack/repos/builtin/packages/opencoarrays/package.py
  var/spack/repos/builtin/packages/scorep/package.py
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: compilers, dependencies, tests, patch, update-package, core, architecture

#33657 demote warning for no source id to debug message
  lib/spack/spack/package_base.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/install.py
  lib/spack/spack/test/test_suite.py
Labels: tests, core

#33710 py-pytorch-lightning: add conflicts for py-torch~distributed
  var/spack/repos/builtin/packages/py-pytorch-lightning/package.py
Labels: python, update-package, conflicts

#33664 openssl: New versions 1.1.1s, 3.0.5, 3.0.7
  var/spack/repos/builtin/packages/openssl/package.py
Labels: new-version, update-package

#33714 Fix formatting in Packaging guide's Compiler wrappers section
  lib/spack/docs/packaging_guide.rst
Labels: documentation, core

#33718 Updated tau 2.32 hash
  var/spack/repos/builtin/packages/tau/package.py
Labels: new-version, update-package

#33683 py-matplotlib: add v3.6.2
  var/spack/repos/builtin/packages/py-matplotlib/package.py
Labels: new-version, python, update-package

#33722 unparser: fix bug in unit test assertion
  lib/spack/spack/test/util/unparse/unparse.py
Labels: tests, core

#33275 packages.yaml: set url/git
  lib/spack/docs/build_settings.rst
  lib/spack/spack/repo.py
  lib/spack/spack/schema/packages.py
  lib/spack/spack/test/concretize_preferences.py
Labels: documentation, tests, core

#32253 Fix relocation to avoid overwriting merged constant strings
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/relocate.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/relocate.py
  lib/spack/spack/test/rewiring.py
  var/spack/repos/builtin.mock/packages/garply/package.py
  var/spack/repos/builtin.mock/packages/quux/package.py
Labels: new-version, dependencies, tests, commands, update-package, binary-packages, utilities, sbang, core

#33668 openssh: New version 9.1p1
  var/spack/repos/builtin/packages/openssh/package.py
Labels: new-version, update-package

#33505 Add support for Python 3.11
  .github/workflows/audit.yaml
  .github/workflows/unit_tests.yaml
  .github/workflows/valid-style.yml
  lib/spack/docs/tables/system_prerequisites.csv
  lib/spack/spack/main.py
  lib/spack/spack/test/util/unparse/unparse.py
  lib/spack/spack/util/unparse/unparser.py
Labels: documentation, tests, utilities, workflow, core

#33716 py-transformers: add v4.24.0
  share/spack/gitlab/cloud_pipelines/stacks/ml-cpu/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/ml-cuda/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/ml-rocm/spack.yaml
  var/spack/repos/builtin/packages/py-huggingface-hub/package.py
  var/spack/repos/builtin/packages/py-tokenizers/package.py
  var/spack/repos/builtin/packages/py-transformers/package.py
Labels: new-version, python, dependencies, update-package, gitlab, core

#33701 ADD version 0.19.0 in py-gym recipe
  var/spack/repos/builtin/packages/py-gym/package.py
Labels: new-version, python, dependencies, update-package

#29810 canonicalize_path: add arch information to substitutions
  lib/spack/docs/configuration.rst
  lib/spack/spack/test/config.py
  lib/spack/spack/util/path.py
Labels: documentation, tests, utilities, core

#33725 z3: New version 4.11.2
  var/spack/repos/builtin/packages/z3/package.py
Labels: new-version, update-package

#33726 Add version 4.2.2 to R
  var/spack/repos/builtin/packages/r/package.py
Labels: new-version, R, update-package

#33700 Add CMake version 3.24.3, 3.23.4, and 3.23.5
  var/spack/repos/builtin/packages/cmake/package.py
Labels: new-version, update-package

#21262 allow multiple compatible deps from CLI
  lib/spack/spack/spec.py
  lib/spack/spack/test/spec_syntax.py
Labels: concretization, tests, core

#33717 MesonPackage: disable automatic download and install of dependencies
  lib/spack/spack/build_systems/meson.py
Labels: build-systems, core

#30074 solver: do not punish explicitly requested compiler mismatches
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/test/concretize.py
Labels: tests, core

#32084 improve error message for dependency on nonexistent compiler
  lib/spack/spack/solver/concretize.lp
Labels: core

#18269 package preferences: allow specs to be configured buildable when their virtuals are not
  lib/spack/spack/package_prefs.py
  lib/spack/spack/test/concretize_preferences.py
Labels: configuration, external-packages, virtual-dependencies, tests, core

#32434 solver setup: extract virtual dependencies from reusable specs
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/concretize.py
Labels: tests, core

#22991 bugfix for matrices with dependencies by hash
  lib/spack/spack/spec.py
  lib/spack/spack/test/spec_list.py
Labels: specs, tests, environments, bugfix, core

#33715 elfutils: add version 0.188
  var/spack/repos/builtin/packages/elfutils/package.py
Labels: new-version, update-package

#33556 archspec: update version, translate renamed uarchs
  lib/spack/external/__init__.py
  lib/spack/external/archspec/cpu/detect.py
  lib/spack/external/archspec/json/cpu/microarchitectures.json
  lib/spack/spack/target.py
Labels: vendored-dependencies, core

#31787 concretizer:unify:true as a default
  etc/spack/defaults/concretizer.yaml
  lib/spack/docs/environments.rst
  lib/spack/spack/environment/environment.py
  lib/spack/spack/test/cmd/env.py
Labels: documentation, defaults, tests, commands, environments, core

#33724 py-modin: add new package
  var/spack/repos/builtin/packages/npm/package.py
  var/spack/repos/builtin/packages/py-dask/package.py
  var/spack/repos/builtin/packages/py-modin/package.py
  var/spack/repos/builtin/packages/py-ray/package.py
Labels: new-version, new-package, python, dependencies, update-package, new-variant

#33713 socat: new package
  var/spack/repos/builtin/packages/socat/package.py
Labels: new-version, new-package, dependencies, maintainers

#33642 netcdf-c: add variant optimize
  var/spack/repos/builtin/packages/netcdf-c/package.py
Labels: update-package, new-variant

#32479 Doc: `lsb-release`
  lib/spack/docs/getting_started.rst
  lib/spack/docs/tables/system_prerequisites.csv
Labels: documentation, core

#33163 openblas confuses flang/flang-new, so do not set TIME with ~fortran
  var/spack/repos/builtin/packages/openblas/package.py
Labels: update-package

#33728 GLVis: new versions: v4.1, v4.2
  var/spack/repos/builtin/packages/glvis/package.py
  var/spack/repos/builtin/packages/sdl2/package.py
Labels: new-version, dependencies, update-package, maintainers

#33732 Simplify repeated _add_dependency calls for same package
  lib/spack/spack/spec.py
Labels: core

#33462 singularity: add new versions
  var/spack/repos/builtin/packages/singularity/package.py
  var/spack/repos/builtin/packages/singularityce/package.py
Labels: new-version, update-package

#33312 quantum-espresso: improve concretization for intel libraries
  var/spack/repos/builtin/packages/quantum-espresso/package.py
Labels: dependencies, update-package

#33723 Rust: don't apply constraints to nightly/beta versions
  var/spack/repos/builtin/packages/py-tokenizers/package.py
  var/spack/repos/builtin/packages/rust/package.py
Labels: python, dependencies, update-package

#30909 Apply dev specs for dependencies of roots
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/cmd/dev_build.py
Labels: tests, commands, core

#33738 Remove known issues in docs for 0.19
  lib/spack/docs/index.rst
  lib/spack/docs/known_issues.rst
Labels: documentation, core

#33739 eckit: fix underlinking
  var/spack/repos/builtin/packages/eckit/package.py
Labels: update-package

#32796 binary_distribution: parallelize fetches in buildcache update-index
  lib/spack/spack/binary_distribution.py
Labels: impact-high, binary-packages, pipelines, core

#32616 encode development requirements in pyproject.toml
  bin/spack
  lib/spack/spack/__init__.py
  lib/spack/spack_installable/__init__.py
  lib/spack/spack_installable/main.py
  pyproject.toml
Labels: workflow, core

#33420 gitlab ci: Add "script_failure" as a reason for retrying service jobs
  lib/spack/spack/ci.py
Labels: core

#33741 reorder packages.yaml: requirements first, then preferences
  lib/spack/docs/build_settings.rst
Labels: documentation, core

#33742 2022.3.1 oneAPI release promotion
  var/spack/repos/builtin/packages/intel-oneapi-advisor/package.py
  var/spack/repos/builtin/packages/intel-oneapi-ccl/package.py
  var/spack/repos/builtin/packages/intel-oneapi-compilers/package.py
  var/spack/repos/builtin/packages/intel-oneapi-dal/package.py
  var/spack/repos/builtin/packages/intel-oneapi-dnn/package.py
  var/spack/repos/builtin/packages/intel-oneapi-dpct/package.py
  var/spack/repos/builtin/packages/intel-oneapi-dpl/package.py
  var/spack/repos/builtin/packages/intel-oneapi-inspector/package.py
  var/spack/repos/builtin/packages/intel-oneapi-ipp/package.py
  var/spack/repos/builtin/packages/intel-oneapi-ippcp/package.py
  var/spack/repos/builtin/packages/intel-oneapi-itac/package.py
  var/spack/repos/builtin/packages/intel-oneapi-mkl/package.py
  var/spack/repos/builtin/packages/intel-oneapi-mpi/package.py
  var/spack/repos/builtin/packages/intel-oneapi-tbb/package.py
  var/spack/repos/builtin/packages/intel-oneapi-vtune/package.py
Labels: new-version, intel, update-package

#30980 Fix missing '*.spack*' files in views
  lib/spack/spack/directory_layout.py
  lib/spack/spack/test/cmd/view.py
  var/spack/repos/builtin.mock/packages/view-not-ignored/package.py
Labels: new-version, tests, commands, core

#33711 "spack uninstall": don't modify env (part 2)
  lib/spack/spack/cmd/ci.py
  lib/spack/spack/cmd/install.py
  lib/spack/spack/cmd/uninstall.py
  lib/spack/spack/test/cmd/ci.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/cmd/find.py
  lib/spack/spack/test/cmd/install.py
  lib/spack/spack/test/cmd/uninstall.py
  lib/spack/spack/test/modules/lmod.py
  share/spack/spack-completion.bash
Labels: tests, commands, core

#33695 Add zstd support for elfutils
  var/spack/repos/builtin/packages/elfutils/package.py
Labels: dependencies, update-package, new-variant

#33596 PyTorch: add v1.13.0
  var/spack/repos/builtin/packages/flac/package.py
  var/spack/repos/builtin/packages/py-torch/package.py
  var/spack/repos/builtin/packages/py-torchaudio/package.py
  var/spack/repos/builtin/packages/py-torchdata/package.py
  var/spack/repos/builtin/packages/py-torchtext/package.py
  var/spack/repos/builtin/packages/py-torchvision/package.py
  var/spack/repos/builtin/packages/sox/package.py
Labels: new-version, python, dependencies, update-package

#33328 mpich: patch @3.4 to fix checking whether the datatype is contiguous
  var/spack/repos/builtin/packages/mpich/mpich34_yaksa_hindexed.patch
  var/spack/repos/builtin/packages/mpich/package.py
Labels: patch, update-package

#31285 intel oneapi classic bootstrapping
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/installer.py
  lib/spack/spack/modules/lmod.py
  lib/spack/spack/test/installer.py
  lib/spack/spack/test/modules/lmod.py
  var/spack/repos/builtin.mock/packages/intel-oneapi-compilers/package.py
  var/spack/repos/builtin/packages/intel-oneapi-compilers-classic/package.py
  var/spack/repos/builtin/packages/intel-oneapi-compilers/package.py
Labels: compilers, new-version, documentation, dependencies, modules, tests, intel, update-package, core

#33749 Rework unit test to avoid tripping into concretization slowdown
  lib/spack/spack/test/concretize_preferences.py
Labels: tests, core

#33688 More jobs in Gitlab CI
  share/spack/gitlab/cloud_pipelines/stacks/aws-ahug-aarch64/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/aws-ahug/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/aws-isc-aarch64/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/aws-isc/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/build_systems/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/data-vis-sdk/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-on-power/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-oneapi/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/ml-cpu/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/ml-cuda/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/ml-rocm/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/radiuss-aws-aarch64/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/radiuss-aws/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/radiuss/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/tutorial/spack.yaml
Labels: update-package, gitlab, core

#33752 r: fix order of execution for Makeconf filtering
  var/spack/repos/builtin/packages/r/package.py
Labels: R, update-package

#33750 gromacs: enable linking with armpl-gcc FFT
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: update-package

#33751 cosma: Add shared option
  var/spack/repos/builtin/packages/cosma/package.py
Labels: update-package, new-variant

#31696 Install from source if binary cache checksum validation fails
  lib/spack/spack/installer.py
Labels: impact-high, core

#33507 python: 3.11.0
  var/spack/repos/builtin/packages/python/package.py
  var/spack/repos/builtin/packages/python/python-3.11-distutils-C++.patch
  var/spack/repos/builtin/packages/python/tkinter-3.11.patch
Labels: new-version, python, patch, update-package

#33745 hypre +rocm: needs explicit rocprim dep
  var/spack/repos/builtin/packages/hypre/package.py
Labels: dependencies, update-package, e4s, ROCm/hip

#33549 fix racy sbang
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/config.py
  lib/spack/spack/hooks/sbang.py
Labels: utilities, sbang, core

#33748 hepmc3: new version 3.2.5
  var/spack/repos/builtin/packages/hepmc3/package.py
Labels: new-version, update-package

#33762 environment-modules: add version 5.2.0
  var/spack/repos/builtin/packages/environment-modules/package.py
Labels: new-version, update-package

#33733 Patch `fmt` for hipcc/dpcpp
  var/spack/repos/builtin/packages/fmt/package.py
Labels: patch, update-package, maintainers

#32977 Add checksum for py-protobuf 4.21.7, protobuf 21.7; remove protobuf and py-protobuf 2.x
  var/spack/repos/builtin/packages/protobuf/package.py
  var/spack/repos/builtin/packages/protobuf/protoc2.5.0_aarch64.patch
  var/spack/repos/builtin/packages/py-protobuf/package.py
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: new-version, python, update-package

#33603 MFEM: more updates for v4.5
  var/spack/repos/builtin/packages/hypre/package.py
  var/spack/repos/builtin/packages/mfem/package.py
  var/spack/repos/builtin/packages/mfem/test_builds.sh
Labels: xSDK, update-package

#33776 Account for patchelf binaries when creating local bootstrap mirror
  lib/spack/spack/cmd/bootstrap.py
Labels: commands, core

#33777 ensure external PythonPackages have python deps
  lib/spack/spack/build_systems/python.py
  lib/spack/spack/package_base.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/concretize.py
Labels: tests, build-systems, core

#33778 Revert "fix racy sbang"
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/config.py
  lib/spack/spack/hooks/sbang.py
Labels: utilities, sbang, core

#33767 Boost: Change comment to conflict for MPI/Python
  var/spack/repos/builtin/packages/boost/package.py
Labels: update-package, conflicts

#33787 trilinos: add third package maintainer
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: update-package, maintainers

#33786 sentieon-genomics: adding version 202112.06
  var/spack/repos/builtin/packages/sentieon-genomics/package.py
Labels: new-version, update-package

#33779 Adding libpfm 4.12.0
  var/spack/repos/builtin/packages/libpfm4/package.py
Labels: new-version, update-package

#33771 CachedCMakePackage: Always use the cxx compiler as a host compiler
  lib/spack/spack/build_systems/cached_cmake.py
Labels: build-systems, core

#33430 New package: py-darshan
  var/spack/repos/builtin/packages/py-darshan/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#33789 updates and fixes for libpressio
  var/spack/repos/builtin/packages/cusz/package.py
  var/spack/repos/builtin/packages/libdistributed/package.py
  var/spack/repos/builtin/packages/libpressio-tools/package.py
  var/spack/repos/builtin/packages/libpressio/package.py
  var/spack/repos/builtin/packages/sz/package.py
  var/spack/repos/builtin/packages/sz3/package.py
Labels: new-version, dependencies, update-package, conflicts, maintainers, new-variant, stand-alone-tests

#33754 New Package: y-cruncher
  var/spack/repos/builtin/packages/ycruncher/package.py
Labels: new-version, new-package, dependencies, maintainers

#33736 New Package: stressapptest
  var/spack/repos/builtin/packages/stressapptest/package.py
Labels: new-version, new-package, maintainers

#33784 ucx: fix int overflow
  var/spack/repos/builtin/packages/ucx/commit-2523555.patch
  var/spack/repos/builtin/packages/ucx/package.py
Labels: patch, update-package
