Repository spack/spack, pull requests merged in 2022-09, with the labels that each got.

#31590 perl-bignum: Adding perl module
  var/spack/repos/builtin/packages/perl-bignum/package.py
  var/spack/repos/builtin/packages/perl-file-remove/package.py
  var/spack/repos/builtin/packages/perl-math-bigint/package.py
  var/spack/repos/builtin/packages/perl-math-bigrat/package.py
  var/spack/repos/builtin/packages/perl-module-corelist/package.py
  var/spack/repos/builtin/packages/perl-module-install/package.py
  var/spack/repos/builtin/packages/perl-module-scandeps/package.py
  var/spack/repos/builtin/packages/perl-yaml-tiny/package.py
Labels: new-version, new-package, dependencies

#32441 meson: add 0.63.1
  var/spack/repos/builtin/packages/meson/package.py
Labels: new-version, update-package

#32405 Port package sanity unit tests to audits
  lib/spack/spack/audit.py
  lib/spack/spack/test/audit.py
  lib/spack/spack/test/package_sanity.py
  lib/spack/spack/test/repo.py
  var/spack/repos/builtin.mock/packages/mpileaks/package.py
  var/spack/repos/builtin.mock/packages/unconstrainable-conflict/package.py
Labels: new-version, refactoring, tests, ci, core

#32466 charliecloud: use bash for autoreconf
  var/spack/repos/builtin/packages/charliecloud/package.py
Labels: update-package

#32473 Fix CI for package only PRs
  .github/workflows/unit_tests.yaml
  share/spack/qa/run-unit-tests
Labels: hotfix, workflow, core

#32477 amrex: add v22.09
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package

#32472 Apply 6.26 COMPILE_DEFINITIONS patch unconditionally
  var/spack/repos/builtin/packages/root/package.py
Labels: update-package

#32465 Backport fix for buliding vtk-m diy with GCC 11
  var/spack/repos/builtin/packages/vtk-m/diy-include-cstddef.patch
  var/spack/repos/builtin/packages/vtk-m/package.py
Labels: patch, update-package

#32482 Add: py-sphinx-design
  var/spack/repos/builtin/packages/py-sphinx-design/package.py
Labels: new-version, new-package, python, documentation, dependencies, maintainers

#32442 hermes: Upgrade version from 0.7.0-beta to 0.8.0-beta.
  var/spack/repos/builtin/packages/hermes/package.py
Labels: update-package

#32407 Fix cause of checksum failures in public binary mirror
  lib/spack/spack/ci.py
  lib/spack/spack/cmd/buildcache.py
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/spack-completion.bash
Labels: commands, gitlab, core

#32464 py-pytorch-lightning: add v1.7.4
  var/spack/repos/builtin/packages/py-pytorch-lightning/package.py
Labels: new-version, python, update-package

#32460 meson: add maintainer
  var/spack/repos/builtin/packages/meson/package.py
  var/spack/repos/builtin/packages/py-meson-python/package.py
  var/spack/repos/builtin/packages/py-meson/package.py
Labels: python, update-package, maintainers

#32463 tree: add 2.0.3
  var/spack/repos/builtin/packages/tree/package.py
Labels: new-version, update-package

#32481 [CURL] New version.
  var/spack/repos/builtin/packages/curl/package.py
Labels: new-version, update-package

#32262 bootstrap binary patchelf
  etc/spack/defaults/bootstrap.yaml
  lib/spack/spack/bootstrap.py
  lib/spack/spack/relocate.py
  share/spack/bootstrap/github-actions-v0.3/clingo.json
  share/spack/bootstrap/github-actions-v0.3/gnupg.json
  share/spack/bootstrap/github-actions-v0.3/metadata.yaml
  share/spack/bootstrap/github-actions-v0.3/patchelf.json
Labels: defaults, bootstrap, core

#32183 Reorder workflow execution in GHA
  .github/workflows/bootstrap-test.sh
  .github/workflows/bootstrap.yml
  .github/workflows/ci.yaml
  .github/workflows/unit_tests.yaml
  .github/workflows/valid-style.yml
  .github/workflows/windows_python.yml
  bin/spack-tmpconfig
  lib/spack/spack/test/cmd/env.py
Labels: tests, commands, workflow, core

#32469 Apply hip workaround for raja-framework
  var/spack/repos/builtin/packages/camp/package.py
  var/spack/repos/builtin/packages/raja/package.py
  var/spack/repos/builtin/packages/umpire/package.py
Labels: new-version, dependencies, update-package, new-variant

#31203 rocthrust: add amdgpu_target and spack build test
  var/spack/repos/builtin/packages/rocthrust/package.py
Labels: dependencies, update-package, new-variant

#32526 Mark a test xfail on Python 2.7
  lib/spack/spack/test/concretize.py
Labels: tests, core

#32533 update libflame for work with crayCC, craycc, ...
  var/spack/repos/builtin/packages/libflame/package.py
Labels: update-package

#32500 py-tensorflow: add v2.7.4, v2.8.3, v2.9.2
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: new-version, python, update-package

#31869 CUDA support to quantum-espresso package
  var/spack/repos/builtin/packages/quantum-espresso/package.py
Labels: dependencies, update-package, conflicts, maintainers, new-variant

#32541 Upgrade py-kosh to 2022-08-10 version.
  var/spack/repos/builtin/packages/py-kosh/package.py
Labels: new-version, python, update-package

#32536 llvm: add 15.0.0
  var/spack/repos/builtin/packages/llvm/package.py
Labels: new-version, update-package

#32361 Parallel testing
  .flake8
  .github/workflows/audit.yaml
  .github/workflows/bootstrap.yml
  .github/workflows/build-containers.yml
  .github/workflows/ci.yaml
  .github/workflows/unit_tests.yaml
  .github/workflows/valid-style.yml
  .github/workflows/windows_python.yml
  bin/spack-tmpconfig
  lib/spack/llnl/util/tty/pty.py
  lib/spack/spack/cmd/python.py
  lib/spack/spack/main.py
  lib/spack/spack/test/ci.py
  lib/spack/spack/test/cmd/checksum.py
  lib/spack/spack/test/cmd/ci.py
  lib/spack/spack/test/cmd/commands.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/cmd/help.py
  lib/spack/spack/test/cmd/is_git_repo.py
  lib/spack/spack/test/cmd/module.py
  lib/spack/spack/test/cmd/style.py
  lib/spack/spack/test/cmd_extensions.py
  lib/spack/spack/util/debug.py
  share/spack/qa/run-unit-tests
  share/spack/spack-completion.bash
Labels: tests, commands, flake8, utilities, workflow, core

#32569 Skip test which fails randomly on Python 2.7
  lib/spack/spack/test/concretize.py
Labels: tests, core

#32556 ucx: add 1.13.1 release
  var/spack/repos/builtin/packages/ucx/package.py
Labels: new-version, update-package

#30765 New package: py-pytesseract
  var/spack/repos/builtin/packages/py-pytesseract/package.py
Labels: new-version, new-package, python, dependencies

#32574 py-cython: add 0.29.32
  var/spack/repos/builtin/packages/py-cython/package.py
Labels: new-version, python, update-package

#32573 ci: avoid running coverage on package only PRs
  .github/workflows/ci.yaml
  .github/workflows/unit_tests.yaml
  share/spack/qa/run-unit-tests
Labels: workflow, ci, core

#32525 libmonitor: add version 2022.09.02
  var/spack/repos/builtin/packages/libmonitor/package.py
Labels: new-version, update-package

#32547 CMakePackage: allow custom CMAKE_PREFIX_PATH entries
  lib/spack/spack/build_environment.py
  lib/spack/spack/package_base.py
  lib/spack/spack/test/packages.py
  var/spack/repos/builtin.mock/packages/define-cmake-prefix-paths/package.py
  var/spack/repos/builtin.mock/packages/depends-on-define-cmake-prefix-paths/package.py
  var/spack/repos/builtin/packages/cuda/package.py
Labels: new-version, dependencies, build-environment, tests, update-package, core

#32491 Match protobuf to py-protobuf version
  var/spack/repos/builtin/packages/protobuf/package.py
  var/spack/repos/builtin/packages/py-protobuf/package.py
Labels: new-version, python, dependencies, update-package, conflicts

#32296 e4s ci: restore power builds
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-on-power/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-power/spack.yaml
Labels: power, e4s, gitlab, core

#32562 New package: py-umap-learn
  var/spack/repos/builtin/packages/py-umap-learn/package.py
Labels: new-version, new-package, python, dependencies

#32561 New package: py-python-bioformats
  var/spack/repos/builtin/packages/py-python-bioformats/package.py
Labels: new-version, new-package, python, dependencies

#32563 New package: py-anndata
  var/spack/repos/builtin/packages/py-anndata/package.py
Labels: new-version, new-package, python, dependencies

#32564 New package: py-session-info
  var/spack/repos/builtin/packages/py-session-info/package.py
Labels: new-version, new-package, python, dependencies

#32437 GitRef Versions: Bug Fixes
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/spec_syntax.py
  lib/spack/spack/version.py
Labels: documentation, fetching, tests, commands, versions, core

#32585 ci: restore coverage computation
  .github/workflows/unit_tests.yaml
  lib/spack/spack/test/cmd/debug.py
  lib/spack/spack/test/llnl/util/tty/log.py
  pyproject.toml
  share/spack/qa/run-unit-tests
Labels: tests, commands, workflow, core

#32579 new packages: py-arm-pyart and dependencies
  var/spack/repos/builtin/packages/py-arm-pyart/StringIO.patch
  var/spack/repos/builtin/packages/py-arm-pyart/package.py
  var/spack/repos/builtin/packages/py-cylp/package.py
  var/spack/repos/builtin/packages/py-pylab-sdk/package.py
  var/spack/repos/builtin/packages/rsl/package.py
Labels: new-version, new-package, python, dependencies, patch, conflicts, new-variant

#32600 py-cartopy: add v0.21.0
  var/spack/repos/builtin/packages/py-cartopy/package.py
Labels: new-version, python, dependencies, update-package

#32599 py-pyproj: add v3.4.0
  var/spack/repos/builtin/packages/py-basemap/package.py
  var/spack/repos/builtin/packages/py-pyproj/package.py
Labels: new-version, python, dependencies, update-package

#32582 py-torchgeo: add v0.3.1
  var/spack/repos/builtin/packages/py-torchgeo/package.py
Labels: new-version, python, dependencies, update-package

#32590 py-numpy: add v1.23.3
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: new-version, python, update-package

#32538 hpctoolkit: add yaml-cpp as dependency for develop
  var/spack/repos/builtin/packages/hpctoolkit/package.py
Labels: dependencies, update-package

#32605 feat: new package - Distbench
  var/spack/repos/builtin/packages/distbench/package.py
Labels: new-version, new-package, dependencies

#32523 nettle: add v3.8.1
  var/spack/repos/builtin/packages/nettle/package.py
Labels: new-version, update-package

#32545 py-tensorflow-metadata: add v1.10.0
  var/spack/repos/builtin/packages/py-tensorflow-metadata/package.py
Labels: new-version, python, dependencies, update-package

#32608 Fix encoding issues with py-cylp
  var/spack/repos/builtin/packages/py-cylp/package.py
Labels: python, update-package, hotfix, ci

#32593 Add package GPCNeT
  var/spack/repos/builtin/packages/gpcnet/package.py
Labels: new-version, new-package, dependencies

#32542 pgplot: fix build failure when using +X
  var/spack/repos/builtin/packages/pgplot/package.py
Labels: update-package

#32598 mpitrampoline: New version 5.0.2
  var/spack/repos/builtin/packages/mpitrampoline/package.py
Labels: new-version, update-package

#32544 py-tensorflow: add v2.10.0
  var/spack/repos/builtin/packages/py-keras/package.py
  var/spack/repos/builtin/packages/py-tensorboard/package.py
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: new-version, python, dependencies, update-package

#32449 Add spack package hdf5-vol-cache.
  var/spack/repos/builtin/packages/hdf5-vol-cache/package.py
Labels: new-version, new-package, dependencies, maintainers

#32532 new package: routinator
  var/spack/repos/builtin/packages/routinator/package.py
Labels: new-version, new-package, dependencies, maintainers

#32330 gcc: add support for the D language (GDC)
  var/spack/repos/builtin/packages/gcc/package.py
Labels: virtual-dependencies, update-package, conflicts

#32606 cuda: add v11.7.1
  var/spack/repos/builtin/packages/cuda/package.py
Labels: update-package

#32555 SCR release 3.0.1
  var/spack/repos/builtin/packages/axl/package.py
  var/spack/repos/builtin/packages/scr/package.py
Labels: new-version, dependencies, update-package

#32557 mpich: Set minimum libfabric version to build
  var/spack/repos/builtin/packages/mpich/package.py
Labels: dependencies, update-package

#32601 e4s: add py-torch +cuda
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: e4s, gitlab, core

#32552 py-pytorch-lightning: add v1.7.5
  var/spack/repos/builtin/packages/py-pytorch-lightning/package.py
Labels: new-version, python, update-package

#32524 GDAL: fix typo
  var/spack/repos/builtin/packages/gdal/package.py
Labels: update-package, new-variant

#32560 [py-bitarray] added version 2.6.0
  var/spack/repos/builtin/packages/py-bitarray/package.py
Labels: new-version, python, update-package

#30437 podio: new variant cxxstd=(17,20)
  var/spack/repos/builtin/packages/podio/package.py
Labels: dependencies, update-package, conflicts, new-variant

#28951 fenics-basix: make xtensor-blas dependency explicit
  var/spack/repos/builtin/packages/fenics-basix/package.py
  var/spack/repos/builtin/packages/xsimd/package.py
  var/spack/repos/builtin/packages/xtensor-blas/package.py
  var/spack/repos/builtin/packages/xtensor/package.py
Labels: new-version, new-package, dependencies, update-package, conflicts

#32535 Add new and legacy intel-mpi-benchmarks versions
  var/spack/repos/builtin/packages/intel-mpi-benchmarks/package.py
Labels: new-version, dependencies, intel, patch, update-package, conflicts, new-variant

#32587 Update OMB package with latest release
  var/spack/repos/builtin/packages/osu-micro-benchmarks/package.py
Labels: new-version, update-package, maintainers

#32550 spfft: inherit from ROCmPackage
  var/spack/repos/builtin/packages/spfft/package.py
Labels: update-package

#32512 HIPSycl: LLVM@10: provides working clang with cuda >= 11
  var/spack/repos/builtin/packages/hipsycl/package.py
Labels: dependencies, update-package

#32527 Add fmt package versions 9.0.0 and 9.1.0
  var/spack/repos/builtin/packages/fmt/package.py
Labels: new-version, update-package, conflicts

#32530 opa-psm2: Add version 11.2.230
  var/spack/repos/builtin/packages/opa-psm2/package.py
Labels: new-version, update-package

#32352 wi4mpi: mpi dep removed after v3.6.0
  var/spack/repos/builtin/packages/wi4mpi/package.py
Labels: new-version, dependencies, update-package

#32495 Add draco-7_14_1 patch release to package.py
  var/spack/repos/builtin/packages/draco/package.py
Labels: new-version, update-package

#32576 Add whip package
  var/spack/repos/builtin/packages/whip/package.py
Labels: new-version, new-package, dependencies, conflicts, maintainers, new-variant

#32436 ParaView: add latest release v5.11.0-RC1
  var/spack/repos/builtin/packages/paraview/package.py
Labels: new-version, dependencies, update-package

#32443 sirius: new versions, libsci supports
  var/spack/repos/builtin/packages/sirius/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#32474 r-gridextra: Fix the CRAN package name.
  var/spack/repos/builtin/packages/r-gridextra/package.py
Labels: R, update-package

#32543 dtc:fix build error with clang or Fujitsu compiler
  var/spack/repos/builtin/packages/dtc/package.py
Labels: update-package

#32510 cuba: new package
  var/spack/repos/builtin/packages/cuba/package.py
Labels: new-version, new-package, maintainers

#32432 make shared lib the default for parallelio
  var/spack/repos/builtin/packages/parallelio/gfortran.patch
  var/spack/repos/builtin/packages/parallelio/package.py
Labels: patch, update-package

#32586 rocalution: fix compilation for Navi 1x and 2x
  var/spack/repos/builtin/packages/rocalution/0004-fix-navi-1x.patch
  var/spack/repos/builtin/packages/rocalution/package.py
Labels: patch, update-package

#32546 VTK-m: Update gcc 11 conflict after patch
  var/spack/repos/builtin/packages/vtk-m/package.py
Labels: update-package, conflicts

#32597 openblas: Allow building linktest.c with clang@15
  var/spack/repos/builtin/packages/openblas/linktest.patch
  var/spack/repos/builtin/packages/openblas/package.py
Labels: patch, update-package

#32614 GDAL: add v3.5.2
  var/spack/repos/builtin/packages/gdal/package.py
Labels: new-version, update-package

#32475 Hyperqueue package
  var/spack/repos/builtin/packages/hyperqueue/package.py
Labels: new-version, new-package, dependencies, maintainers

#32627 Docs: Add phase test methods for missing packages
  lib/spack/docs/packaging_guide.rst
Labels: documentation, core

#32487 Add (stand-alone) test failure issue template
  .github/ISSUE_TEMPLATE/test_error.yml
Labels: core

#32625 unifyfs & gotcha: new releases
  var/spack/repos/builtin/packages/gotcha/package.py
  var/spack/repos/builtin/packages/unifyfs/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#31930 Windows rpath support
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/installer.py
  lib/spack/spack/package_base.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/data/directory_search/a/libc.dll
  lib/spack/spack/test/data/directory_search/a/libc.lib
  lib/spack/spack/test/data/directory_search/b/liba.dll
  lib/spack/spack/test/data/directory_search/b/liba.lib
  lib/spack/spack/test/data/directory_search/b/libd.dll
  lib/spack/spack/test/data/directory_search/b/libd.lib
  lib/spack/spack/test/data/directory_search/c/libb.dll
  lib/spack/spack/test/data/directory_search/c/libb.lib
  lib/spack/spack/test/install.py
  lib/spack/spack/test/llnl/util/file_list.py
  var/spack/repos/builtin.mock/packages/attributes-foo/package.py
Labels: new-version, new-package, dependencies, tests, update-package, libraries, utilities, build-systems, new-variant, core

#32626 SCR: fix depends on versioning
  var/spack/repos/builtin/packages/scr/package.py
Labels: dependencies, update-package

#32624 gromacs: add 2022.3
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: new-version, update-package

#32617 Parsec: v3.0.2209
  var/spack/repos/builtin/packages/parsec/package.py
Labels: new-version, update-package, e4s

#32619 Add libraqm package; enable in py-pillow
  var/spack/repos/builtin/packages/libraqm/package.py
  var/spack/repos/builtin/packages/py-pillow/package.py
Labels: new-version, new-package, python, dependencies, update-package, conflicts, new-variant

#32581 packages/phist: new version 1.10
  var/spack/repos/builtin/packages/phist/package.py
Labels: new-version, update-package, conflicts

#32629 Update module_file_support.rst
  lib/spack/docs/module_file_support.rst
Labels: documentation, core

#32618 add ability to disable werror for rocksdb
  var/spack/repos/builtin/packages/rocksdb/package.py
Labels: update-package, new-variant

#32628 New package: py-qiskit-nature
  var/spack/repos/builtin/packages/py-qiskit-nature/package.py
Labels: new-version, new-package, python, dependencies

#32636 graphite2: fix build on macOS
  var/spack/repos/builtin/packages/graphite2/package.py
Labels: new-version, update-package

#32638 json-glib: add pkgconfig dependency
  var/spack/repos/builtin/packages/json-glib/package.py
Labels: dependencies, update-package

#32633 Revert "e4s ci: restore power builds"
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-on-power/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-power/spack.yaml
Labels: gitlab, core

#32592 berkeley-db: Correct TLS auto-detection
  var/spack/repos/builtin/packages/berkeley-db/package.py
  var/spack/repos/builtin/packages/berkeley-db/tls.patch
Labels: patch, update-package

#32621 Phist ghost conflicts
  var/spack/repos/builtin/packages/ghost/package.py
  var/spack/repos/builtin/packages/phist/package.py
Labels: new-version, update-package, conflicts, maintainers

#32639 py-tokenize-rt: add missing setuptools dependency
  var/spack/repos/builtin/packages/py-tokenize-rt/package.py
Labels: python, dependencies, update-package

#32644 py-pytorch-lightning: add v1.7.6
  var/spack/repos/builtin/packages/py-pytorch-lightning/package.py
Labels: new-version, python, update-package

#32634 Add hdf5-vol-async v1.3
  var/spack/repos/builtin/packages/hdf5-vol-async/package.py
Labels: new-version, update-package

#32609 compadre: new version 1.5.0
  var/spack/repos/builtin/packages/compadre/package.py
Labels: new-version, dependencies, patch, update-package

#32551 [py-pyprecice] add v2.5.0.0 and v2.5.0.1 and update checksum of v2.4.0.0
  var/spack/repos/builtin/packages/py-pyprecice/package.py
Labels: new-version, python, dependencies, update-package

#32648 Add checksum for yoda 1.9.6
  var/spack/repos/builtin/packages/yoda/package.py
Labels: new-version, update-package

#32650 py-awkward: allow newer, fixed rapidjson versions
  var/spack/repos/builtin/packages/py-awkward/package.py
Labels: python, dependencies, update-package

#32257 Allow version to accept the '=' token without activating lexer switch
  lib/spack/spack/spec.py
  lib/spack/spack/test/spec_syntax.py
Labels: tests, core

#32584 llvm: fix detection of LLDB_PYTHON_EXE_RELATIVE_PATH
  var/spack/repos/builtin/packages/llvm/D133513.diff
  var/spack/repos/builtin/packages/llvm/package.py
Labels: patch, update-package

#32467 Manifest parsing: skip invalid manifest files
  lib/spack/spack/cmd/external.py
  lib/spack/spack/cray_manifest.py
  lib/spack/spack/test/cray_manifest.py
Labels: tests, commands, core

#32653 Refactor lib ext var naming
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/test/llnl/util/file_list.py
Labels: tests, utilities, core

#32642 libcatalyst: use git instead of fixed urls
  var/spack/repos/builtin/packages/libcatalyst/package.py
Labels: new-version, update-package

#32632 [py-pip] fix setup_dependent_package in py-pip
  var/spack/repos/builtin/packages/py-pip/package.py
Labels: python, update-package

#32580 new package: FPLO
  var/spack/repos/builtin/packages/fplo/MMakefile.patch
  var/spack/repos/builtin/packages/fplo/fedit_py.patch
  var/spack/repos/builtin/packages/fplo/lapackconfig.patch
  var/spack/repos/builtin/packages/fplo/ncurses.patch
  var/spack/repos/builtin/packages/fplo/package.py
  var/spack/repos/builtin/packages/fplo/qt-make.patch
Labels: new-version, new-package, dependencies, patch, conflicts, maintainers, extends

#32631 added missing dependency for py-msgpack that breaks neovim
  var/spack/repos/builtin/packages/py-pynvim/package.py
Labels: python, dependencies, update-package

#32611 Fenicsx v0.5.0
  var/spack/repos/builtin/packages/fenics-basix/package.py
  var/spack/repos/builtin/packages/fenics-dolfinx/package.py
  var/spack/repos/builtin/packages/fenics-ufcx/package.py
  var/spack/repos/builtin/packages/py-fenics-basix/package.py
  var/spack/repos/builtin/packages/py-fenics-dolfinx/package.py
  var/spack/repos/builtin/packages/py-fenics-ffcx/package.py
  var/spack/repos/builtin/packages/py-fenics-ufl/package.py
Labels: new-version, python, dependencies, update-package, conflicts

#32663 New package: xrdcl-record
  var/spack/repos/builtin/packages/xrdcl-record/package.py
Labels: new-version, new-package, dependencies, maintainers

#32670 adding butterflypack 2.2.0
  var/spack/repos/builtin/packages/butterflypack/package.py
Labels: new-version, update-package

#32516 bugfix: package hash should affect process, dag, and dunder hashes
  lib/spack/spack/hash_types.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/cmd/diff.py
  lib/spack/spack/test/spec_semantics.py
Labels: tests, commands, core

#32610 CI: add coverage on Windows
  .github/workflows/windows_python.yml
Labels: workflow, core

#32677 [intel-oneapi-compilers] fix CC/CXX
  var/spack/repos/builtin/packages/intel-oneapi-compilers/package.py
Labels: intel, update-package

#32679 xyce: change preferred to last numeric version
  var/spack/repos/builtin/packages/xyce/package.py
Labels: new-version, dependencies, update-package

#32664 Add skip_import to PythonPackage and use it in py-nilearn
  lib/spack/docs/build_systems/pythonpackage.rst
  lib/spack/spack/build_systems/python.py
  var/spack/repos/builtin/packages/py-nilearn/package.py
Labels: new-version, python, documentation, dependencies, update-package, build-systems, core

#32688 Attempt at patching phist find mpi heuristic for updated phist version
  var/spack/repos/builtin/packages/phist/package.py
Labels: update-package

#32681 py-pydicom: add 2.3.0
  var/spack/repos/builtin/packages/py-pydicom/package.py
Labels: new-version, python, update-package

#32684 py-neurora: add 1.1.6.8
  var/spack/repos/builtin/packages/py-neurora/package.py
Labels: new-version, python, update-package

#32700 geant4: new bugfix version 11.0.3
  var/spack/repos/builtin/packages/geant4/package.py
Labels: new-version, update-package

#32708 Fix benchmark recipe after branch name was changed
  var/spack/repos/builtin/packages/benchmark/package.py
Labels: new-version, update-package

#32704 geant4-vmc: add version 6-1-p1
  var/spack/repos/builtin/packages/geant4-vmc/package.py
Labels: new-version, update-package

#32689 Don't run bootstrap on package only PRs
  .github/workflows/ci.yaml
Labels: workflow, core

#32683 fasttree: updating to 2.1.11
  var/spack/repos/builtin/packages/fasttree/package.py
Labels: new-version, update-package, maintainers

#32673 root: determine_variants cxxstd=20 support
  var/spack/repos/builtin/packages/root/package.py
Labels: update-package

#32666 patch etsf-io tests
  var/spack/repos/builtin/packages/etsf-io/package.py
  var/spack/repos/builtin/packages/etsf-io/tests_init.patch
  var/spack/repos/builtin/packages/etsf-io/tests_module.patch
Labels: patch, update-package, stand-alone-tests

#32647 Ginkgo: improve smoke testing
  var/spack/repos/builtin/packages/ginkgo/package.py
Labels: update-package, stand-alone-tests

#32461 NCCL should not be dependent on ROCm builds since RCCL is used instead.
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: python, dependencies, update-package, conflicts

#32676 py-datalad: add 0.17.5
  var/spack/repos/builtin/packages/py-datalad/package.py
  var/spack/repos/builtin/packages/py-pytest-fail-slow/package.py
  var/spack/repos/builtin/packages/py-pytest/package.py
  var/spack/repos/builtin/packages/py-types-python-dateutil/package.py
  var/spack/repos/builtin/packages/py-types-requests/package.py
  var/spack/repos/builtin/packages/py-types-urllib3/package.py
Labels: new-version, new-package, python, dependencies, update-package, conflicts

#32615 Deprecate Python 2 support
  var/spack/repos/builtin/packages/python/package.py
Labels: new-version, python, update-package, maintainers

#32450 imagemagick: new variant ghostscript
  var/spack/repos/builtin/packages/imagemagick/package.py
Labels: dependencies, update-package, new-variant

#32635 Added variant to ensure Arm Forge license acceptance
  var/spack/repos/builtin/packages/arm-forge/package.py
Labels: update-package, new-variant

#32714 py-pandas: add v1.5.0
  var/spack/repos/builtin/packages/py-pandas/package.py
Labels: new-version, python, dependencies, update-package

#32716 parallelio: add pio2_5_9 to spack package
  var/spack/repos/builtin/packages/parallelio/package.py
Labels: new-version, update-package

#32195 Bump up the version for rocm-5.2.1 release
  var/spack/repos/builtin/packages/atmi/0002-Remove-direct-reference-to-usr-bin-rysnc-for-rsync-cmd-5.2.1.patch
  var/spack/repos/builtin/packages/atmi/package.py
  var/spack/repos/builtin/packages/comgr/package.py
  var/spack/repos/builtin/packages/hip-rocclr/package.py
  var/spack/repos/builtin/packages/hip/0012-Improve-compilation-without-git-repo-and-remove-compiler-rt-linkage-for-host.5.2.1.patch
  var/spack/repos/builtin/packages/hip/package.py
  var/spack/repos/builtin/packages/hipblas/package.py
  var/spack/repos/builtin/packages/hipcub/package.py
  var/spack/repos/builtin/packages/hipfft/package.py
  var/spack/repos/builtin/packages/hipfort/package.py
  var/spack/repos/builtin/packages/hipify-clang/package.py
  var/spack/repos/builtin/packages/hipsolver/package.py
  var/spack/repos/builtin/packages/hipsparse/package.py
  var/spack/repos/builtin/packages/hsa-rocr-dev/package.py
  var/spack/repos/builtin/packages/hsakmt-roct/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/migraphx/package.py
  var/spack/repos/builtin/packages/miopen-hip/package.py
  var/spack/repos/builtin/packages/miopen-opencl/package.py
  var/spack/repos/builtin/packages/miopengemm/package.py
  var/spack/repos/builtin/packages/mivisionx/package.py
  var/spack/repos/builtin/packages/mlirmiopen/package.py
  var/spack/repos/builtin/packages/rccl/package.py
  var/spack/repos/builtin/packages/rdc/package.py
  var/spack/repos/builtin/packages/rocalution/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
  var/spack/repos/builtin/packages/rocm-bandwidth-test/package.py
  var/spack/repos/builtin/packages/rocm-clang-ocl/package.py
  var/spack/repos/builtin/packages/rocm-cmake/package.py
  var/spack/repos/builtin/packages/rocm-dbgapi/package.py
  var/spack/repos/builtin/packages/rocm-debug-agent/package.py
  var/spack/repos/builtin/packages/rocm-device-libs/package.py
  var/spack/repos/builtin/packages/rocm-gdb/package.py
  var/spack/repos/builtin/packages/rocm-opencl/package.py
  var/spack/repos/builtin/packages/rocm-openmp-extras/package.py
  var/spack/repos/builtin/packages/rocm-smi-lib/package.py
  var/spack/repos/builtin/packages/rocm-tensile/package.py
  var/spack/repos/builtin/packages/rocm-validation-suite/package.py
  var/spack/repos/builtin/packages/rocminfo/package.py
  var/spack/repos/builtin/packages/rocprim/package.py
  var/spack/repos/builtin/packages/rocprofiler-dev/package.py
  var/spack/repos/builtin/packages/rocrand/package.py
  var/spack/repos/builtin/packages/rocsolver/package.py
  var/spack/repos/builtin/packages/rocsparse/package.py
  var/spack/repos/builtin/packages/rocthrust/package.py
  var/spack/repos/builtin/packages/roctracer-dev-api/package.py
  var/spack/repos/builtin/packages/roctracer-dev/package.py
  var/spack/repos/builtin/packages/rocwmma/package.py
Labels: new-version, patch, update-package

#32691 added stat-4.2.1 and updated dependencies
  var/spack/repos/builtin/packages/stat/package.py
Labels: new-version, dependencies, update-package

#32712 py-bids-validator: add 1.9.8
  var/spack/repos/builtin/packages/py-bids-validator/package.py
Labels: new-version, python, update-package

#32578 [py-h5py] added version 3.7.0
  var/spack/repos/builtin/packages/py-h5py/package.py
Labels: new-version, python, update-package

#32646 Add checksum for py-nbconvert 6.5.1
  var/spack/repos/builtin/packages/py-nbconvert/package.py
Labels: new-version, python, dependencies, update-package
