Repository spack/spack, pull requests merged in 2022-06, with the labels that each got.

#30941 Add xyce version 7.5.0
  var/spack/repos/builtin/packages/xyce/package.py
Labels: new-version, update-package

#30931 New version for openCARP packages, v10.0
  var/spack/repos/builtin/packages/meshtool/package.py
  var/spack/repos/builtin/packages/opencarp/package.py
  var/spack/repos/builtin/packages/py-carputils/package.py
Labels: new-version, python, update-package

#30919 fenics-dolfinx: dependency updates
  var/spack/repos/builtin/packages/fenics-dolfinx/package.py
  var/spack/repos/builtin/packages/py-fenics-dolfinx/package.py
Labels: python, dependencies, update-package

#30892 gromacs: Add recent releases
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: new-version, update-package

#30887 rclone: add 1.58
  var/spack/repos/builtin/packages/rclone/package.py
Labels: new-version, dependencies, update-package

#30940 CPU & memory requests for jobs that generate GitLab CI pipelines
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
Labels: gitlab

#30932 Adding a libunwind variant to libzmq
  var/spack/repos/builtin/packages/libzmq/package.py
Labels: dependencies, update-package, new-variant

#30951 amrex: add v22.06
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package

#30877 Updated intel-gtpin package.py for most recent version, GTPin 3.0.
  var/spack/repos/builtin/packages/intel-gtpin/package.py
Labels: new-version, intel, update-package

#30896 Update HPX recipe for HPX V1.8.0
  var/spack/repos/builtin/packages/hpx/package.py
Labels: new-version, dependencies, update-package, conflicts, maintainers

#30867 py-jupyterlab: add v3.4.2
  var/spack/repos/builtin/packages/py-jupyter-packaging/package.py
  var/spack/repos/builtin/packages/py-jupyter-packaging11/package.py
  var/spack/repos/builtin/packages/py-jupyter-server/package.py
  var/spack/repos/builtin/packages/py-jupyterlab/package.py
  var/spack/repos/builtin/packages/py-nbconvert/package.py
  var/spack/repos/builtin/packages/py-nbformat/package.py
  var/spack/repos/builtin/packages/py-notebook/package.py
  var/spack/repos/builtin/packages/py-setuptools/package.py
  var/spack/repos/builtin/packages/py-tinycss2/package.py
Labels: new-version, new-package, python, dependencies, update-package

#30819 Bump up the version for ROCm-5.1.3 release
  var/spack/repos/builtin/packages/atmi/package.py
  var/spack/repos/builtin/packages/comgr/package.py
  var/spack/repos/builtin/packages/hip-rocclr/package.py
  var/spack/repos/builtin/packages/hip/package.py
  var/spack/repos/builtin/packages/hipblas/package.py
  var/spack/repos/builtin/packages/hipcub/package.py
  var/spack/repos/builtin/packages/hipfft/package.py
  var/spack/repos/builtin/packages/hipfort/package.py
  var/spack/repos/builtin/packages/hipify-clang/package.py
  var/spack/repos/builtin/packages/hipsolver/package.py
  var/spack/repos/builtin/packages/hipsparse/package.py
  var/spack/repos/builtin/packages/hsa-rocr-dev/package.py
  var/spack/repos/builtin/packages/hsakmt-roct/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/migraphx/package.py
  var/spack/repos/builtin/packages/miopen-hip/package.py
  var/spack/repos/builtin/packages/miopen-opencl/package.py
  var/spack/repos/builtin/packages/miopengemm/package.py
  var/spack/repos/builtin/packages/mivisionx/package.py
  var/spack/repos/builtin/packages/mlirmiopen/package.py
  var/spack/repos/builtin/packages/rccl/package.py
  var/spack/repos/builtin/packages/rdc/package.py
  var/spack/repos/builtin/packages/rocalution/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
  var/spack/repos/builtin/packages/rocm-bandwidth-test/package.py
  var/spack/repos/builtin/packages/rocm-clang-ocl/package.py
  var/spack/repos/builtin/packages/rocm-cmake/package.py
  var/spack/repos/builtin/packages/rocm-dbgapi/package.py
  var/spack/repos/builtin/packages/rocm-debug-agent/package.py
  var/spack/repos/builtin/packages/rocm-device-libs/package.py
  var/spack/repos/builtin/packages/rocm-gdb/package.py
  var/spack/repos/builtin/packages/rocm-opencl/package.py
  var/spack/repos/builtin/packages/rocm-openmp-extras/package.py
  var/spack/repos/builtin/packages/rocm-smi-lib/package.py
  var/spack/repos/builtin/packages/rocm-tensile/package.py
  var/spack/repos/builtin/packages/rocm-validation-suite/package.py
  var/spack/repos/builtin/packages/rocminfo/package.py
  var/spack/repos/builtin/packages/rocprim/package.py
  var/spack/repos/builtin/packages/rocprofiler-dev/package.py
  var/spack/repos/builtin/packages/rocrand/package.py
  var/spack/repos/builtin/packages/rocsolver/package.py
  var/spack/repos/builtin/packages/rocsparse/package.py
  var/spack/repos/builtin/packages/rocthrust/package.py
  var/spack/repos/builtin/packages/roctracer-dev-api/package.py
  var/spack/repos/builtin/packages/roctracer-dev/package.py
Labels: new-version, patch, update-package, e4s

#30948 python: add 3.9.13
  var/spack/repos/builtin/packages/python/package.py
Labels: new-version, python, update-package

#30903 hdf5: new version 1.10.9
  var/spack/repos/builtin/packages/hdf5/package.py
Labels: new-version, update-package

#30960 Add pika 0.5.0
  var/spack/repos/builtin/packages/pika/package.py
Labels: new-version, dependencies, update-package

#30897 pmix: add explicit hwloc dependency
  var/spack/repos/builtin/packages/pmix/package.py
Labels: dependencies, update-package

#30955 texlive: add 20220321 distribution
  var/spack/repos/builtin/packages/texlive/package.py
Labels: update-package

#30950 Add flag to enable WRF-Chem module
  var/spack/repos/builtin/packages/wrf/package.py
Labels: update-package, new-variant

#30835 Update bear to v3.0.0
  var/spack/repos/builtin/packages/bear/package.py
Labels: new-version, dependencies, update-package, maintainers

#30933 Abacus
  var/spack/repos/builtin/packages/abacus/package.py
Labels: new-version, new-package, dependencies, update-package, maintainers, new-variant

#30967 lftp: add 4.9.2
  var/spack/repos/builtin/packages/lftp/package.py
Labels: new-version, update-package

#30833 py-torch: fix Apple M1 support
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: python, update-package, conflicts

#30823 Rust: Apple M1 support
  var/spack/repos/builtin/packages/rust/package.py
Labels: update-package, rust

#30936 geant4: enable building against spack-built geant outside of spack
  var/spack/repos/builtin/packages/geant4/package.py
Labels: update-package

#30880 py-protobuf: pin dependents to @:3
  var/spack/repos/builtin/packages/py-onnx/package.py
  var/spack/repos/builtin/packages/py-tensorboard/package.py
  var/spack/repos/builtin/packages/py-tensorflow/package.py
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: python, dependencies, update-package

#30098 Specific names for IntelMPI compiler wrappers.
  var/spack/repos/builtin/packages/intel-oneapi-mpi/package.py
Labels: intel, update-package, new-variant

#30972 model-traits: include new versions
  var/spack/repos/builtin/packages/model-traits/package.py
Labels: new-version, update-package

#30977 rocksdb: add 7.2.2
  var/spack/repos/builtin/packages/rocksdb/package.py
  var/spack/repos/builtin/packages/rocksdb/pkg-config-6.28.patch
Labels: new-version, patch, update-package

#30982 petsc, py-petsc4py: add 3.17.2
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/py-petsc4py/package.py
Labels: new-version, python, update-package

#30973 protobuf: patch build error when @3.20 %gcc@12.1.0
  var/spack/repos/builtin/packages/protobuf/package.py
Labels: patch, update-package

#30989 py-botorch: add new package
  var/spack/repos/builtin/packages/py-botorch/package.py
  var/spack/repos/builtin/packages/py-gpytorch/package.py
  var/spack/repos/builtin/packages/py-pyro-api/package.py
  var/spack/repos/builtin/packages/py-pyro-ppl/package.py
Labels: new-version, new-package, python, dependencies, update-package, maintainers

#30986 New package: intel-oneapi-dpct: DPC++ compatibility toolkit
  var/spack/repos/builtin/packages/intel-oneapi-dpct/package.py
Labels: new-version, new-package, intel, maintainers

#30971 use GC64 on darwin in luajit
  var/spack/repos/builtin/packages/lua-luajit-openresty/package.py
  var/spack/repos/builtin/packages/lua-luajit/package.py
Labels: update-package, conflicts

#30625 Sanitize filepath from URL
  lib/spack/spack/stage.py
  lib/spack/spack/test/util/path.py
  lib/spack/spack/util/path.py
Labels: tests, utilities, stage

#30994 cmake: New version 3.23.2
  var/spack/repos/builtin/packages/cmake/package.py
Labels: new-version, update-package

#30993 cppcheck: add v2.8
  var/spack/repos/builtin/packages/cppcheck/package.py
Labels: new-version, update-package

#30942 Amrvis: Add configuration file and default color palette
  var/spack/repos/builtin/packages/amrvis/package.py
Labels: update-package, maintainers

#30895 quantum-espresso: support libxc for cmake and autotools build
  var/spack/repos/builtin/packages/quantum-espresso/package.py
Labels: dependencies, update-package, new-variant

#30886 Propagate the CUDA architecture to NVSHMEM when it is enabled.
  var/spack/repos/builtin/packages/dihydrogen/package.py
Labels: dependencies, update-package

#30845 Adding NVIDIA HPC SDK 22.5
  var/spack/repos/builtin/packages/nvhpc/package.py
Labels: update-package

#30825 GCC: add Apple M1 support
  var/spack/repos/builtin/packages/gcc/package.py
Labels: patch, update-package, conflicts

#30999 py-black: new version/variants/maintainer
  var/spack/repos/builtin/packages/py-black/package.py
  var/spack/repos/builtin/packages/py-uvloop/package.py
Labels: new-version, python, dependencies, update-package, maintainers, new-variant

#30723 Kokkos SYCL AOT flags
  var/spack/repos/builtin/packages/kokkos/package.py
Labels: update-package, e4s, new-variant

#30884 No need of patch and hdf5 is optional for QE QMCPACK converter
  var/spack/repos/builtin/packages/quantum-espresso/package.py
Labels: dependencies, update-package, conflicts

#31000 py-torchmetrics: add v0.9.0
  var/spack/repos/builtin/packages/py-torchgeo/package.py
  var/spack/repos/builtin/packages/py-torchmetrics/package.py
Labels: new-version, python, dependencies, update-package, maintainers

#30885 Correcting library path of hsakmt-roct for Centos7 and cleaning up the patch file.
  var/spack/repos/builtin/packages/rocm-validation-suite/006-library-path.patch
  var/spack/repos/builtin/packages/rocm-validation-suite/package.py
Labels: patch, update-package

#29806 [py-httpx] added version 0.22.0
  var/spack/repos/builtin/packages/py-httpx/package.py
Labels: new-version, python, dependencies, update-package, new-variant

#29452 New package: py-numpy-quaternion
  var/spack/repos/builtin/packages/py-numpy-quaternion/package.py
Labels: new-version, new-package, python, dependencies, new-variant

#30992 atompow: remove again misplaced duplicate package
  var/spack/repos/builtin/atompaw/package.py
Labels: maintainers

#30890 Update package rtags
  var/spack/repos/builtin/packages/rtags/package.py
Labels: new-version, update-package, maintainers

#25185 Add python bunzip support with cl bunzip as fallback
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/test/data/compression/Foo
  lib/spack/spack/test/data/compression/Foo.Z
  lib/spack/spack/test/data/compression/Foo.bz2
  lib/spack/spack/test/data/compression/Foo.gz
  lib/spack/spack/test/data/compression/Foo.tar
  lib/spack/spack/test/data/compression/Foo.tar.Z
  lib/spack/spack/test/data/compression/Foo.tar.bz2
  lib/spack/spack/test/data/compression/Foo.tar.gz
  lib/spack/spack/test/data/compression/Foo.tar.xz
  lib/spack/spack/test/data/compression/Foo.tbz
  lib/spack/spack/test/data/compression/Foo.tbz2
  lib/spack/spack/test/data/compression/Foo.tgz
  lib/spack/spack/test/data/compression/Foo.txz
  lib/spack/spack/test/data/compression/Foo.xz
  lib/spack/spack/test/data/compression/Foo.zip
  lib/spack/spack/test/util/compression.py
  lib/spack/spack/util/compression.py
  var/spack/repos/builtin/packages/7zip/noexcept_typedef.patch
  var/spack/repos/builtin/packages/7zip/package.py
Labels: new-version, new-package, fetching, defaults, tests, patch, conflicts, utilities, new-variant, windows

#31016 Fix py-ray dependencies and build system
  var/spack/repos/builtin/packages/py-ray/package.py
Labels: python, dependencies, update-package

#31001 glib: add 2.72.2
  var/spack/repos/builtin/packages/glib/package.py
Labels: new-version, update-package

#30856 Fix compiler flags for oneapi and dpcpp
  lib/spack/external/__init__.py
  lib/spack/external/archspec/json/cpu/microarchitectures.json
Labels: vendored-dependencies

#30789 git-annex: fix source urls
  var/spack/repos/builtin/packages/git-annex/package.py
Labels: new-version, update-package

#30870 libint: add Python as build dependency
  var/spack/repos/builtin/packages/libint/package.py
Labels: dependencies, update-package

#31009 py-vermin: add latest version 1.4.0
  var/spack/repos/builtin/packages/py-vermin/package.py
Labels: new-version, python, update-package

#31018 AMReX: CMake 3.17+
  var/spack/repos/builtin/packages/amrex/package.py
Labels: dependencies, update-package, ecp, e4s

#30983 Fix empty install prefix post-install sanity check
  lib/spack/spack/package_base.py
  lib/spack/spack/test/install.py
  var/spack/repos/builtin.mock/packages/failing-empty-install/package.py
Labels: new-version, tests

#31006 Visit: Allow building without gui or osmesa
  var/spack/repos/builtin/packages/visit/package.py
Labels: update-package

#31003 docs: update the list of Docker images with Spack preinstalled
  lib/spack/docs/containers.rst
  lib/spack/docs/dockerhub_spack.png
  lib/spack/docs/images/ghcr_spack.png
Labels: documentation

#31015 Add py-ytopt-autotune version v1.0.0
  var/spack/repos/builtin/packages/py-ytopt-autotune/package.py
Labels: new-version, python, update-package

#31012 WarpX: 22.06
  var/spack/repos/builtin/packages/py-warpx/package.py
  var/spack/repos/builtin/packages/warpx/package.py
Labels: new-version, python, patch, update-package, ecp, e4s

#30944 Add New Package:PSCMC
  var/spack/repos/builtin/packages/pscmc/package.py
Labels: new-version, new-package, update-package, maintainers

#30979 Update prmon recipe, v3.0.2
  var/spack/repos/builtin/packages/prmon/package.py
Labels: new-version, dependencies, update-package, new-variant

#31027 Staging: determine extensions from nonstandard URLs
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/util/compression.py
Labels: fetching, utilities

#31005 Meson: New version 0.62.2
  var/spack/repos/builtin/packages/meson/package.py
Labels: new-version, update-package

#31023 openPMD-api: 0.14.5
  var/spack/repos/builtin/packages/openpmd-api/package.py
Labels: new-version, update-package, e4s

#31008 libtiff: add v4.4.0
  var/spack/repos/builtin/packages/libtiff/package.py
Labels: new-version, update-package, conflicts

#31039 Python: add v3.10.5
  var/spack/repos/builtin/packages/python/package.py
Labels: new-version, python, update-package

#31031 py-pympler: add v1.0.1
  var/spack/repos/builtin/packages/py-pympler/package.py
Labels: new-version, python, dependencies, update-package

#31043 py-glmsingle: add new package
  var/spack/repos/builtin/packages/py-glmsingle/package.py
Labels: new-version, new-package, python, dependencies

#31029 Update py-ytopt to package latest version
  var/spack/repos/builtin/packages/py-ytopt/package.py
Labels: new-version, python, dependencies, update-package

#30807 New package: py-colossialai
  var/spack/repos/builtin/packages/py-colossalai/package.py
Labels: new-version, new-package, python, dependencies

#29143 [py-sentry-sdk] added version 1.5.5
  var/spack/repos/builtin/packages/py-sentry-sdk/package.py
Labels: new-version, python, dependencies, update-package, conflicts, new-variant

#31034 cuDNN: add v8.4.0.27-11.6
  var/spack/repos/builtin/packages/cudnn/package.py
Labels: update-package

#31033 py-memray: add new package
  var/spack/repos/builtin/packages/py-memray/package.py
Labels: new-version, new-package, python, dependencies, conflicts

#31054 lua-mpack: build with -fPIC always
  var/spack/repos/builtin/packages/lua-mpack/package.py
Labels: update-package

#31044 Cancel running workflows automatically on PR update
  .github/workflows/bootstrap.yml
  .github/workflows/build-containers.yml
  .github/workflows/macos_python.yml
  .github/workflows/unit_tests.yaml
  .github/workflows/windows_python.yml
Labels: workflow

#30824 clingo: fix ~python build
  .github/workflows/bootstrap.yml
  var/spack/repos/builtin/packages/clingo/package.py
Labels: update-package, workflow

#27293 Allow more fine-grained control over what submodules are updated: part 2
  lib/spack/docs/packaging_guide.rst
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/package.py
  lib/spack/spack/package_base.py
  lib/spack/spack/test/git_fetch.py
Labels: new-version, documentation, fetching, tests

#30935 nfft, pnfft: fix detection of fftw variants (precision)
  var/spack/repos/builtin/packages/nfft/package.py
  var/spack/repos/builtin/packages/pnfft/package.py
Labels: update-package

#31070 py-timm: add v0.5.4
  var/spack/repos/builtin/packages/py-timm/package.py
Labels: new-version, python, dependencies, update-package

#31068 py-pillow: add v9.0.1, 9.1.0, 9.1.1
  var/spack/repos/builtin/packages/py-pillow/package.py
Labels: new-version, python, update-package, new-variant

#31067 py-kornia: add v0.6.3, 0.6.4, 0.6.5
  var/spack/repos/builtin/packages/py-kornia/package.py
Labels: new-version, python, update-package

#30968 py-xdot requires explicit dependency on harfbuzz
  var/spack/repos/builtin/packages/py-xdot/package.py
Labels: python, dependencies, update-package

#31060 exago@1.4.1: : needs py-pytest
  var/spack/repos/builtin/packages/exago/package.py
Labels: dependencies, update-package, e4s

#31081 Add Enzyme 0.0.32 to Spack
  var/spack/repos/builtin/packages/enzyme/package.py
Labels: new-version, dependencies, update-package

#31057 fix for missing implicit includes
  var/spack/repos/builtin/packages/babelflow/package.py
Labels: update-package

#31084 clingo: fix error messages
  lib/spack/spack/solver/concretize.lp
Labels: error-messages, bugfix

#31062 ripgrep: remove need for llvm
  var/spack/repos/builtin/packages/ripgrep/package.py
Labels: update-package

#31092 bugfix: preserve dict order for `Spec.dag_hash()` in Python 2
  lib/spack/spack/test/spec_yaml.py
  lib/spack/spack/util/spack_json.py
Labels: tests, impact-high, utilities

#29282 fix doubly shell quoting args to `spack spec`
  lib/spack/spack/cmd/__init__.py
  lib/spack/spack/cmd/spec.py
  lib/spack/spack/test/cmd/common/arguments.py
  lib/spack/spack/test/cmd/spec.py
  lib/spack/spack/test/spec_semantics.py
Labels: tests, commands

#31097 py-sphinxcontrib-bibtex: new version 2.4.2
  var/spack/repos/builtin/packages/py-sphinxcontrib-bibtex/package.py
Labels: new-version, python, dependencies, update-package

#31088 Limit Jasper version for WPS
  var/spack/repos/builtin/packages/wps/package.py
Labels: dependencies, update-package

#31099 llvm: Add @14.0.5
  var/spack/repos/builtin/packages/llvm/package.py
Labels: new-version, update-package

#31098 py-breathe: new version 4.33.1 and fix dependencies
  var/spack/repos/builtin/packages/py-breathe/package.py
Labels: new-version, python, dependencies, update-package

#31013 Fix libunwind dependency fo py-py-spy
  var/spack/repos/builtin/packages/py-py-spy/package.py
Labels: python, dependencies, update-package

#31087 atompaw: add v4.2.0.1
  var/spack/repos/builtin/packages/atompaw/package.py
Labels: new-version, patch, update-package

#31071 Fix packages that will break with PIL 10
  var/spack/repos/builtin/packages/py-torchgeo/package.py
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: python, dependencies, update-package

#31076 Fix `tracy-client` package
  var/spack/repos/builtin/packages/tracy-client/package.py
Labels: update-package

#31061 update flux-core and flux-sched to latest releases
  var/spack/repos/builtin/packages/flux-core/package.py
  var/spack/repos/builtin/packages/flux-sched/package.py
Labels: new-version, update-package

#31073 nvhpc: conflict with all compilers except for gcc
  var/spack/repos/builtin/packages/nvhpc/package.py
Labels: update-package, conflicts

#31019 Fix spack style arbitrary git rev as base
  lib/spack/spack/cmd/style.py
  lib/spack/spack/test/cmd/style.py
Labels: tests, commands

#30970 Remove filter operation for superlu-dist to avoid permission issues on read-only systems
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: update-package

#29924 SCR release v3.0, including components
  var/spack/repos/builtin/packages/axl/package.py
  var/spack/repos/builtin/packages/dtcmp/package.py
  var/spack/repos/builtin/packages/er/package.py
  var/spack/repos/builtin/packages/kvtree/package.py
  var/spack/repos/builtin/packages/rankstr/package.py
  var/spack/repos/builtin/packages/redset/package.py
  var/spack/repos/builtin/packages/scr/package.py
  var/spack/repos/builtin/packages/shuffile/package.py
  var/spack/repos/builtin/packages/spath/package.py
Labels: new-version, ready, dependencies, update-package, maintainers, e4s, new-variant

#31106 sloccount: add build-time dependency on flex
  var/spack/repos/builtin/packages/sloccount/package.py
Labels: dependencies, update-package

#31072 netpbm: run custom test command
  var/spack/repos/builtin/packages/netpbm/package.py
Labels: update-package, stand-alone-tests

#31118 Pin setuptools version in Github Action Workflows
  .github/workflows/unit_tests.yaml
  .github/workflows/windows_python.yml
Labels: workflow

#31119 SEACAS: Clean up, add new versions
  var/spack/repos/builtin/packages/seacas/package.py
Labels: new-version, update-package

#31120 exempi: add 2.6.1 and fix boost dependency
  var/spack/repos/builtin/packages/exempi/package.py
Labels: new-version, dependencies, update-package

#31116 root: new version 6.26.04
  var/spack/repos/builtin/packages/root/package.py
Labels: new-version, update-package

#31011 Update HDF5 VOL async
  var/spack/repos/builtin/packages/hdf5-vol-async/package.py
Labels: new-version, dependencies, update-package

#31113 openfoam: update v2112 to latest patch
  var/spack/repos/builtin/packages/openfoam/package.py
Labels: new-version, update-package

#31086 openssh: Provide support for Kerberos authentication
  var/spack/repos/builtin/packages/openssh/package.py
Labels: dependencies, update-package, new-variant

#31111 hdf5: add conflict for broken @1.8.22+fortran+mpi
  var/spack/repos/builtin/packages/hdf5/package.py
Labels: update-package, conflicts, new-variant

#30214 hybrid-lambda: fix test
  var/spack/repos/builtin/packages/hybrid-lambda/package.py
Labels: dependencies, update-package

#31080 legion: add HIP support
  var/spack/repos/builtin/packages/legion/package.py
Labels: dependencies, update-package, e4s, new-variant

#31108 [acts] Add version 19.2
  var/spack/repos/builtin/packages/acts/package.py
Labels: new-version, update-package

#31078 gemma: Adding new package.
  var/spack/repos/builtin/packages/gemma/package.py
Labels: new-version, new-package, dependencies, maintainers

#31105 vectorclass-version2: Move files to include folder
  var/spack/repos/builtin/packages/vectorclass-version2/package.py
Labels: update-package

#31053 Add new versions and dependencies to survey package.
  var/spack/repos/builtin/packages/survey/package.py
Labels: new-version, dependencies, update-package

#31046 Add simple-dftd3 package and dependencies
  var/spack/repos/builtin/packages/dftd4/package.py
  var/spack/repos/builtin/packages/json-fortran/package.py
  var/spack/repos/builtin/packages/mctc-lib/package.py
  var/spack/repos/builtin/packages/simple-dftd3/package.py
  var/spack/repos/builtin/packages/toml-f/package.py
Labels: new-version, new-package, dependencies, update-package, maintainers, new-variant

#30773 Make the IntelPackage fail successfully
  lib/spack/spack/build_systems/intel.py
Labels: build-systems

#30638 Fix APEX compilation with binutils
  var/spack/repos/builtin/packages/apex/package.py
Labels: dependencies, update-package

#30769 mpich: remove libtool patches
  var/spack/repos/builtin/packages/mpich/nag_libtool_2.4.2_0.patch
  var/spack/repos/builtin/packages/mpich/nag_libtool_2.4.2_1.patch
  var/spack/repos/builtin/packages/mpich/nag_libtool_2.4.2_2.patch
  var/spack/repos/builtin/packages/mpich/nag_libtool_2.4.6.patch
  var/spack/repos/builtin/packages/mpich/package.py
Labels: update-package

#30858 wget: fixing compilation issue with gcc11+ on rhel7
  var/spack/repos/builtin/packages/wget/package.py
Labels: update-package

#31038 cuDNN: fix hashes, add v8.4.0
  var/spack/repos/builtin/packages/cudnn/package.py
Labels: update-package

#31115 ROCm support to build py-torch
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: python, dependencies, update-package

#31134 helics: Add version 2.8.1
  var/spack/repos/builtin/packages/helics/package.py
Labels: new-version, update-package

#31035 try bootstrap store python paths at start and end
  lib/spack/spack/bootstrap.py
Labels: bugfix

#31145 mesa: Match rtti settings with the libllvm dependency
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/mesa/package.py
Labels: virtual-dependencies, update-package

#31121 r-httpuv: fix zlib dependency
  var/spack/repos/builtin/packages/r-httpuv/package.py
Labels: R, dependencies, update-package

#31133 grid: Add new package
  var/spack/repos/builtin/packages/grid/package.py
Labels: new-version, new-package, dependencies, maintainers, new-variant

#31160 CI: test binary bootstrapping of clingo on all macOS versions
  .github/workflows/bootstrap.yml
Labels: workflow

#31146 Add hypre release 2.25.0
  var/spack/repos/builtin/packages/hypre/package.py
Labels: new-version, update-package

#31162 Xerces-C: Add option to disable transcoder
  var/spack/repos/builtin/packages/xerces-c/package.py
Labels: update-package

#31142 concretize.lp: impose a lower bound on the number of version facts if a solution exists
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/test/concretize.py
  var/spack/repos/builtin.mock/packages/non-existing-conditional-dep/package.py
Labels: new-version, dependencies, tests

#31161 Add LevelZero variant to hwloc package
  var/spack/repos/builtin/packages/hwloc/package.py
Labels: dependencies, update-package, conflicts, new-variant

#31157 rpcsvc-proto: add 'cpp' path for rpcgen
  var/spack/repos/builtin/packages/rpcsvc-proto/package.py
Labels: update-package

#31107 New packages: py-ford and dependencies
  var/spack/repos/builtin/packages/py-ford/package.py
  var/spack/repos/builtin/packages/py-markdown-include/package.py
  var/spack/repos/builtin/packages/py-md-environ/package.py
  var/spack/repos/builtin/packages/py-python-markdown-math/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#31144 Manifest parsing: avoid irrelevant files
  lib/spack/spack/cmd/external.py
  lib/spack/spack/cray_manifest.py
Labels: WIP, commands

#31153 ASP-based solver: fix rules on version weights selection
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/test/concretize.py
Labels: tests

#31171 py-sphinx: add v5, maintainer
  var/spack/repos/builtin/packages/py-sphinx/package.py
Labels: new-version, python, dependencies, update-package, maintainers

#31164 openssl: default to mozilla certs
  var/spack/repos/builtin/packages/openssl/package.py
Labels: update-package, new-variant

#31150 Update Intel package descriptions
  lib/spack/docs/build_systems/inteloneapipackage.rst
  lib/spack/docs/build_systems/intelpackage.rst
  var/spack/repos/builtin/packages/intel-daal/package.py
  var/spack/repos/builtin/packages/intel-ipp/package.py
  var/spack/repos/builtin/packages/intel-mkl/package.py
  var/spack/repos/builtin/packages/intel-mpi-benchmarks/package.py
  var/spack/repos/builtin/packages/intel-mpi/package.py
  var/spack/repos/builtin/packages/intel-oneapi-ccl/package.py
  var/spack/repos/builtin/packages/intel-oneapi-dal/package.py
  var/spack/repos/builtin/packages/intel-oneapi-dnn/package.py
  var/spack/repos/builtin/packages/intel-oneapi-dpct/package.py
  var/spack/repos/builtin/packages/intel-oneapi-dpl/package.py
  var/spack/repos/builtin/packages/intel-oneapi-ipp/package.py
  var/spack/repos/builtin/packages/intel-oneapi-ippcp/package.py
  var/spack/repos/builtin/packages/intel-oneapi-mkl/package.py
  var/spack/repos/builtin/packages/intel-oneapi-mpi/package.py
  var/spack/repos/builtin/packages/intel-oneapi-tbb/package.py
  var/spack/repos/builtin/packages/intel-parallel-studio/package.py
  var/spack/repos/builtin/packages/intel/package.py
Labels: documentation, intel, update-package, maintainers

#30792 Support 'spack external find' for rocm packages(library only packages)
  var/spack/repos/builtin/packages/comgr/package.py
  var/spack/repos/builtin/packages/hip/package.py
  var/spack/repos/builtin/packages/hipblas/package.py
  var/spack/repos/builtin/packages/hipsolver/package.py
  var/spack/repos/builtin/packages/hipsparse/package.py
  var/spack/repos/builtin/packages/hsa-rocr-dev/package.py
  var/spack/repos/builtin/packages/migraphx/package.py
  var/spack/repos/builtin/packages/miopen-hip/package.py
  var/spack/repos/builtin/packages/miopen-opencl/package.py
  var/spack/repos/builtin/packages/miopen-tensile/package.py
  var/spack/repos/builtin/packages/miopengemm/package.py
  var/spack/repos/builtin/packages/rccl/package.py
  var/spack/repos/builtin/packages/rdc/package.py
  var/spack/repos/builtin/packages/rocalution/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
  var/spack/repos/builtin/packages/rocm-dbgapi/package.py
  var/spack/repos/builtin/packages/rocm-debug-agent/package.py
  var/spack/repos/builtin/packages/rocm-opencl/package.py
  var/spack/repos/builtin/packages/rocm-smi-lib/package.py
  var/spack/repos/builtin/packages/rocprofiler-dev/package.py
  var/spack/repos/builtin/packages/rocrand/package.py
  var/spack/repos/builtin/packages/rocsolver/package.py
  var/spack/repos/builtin/packages/rocsparse/package.py
  var/spack/repos/builtin/packages/roctracer-dev/package.py
Labels: update-package

#28898 add new vtk-h releases and use cmake base pkg
  var/spack/repos/builtin/packages/vtk-h/package.py
  var/spack/repos/builtin/packages/vtk-m/package.py
Labels: new-version, dependencies, update-package, new-variant

#31131 py-setuptools: install setuptools from wheels directly
  .github/workflows/unit_tests.yaml
  .github/workflows/windows_python.yml
  var/spack/repos/builtin/packages/py-setuptools/package.py
Labels: new-version, python, dependencies, update-package, workflow, extends

#31178 docs: quote string to show valid YAML
  lib/spack/docs/environments.rst
Labels: documentation
