Repository spack/spack, pull requests merged in 2022-04, with the labels that each got.

#29508 rocm-cmake: remove ldconfig variant
  var/spack/repos/builtin/packages/rocm-cmake/package.py
Labels: dependencies, update-package

#29813 ca-certificates-mozilla: 2022-03-18, 2022-03-29
  var/spack/repos/builtin/packages/ca-certificates-mozilla/package.py
Labels: new-version, update-package

#29814 osu-micro-benchmarks: 5.9
  var/spack/repos/builtin/packages/osu-micro-benchmarks/package.py
Labels: new-version, update-package

#29824 openmpi: add 4.1.3 release
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: new-version, update-package

#29831 vecgeom: add version 1.1.20
  var/spack/repos/builtin/packages/vecgeom/package.py
Labels: new-version, update-package

#29816 hwloc: 2.0.x, 2.7.x
  var/spack/repos/builtin/packages/hwloc/package.py
Labels: new-version, update-package, e4s

#28005 Added support for find externals to also find library-only packages
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/cmd/external.py
  lib/spack/spack/detection/__init__.py
  lib/spack/spack/detection/common.py
  lib/spack/spack/detection/path.py
  lib/spack/spack/package.py
  var/spack/repos/builtin/packages/hipblas/package.py
  var/spack/repos/builtin/packages/nccl/package.py
  var/spack/repos/builtin/packages/rccl/package.py
  var/spack/repos/builtin/packages/rdma-core/package.py
Labels: external-packages, commands, update-package, utilities

#29829 fplll: Add version 5.4.1
  var/spack/repos/builtin/packages/fplll/package.py
Labels: new-version, update-package

#29834 New package: gbl
  var/spack/repos/builtin/packages/gbl/package.py
Labels: new-version, new-package, dependencies, maintainers, new-variant

#29541 dd4hep, podio: add new versions, fix tests
  var/spack/repos/builtin/packages/dd4hep/package.py
  var/spack/repos/builtin/packages/podio/package.py
Labels: new-version, dependencies, update-package

#29545 New package: py-jamo
  var/spack/repos/builtin/packages/py-jamo/package.py
Labels: new-version, new-package, python, dependencies

#29803 [py-hyperframe] added version 5.2.0
  var/spack/repos/builtin/packages/py-hyperframe/package.py
Labels: new-version, python, dependencies, update-package

#29805 [py-httpcore] added version 0.14.7
  var/spack/repos/builtin/packages/py-httpcore/package.py
Labels: new-version, python, dependencies, update-package

#28982 Metall package: add v0.18 and v0.19
  var/spack/repos/builtin/packages/metall/package.py
Labels: new-version, update-package

#29558 cdo: new version 2.0.5
  var/spack/repos/builtin/packages/cdo/package.py
Labels: new-version, update-package

#29840 Bump perl version
  var/spack/repos/builtin/packages/perl/package.py
Labels: new-version, update-package, conflicts

#29779 adios2: Bump version to v2.8.0 and cleanup package code
  var/spack/repos/builtin/packages/adios2/package.py
Labels: new-version, dependencies, update-package, conflicts, ecp, e4s, new-variant

#29855 openssl: add conflict for %nvhpc
  var/spack/repos/builtin/packages/openssl/package.py
Labels: update-package, conflicts

#29854 perl: conflict with unpatched releases for %nvhpc
  var/spack/repos/builtin/packages/perl/package.py
Labels: update-package, conflicts

#29850 mbedtls: fix build with %nvhpc
  var/spack/repos/builtin/packages/mbedtls/package.py
Labels: update-package

#29792 zlib: Update to 1.2.12
  var/spack/repos/builtin/packages/mfem/package.py
  var/spack/repos/builtin/packages/zlib/configure-cc.patch
  var/spack/repos/builtin/packages/zlib/package.py
Labels: new-version, patch, update-package

#29809 Fix support for amber20 + ambertools21
  var/spack/repos/builtin/packages/amber/package.py
  var/spack/repos/builtin/packages/amber/sebomd_fix.patch
Labels: dependencies, patch, update-package

#29851 cmake: build with %nvhpc
  var/spack/repos/builtin/packages/cmake/package.py
Labels: update-package, conflicts

#29849 zstd: doesn't build with %nvhpc
  var/spack/repos/builtin/packages/zstd/package.py
Labels: update-package, conflicts

#29856 py-pandas: add v1.4.2
  var/spack/repos/builtin/packages/py-pandas/package.py
Labels: new-version, python, update-package

#29844 sundials: add magma variant
  var/spack/repos/builtin/packages/sundials/package.py
Labels: dependencies, update-package, e4s, new-variant

#27564 Add support for raco pkgs
  lib/spack/docs/build_systems.rst
  lib/spack/docs/build_systems/racketpackage.rst
  lib/spack/spack/build_systems/racket.py
  lib/spack/spack/cmd/create.py
  lib/spack/spack/pkgkit.py
  var/spack/repos/builtin/packages/rkt-base/package.py
  var/spack/repos/builtin/packages/rkt-cext-lib/package.py
  var/spack/repos/builtin/packages/rkt-compiler-lib/package.py
  var/spack/repos/builtin/packages/rkt-dynext-lib/package.py
  var/spack/repos/builtin/packages/rkt-rackunit-lib/package.py
  var/spack/repos/builtin/packages/rkt-scheme-lib/package.py
  var/spack/repos/builtin/packages/rkt-testing-util-lib/package.py
  var/spack/repos/builtin/packages/rkt-zo-lib/package.py
Labels: new-version, new-package, documentation, dependencies, commands, update-package, maintainers, build-systems, new-variant, extends

#29838 amrex: add v22.04
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package, e4s

#29606 ncbi-rmblastn: add missing dependencies
  var/spack/repos/builtin/packages/ncbi-rmblastn/package.py
Labels: dependencies, update-package

#29800 PETSc: add fortran variant to allow builds without fortran
  var/spack/repos/builtin/packages/petsc/package.py
Labels: dependencies, update-package, conflicts, e4s, new-variant

#29822 petsc,py-petsc4py,slepc,py-slepc4py: add version 3.17.0
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/py-petsc4py/package.py
  var/spack/repos/builtin/packages/py-slepc4py/package.py
  var/spack/repos/builtin/packages/slepc/package.py
Labels: new-version, python, dependencies, update-package, e4s

#29853 arborx: add 1.2 release
  var/spack/repos/builtin/packages/arborx/package.py
Labels: new-version, dependencies, update-package

#29846 libuv: new versions, new url, drop autotools
  var/spack/repos/builtin/packages/libuv/package.py
Labels: new-version, dependencies, update-package

#29866 Remove the hardcoded /tmp directory
  var/spack/repos/builtin/packages/nix/package.py
  var/spack/repos/builtin/packages/py-dm-tree/package.py
  var/spack/repos/builtin/packages/py-keras/package.py
  var/spack/repos/builtin/packages/py-tensorboard/package.py
  var/spack/repos/builtin/packages/py-tensorflow-estimator/package.py
  var/spack/repos/builtin/packages/py-tensorflow-probability/package.py
Labels: python, update-package

#23645 charmpp: avoid setting MPICC for mpi backend
  var/spack/repos/builtin/packages/charmpp/package.py
Labels: update-package

#29864 curl: 7.82.0
  var/spack/repos/builtin/packages/curl/package.py
Labels: new-version, update-package

#29777 root: add conflict for removed feature vmc
  var/spack/repos/builtin/packages/root/package.py
Labels: update-package, conflicts

#29865 curl: libs variant
  var/spack/repos/builtin/packages/curl/package.py
Labels: update-package, new-variant

#29823 Wonton, Tangram, Portage ctest update
  var/spack/repos/builtin/packages/portage/package.py
  var/spack/repos/builtin/packages/tangram/package.py
  var/spack/repos/builtin/packages/wonton/package.py
Labels: new-version, dependencies, update-package

#29083 Damaris package updated to use tag v1.6.0
  var/spack/repos/builtin/packages/damaris/package.py
Labels: new-version, dependencies, update-package, new-variant

#26873 Simple rewiring of spliced specs
  lib/spack/spack/rewiring.py
  lib/spack/spack/test/rewiring.py
  var/spack/repos/builtin.mock/packages/splice-h/package.py
  var/spack/repos/builtin.mock/packages/splice-t/package.py
  var/spack/repos/builtin.mock/packages/splice-z/package.py
Labels: tests, binary-packages

#29862 fp16, cpuinfo, pthreadpool, *nnpack: build tests/benchmarks only when self.run_tests
  var/spack/repos/builtin/packages/cpuinfo/package.py
  var/spack/repos/builtin/packages/fp16/package.py
  var/spack/repos/builtin/packages/nnpack/package.py
  var/spack/repos/builtin/packages/pthreadpool/package.py
  var/spack/repos/builtin/packages/qnnpack/package.py
  var/spack/repos/builtin/packages/xnnpack/package.py
Labels: update-package

#29872 expat: 2.4.x
  var/spack/repos/builtin/packages/expat/package.py
Labels: new-version, update-package

#29836 Add shared/static variants to gmp and mpfr
  var/spack/repos/builtin/packages/gmp/package.py
  var/spack/repos/builtin/packages/mpfr/package.py
Labels: update-package, conflicts, new-variant

#29530 Allow conditional possible values in variants
  lib/spack/docs/packaging_guide.rst
  lib/spack/llnl/util/lang.py
  lib/spack/spack/pkgkit.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/variant.py
  var/spack/repos/builtin.mock/packages/conditional-values-in-variant/package.py
  var/spack/repos/builtin/packages/boost/package.py
Labels: new-version, documentation, tests, update-package, utilities, build-systems, new-variant

#29884 Update exawind stack openfast dependencies
  var/spack/repos/builtin/packages/amr-wind/package.py
  var/spack/repos/builtin/packages/exawind/package.py
  var/spack/repos/builtin/packages/nalu-wind/package.py
Labels: dependencies, update-package

#29878 cub: new versions
  var/spack/repos/builtin/packages/cub/package.py
Labels: new-version, cuda, update-package, e4s

#29847 cmake: improve `~/+ownlibs`
  var/spack/repos/builtin/packages/cmake/package.py
  var/spack/repos/builtin/packages/mono/package.py
Labels: dependencies, update-package, new-variant

#29894 [geant4] Remove unnecessary Boost default variants
  var/spack/repos/builtin/packages/geant4/package.py
Labels: update-package

#29793 Allow :pserver: prefixes in URLs
  lib/spack/spack/fetch_strategy.py
Labels: fetching, update-package, utilities

#29895 Add checksums for cuDNN 8.3.2, 8.3.3; fix URLs on ARM
  var/spack/repos/builtin/packages/cudnn/package.py
Labels: update-package

#29819 h5bench: update versions
  var/spack/repos/builtin/packages/h5bench/package.py
Labels: new-version, dependencies, update-package, e4s, new-variant

#29875 libproxy: add perl/python variants
  var/spack/repos/builtin/packages/libproxy/package.py
Labels: build-error, dependencies, update-package, new-variant

#29896 Add checksum for py-awkward@1.5.1 and fix rapidjson dependecy
  var/spack/repos/builtin/packages/py-awkward/package.py
Labels: new-version, python, dependencies, update-package

#29374 gdb: depend only on python, not python+debug
  var/spack/repos/builtin/packages/gdb/package.py
Labels: dependencies, update-package

#29681 Add hipblas dependency when rocm variant for pika package
  var/spack/repos/builtin/packages/pika/package.py
Labels: dependencies, update-package

#29891 claw: enable building with clang@11: and aocc@3:
  var/spack/repos/builtin/packages/claw/package.py
Labels: update-package

#29890 Make dd4hep boost deps explicit
  var/spack/repos/builtin/packages/dd4hep/package.py
Labels: dependencies, update-package

#29886 mpiFileUtils: Add missing dependency with attr.
  var/spack/repos/builtin/packages/mpifileutils/package.py
Labels: dependencies, update-package, e4s

#29883 WarpX: 22.04
  var/spack/repos/builtin/packages/py-warpx/package.py
  var/spack/repos/builtin/packages/warpx/package.py
Labels: new-version, python, update-package, ecp, e4s

#29842 scotch: use libesmumps instead of libptesmumps for +mpi+esmumps
  var/spack/repos/builtin/packages/scotch/package.py
Labels: update-package

#29874 Add checksum for gdrcopy 2.3
  var/spack/repos/builtin/packages/gdrcopy/package.py
Labels: new-version, update-package

#29868 xxhash: bump
  var/spack/repos/builtin/packages/xxhash/package.py
Labels: new-version, update-package

#29870 link_tree.py: format conflict error message
  lib/spack/llnl/util/link_tree.py
Labels: utilities

#29916 Add pika 0.3.0
  var/spack/repos/builtin/packages/pika/package.py
Labels: new-version, update-package

#29919 web.py: set User-Agent
  lib/spack/spack/util/web.py
Labels: fetching, utilities

#29573 mesa, mesa18: Package updates
  var/spack/repos/builtin/packages/mesa/package.py
  var/spack/repos/builtin/packages/mesa18/package.py
Labels: new-version, variants, update-package, ecp

#29897 Add checksum for py-fonttools@4.26.2
  var/spack/repos/builtin/packages/py-fonttools/package.py
Labels: new-version, python, dependencies, update-package

#29917 openmpi: inherit CudaPackage
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: update-package

#29927 python: add 3.10.4, 3.9.12, 3.9.11
  var/spack/repos/builtin/packages/python/package.py
Labels: new-version, python, update-package

#29920 autotools.py: pic flags for %nvhpc
  lib/spack/spack/build_systems/autotools.py
Labels: build-systems

#29825 gitlab ci: do not prune changed stacks
  lib/spack/spack/ci.py
Labels: gitlab

#29807 Ci tests refactor env usage
  lib/spack/spack/test/ci.py
  lib/spack/spack/test/cmd/ci.py
Labels: tests, commands, update-package, gitlab

#29752 Update petaca to latest version
  var/spack/repos/builtin/packages/petaca/package.py
Labels: new-version, update-package, new-variant

#29935 Add cxxopts version 3.0.0
  var/spack/repos/builtin/packages/cxxopts/package.py
Labels: new-version, update-package

#29932 libtool: 2.4.7
  var/spack/repos/builtin/packages/libtool/package.py
Labels: new-version, update-package

#29941 mpich: no longer a need for custom urls
  var/spack/repos/builtin/packages/mpich/package.py
Labels: update-package, e4s

#29921 Add checksum for rdma-core@39.1
  var/spack/repos/builtin/packages/rdma-core/package.py
Labels: new-version, update-package

#29946 openmpi: Fix OpenMPI external detection logic
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: update-package

#29944 Update ucx to 1.12.0; add variants
  var/spack/repos/builtin/packages/ucx/package.py
Labels: new-version, dependencies, update-package, conflicts, e4s, new-variant

#29934 Add dpcpp 2021.12
  var/spack/repos/builtin/packages/dpcpp/package.py
Labels: new-version, update-package, e4s

#29929 e4s ci: expand mac mini stack
  share/spack/gitlab/cloud_pipelines/stacks/e4s-mac/spack.yaml
Labels: e4s, gitlab

#29918 tinyxml2: Add checksum for 6.2.0
  var/spack/repos/builtin/packages/tinyxml2/package.py
Labels: new-version, update-package

#29912 Add checksum for log4cplus@2.0.7
  var/spack/repos/builtin/packages/log4cplus/package.py
Labels: new-version, update-package

#29745 Use the non-deprecated `MetaPathFinder` interface
  lib/spack/docs/conf.py
  lib/spack/llnl/util/lang.py
  lib/spack/spack/main.py
  lib/spack/spack/package.py
  lib/spack/spack/repo.py
  lib/spack/spack/test/repo.py
  lib/spack/spack/util/imp/__init__.py
  lib/spack/spack/util/imp/imp_importer.py
  lib/spack/spack/util/imp/importlib_importer.py
  share/spack/qa/run-unit-tests
Labels: documentation, refactoring, tests, python3, utilities

#29903 py-protobuf: Add version 3.20.0
  var/spack/repos/builtin/packages/py-protobuf/package.py
Labels: new-version, python, update-package

#29873 Add checksum for lwtnn@2.10
  var/spack/repos/builtin/packages/lwtnn/package.py
Labels: new-version, dependencies, update-package

#29902 Add missing required depends_on package references to survey
  var/spack/repos/builtin/packages/survey/package.py
Labels: dependencies, update-package

#29911 New package: millepede
  var/spack/repos/builtin/packages/millepede/package.py
Labels: new-version, new-package, dependencies, maintainers

#29832 New package: dwz
  var/spack/repos/builtin/packages/dwz/package.py
Labels: new-version, new-package, dependencies, maintainers

#29939 update metis: install more headers files
  var/spack/repos/builtin/packages/metis/package.py
Labels: update-package, maintainers, e4s

#29959 blis: add conflict with nvhpc/pgi
  var/spack/repos/builtin/packages/blis/package.py
Labels: update-package, conflicts

#29958 ucx: +cm dropped in 1.11
  var/spack/repos/builtin/packages/ucx/package.py
Labels: update-package, new-variant

#29867 zstd: improve %nvhpc conflict
  var/spack/repos/builtin/packages/zstd/package.py
Labels: update-package, conflicts, e4s

#29694 concretize.lp: enforce target compatibility through DAG
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/test/concretize.py
Labels: tests

#29966 Add patch for missing includes in pika 0.3.0
  var/spack/repos/builtin/packages/pika/package.py
  var/spack/repos/builtin/packages/pika/transform_mpi_includes.patch
Labels: patch, update-package

#29967 ucx: fix opt
  var/spack/repos/builtin/packages/ucx/package.py
Labels: update-package, new-variant

#28659 Deprecate top-level module config
  etc/spack/defaults/modules.yaml
  lib/spack/docs/config_yaml.rst
  lib/spack/docs/configuration.rst
  lib/spack/docs/module_file_support.rst
  lib/spack/spack/modules/common.py
  lib/spack/spack/schema/config.py
  lib/spack/spack/schema/modules.py
  lib/spack/spack/test/bootstrap.py
  lib/spack/spack/test/config.py
  lib/spack/spack/test/modules/lmod.py
  lib/spack/spack/test/modules/tcl.py
Labels: documentation, modules, defaults, tests, breaking-change

#29869 rapidjson: Add version 1.2.0-2022-03-09
  var/spack/repos/builtin/packages/rapidjson/package.py
Labels: new-version, update-package

#29753 trinity: Add version 2.14.0.FULL
  var/spack/repos/builtin/packages/trinity/package.py
Labels: new-version, update-package

#29948 Environments: unify the spec objects on first concretization
  lib/spack/spack/environment/environment.py
  lib/spack/spack/test/ci.py
  lib/spack/spack/test/cmd/ci.py
  lib/spack/spack/test/cmd/install.py
  var/spack/repos/builtin/packages/mpich/package.py
Labels: dependencies, tests, environments, update-package

#29880 netlib-scalapack: add 2.2.0
  var/spack/repos/builtin/packages/netlib-scalapack/package.py
Labels: new-version, patch, update-package

#29969 blis, amdblis: remove custom phases, add v0.9.0 for blis
  var/spack/repos/builtin/packages/amdblis/package.py
  var/spack/repos/builtin/packages/blis/package.py
Labels: new-version, update-package, new-variant

#29985 musl: remove custom phases, add v1.2.3
  var/spack/repos/builtin/packages/musl/package.py
Labels: new-version, update-package

#29785 py-pytorch-lightning: add v1.6.0
  var/spack/repos/builtin/packages/py-pytorch-lightning/package.py
  var/spack/repos/builtin/packages/py-typing-extensions/package.py
Labels: new-version, python, dependencies, update-package, maintainers

#29983 boost: remove versions 1.34.0:1.38.0
  var/spack/repos/builtin/packages/boost/package.py
Labels: update-package

#29999 gdrcopy: don't run ldconfig
  var/spack/repos/builtin/packages/gdrcopy/ldconfig.patch
  var/spack/repos/builtin/packages/gdrcopy/package.py
Labels: patch, update-package

#29998 Update PATH with path to root of WPS tools and utils
  var/spack/repos/builtin/packages/wps/package.py
Labels: update-package

#29997 macos: make fewer calls to sw_vers
  lib/spack/spack/operating_systems/mac_os.py
Labels: macOS, architecture

#29996 gmp,mpc,mpfr: libs=static,shared variant
  var/spack/repos/builtin/packages/gmp/package.py
  var/spack/repos/builtin/packages/mpc/package.py
  var/spack/repos/builtin/packages/mpfr/package.py
Labels: update-package, new-variant

#29989 vecmem: updated versions
  var/spack/repos/builtin/packages/vecmem/package.py
Labels: new-version, update-package

#29991 Dev/davix
  var/spack/repos/builtin/packages/davix/package.py
Labels: new-version, update-package

#29977 Fix scorpio build on apple
  var/spack/repos/builtin/packages/scorpio/package.py
Labels: update-package

#29975 fix chaco build on apple
  var/spack/repos/builtin/packages/chaco/package.py
Labels: update-package

#29971 openmpi: ucx >= 1.9.0 for 4.0.x, 4.1.x and 5.x
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: dependencies, update-package

#29385 cereal: add new versions
  var/spack/repos/builtin/packages/cereal/package.py
  var/spack/repos/builtin/packages/lbann/package.py
Labels: new-version, dependencies, patch, update-package, new-variant

#29931 Intel oneAPI compilers: set rpath for lib/ directory
  var/spack/repos/builtin/packages/intel-oneapi-compilers/package.py
Labels: intel, update-package, e4s

#29841 new package: heasoft
  var/spack/repos/builtin/packages/heasoft/heasoft-6.29_tcltk-configure.patch
  var/spack/repos/builtin/packages/heasoft/heasoft-6.29_xspec-12.12.0a.patch
  var/spack/repos/builtin/packages/heasoft/heasoft-6.29_xspec-12.12.0b.patch
  var/spack/repos/builtin/packages/heasoft/heasoft-6.29_xspec-12.12.0c.patch
  var/spack/repos/builtin/packages/heasoft/heasoft-6.29_xspec-12.12.0d.patch
  var/spack/repos/builtin/packages/heasoft/heasoft-6.29_xspec-12.12.0e.patch
  var/spack/repos/builtin/packages/heasoft/heasoft-6.29_xspec-12.12.0f.patch
  var/spack/repos/builtin/packages/heasoft/heasoft-6.29_xspec-12.12.0g.patch
  var/spack/repos/builtin/packages/heasoft/heasoft-6.29_xspec-12.12.0ver.patch
  var/spack/repos/builtin/packages/heasoft/heasoft-6.30_tcltk-configure.patch
  var/spack/repos/builtin/packages/heasoft/package.py
  var/spack/repos/builtin/packages/heasoft/setup.patch
Labels: new-version, new-package, dependencies, patch, conflicts, maintainers, new-variant, extends

#29747 py-pyupgrade: add new package
  var/spack/repos/builtin/packages/py-pyupgrade/package.py
  var/spack/repos/builtin/packages/py-tokenize-rt/package.py
Labels: new-version, new-package, python, dependencies

#29973 expat: Deprecate 2.4.6
  var/spack/repos/builtin/packages/expat/package.py
Labels: new-version, update-package

#29968 Remove custom phases in packages (1/n)
  var/spack/repos/builtin/packages/abi-dumper/package.py
  var/spack/repos/builtin/packages/apktool/package.py
  var/spack/repos/builtin/packages/aragorn/package.py
  var/spack/repos/builtin/packages/ascent/package.py
  var/spack/repos/builtin/packages/astral/package.py
  var/spack/repos/builtin/packages/bazel/package.py
  var/spack/repos/builtin/packages/bigdft-atlab/package.py
  var/spack/repos/builtin/packages/bigdft-chess/package.py
  var/spack/repos/builtin/packages/bigdft-core/package.py
  var/spack/repos/builtin/packages/bigdft-futile/package.py
  var/spack/repos/builtin/packages/bigdft-libabinit/package.py
  var/spack/repos/builtin/packages/bigdft-psolver/package.py
  var/spack/repos/builtin/packages/bigdft-spred/package.py
  var/spack/repos/builtin/packages/blasr-libcpp/package.py
  var/spack/repos/builtin/packages/blasr/package.py
  var/spack/repos/builtin/packages/bmake/package.py
  var/spack/repos/builtin/packages/botan/package.py
  var/spack/repos/builtin/packages/breakdancer/package.py
  var/spack/repos/builtin/packages/conduit/package.py
  var/spack/repos/builtin/packages/dnstracer/package.py
  var/spack/repos/builtin/packages/eclipse-gcj-parser/package.py
  var/spack/repos/builtin/packages/eem/package.py
  var/spack/repos/builtin/packages/fasttree/package.py
  var/spack/repos/builtin/packages/fleur/package.py
  var/spack/repos/builtin/packages/fpm/package.py
  var/spack/repos/builtin/packages/genie/package.py
  var/spack/repos/builtin/packages/gluegen/package.py
  var/spack/repos/builtin/packages/gnat/package.py
  var/spack/repos/builtin/packages/hpgmg/package.py
  var/spack/repos/builtin/packages/karma/package.py
  var/spack/repos/builtin/packages/libc/package.py
Labels: new-version, update-package, new-variant

#29986 nasm: remove custom phases
  var/spack/repos/builtin/packages/nasm/package.py
Labels: update-package

#28907 rocmlibs: cleanup amdgpu_target variant behaviour
  var/spack/repos/builtin/packages/hip/package.py
  var/spack/repos/builtin/packages/rccl/package.py
  var/spack/repos/builtin/packages/rocalution/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
  var/spack/repos/builtin/packages/rocprim/package.py
  var/spack/repos/builtin/packages/rocrand/package.py
  var/spack/repos/builtin/packages/rocsolver/package.py
  var/spack/repos/builtin/packages/rocsparse/package.py
Labels: dependencies, update-package, conflicts, new-variant

#30006 ROOT: allow c++20, default to c++14
  var/spack/repos/builtin/packages/root/package.py
Labels: update-package, conflicts

#30014 Fix typo in package wrf
  var/spack/repos/builtin/packages/wrf/package.py
Labels: update-package

#30012 mpich: add v4.0.2
  var/spack/repos/builtin/packages/mpich/package.py
Labels: new-version, update-package

#29898 cray platform: unload cray-mpich
  lib/spack/spack/build_environment.py
Labels: cray, build-environment, e4s

#28740 Update `gpg publish` to work with mirror arguments
  lib/spack/spack/cmd/gpg.py
  lib/spack/spack/test/cmd/gpg.py
Labels: tests, commands

#29972 bump py-statsmodels versions to 0.13.2 for gptune
  var/spack/repos/builtin/packages/gptune/package.py
  var/spack/repos/builtin/packages/py-patsy/package.py
  var/spack/repos/builtin/packages/py-statsmodels/package.py
Labels: new-version, python, dependencies, update-package

#30019 LBANN SW stack avoid cmake bug
  var/spack/repos/builtin/packages/aluminum/package.py
  var/spack/repos/builtin/packages/dihydrogen/package.py
  var/spack/repos/builtin/packages/hydrogen/package.py
  var/spack/repos/builtin/packages/lbann/package.py
Labels: update-package

#30020 curl: nss deprecated since 7.82
  var/spack/repos/builtin/packages/curl/package.py
Labels: update-package, conflicts, new-variant

#30026 Add missing Boost dependencies to `pika+generic_coroutines` variant
  var/spack/repos/builtin/packages/pika/package.py
Labels: dependencies, update-package

#29717 Defer access of .package (which instantiates repos) as long as possible
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/cmd/install.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/versions.py
  lib/spack/spack/version.py
  var/spack/repos/builtin.mock/packages/git-test-commit/package.py
Labels: WIP, fetching, tests, versions

#28605 Don't allow replacement of root develop specs with --reuse
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/test/concretize.py
Labels: tests

#30033 grib_util: add version 1.2.4
  var/spack/repos/builtin/packages/grib-util/package.py
Labels: new-version, update-package

#30010 New patch release SLEPc 3.17.1
  var/spack/repos/builtin/packages/py-slepc4py/package.py
  var/spack/repos/builtin/packages/slepc/package.py
Labels: new-version, python, update-package, e4s

#29914 hdf5: remove redundant dependency on numactl
  var/spack/repos/builtin/packages/hdf5/package.py
Labels: update-package

#30034 py-numpy: add v1.21.6
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: new-version, python, update-package

#29955 Apply llvm7_intel.patch with intel@19.1.3
  var/spack/repos/builtin/packages/llvm/package.py
Labels: patch, update-package

#30036 Reverting the changes present in 29017 as CFLAGS and CXXFLAGS which o…
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
Labels: update-package

#29848 libbsd: fixes for %nvhpc
  var/spack/repos/builtin/packages/libbsd/nvhpc.patch
  var/spack/repos/builtin/packages/libbsd/package.py
  var/spack/repos/builtin/packages/libmd/nvhpc-aliases.patch
  var/spack/repos/builtin/packages/libmd/package.py
Labels: new-version, dependencies, patch, update-package, conflicts

#30042 CI: avoid issues with Ubuntu patched git by adding safe.directory
  .github/workflows/bootstrap.yml
Labels: workflow

#29988 Several updates to the ArrayFire package
  var/spack/repos/builtin/packages/arrayfire/package.py
Labels: new-version, dependencies, update-package, conflicts, maintainers, new-variant

#29940 mumps: install header files as compiled
  var/spack/repos/builtin/packages/mumps/package.py
Labels: update-package, new-variant

#30032 Add checksums for xtensor 0.24.1 and xtl 0.7.4
  var/spack/repos/builtin/packages/xtensor/package.py
  var/spack/repos/builtin/packages/xtl/package.py
Labels: new-version, update-package

#30001 perl: fix mac patch
  var/spack/repos/builtin/packages/perl/macos-11-version-check.patch
  var/spack/repos/builtin/packages/perl/package.py
Labels: macOS, new-version, update-package, architecture

#29581 Add support for Python 3.10
  .github/workflows/bootstrap.yml
  .github/workflows/unit_tests.yaml
  etc/spack/defaults/bootstrap.yaml
  lib/spack/docs/getting_started.rst
  lib/spack/docs/tables/system_prerequisites.csv
  lib/spack/spack/test/llnl/util/lock.py
  share/spack/bootstrap/github-actions-v0.1/clingo.json
  share/spack/bootstrap/github-actions-v0.1/gnupg.json
  share/spack/bootstrap/github-actions-v0.2/clingo.json
  share/spack/bootstrap/github-actions-v0.2/gnupg.json
Labels: bootstrap

#29820 libceed - add v0.9 and 0.10.1
  var/spack/repos/builtin/packages/libceed/package.py
Labels: new-version, update-package, conflicts

#29791 [mochi-thallium] added new version of mochi-thallium
  var/spack/repos/builtin/packages/mochi-thallium/package.py
Labels: new-version, dependencies, update-package

#29666 distcc: add 3.3.5 for gcc@10
  var/spack/repos/builtin/packages/distcc/package.py
Labels: new-version, update-package
