Repository spack/spack, pull requests merged in 2022-10, with the labels that each got.

#32929 py-jsonschema: add 4.16.0 and new package py-hatch-fancy-pypi-readme
  var/spack/repos/builtin/packages/py-hatch-fancy-pypi-readme/package.py
  var/spack/repos/builtin/packages/py-jsonschema/package.py
Labels: new-version, new-package, python, dependencies, update-package

#32915 acfl: Add version 22.1
  var/spack/repos/builtin/packages/acfl/package.py
Labels: update-package, maintainers

#32905 Fixup errors introduced by Clingo Pr
  lib/spack/spack/bootstrap.py
  var/spack/repos/builtin/packages/re2c/package.py
Labels: dependencies, update-package, core

#32901 Set CMAKE_HIP_ARCHITECTURES with the value of amdgpu_target
  var/spack/repos/builtin/packages/pika/package.py
Labels: update-package

#32945 libtiff: default to +zlib+jpeg
  var/spack/repos/builtin/packages/libtiff/package.py
Labels: update-package, new-variant

#32920 simgrid new releases
  var/spack/repos/builtin/packages/simgrid/package.py
Labels: new-version, update-package

#32918 [rocksdb] Added rtti variant
  var/spack/repos/builtin/packages/rocksdb/package.py
Labels: update-package, new-variant

#32892 rvs binary path updated for 5.2 rocm release
  var/spack/repos/builtin/packages/rocm-validation-suite/package.py
Labels: update-package

#32957 Add checksum for py-pytest-runner 6.0.0
  var/spack/repos/builtin/packages/py-pytest-runner/package.py
Labels: new-version, python, dependencies, update-package

#32959 py-einops: add v0.5.0
  var/spack/repos/builtin/packages/py-einops/package.py
Labels: new-version, python, dependencies, update-package

#32951 Replace p2300 repo with the NVIDIA one
  var/spack/repos/builtin/packages/p2300/package.py
Labels: update-package

#32949 Add checksum for py-tomli 2.0.1
  var/spack/repos/builtin/packages/py-tomli/package.py
Labels: new-version, python, dependencies, update-package

#32931 QMCPACK: add @3.15.0
  var/spack/repos/builtin/packages/qmcpack/package.py
Labels: new-version, update-package, conflicts

#32930 aws-ofi-rccl: Tidied up configure arguments to use special spack autotools features.
  var/spack/repos/builtin/packages/aws-ofi-rccl/package.py
Labels: update-package, new-variant

#32928 casper: old domain fell off, adding github repo
  var/spack/repos/builtin/packages/casper/package.py
Labels: new-version, update-package

#32911 unifyfs: pin mercury version; add boost variant
  var/spack/repos/builtin/packages/unifyfs/package.py
Labels: dependencies, update-package, ecp, new-variant

#32665 FEniCSx: Updates for 0.5.1
  var/spack/repos/builtin/packages/fenics-basix/package.py
  var/spack/repos/builtin/packages/fenics-dolfinx/package.py
  var/spack/repos/builtin/packages/fenics-ufcx/package.py
  var/spack/repos/builtin/packages/py-fenics-basix/package.py
  var/spack/repos/builtin/packages/py-fenics-dolfinx/package.py
  var/spack/repos/builtin/packages/py-fenics-ffcx/package.py
  var/spack/repos/builtin/packages/py-fenics-ufl/package.py
Labels: new-version, python, dependencies, update-package, conflicts, maintainers, new-variant

#32643 Axom: bring in changes from axom repo
  var/spack/repos/builtin/packages/axom/package.py
Labels: new-version, dependencies, update-package, conflicts

#32952 Add checksum for py-pyparsing 3.0.9
  var/spack/repos/builtin/packages/py-pyparsing/package.py
Labels: new-version, python, dependencies, update-package

#32962 rdma-core: fix syntax for external discoverability
  var/spack/repos/builtin/packages/rdma-core/package.py
Labels: update-package

#32955 Add checksum for py-flatbuffers 2.0.7
  var/spack/repos/builtin/packages/py-flatbuffers/package.py
Labels: new-version, python, update-package

#32966 amrex: add v22.10
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package, e4s

#32950 Remove CMakePackage.define alias from most packages
  var/spack/repos/builtin/packages/amr-wind/package.py
  var/spack/repos/builtin/packages/frontistr/package.py
  var/spack/repos/builtin/packages/fujitsu-frontistr/package.py
  var/spack/repos/builtin/packages/itk/package.py
  var/spack/repos/builtin/packages/libproxy/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/llvm-doe/package.py
  var/spack/repos/builtin/packages/llvm/package.py
  var/spack/repos/builtin/packages/mt-metis/package.py
  var/spack/repos/builtin/packages/parmmg/package.py
  var/spack/repos/builtin/packages/phist/package.py
  var/spack/repos/builtin/packages/seacas/package.py
  var/spack/repos/builtin/packages/sundials/package.py
  var/spack/repos/builtin/packages/superlu-dist/package.py
  var/spack/repos/builtin/packages/trilinos/package.py
  var/spack/repos/builtin/packages/vite/package.py
Labels: update-package

#32953 Bug fix for `ca-certificates-mozilla/package.py` to enable `spack install --source`
  var/spack/repos/builtin/packages/ca-certificates-mozilla/package.py
Labels: update-package

#32558 superlu-dist: add 8.1.1, 8.1.0 and 8.0.0 versions
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: new-version, dependencies, xSDK, update-package, e4s

#32974 Add checksum for py-grpcio 1.48.1
  var/spack/repos/builtin/packages/py-grpcio/package.py
Labels: new-version, python, update-package

#32973 Add checksum for py-absl-py 1.2.0
  var/spack/repos/builtin/packages/py-absl-py/package.py
Labels: new-version, python, update-package

#32972 Add checksum for py-pysympy 1.11.1
  var/spack/repos/builtin/packages/py-sympy/package.py
Labels: new-version, python, dependencies, update-package

#32877 Add checksum for py-pip 22.2.2
  var/spack/repos/builtin/packages/py-pip/package.py
Labels: new-version, python, update-package

#32984 Package Settings: fix compiler spec
  lib/spack/docs/build_settings.rst
Labels: documentation, core

#32946 `find`/`list`: display package counts last
  lib/spack/spack/cmd/find.py
  lib/spack/spack/cmd/list.py
  lib/spack/spack/test/cmd/find.py
  lib/spack/spack/test/cmd/list.py
  lib/spack/spack/test/conftest.py
Labels: tests, commands, core

#32963 omega-h: add v9.34.13
  var/spack/repos/builtin/packages/omega-h/package.py
Labels: new-version, update-package, e4s

#32940 py-tensorflow-estimator: add v2.10
  var/spack/repos/builtin/packages/py-tensorflow-estimator/package.py
Labels: new-version, python, dependencies, update-package

#32941 py-tensorflow-probability: add v0.18.0
  var/spack/repos/builtin/packages/py-tensorflow-probability/package.py
Labels: new-version, python, dependencies, update-package

#32151 e4s: add vtk-m +rocm
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: e4s, gitlab, ROCm/hip, core

#32340 BuildEnvironment: accumulate module changes to poke to all relevant modules
  lib/spack/spack/build_environment.py
  lib/spack/spack/test/build_environment.py
  var/spack/repos/builtin.mock/packages/cmake-client-inheritor/package.py
Labels: build-environment, tests, core

#32995 nix: Fix #32994
  var/spack/repos/builtin/packages/nix/package.py
Labels: update-package, maintainers

#32996 pbbam: switching to meson, adding version 2.1.0
  var/spack/repos/builtin/packages/pbbam/package.py
Labels: new-version, update-package, conflicts, maintainers

#32986 flecsi: upcoming release will no longer need lanl-cmake-modules
  var/spack/repos/builtin/packages/flecsi/package.py
Labels: update-package

#32983 llvm: add 15.0.1, 15.0.2
  var/spack/repos/builtin/packages/llvm/package.py
Labels: new-version, update-package

#33002 Vecfortlib: Added a new version
  var/spack/repos/builtin/packages/veclibfort/package.py
Labels: new-version, update-package

#32914 armpl-gcc: Add version 22.1
  var/spack/repos/builtin/packages/armpl-gcc/package.py
Labels: update-package, conflicts

#33010 Add pika 0.9.0
  var/spack/repos/builtin/packages/pika/package.py
Labels: new-version, dependencies, update-package

#32997 py-torchmetrics: add v0.10.0
  var/spack/repos/builtin/packages/py-torchmetrics/package.py
Labels: new-version, python, dependencies, update-package

#32917 Add checksums for Rivet 3.1.7 and YODA 1.9.7 and fastjet 3.4.0
  var/spack/repos/builtin/packages/fastjet/package.py
  var/spack/repos/builtin/packages/rivet/package.py
  var/spack/repos/builtin/packages/yoda/package.py
Labels: new-version, dependencies, update-package

#32876 autotools: Filter libtools when building with dpcpp
  lib/spack/spack/build_systems/autotools.py
Labels: build-systems, core

#32874 Optimize concurrent misc_cache provider index rebuild
  lib/spack/spack/repo.py
Labels: core

#32906 Add aws-ofi-nccl library
  var/spack/repos/builtin/packages/aws-ofi-nccl/package.py
Labels: new-version, new-package, dependencies, maintainers, new-variant

#33008 Add checksum for py-rich 12.5.1
  var/spack/repos/builtin/packages/py-rich/package.py
Labels: new-version, python, dependencies, update-package

#33005 Add checksum for py-arrow 1.2.3
  var/spack/repos/builtin/packages/py-arrow/package.py
Labels: new-version, python, update-package

#32156 e4s: add omega-h +cuda
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: cuda, e4s, gitlab, core

#32988 e4s ci: enable caliper cpu
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: e4s, gitlab, core

#32992 e4s ci: add caliper +cuda
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: e4s, gitlab, core

#32939 py-torch-nvidia-apex: ~cuda does not build
  var/spack/repos/builtin/packages/py-torch-nvidia-apex/package.py
Labels: python, update-package, conflicts

#32989 e4s ci: add gotcha cpu
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: e4s, gitlab, core

#33026 wonton: Fix exported CMake config to not break host codes
  var/spack/repos/builtin/packages/wonton/fix-cmake-config-r3d.patch
  var/spack/repos/builtin/packages/wonton/fix-cmake-config.patch
  var/spack/repos/builtin/packages/wonton/package.py
Labels: patch, update-package

#32697 py-matplotlib: add v3.6.0, new backends
  var/spack/repos/builtin/packages/py-contourpy/package.py
  var/spack/repos/builtin/packages/py-matplotlib/package.py
Labels: new-version, new-package, python, dependencies, update-package, conflicts, new-variant

#32993 add version 4.2.1 of R
  var/spack/repos/builtin/packages/r/package.py
Labels: new-version, R, dependencies, update-package

#32999 canu: new version 2.2
  var/spack/repos/builtin/packages/canu/package.py
Labels: new-version, dependencies, update-package, conflicts

#33023 EOSPAC: support version 6.5.5
  var/spack/repos/builtin/packages/eospac/package.py
Labels: new-version, update-package

#33031 Package jsonnet: change sha256sum to sha256 for version hash
  var/spack/repos/builtin/packages/jsonnet/package.py
Labels: new-version, update-package

#33009 Add checksum for py-distlib 0.3.6
  var/spack/repos/builtin/packages/py-distlib/package.py
Labels: new-version, python, dependencies, update-package

#33012 Add checksum for py-threadpoolctl 3.1.0
  var/spack/repos/builtin/packages/py-threadpoolctl/package.py
Labels: new-version, python, dependencies, update-package

#33024 pfunit: Fix ~openmp for version 4
  var/spack/repos/builtin/packages/pfunit/package.py
Labels: update-package

#33035 salmon: new version 1.9.0
  var/spack/repos/builtin/packages/salmon/package.py
Labels: new-version, update-package, maintainers

#33007 python: don't accidentally link to system db libs
  var/spack/repos/builtin/packages/python/package.py
Labels: python, update-package

#30762 New package: py-pyassimp
  var/spack/repos/builtin/packages/py-pyassimp/package.py
Labels: new-version, new-package, python, dependencies

#33029 BLT: new release v0.5.2
  var/spack/repos/builtin/packages/blt/package.py
Labels: new-version, update-package

#33038 Automated deployment to update package flux-sched 2022-10-06
  var/spack/repos/builtin/packages/flux-sched/package.py
Labels: new-version, update-package

#33000 h5bench: update version
  var/spack/repos/builtin/packages/h5bench/package.py
Labels: new-version, dependencies, update-package, e4s, new-variant

#33034 dock: fix compilation with gcc10+, add dep
  var/spack/repos/builtin/packages/dock/package.py
Labels: dependencies, update-package, maintainers

#33039 Automated deployment to update package flux-core 2022-10-06
  var/spack/repos/builtin/packages/flux-core/package.py
Labels: new-version, update-package

#33018 Add checksum for py-hepdata-lib 0.10.1, py-hepdata-validator 0.3.3
  var/spack/repos/builtin/packages/py-hepdata-lib/package.py
  var/spack/repos/builtin/packages/py-hepdata-validator/package.py
Labels: new-version, python, dependencies, update-package

#33017 Add checksum for py-histoprint 2.4.0
  var/spack/repos/builtin/packages/py-histoprint/package.py
Labels: new-version, python, update-package

#32565 New package: py-scanpy
  var/spack/repos/builtin/packages/py-scanpy/package.py
Labels: new-version, new-package, python, dependencies

#32980 Add checksum for py-soupsieve 2.3.2.post1
  var/spack/repos/builtin/packages/py-soupsieve/package.py
Labels: new-version, python, dependencies, update-package

#32968 dd4hep: new version 1.23
  var/spack/repos/builtin/packages/dd4hep/package.py
Labels: new-version, update-package

#32978 Add checksum for py-autopep8 1.7.0, py-pycodestyle 2.9.1
  var/spack/repos/builtin/packages/py-autopep8/package.py
  var/spack/repos/builtin/packages/py-pycodestyle/package.py
Labels: new-version, python, dependencies, update-package

#32979 Add checksum for py-avro 1.11.1
  var/spack/repos/builtin/packages/py-avro/package.py
Labels: new-version, python, dependencies, update-package

#33003 Add checksum for py-markupsafe 2.1.1
  var/spack/repos/builtin/packages/py-markupsafe/package.py
Labels: new-version, python, dependencies, update-package

#33004 docs: fix deprecated use of install_tree
  lib/spack/docs/config_yaml.rst
Labels: documentation, core

#33049 Update the SHA for 5.2.1 release for mlirmiopen recipe.
  var/spack/repos/builtin/packages/mlirmiopen/package.py
Labels: new-version, update-package

#32990 e4s ci: add charliecloud
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: e4s, gitlab, core

#32814 py-docutils: add 0.19
  var/spack/repos/builtin/packages/py-docutils/package.py
Labels: new-version, python, dependencies, update-package

#33044 gmake: add 4.3.90 alpha release
  var/spack/repos/builtin/packages/gmake/package.py
Labels: new-version, update-package, maintainers

#32842 ncl: enable building with recent versions of hdf5
  var/spack/repos/builtin/packages/ncl/package.py
  var/spack/repos/builtin/packages/ncl/set_spack_config.patch
  var/spack/repos/builtin/packages/ncl/spack_ncl.patch
Labels: dependencies, patch, update-package

#32828 geant4-vmc: unset MACOSX_DEPLOYMENT_TARGET
  var/spack/repos/builtin/packages/geant4-vmc/package.py
Labels: update-package

#33051 Update py stack data
  var/spack/repos/builtin/packages/py-stack-data/package.py
Labels: new-version, python, update-package

#33048 Add checksum for py-zipp@3.8.1
  var/spack/repos/builtin/packages/py-zipp/package.py
Labels: new-version, python, dependencies, update-package

#33046 Add checksum for py-tqdm 4.64.1
  var/spack/repos/builtin/packages/py-tqdm/package.py
Labels: new-version, python, update-package

#33043 Add checksum for py-uhi 0.3.1
  var/spack/repos/builtin/packages/py-uhi/package.py
Labels: new-version, python, dependencies, update-package

#32853 tcl module template: automatically unload automatically loaded modules
  lib/spack/spack/test/modules/tcl.py
  share/spack/templates/modules/modulefile.tcl
Labels: tests, core

#33061 ncbi-toolkit: adding version 26_0_1
  var/spack/repos/builtin/packages/ncbi-toolkit/package.py
Labels: new-version, dependencies, update-package

#33052 Add a warning on Python 2.7 deprecation
  lib/spack/spack/main.py
  lib/spack/spack/test/cmd/commands.py
Labels: tests, commands, core

#32965 phist: add patch to resolve build issue #32111 with +fortran %oneapi
  var/spack/repos/builtin/packages/phist/fortran-fixes-pre-1.11.patch
  var/spack/repos/builtin/packages/phist/package.py
Labels: patch, update-package, e4s

#33060 cppgsl: add version 4.0.0
  var/spack/repos/builtin/packages/cppgsl/package.py
Labels: new-version, update-package

#33072 oommf: update oommf package to version 2.0b0
  var/spack/repos/builtin/packages/oommf/package.py
Labels: new-version, update-package

#33068 add compatibility for rocky8 and rhel8
  lib/spack/spack/solver/os_compatibility.lp
Labels: core

#33065 geant3: new package
  var/spack/repos/builtin/packages/geant3/package.py
Labels: new-version, new-package, dependencies, new-variant

#33062 Add checksum for py-tornado 6.2, py-pyzmq 24.0.1, …
  var/spack/repos/builtin/packages/py-jupyter-client/package.py
  var/spack/repos/builtin/packages/py-pyzmq/package.py
  var/spack/repos/builtin/packages/py-tornado/package.py
Labels: new-version, python, dependencies, update-package

#33033 trilinos and xyce: fix fortran library handling
  var/spack/repos/builtin/packages/trilinos/package.py
  var/spack/repos/builtin/packages/xyce/package.py
Labels: dependencies, update-package, conflicts, new-variant

#33099 Rename p2300 to stdexec
  var/spack/repos/builtin/packages/pika/package.py
  var/spack/repos/builtin/packages/stdexec/package.py
Labels: dependencies, update-package

#33075 e4s ci: add quantum-espresso
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: e4s, gitlab, core

#33077 py-black: add v22.10.0
  var/spack/repos/builtin/packages/py-black/package.py
Labels: new-version, python, dependencies, update-package, new-variant

#33087 Add checksum for py-jsonpickle 2.2.0
  var/spack/repos/builtin/packages/py-jsonpickle/package.py
Labels: new-version, python, update-package

#33088 Add checksum for py-jupyter-console 6.4.4
  var/spack/repos/builtin/packages/py-jupyter-console/package.py
Labels: new-version, python, dependencies, update-package

#33096 Add checksum for py-llvmlite 0.38.1
  var/spack/repos/builtin/packages/py-llvmlite/package.py
Labels: new-version, python, update-package

#33097 Add checksum for py-lz4 4.0.2
  var/spack/repos/builtin/packages/py-lz4/package.py
Labels: new-version, python, dependencies, update-package

#33100 Add checksum for py-more-itertools 8.14.0
  var/spack/repos/builtin/packages/py-more-itertools/package.py
Labels: new-version, python, dependencies, update-package

#33101 Add checksum for py-mplhep 0.3.26
  var/spack/repos/builtin/packages/py-mplhep/package.py
Labels: new-version, python, dependencies, update-package

#33102 Add checksum for py-networkx 2.8.6, py-pygraphviz 1.10
  var/spack/repos/builtin/packages/py-networkx/package.py
  var/spack/repos/builtin/packages/py-pygraphviz/package.py
Labels: new-version, python, dependencies, update-package, new-variant

#33106 Add checksum for py-python-ldap 3.4.2
  var/spack/repos/builtin/packages/py-python-ldap/package.py
Labels: new-version, python, dependencies, update-package

#33105 Add checksum for py-pathlib2 2.3.7.poast1
  var/spack/repos/builtin/packages/py-pathlib2/package.py
Labels: new-version, python, dependencies, update-package

#33082 pythia6: set CMAKE_MACOSX_RPATH=True to build on macos
  var/spack/repos/builtin/packages/pythia6/package.py
Labels: update-package

#33098 Add checksum for py-markdown 3.4.1
  var/spack/repos/builtin/packages/py-markdown/package.py
Labels: new-version, python, dependencies, update-package

#33094 Add checksum for py-pkginfo 1.8.3
  var/spack/repos/builtin/packages/py-pkginfo/package.py
Labels: new-version, python, dependencies, update-package

#33104 Add checksum for py-onnxmltools 1.11.0
  var/spack/repos/builtin/packages/py-onnx-runtime/libiconv-1.10.patch
  var/spack/repos/builtin/packages/py-onnx-runtime/package.py
  var/spack/repos/builtin/packages/py-onnxmltools/package.py
Labels: new-version, python, dependencies, patch, update-package

#33120 fixed and added mrnet versions
  var/spack/repos/builtin/packages/mrnet/package.py
Labels: new-version, update-package

#32566 New package: py-pathml
  var/spack/repos/builtin/packages/py-pathml/package.py
Labels: new-version, new-package, python, dependencies

#33107 [brotli] added version 1.0.9
  var/spack/repos/builtin/packages/brotli/package.py
Labels: new-version, update-package

#33114 e4s ci: add h5bench
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: e4s, gitlab, core

#33113 e4s ci: add variorum
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: e4s, gitlab, core

#33083 Add checksum for py-nbclient 0.6.7
  var/spack/repos/builtin/packages/py-nbclient/package.py
Labels: new-version, python, update-package

#30768 autotools: extend patching of the libtool script
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/build_systems/autotools.py
  lib/spack/spack/test/data/filter_file/start_stop.txt
  lib/spack/spack/test/llnl/util/filesystem.py
Labels: tests, utilities, build-systems, gitlab, core

#33086 Add checksum for py-jupyter-core 4.11.1
  var/spack/repos/builtin/packages/py-jupyter-core/package.py
Labels: new-version, python, dependencies, update-package

#33123 e4s ci: remove outdated comments
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: gitlab, core

#33081 Add checksum for py-jupyterlab-pygments 0.2.2
  var/spack/repos/builtin/packages/py-jupyterlab-pygments/package.py
Labels: new-version, python, dependencies, update-package

#32913 py-blis: fix environment settings
  var/spack/repos/builtin/packages/py-blis/package.py
Labels: python, update-package

#33115 New package: py-qudida
  var/spack/repos/builtin/packages/py-qudida/package.py
Labels: new-version, new-package, python, dependencies

#32936 new packages (py-metaphlan, py-hclust2, iqtree2) + updates to others (py-dendropy, py-phylophlan, py-pkgconfig)
  var/spack/repos/builtin/packages/iqtree2/package.py
  var/spack/repos/builtin/packages/py-dendropy/package.py
  var/spack/repos/builtin/packages/py-hclust2/package.py
  var/spack/repos/builtin/packages/py-metaphlan/package.py
  var/spack/repos/builtin/packages/py-phylophlan/package.py
  var/spack/repos/builtin/packages/py-pkgconfig/package.py
Labels: new-version, new-package, python, dependencies, update-package, conflicts, maintainers, new-variant, core

#33085 Add checksum for py-terminado 0.15.0
  var/spack/repos/builtin/packages/py-terminado/package.py
Labels: new-version, python, dependencies, update-package

#32954 Add checksum for py-scikit-build 0.15.0 and use sources from pypi
  var/spack/repos/builtin/packages/py-scikit-build/package.py
Labels: new-version, python, dependencies, update-package

#32971 Add checksum for py-pybind11 2.10.0
  var/spack/repos/builtin/packages/py-pybind11/package.py
Labels: new-version, python, dependencies, update-package

#33076 py-cupy: 11.2
  var/spack/repos/builtin/packages/py-cupy/package.py
Labels: new-version, python, dependencies, update-package

#32793 py-cdo: add version 1.5.6, deprecate 1.3.2
  var/spack/repos/builtin/packages/py-cdo/package.py
Labels: new-version, python, dependencies, update-package, maintainers

#32807 py-eccodes: fix environment variables
  var/spack/repos/builtin/packages/py-eccodes/package.py
Labels: python, update-package

#33089 Add checksum for py-law 0.1.7
  var/spack/repos/builtin/packages/py-law/package.py
Labels: new-version, python, update-package

#33092 Add checksum for py-python-daemon 2.3.1
  var/spack/repos/builtin/packages/py-python-daemon/package.py
Labels: new-version, python, update-package

#33091 Add checksum for py-hep-ml 0.7.1
  var/spack/repos/builtin/packages/py-hep-ml/package.py
Labels: new-version, python, update-package

#33093 Add checksum for py-br 5.10.0
  var/spack/repos/builtin/packages/py-pbr/package.py
Labels: new-version, python, update-package

#32981 Add checksum for py-pycparser 2.21
  var/spack/repos/builtin/packages/py-pycparser/package.py
Labels: new-version, python, update-package

#33080 Add checksum for py-nest-asyncio 1.5.5
  var/spack/repos/builtin/packages/py-nest-asyncio/package.py
Labels: new-version, python, update-package

#31592 Add CI stack for ML packages
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/stacks/ml-cpu/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/ml-cuda/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/ml-rocm/spack.yaml
Labels: new-version, update-package, gitlab, core

#33135 fixbug-ctags-5.8: general.h: missing binary operator before token "("
  var/spack/repos/builtin/packages/exuberant-ctags/ctags-5.8-gcc-unused-attribute.patch
  var/spack/repos/builtin/packages/exuberant-ctags/package.py
Labels: patch, update-package

#33095 Add checksum for py-lizard 1.17.10
  var/spack/repos/builtin/packages/py-lizard/package.py
Labels: new-version, python, update-package

#33079 Proper terminal width with prompt decorator
  lib/spack/llnl/util/tty/color.py
  lib/spack/spack/environment/shell.py
Labels: new-version, python, dependencies, environments, update-package, conflicts, utilities, new-variant, core

#33090 Add checksum for py-luigi 3.1.1
  var/spack/repos/builtin/packages/py-luigi/package.py
Labels: new-version, python, update-package

#33056 podio, edm4hep: Add latest versions
  var/spack/repos/builtin/packages/edm4hep/package.py
  var/spack/repos/builtin/packages/podio/package.py
Labels: new-version, update-package

#33126 py-matplotlib: add v3.6.1
  var/spack/repos/builtin/packages/py-matplotlib/package.py
Labels: new-version, python, update-package

#33030 libfabric: add version 1.16.0
  var/spack/repos/builtin/packages/libfabric/package.py
Labels: new-version, update-package
