Repository spack/spack, pull requests merged in 2022-12, with the labels that each got.

#33939 conditional variant values: allow boolean
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/concretize.py
  var/spack/repos/builtin.mock/packages/conditional-values-in-variant/package.py
Labels: tests, new-variant, core

#34179 gnuplot: make readline optional
  var/spack/repos/builtin/packages/gnuplot/package.py
Labels: dependencies, update-package, new-variant

#34149 Add py-python-lsp-server and dependencies
  var/spack/repos/builtin/packages/py-docstring-to-markdown/package.py
  var/spack/repos/builtin/packages/py-python-lsp-jsonrpc/package.py
  var/spack/repos/builtin/packages/py-python-lsp-server/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#34172 acfl: add post-installation check by running examples
  var/spack/repos/builtin/packages/acfl/package.py
Labels: update-package

#33941 Herwig3: make njet, vbfnlo dependencies optional...
  var/spack/repos/builtin/packages/herwig3/package.py
Labels: dependencies, update-package, new-variant

#32849 py-flask: add 2.2.2 and fix dependencies for py-werkzeug and py-markupsafe
  var/spack/repos/builtin/packages/py-flask/package.py
  var/spack/repos/builtin/packages/py-markupsafe/package.py
  var/spack/repos/builtin/packages/py-werkzeug/package.py
Labels: new-version, python, dependencies, update-package

#34260 Add checksum for py-hatchling 1.8.1
  var/spack/repos/builtin/packages/py-hatchling/package.py
Labels: new-version, python, update-package

#34262 py-keyrings-alt: add 4.2.0
  var/spack/repos/builtin/packages/py-keyrings-alt/package.py
Labels: new-version, python, dependencies, update-package

#31202 concretizer: use only `attr()` for Spec attributes
  lib/spack/spack/cmd/diff.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/solver/display.lp
Labels: dependencies, commands, core

#34274 Docs: Minor change 'several'->'over a dozen'
  lib/spack/docs/configuration.rst
Labels: documentation, core

#34243 feat(Hermes): update version to 0.9.0-beta.
  var/spack/repos/builtin/packages/hermes/package.py
Labels: update-package

#34267 py-neurokit2: add 0.2.2
  var/spack/repos/builtin/packages/py-neurokit2/package.py
Labels: new-version, python, dependencies, update-package

#34244 ROOT: add math/gsl conflict and change version-dependent features to conditional variants
  var/spack/repos/builtin/packages/root/package.py
Labels: update-package, conflicts, new-variant

#34282 patch command: add concretizer args
  lib/spack/spack/cmd/patch.py
  share/spack/spack-completion.bash
Labels: commands, core

#34284 py-nilearn: fix version specification of dependency
  var/spack/repos/builtin/packages/py-nilearn/package.py
Labels: python, dependencies, update-package

#33876 py-alphafold: update to 2.2.4, update dependencies
  share/spack/gitlab/cloud_pipelines/stacks/ml-cpu/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/ml-cuda/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/ml-rocm/spack.yaml
  var/spack/repos/builtin/packages/openmm/package.py
  var/spack/repos/builtin/packages/py-alphafold/package.py
  var/spack/repos/builtin/packages/py-dm-haiku/package.py
  var/spack/repos/builtin/packages/py-etils/package.py
  var/spack/repos/builtin/packages/py-jax/package.py
  var/spack/repos/builtin/packages/py-jaxlib/package.py
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: new-version, new-package, python, dependencies, update-package, gitlab, new-variant, core

#34228 libvips: adding version 8.13.3
  var/spack/repos/builtin/packages/libvips/package.py
Labels: new-version, update-package

#34271 add mochi-margo 0.11.1 point release
  var/spack/repos/builtin/packages/mochi-margo/package.py
Labels: new-version, update-package

#34240 vecgeom: add new 1.2.1 version
  var/spack/repos/builtin/packages/vecgeom/package.py
Labels: new-version, update-package, conflicts

#34249 doxygen: add build-tools tag
  var/spack/repos/builtin/packages/doxygen/package.py
Labels: update-package, maintainers

#34270 aws-parallelcluster: Add v2.11.9
  var/spack/repos/builtin/packages/aws-parallelcluster/package.py
Labels: new-version, update-package

#34175 Use correct method for selecting compiler names.
  var/spack/repos/builtin/packages/tau/package.py
Labels: update-package

#34279 py-tensorflow: patch for cuBLAS error
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: python, patch, update-package

#34220 py-torchmetrics: add v0.11.0
  var/spack/repos/builtin/packages/py-torchmetrics/package.py
Labels: new-version, python, dependencies, update-package

#34305 typing: move from comment type hints to Python 3.6 hints
  lib/spack/spack/bootstrap.py
  lib/spack/spack/build_environment.py
  lib/spack/spack/build_systems/autotools.py
  lib/spack/spack/build_systems/cached_cmake.py
  lib/spack/spack/build_systems/cmake.py
  lib/spack/spack/build_systems/generic.py
  lib/spack/spack/build_systems/gnu.py
  lib/spack/spack/build_systems/makefile.py
  lib/spack/spack/build_systems/meson.py
  lib/spack/spack/build_systems/nmake.py
  lib/spack/spack/build_systems/python.py
  lib/spack/spack/build_systems/r.py
  lib/spack/spack/build_systems/racket.py
  lib/spack/spack/build_systems/sourceforge.py
  lib/spack/spack/build_systems/sourceware.py
  lib/spack/spack/build_systems/xorg.py
  lib/spack/spack/builder.py
  lib/spack/spack/cmd/__init__.py
  lib/spack/spack/cmd/module.py
  lib/spack/spack/compiler.py
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/compilers/msvc.py
  lib/spack/spack/compilers/nag.py
  lib/spack/spack/database.py
  lib/spack/spack/directives.py
  lib/spack/spack/modules/common.py
  lib/spack/spack/modules/lmod.py
  lib/spack/spack/modules/tcl.py
  lib/spack/spack/package_base.py
  lib/spack/spack/platforms/_platform.py
  lib/spack/spack/repo.py
  lib/spack/spack/stage.py
  lib/spack/spack/tengine.py
  lib/spack/spack/test/llnl/util/tty/log.py
  lib/spack/spack/util/crypto.py
  lib/spack/spack/util/spack_json.py
  lib/spack/spack/util/spack_yaml.py
  lib/spack/spack/util/timer.py
  lib/spack/spack/version.py
Labels: compilers, modules, build-environment, tests, commands, versions, directives, utilities, maintainers, stage, build-systems, core, architecture, typing

#34295 py-mne: add 1.2.2, 1.2.3 and dependency packages
  var/spack/repos/builtin/packages/py-h5io/package.py
  var/spack/repos/builtin/packages/py-mne/package.py
  var/spack/repos/builtin/packages/py-pymatreader/package.py
Labels: new-version, new-package, python, dependencies, update-package, new-variant

#34307 web: remove checks for SSL verification support
  lib/spack/spack/util/web.py
Labels: fetching, utilities, core

#34283 py-torch: fix patching on ppc64le
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: python, patch, update-package

#34189 mmseqs2: new package
  var/spack/repos/builtin/packages/mmseqs2/package.py
Labels: new-version, new-package, dependencies, conflicts, new-variant

#34278 wannier90: gfortran-10 support and libs property
  var/spack/repos/builtin/packages/wannier90/package.py
Labels: update-package, libraries

#34293 freeglut: add dependency on libxxf86vm
  var/spack/repos/builtin/packages/freeglut/package.py
Labels: dependencies, update-package

#34291 gurobi: add new versions
  var/spack/repos/builtin/packages/gurobi/package.py
Labels: new-version, update-package

#34287 Add new package Thermo4PFM
  var/spack/repos/builtin/packages/thermo4pfm/package.py
Labels: new-version, new-package, dependencies, maintainers

#34318 py-llvmlite: add 0.39.1
  var/spack/repos/builtin/packages/py-llvmlite/package.py
Labels: new-version, python, update-package

#34308 vermin: remove all novm comments from code
  lib/spack/spack/build_systems/autotools.py
  lib/spack/spack/build_systems/makefile.py
  lib/spack/spack/build_systems/meson.py
  lib/spack/spack/build_systems/nmake.py
  lib/spack/spack/cmd/module.py
  lib/spack/spack/compiler.py
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/compilers/msvc.py
  lib/spack/spack/compilers/nag.py
  lib/spack/spack/config.py
  lib/spack/spack/database.py
  lib/spack/spack/directives.py
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/modules/common.py
  lib/spack/spack/modules/lmod.py
  lib/spack/spack/modules/tcl.py
  lib/spack/spack/package_base.py
  lib/spack/spack/repo.py
  lib/spack/spack/stage.py
  lib/spack/spack/tengine.py
  lib/spack/spack/test/schema.py
  lib/spack/spack/util/spack_json.py
  lib/spack/spack/util/spack_yaml.py
Labels: compilers, modules, fetching, tests, commands, directives, utilities, stage, build-systems, core

#34320 py-nbclassic: add 0.4.8 and new package py-notebook-shim
  var/spack/repos/builtin/packages/py-nbclassic/package.py
  var/spack/repos/builtin/packages/py-notebook-shim/package.py
Labels: new-version, new-package, python, dependencies, update-package

#33911 Add the very first version of cernlib package
  var/spack/repos/builtin/packages/cernlib/package.py
Labels: new-version, new-package, dependencies, maintainers

#34317 clingo: add version 5.6.2
  var/spack/repos/builtin/packages/clingo/package.py
Labels: new-version, update-package

#34112 Add packages related to the LWA software stack
  var/spack/repos/builtin/packages/epsic/package.py
  var/spack/repos/builtin/packages/psrcat/package.py
  var/spack/repos/builtin/packages/psrchive/package.py
  var/spack/repos/builtin/packages/tempo/package.py
Labels: new-version, new-package, dependencies, new-variant

#34330 feat(Hermes)!: add yaml-cpp dependency
  var/spack/repos/builtin/packages/hermes/package.py
Labels: dependencies, update-package

#32522 LAMMPS: Add new versions
  var/spack/repos/builtin/packages/lammps/package.py
Labels: new-version, update-package, maintainers

#34268 Added plumed version 2.8.1 including gromacs compatibility
  var/spack/repos/builtin/packages/gromacs/package.py
  var/spack/repos/builtin/packages/plumed/package.py
Labels: new-version, dependencies, update-package

#34264 Drop support for older rocm releases - 4.5.0 till 5.0.2
  var/spack/repos/builtin/packages/atmi/package.py
  var/spack/repos/builtin/packages/comgr/package.py
  var/spack/repos/builtin/packages/hip-rocclr/package.py
  var/spack/repos/builtin/packages/hip/package.py
  var/spack/repos/builtin/packages/hipblas/package.py
  var/spack/repos/builtin/packages/hipcub/package.py
  var/spack/repos/builtin/packages/hipfft/package.py
  var/spack/repos/builtin/packages/hipfort/package.py
  var/spack/repos/builtin/packages/hipify-clang/package.py
  var/spack/repos/builtin/packages/hipsolver/package.py
  var/spack/repos/builtin/packages/hipsparse/package.py
  var/spack/repos/builtin/packages/hsa-rocr-dev/package.py
  var/spack/repos/builtin/packages/hsakmt-roct/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/migraphx/package.py
  var/spack/repos/builtin/packages/miopen-hip/package.py
  var/spack/repos/builtin/packages/miopen-opencl/package.py
  var/spack/repos/builtin/packages/miopen-tensile/package.py
  var/spack/repos/builtin/packages/miopengemm/package.py
  var/spack/repos/builtin/packages/mivisionx/package.py
  var/spack/repos/builtin/packages/rccl/package.py
  var/spack/repos/builtin/packages/rdc/package.py
  var/spack/repos/builtin/packages/rocalution/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
  var/spack/repos/builtin/packages/rocm-bandwidth-test/package.py
  var/spack/repos/builtin/packages/rocm-clang-ocl/package.py
  var/spack/repos/builtin/packages/rocm-cmake/package.py
  var/spack/repos/builtin/packages/rocm-dbgapi/package.py
  var/spack/repos/builtin/packages/rocm-debug-agent/package.py
  var/spack/repos/builtin/packages/rocm-device-libs/package.py
  var/spack/repos/builtin/packages/rocm-gdb/package.py
  var/spack/repos/builtin/packages/rocm-opencl/package.py
  var/spack/repos/builtin/packages/rocm-openmp-extras/package.py
  var/spack/repos/builtin/packages/rocm-smi-lib/package.py
  var/spack/repos/builtin/packages/rocm-tensile/package.py
  var/spack/repos/builtin/packages/rocm-validation-suite/package.py
  var/spack/repos/builtin/packages/rocminfo/package.py
  var/spack/repos/builtin/packages/rocprim/package.py
  var/spack/repos/builtin/packages/rocprofiler-dev/package.py
  var/spack/repos/builtin/packages/rocrand/package.py
  var/spack/repos/builtin/packages/rocsolver/package.py
  var/spack/repos/builtin/packages/rocsparse/package.py
  var/spack/repos/builtin/packages/rocthrust/package.py
  var/spack/repos/builtin/packages/roctracer-dev-api/package.py
  var/spack/repos/builtin/packages/roctracer-dev/package.py
Labels: new-version, update-package

#34315 py-num2words: add 0.5.12
  var/spack/repos/builtin/packages/py-num2words/package.py
Labels: new-version, python, update-package

#34314 py-nodeenv: add 1.7.0
  var/spack/repos/builtin/packages/py-nodeenv/package.py
Labels: new-version, python, dependencies, update-package

#34230 redis: newer version and added TLS support
  var/spack/repos/builtin/packages/redis/package.py
Labels: new-version, dependencies, update-package, conflicts, maintainers, new-variant

#34231 cray-mpich package: enable use of manifest description
  var/spack/repos/builtin/packages/cray-mpich/package.py
Labels: dependencies, update-package

#33832 jellyfish: add variants for python and ruby bindings
  var/spack/repos/builtin/packages/jellyfish/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant, extends

#34333 pharokka and py-phanotate: new packages
  var/spack/repos/builtin/packages/pharokka/package.py
  var/spack/repos/builtin/packages/py-phanotate/package.py
Labels: new-version, new-package, python, dependencies

#34250 SWIG: new versions 4.1.x
  var/spack/repos/builtin/packages/sensei/package.py
  var/spack/repos/builtin/packages/swig/package.py
Labels: new-version, dependencies, patch, update-package

#34125 berkeleygw: add back python dependencies and tweak testsuite
  var/spack/repos/builtin/packages/berkeleygw/package.py
Labels: dependencies, update-package, new-variant

#34292 graphite2: add dependency on freetype
  var/spack/repos/builtin/packages/graphite2/package.py
Labels: dependencies, update-package

#34344 Update Azure-related packages
  var/spack/repos/builtin/packages/py-jsmin/package.py
  var/spack/repos/builtin/packages/py-msal/package.py
Labels: new-version, python, dependencies, update-package

#34029 Bootstrap most of Spack dependencies using environments
  .github/workflows/unit_tests.yaml
  lib/spack/spack/bootstrap.py
  lib/spack/spack/bootstrap/__init__.py
  lib/spack/spack/bootstrap/_common.py
  lib/spack/spack/bootstrap/config.py
  lib/spack/spack/bootstrap/core.py
  lib/spack/spack/bootstrap/environment.py
  lib/spack/spack/bootstrap/status.py
  lib/spack/spack/cmd/bootstrap.py
  lib/spack/spack/cmd/style.py
  lib/spack/spack/cmd/unit_test.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/relocate.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/store.py
  lib/spack/spack/test/bootstrap.py
  lib/spack/spack/test/cc.py
  lib/spack/spack/test/cmd/bootstrap.py
  lib/spack/spack/util/gpg.py
  share/spack/spack-completion.bash
  share/spack/templates/bootstrap/spack.yaml
  var/spack/repos/builtin/packages/py-black/package.py
  var/spack/repos/builtin/packages/py-dataclasses/package.py
  var/spack/repos/builtin/packages/py-platformdirs/package.py
  var/spack/repos/builtin/packages/py-typed-ast/package.py
  var/spack/repos/builtin/packages/python/package.py
Labels: new-version, new-package, python, dependencies, tests, commands, environments, update-package, utilities, workflow, new-variant, core

#34137 pip/wheel/setuptools: extend PythonExtension
  var/spack/repos/builtin/packages/py-pip/package.py
  var/spack/repos/builtin/packages/py-setuptools/package.py
  var/spack/repos/builtin/packages/py-wheel/package.py
Labels: python, tests, commands, update-package, maintainers, core

#34347 remove legcay yaml from buildcache fetch
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/test/bindist.py
Labels: tests, binary-packages, core

#34321 Avoid stat call in `llnl.util.symlink` on non-windows
  lib/spack/llnl/util/symlink.py
Labels: utilities, core

#34339 trilinos: +teko conflicts with ~ml
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: update-package, conflicts, e4s

#34340 mercurial/py-pybind11: print_string no longer exists
  var/spack/repos/builtin/packages/mercurial/package.py
  var/spack/repos/builtin/packages/py-pybind11/package.py
Labels: python, update-package

#34348 py-nbclient: add 0.7.2 and py-jupyter-core: add 5.1.0
  var/spack/repos/builtin/packages/py-jupyter-core/package.py
  var/spack/repos/builtin/packages/py-nbclient/package.py
Labels: new-version, python, dependencies, update-package

#34346 htop: adding version 3.2.1
  var/spack/repos/builtin/packages/htop/package.py
Labels: new-version, update-package

#34355 Add back depends_on directives needed to bootstrap on Python 3.6
  var/spack/repos/builtin/packages/py-pip/package.py
  var/spack/repos/builtin/packages/py-setuptools/package.py
  var/spack/repos/builtin/packages/py-wheel/package.py
Labels: python, dependencies, update-package, maintainers, build-systems, core

#34138 Fix dependency specification for CuSolver variant in HiOp.
  var/spack/repos/builtin/packages/hiop/package.py
Labels: dependencies, update-package, conflicts, new-variant

#34218 compiler flags: fix mixed flags from cli and yaml
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/concretize.py
Labels: tests, core

#33503 likwid: add a permission fixing script à la singularity
  var/spack/repos/builtin/packages/likwid/package.py
  var/spack/repos/builtin/packages/likwid/spack_perms_fix.sh.j2
Labels: update-package, new-variant

#34114 bcache: support external gettext when `libintl` is in glibc
  var/spack/repos/builtin/packages/bcache/package.py
Labels: update-package

#34364 Paraview catalyst updates
  var/spack/repos/builtin/packages/libcatalyst/package.py
  var/spack/repos/builtin/packages/paraview/package.py
Labels: new-version, dependencies, patch, update-package

#34329 Fix Apptainer
  var/spack/repos/builtin/packages/apptainer/package.py
Labels: new-version, update-package

#34242 meep: add new versions and additional variants incl. dependencies
  var/spack/repos/builtin/packages/libctl/package.py
  var/spack/repos/builtin/packages/libgdsii/package.py
  var/spack/repos/builtin/packages/meep/package.py
  var/spack/repos/builtin/packages/mpb/package.py
Labels: new-version, new-package, dependencies, update-package, new-variant

#34245 darshan-util: fix location of input for darshan-util tests
  var/spack/repos/builtin/packages/darshan-util/package.py
Labels: update-package

#34237 kealib: update to 1.5.0
  var/spack/repos/builtin/packages/kealib/package.py
Labels: new-version, update-package

#34238 [quantum-espresso] Parallel make fails for 6.{6,7}
  var/spack/repos/builtin/packages/quantum-espresso/package.py
Labels: update-package

#34232 libnrm: allow mpi other than mpich
  var/spack/repos/builtin/packages/libnrm/package.py
Labels: WIP, dependencies, update-package, e4s

#34221 Osu/omb update
  var/spack/repos/builtin/packages/osu-micro-benchmarks/package.py
Labels: new-version, dependencies, update-package, new-variant

#34209 XRootD: add checksum + patch for 5.5.1
  var/spack/repos/builtin/packages/xrootd/package.py
Labels: new-version, patch, update-package

#34369 py-pywavelets: add 1.4.1
  var/spack/repos/builtin/packages/py-pywavelets/package.py
Labels: new-version, python, dependencies, update-package

#34146 ftk: adding version 0.0.7.1
  var/spack/repos/builtin/packages/ftk/package.py
Labels: new-version, dependencies, update-package, new-variant

#34362 py-numba: add 0.56.4
  var/spack/repos/builtin/packages/py-numba/package.py
Labels: new-version, python, dependencies, update-package

#34252 SW4: new package
  var/spack/repos/builtin/packages/sw4/package.py
Labels: new-version, new-package, dependencies, maintainers, new-variant

#34332 Prevent SameFileError when rpathing on Windows
  lib/spack/llnl/util/filesystem.py
Labels: utilities, core

#34234 Add recipe for singularity-hpc, py-spython
  var/spack/repos/builtin/packages/py-spython/package.py
  var/spack/repos/builtin/packages/singularity-hpc/package.py
Labels: new-version, new-package, python, dependencies, maintainers, new-variant

#34173 Add texinfo dependency for binutils through version 2.38
  var/spack/repos/builtin/packages/binutils/package.py
Labels: dependencies, update-package

#34381 Bump libxcrypt minimum automake to v1.14:
  var/spack/repos/builtin/packages/libxcrypt/package.py
Labels: dependencies, update-package

#34281 pixman: add libs property
  var/spack/repos/builtin/packages/pixman/package.py
Labels: update-package, libraries

#34376 Update hdf5 vol async version
  var/spack/repos/builtin/packages/hdf5-vol-async/package.py
Labels: new-version, update-package

#34211 dlb: new package
  var/spack/repos/builtin/packages/dlb/package.py
Labels: new-version, new-package, dependencies, maintainers, new-variant

#34394 py-rdflib: add 6.2.0
  var/spack/repos/builtin/packages/py-rdflib/package.py
Labels: new-version, python, dependencies, update-package

#34177 Cray manifest: automatically convert 'cray' platform to 'linux'
  lib/spack/spack/cray_manifest.py
  lib/spack/spack/platforms/test.py
  lib/spack/spack/test/cray_manifest.py
Labels: tests, core, architecture

#34301 bash v5.2, readline v8.2, patches
  var/spack/repos/builtin/packages/bash/package.py
  var/spack/repos/builtin/packages/readline/package.py
  var/spack/repos/builtin/packages/readline/readline-6.3-upstream_fixes-1.patch
Labels: new-version, dependencies, patch, update-package

#34383 bcache: fixup check for libintl correctly
  var/spack/repos/builtin/packages/bcache/package.py
Labels: update-package

#34391 intel-mkl: It is only available for x86_64
  var/spack/repos/builtin/packages/intel-mkl/package.py
Labels: intel, update-package, conflicts

#34372 s3: cache client instance
  lib/spack/spack/s3_handler.py
  lib/spack/spack/test/web.py
  lib/spack/spack/util/s3.py
  lib/spack/spack/util/web.py
Labels: fetching, tests, utilities, core

#34397 Add pika-algorithms package and pika 0.11.0
  var/spack/repos/builtin/packages/fmt/package.py
  var/spack/repos/builtin/packages/pika-algorithms/package.py
  var/spack/repos/builtin/packages/pika/package.py
Labels: new-version, new-package, dependencies, update-package, conflicts, maintainers, new-variant

#34419 bugfix: `spack load` shell test can fail on macos
  share/spack/qa/setup-env-test.sh
Labels: shell-support, core

#34400 Add checksum for py-onnxmltools 1.11.1
  var/spack/repos/builtin/packages/py-onnxmltools/package.py
Labels: new-version, python, update-package

#34399 btop: add new package
  var/spack/repos/builtin/packages/btop/package.py
Labels: new-version, new-package, conflicts, maintainers

#34152 binary distribution: warn about issues
  lib/spack/spack/binary_distribution.py
Labels: binary-packages, core

#33385 Testing CI on Windows
  .github/workflows/setup_git.ps1
  .github/workflows/windows_python.yml
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/bootstrap/core.py
  lib/spack/spack/compiler.py
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/compilers/msvc.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/builder.py
  lib/spack/spack/test/cmd/external.py
  lib/spack/spack/test/cmd/list.py
  lib/spack/spack/test/cmd/uninstall.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/concretize_preferences.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/database.py
  lib/spack/spack/test/installer.py
  lib/spack/spack/test/spec_syntax.py
  lib/spack/spack/util/path.py
  share/spack/qa/setup_spack.ps1
  share/spack/qa/setup_spack_installer.ps1
  share/spack/qa/validate_last_exit.ps1
  share/spack/qa/windows_test_setup.ps1
  var/spack/repos/builtin.mock/packages/intel-oneapi-compilers/package.py
Labels: compilers, tests, commands, update-package, utilities, workflow, core

#34402 Add checksum for py-jupyter-packaging11 0.12.3
  var/spack/repos/builtin/packages/py-jupyter-packaging11/package.py
Labels: new-version, python, dependencies, update-package

#34415 py-torchvision: fix typo in version restriction for ffmpeg
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: python, dependencies, update-package

#34421 py-setupmeta: add 3.3.2
  var/spack/repos/builtin/packages/py-setupmeta/package.py
Labels: new-version, python, update-package

#34361 py-nbformat: add 5.7.0 and new package py-hatch-nodejs-version
  var/spack/repos/builtin/packages/py-hatch-nodejs-version/package.py
  var/spack/repos/builtin/packages/py-nbformat/package.py
Labels: new-version, new-package, python, dependencies, update-package

#34409 New package: py-torchdiffeq
  var/spack/repos/builtin/packages/py-torchdiffeq/package.py
Labels: new-version, new-package, python, dependencies

#34294 [darshan-runtime, darshan-util, py-darshan]: darshan 3.4.1 release updates
  var/spack/repos/builtin/packages/darshan-runtime/package.py
  var/spack/repos/builtin/packages/darshan-util/package.py
  var/spack/repos/builtin/packages/py-darshan/package.py
Labels: new-version, python, dependencies, update-package, new-variant

#34412 gitlab ci: more resources for paraview and py-torch
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/ml-cpu/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/ml-cuda/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/ml-rocm/spack.yaml
Labels: gitlab, core

#34428 geant4: version bumps for Geant4 11.1.0 release
  var/spack/repos/builtin/packages/g4emlow/package.py
  var/spack/repos/builtin/packages/g4ndl/package.py
  var/spack/repos/builtin/packages/geant4-data/package.py
  var/spack/repos/builtin/packages/geant4/package.py
Labels: new-version, dependencies, update-package, new-variant

#34420 package/qt-base: add conflict for older gcc
  var/spack/repos/builtin/packages/qt-base/package.py
Labels: update-package, conflicts

#34430 py-simplejson: add 3.18.0
  var/spack/repos/builtin/packages/py-simplejson/package.py
Labels: new-version, python, dependencies, update-package

#34324 Use `urllib` handler for `s3://` and `gs://`, improve `url_exists` through HEAD requests
  lib/spack/spack/gcs_handler.py
  lib/spack/spack/s3_handler.py
  lib/spack/spack/test/web.py
  lib/spack/spack/util/web.py
Labels: fetching, tests, utilities, core

#34436 valgrind: add v3.20.0, mark macOS conflict
  var/spack/repos/builtin/packages/valgrind/package.py
Labels: new-version, update-package, conflicts

#34423 py-{boto3,botocore,jmespath,s3transfer} bump
  var/spack/repos/builtin/packages/py-boto3/package.py
  var/spack/repos/builtin/packages/py-botocore/package.py
  var/spack/repos/builtin/packages/py-jmespath/package.py
  var/spack/repos/builtin/packages/py-s3transfer/package.py
Labels: new-version, python, dependencies, update-package

#34422 py-setuptools-scm-git-archive: add 1.4
  var/spack/repos/builtin/packages/py-setuptools-scm-git-archive/package.py
Labels: new-version, python, update-package

#34408 py-scikit-learn: add v1.2.0
  var/spack/repos/builtin/packages/py-scikit-learn/package.py
Labels: new-version, python, dependencies, update-package

#34439 py-scipy: print error message if no Fortran compiler is available
  var/spack/repos/builtin/packages/py-scipy/package.py
Labels: python, update-package

#34443 openblas: fix bound :7.3 to :7.3.0
  var/spack/repos/builtin/packages/openblas/package.py
Labels: update-package, conflicts

#33904 [glib] Spack cannot find sources without list_url
  var/spack/repos/builtin/packages/glib/package.py
Labels: update-package

#34453 expat: Add latest release 2.5.0 with security fixes
  var/spack/repos/builtin/packages/expat/package.py
Labels: new-version, update-package

#34441 intel-oneapi-* conflicts for non linux, x86
  lib/spack/spack/build_systems/oneapi.py
  var/spack/repos/builtin/packages/intel-oneapi-advisor/package.py
  var/spack/repos/builtin/packages/intel-oneapi-ccl/package.py
  var/spack/repos/builtin/packages/intel-oneapi-compilers/package.py
  var/spack/repos/builtin/packages/intel-oneapi-dal/package.py
  var/spack/repos/builtin/packages/intel-oneapi-dnn/package.py
  var/spack/repos/builtin/packages/intel-oneapi-dpct/package.py
  var/spack/repos/builtin/packages/intel-oneapi-dpl/package.py
  var/spack/repos/builtin/packages/intel-oneapi-inspector/package.py
  var/spack/repos/builtin/packages/intel-oneapi-ipp/package.py
  var/spack/repos/builtin/packages/intel-oneapi-ippcp/package.py
  var/spack/repos/builtin/packages/intel-oneapi-itac/package.py
  var/spack/repos/builtin/packages/intel-oneapi-mkl/package.py
  var/spack/repos/builtin/packages/intel-oneapi-mpi/package.py
  var/spack/repos/builtin/packages/intel-oneapi-tbb/package.py
  var/spack/repos/builtin/packages/intel-oneapi-vpl/package.py
  var/spack/repos/builtin/packages/intel-oneapi-vtune/package.py
Labels: new-version, resources, intel, update-package, conflicts, build-systems, core

#34437 py-tensorboard-data-server: add Linux aarch64 support
  var/spack/repos/builtin/packages/py-tensorboard-data-server/package.py
Labels: python, platform-support, patch, update-package, arm

#32025 Only restrict CMake version in Umpire when `examples` and `rocm` are enabled
  var/spack/repos/builtin/packages/umpire/package.py
Labels: dependencies, update-package

#34178 Add libxml2 for dap-enabled latest netcdf-c
  var/spack/repos/builtin/packages/netcdf-c/package.py
Labels: dependencies, update-package

#34368 directives: depends_on should not admit anonymous specs
  lib/spack/spack/directives.py
  lib/spack/spack/test/directives.py
Labels: tests, directives, core

#34411 delly2: adding new version 1.1.6
  var/spack/repos/builtin/packages/delly2/package.py
Labels: new-version, dependencies, update-package, maintainers

#34410 nvhpc: add 22.11
  var/spack/repos/builtin/packages/nvhpc/package.py
Labels: update-package

#34426 py-pytorch-lightning: add v1.8.4
  var/spack/repos/builtin/packages/py-pytorch-lightning/package.py
Labels: new-version, python, dependencies, update-package

#34289 libgit2: add pcre dependency for @0.99:
  var/spack/repos/builtin/packages/libgit2/package.py
Labels: dependencies, update-package, maintainers

#34392 intel-parallel-studio: It is only available for x86_64
  var/spack/repos/builtin/packages/intel-parallel-studio/package.py
Labels: intel, update-package, conflicts

#34190 added ARM/aarch64 conflict to Eddy/Rivas lab tools
  var/spack/repos/builtin/packages/hmmer/package.py
  var/spack/repos/builtin/packages/infernal/package.py
Labels: update-package, conflicts

#34259 Add checksum for py-prometheus-client 0.14.1
  var/spack/repos/builtin/packages/py-prometheus-client/package.py
Labels: new-version, python, dependencies, update-package

#33666 [arrow] dependency fixes
  var/spack/repos/builtin/packages/arrow/package.py
Labels: dependencies, update-package

#34432 Fix openblas build with intel compiler
  var/spack/repos/builtin/packages/openblas/f_check-intel.patch
  var/spack/repos/builtin/packages/openblas/package.py
Labels: patch, update-package

#34447 hdf5: "hdf5@1.13:" depends on "cmake@3.18:"
  var/spack/repos/builtin/packages/hdf5/package.py
Labels: dependencies, update-package

#34398 foam-extend: add 4.1 (released Oct 2019)
  var/spack/repos/builtin/packages/foam-extend/package.py
Labels: new-version, update-package

#34425 Skip build step for `stdexec`
  var/spack/repos/builtin/packages/stdexec/package.py
Labels: update-package

#34275 Fixes to the silo packages for 4.11.
  var/spack/repos/builtin/packages/silo/package.py
  var/spack/repos/builtin/packages/silo/zfp_error.patch
Labels: dependencies, patch, update-package

#34424 Don't build tests for `fmt`
  var/spack/repos/builtin/packages/fmt/package.py
Labels: update-package

#34261 [texinfo] @7.0: needs c-11 syntax
  var/spack/repos/builtin/packages/texinfo/package.py
Labels: update-package

#34445 geant4: rm preference for 10.7.3 now that 11.1.0 is out
  var/spack/repos/builtin/packages/geant4/package.py
Labels: new-version, update-package

#34459 py-snowballstemmer: add 2.2.0
  var/spack/repos/builtin/packages/py-snowballstemmer/package.py
Labels: new-version, python, update-package

#34456 Automated deployment to update package flux-core 2022-12-12
  var/spack/repos/builtin/packages/flux-core/package.py
Labels: new-version, update-package

#34365 julia: have recipe use Spack compiler wrapper
  var/spack/repos/builtin/packages/julia/package.py
Labels: update-package

#33320 ROCm 5.3.0 updates
  var/spack/repos/builtin/packages/atmi/package.py
  var/spack/repos/builtin/packages/comgr/package.py
  var/spack/repos/builtin/packages/ginkgo/package.py
  var/spack/repos/builtin/packages/ginkgo/thrust-count-header.patch
  var/spack/repos/builtin/packages/hip-rocclr/package.py
  var/spack/repos/builtin/packages/hip/0013-remove-compiler-rt-linkage-for-host.5.3.0.patch
  var/spack/repos/builtin/packages/hip/package.py
  var/spack/repos/builtin/packages/hipblas/package.py
  var/spack/repos/builtin/packages/hipcub/package.py
  var/spack/repos/builtin/packages/hipfort/package.py
  var/spack/repos/builtin/packages/hipify-clang/package.py
  var/spack/repos/builtin/packages/hipsparse/package.py
  var/spack/repos/builtin/packages/hpctoolkit/package.py
  var/spack/repos/builtin/packages/hsa-rocr-dev/package.py
  var/spack/repos/builtin/packages/hsakmt-roct/0002-Remove-compiler-support-libraries-and-libudev-as-req-5.3.patch
  var/spack/repos/builtin/packages/hsakmt-roct/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/mesa/disable-gallivm-coroutine-for-libllvm15.patch
  var/spack/repos/builtin/packages/mesa/package.py
  var/spack/repos/builtin/packages/rccl/package.py
  var/spack/repos/builtin/packages/rocalution/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
  var/spack/repos/builtin/packages/rocm-bandwidth-test/package.py
  var/spack/repos/builtin/packages/rocm-clang-ocl/package.py
  var/spack/repos/builtin/packages/rocm-cmake/package.py
  var/spack/repos/builtin/packages/rocm-dbgapi/package.py
  var/spack/repos/builtin/packages/rocm-debug-agent/package.py
  var/spack/repos/builtin/packages/rocm-device-libs/package.py
  var/spack/repos/builtin/packages/rocm-gdb/package.py
  var/spack/repos/builtin/packages/rocm-opencl/package.py
  var/spack/repos/builtin/packages/rocm-smi-lib/package.py
  var/spack/repos/builtin/packages/rocm-tensile/package.py
  var/spack/repos/builtin/packages/rocm-validation-suite/007-cleanup-path-reference-donot-download-googletest-yaml-library-path_5.3.patch
  var/spack/repos/builtin/packages/rocm-validation-suite/package.py
  var/spack/repos/builtin/packages/rocminfo/package.py
  var/spack/repos/builtin/packages/rocprim/package.py
  var/spack/repos/builtin/packages/rocprofiler-dev/0001-Continue-build-in-absence-of-aql-profile-lib.patch
  var/spack/repos/builtin/packages/rocprofiler-dev/package.py
  var/spack/repos/builtin/packages/rocrand/package.py
  var/spack/repos/builtin/packages/rocsolver/package.py
  var/spack/repos/builtin/packages/rocsparse/package.py
  var/spack/repos/builtin/packages/rocthrust/package.py
  var/spack/repos/builtin/packages/roctracer-dev-api/package.py
  var/spack/repos/builtin/packages/roctracer-dev/0001-include-rocprofiler-dev-path.patch
  var/spack/repos/builtin/packages/roctracer-dev/package.py
Labels: new-version, dependencies, virtual-dependencies, patch, update-package

#34461 py-sphinxcontrib-applehelp: add 1.0.2
  var/spack/repos/builtin/packages/py-sphinxcontrib-applehelp/package.py
Labels: new-version, python, update-package

#34462 py-sphinxcontrib-devhelp: add 1.0.2
  var/spack/repos/builtin/packages/py-sphinxcontrib-devhelp/package.py
Labels: new-version, python, update-package

#34195 Add new package: micromamba
  var/spack/repos/builtin/packages/cli11/package.py
  var/spack/repos/builtin/packages/krb5/package.py
  var/spack/repos/builtin/packages/libreproc/package.py
  var/spack/repos/builtin/packages/libsolv/package.py
  var/spack/repos/builtin/packages/micromamba/fix-threads.patch
  var/spack/repos/builtin/packages/micromamba/package.py
  var/spack/repos/builtin/packages/tl-expected/package.py
Labels: new-version, new-package, dependencies, patch, update-package, maintainers, new-variant

#33316 New python package: Drishti
  var/spack/repos/builtin/packages/drishti/package.py
Labels: new-version, new-package, dependencies, maintainers

#34403 Update packages for running azure
  var/spack/repos/builtin/packages/py-azure-core/package.py
  var/spack/repos/builtin/packages/py-azure-identity/package.py
  var/spack/repos/builtin/packages/py-msal-extensions/package.py
  var/spack/repos/builtin/packages/py-msal/package.py
Labels: new-version, python, dependencies, update-package

#34458 py-sh: new versions
  var/spack/repos/builtin/packages/py-sh/package.py
Labels: new-version, python, update-package

#34472 py-pyld: add with dependency
  var/spack/repos/builtin/packages/py-frozendict/package.py
  var/spack/repos/builtin/packages/py-pyld/package.py
Labels: new-version, new-package, python, dependencies

#33884 Be strict on the markers used in unit tests
  pytest.ini
Labels: tests, workflow, core
