Repository spack/spack, pull requests merged in 2022-08, with the labels that each got.

#31827 tests: remove old `changed_files()` test
  lib/spack/spack/test/cmd/style.py
Labels: tests, commands, core

#31681 wi4mpi: New version 3.6.0
  var/spack/repos/builtin/packages/wi4mpi/package.py
Labels: new-version, update-package

#31673 gperftools: Don't default to +libunwind on Darwin
  var/spack/repos/builtin/packages/gperftools/package.py
Labels: update-package, conflicts, new-variant

#31792 Python: fix clingo bootstrapping on Apple M1/M2
  var/spack/repos/builtin/packages/clingo/package.py
  var/spack/repos/builtin/packages/python/package.py
Labels: python, update-package

#31812 Add support for macOS Ventura
  lib/spack/spack/operating_systems/mac_os.py
Labels: macOS, core, architecture

#31835 arm-forge: add 22.0.4.
  var/spack/repos/builtin/packages/arm-forge/package.py
Labels: new-version, update-package

#31844 amrex: add v22.08
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package, e4s

#31821 mxnet: prefer stable release
  var/spack/repos/builtin/packages/mxnet/package.py
Labels: new-version, update-package

#31684 lerc: add libs property
  var/spack/repos/builtin/packages/lerc/package.py
Labels: update-package, libraries

#31826 Add c++14 support flag for xl compiler
  lib/spack/spack/compilers/xl.py
Labels: compilers, core

#31841 kokkos: set CMAKE_CXX_STANDARD instead of Kokkos_CXX_STANDARD
  var/spack/repos/builtin/packages/kokkos/package.py
Labels: update-package, e4s

#31851 spack checksum: black compliance
  lib/spack/spack/stage.py
Labels: style, stage, core

#31854 py-flake8: add v5.0
  var/spack/repos/builtin/packages/py-flake8/package.py
  var/spack/repos/builtin/packages/py-mccabe/package.py
  var/spack/repos/builtin/packages/py-pycodestyle/package.py
  var/spack/repos/builtin/packages/py-pyflakes/package.py
Labels: new-version, python, dependencies, update-package

#31809 Add meson Python build backend
  lib/spack/docs/build_systems/pythonpackage.rst
  var/spack/repos/builtin/packages/py-meson-python/package.py
  var/spack/repos/builtin/packages/py-meson/package.py
  var/spack/repos/builtin/packages/py-pyproject-metadata/package.py
Labels: new-version, new-package, python, documentation, dependencies, core

#31847 Add mctc-lib/0.3.1 and toml-f/0.3.0
  var/spack/repos/builtin/packages/mctc-lib/package.py
  var/spack/repos/builtin/packages/toml-f/package.py
Labels: new-version, update-package

#31765 gdb: new version
  var/spack/repos/builtin/packages/gdb/package.py
Labels: new-version, update-package

#31860 docs: Fix outdated pre-0.18 text on build dependencies
  lib/spack/docs/packaging_guide.rst
Labels: documentation, core

#31858 py-pre-commit 2.20.0
  var/spack/repos/builtin/packages/py-pre-commit/package.py
Labels: new-version, python, dependencies, update-package

#31864 document common packages.yaml not respected due to --reuse issue
  lib/spack/docs/index.rst
  lib/spack/docs/known_issues.rst
Labels: documentation, core

#31024 Speed-up parsing specs and accessing their attributes
  lib/spack/llnl/util/lang.py
  lib/spack/spack/parse.py
  lib/spack/spack/spec.py
Labels: utilities, core

#30806 Optimize reuse from buildcaches
  lib/spack/spack/database.py
  lib/spack/spack/solver/asp.py
Labels: core

#31771 `spack ci rebuild`: Don't install in a login shell
  lib/spack/spack/cmd/ci.py
Labels: commands, core

#31853 Allow building with camp@0.2.3 for raja@0.14.0 and umpire@6.0.0
  var/spack/repos/builtin/packages/raja/package.py
  var/spack/repos/builtin/packages/umpire/package.py
Labels: dependencies, update-package

#27849 new package: py-alphafold
  var/spack/repos/builtin/packages/hh-suite/package.py
  var/spack/repos/builtin/packages/kalign/package.py
  var/spack/repos/builtin/packages/openmm/package.py
  var/spack/repos/builtin/packages/py-alphafold/package.py
  var/spack/repos/builtin/packages/py-biopython/package.py
  var/spack/repos/builtin/packages/py-chex/package.py
  var/spack/repos/builtin/packages/py-dm-haiku/package.py
  var/spack/repos/builtin/packages/py-dm-tree/package.py
  var/spack/repos/builtin/packages/py-immutabledict/package.py
  var/spack/repos/builtin/packages/py-jax/package.py
  var/spack/repos/builtin/packages/py-jaxlib/package.py
  var/spack/repos/builtin/packages/py-jmp/package.py
  var/spack/repos/builtin/packages/py-ml-collections/package.py
  var/spack/repos/builtin/packages/py-pdbfixer/package.py
Labels: new-version, new-package, python, dependencies, resources, patch, update-package, conflicts, maintainers, new-variant

#31848 butterflypack %oneapi: patch CMakeLists to solve issue #31818
  share/spack/gitlab/cloud_pipelines/stacks/e4s-oneapi/spack.yaml
  var/spack/repos/builtin/packages/butterflypack/package.py
  var/spack/repos/builtin/packages/butterflypack/qopenmp-for-oneapi.patch
Labels: patch, update-package, e4s, gitlab, core

#31863 ca-certificates-mozilla: new versions
  var/spack/repos/builtin/packages/ca-certificates-mozilla/package.py
Labels: new-version, update-package

#31840 e4s oneapi stack: build vtk-m ~openmp due to issue #31830
  share/spack/gitlab/cloud_pipelines/stacks/e4s-oneapi/spack.yaml
Labels: e4s, gitlab, core

#31870 libedit: Make sure libedit linkes to the correct terminfo lib from spack
  var/spack/repos/builtin/packages/libedit/package.py
Labels: update-package

#31872 black: fix bootstrap for Python 3.6
  var/spack/repos/builtin/packages/py-platformdirs/package.py
Labels: new-version, python, dependencies, python3, update-package, bootstrap, black

#31874 mpich: fix hwloc config option for version >= 4.0
  var/spack/repos/builtin/packages/mpich/package.py
Labels: update-package

#31871 py-pytorch-lightning: add v1.7.0
  var/spack/repos/builtin/packages/py-pytorch-lightning/package.py
Labels: new-version, python, dependencies, update-package

#31838 Make parmmg dependent on mmg and metis
  var/spack/repos/builtin/packages/mmg/package.py
  var/spack/repos/builtin/packages/parmmg/package.py
  var/spack/repos/builtin/packages/petsc/package.py
Labels: dependencies, update-package

#31890 Remove macOS 10.15 from bootstrap tests
  .github/workflows/bootstrap.yml
Labels: workflow, core

#31878 New package: libspng
  var/spack/repos/builtin/packages/libspng/package.py
Labels: new-version, new-package

#31892 Match documentation of spack create with actual generated file.
  lib/spack/docs/packaging_guide.rst
Labels: documentation, core

#31881 Add QTLTools package.
  var/spack/repos/builtin/packages/qtltools/package.py
Labels: new-version, new-package, dependencies

#31850 Also set FC when building hypre+fortran
  var/spack/repos/builtin/packages/hypre/package.py
Labels: update-package, e4s

#31668 Add code generation step for plasma@develop
  var/spack/repos/builtin/packages/plasma/package.py
Labels: dependencies, xSDK, update-package, ecp

#31879 New package: zopfli
  var/spack/repos/builtin/packages/zopfli/package.py
Labels: new-version, new-package, new-variant

#31862 openssl: copy mozilla certs to work around symlink relocation issue
  var/spack/repos/builtin/packages/openssl/package.py
Labels: dependencies, update-package

#31885 adios2: update latest release
  var/spack/repos/builtin/packages/adios2/package.py
Labels: new-version, update-package, maintainers

#31233 AMReX: SYCL support
  var/spack/repos/builtin/packages/amrex/package.py
Labels: dependencies, update-package, conflicts, e4s, new-variant

#31653 Fix r-rhtslib
  var/spack/repos/builtin/packages/r-rhtslib/package.py
Labels: new-version, R, update-package

#31886 py-torchgeo: lock down pytorch-lightning version
  var/spack/repos/builtin/packages/py-torchgeo/package.py
Labels: python, dependencies, update-package

#31898 Add checksum for py-smmap 3.0.5,4.0.0,5.0.0
  var/spack/repos/builtin/packages/py-smmap/package.py
Labels: new-version, python, dependencies, update-package

#31875 New package: py-glymur
  var/spack/repos/builtin/packages/py-glymur/package.py
Labels: new-version, new-package, python, dependencies

#31880 ExaGO: Disable Python with rocm+ipopt. HiOp: fix umpire+raja costraints. RAJA: fix option naming for 0.14.0
  var/spack/repos/builtin/packages/exago/package.py
  var/spack/repos/builtin/packages/hiop/package.py
  var/spack/repos/builtin/packages/raja/package.py
Labels: dependencies, update-package, conflicts

#31910 sundials@6.1.0:6.2.0 +rocm: patch nvector to use pic
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
  var/spack/repos/builtin/packages/sundials/nvector-pic.patch
  var/spack/repos/builtin/packages/sundials/package.py
Labels: patch, update-package, e4s, gitlab, ROCm/hip, core

#31913 AMReX: 1D Option
  var/spack/repos/builtin/packages/amrex/package.py
Labels: ready, update-package, ecp, e4s, new-variant

#31210 asp: refactor low level API to permit the injection of configuration
  lib/spack/docs/conf.py
  lib/spack/spack/cmd/solve.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/concretize.py
  share/spack/spack-completion.bash
Labels: documentation, refactoring, tests, commands, core

#31894 Add checksum for py-arrow 1.2.1 and 1.2.2
  var/spack/repos/builtin/packages/py-arrow/package.py
Labels: new-version, python, dependencies, update-package

#31921 Adding JUBE 2.4.1, 2.4.2 and 2.4.3
  var/spack/repos/builtin/packages/jube/package.py
Labels: new-version, update-package

#31908 Deprecate support for Python 3.5 (by removing it from CI)
  .github/workflows/bootstrap.yml
  .github/workflows/unit_tests.yaml
  .github/workflows/windows_python.yml
  lib/spack/docs/contribution_guide.rst
  lib/spack/docs/tables/system_prerequisites.csv
  var/spack/repos/builtin/packages/spack/package.py
Labels: new-version, documentation, dependencies, update-package, workflow, core

#31652 New version for openCARP packages, v11.0
  var/spack/repos/builtin/packages/meshtool/package.py
  var/spack/repos/builtin/packages/opencarp/package.py
  var/spack/repos/builtin/packages/py-carputils/package.py
Labels: new-version, python, update-package

#31906 Add pika 0.7.0 release
  var/spack/repos/builtin/packages/pika/package.py
Labels: new-version, update-package

#31923 Add checksum for py-ipython 7.31.1
  var/spack/repos/builtin/packages/py-ipython/package.py
Labels: new-version, python, update-package

#31924 Add checksum for py-notebook 6.4.12
  var/spack/repos/builtin/packages/py-notebook/package.py
Labels: new-version, python, update-package

#31891 Add checksums for py-onnx 1.10.1, 1.11.0, 1.12.0
  var/spack/repos/builtin/packages/py-onnx/package.py
Labels: new-version, python, dependencies, update-package

#30998 Git Ref versions can be paired to defined versions in the spec
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/solver/display.lp
  lib/spack/spack/spec.py
  lib/spack/spack/test/cmd/spec.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/spec_syntax.py
  lib/spack/spack/test/versions.py
  lib/spack/spack/version.py
  var/spack/repos/builtin.mock/packages/depends-on-develop/package.py
  var/spack/repos/builtin.mock/packages/develop-branch-version/package.py
Labels: new-version, dependencies, fetching, tests, commands, versions, core

#31914 Add documentation for git refs as versions
  lib/spack/docs/basic_usage.rst
  lib/spack/docs/environments.rst
  lib/spack/spack/version.py
Labels: documentation, versions, core

#31932 Move type hint to satisfy Python 3.6, 3.7 interpreters
  lib/spack/spack/operating_systems/windows_os.py
Labels: style, bugfix, mypy, core, architecture

#31931 openblas%cce: patch to support -hnofortran
  var/spack/repos/builtin/packages/openblas/cce.patch
  var/spack/repos/builtin/packages/openblas/package.py
Labels: patch, update-package, e4s

#31934 Add new ginkgo version for use with HiOp
  var/spack/repos/builtin/packages/ginkgo/package.py
  var/spack/repos/builtin/packages/hiop/package.py
Labels: new-version, dependencies, update-package

#31917 tassel: add version 3.0.174
  var/spack/repos/builtin/packages/tassel/package.py
Labels: new-version, dependencies, update-package

#31927 ruby-asciidoctor: adding version 2.0.17
  var/spack/repos/builtin/packages/ruby-asciidoctor/package.py
Labels: new-version, update-package

#31911 Omnitrace version 1.3.1
  var/spack/repos/builtin/packages/omnitrace/package.py
Labels: new-version, update-package

#31935 Add checksum for py-identify 2.5.3
  var/spack/repos/builtin/packages/py-identify/package.py
Labels: new-version, python, dependencies, update-package

#31915 Add: pyAMReX
  var/spack/repos/builtin/packages/py-amrex/package.py
Labels: new-version, new-package, python, dependencies, ecp, maintainers, new-variant

#31937 Fix doc format for code blocks: GitRef versions
  lib/spack/docs/basic_usage.rst
Labels: documentation, core

#31929 Fix prefix in Makefile for QTLTools.
  var/spack/repos/builtin/packages/qtltools/package.py
Labels: update-package

#31633 spectre: add v2022.07.18 and v2022.08.01
  var/spack/repos/builtin/packages/spectre/package.py
Labels: new-version, dependencies, update-package

#31919 mbedtls, xz: add missing install_name fixes for darwin
  var/spack/repos/builtin/packages/mbedtls/package.py
  var/spack/repos/builtin/packages/xz/package.py
Labels: update-package

#31901 Add fms version 2022.03
  var/spack/repos/builtin/packages/fms/package.py
Labels: new-version, update-package

#31855 WPS: add MPI dependency
  var/spack/repos/builtin/packages/wps/package.py
Labels: dependencies, update-package

#31904 bracken: added new version and removed depreciated version
  var/spack/repos/builtin/packages/bracken/package.py
Labels: new-version, dependencies, update-package

#31936 Refactor `cmd/install.py` for better readability
  lib/spack/spack/cmd/install.py
Labels: commands, core

#31944 Add krakenuniq package.
  var/spack/repos/builtin/packages/krakenuniq/package.py
Labels: new-version, new-package, dependencies

#31946 patchelf: 0.15.0
  var/spack/repos/builtin/packages/patchelf/package.py
Labels: new-version, update-package

#31943 rdma-core: latest (patch) releases
  var/spack/repos/builtin/packages/rdma-core/package.py
Labels: new-version, update-package

#31916 seq-gen: add seq-gen package to spack
  var/spack/repos/builtin/packages/seq-gen/package.py
Labels: new-version, new-package

#31887 VisIt: Add vtkm variant.
  var/spack/repos/builtin/packages/visit/cmake-findvtkh-3.3.patch
  var/spack/repos/builtin/packages/visit/package.py
  var/spack/repos/builtin/packages/visit/vtk-m_transport_tag_topology_field_in.patch
Labels: dependencies, patch, update-package, new-variant

#31897 spack mirror: skip non-concretizable specs
  lib/spack/spack/mirror.py
  lib/spack/spack/test/mirror.py
Labels: tests, bugfix, core

#31877 New package: jxrlib-debian
  var/spack/repos/builtin/packages/jxrlib-debian/package.py
Labels: new-version, new-package, new-variant

#31956 py-flye: added v2.7-2.9
  var/spack/repos/builtin/packages/py-flye/package.py
Labels: new-version, python, update-package

#31900 Add checksum for py-numexprt 2.8.3
  var/spack/repos/builtin/packages/py-numexpr/package.py
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: new-version, python, dependencies, update-package, conflicts

#31951 python: add @3.10.6
  var/spack/repos/builtin/packages/python/package.py
Labels: new-version, python, update-package

#31685 Perl: set PERL5LIB for test deps
  var/spack/repos/builtin/packages/perl/package.py
Labels: perl, update-package

#31962 py-jaxlib: bazel 5 not yet supported
  var/spack/repos/builtin/packages/py-jaxlib/package.py
Labels: python, dependencies, update-package

#31950 curl@7.84.0: patch easy_lock.h (https://github.com/curl/curl/pull/9054)
  var/spack/repos/builtin/packages/curl/easy-lock-sched-header.patch
  var/spack/repos/builtin/packages/curl/package.py
Labels: patch, update-package, e4s

#31968 py-simpleeval: new package
  var/spack/repos/builtin/packages/py-simpleeval/package.py
Labels: new-version, new-package, python, dependencies

#31955 flux packages used in a spack view will already be unshallow
  var/spack/repos/builtin/packages/flux-core/package.py
  var/spack/repos/builtin/packages/flux-sched/package.py
Labels: dependencies, update-package

#31763 cudnn: adjust version dependency on CUDA
  var/spack/repos/builtin/packages/cudnn/package.py
Labels: dependencies, update-package

#31982 libheif: add new package
  var/spack/repos/builtin/packages/gdal/package.py
  var/spack/repos/builtin/packages/libheif/package.py
Labels: new-version, new-package, dependencies, update-package

#31979 py-tbparse: add new package
  var/spack/repos/builtin/packages/py-tbparse/package.py
Labels: new-version, new-package, python, dependencies

#31976 hypre: Homepage changed
  var/spack/repos/builtin/packages/hypre/package.py
Labels: update-package

#31977 hpx: New version 1.8.1
  var/spack/repos/builtin/packages/hpx/package.py
Labels: new-version, update-package

#28233 herwig3: new version 7.2.2; depends_on thepeg new version 2.2.2
  var/spack/repos/builtin/packages/herwig3/package.py
  var/spack/repos/builtin/packages/thepeg/package.py
Labels: new-version, dependencies, update-package

#31965 e4s oneapi ci: unify when possible
  share/spack/gitlab/cloud_pipelines/stacks/e4s-oneapi/spack.yaml
Labels: e4s, gitlab, core

#31972 perl-tk: adding version 804.036
  var/spack/repos/builtin/packages/perl-tk/package.py
Labels: new-version, update-package, maintainers

#31971 perl-cgi: adding version 4.54
  var/spack/repos/builtin/packages/perl-cgi/package.py
Labels: new-version, update-package, maintainers

#31960 Update PyTorch ecosystem
  var/spack/repos/builtin/packages/py-torch/package.py
  var/spack/repos/builtin/packages/py-torchdata/package.py
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: new-version, python, dependencies, update-package

#31207 sirius: inherit from ROCmPackage
  var/spack/repos/builtin/packages/sirius/package.py
Labels: dependencies, update-package

#31973 qt: new version 5.15.5
  var/spack/repos/builtin/packages/qt/package.py
Labels: new-version, update-package

#31928 crmc: Add necessary boost variants and allow argument mismatch for all compilers
  var/spack/repos/builtin/packages/crmc/package.py
Labels: dependencies, update-package

#31957 py-scikit-learn: add v1.1.2
  var/spack/repos/builtin/packages/py-scikit-learn/package.py
Labels: new-version, python, dependencies, update-package

#31773 acts: new versions 19.4.0 and 19.5.0
  var/spack/repos/builtin/packages/acts/package.py
Labels: new-version, dependencies, update-package, new-variant

#31922 acts: add v19.6.0
  var/spack/repos/builtin/packages/acts/package.py
Labels: new-version, dependencies, update-package

#31836 gromacs: add CP2K
  var/spack/repos/builtin/packages/cp2k/package.py
  var/spack/repos/builtin/packages/dbcsr/package.py
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#31990 Swig externfind
  var/spack/repos/builtin/packages/swig/package.py
Labels: update-package

#31989 py-uproot: Add checksums for new versions
  var/spack/repos/builtin/packages/py-uproot/package.py
Labels: new-version, python, dependencies, update-package

#31615 TensorFlow/Keras: add versions 2.8–2.9
  var/spack/repos/builtin/packages/py-absl-py/package.py
  var/spack/repos/builtin/packages/py-keras/package.py
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: new-version, python, dependencies, patch, update-package, conflicts, core

#31986 Add checksum for py-lxml 4.9.0 and 4.9.1
  var/spack/repos/builtin/packages/py-lxml/package.py
Labels: new-version, python, dependencies, update-package

#31991 axom@0.6.1 %oneapi: patch examples
  share/spack/gitlab/cloud_pipelines/stacks/e4s-oneapi/spack.yaml
  var/spack/repos/builtin/packages/axom/examples-oneapi.patch
  var/spack/repos/builtin/packages/axom/package.py
Labels: patch, update-package, e4s, gitlab, oneapi, core

#31888 rdma-core: add v22.4
  var/spack/repos/builtin/packages/rdma-core/package.py
Labels: new-version, update-package

#31969 Update release procedure, keep CHANGELOG up-to-date
  CHANGELOG.md
  lib/spack/docs/developer_guide.rst
Labels: documentation, core

#32008 Add base class for dir visitor
  lib/spack/llnl/util/filesystem.py
  lib/spack/llnl/util/link_tree.py
  lib/spack/spack/test/llnl/util/filesystem.py
Labels: tests, utilities, core

#32007 New patch release SLEPc 3.17.2
  var/spack/repos/builtin/packages/py-slepc4py/package.py
  var/spack/repos/builtin/packages/slepc/package.py
Labels: new-version, python, update-package

#32001 py-gpytorch: add v1.8.1
  var/spack/repos/builtin/packages/py-gpytorch/package.py
Labels: new-version, python, update-package

#31823 PythonPackage: add --config-settings support
  lib/spack/docs/build_systems/pythonpackage.rst
  lib/spack/spack/build_systems/python.py
Labels: documentation, dependencies, build-systems, core

#31998 Reduce installation noise: filter path padding and make some details debug level 2
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/installer.py
  lib/spack/spack/relocate.py
  lib/spack/spack/test/util/path.py
  lib/spack/spack/util/path.py
Labels: tests, binary-packages, utilities, core

#32010 Add checksum for new py-semantic-version versions
  var/spack/repos/builtin/packages/py-semantic-version/package.py
Labels: new-version, python, update-package

#31988 Add checksum for py-pynacl 1.5.0
  var/spack/repos/builtin/packages/py-pynacl/package.py
Labels: new-version, python, dependencies, update-package

#32009 Add checksum for py-setuptools-rust 1.2.0 and 1.4.1
  var/spack/repos/builtin/packages/py-setuptools-rust/package.py
Labels: new-version, python, dependencies, update-package

#32015 ADIOS2: ZFP<1.0
  var/spack/repos/builtin/packages/adios2/package.py
Labels: dependencies, update-package, ecp, e4s

#31983 libjxl: add new package
  var/spack/repos/builtin/packages/gdal/package.py
  var/spack/repos/builtin/packages/googletest/package.py
  var/spack/repos/builtin/packages/highway/package.py
  var/spack/repos/builtin/packages/libjxl/package.py
  var/spack/repos/builtin/packages/lodepng/package.py
  var/spack/repos/builtin/packages/sjpeg/package.py
Labels: new-version, new-package, dependencies, update-package, conflicts

#32012 modules: fix missing imports
  lib/spack/spack/modules/common.py
  lib/spack/spack/modules/lmod.py
Labels: modules, core

#31849 WarpX: 22.08
  var/spack/repos/builtin/packages/py-warpx/package.py
  var/spack/repos/builtin/packages/warpx/package.py
Labels: new-version, python, dependencies, update-package, ecp, e4s

#32020 py-pytorch-lightning: add v1.7.1
  var/spack/repos/builtin/packages/py-pytorch-lightning/package.py
Labels: new-version, python, update-package

#31868 update config for parallelio
  var/spack/repos/builtin/packages/parallelio/package.py
Labels: new-version, dependencies, resources, update-package, maintainers, new-variant

#31996 core: add a helpful long message for UnknownPackageError
  lib/spack/spack/repo.py
Labels: core

#31981 libgta: add new package
  var/spack/repos/builtin/packages/gdal/package.py
  var/spack/repos/builtin/packages/libgta/package.py
Labels: new-version, new-package, dependencies, update-package

#31801 gaudi: disentangle variant 'optional'
  var/spack/repos/builtin/packages/gaudi/package.py
Labels: dependencies, update-package, conflicts, new-variant

#31942 Enforcing ncurses with 'ABI=5' as dependency for ARM HPC Compiler 22.0.1 on Rocky Linux 8.6
  var/spack/repos/builtin/packages/arm/package.py
Labels: dependencies, update-package

#31907 singularity-eos: add dependency to py-pybind11
  var/spack/repos/builtin/packages/singularity-eos/package.py
Labels: dependencies, update-package

#31997 intel-tbb add 2021.4, 2021.5, and master branch
  var/spack/repos/builtin/packages/intel-tbb/package.py
Labels: new-version, intel, update-package, e4s

#30718 Attempt to get spack working on nixos
  lib/spack/spack/build_systems/autotools.py
Labels: documentation, dependencies, update-package, build-systems, core

#32031 likwid: Add version 5.2.2
  var/spack/repos/builtin/packages/likwid/package.py
Labels: new-version, update-package

#32003 Bugfix/Update Tests That Need Access to /tmp/store
  lib/spack/spack/test/bootstrap.py
  lib/spack/spack/test/cmd/env.py
Labels: tests, commands, bugfix, core

#32006 llvm: fix LLDB_ENABLE_[N]CURSES
  var/spack/repos/builtin/packages/llvm/package.py
Labels: update-package

#28548 bazel: add patches to compile with gcc-11
  var/spack/repos/builtin/packages/bazel/gcc11_1.patch
  var/spack/repos/builtin/packages/bazel/gcc11_2.patch
  var/spack/repos/builtin/packages/bazel/gcc11_3.patch
  var/spack/repos/builtin/packages/bazel/gcc11_4.patch
  var/spack/repos/builtin/packages/bazel/package.py
Labels: new-version, dependencies, patch, update-package, conflicts, new-variant

#32033 Updated the RDKit dependencies for Boost variants.
  var/spack/repos/builtin/packages/rdkit/package.py
Labels: dependencies, update-package

#32034 Add support for using Spdlog in LBANN
  var/spack/repos/builtin/packages/lbann/package.py
Labels: dependencies, update-package

#32052 precice: add version 2.5.0
  var/spack/repos/builtin/packages/precice/package.py
Labels: new-version, update-package

#32055 bubblewrap: bump
  var/spack/repos/builtin/packages/bubblewrap/package.py
  var/spack/repos/builtin/packages/libcap/package.py
Labels: new-version, update-package

#32050 py-scipy: 1.4.0:1.4.1 conflict on ppc64le
  var/spack/repos/builtin/packages/py-scipy/package.py
Labels: python, update-package, conflicts

#32040 info: properly report default when for overridden variants
  lib/spack/spack/cmd/info.py
Labels: commands, bugfix, core

#32027 Add missing info to diagnostic for circular provides
  lib/spack/spack/directives.py
Labels: error-messages, directives, core

#32029 py-tensorflow-estimator: new versions
  var/spack/repos/builtin/packages/py-tensorflow-estimator/package.py
Labels: new-version, python, dependencies, update-package

#32051 py-matplotlib: add v3.5.3
  var/spack/repos/builtin/packages/py-matplotlib/package.py
Labels: new-version, python, dependencies, update-package

#32026 pin tbb version for salmon & dyninst
  var/spack/repos/builtin/packages/dyninst/package.py
  var/spack/repos/builtin/packages/intel-tbb/package.py
  var/spack/repos/builtin/packages/salmon/package.py
Labels: new-version, dependencies, intel, update-package, conflicts
