Repository spack/spack, pull requests merged in 2022-03, with the labels that each got.

#29257 assimp: patch for issue that prevents 5.1: from working with qt
  var/spack/repos/builtin/packages/assimp/package.py
  var/spack/repos/builtin/packages/qt/package.py
Labels: dependencies, patch, update-package

#29251 libuv: remove bash dependency
  var/spack/repos/builtin/packages/libuv/package.py
Labels: update-package

#29222 Bugfix/test: properly check installed specs
  lib/spack/spack/test/cmd/env.py
Labels: tests, bugfix

#28870 mesa: add conflict with llvm@13
  var/spack/repos/builtin/packages/mesa/package.py
Labels: update-package, conflicts

#29176 py-keyring: add 23.5.0
  var/spack/repos/builtin/packages/py-keyring/package.py
Labels: new-version, python, dependencies, update-package

#29177 py-keyrings-alt: add 4.1.0
  var/spack/repos/builtin/packages/py-keyrings-alt/package.py
Labels: new-version, python, dependencies, update-package

#29262 py-nest-asyncio: add 1.5.4
  var/spack/repos/builtin/packages/py-nest-asyncio/package.py
Labels: new-version, python, update-package

#29265 py-neurora: add 1.1.6.1
  var/spack/repos/builtin/packages/py-neurora/package.py
Labels: new-version, python, update-package

#29270 llvm: add missing system libs
  var/spack/repos/builtin/packages/llvm/package.py
Labels: dependencies, update-package

#29189 Fix tags attribute for tar
  var/spack/repos/builtin/packages/tar/package.py
Labels: update-package

#29275 add mochi-margo 0.9.7
  var/spack/repos/builtin/packages/mochi-margo/package.py
Labels: new-version, update-package

#29274 add a tagged/cksummed bmi release number
  var/spack/repos/builtin/packages/bmi/package.py
Labels: new-version, update-package

#29261 Fix typos when forwarding arguments to traverse_edges
  lib/spack/spack/concretize.py
  lib/spack/spack/package.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/spec_dag.py
Labels: tests, maintainers, ci, bugfix

#29266 py-nibabel: add 3.2.2
  var/spack/repos/builtin/packages/py-nibabel/package.py
Labels: new-version, python, dependencies, update-package

#29163 Paraview: Use 'UNIX Makefiles' instead of ninja as the CMake generator for XL
  var/spack/repos/builtin/packages/paraview/package.py
Labels: dependencies, update-package, new-variant

#29054 ECP-SDK: ParaView 5.11: required for CUDA
  var/spack/repos/builtin/packages/ecp-data-vis-sdk/package.py
Labels: dependencies, update-package, conflicts

#28878 ECP-SDK: Propagate cuda and adios2 to ascent
  var/spack/repos/builtin/packages/ecp-data-vis-sdk/package.py
Labels: dependencies, update-package, conflicts

#21722 make @llnl.util.lang.memoized support kwargs
  lib/spack/llnl/util/lang.py
  lib/spack/spack/test/llnl/util/lang.py
Labels: tests, utilities

#29303 [julia] added version 1.7.2
  var/spack/repos/builtin/packages/julia/package.py
Labels: new-version, update-package

#28745 [acts] Add version 17, digitization plugin went in core
  var/spack/repos/builtin/packages/acts/package.py
Labels: new-version, dependencies, update-package, new-variant

#29017 HIP: Change mesa dep to gl
  var/spack/repos/builtin/packages/aomp/package.py
  var/spack/repos/builtin/packages/hip-rocclr/package.py
  var/spack/repos/builtin/packages/hip/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/llvm-version-suffix-macro.patch
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/llvm/llvm-version-suffix-macro.patch
  var/spack/repos/builtin/packages/llvm/package.py
  var/spack/repos/builtin/packages/mesa18/package.py
  var/spack/repos/builtin/packages/rocm-opencl/package.py
  var/spack/repos/builtin/packages/rocm-openmp-extras/package.py
Labels: dependencies, update-package, conflicts, new-variant

#29311 gfsio: support Fujitsu compiler
  var/spack/repos/builtin/packages/gfsio/package.py
Labels: update-package

#29305 test/installer.py: Remove commented code and inaccurate docstring
  lib/spack/spack/test/installer.py
Labels: tests

#27253 [libdrm] new versions up to 2.4.110, build system meson
  var/spack/repos/builtin/packages/libdrm/package.py
Labels: new-version, update-package, maintainers

#29195 nss: set C++ compiler
  var/spack/repos/builtin/packages/nss/package.py
Labels: update-package

#29289 prophecy4f: add version 3.0.2
  var/spack/repos/builtin/packages/prophecy4f/package.py
Labels: new-version, new-package, dependencies, maintainers

#29309 OpenMPI: Correct slurm-pmi conflict version
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: update-package, conflicts

#29319 hbase: add version 2.4.9
  var/spack/repos/builtin/packages/hbase/package.py
Labels: new-version, dependencies, update-package

#29318 relion: add version 4.0-beta
  var/spack/repos/builtin/packages/relion/package.py
Labels: new-version, update-package

#29302 Removing nice to have Python packages from the LBANN and DiHydrogen
  var/spack/repos/builtin/packages/dihydrogen/package.py
  var/spack/repos/builtin/packages/lbann/package.py
Labels: dependencies, update-package

#27257 kokkos: make Spack accept CUDA compute capability 8.6
  var/spack/repos/builtin/packages/kokkos/package.py
Labels: update-package

#29208 py-matplotlib-inline: add 0.1.3
  var/spack/repos/builtin/packages/py-matplotlib-inline/package.py
Labels: new-version, python, update-package

#29219 py-multidict: add 6.0.2 and get sources fom pypi
  var/spack/repos/builtin/packages/py-multidict/package.py
Labels: new-version, python, dependencies, update-package

#29215 py-mistune: add 2.0.2 and change source to pypi
  var/spack/repos/builtin/packages/py-mistune/package.py
Labels: new-version, python, update-package

#29207 py-mako-1.1.6
  var/spack/repos/builtin/packages/py-mako/package.py
Labels: new-version, python, dependencies, update-package

#28575 add rocmcc compiler based on aocc and clang
  lib/spack/env/cc
  lib/spack/env/rocmcc/amdclang
  lib/spack/env/rocmcc/amdclang++
  lib/spack/env/rocmcc/amdflang
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/compilers/rocmcc.py
  lib/spack/spack/modules/lmod.py
Labels: compilers, modules

#29197 nss: add 3.75
  var/spack/repos/builtin/packages/nss/package.py
Labels: new-version, update-package

#29200 New version: py-testpath 0.6.0; update py-flit-core dependency
  var/spack/repos/builtin/packages/py-testpath/package.py
Labels: new-version, python, dependencies, update-package

#29212 Add checksum for gmp 6.2.0
  var/spack/repos/builtin/packages/gmp/package.py
Labels: new-version, update-package

#28736 Revert GCS fetch strategy, to remove s3 interface
  lib/spack/spack/fetch_strategy.py
Labels: fetching

#29213 Add checksum for py-setuptools-scm 5.0.2
  var/spack/repos/builtin/packages/py-setuptools-scm/package.py
Labels: new-version, python, dependencies, update-package

#29324 New package: py-npx
  var/spack/repos/builtin/packages/py-npx/package.py
Labels: new-version, new-package, python, dependencies

#29030 llvm: fix build with Fujitsu compiler, and conflicts gcc@8.4 on aarch64
  var/spack/repos/builtin/packages/llvm/llvm12-thread.patch
  var/spack/repos/builtin/packages/llvm/llvm13-fujitsu.patch
  var/spack/repos/builtin/packages/llvm/llvm13-thread.patch
  var/spack/repos/builtin/packages/llvm/package.py
Labels: patch, update-package, conflicts

#29327 libdrm@2.4.101: needs meson for build
  var/spack/repos/builtin/packages/libdrm/package.py
Labels: dependencies, update-package, e4s, AMD, ROCm/hip

#29329 Update MVAPICH2 to latest release verison 2.3.7
  var/spack/repos/builtin/packages/mvapich2/package.py
Labels: new-version, update-package

#29334 WarpX: 22.03
  var/spack/repos/builtin/packages/py-warpx/package.py
  var/spack/repos/builtin/packages/warpx/package.py
Labels: new-version, python, dependencies, update-package, ecp, e4s

#29221 Fix importing Spack packages as Python modules
  lib/spack/spack/dependency.py
  lib/spack/spack/patch.py
  lib/spack/spack/repo.py
  lib/spack/spack/test/git_fetch.py
  lib/spack/spack/test/hg_fetch.py
  lib/spack/spack/test/install.py
  lib/spack/spack/test/repo.py
  lib/spack/spack/test/spec_dag.py
  lib/spack/spack/test/svn_fetch.py
Labels: tests, repos, maintainers, workflow, ci

#29328 qt: add 5.15.3
  var/spack/repos/builtin/packages/qt/package.py
Labels: new-version, update-package

#29330 mumps: add 5.4.1
  var/spack/repos/builtin/packages/mumps/package.py
Labels: new-version, update-package

#29267 lhapdf: add python variant, change source tarball url to avoid python build failures
  var/spack/repos/builtin/packages/lhapdf/package.py
Labels: new-version, dependencies, update-package, new-variant, extends

#29233 Fix typo in package exempi: 'polatform' --> 'platform'
  var/spack/repos/builtin/packages/exempi/package.py
Labels: update-package

#29243 charmpp: resolve conflict with '+smp'
  var/spack/repos/builtin/packages/charmpp/package.py
Labels: update-package, conflicts, new-variant

#29198 boost: update version analysis patch for fujitsu compiler.
  var/spack/repos/builtin/packages/boost/fujitsu_version_analysis-1.77.patch
  var/spack/repos/builtin/packages/boost/package.py
Labels: patch, update-package

#28932 madx: new package, versions 5.07.00, 5.08.00, 5.08.01
  var/spack/repos/builtin/packages/madx/package.py
Labels: new-version, new-package, dependencies, patch, maintainers, new-variant

#29146 slurm: add external find
  var/spack/repos/builtin/packages/slurm/package.py
Labels: update-package

#29335 dos2unix: add the external find feature for dos2unix
  var/spack/repos/builtin/packages/dos2unix/package.py
Labels: update-package

#29179 Fix checksum for spectre@2022.02.17
  var/spack/repos/builtin/packages/spectre/package.py
Labels: new-version, update-package

#28944 edm4hep: Add dependencies to py-jinja2 and py-pyyaml
  var/spack/repos/builtin/packages/edm4hep/package.py
Labels: dependencies, update-package

#29151 Added version2.2.1 for butterflypack which fixes a compiling issue with gcc<5
  var/spack/repos/builtin/packages/butterflypack/package.py
Labels: new-version, update-package, e4s

#29150 New version for openCARP packages, v9.0
  var/spack/repos/builtin/packages/meshtool/package.py
  var/spack/repos/builtin/packages/opencarp/package.py
  var/spack/repos/builtin/packages/py-carputils/package.py
Labels: new-version, python, dependencies, update-package

#29148 New package: kakoune
  var/spack/repos/builtin/packages/kakoune/package.py
Labels: new-version, new-package, dependencies, conflicts, maintainers

#29286 aws-parallelcluster: Add v2.11.5
  var/spack/repos/builtin/packages/aws-parallelcluster/package.py
Labels: new-version, update-package

#29273 amrex: add v22.03
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package, e4s

#29339 Revert "butterflypack: add v2.1.1 (#29151)"
  var/spack/repos/builtin/packages/butterflypack/package.py
Labels: update-package

#22050 Initial changes needed to build paraview@5.9.0%xl_r
  var/spack/repos/builtin/packages/eigen/package.py
  var/spack/repos/builtin/packages/eigen/xlc-compilation-3.3.4.patch
  var/spack/repos/builtin/packages/paraview/package.py
  var/spack/repos/builtin/packages/paraview/xlc-compilation-pv590.patch
Labels: patch, update-package, conflicts

#29345 New versions: qmcpack@3.12.0, 3.13.0
  var/spack/repos/builtin/packages/qmcpack/package.py
Labels: new-version, update-package, e4s

#29301 hiop: add version v0.5.4
  var/spack/repos/builtin/packages/hiop/package.py
  var/spack/repos/builtin/packages/magma/package.py
Labels: new-version, dependencies, update-package

#29139 New package: py-priority
  var/spack/repos/builtin/packages/py-priority/package.py
Labels: new-version, new-package, python, dependencies

#29347 fmt: Update version info
  var/spack/repos/builtin/packages/fmt/package.py
Labels: new-version, update-package

#29337 New package: py-colorio
  var/spack/repos/builtin/packages/py-colorio/package.py
Labels: new-version, new-package, python, dependencies

#29325 New package: py-ml-collections
  var/spack/repos/builtin/packages/py-ml-collections/package.py
Labels: new-version, new-package, python, dependencies

#29348 seacas: new version with new dependency on fmt
  var/spack/repos/builtin/packages/seacas/package.py
Labels: new-version, dependencies, update-package

#29152 find: deprecate `spack find --bootstrap` for `spack --bootstrap find`
  lib/spack/spack/cmd/find.py
  lib/spack/spack/test/cmd/find.py
Labels: tests, commands

#29343 Added version2.1.1 for butterflypack which fixes a compiling issue with gcc<5
  var/spack/repos/builtin/packages/butterflypack/package.py
Labels: new-version, update-package, e4s

#29158 starlight: add new package
  var/spack/repos/builtin/packages/starlight/package.py
Labels: new-version, new-package, patch, maintainers

#29314 Add checksum for relax@root6
  var/spack/repos/builtin/packages/relax/package.py
Labels: new-version, update-package

#29360 mesa, mesa18: Change defaults on llvm variant in order to get leaner builds
  var/spack/repos/builtin/packages/mesa/package.py
  var/spack/repos/builtin/packages/mesa18/package.py
Labels: update-package, new-variant

#29359 man-db: add gitlab repository, new version 2.10.1 (fixes MAXDIRS issue)
  var/spack/repos/builtin/packages/libpipeline/package.py
  var/spack/repos/builtin/packages/man-db/package.py
Labels: new-version, dependencies, update-package, new-variant

#29353 Strumpack v6.3.1
  var/spack/repos/builtin/packages/strumpack/package.py
Labels: new-version, update-package, e4s

#29346 PaRSEC: moved repository to GitHub, now require cmake 3.18
  var/spack/repos/builtin/packages/parsec/package.py
Labels: new-version, dependencies, update-package

#28688 py-jupytext: add version 0.13.6
  var/spack/repos/builtin/packages/py-jupytext/package.py
Labels: new-version, python, dependencies, update-package

#29372 libzmq: default to ~docs
  var/spack/repos/builtin/packages/libzmq/package.py
Labels: update-package, new-variant

#29193 Bug fixes for ESMF on macOS with apple-clang+gfortran, with gfortran-10+ in general, and on Cray
  var/spack/repos/builtin/packages/esmf/package.py
Labels: update-package, maintainers

#29364 sfcio: support Fujitsu compiler
  var/spack/repos/builtin/packages/sfcio/package.py
Labels: update-package

#29366 sigio: support Fujitsu compiler
  var/spack/repos/builtin/packages/sigio/package.py
Labels: update-package

#29367 landsfcutil: support Fujitsu compiler
  var/spack/repos/builtin/packages/landsfcutil/package.py
Labels: update-package

#29391 rocsolver depends on fmt@7:8.0.1
  var/spack/repos/builtin/packages/rocsolver/package.py
Labels: dependencies, update-package, e4s, ROCm/hip

#29356 Add libtree 3.1.0
  var/spack/repos/builtin/packages/libtree/package.py
Labels: new-version, update-package

#29369 version.py: set is_commit in constructor
  lib/spack/spack/version.py
Labels: versions

#29398 Add pika 0.2.0
  var/spack/repos/builtin/packages/pika/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#29399 spectre: add docs dependencies, `BUILD_DOCS` toggle
  var/spack/repos/builtin/packages/spectre/package.py
Labels: dependencies, update-package

#29395 apfel: depend on python also for ~python variant
  var/spack/repos/builtin/packages/apfel/package.py
Labels: dependencies, update-package

#29393 BLT: Add new release
  var/spack/repos/builtin/packages/blt/package.py
Labels: new-version, update-package

#29389 Bugfix: Bolt stand alone test
  var/spack/repos/builtin/packages/bolt/package.py
Labels: update-package, e4s, stand-alone-tests

#28733 rocm-smi: project moved (deprecate)
  var/spack/repos/builtin/packages/rocm-smi/package.py
Labels: new-version, update-package, deprecation

#29400 vectorclass-version2: Add new package
  var/spack/repos/builtin/packages/vectorclass-version2/package.py
Labels: new-version, new-package, maintainers

#29225 gurobi: update and fix build
  var/spack/repos/builtin/packages/gurobi/package.py
Labels: new-version, dependencies, update-package

#29388 Add new version of SENSEI
  var/spack/repos/builtin/packages/sensei/package.py
Labels: new-version, update-package

#29132 Fix overconstrained HDF5 variants
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
  var/spack/repos/builtin/packages/axom/package.py
  var/spack/repos/builtin/packages/conduit/package.py
  var/spack/repos/builtin/packages/hdf5/package.py
  var/spack/repos/builtin/packages/lbann/package.py
  var/spack/repos/builtin/packages/py-h5py/package.py
  var/spack/repos/builtin/packages/silo/package.py
Labels: python, dependencies, patch, update-package, conflicts, e4s, gitlab, fixed-by-new-concretizer

#29396 cray-libsci/cp2k: add constraints to get consistently linked executables
  var/spack/repos/builtin/packages/cp2k/package.py
  var/spack/repos/builtin/packages/cray-libsci/package.py
Labels: dependencies, virtual-dependencies, update-package

#29365 hztool: new package (dependency of sherpa #29338)
  var/spack/repos/builtin/packages/hztool/package.py
Labels: new-version, new-package, maintainers

#29256 trilinos: new variant for the Panzer package
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: dependencies, update-package, conflicts, new-variant

#29384 py-param: Add new package
  var/spack/repos/builtin/packages/py-param/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#29386 py-control: Add new package
  var/spack/repos/builtin/packages/py-control/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#29415 Added new version hashes to rdkit
  var/spack/repos/builtin/packages/rdkit/package.py
Labels: new-version, update-package

#29407 libblastrampoline: add v5.0.2
  var/spack/repos/builtin/packages/libblastrampoline/package.py
Labels: new-version, update-package

#29278 add a new package zpares
  var/spack/repos/builtin/packages/zpares/package.py
Labels: new-version, new-package, dependencies, conflicts, new-variant

#29377 qmtest: New package
  var/spack/repos/builtin/packages/py-qmtest/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#29411 geant4: new version 11.0.1
  var/spack/repos/builtin/packages/geant4/package.py
Labels: new-version, update-package

#29147 Add ROCmPackage to hypre
  var/spack/repos/builtin/packages/hypre/package.py
Labels: update-package, conflicts, e4s, ROCm/hip

#29341 New package: sigcpp
  var/spack/repos/builtin/packages/sigcpp/package.py
Labels: new-version, new-package, new-variant

#26767 New Package: HiCOPS
  var/spack/repos/builtin/packages/hicops/package.py
  var/spack/repos/builtin/packages/lastz/package.py
Labels: new-version, new-package, dependencies, update-package, conflicts, maintainers, new-variant

#29401 hadoop-xrootd: Add new package
  var/spack/repos/builtin/packages/hadoop-xrootd/package.py
Labels: new-version, new-package, dependencies, maintainers

#29419 ci.py: fix utf-8 issue with git log output
  lib/spack/spack/cmd/ci.py
Labels: commands, hotfix

#29405 Fix tab completion erroring with `spack unit-test`
  lib/spack/spack/cmd/commands.py
  share/spack/bash/spack-completion.in
  share/spack/spack-completion.bash
Labels: commands

#28712 ECP-SDK/VTK-m: Make ROCm + VTK-m contraints
  var/spack/repos/builtin/packages/ecp-data-vis-sdk/package.py
  var/spack/repos/builtin/packages/vtk-m/package.py
Labels: dependencies, update-package, conflicts, new-variant

#29420 Diffutils: Conflict nvhpc when not 3.7
  var/spack/repos/builtin/packages/diffutils/package.py
Labels: update-package, conflicts

#29402 Hide package repository count when redirecting stdout
  lib/spack/spack/cmd/repo.py
Labels: commands, workflow

#29138 New package: py-yaspin
  var/spack/repos/builtin/packages/py-yaspin/package.py
Labels: new-version, new-package, python, dependencies

#29140 New package: py-wsproto
  var/spack/repos/builtin/packages/py-wsproto/package.py
Labels: new-version, new-package, python, dependencies

#29417 LBANN SW stack unsupported compiler
  var/spack/repos/builtin/packages/aluminum/package.py
  var/spack/repos/builtin/packages/dihydrogen/package.py
  var/spack/repos/builtin/packages/hydrogen/package.py
  var/spack/repos/builtin/packages/lbann/package.py
Labels: dependencies, update-package

#29416 Removed excessive constraints on dependent packages in LBANN
  var/spack/repos/builtin/packages/lbann/package.py
Labels: dependencies, update-package

#29336 environment.py: allow link:run
  lib/spack/docs/environments.rst
  lib/spack/llnl/util/lang.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/schema/env.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/llnl/util/lang.py
Labels: documentation, tests, environments, utilities

#29424 fms: add v2021.04
  var/spack/repos/builtin/packages/fms/package.py
Labels: new-version, update-package, e4s

#29383 amdscalapack: Remove build_type variant
  var/spack/repos/builtin/packages/amdscalapack/package.py
Labels: update-package

#28597 wonton: new version
  var/spack/repos/builtin/packages/jali/package.py
  var/spack/repos/builtin/packages/wonton/package.py
Labels: new-version, dependencies, update-package

#29444 patchelf: 0.14.x
  var/spack/repos/builtin/packages/patchelf/package.py
Labels: new-version, update-package

#28673 Allow for multiple dependencies/dependents from the same package
  lib/spack/llnl/util/lang.py
  lib/spack/spack/cmd/deactivate.py
  lib/spack/spack/database.py
  lib/spack/spack/dependency.py
  lib/spack/spack/graph.py
  lib/spack/spack/installer.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/database.py
  lib/spack/spack/test/graph.py
  lib/spack/spack/test/spec_dag.py
  var/spack/repos/builtin/packages/petsc/package.py
Labels: tests, commands, update-package, utilities

#29439 compiler.py: expose compiler_environment context manager and use in intel-mkl
  lib/spack/spack/build_systems/intel.py
  lib/spack/spack/compiler.py
Labels: compilers, build-systems

#29355 Add Scotch v7.0.1, now supporting CMake
  var/spack/repos/builtin/packages/scotch/package.py
Labels: new-version, update-package, maintainers, build-systems

#29448 amr-wind: Add ROCmPackage
  var/spack/repos/builtin/packages/amr-wind/package.py
Labels: dependencies, update-package, conflicts, maintainers, e4s, new-variant

#29453 openblas: add v0.3.20
  var/spack/repos/builtin/packages/openblas/package.py
Labels: new-version, update-package, e4s

#29422 py-hepdata-converter: Add new package
  var/spack/repos/builtin/packages/py-hepdata-converter/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#29456 perl: prefer all stable releases
  var/spack/repos/builtin/packages/perl/package.py
Labels: new-version, update-package

#29455 Add py-torch 1.11, py-torchvision 0.12
  var/spack/repos/builtin/packages/py-torch/package.py
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: new-version, python, dependencies, update-package

#29440 module_cmd.py: use posix awk; fix stderr redirection
  lib/spack/spack/test/module_parsing.py
  lib/spack/spack/util/module_cmd.py
Labels: tests, utilities

#29480 python: fix build after change in Spec.dependencies signature
  var/spack/repos/builtin/packages/python/package.py
Labels: python, update-package

#29473 wps: new version
  var/spack/repos/builtin/packages/wps/package.py
  var/spack/repos/builtin/packages/wps/patches/4.3.1/arch.configure.defaults.patch
  var/spack/repos/builtin/packages/wps/patches/4.3/arch.configure.defaults.patch
Labels: new-version, patch, update-package

#29470 itk: add MINC file support
  var/spack/repos/builtin/packages/itk/package.py
Labels: update-package, new-variant

#29471 itk: add verion 5.3rc02 (contains fix for ITK/issues/2674)
  var/spack/repos/builtin/packages/itk/package.py
Labels: new-version, update-package

#29463 Remove "setup_environment" and "setup_dependent_environment"
  lib/spack/spack/package.py
  var/spack/repos/builtin.mock/packages/callpath/package.py
  var/spack/repos/builtin.mock/packages/cmake-client/package.py
  var/spack/repos/builtin.mock/packages/cmake/package.py
  var/spack/repos/builtin.mock/packages/conflict-parent/package.py
  var/spack/repos/builtin.mock/packages/conflict/package.py
  var/spack/repos/builtin.mock/packages/hash-test1/package.py
  var/spack/repos/builtin.mock/packages/hash-test2/package.py
  var/spack/repos/builtin.mock/packages/hash-test3/package.py
  var/spack/repos/builtin.mock/packages/module-path-separator/package.py
  var/spack/repos/builtin.mock/packages/mpileaks/package.py
  var/spack/repos/builtin/packages/metall/package.py
  var/spack/repos/tutorial/packages/elpa/package.py
  var/spack/repos/tutorial/packages/mpich/package.py
Labels: update-package

#29460 rapidjson: Add doc variant
  var/spack/repos/builtin/packages/rapidjson/package.py
Labels: dependencies, update-package, new-variant

#29438 FreeFem: new version 4.10
  var/spack/repos/builtin/packages/freefem/package.py
Labels: new-version, update-package

#29483 toml11: v3.7.1
  var/spack/repos/builtin/packages/toml11/package.py
Labels: new-version, update-package

#29472 Hdf5: fix constraint
  var/spack/repos/builtin/packages/hdf5/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#29408 hsa-rocr-dev, llvm-amdgpu: change dependency libelf to elf
  var/spack/repos/builtin/packages/hsa-rocr-dev/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
Labels: dependencies, update-package

#29458 eztrace: new version and refactor for cmake/autotools build
  var/spack/repos/builtin/packages/eztrace/package.py
Labels: new-version, dependencies, update-package, conflicts

#29441 compiler.py: early return in compiler_environment when no modules
  lib/spack/spack/compiler.py
Labels: compilers

#29488 vecgeom: add v1.1.19
  var/spack/repos/builtin/packages/vecgeom/package.py
Labels: new-version, dependencies, update-package

#29476 ci: add e4s macos stack
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-mac/spack.yaml
Labels: e4s, gitlab, ci
