Repository spack/spack, pull requests merged in 2022-01, with the labels that each got.

#28138 [py-aiosignal] Added new py-aiosignal package
  var/spack/repos/builtin/packages/py-aiosignal/package.py
Labels: new-version, new-package, python, dependencies

#28199 py-numpy: add v1.22.0
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: new-version, python, dependencies, update-package

#28198 py-nbsphinx: add v0.8.8
  var/spack/repos/builtin/packages/py-nbsphinx/package.py
Labels: new-version, python, update-package

#28197 libsharp: add pic option
  var/spack/repos/builtin/packages/libsharp/package.py
Labels: update-package, new-variant

#28192 Revert "[py-aiohttp] added new version"
  var/spack/repos/builtin/packages/py-aiohttp/package.py
Labels: python, dependencies, update-package

#28185 libtiff: fix build on macOS Monterey
  var/spack/repos/builtin/packages/libtiff/no-include-root.patch
  var/spack/repos/builtin/packages/libtiff/package.py
Labels: macOS, dependencies, patch, update-package

#28179 direnv: add info for version 2.30.2
  var/spack/repos/builtin/packages/direnv/package.py
Labels: new-version, update-package

#28157 gromacs-swaxs: add new versions
  var/spack/repos/builtin/packages/gromacs-swaxs/package.py
Labels: new-version, update-package

#28107 openmpi: extend version range for cray flags
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: update-package

#28134 elpa: add version 2021.11.001, add +autotune variant
  var/spack/repos/builtin/packages/elpa/package.py
Labels: new-version, dependencies, update-package, new-variant

#28200 py-torchgeo: add v0.2.0
  var/spack/repos/builtin/packages/py-torchgeo/package.py
Labels: new-version, python, dependencies, update-package

#28163 ROOT: unset MACOSX_DEPLOYMENT_TARGET for macOS
  var/spack/repos/builtin/packages/root/package.py
Labels: update-package

#27864 VTKm: introduce new release
  var/spack/repos/builtin/packages/vtk-h/package.py
  var/spack/repos/builtin/packages/vtk-m/package.py
Labels: new-version, dependencies, update-package, e4s

#27820 apcomp add new release and new variant
  var/spack/repos/builtin/packages/apcomp/package.py
Labels: new-version, update-package, maintainers, new-variant

#28128 cp2k: fix dependency libraries
  var/spack/repos/builtin/packages/cp2k/package.py
  var/spack/repos/builtin/packages/libint/package.py
Labels: update-package

#28207 py-msrest: new version 0.6.21
  var/spack/repos/builtin/packages/py-msrest/package.py
Labels: new-version, python, update-package

#28208 py-azure-core: Added v1.21.1
  var/spack/repos/builtin/packages/py-azure-core/package.py
Labels: new-version, python, dependencies, update-package

#28194 [py-asynctest] Added py-asynctest package
  var/spack/repos/builtin/packages/py-asynctest/package.py
Labels: new-version, new-package, python, dependencies

#28209 New package: py-azure-storage-blob
  var/spack/repos/builtin/packages/py-azure-storage-blob/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#28210 [py-aiohttp] added new version
  var/spack/repos/builtin/packages/py-aiohttp/package.py
Labels: new-version, python, dependencies, update-package

#28191 qt: depends_on assimp@5.0 when @5.14: +opengl
  var/spack/repos/builtin/packages/qt/package.py
  var/spack/repos/builtin/packages/qt/qt514-quick3d-assimp.patch
Labels: dependencies, patch, update-package

#28218 namd: Fix issue when building with interface=python ^python@3.8
  var/spack/repos/builtin/packages/namd/namd-python38.patch
  var/spack/repos/builtin/packages/namd/package.py
Labels: patch, update-package

#28214 amrex: add new release 22.01
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package, e4s

#28217 doxygen: add v1.9.3
  var/spack/repos/builtin/packages/doxygen/package.py
Labels: new-version, update-package

#28216 doxygen: fix build issue with external Py3
  var/spack/repos/builtin/packages/doxygen/package.py
Labels: update-package

#28071 add cudnn v8.3.1
  var/spack/repos/builtin/packages/cudnn/package.py
Labels: update-package

#28211 charmpp: add conflict with +shared on macOS with GCC
  var/spack/repos/builtin/packages/charmpp/package.py
Labels: update-package, conflicts

#28091 Drop preferred hdf5 version
  var/spack/repos/builtin/packages/conduit/package.py
  var/spack/repos/builtin/packages/hdf5/package.py
  var/spack/repos/builtin/packages/silo/package.py
Labels: new-version, dependencies, update-package, conflicts

#28222 neovim: new version 0.6.1
  var/spack/repos/builtin/packages/neovim/package.py
Labels: new-version, update-package

#28135 [py-gpustat] Added new version
  var/spack/repos/builtin/packages/py-gpustat/package.py
Labels: new-version, python, dependencies, update-package

#28230 new package: r-ccp
  var/spack/repos/builtin/packages/r-ccp/package.py
Labels: new-version, new-package, R

#28231 new package: r-rpsychi
  var/spack/repos/builtin/packages/r-rpsychi/package.py
Labels: new-version, new-package, R, dependencies

#28229 new package: r-cca and dependencies
  var/spack/repos/builtin/packages/r-ash/package.py
  var/spack/repos/builtin/packages/r-cca/package.py
  var/spack/repos/builtin/packages/r-fda/package.py
  var/spack/repos/builtin/packages/r-fds/package.py
  var/spack/repos/builtin/packages/r-hdrcde/package.py
  var/spack/repos/builtin/packages/r-rainbow/package.py
Labels: new-version, new-package, R, dependencies

#28223 Fix: py-adios Cython run
  var/spack/repos/builtin/packages/py-adios/package.py
Labels: build-error, new-version, python, update-package, maintainers

#28150 New package: py-fastdownload
  var/spack/repos/builtin/packages/py-fastdownload/package.py
Labels: new-version, new-package, python, dependencies

#28220 py-smart-open: Adding new version and dependencies
  var/spack/repos/builtin/packages/py-smart-open/package.py
Labels: new-version, python, dependencies, update-package, maintainers, new-variant

#28243 snap-korf: version update + fix for compilers newer than gcc5
  var/spack/repos/builtin/packages/snap-korf/package.py
Labels: build-error, new-version, update-package

#28239 new package: py-lmdb
  var/spack/repos/builtin/packages/py-lmdb/package.py
Labels: new-version, new-package, python, dependencies

#28248 GnuPG: add v2.3.4 and update dependencies
  var/spack/repos/builtin/packages/gnupg/package.py
  var/spack/repos/builtin/packages/libgcrypt/package.py
  var/spack/repos/builtin/packages/libgpg-error/package.py
  var/spack/repos/builtin/packages/libksba/package.py
  var/spack/repos/builtin/packages/pinentry/package.py
Labels: new-version, update-package

#28251 conditional rocm variants in sirius/spfft
  var/spack/repos/builtin/packages/sirius/package.py
  var/spack/repos/builtin/packages/spfft/package.py
Labels: update-package, new-variant

#28250 Build subversion in parallel
  var/spack/repos/builtin/packages/subversion/package.py
Labels: new-version, update-package

#28249 Add ccache 4.5.x
  var/spack/repos/builtin/packages/ccache/package.py
Labels: new-version, update-package

#27784 VTK: Patch ADIOS2 module to fix cyclic dependency
  var/spack/repos/builtin/packages/paraview/package.py
  var/spack/repos/builtin/packages/paraview/vtk-adios2-module-no-kit.patch
  var/spack/repos/builtin/packages/vtk/package.py
  var/spack/repos/builtin/packages/vtk/vtk-adios2-module-no-kit.patch
Labels: dependencies, patch, update-package, conflicts

#27971 py-zipfile-deflate64: add new package
  var/spack/repos/builtin/packages/py-zipfile-deflate64/package.py
Labels: new-version, new-package, python, dependencies

#28252 Snakemake: New Version 6.12.3
  var/spack/repos/builtin/packages/py-ratelimiter/package.py
  var/spack/repos/builtin/packages/snakemake/package.py
Labels: new-version, new-package, python, dependencies, update-package, maintainers, new-variant

#28253 py-appdirs: patch for encoding issue
  var/spack/repos/builtin/packages/py-appdirs/decode-appdirs.patch
  var/spack/repos/builtin/packages/py-appdirs/package.py
Labels: python, patch, update-package

#28254 py-pyzmq: fix deptype of libzmq
  var/spack/repos/builtin/packages/py-pyzmq/package.py
Labels: python, dependencies, update-package

#28241 Address legion package build issue on macOS with apple-clang-12
  var/spack/repos/builtin/packages/legion/package.py
Labels: update-package, new-variant

#27855 fix linux version parser to strip characters that Version() can't handle
  lib/spack/spack/operating_systems/linux_distro.py
  var/spack/repos/builtin/packages/qt/package.py
Labels: update-package, architecture

#27735 llvm: make targets a multivalued variant
  share/spack/gitlab/cloud_pipelines/stacks/e4s-on-power/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
  var/spack/repos/builtin/packages/iwyu/package.py
  var/spack/repos/builtin/packages/llvm/package.py
  var/spack/repos/builtin/packages/zig/package.py
Labels: dependencies, update-package, conflicts, gitlab

#27386 GCC: sanitizer patches for gcc-5
  var/spack/repos/builtin/packages/gcc/glibc-2.31-libsanitizer-3-gcc-5.patch
  var/spack/repos/builtin/packages/gcc/package.py
Labels: patch, update-package

#28225 WarpX: 22.01
  var/spack/repos/builtin/packages/py-warpx/package.py
  var/spack/repos/builtin/packages/warpx/package.py
Labels: new-version, python, dependencies, update-package, ecp, e4s

#28267 r-illuminahumanmethylationepicanno-ilm10b4-hg19: remove invalid homepage
  var/spack/repos/builtin/packages/r-illuminahumanmethylationepicanno-ilm10b4-hg19/package.py
Labels: R, update-package

#28279 Fix double space in prompt after 'spack env activate -p'
  lib/spack/spack/environment/shell.py
Labels: environments

#28278 Fix spack install --v[tab] spec
  share/spack/bash/spack-completion.in
  share/spack/qa/completion-test.sh
  share/spack/spack-completion.bash
Labels: shell-support

#28244 r package: add version 4.1.2
  var/spack/repos/builtin/packages/r/package.py
Labels: new-version, R, dependencies, update-package

#28266 r-genomeinfodbdata: add version 1.2.7
  var/spack/repos/builtin/packages/r-genomeinfodbdata/package.py
Labels: new-version, R, dependencies, update-package

#28125 lapackpp: set BLA_VENDOR for cray
  var/spack/repos/builtin/packages/lapackpp/package.py
Labels: cray, update-package, ecp, e4s

#28238 GDAL: add new version
  var/spack/repos/builtin/packages/gdal/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#28286 bazel: python executable required
  var/spack/repos/builtin/packages/bazel/package.py
  var/spack/repos/builtin/packages/python/package.py
Labels: python, dependencies, update-package

#28261 viennarna: new version
  var/spack/repos/builtin/packages/viennarna/package.py
Labels: new-version, update-package

#28237 New version v4.0.0 for ip library
  var/spack/repos/builtin/packages/ip/package.py
Labels: new-version, update-package

#28291 uriparser: Add latest release 0.9.6 with security fixes
  var/spack/repos/builtin/packages/uriparser/package.py
Labels: new-version, update-package

#28269 r-illuminahumanmethylationepicmanifest: remove invalid homepage
  var/spack/repos/builtin/packages/r-illuminahumanmethylationepicmanifest/package.py
Labels: R, update-package

#28265 py-matplotlib: fix config for oneapi compiler
  var/spack/repos/builtin/packages/py-matplotlib/package.py
Labels: python, update-package

#28271 r-kegg-db: mark deprecated, removed from bioconductor-3.13
  var/spack/repos/builtin/packages/r-kegg-db/package.py
Labels: R, update-package

#28288 Adding NVIDIA HPC SDK 22.1
  var/spack/repos/builtin/packages/nvhpc/package.py
Labels: update-package

#28264 py-pyzmq: adjust constraints for python-3.9
  var/spack/repos/builtin/packages/py-pyzmq/package.py
Labels: python, dependencies, update-package

#28277 petsc, py-petsc4py: add versions 3.16.3
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/py-petsc4py/package.py
Labels: new-version, python, update-package, e4s

#28297 Add most recent Catch2 releases
  var/spack/repos/builtin/packages/catch2/package.py
Labels: new-version, update-package

#28227 ELPA: add extra configure option to bypass MPI test during build
  var/spack/repos/builtin/packages/elpa/package.py
Labels: update-package

#28226 dalton: add versions and variants
  var/spack/repos/builtin/packages/dalton/cbiexc-2018.2.patch
  var/spack/repos/builtin/packages/dalton/package.py
  var/spack/repos/builtin/packages/dalton/pelib-2020.0.patch
  var/spack/repos/builtin/packages/dalton/pelib-master.patch
  var/spack/repos/builtin/packages/dalton/soppa-2018.2.patch
Labels: new-version, dependencies, patch, update-package, conflicts, maintainers, new-variant

#28178 Damask improvements
  var/spack/repos/builtin/packages/damask-grid/package.py
  var/spack/repos/builtin/packages/damask-mesh/package.py
  var/spack/repos/builtin/packages/damask/package.py
  var/spack/repos/builtin/packages/py-damask/package.py
Labels: python, dependencies, update-package

#28325 openssh: New version 8.8p1
  var/spack/repos/builtin/packages/openssh/package.py
Labels: new-version, update-package

#28204 SQLite: add new version/variant
  var/spack/repos/builtin/packages/python/package.py
  var/spack/repos/builtin/packages/sqlite/package.py
Labels: new-version, python, update-package, new-variant

#28104 blaspp: set BLA_VENDOR for cray
  var/spack/repos/builtin/packages/blaspp/package.py
Labels: cray, update-package, ecp, e4s

#28326 Add the petaca fortran/c package
  var/spack/repos/builtin/packages/petaca/package.py
Labels: new-version, new-package, dependencies, maintainers, new-variant

#28298 hwloc: New version 2.7.0
  var/spack/repos/builtin/packages/hwloc/package.py
Labels: new-version, update-package

#28314 z3: New version 4.8.14
  var/spack/repos/builtin/packages/z3/package.py
Labels: new-version, update-package

#28293 New packages: google-crc32c and py-google-crc32c
  var/spack/repos/builtin/packages/google-crc32c/package.py
  var/spack/repos/builtin/packages/py-google-crc32c/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#28290 Python: set default config_vars
  lib/spack/spack/bootstrap.py
  var/spack/repos/builtin/packages/python/package.py
Labels: python, update-package

#28318 Stage: preserve symlinks on recursive copy
  lib/spack/spack/stage.py
Labels: stage

#28310 openssl: New version 1.1.1m
  var/spack/repos/builtin/packages/openssl/package.py
Labels: new-version, update-package

#28312 wget: New version 1.21.2
  var/spack/repos/builtin/packages/wget/package.py
Labels: new-version, update-package

#28313 wi4mpi: New version 3.5.0
  var/spack/repos/builtin/packages/wi4mpi/package.py
Labels: new-version, update-package

#28305 lorene: Beautify package title in documentation
  var/spack/repos/builtin/packages/lorene/package.py
Labels: update-package

#28303 grep: New version 3.7
  var/spack/repos/builtin/packages/grep/package.py
Labels: new-version, update-package

#28302 gdbm: New version 1.22
  var/spack/repos/builtin/packages/gdbm/package.py
Labels: new-version, update-package

#28301 gawk: New version 5.1.1
  var/spack/repos/builtin/packages/gawk/package.py
Labels: new-version, update-package

#28299 automake: New version 1.16.5
  var/spack/repos/builtin/packages/automake/package.py
Labels: new-version, update-package

#28281 Bump mbedtls and fix patches
  var/spack/repos/builtin/packages/mbedtls/package.py
Labels: new-version, patch, update-package

#28340 [hdf5] prefer even numbered version
  var/spack/repos/builtin/packages/hdf5/package.py
Labels: new-version, update-package, e4s

#28300 ffmpeg: New version 4.4.1
  var/spack/repos/builtin/packages/ffmpeg/package.py
Labels: new-version, update-package

#28334 Open3D: add missing LLVM dep
  var/spack/repos/builtin/packages/open3d/package.py
Labels: dependencies, update-package

#28333 py-aiohttp: switch to PyPI tarball
  var/spack/repos/builtin/packages/py-aiohttp/package.py
Labels: new-version, python, update-package

#28308 openblas: New version 0.3.19
  var/spack/repos/builtin/packages/openblas/package.py
Labels: new-version, update-package, e4s

#28306 memkind: New version 1.12.0
  var/spack/repos/builtin/packages/memkind/package.py
Labels: new-version, update-package

#27200 Packaging: Virtual package for libllvm
  etc/spack/defaults/packages.yaml
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/llvm/package.py
Labels: defaults, virtual-dependencies, update-package, new-variant

#28360 Fix "build systems" Gitlab pipeline
  share/spack/gitlab/cloud_pipelines/stacks/build_systems/spack.yaml
Labels: hotfix, pipelines

#28331 curl: find external
  var/spack/repos/builtin/packages/curl/package.py
Labels: update-package

#28330 libtheora: disable docs by default
  var/spack/repos/builtin/packages/libtheora/package.py
Labels: dependencies, update-package, new-variant

#28329 py-async-timeout: fix checksum issue
  var/spack/repos/builtin/packages/py-async-timeout/package.py
Labels: new-version, python, update-package

#28370 ITensor: add variant 'shared'
  var/spack/repos/builtin/packages/itensor/package.py
Labels: new-version, update-package, new-variant

#28272 Add HDF5 GPU VFD package.
  var/spack/repos/builtin/packages/hdf5-vfd-gds/package.py
Labels: new-version, new-package, dependencies, conflicts, maintainers

#27654 add runtime dependency on `node-js@4.0:` for `yarn`
  var/spack/repos/builtin/packages/node-js/package.py
  var/spack/repos/builtin/packages/yarn/package.py
Labels: dependencies, update-package, maintainers

#28262 poamsa: fix build errors for gcc10+
  var/spack/repos/builtin/packages/poamsa/package.py
Labels: update-package

#28352 Use depends_on over load in lmod
  lib/spack/spack/test/modules/lmod.py
  share/spack/templates/modules/modulefile.lua
Labels: tests

#28255 e2fsprogs: fix non-root install
  var/spack/repos/builtin/packages/e2fsprogs/package.py
Labels: update-package

#28240 perl-tk: add missing dependencies
  var/spack/repos/builtin/packages/perl-tk/package.py
Labels: dependencies, update-package

#28242 py-torch: use conditional variants
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: new-version, python, dependencies, patch, update-package, conflicts, new-variant

#28221 charmpp: disable pre-7.0.0 macOS builds with clang
  var/spack/repos/builtin/packages/charmpp/package.py
Labels: update-package, conflicts

#28353 Bump lmod
  var/spack/repos/builtin/packages/lmod/package.py
Labels: new-version, update-package

#28235 [gptune] fix gptune build (issue 28234)
  var/spack/repos/builtin/packages/gptune/package.py
Labels: update-package

#26747 Propagate +adios2 to paraview for Data and Vis SDK
  var/spack/repos/builtin/packages/ecp-data-vis-sdk/package.py
Labels: dependencies, update-package, ecp

#28232 grace: workaround for buffer overflows
  var/spack/repos/builtin/packages/grace/package.py
Labels: update-package

#28332 libogg: patch stdint include, add v1.3.5
  var/spack/repos/builtin/packages/libogg/package.py
Labels: new-version, patch, update-package

#28350 bootstrap: fix bootstrapping GnuPG from different macOS versions
  lib/spack/spack/bootstrap.py
  lib/spack/spack/build_environment.py
  lib/spack/spack/user_environment.py
Labels: bug, macOS, build-environment, buildcache, bugfix

#28323 fenics: specify python exe
  var/spack/repos/builtin/packages/fenics/package.py
Labels: update-package

#28373 musl: set syslibdir correctly, new versions
  var/spack/repos/builtin/packages/musl/package.py
Labels: new-version, update-package

#27411 AMReX Smoke Test
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package, stand-alone-tests

#25518 Add new survey package to spack.
  var/spack/repos/builtin/packages/survey/package.py
Labels: new-version, new-package, dependencies, maintainers, new-variant, extends

#28386 Python: add maintainers for Python 2
  var/spack/repos/builtin/packages/python/package.py
Labels: python, update-package, maintainers

#28346 Python: improve site_packages_dir handling
  lib/spack/spack/bootstrap.py
  lib/spack/spack/build_systems/python.py
  lib/spack/spack/build_systems/sip.py
  var/spack/repos/builtin/packages/ascent/package.py
  var/spack/repos/builtin/packages/bart/package.py
  var/spack/repos/builtin/packages/bohrium/package.py
  var/spack/repos/builtin/packages/clingo/package.py
  var/spack/repos/builtin/packages/conduit/package.py
  var/spack/repos/builtin/packages/elemental/package.py
  var/spack/repos/builtin/packages/faiss/package.py
  var/spack/repos/builtin/packages/flann/package.py
  var/spack/repos/builtin/packages/gdl/package.py
  var/spack/repos/builtin/packages/hepmc3/package.py
  var/spack/repos/builtin/packages/hoomd-blue/package.py
  var/spack/repos/builtin/packages/libxml2/package.py
  var/spack/repos/builtin/packages/llvm-doe/package.py
  var/spack/repos/builtin/packages/llvm/package.py
  var/spack/repos/builtin/packages/lvarray/package.py
  var/spack/repos/builtin/packages/migraphx/package.py
  var/spack/repos/builtin/packages/openturns/package.py
  var/spack/repos/builtin/packages/openvdb/package.py
  var/spack/repos/builtin/packages/pagmo/package.py
  var/spack/repos/builtin/packages/precice/package.py
  var/spack/repos/builtin/packages/py-flit-core/package.py
  var/spack/repos/builtin/packages/py-fury/package.py
  var/spack/repos/builtin/packages/py-gpaw/package.py
  var/spack/repos/builtin/packages/py-ninja/package.py
  var/spack/repos/builtin/packages/py-protobuf/package.py
  var/spack/repos/builtin/packages/py-pymol/package.py
  var/spack/repos/builtin/packages/py-pyqt4/package.py
  var/spack/repos/builtin/packages/py-pyqt5/package.py
  var/spack/repos/builtin/packages/py-pyside/package.py
  var/spack/repos/builtin/packages/py-python-meep/package.py
  var/spack/repos/builtin/packages/py-ruamel-yaml/package.py
  var/spack/repos/builtin/packages/py-scikit-learn/package.py
  var/spack/repos/builtin/packages/py-shiboken/package.py
  var/spack/repos/builtin/packages/py-sip/package.py
  var/spack/repos/builtin/packages/py-tensorflow/package.py
  var/spack/repos/builtin/packages/py-torch/package.py
  var/spack/repos/builtin/packages/py-xdot/package.py
  var/spack/repos/builtin/packages/python/package.py
  var/spack/repos/builtin/packages/qscintilla/package.py
  var/spack/repos/builtin/packages/sollve/package.py
  var/spack/repos/builtin/packages/sz/package.py
  var/spack/repos/builtin/packages/vapor/package.py
  var/spack/repos/builtin/packages/vigra/package.py
Labels: python, update-package, build-systems

#28400 hsakmt-roct@4.5.0: needs pkgconf
  var/spack/repos/builtin/packages/hsakmt-roct/package.py
Labels: dependencies, update-package, e4s, ROCm/hip

#28379 gdbm@1.22: fix build on MacOS
  var/spack/repos/builtin/packages/gdbm/package.py
Labels: patch, update-package

#28389 valgrind: default to ~ubsan
  var/spack/repos/builtin/packages/valgrind/package.py
Labels: update-package, new-variant

#28205 Python: add ensurepip variant
  var/spack/repos/builtin/packages/py-build/package.py
  var/spack/repos/builtin/packages/python/package.py
Labels: python, dependencies, update-package, new-variant

#28416 update to cdo-2.0.3
  var/spack/repos/builtin/packages/cdo/package.py
Labels: new-version, update-package

#28013 New Package: ATS
  var/spack/repos/builtin/packages/py-ats/package.py
Labels: new-version, new-package, python, dependencies, maintainers

#28154 [kaldi] added version 2021-11-16
  var/spack/repos/builtin/packages/kaldi/0001_CMakeLists_txt.patch
  var/spack/repos/builtin/packages/kaldi/package.py
Labels: new-version, dependencies, patch, update-package

#28401 charmpp: use CMake for versions 7.0.0+
  var/spack/repos/builtin/packages/charmpp/package.py
Labels: dependencies, update-package

#28393 Snakemake: New variant and version bump
  var/spack/repos/builtin/packages/snakemake/package.py
Labels: new-version, dependencies, update-package, new-variant

#28358 Bump up the version for ROCm-4.5.2 release
  var/spack/repos/builtin/packages/comgr/package.py
  var/spack/repos/builtin/packages/hip-rocclr/package.py
  var/spack/repos/builtin/packages/hip/package.py
  var/spack/repos/builtin/packages/hipblas/package.py
  var/spack/repos/builtin/packages/hipcub/package.py
  var/spack/repos/builtin/packages/hipfft/package.py
  var/spack/repos/builtin/packages/hipfort/package.py
  var/spack/repos/builtin/packages/hipify-clang/package.py
  var/spack/repos/builtin/packages/hipsolver/package.py
  var/spack/repos/builtin/packages/hipsparse/package.py
  var/spack/repos/builtin/packages/hsa-rocr-dev/package.py
  var/spack/repos/builtin/packages/hsakmt-roct/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/migraphx/package.py
  var/spack/repos/builtin/packages/miopen-hip/package.py
  var/spack/repos/builtin/packages/miopen-opencl/package.py
  var/spack/repos/builtin/packages/miopengemm/package.py
  var/spack/repos/builtin/packages/mivisionx/package.py
  var/spack/repos/builtin/packages/rccl/package.py
  var/spack/repos/builtin/packages/rdc/package.py
  var/spack/repos/builtin/packages/rocalution/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
  var/spack/repos/builtin/packages/rocm-clang-ocl/package.py
  var/spack/repos/builtin/packages/rocm-cmake/package.py
  var/spack/repos/builtin/packages/rocm-device-libs/package.py
  var/spack/repos/builtin/packages/rocm-opencl/package.py
  var/spack/repos/builtin/packages/rocm-smi-lib/package.py
  var/spack/repos/builtin/packages/rocm-tensile/package.py
  var/spack/repos/builtin/packages/rocm-validation-suite/package.py
  var/spack/repos/builtin/packages/rocminfo/package.py
  var/spack/repos/builtin/packages/rocprim/package.py
  var/spack/repos/builtin/packages/rocrand/package.py
  var/spack/repos/builtin/packages/rocsolver/package.py
  var/spack/repos/builtin/packages/rocsparse/package.py
  var/spack/repos/builtin/packages/rocthrust/package.py
  var/spack/repos/builtin/packages/roctracer-dev-api/package.py
Labels: new-version, patch, update-package

#24141 Add libdeflate as variant for htslib
  var/spack/repos/builtin/packages/htslib/package.py
Labels: dependencies, update-package, new-variant

#28343 New package: chaparral - radiation view factor library
  var/spack/repos/builtin/packages/chaparral/package.py
Labels: new-version, new-package, dependencies, maintainers, new-variant

#28342 New package: chaco - a graph partitioning library
  var/spack/repos/builtin/packages/chaco/package.py
Labels: new-version, new-package, dependencies, maintainers, new-variant

#28322 Fix boost build failures on newer glibc
  var/spack/repos/builtin/packages/boost/package.py
  var/spack/repos/builtin/packages/boost/pthread-stack-min-fix.patch
Labels: patch, update-package

#28348 Added support for spack external find to HWLOC
  var/spack/repos/builtin/packages/hwloc/package.py
Labels: update-package

#28431 votca: add v2022
  var/spack/repos/builtin/packages/votca/package.py
Labels: new-version, update-package

#28410 Kokkos: updating package list, maintainers and minimum cmake version
  var/spack/repos/builtin/packages/kokkos/package.py
Labels: new-version, dependencies, update-package, maintainers

#28435 expat: Add latest release 2.4.3 with security fixes
  var/spack/repos/builtin/packages/expat/package.py
Labels: new-version, deprecation

#28437 Fixing pthread-stack-min-fix.patch patch version range
  var/spack/repos/builtin/packages/boost/package.py
Labels: patch, update-package

#28434 zip: add external detection
  var/spack/repos/builtin/packages/zip/package.py
Labels: external-packages

#28433 NCCL: specify cuda_arch
  var/spack/repos/builtin/packages/nccl/package.py
Labels: update-package, conflicts

#28432 PyTorch: specify CUDA version incompatibility
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: python, dependencies, update-package

#28228 brigand: only build tests when requested
  var/spack/repos/builtin/packages/brigand/package.py
Labels: update-package, maintainers

#28420 mesa18: explicitly specify python executable
  var/spack/repos/builtin/packages/mesa18/package.py
Labels: update-package, e4s

#28316 findutils: Ensure __nonnull is defined
  var/spack/repos/builtin/packages/findutils/nonnull.patch
  var/spack/repos/builtin/packages/findutils/package.py
Labels: patch, update-package

#28425 hpcviewer: add version 2022.01.
  var/spack/repos/builtin/packages/hpcviewer/package.py
Labels: update-package

#28438 [acts] Add version 16
  var/spack/repos/builtin/packages/acts/package.py
Labels: new-version, update-package
