Repository spack/spack, pull requests merged in 2023-09, with the labels that each got.

#39279 Add colon escape logic to config add
  lib/spack/spack/config.py
  lib/spack/spack/test/config.py
Labels: tests, core

#39118 Windows: fixup pwsh env activate; deactivate, load;unload
  bin/spack.ps1
  lib/spack/spack/cmd/env.py
  lib/spack/spack/cmd/load.py
  lib/spack/spack/cmd/unload.py
  lib/spack/spack/environment/shell.py
  lib/spack/spack/test/util/environment.py
  lib/spack/spack/util/environment.py
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
Labels: python, tests, commands, shell-support, environments, update-package, utilities, gitlab, core

#38969 [py-preshed] added version 3.0.8
  var/spack/repos/builtin/packages/py-preshed/package.py
Labels: new-version, python, dependencies, update-package

#39493 py-dataclasses-json: add new package
  var/spack/repos/builtin/packages/py-dataclasses-json/package.py
Labels: new-version, new-package, python, dependencies

#39695 glibc: add package
  lib/spack/spack/util/elf.py
  var/spack/repos/builtin/packages/glibc/32cf406.patch
  var/spack/repos/builtin/packages/glibc/39b1f61.patch
  var/spack/repos/builtin/packages/glibc/4a531bb.patch
  var/spack/repos/builtin/packages/glibc/7c8a673.patch
  var/spack/repos/builtin/packages/glibc/fb21f89.patch
  var/spack/repos/builtin/packages/glibc/locs-2.22.patch
  var/spack/repos/builtin/packages/glibc/locs.patch
  var/spack/repos/builtin/packages/glibc/package.py
  var/spack/repos/builtin/packages/glibc/texi.patch
Labels: new-version, new-package, dependencies, patch, conflicts, utilities, core

#39737 CI: set SPACK_BACKTRACE=1
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
Labels: gitlab, core

#39801 add maintainers
  var/spack/repos/builtin/packages/bioconductor-dupradar/package.py
  var/spack/repos/builtin/packages/bioconductor-ebseq/package.py
  var/spack/repos/builtin/packages/fq/package.py
  var/spack/repos/builtin/packages/ucsc-bedclip/package.py
  var/spack/repos/builtin/packages/ucsc-bedgraphtobigwig/package.py
Labels: update-package

#39723 hpx-kokkos: add 0.4.0 and other minor changes
  var/spack/repos/builtin/packages/hpx-kokkos/package.py
Labels: new-version, update-package, new-variant

#39803 Add type-hints to the `spack.detection` package
  lib/spack/spack/detection/common.py
  lib/spack/spack/detection/path.py
Labels: core

#37881 podio, edm4hep and lcio: add lib and lib64 to LD_LIBRARY_PATH
  var/spack/repos/builtin/packages/edm4hep/package.py
  var/spack/repos/builtin/packages/lcio/package.py
Labels: update-package

#39777 compilers/gcc.py: support cxx{20,23}_flag
  lib/spack/spack/compilers/gcc.py
Labels: compilers, core

#39784 xerces-c: support variant cxxstd=20
  var/spack/repos/builtin/packages/xerces-c/package.py
Labels: update-package

#39825 Revert "Add colon escape logic to config add"
  lib/spack/spack/config.py
  lib/spack/spack/test/config.py
Labels: tests, core

#37998 umpire: Add 2022.10.0
  var/spack/repos/builtin/packages/axom/package.py
  var/spack/repos/builtin/packages/umpire/package.py
Labels: new-version, dependencies, patch, update-package, radiuss

#37967 CMakePackage: remove -DBUILD_TESTING flag
  lib/spack/spack/build_systems/cmake.py
Labels: tests, cmake, update-package, build-systems, core

#39786 new package: Yade
  var/spack/repos/builtin/packages/yade/package.py
Labels: new-version, new-package, dependencies

#39811 cabana: fix gtest dependency
  var/spack/repos/builtin/packages/cabana/package.py
Labels: dependencies, update-package

#39835 Add cmdlime package
  var/spack/repos/builtin/packages/cmdlime/package.py
Labels: new-version, new-package

#39829 gitlab: set cache and config dir correctly
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
Labels: update-package, gitlab, new-variant, core

#39717 g2: add dependencies, build options, and v3.4.6 release
  var/spack/repos/builtin/packages/g2/package.py
Labels: new-version, dependencies, update-package, new-variant

#39810 exaca: add version 1.2
  var/spack/repos/builtin/packages/exaca/package.py
Labels: new-version, dependencies, update-package

#39842 Add pika 0.18.0
  var/spack/repos/builtin/packages/pika/package.py
Labels: new-version, update-package

#39757 libfabric: Add new versions 1.18.2, 1.19.0
  var/spack/repos/builtin/packages/libfabric/package.py
Labels: new-version, update-package

#39831 Allow ":" in config paths to `spack config add`
  lib/spack/spack/config.py
  lib/spack/spack/test/config.py
Labels: tests, core

#39371 platform/cray: Handles case of empty craype_dir
  lib/spack/spack/platforms/cray.py
Labels: core, architecture

#39701 FFTX Update
  var/spack/repos/builtin/packages/fftx/package.py
  var/spack/repos/builtin/packages/spiral-package-fftx/package.py
  var/spack/repos/builtin/packages/spiral-package-hcol/package.py
  var/spack/repos/builtin/packages/spiral-package-jit/package.py
  var/spack/repos/builtin/packages/spiral-package-mpi/package.py
  var/spack/repos/builtin/packages/spiral-package-simt/package.py
  var/spack/repos/builtin/packages/spiral-software/package.py
Labels: new-version, new-package, dependencies, update-package, new-variant

#39838 musl: bump
  var/spack/repos/builtin/packages/musl/package.py
Labels: new-version, update-package

#39841 openfoam-org: add variant scotch
  var/spack/repos/builtin/packages/openfoam-org/package.py
Labels: dependencies, update-package, new-variant

#39776 sirius: simplify hip architectures, fix umpire dependency
  var/spack/repos/builtin/packages/sirius/package.py
Labels: dependencies, update-package

#39774 Damaris package updated to use Damaris v.1.9.0
  var/spack/repos/builtin/packages/damaris/package.py
Labels: new-version, dependencies, update-package

#39761 r-humaniformat: Add R `humaniformat` package
  var/spack/repos/builtin/packages/r-humaniformat/package.py
Labels: new-version, new-package, R, dependencies

#39760 r-sets: Add R `sets` package
  var/spack/repos/builtin/packages/r-sets/package.py
Labels: new-version, new-package, R, dependencies

#39758 Add libpostal Package
  var/spack/repos/builtin/packages/libpostal/package.py
Labels: new-version, new-package, dependencies

#39746 Eigen: Fix patch URL
  var/spack/repos/builtin/packages/eigen/package.py
Labels: update-package

#39743 pocl: Use the correct hash for version 3.0
  var/spack/repos/builtin/packages/pocl/package.py
Labels: new-version, update-package

#39696 xyce: add version 7.7.0 and specialize patch
  var/spack/repos/builtin/packages/xyce/450-mpich-xyce.patch
  var/spack/repos/builtin/packages/xyce/package.py
Labels: new-version, update-package

#39700 cgns: Add -fPIC to Fortan/C compilation flags
  var/spack/repos/builtin/packages/cgns/package.py
Labels: update-package, conflicts, new-variant

#39703 seacas: Set TPL_ENABLE_Pthread=ON when +thread_safe
  var/spack/repos/builtin/packages/seacas/package.py
Labels: update-package

#39747 CUDA 10.1/10.2: Fix conflicts with PGI 19+.
  lib/spack/spack/build_systems/cuda.py
Labels: conflicts, build-systems, core

#39828 r-tinytiger: Add tinytiger R package.
  var/spack/repos/builtin/packages/r-tinytiger/package.py
Labels: new-version, new-package, R, dependencies

#39851 duckdb: add v0.8.1
  var/spack/repos/builtin/packages/duckdb/package.py
Labels: new-version, update-package

#39804 Add Figcone Package
  var/spack/repos/builtin/packages/figcone/package.py
Labels: new-version, new-package

#39826 r-functional: Add the functional R package.
  var/spack/repos/builtin/packages/r-functional/package.py
Labels: new-version, new-package, R

#39814 r-furrr: Add furrr R package
  var/spack/repos/builtin/packages/r-furrr/package.py
Labels: new-version, new-package, R, dependencies

#39802 lua: unzip also required during build
  var/spack/repos/builtin/packages/lua/package.py
Labels: dependencies, update-package

#37620 move determine_number_of_jobs into spack.util.cpus, use it in concretize
  lib/spack/spack/bootstrap/environment.py
  lib/spack/spack/build_environment.py
  lib/spack/spack/build_systems/racket.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/package.py
  lib/spack/spack/test/build_environment.py
  lib/spack/spack/util/cpus.py
  var/spack/repos/builtin/packages/gmake/package.py
  var/spack/repos/builtin/packages/ninja-fortran/package.py
  var/spack/repos/builtin/packages/ninja/package.py
Labels: build-environment, tests, environments, update-package, utilities, build-systems, core

#39855 flux-security: add 0.10.0
  var/spack/repos/builtin/packages/flux-security/package.py
Labels: new-version, update-package

#39856 flux core: add 0.54.0
  var/spack/repos/builtin/packages/flux-core/package.py
Labels: new-version, update-package

#39853 Add SUNDIALS v6.6.1
  var/spack/repos/builtin/packages/sundials/package.py
Labels: new-version, xSDK, update-package

#39751 neko: add v0.6.1 and fix package
  var/spack/repos/builtin/packages/neko/package.py
Labels: new-version, dependencies, update-package, new-variant

#39782 Allow to build latest released version of CP2K with CMake
  var/spack/repos/builtin/packages/cp2k/package.py
Labels: dependencies, update-package

#39809 Make Cabana a Cuda/ROCm package
  var/spack/repos/builtin/packages/cabana/package.py
Labels: dependencies, update-package, conflicts

#39752 epics-base: Edit build configuration files to use the Spack compiler wrappers
  var/spack/repos/builtin/packages/epics-base/package.py
Labels: update-package

#38598 CI Timing Statistics
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/cmd/ci.py
  lib/spack/spack/installer.py
  lib/spack/spack/test/util/timer.py
  lib/spack/spack/util/timer.py
  share/spack/gitlab/cloud_pipelines/configs/ci.yaml
  share/spack/gitlab/cloud_pipelines/scripts/common/aggregate_package_logs.spack.py
Labels: python, tests, commands, shell-support, update-package, binary-packages, utilities, gitlab, new-variant, core

#39691 Docs/Packaging guide: Add BundlePackage
  lib/spack/docs/build_systems/bundlepackage.rst
  lib/spack/docs/packaging_guide.rst
Labels: documentation, conflicts, core

#39865 crosstool-ng: add new package
  var/spack/repos/builtin/packages/crosstool-ng/package.py
  var/spack/repos/builtin/packages/elfutils/package.py
Labels: new-version, new-package, dependencies, update-package, new-variant

#39843 Speed-up `spack external find` execution
  .github/workflows/windows_python.yml
  lib/spack/spack/bootstrap/core.py
  lib/spack/spack/build_systems/python.py
  lib/spack/spack/cmd/external.py
  lib/spack/spack/detection/__init__.py
  lib/spack/spack/detection/common.py
  lib/spack/spack/detection/path.py
  lib/spack/spack/package_base.py
  lib/spack/spack/test/cmd/external.py
  lib/spack/spack/test/concretize.py
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
  var/spack/repos/builtin/packages/gcc/package.py
Labels: tests, commands, shell-support, update-package, build-systems, workflow, core

#39866 Sirius: fix for the cmake variable
  var/spack/repos/builtin/packages/sirius/package.py
Labels: update-package

#39887 bugfix: only complete aliases for potential aliases
  share/spack/bash/spack-completion.bash
  share/spack/qa/completion-test.sh
  share/spack/spack-completion.bash
Labels: shell-support, core

#38958 make untar remove its input file (like gunzip)
  lib/spack/spack/util/compression.py
Labels: utilities, core

#39894 Cloverleaf-ref: proposal for a -ref version only
  var/spack/repos/builtin/packages/cloverleaf-ref/package.py
Labels: new-version, new-package, dependencies, new-variant

#39875 Prevent Spack install root with spaces from breaking shell scripts
  bin/spack.bat
  bin/spack.ps1
Labels: core

#39465 veloc: add v1.7
  var/spack/repos/builtin/packages/veloc/package.py
Labels: new-version, dependencies, update-package, maintainers, e4s

#39824 NMake Builder: refactor makefile api
  lib/spack/spack/build_systems/nmake.py
Labels: build-systems, core

#39895 root: add latest available tag for version 6.28/06
  var/spack/repos/builtin/packages/root/package.py
Labels: new-version, update-package

#39910 spglib: add v2.1.0
  var/spack/repos/builtin/packages/spglib/package.py
Labels: new-version, update-package

#39740 Update package H5Z-ZFP to 1.1.1
  var/spack/repos/builtin/packages/h5z-zfp/package.py
Labels: new-version, update-package

#39822 singularityce: fix package name in comment
  var/spack/repos/builtin/packages/singularityce/package.py
Labels: update-package

#39750 [intel-oneapi-mkl] hpcx-mpi support
  var/spack/repos/builtin/packages/intel-oneapi-mkl/package.py
Labels: intel, update-package

#39917 gffcompare: new package @0.12.6
  var/spack/repos/builtin/packages/gffcompare/package.py
Labels: new-version, new-package

#39916 transdecoder: add 5.7.1
  var/spack/repos/builtin/packages/transdecoder/package.py
Labels: new-version, update-package

#39915 openfoam-org: zoltan renumbering and decompsition
  var/spack/repos/builtin/packages/openfoam-org/package.py
Labels: dependencies, update-package, new-variant

#39659 likwid: search library path for compilation with hwloc
  var/spack/repos/builtin/packages/likwid/package.py
Labels: update-package

#39904 Garfield++: Add the patch to fix the missing headers and Set the environment variable HEED_DATABASE
  var/spack/repos/builtin/packages/garfieldpp/package.py
Labels: patch, update-package

#39874 Update sp recipe, incl. adding develop version
  var/spack/repos/builtin/packages/sp/package.py
Labels: new-version, update-package, new-variant

#39892 acfl: map rocky9 to RHEL-9
  var/spack/repos/builtin/packages/acfl/package.py
Labels: update-package

#39884 Update w3emc recipe
  var/spack/repos/builtin/packages/w3emc/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#39636 gitlab ci: Use image with awscli for rebuild-index job
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/configs/ci.yaml
  share/spack/gitlab/cloud_pipelines/stacks/data-vis-sdk/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/gpu-tests/spack.yaml
Labels: gitlab, core

#39889 sirius: fix cuda_arch flags
  var/spack/repos/builtin/packages/sirius/package.py
Labels: update-package

#39879 celeritas: new version 0.3.2
  var/spack/repos/builtin/packages/celeritas/package.py
Labels: new-version, update-package

#39728 elpa: Add --enable-scalapack-tests to configure when +autotune
  var/spack/repos/builtin/packages/elpa/package.py
Labels: update-package

#39652 Support of versions of cp2k below 7 marked as deprecated
  var/spack/repos/builtin/packages/cp2k/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#39920 Update archspec to latest commit
  lib/spack/external/__init__.py
  lib/spack/external/archspec/__init__.py
  lib/spack/external/archspec/cpu/microarchitecture.py
  lib/spack/external/archspec/json/cpu/microarchitectures.json
Labels: vendored-dependencies, core

#39806 glibc: fix deps, drop pre 2.17
  var/spack/repos/builtin/packages/gawk/package.py
  var/spack/repos/builtin/packages/glibc/32cf406.patch
  var/spack/repos/builtin/packages/glibc/4a531bb.patch
  var/spack/repos/builtin/packages/glibc/7c8a673.patch
  var/spack/repos/builtin/packages/glibc/fb21f89.patch
  var/spack/repos/builtin/packages/glibc/package.py
  var/spack/repos/builtin/packages/glibc/texi.patch
Labels: new-version, dependencies, patch, update-package, core

#39849 py-dunamai: add 1.18.0
  var/spack/repos/builtin/packages/py-dunamai/package.py
Labels: new-version, python, dependencies, update-package

#39891 Add support of new version of NUMAPROF (1.1.5)
  var/spack/repos/builtin/packages/numaprof/package.py
Labels: new-version, update-package

#39890 Add support of new version of MALT (1.2.2)
  var/spack/repos/builtin/packages/malt/package.py
Labels: new-version, update-package

#39516 dd4hep: Make sure to find libraries correctly
  var/spack/repos/builtin/packages/dd4hep/package.py
Labels: update-package, libraries

#39882 Dakota 6.18 Upgrade
  var/spack/repos/builtin/packages/dakota/package.py
Labels: new-version, dependencies, update-package

#39672 py-enum-tools: add new package and dependencies
  var/spack/repos/builtin/packages/py-apeye-core/package.py
  var/spack/repos/builtin/packages/py-apeye/package.py
  var/spack/repos/builtin/packages/py-consolekit/package.py
  var/spack/repos/builtin/packages/py-deprecation-alias/package.py
  var/spack/repos/builtin/packages/py-dist-meta/package.py
  var/spack/repos/builtin/packages/py-dom-toml/package.py
  var/spack/repos/builtin/packages/py-domdf-python-tools/package.py
  var/spack/repos/builtin/packages/py-enum-tools/package.py
  var/spack/repos/builtin/packages/py-handy-archives/package.py
  var/spack/repos/builtin/packages/py-mistletoe/package.py
  var/spack/repos/builtin/packages/py-pygments/package.py
  var/spack/repos/builtin/packages/py-pyproject-parser/package.py
  var/spack/repos/builtin/packages/py-shippinglabel/package.py
  var/spack/repos/builtin/packages/py-whey/package.py
Labels: new-version, new-package, python, dependencies, update-package, conflicts

#39697 py-pipdeptree: add new package; py-hatchling: add 1.18.0
  var/spack/repos/builtin/packages/py-hatchling/package.py
  var/spack/repos/builtin/packages/py-pipdeptree/package.py
Labels: new-version, new-package, python, dependencies, update-package

#39596 Update package.py to enable gdrcopy test executables
  var/spack/repos/builtin/packages/gdrcopy/package.py
Labels: dependencies, update-package

#37354 whizard: Add another url for fetching
  var/spack/repos/builtin/packages/whizard/package.py
Labels: update-package

#39744 update q-e-sirius package
  var/spack/repos/builtin/packages/q-e-sirius/package.py
Labels: new-version, dependencies, update-package, new-variant

#39787 Update MDAnalysis
  var/spack/repos/builtin/packages/py-mdanalysis/package.py
  var/spack/repos/builtin/packages/py-mdanalysistests/package.py
Labels: new-version, python, dependencies, update-package

#39925 spectre: add v2023.08.18 and v2023.09.07
  var/spack/repos/builtin/packages/spectre/package.py
Labels: new-version, update-package

#39220 py-fairscale and dependencies py-pgzip libgit2 py-pygit2
  var/spack/repos/builtin/packages/libgit2/package.py
  var/spack/repos/builtin/packages/py-fairscale/package.py
  var/spack/repos/builtin/packages/py-pgzip/package.py
  var/spack/repos/builtin/packages/py-pygit2/package.py
Labels: new-version, new-package, python, dependencies, update-package, new-variant

#39684 cuda: add versions 12.2.0 and 12.2.1
  var/spack/repos/builtin/packages/cuda/package.py
Labels: new-version, update-package

#39924 fpchecker: add version 0.4.0
  var/spack/repos/builtin/packages/fpchecker/package.py
Labels: new-version, update-package

#39766 correct py-bx-python@0.8.8 python dependency
  var/spack/repos/builtin/packages/py-bx-python/package.py
Labels: python, dependencies, update-package

#39911 tidynamics: add v1.1.2
  var/spack/repos/builtin/packages/py-tidynamics/package.py
Labels: new-version, python, dependencies, update-package

#39922 py-tomlkit: add 0.12.1
  var/spack/repos/builtin/packages/py-tomlkit/package.py
Labels: new-version, python, dependencies, update-package

#39921 py-tinycss2: add 1.2.1
  var/spack/repos/builtin/packages/py-tinycss2/package.py
Labels: new-version, python, update-package

#39918 py-tifffile: add 2023.8.30
  var/spack/repos/builtin/packages/py-tifffile/package.py
Labels: new-version, python, dependencies, update-package

#39931 py-black: add v23.9
  var/spack/repos/builtin/packages/py-black/package.py
Labels: new-version, python, update-package

#39544 package_qscintilla_build_with_qt6
  var/spack/repos/builtin/packages/qscintilla/package.py
Labels: new-version, dependencies, update-package, conflicts

#39878 Add awscli@1.29.41 and its dependency py-botocore@1.31.41
  var/spack/repos/builtin/packages/awscli/package.py
  var/spack/repos/builtin/packages/py-botocore/package.py
Labels: new-version, python, dependencies, update-package

#39930 py-build: add v1
  var/spack/repos/builtin/packages/py-build/package.py
Labels: new-version, python, dependencies, update-package

#39899 fish: add 3.6.0, 3.6.1, update cmake requirement
  var/spack/repos/builtin/packages/fish/package.py
Labels: new-version, dependencies, update-package

#39722 [gromacs] Fix 2021.2 build error
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: patch, update-package

#39710 Make the state of the Python Front End (PFE) and Python data reader
  var/spack/repos/builtin/packages/lbann/package.py
Labels: update-package, new-variant

#39775 filtlong: update to 0.2.1, patch for %gcc@13:
  var/spack/repos/builtin/packages/filtlong/gcc13.patch
  var/spack/repos/builtin/packages/filtlong/package.py
Labels: new-version, patch, update-package

#39940 gperftools: add 2.13
  var/spack/repos/builtin/packages/gperftools/package.py
Labels: new-version, update-package

#39943 asp.py: fix deprecation warning
  lib/spack/spack/solver/asp.py
Labels: error-messages, bugfix, core

#39942 openssl: deprecate 1.1.1
  var/spack/repos/builtin/packages/openssl/package.py
Labels: new-version, update-package

#39688 Update PennyLane packages to v0.32.
  var/spack/repos/builtin/packages/py-pennylane-lightning-kokkos/package.py
  var/spack/repos/builtin/packages/py-pennylane-lightning/package.py
  var/spack/repos/builtin/packages/py-pennylane/package.py
Labels: new-version, python, dependencies, update-package, new-variant

#39863 openexr: add 2.4.3, 2.5.9, 3.1.11 & 3.2.0
  var/spack/repos/builtin/packages/openexr/package.py
Labels: new-version, dependencies, update-package, conflicts

#39788 amrex: add v23.09
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package

#39923 g2 package bugfix
  var/spack/repos/builtin/packages/g2/package.py
Labels: new-version, dependencies, update-package, new-variant

#39870 Filter compiler wrappers in h4cc wrapper of hdf package
  var/spack/repos/builtin/packages/hdf/package.py
Labels: update-package

#39834 libjpeg-turbo: Fix Darwin lib install name
  var/spack/repos/builtin/packages/libjpeg-turbo/package.py
Labels: update-package

#39525 mpifileutils: switch to main branch
  var/spack/repos/builtin/packages/mpifileutils/package.py
Labels: new-version, update-package

#38908 CI/Add superlu-dist to broken stand-alone tests due to hang
  share/spack/gitlab/cloud_pipelines/configs/ci.yaml
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: update-package, gitlab, stand-alone-tests, core

#39950 bam-readcount: add 1.0.1, correct build flags
  var/spack/repos/builtin/packages/bam-readcount/package.py
Labels: new-version, update-package

#39483 binutils: add v2.41
  var/spack/repos/builtin/packages/binutils/package.py
Labels: new-version, update-package

#39926 r-pl94171: Add `R` package `PL94171`
  var/spack/repos/builtin/packages/r-pl94171/package.py
Labels: new-version, new-package, R, dependencies

#39932 r-piggyback: Add `R` package `piggyback`
  var/spack/repos/builtin/packages/r-piggyback/package.py
Labels: new-version, new-package, R, dependencies

#39958 ci: Tag reindex job to match the image architecture
  share/spack/gitlab/cloud_pipelines/configs/ci.yaml
Labels: gitlab, core

#39947 Fix metaclass base class
  lib/spack/spack/package_base.py
Labels: core

#39960 py-lightly: add v1.4.18
  var/spack/repos/builtin/packages/py-lightly/package.py
Labels: new-version, python, update-package

#39965 Update g2c recipe: add develop version and misc. variants
  var/spack/repos/builtin/packages/g2c/package.py
Labels: new-version, update-package, conflicts, new-variant

#39946 py-maestrowf: new version, fix artificial py-cryptography dep, support openssl 3
  var/spack/repos/builtin/packages/py-maestrowf/package.py
  var/spack/repos/builtin/packages/py-merlin/package.py
Labels: new-version, python, dependencies, update-package

#39945 unifyfs: support openssl 3
  var/spack/repos/builtin/packages/unifyfs/package.py
Labels: dependencies, update-package

#39974 gitlab ci: disable darwin aarch64
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
Labels: gitlab, core

#39948 Spec.tree: add type hints
  lib/spack/docs/conf.py
  lib/spack/spack/spec.py
Labels: documentation, core

#38181 ASP-based solver: don't declare deprecated versions unless required
  lib/spack/spack/cmd/solve.py
  lib/spack/spack/concretize.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/spec.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/concretize_requirements.py
Labels: tests, commands, environments, core

#39773 CP2K: various AOCC compatibility fixes
  var/spack/repos/builtin/packages/cp2k/backport_avoid_null_2022.x.patch
  var/spack/repos/builtin/packages/cp2k/backport_avoid_null_9.1.patch
  var/spack/repos/builtin/packages/cp2k/package.py
Labels: patch, update-package, conflicts

#39979 GDAL: add v3.7.2
  var/spack/repos/builtin/packages/gdal/package.py
Labels: new-version, update-package

#39978 glibc: restore older versions
  var/spack/repos/builtin/packages/glibc/32cf406.patch
  var/spack/repos/builtin/packages/glibc/4a531bb.patch
  var/spack/repos/builtin/packages/glibc/67fbfa5.patch
  var/spack/repos/builtin/packages/glibc/7c8a673.patch
  var/spack/repos/builtin/packages/glibc/fb21f89.patch
  var/spack/repos/builtin/packages/glibc/package.py
  var/spack/repos/builtin/packages/glibc/texi.patch
Labels: new-version, patch, update-package

#39919 scorep: Change in configuration option for nvhpc compiler
  var/spack/repos/builtin/packages/scorep/package.py
Labels: new-version, update-package

#40008 add charliecloud 0.34
  var/spack/repos/builtin/packages/charliecloud/package.py
Labels: new-version, update-package

#40009 interproscan: adding new version and variant to include databases.
  var/spack/repos/builtin/packages/interproscan/package.py
Labels: new-version, resources, update-package, new-variant

#40006 Update upp recipe
  var/spack/repos/builtin/packages/upp/package.py
Labels: new-version, dependencies, update-package, new-variant

#40005 Add check() to sp recipe
  var/spack/repos/builtin/packages/sp/package.py
Labels: update-package

#40004 Add develop version to wrf-io
  var/spack/repos/builtin/packages/wrf-io/package.py
Labels: new-version, update-package

#40003 Add develop version to sigio
  var/spack/repos/builtin/packages/sigio/package.py
Labels: new-version, update-package

#40002 Add develop version to sfcio
  var/spack/repos/builtin/packages/sfcio/package.py
Labels: new-version, update-package

#40001 Add develop version to nemsiogfs
  var/spack/repos/builtin/packages/nemsiogfs/package.py
Labels: new-version, update-package

#40000 Add develop version for nemsio
  var/spack/repos/builtin/packages/nemsio/package.py
Labels: new-version, update-package

#39999 Add two versions to ncio recipe
  var/spack/repos/builtin/packages/ncio/package.py
Labels: new-version, update-package
