Repository spack/spack, pull requests merged in 2023-08, with the labels that each got.

#39169 petsc, py-petsc4py: add v3.19.4
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/py-petsc4py/package.py
Labels: new-version, python, update-package

#39107 Fix source bootstrapping for Debian and derivatives
  var/spack/repos/builtin/packages/python/package.py
Labels: python, update-package

#39044 CachedCMakePackage: remove CMAKE_GENERATOR from the host-config
  lib/spack/spack/build_systems/cached_cmake.py
Labels: build-systems, core

#39085 Mongodb: Add new package
  var/spack/repos/builtin/packages/mongodb/package.py
  var/spack/repos/builtin/packages/py-requirements-parser/package.py
Labels: new-version, new-package, python, dependencies

#39190 amrex: add 23.08
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package

#39182 py-python-rapidjson: add two latest versions
  var/spack/repos/builtin/packages/py-python-rapidjson/package.py
Labels: new-version, python, update-package

#38912 py-openai, py-pandas-stubs
  var/spack/repos/builtin/packages/py-openai/package.py
  var/spack/repos/builtin/packages/py-openpyxl/package.py
  var/spack/repos/builtin/packages/py-pandas-stubs/package.py
  var/spack/repos/builtin/packages/py-types-pytz/package.py
Labels: new-version, new-package, python, dependencies, update-package, new-variant

#39164 py-gevent: add 23.7.0 and py-greenlet: add 3.0.0a1
  var/spack/repos/builtin/packages/py-gevent/package.py
  var/spack/repos/builtin/packages/py-greenlet/package.py
Labels: new-version, python, dependencies, update-package

#39161 dcmtk: new version and pic configuration
  var/spack/repos/builtin/packages/dcmtk/package.py
Labels: new-version, update-package, conflicts, new-variant

#39171 Python: fix library/header error msg format
  var/spack/repos/builtin/packages/python/package.py
Labels: python, error-messages, update-package

#39146 rust: disable build from downloading a version of LLVM from Rust CI
  var/spack/repos/builtin/packages/rust/package.py
Labels: update-package

#36719 feat: move -N/--namespace(s) to common args, allow in `buildcache list`
  lib/spack/spack/cmd/__init__.py
  lib/spack/spack/cmd/buildcache.py
  lib/spack/spack/cmd/common/arguments.py
  lib/spack/spack/cmd/find.py
  lib/spack/spack/cmd/solve.py
  lib/spack/spack/cmd/spec.py
  lib/spack/spack/test/cmd/find.py
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
Labels: tests, commands, shell-support, core

#37441 buildcache extractall: extract directly into spec.prefix
  lib/spack/docs/signing.rst
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/cmd/clean.py
  lib/spack/spack/schema/buildcache_spec.py
  lib/spack/spack/test/bindist.py
Labels: documentation, tests, commands, binary-packages, core

#37088 CI: Refactor ci reproducer
  lib/spack/spack/ci.py
  lib/spack/spack/cmd/ci.py
  lib/spack/spack/test/cmd/ci.py
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
Labels: tests, commands, shell-support, update-package, core

#39215 patchelf: 0.18
  var/spack/repos/builtin/packages/patchelf/package.py
Labels: new-version, update-package

#39207 tximeta: add package
  var/spack/repos/builtin/packages/bioconductor-tximeta/package.py
Labels: new-version, new-package, dependencies

#39195 openmolcas: adding version 23.06
  var/spack/repos/builtin/packages/openmolcas/package.py
Labels: new-version, update-package

#38848 Add qmake virtual provider
  etc/spack/defaults/packages.yaml
  lib/spack/spack/build_systems/qmake.py
  var/spack/repos/builtin/packages/qt-base/package.py
  var/spack/repos/builtin/packages/qt/package.py
Labels: dependencies, defaults, virtual-dependencies, update-package, build-systems, core

#39074 py-libEnsemble: add v0.10.2
  var/spack/repos/builtin/packages/py-libensemble/package.py
Labels: new-version, python, dependencies, update-package

#38654 py-melissa-core: add new versions and py-iterative-stats dependency
  var/spack/repos/builtin/packages/py-melissa-core/package.py
Labels: new-version, python, dependencies, update-package, conflicts

#39139 nextdenovo: new package @2.5.2 (and py-paralleltask)
  var/spack/repos/builtin/packages/nextdenovo/package.py
  var/spack/repos/builtin/packages/py-paralleltask/package.py
Labels: new-version, new-package, python, dependencies

#39203 Buildcache commands cleanup, again...
  lib/spack/llnl/util/tty/__init__.py
  lib/spack/spack/cmd/__init__.py
  lib/spack/spack/cmd/buildcache.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/spec_yaml.py
Labels: tests, commands, environments, utilities, core

#39233 py-kornia: add v0.7.0
  var/spack/repos/builtin/packages/py-kornia/package.py
Labels: new-version, python, dependencies, update-package

#39209 ucsc-bedclip: add package
  var/spack/repos/builtin/packages/mysql-connector-c/fix-cmake.patch
  var/spack/repos/builtin/packages/mysql-connector-c/package.py
  var/spack/repos/builtin/packages/ucsc-bedclip/package.py
Labels: new-version, new-package, dependencies, patch

#39214 repo cache: use -inf default instead of 0
  lib/spack/spack/repo.py
  lib/spack/spack/util/file_cache.py
Labels: utilities, core

#39228 R: fix build on macOS arm64
  var/spack/repos/builtin/packages/r/package.py
Labels: R, update-package

#39208 ucsc-bedgraphtobigwig: add package
  var/spack/repos/builtin/packages/ucsc-bedgraphtobigwig/package.py
Labels: new-version, new-package, dependencies, conflicts

#39211 vecgeom: new version 1.2.5
  var/spack/repos/builtin/packages/vecgeom/package.py
Labels: new-version, python, dependencies, update-package

#39221 pika: add v0.17.0
  var/spack/repos/builtin/packages/pika/package.py
Labels: new-version, update-package

#39227 mapl: add package
  var/spack/repos/builtin/packages/mapl/esma_cmake_apple_m1_rosetta.patch
  var/spack/repos/builtin/packages/mapl/mapl-2.12.3-mpi-fortran.patch
  var/spack/repos/builtin/packages/mapl/mapl-2.12.3-netcdf-c.patch
  var/spack/repos/builtin/packages/mapl/package.py
Labels: new-version, new-package, dependencies, resources, patch, new-variant

#39217 gftl-shared: new version 1.6.1
  var/spack/repos/builtin/packages/gftl-shared/package.py
Labels: new-version, update-package

#39181 Add checksum CI test (and verify with `glab` and `gh`)
  .github/workflows/audit.yaml
  var/spack/repos/builtin/packages/gh/package.py
  var/spack/repos/builtin/packages/glab/package.py
Labels: new-version, update-package, workflow, core

#39250 librdkafka: version 2.2.0
  var/spack/repos/builtin/packages/librdkafka/package.py
Labels: new-version, update-package

#39249 kafka: new versions
  var/spack/repos/builtin/packages/kafka/package.py
Labels: new-version, update-package

#39253 patchelf@0.18.0 breaks intel compiler libraries
  var/spack/repos/builtin/packages/intel-oneapi-compilers/package.py
Labels: dependencies, intel, update-package, conflicts

#39236 hpcviewer: add version 2023.07
  var/spack/repos/builtin/packages/hpcviewer/package.py
Labels: update-package

#39237 flux-core: add v0.53.0
  var/spack/repos/builtin/packages/flux-core/package.py
Labels: new-version, update-package

#39258 sowing: add version 1.1.26-p8
  var/spack/repos/builtin/packages/sowing/package.py
Labels: new-version, xSDK, update-package

#39259 Revert "Add checksum CI test (and verify with `glab` and `gh`)"
  .github/workflows/audit.yaml
Labels: update-package, workflow, core

#39216 openssl: Update to 3.1.2, 3.0.10, 1.1.1v
  var/spack/repos/builtin/packages/openssl/package.py
Labels: new-version, update-package

#39257 ADIOS2: update to latest release
  var/spack/repos/builtin/packages/adios2/package.py
Labels: new-version, update-package

#39202 salmon: update version
  var/spack/repos/builtin/packages/salmon/fix_hts.patch
  var/spack/repos/builtin/packages/salmon/package.py
Labels: new-version, dependencies, patch, update-package

#39269 julia: add v1.9.2
  var/spack/repos/builtin/packages/julia/package.py
Labels: new-version, update-package

#39238 Add MET, METplus packages
  var/spack/repos/builtin/packages/met/apple-clang-no-register.patch
  var/spack/repos/builtin/packages/met/apple-clang-string-cast-operator.patch
  var/spack/repos/builtin/packages/met/openmp_shape_patch.patch
  var/spack/repos/builtin/packages/met/package.py
  var/spack/repos/builtin/packages/metplus/package.py
Labels: new-version, new-package, dependencies, patch, new-variant

#39192 Cache the CMake generator in the configure file for LBANN
  var/spack/repos/builtin/packages/lbann/package.py
Labels: update-package

#39098 [py-smartredis] New Package
  var/spack/repos/builtin/packages/py-smartredis/package.py
  var/spack/repos/builtin/packages/py-smartredis/sr_0_4_0_no_deps.patch
  var/spack/repos/builtin/packages/py-smartredis/sr_0_4_1_no_deps.patch
Labels: new-version, new-package, python, dependencies, patch

#39271 FIX libfabric module file
  var/spack/repos/builtin/packages/aws-ofi-rccl/package.py
  var/spack/repos/builtin/packages/libfabric/package.py
Labels: update-package

#37055 acts: new versions 23.[3-5].0, 24.0.0, 25.0.[0-1], 26.0.0, 27.[0-1].0, 28.0.0
  var/spack/repos/builtin/packages/acts/package.py
  var/spack/repos/builtin/packages/actsvg/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#32696 py-pyqt6: add new package
  lib/spack/docs/build_systems/sippackage.rst
  lib/spack/spack/build_systems/sip.py
  var/spack/repos/builtin/packages/py-matplotlib/package.py
  var/spack/repos/builtin/packages/py-pyqt-builder/package.py
  var/spack/repos/builtin/packages/py-pyqt4/package.py
  var/spack/repos/builtin/packages/py-pyqt5-sip/package.py
  var/spack/repos/builtin/packages/py-pyqt5/package.py
  var/spack/repos/builtin/packages/py-pyqt6-sip/package.py
  var/spack/repos/builtin/packages/py-pyqt6/package.py
  var/spack/repos/builtin/packages/py-sip/package.py
  var/spack/repos/builtin/packages/qgis/package.py
  var/spack/repos/builtin/packages/qscintilla/package.py
Labels: new-version, new-package, python, documentation, dependencies, patch, update-package, conflicts, build-systems, new-variant, core, extends

#39187 Add a more detailed HTTPError
  lib/spack/spack/util/web.py
Labels: fetching, utilities, core

#39282 Bugfix spack module files
  var/spack/repos/builtin/packages/libfabric/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
Labels: update-package

#39285 picklable HTTPError
  lib/spack/spack/test/web.py
  lib/spack/spack/util/web.py
Labels: fetching, tests, utilities, core

#39024 Extract prefix locks and failure markers from Database
  lib/spack/spack/cmd/clean.py
  lib/spack/spack/database.py
  lib/spack/spack/installer.py
  lib/spack/spack/package_base.py
  lib/spack/spack/stage.py
  lib/spack/spack/store.py
  lib/spack/spack/test/cmd/clean.py
  lib/spack/spack/test/cmd/install.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/database.py
  lib/spack/spack/test/install.py
  lib/spack/spack/test/installer.py
Labels: tests, commands, stage, core

#39288 celeritas: new version 0.3.1
  var/spack/repos/builtin/packages/celeritas/package.py
Labels: new-version, dependencies, update-package

#38514 CI: remove redundant sections
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/configs/ci.yaml
  share/spack/gitlab/cloud_pipelines/configs/cray-rhel/ci.yaml
  share/spack/gitlab/cloud_pipelines/configs/cray-sles/ci.yaml
  share/spack/gitlab/cloud_pipelines/configs/darwin/ci.yaml
  share/spack/gitlab/cloud_pipelines/configs/linux/ci.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-cray-rhel/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-cray-sles/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/ml-darwin-aarch64-mps/spack.yaml
Labels: gitlab, core

#39287 samtools: add 1.17
  var/spack/repos/builtin/packages/samtools/package.py
Labels: new-version, dependencies, update-package

#39275 py-timm: add v0.9.5
  var/spack/repos/builtin/packages/py-timm/package.py
Labels: new-version, python, update-package

#39274 py-torchmetrics: add v1.0.2
  var/spack/repos/builtin/packages/py-torchmetrics/package.py
Labels: new-version, python, dependencies, update-package

#39062 libdeflate: new versions, switch to cmake
  var/spack/repos/builtin/packages/libdeflate/package.py
Labels: new-version, dependencies, update-package

#37830 h5bench: include tests for E4S and new version
  var/spack/repos/builtin/packages/h5bench/package.py
Labels: new-version, dependencies, update-package, stand-alone-tests

#39300 freeglut: set correct library name
  var/spack/repos/builtin/packages/freeglut/package.py
Labels: update-package, libraries

#38271 [py-clean-text] added version 0.6.0
  var/spack/repos/builtin/packages/py-clean-text/package.py
Labels: new-version, python, dependencies, update-package

#38272 [py-gensim] added version 4.3.1
  var/spack/repos/builtin/packages/py-gensim/package.py
Labels: new-version, python, dependencies, update-package

#38968 [py-pathy] new package
  var/spack/repos/builtin/packages/py-pathy/package.py
Labels: new-version, new-package, python, dependencies

#38970 [py-srsly] added version 2.4.6
  var/spack/repos/builtin/packages/py-srsly/package.py
Labels: new-version, python, dependencies, update-package, conflicts

#38972 [py-marshmallow] added version 3.19.0
  var/spack/repos/builtin/packages/py-marshmallow/package.py
Labels: new-version, python, dependencies, update-package

#39281 package:py-wand add build env var, add new version
  var/spack/repos/builtin/packages/py-wand/package.py
Labels: new-version, python, update-package

#39310 [darshan-runtime,darshan-util,py-darshan] update packages for darshan-3.4.4 release
  var/spack/repos/builtin/packages/darshan-runtime/package.py
  var/spack/repos/builtin/packages/darshan-util/package.py
  var/spack/repos/builtin/packages/py-darshan/package.py
Labels: new-version, python, update-package

#39309 py-cartopy: add v0.22.0
  var/spack/repos/builtin/packages/py-cartopy/package.py
Labels: new-version, python, dependencies, update-package

#39188 Fix broken assertion
  lib/spack/llnl/util/lock.py
Labels: locking, utilities, core

#39303 Release cpp-logger 0.0.1
  var/spack/repos/builtin/packages/cpp-logger/package.py
Labels: new-version, new-package

#39299 [parallel-hashmap] New package
  var/spack/repos/builtin/packages/parallel-hashmap/package.py
  var/spack/repos/builtin/packages/parallel-hashmap/pthread.patch
Labels: new-version, new-package, dependencies, patch

#39280 aocc: add 4.1.0
  var/spack/repos/builtin/packages/aocc/package.py
Labels: new-version, update-package

#39297 C-Blosc2 v2.10.1
  var/spack/repos/builtin/packages/c-blosc2/package.py
Labels: new-version, update-package

#39199 ML CI: get more packages working on macOS
  share/spack/gitlab/cloud_pipelines/stacks/ml-darwin-aarch64-mps/spack.yaml
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: python, update-package, conflicts, gitlab, core

#39335 pika-algorithms: 0.1.4
  var/spack/repos/builtin/packages/pika-algorithms/package.py
Labels: new-version, dependencies, update-package

#39336 hpx: add 1.9.1
  var/spack/repos/builtin/packages/hpx/package.py
Labels: new-version, update-package

#39234 name clash error message include hash of clashing packages
  lib/spack/spack/cmd/modules/__init__.py
Labels: core

#34222 e4s ci: add libpressio
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
  var/spack/repos/builtin/packages/cusz/package.py
  var/spack/repos/builtin/packages/libpressio/package.py
Labels: new-version, update-package, e4s, gitlab, core

#39305 [py-linkify-it-py] New package
  var/spack/repos/builtin/packages/py-linkify-it-py/package.py
Labels: new-version, new-package, python, dependencies

#39302 [py-opendatalab] New package
  var/spack/repos/builtin/packages/py-opendatalab/package.py
Labels: new-version, new-package, python, dependencies, conflicts

#39301 [py-model-index] new package
  var/spack/repos/builtin/packages/py-model-index/package.py
Labels: new-version, new-package, python, dependencies

#39340 trilinos: Add version 14.4.0
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: new-version, update-package

#39296 Update py-gtdbtk to 2.3.2
  var/spack/repos/builtin/packages/fastani/package.py
  var/spack/repos/builtin/packages/py-gtdbtk/package.py
Labels: new-version, python, dependencies, update-package

#39149 go: add v1.20.6 and v1.19.11, deprecate previous versions due to CVE
  var/spack/repos/builtin/packages/go/package.py
Labels: new-version, update-package

#39339 Push conflict between rocm and blt down to packages that actually use blt
  lib/spack/spack/build_systems/rocm.py
  var/spack/repos/builtin/packages/axom/package.py
  var/spack/repos/builtin/packages/camp/package.py
  var/spack/repos/builtin/packages/care/package.py
  var/spack/repos/builtin/packages/chai/package.py
  var/spack/repos/builtin/packages/kripke/package.py
  var/spack/repos/builtin/packages/raja/package.py
  var/spack/repos/builtin/packages/umpire/package.py
Labels: dependencies, update-package, conflicts, build-systems, core

#39315 Fixes compilation error by using explicit casting.
  var/spack/repos/builtin/packages/chgcentre/main.patch
  var/spack/repos/builtin/packages/chgcentre/package.py
Labels: patch, update-package

#39311 Adds dependency on libbeagle.
  var/spack/repos/builtin/packages/beast2/package.py
Labels: dependencies, update-package, new-variant

#39312 Adds KOKKOS variant.
  var/spack/repos/builtin/packages/caliper/package.py
Labels: update-package, new-variant

#39351 hypre: fix typo in --with-sycl option
  var/spack/repos/builtin/packages/hypre/package.py
Labels: update-package

#39320 Adds lustre variant to the ior recipe.
  var/spack/repos/builtin/packages/ior/package.py
Labels: dependencies, patch, update-package, new-variant

#39349 py-torchmetrics: add v1.0.3
  var/spack/repos/builtin/packages/py-torchmetrics/package.py
Labels: new-version, python, update-package

#39348 py-lightly: add v1.4.15
  var/spack/repos/builtin/packages/py-lightly/package.py
Labels: new-version, python, dependencies, update-package

#38239 Spec versions: allow `git.` references for branches with `/`
  lib/spack/spack/parser.py
  lib/spack/spack/test/spec_syntax.py
  lib/spack/spack/test/versions.py
Labels: tests, core

#39347 Correctly specify build dependency on CMake when building with internal ParallelIO
  var/spack/repos/builtin/packages/esmf/package.py
Labels: dependencies, update-package

#39318 Adds the recipe for miniocli.
  var/spack/repos/builtin/packages/miniocli/package.py
Labels: new-version, new-package, dependencies

#39316 Adds the recipe for Idg.
  var/spack/repos/builtin/packages/idg/package.py
Labels: new-version, new-package, dependencies

#39205 fq: add package
  var/spack/repos/builtin/packages/fq/package.py
Labels: new-version, new-package, dependencies

#39162 protobuf: fix build for 3.21 on Centos 8
  var/spack/repos/builtin/packages/protobuf/package.py
Labels: patch, update-package

#39327 Changes the way MPICC is set
  var/spack/repos/builtin/packages/py-mpi4py/package.py
Labels: python, dependencies, update-package

#39338 Fixed bugs discovered in conflicts directives
  var/spack/repos/builtin/packages/amqp-cpp/package.py
  var/spack/repos/builtin/packages/dealii/package.py
  var/spack/repos/builtin/packages/gptune/package.py
  var/spack/repos/builtin/packages/lua-luajit-openresty/package.py
  var/spack/repos/builtin/packages/lua-luajit/package.py
  var/spack/repos/builtin/packages/paraview/package.py
  var/spack/repos/builtin/packages/plasma/package.py
  var/spack/repos/builtin/packages/py-pykwalify/package.py
  var/spack/repos/builtin/packages/xyce/package.py
Labels: python, dependencies, update-package, conflicts

#39148 rclone: add v1.63.1 and remove previously deprecated versions
  var/spack/repos/builtin/packages/rclone/package.py
Labels: new-version, dependencies, update-package

#37977 cxxopts: add v3.1.1
  var/spack/repos/builtin/packages/cxxopts/package.py
Labels: new-version, update-package

#39154 Fix suffix of tab completion scripts
  lib/spack/spack/cmd/commands.py
  lib/spack/spack/test/cmd/commands.py
  share/spack/bash/spack-completion.bash
  share/spack/fish/spack-completion.fish
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
Labels: tests, commands, shell-support, core

#39325 libzmq: Do not treat warnings as errors during compilation.
  var/spack/repos/builtin/packages/libzmq/package.py
Labels: update-package

#35744 tests/cpmd: convert to new stand-alone test process
  var/spack/repos/builtin/packages/cpmd/package.py
Labels: update-package, stand-alone-tests

#39183 package import: remove magic import line
  lib/spack/spack/build_environment.py
  lib/spack/spack/repo.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/concretize_requirements.py
  lib/spack/spack/test/packages.py
  share/spack/templates/mock-repository/package.pyt
Labels: new-version, build-environment, tests, core

#39352 caliper: deprecate old versions
  var/spack/repos/builtin/packages/caliper/package.py
Labels: new-version, update-package

#39017 Fix package.py error handling minor bug
  lib/spack/spack/build_environment.py
Labels: build-environment, core

#39357 add info about devito and qe for intel env
  lib/spack/docs/build_systems/inteloneapipackage.rst
Labels: documentation, core

#37695 AMReX: 23.06+ Multi-Dim Support
  share/spack/gitlab/cloud_pipelines/stacks/e4s-cray-rhel/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-oneapi/spack.yaml
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package, ecp, e4s, gitlab, new-variant, core

#39147 emacs: add v29.1
  var/spack/repos/builtin/packages/emacs/package.py
Labels: new-version, update-package

#38696 libhio: package update for new sha256 checksum for v1.4.1.5
  var/spack/repos/builtin/packages/libhio/package.py
Labels: new-version, update-package

#39204 picard: add variant with jvm arguments
  var/spack/repos/builtin/packages/picard/package.py
  var/spack/repos/builtin/packages/picard/picard_with_parameters.sh
Labels: update-package, new-variant

#36834 Enable windows stage tests
  lib/spack/spack/test/stage.py
Labels: tests, core

#38407 edm4hep: add edm4hep to PYTHONPATH
  var/spack/repos/builtin/packages/edm4hep/package.py
Labels: update-package

#39321 Changed URL to `ncview` source code.
  var/spack/repos/builtin/packages/ncview/package.py
Labels: new-version, update-package

#39354 Revert "Spec versions: allow `git.` references for branches with `/`"
  lib/spack/spack/parser.py
  lib/spack/spack/test/spec_syntax.py
  lib/spack/spack/test/versions.py
Labels: tests, core

#38992 Fixed broken calls to _if_ninja_target_execute
  lib/spack/spack/build_systems/meson.py
Labels: build-systems, core

#39106 Prefix conflict messages with package name
  lib/spack/spack/directives.py
  lib/spack/spack/solver/asp.py
Labels: directives, core

#39360 Remove qt variant in cmake
  var/spack/repos/builtin/packages/cmake/package.py
Labels: update-package

#35655 Add LLVM_ENABLE_RTTI option to llvm-amdgpu package, required by mesa.
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
Labels: update-package

#35611 mpich: fix macos problem with -flat-namespace
  var/spack/repos/builtin/packages/mpich/package.py
Labels: update-package

#39343 intel-oneapi-mkl: linking with the +cluster variant is broken for external mkl
  var/spack/repos/builtin/packages/intel-oneapi-mkl/package.py
Labels: intel, update-package, conflicts, new-variant

#39370 Trilinos: fix @13.2: +python
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: update-package

#33589 Build_systems tests on windows
  lib/spack/spack/build_systems/cmake.py
  lib/spack/spack/test/build_systems.py
Labels: tests, build-systems, core

#39368 git: add new versions, deprecated / drop versions
  var/spack/repos/builtin/packages/git/package.py
Labels: new-version, update-package

#39369 Fix conflicts on direct dependencies that don't start with ^
  var/spack/repos/builtin/packages/canu/package.py
  var/spack/repos/builtin/packages/cusz/package.py
  var/spack/repos/builtin/packages/dire/package.py
  var/spack/repos/builtin/packages/dyninst/package.py
  var/spack/repos/builtin/packages/ecp-data-vis-sdk/package.py
  var/spack/repos/builtin/packages/flcl/package.py
  var/spack/repos/builtin/packages/flecsi/package.py
  var/spack/repos/builtin/packages/freeglut/package.py
  var/spack/repos/builtin/packages/gasnet/package.py
  var/spack/repos/builtin/packages/glew/package.py
  var/spack/repos/builtin/packages/gptune/package.py
  var/spack/repos/builtin/packages/gromacs/package.py
  var/spack/repos/builtin/packages/hipsycl/package.py
  var/spack/repos/builtin/packages/hpctoolkit/package.py
  var/spack/repos/builtin/packages/hpx/package.py
  var/spack/repos/builtin/packages/mesa-demos/package.py
  var/spack/repos/builtin/packages/mesa-glu/package.py
  var/spack/repos/builtin/packages/neovim/package.py
  var/spack/repos/builtin/packages/numactl/package.py
  var/spack/repos/builtin/packages/oce/package.py
  var/spack/repos/builtin/packages/octave-quaternion/package.py
  var/spack/repos/builtin/packages/omega-h/package.py
  var/spack/repos/builtin/packages/opencascade/package.py
  var/spack/repos/builtin/packages/perl/package.py
  var/spack/repos/builtin/packages/pika/package.py
  var/spack/repos/builtin/packages/py-topiary-asr/package.py
  var/spack/repos/builtin/packages/salmon/package.py
  var/spack/repos/builtin/packages/scitokens-cpp/package.py
  var/spack/repos/builtin/packages/silo/package.py
  var/spack/repos/builtin/packages/ucsc-bedgraphtobigwig/package.py
  var/spack/repos/builtin/packages/upcxx/package.py
  var/spack/repos/builtin/packages/xrootd/package.py
Labels: python, dependencies, update-package, conflicts

#39307 py-flit: add versions 3.8 and 3.9
  var/spack/repos/builtin/packages/py-flit-core/package.py
  var/spack/repos/builtin/packages/py-flit/package.py
Labels: new-version, python, dependencies, update-package

#39082 mpich: fix building with NVHPC
  var/spack/repos/builtin/packages/mpich/mpich32_411_CFI_configure.patch
  var/spack/repos/builtin/packages/mpich/package.py
Labels: patch, update-package

#39086 sgpp: fix build issues
  var/spack/repos/builtin/packages/sgpp/disable_disutils_deprecation_warning.patch
  var/spack/repos/builtin/packages/sgpp/package.py
Labels: dependencies, patch, update-package, new-variant

#39378 GDAL: fix supported versions of HDF5
  var/spack/repos/builtin/packages/gdal/package.py
Labels: dependencies, update-package

#38987 qt: fedora patch missing includes in qtlocation
  var/spack/repos/builtin/packages/qt/package.py
Labels: patch, update-package

#39380 Revert "package import: remove magic import line"
  lib/spack/spack/build_environment.py
  lib/spack/spack/repo.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/concretize_requirements.py
  lib/spack/spack/test/packages.py
  share/spack/templates/mock-repository/package.pyt
Labels: build-environment, tests, core

#39319 Renames 'std' kokkos variant to 'cxxstd'.
  share/spack/gitlab/cloud_pipelines/stacks/e4s-oneapi/spack.yaml
  var/spack/repos/builtin/packages/ascent/package.py
  var/spack/repos/builtin/packages/hpx-kokkos/package.py
  var/spack/repos/builtin/packages/kokkos/package.py
Labels: dependencies, update-package, conflicts, gitlab, new-variant, core

#39277 Add grib support variant for ncl
  var/spack/repos/builtin/packages/ncl/package.py
  var/spack/repos/builtin/packages/ncl/ymake-grib.patch
Labels: dependencies, patch, update-package, new-variant

#39386 py-cryptography: does not run-depend on py-setuptools-rust
  var/spack/repos/builtin/packages/py-cryptography/package.py
Labels: python, dependencies, update-package

#39081 e4s cray sles ci: expand spec list
  share/spack/gitlab/cloud_pipelines/stacks/e4s-cray-sles/spack.yaml
Labels: e4s, gitlab, core

#39108 WarpX 23.07
  var/spack/repos/builtin/packages/py-picmistandard/package.py
  var/spack/repos/builtin/packages/py-warpx/package.py
  var/spack/repos/builtin/packages/warpx/package.py
Labels: new-version, python, dependencies, update-package, ecp, e4s

#39384 Python: remove maintainer
  lib/spack/spack/build_systems/python.py
  lib/spack/spack/test/cmd/maintainers.py
  lib/spack/spack/test/directives.py
  var/spack/repos/builtin/packages/python/package.py
Labels: python, tests, commands, update-package, build-systems, core

#39317 lammps: new stable versions, deprecate older patch versions
  var/spack/repos/builtin/packages/lammps/package.py
Labels: new-version, update-package

#39406 cernlib: new variant shared
  var/spack/repos/builtin/packages/cernlib/package.py
Labels: update-package, new-variant

#39405 adios2: add mgard variant
  var/spack/repos/builtin/packages/adios2/package.py
Labels: dependencies, update-package, new-variant

#39400 usalign: update checksum
  var/spack/repos/builtin/packages/usalign/package.py
Labels: update-package

#39170 ci: continue to support SPACK_SIGNING_KEY
  lib/spack/spack/cmd/ci.py
Labels: commands, core

#38098 Allow static-only openssl on Linux
  var/spack/repos/builtin/packages/openssl/package.py
Labels: update-package, new-variant

#35963 bazel: pretty print is all but pretty
  var/spack/repos/builtin/packages/bazel/package.py
  var/spack/repos/builtin/packages/py-dm-tree/package.py
  var/spack/repos/builtin/packages/py-keras/package.py
  var/spack/repos/builtin/packages/py-tensorflow-estimator/package.py
  var/spack/repos/builtin/packages/py-tensorflow-hub/package.py
  var/spack/repos/builtin/packages/py-tensorflow-probability/package.py
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: python, update-package

#17254 autotools: set 'ldlibs' as 'LIBS'
  lib/spack/spack/build_systems/autotools.py
Labels: autotools, build-systems, core

#39399 py-pyliblzma: remove python2 package
  var/spack/repos/builtin/packages/py-pyliblzma/package.py
Labels: python

#39377 release 0.0.1 py-dlio-profiler
  var/spack/repos/builtin/packages/py-dlio-profiler-py/package.py
Labels: new-version, new-package, python, dependencies
