Repository spack/spack, pull requests merged in 2023-05, with the labels that each got.

#37355 Revert "new package: roentdek"
  var/spack/repos/builtin/packages/roentdek/package.py
Labels: maintainers, e4s

#36927 Factor YAML manifest manipulation out of the Environment class
  lib/spack/spack/ci.py
  lib/spack/spack/cmd/ci.py
  lib/spack/spack/cmd/env.py
  lib/spack/spack/cmd/remove.py
  lib/spack/spack/environment/__init__.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/schema/ci.py
  lib/spack/spack/test/cmd/config.py
  lib/spack/spack/test/cmd/develop.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/cmd/install.py
  lib/spack/spack/test/env.py
  lib/spack/spack/test/environment.py
  lib/spack/spack/test/modules/lmod.py
Labels: tests, commands, environments, core

#37352 py-sphinx: add v7.0.0
  var/spack/repos/builtin/packages/py-sphinx/package.py
Labels: new-version, python, update-package

#37347 shapeit4: add v4.2.2
  var/spack/repos/builtin/packages/shapeit4/package.py
Labels: new-version, update-package

#37345 restic: add v0.15.2
  var/spack/repos/builtin/packages/restic/package.py
Labels: new-version, update-package

#37343 procenv: add v0.60
  var/spack/repos/builtin/packages/procenv/package.py
Labels: new-version, update-package

#37329 hunspell: add v1.7.2
  var/spack/repos/builtin/packages/hunspell/package.py
Labels: new-version, update-package

#37328 helib: add v2.2.2
  var/spack/repos/builtin/packages/helib/package.py
Labels: new-version, update-package

#37323 flibcpp: add v1.0.2
  var/spack/repos/builtin/packages/flibcpp/package.py
Labels: new-version, update-package

#37322 dropwatch: add v1.5.4
  var/spack/repos/builtin/packages/dropwatch/package.py
Labels: new-version, update-package

#37321 console-bridge: add v1.0.2
  var/spack/repos/builtin/packages/console-bridge/package.py
Labels: new-version, update-package

#37365 Update py-editdistance@0.6.2
  var/spack/repos/builtin/packages/py-editdistance/package.py
Labels: new-version, python, dependencies, update-package

#37356 petsc, py-petsc4py: add v3.19.1
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/py-petsc4py/package.py
Labels: new-version, python, update-package, e4s

#37337 mpi-bash: add v1.3
  var/spack/repos/builtin/packages/mpi-bash/package.py
Labels: new-version, update-package

#37313 tippecanoe: add v1.36.0
  var/spack/repos/builtin/packages/tippecanoe/package.py
Labels: new-version, update-package

#37315 alembic: add v1.8.5
  var/spack/repos/builtin/packages/alembic/package.py
Labels: new-version, update-package

#37339 nginx: add v1.24.0
  var/spack/repos/builtin/packages/nginx/package.py
Labels: new-version, update-package

#37317 c-blosc: add v1.21.2
  var/spack/repos/builtin/packages/c-blosc/package.py
Labels: new-version, update-package

#37336 mixcr: add v4.3.2
  var/spack/repos/builtin/packages/mixcr/package.py
Labels: new-version, update-package

#37327 heaptrack: add v1.3.0
  var/spack/repos/builtin/packages/heaptrack/package.py
Labels: new-version, update-package

#37263 new package: py-lcls-krtc
  var/spack/repos/builtin/packages/py-lcls-krtc/package.py
  var/spack/repos/builtin/packages/py-pykerberos/package.py
Labels: new-version, new-package, python, dependencies, maintainers, e4s

#37351 wsmancli: add v2.6.2
  var/spack/repos/builtin/packages/wsmancli/package.py
Labels: new-version, update-package

#37330 kubectl: add v1.27.1
  var/spack/repos/builtin/packages/kubectl/package.py
Labels: new-version, update-package

#37316 beakerlib: add v1.29.3
  var/spack/repos/builtin/packages/beakerlib/package.py
Labels: new-version, update-package

#37331 kubernetes: add v1.27.1
  var/spack/repos/builtin/packages/kubernetes/package.py
Labels: new-version, update-package

#37338 nco: add v5.1.5
  var/spack/repos/builtin/packages/nco/package.py
Labels: new-version, update-package

#37342 pharokka: add v1.3.2
  var/spack/repos/builtin/packages/pharokka/package.py
Labels: new-version, update-package

#37332 libibumad: add v44.1
  var/spack/repos/builtin/packages/libibumad/package.py
Labels: new-version, update-package

#37326 gnupg: add v2.4.1
  var/spack/repos/builtin/packages/gnupg/package.py
Labels: new-version, update-package

#37362 amrex: add 23.05
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package

#37071 visit: python 3.9 and above acceptable
  var/spack/repos/builtin/packages/visit/package.py
Labels: new-version, dependencies, update-package

#37258 Disable module file generation by default
  etc/spack/defaults/modules.yaml
  lib/spack/spack/hooks/module_file_generation.py
  lib/spack/spack/modules/__init__.py
  lib/spack/spack/modules/common.py
Labels: modules, defaults, core

#37369 gdb: add missing zstd, add system dep for zlib
  var/spack/repos/builtin/packages/gdb/package.py
Labels: dependencies, update-package

#37364 libpfm4: add version 4.13.0
  var/spack/repos/builtin/packages/libpfm4/package.py
Labels: new-version, update-package

#36627 dealii: add support for 9.4.1 and 9.4.2
  var/spack/repos/builtin/packages/dealii/package.py
Labels: new-version, update-package, new-variant

#37250 steps: add version 4.1.1, remove others
  var/spack/repos/builtin/packages/steps/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#37291 intel-tbb: backport GCC 13 support patch
  var/spack/repos/builtin/packages/intel-tbb/gcc_13-2021.patch
  var/spack/repos/builtin/packages/intel-tbb/package.py
Labels: intel, patch, update-package, conflicts

#37300 sqlitebrowser: add v3.12.2
  var/spack/repos/builtin/packages/sqlitebrowser/package.py
Labels: new-version, update-package

#37334 lua: add v5.4.5
  var/spack/repos/builtin/packages/lua/package.py
Labels: new-version, update-package

#37344 redis-plus-plus: add v1.3.8
  var/spack/repos/builtin/packages/redis-plus-plus/package.py
Labels: new-version, update-package

#37240 proj: don't depend on googletest at build time
  var/spack/repos/builtin/packages/proj/package.py
Labels: dependencies, update-package

#37366 ports-of-call: add version 1.5.1
  var/spack/repos/builtin/packages/ports-of-call/package.py
Labels: new-version, update-package

#37340 osi: add v0.108.8
  var/spack/repos/builtin/packages/osi/package.py
Labels: new-version, update-package

#37325 globalarrays: add v5.8.2
  var/spack/repos/builtin/packages/globalarrays/package.py
Labels: new-version, update-package

#37371 gromacs: add 2023.1 version
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: new-version, update-package

#36993 hip: Patch to handle file reorg changes for the tests
  var/spack/repos/builtin/packages/hip/0014-hip-test-file-reorg-5.4.0.patch
  var/spack/repos/builtin/packages/hip/package.py
Labels: dependencies, patch, update-package

#37361 GitHub Actions: do not install six in CI
  .github/workflows/audit.yaml
  .github/workflows/unit_tests.yaml
  .github/workflows/valid-style.yml
  .github/workflows/windows_python.yml
  var/spack/repos/builtin.mock/packages/multimethod/package.py
  var/spack/repos/builtin.mock/packages/raiser/package.py
  var/spack/repos/builtin/packages/dataspaces/package.py
  var/spack/repos/builtin/packages/pythia6/package.py
  var/spack/repos/builtin/packages/rust/package.py
Labels: update-package, workflow, core

#37387 trilinos: add version 14.0.0
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: new-version, update-package

#36673 Guard use of OpenMP in rocblas test
  var/spack/repos/builtin/packages/rocblas/0006-Guard-use-of-OpenMP-to-make-it-optional-5.4.patch
  var/spack/repos/builtin/packages/rocblas/package.py
Labels: dependencies, patch, update-package

#35450 Make recipes consistent w.r. libintl, iconv, gettext
  var/spack/repos/builtin/packages/acl/package.py
  var/spack/repos/builtin/packages/apex/package.py
  var/spack/repos/builtin/packages/bash/package.py
  var/spack/repos/builtin/packages/bcache/package.py
  var/spack/repos/builtin/packages/bind9/package.py
  var/spack/repos/builtin/packages/binutils/package.py
  var/spack/repos/builtin/packages/elfutils/package.py
  var/spack/repos/builtin/packages/extrae/package.py
  var/spack/repos/builtin/packages/ffmpeg/package.py
  var/spack/repos/builtin/packages/fsl/package.py
  var/spack/repos/builtin/packages/gdal/package.py
  var/spack/repos/builtin/packages/gettext/package.py
  var/spack/repos/builtin/packages/git/package.py
  var/spack/repos/builtin/packages/glib/package.py
  var/spack/repos/builtin/packages/gnupg/package.py
  var/spack/repos/builtin/packages/groff/package.py
  var/spack/repos/builtin/packages/krb5/package.py
  var/spack/repos/builtin/packages/lftp/package.py
  var/spack/repos/builtin/packages/libarchive/package.py
  var/spack/repos/builtin/packages/libxpm/package.py
  var/spack/repos/builtin/packages/mono/package.py
  var/spack/repos/builtin/packages/neovim/package.py
  var/spack/repos/builtin/packages/nfs-utils/package.py
  var/spack/repos/builtin/packages/oci-systemd-hook/package.py
  var/spack/repos/builtin/packages/opencv/package.py
  var/spack/repos/builtin/packages/procps/package.py
  var/spack/repos/builtin/packages/pulseaudio/package.py
  var/spack/repos/builtin/packages/py-onnxruntime/package.py
  var/spack/repos/builtin/packages/qt/package.py
  var/spack/repos/builtin/packages/r-rjava/package.py
  var/spack/repos/builtin/packages/rpcsvc-proto/package.py
  var/spack/repos/builtin/packages/rrdtool/package.py
  var/spack/repos/builtin/packages/subversion/package.py
  var/spack/repos/builtin/packages/systemtap/package.py
  var/spack/repos/builtin/packages/tar/package.py
  var/spack/repos/builtin/packages/universal-ctags/package.py
  var/spack/repos/builtin/packages/xfd/package.py
  var/spack/repos/builtin/packages/xfsdump/package.py
  var/spack/repos/builtin/packages/xfsprogs/package.py
Labels: python, R, dependencies, patch, update-package, conflicts, utilities, new-variant, core

#37391 intel-tbb: Add versions 2021.8.0 and 2021.9.0
  var/spack/repos/builtin/packages/intel-tbb/package.py
Labels: new-version, intel, update-package

#36141 buildcache push: improve printing
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/ci.py
  lib/spack/spack/cmd/buildcache.py
  lib/spack/spack/cmd/ci.py
  lib/spack/spack/test/bindist.py
  lib/spack/spack/test/build_distribution.py
  lib/spack/spack/test/ci.py
  lib/spack/spack/test/cmd/buildcache.py
  lib/spack/spack/test/cmd/ci.py
Labels: tests, commands, update-package, binary-packages, new-variant, core

#37360 intel-mpi-benchmarks: Open P2P variant for newer versions
  var/spack/repos/builtin/packages/intel-mpi-benchmarks/package.py
Labels: intel, update-package, new-variant

#37358 remove unused global in bindist tests
  lib/spack/spack/relocate.py
  lib/spack/spack/test/packaging.py
Labels: tests, core

#37378 Allow adding specs to an environment without the 'specs' attribute
  lib/spack/spack/environment/environment.py
  lib/spack/spack/test/env.py
Labels: tests, environments, core

#36681 Add 'zypper' to the valid container.os_packages commands
  lib/spack/docs/containers.rst
  lib/spack/spack/schema/container.py
  lib/spack/spack/test/container/docker.py
Labels: documentation, tests, containers, core

#37341 perl-module-install: add v1.21
  var/spack/repos/builtin/packages/perl-module-install/package.py
Labels: new-version, update-package

#37394 py-nilearn: add 0.10.1
  var/spack/repos/builtin/packages/py-nilearn/package.py
Labels: new-version, python, dependencies, update-package

#37395 py-bidskit: add 2023.2.16
  var/spack/repos/builtin/packages/py-bidskit/package.py
Labels: new-version, python, update-package

#37396 py-neurokit2: add 0.2.4
  var/spack/repos/builtin/packages/py-neurokit2/package.py
Labels: new-version, python, update-package

#37398 py-neurora: add 1.1.6.9
  var/spack/repos/builtin/packages/py-neurora/package.py
Labels: new-version, python, update-package

#37399 py-mne: add 1.3.1
  var/spack/repos/builtin/packages/py-mne/package.py
Labels: new-version, python, update-package

#37348 texinfo: add v7.0.3
  var/spack/repos/builtin/packages/texinfo/package.py
Labels: new-version, update-package

#37335 mii: add v1.1.2
  var/spack/repos/builtin/packages/mii/package.py
Labels: new-version, update-package

#37333 libjwt: add v1.15.2
  var/spack/repos/builtin/packages/libjwt/package.py
Labels: new-version, update-package

#36720 docs: update RHEL/CentOS system prerequisites
  lib/spack/docs/getting_started.rst
Labels: documentation, core

#37406 py-lightly: add v1.4.4
  var/spack/repos/builtin/packages/py-lightly/package.py
Labels: new-version, python, update-package

#37393 cabana: add optional silo build
  var/spack/repos/builtin/packages/cabana/package.py
Labels: dependencies, update-package, new-variant

#37288 pika: Add patches for generic context coroutine stack allocation
  var/spack/repos/builtin/packages/pika/generic_context_allocate_guard_0_10_12.patch
  var/spack/repos/builtin/packages/pika/generic_context_allocate_guard_0_13_14.patch
  var/spack/repos/builtin/packages/pika/package.py
  var/spack/repos/builtin/packages/pika/posix_stack_non_executable_0_13.patch
  var/spack/repos/builtin/packages/pika/posix_stack_non_executable_0_1_0_5.patch
  var/spack/repos/builtin/packages/pika/posix_stack_non_executable_0_6_0_12.patch
Labels: patch, update-package

#37404 buildcache metadata: store hash -> prefix mapping
  lib/spack/spack/binary_distribution.py
Labels: binary-packages, core

#36768 acfl: add compiler-package mapping and fix version number
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/compilers/arm.py
  lib/spack/spack/test/compilers/detection.py
Labels: compilers, tests, core

#37424 Deprecate `env:` as top level environment key
  lib/spack/spack/environment/environment.py
  lib/spack/spack/test/cmd/dev_build.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/cmd/undevelop.py
  lib/spack/spack/test/config.py
  lib/spack/spack/test/env.py
Labels: environments, deprecation

#37403 pika: add 0.15.0
  var/spack/repos/builtin/packages/pika/package.py
Labels: new-version, update-package

#36679 cmake build system: change default build type to "Release"
  lib/spack/spack/build_systems/cmake.py
  var/spack/repos/builtin/packages/adios2/package.py
  var/spack/repos/builtin/packages/ccls/package.py
  var/spack/repos/builtin/packages/compadre/package.py
  var/spack/repos/builtin/packages/embree/package.py
  var/spack/repos/builtin/packages/enzyme/package.py
  var/spack/repos/builtin/packages/fftx/package.py
  var/spack/repos/builtin/packages/gpi-space/package.py
  var/spack/repos/builtin/packages/helics/package.py
  var/spack/repos/builtin/packages/keepassxc/package.py
  var/spack/repos/builtin/packages/libristra/package.py
  var/spack/repos/builtin/packages/llvm-doe/package.py
  var/spack/repos/builtin/packages/llvm-openmp-ompt/package.py
  var/spack/repos/builtin/packages/llvm/package.py
  var/spack/repos/builtin/packages/netlib-scalapack/package.py
  var/spack/repos/builtin/packages/omnitrace/package.py
  var/spack/repos/builtin/packages/opencarp/package.py
  var/spack/repos/builtin/packages/py-pennylane-lightning-kokkos/package.py
  var/spack/repos/builtin/packages/py-pennylane-lightning/package.py
  var/spack/repos/builtin/packages/sleef/package.py
  var/spack/repos/builtin/packages/sollve/package.py
  var/spack/repos/builtin/packages/spiral-software/package.py
  var/spack/repos/builtin/packages/templight/package.py
  var/spack/repos/builtin/packages/vtk-m/package.py
  var/spack/repos/builtin/packages/winbison/package.py
  var/spack/repos/builtin/packages/xyce/package.py
Labels: python, update-package, build-systems, core

#37377 detect ifx 2023.1, add test
  lib/spack/spack/compilers/oneapi.py
  lib/spack/spack/test/compilers/detection.py
Labels: compilers, tests, e4s, core

#37408 iperf2: Add new versions 2.1.{7,8,9}
  var/spack/repos/builtin/packages/iperf2/package.py
Labels: new-version, update-package

#37433 Place an upper bound on urllib3
  lib/spack/docs/requirements.txt
Labels: documentation, core

#37386 intel-oneapi-mkl: include mpi libs when using +cluster
  var/spack/repos/builtin/packages/intel-oneapi-mkl/package.py
Labels: intel, update-package

#36643 allow repo to specify alternate packages subdirectory
  lib/spack/docs/repositories.rst
  lib/spack/spack/cmd/repo.py
  lib/spack/spack/repo.py
  lib/spack/spack/test/repo.py
  share/spack/spack-completion.bash
Labels: documentation, tests, commands, core

#37432 Remove "blacklist" and "whitelist" from module configuration
  lib/spack/spack/modules/common.py
  lib/spack/spack/schema/modules.py
  lib/spack/spack/test/cmd/module.py
  lib/spack/spack/test/modules/common.py
  lib/spack/spack/test/modules/lmod.py
  lib/spack/spack/test/modules/tcl.py
Labels: modules, tests, commands, core, removal

#37431 Revert "lua: add v5.4.5"
  var/spack/repos/builtin/packages/lua/package.py
Labels: update-package

#37319 cleaveland4: add v4.5
  var/spack/repos/builtin/packages/cleaveland4/package.py
Labels: new-version, update-package

#33323 mpich: avoid '-fallow-argument-mismatch' in the compiler wrappers
  var/spack/repos/builtin/packages/mpich/package.py
Labels: update-package

#34001 spack uninstall: reduce verbosity
  lib/spack/spack/cmd/uninstall.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/parser.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/cmd/uninstall.py
Labels: tests, commands, environments, core

#37436 meson: change default build type to "release"
  lib/spack/spack/build_systems/meson.py
  var/spack/repos/builtin/packages/mesa/package.py
Labels: update-package, build-systems, core

#37368 elfutils: unconditionally depend on zstd
  var/spack/repos/builtin/packages/elfutils/package.py
  var/spack/repos/builtin/packages/hpctoolkit/package.py
Labels: dependencies, update-package

#37215 cc: deal with -Wl,-rpath= without value, deal with NAG
  lib/spack/env/cc
  lib/spack/spack/test/cc.py
Labels: tests, core

#37359 binutils: enable debug section compression with zlib by default
  var/spack/repos/builtin/packages/binutils/package.py
Labels: update-package, new-variant

#37413 Relax environment manifest filename requirements and lockfile identification criteria
  lib/spack/docs/configuration.rst
  lib/spack/docs/environments.rst
  lib/spack/docs/mirrors.rst
  lib/spack/spack/cmd/env.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/test/env.py
Labels: documentation, tests, commands, environments, core

#35451 Tutorial fixes for next time
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/stacks/tutorial/spack.yaml
Labels: gitlab, core

#34861 spack buildcache create -> push; --update-index
  lib/spack/docs/binary_caches.rst
  lib/spack/spack/cmd/buildcache.py
  lib/spack/spack/test/bindist.py
  lib/spack/spack/test/cmd/buildcache.py
  lib/spack/spack/test/cmd/ci.py
  lib/spack/spack/test/cmd/install.py
  lib/spack/spack/test/cmd/mirror.py
  share/spack/spack-completion.bash
Labels: documentation, tests, commands, core

#37448 editline: add v1.17.1
  var/spack/repos/builtin/packages/editline/package.py
Labels: new-version, update-package

#37446 biobloom: add v2.3.5
  var/spack/repos/builtin/packages/biobloom/package.py
Labels: new-version, update-package

#37435 Adding ncbi-vdb 3.0.2
  var/spack/repos/builtin/packages/ncbi-vdb/package.py
  var/spack/repos/builtin/packages/sra-tools/package.py
Labels: new-version, dependencies, update-package

#37447 cli11: add v2.3.2
  var/spack/repos/builtin/packages/cli11/package.py
Labels: new-version, update-package

#37449 extrae: add v4.0.4
  var/spack/repos/builtin/packages/extrae/package.py
Labels: new-version, update-package

#37452 logrotate: add v3.21.0
  var/spack/repos/builtin/packages/logrotate/package.py
Labels: new-version, update-package

#37460 Fix typos in packaging guide
  lib/spack/docs/packaging_guide.rst
Labels: documentation, core

#37454 octave: add v8.2.0
  var/spack/repos/builtin/packages/octave/package.py
Labels: new-version, update-package

#37453 mmg: add v5.7.1
  var/spack/repos/builtin/packages/mmg/package.py
Labels: new-version, update-package

#37455 phast: add v1.6
  var/spack/repos/builtin/packages/phast/package.py
Labels: new-version, update-package

#37463 hdf5: Add conflict for older cmake versions.
  var/spack/repos/builtin/packages/hdf5/package.py
Labels: update-package, conflicts

#37443 py-palettable: add 3.3.3
  var/spack/repos/builtin/packages/py-palettable/package.py
Labels: new-version, python, update-package

#37450 fms: add v2023.01
  var/spack/repos/builtin/packages/fms/package.py
Labels: new-version, update-package

#37445 apr: add v1.7.4
  var/spack/repos/builtin/packages/apr/package.py
Labels: new-version, update-package

#37464 [elfutils] iconv is required (see ./configure --help)
  var/spack/repos/builtin/packages/elfutils/package.py
Labels: dependencies, update-package

#37093 Packaging Guide: build-time test updates: option and test logs
  lib/spack/docs/packaging_guide.rst
Labels: documentation, core

#37451 libpcap: add v1.10.4
  var/spack/repos/builtin/packages/libpcap/package.py
Labels: new-version, update-package

#37538 libblastrampoline: add v5.8.0
  var/spack/repos/builtin/packages/libblastrampoline/package.py
Labels: new-version, update-package

#37544 bump tutorial image
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/stacks/tutorial/spack.yaml
Labels: gitlab, core

#37523 libtiff: add v4.5.0
  var/spack/repos/builtin/packages/libtiff/package.py
Labels: new-version, update-package

#37474 petsc@3.19.1 +rocm: conflicts with rocprim@5.3.0
  var/spack/repos/builtin/packages/petsc/package.py
Labels: update-package, conflicts, e4s, ROCm/hip

#37461 caliper +rocm: patch missing libunwind include dir
  var/spack/repos/builtin/packages/caliper/package.py
  var/spack/repos/builtin/packages/caliper/sampler-service-missing-libunwind-include-dir.patch
Labels: patch, update-package, e4s, ROCm/hip

#36437 pkgconf: add v1.9.5
  var/spack/repos/builtin/packages/pkgconf/package.py
Labels: new-version, update-package

#37426 HPX: Add 1.9.0
  var/spack/repos/builtin/packages/hpx/package.py
Labels: new-version, update-package, conflicts

#37076 trinity: adding version 2.15.1
  var/spack/repos/builtin/packages/trinity/2.15.1.patch
  var/spack/repos/builtin/packages/trinity/package.py
Labels: new-version, patch, update-package

#37434 libmonitor: add version 2023.03.15
  var/spack/repos/builtin/packages/libmonitor/package.py
Labels: new-version, update-package

#35219 caliper +rocm: use hipcc for CMAKE_CXX_COMPILER
  var/spack/repos/builtin/packages/caliper/package.py
Labels: patch, update-package, e4s, ROCm/hip

#37357 new package: psalg
  var/spack/repos/builtin/packages/psalg/package.py
Labels: new-version, new-package, dependencies, maintainers, e4s

#37546 druid: add v1.2.8
  var/spack/repos/builtin/packages/druid/package.py
Labels: new-version, update-package

#37545 delta: add v2.3.0
  var/spack/repos/builtin/packages/delta/package.py
Labels: new-version, update-package

#37541 scitokens-cpp: add v1.0.1
  var/spack/repos/builtin/packages/scitokens-cpp/package.py
Labels: new-version, update-package

#37540 mlst: add v2.23.0
  var/spack/repos/builtin/packages/mlst/package.py
Labels: new-version, update-package

#37539 libjpeg-turbo: add v2.1.5
  var/spack/repos/builtin/packages/libjpeg-turbo/package.py
Labels: new-version, update-package

#37537 hazelcast: add v5.2.3
  var/spack/repos/builtin/packages/hazelcast/package.py
Labels: new-version, update-package

#37536 exiv2: add v0.27.6
  var/spack/repos/builtin/packages/exiv2/package.py
Labels: new-version, update-package

#37535 breseq: add v0.38.1
  var/spack/repos/builtin/packages/breseq/package.py
Labels: new-version, update-package

#37563 gh: add conflict for v2.28.0 and macos
  var/spack/repos/builtin/packages/gh/package.py
Labels: update-package, conflicts

#32306 view_copy: relocate symlinks
  lib/spack/spack/filesystem_view.py
Labels: core

#37571 Use single quotes to inline manifest in Dockerfiles
  lib/spack/spack/container/writers/docker.py
  lib/spack/spack/test/container/docker.py
Labels: tests, containers, core

#37534 z-checker: add v0.9.0
  var/spack/repos/builtin/packages/z-checker/package.py
Labels: new-version, update-package

#37566 memkind: parallel = false
  var/spack/repos/builtin/packages/memkind/package.py
Labels: update-package, e4s

#37015 CI: Backwards compatibility requires script override behavior
  lib/spack/spack/ci.py
Labels: core

#37574 py-loguru: add v0.2.5, v0.3.0
  var/spack/repos/builtin/packages/py-loguru/package.py
Labels: new-version, python, update-package, e4s

#37203 r-knitr: add v1.42
  var/spack/repos/builtin/packages/r-knitr/package.py
Labels: new-version, R, dependencies, update-package

#37320 conmon: add v2.1.7
  var/spack/repos/builtin/packages/conmon/package.py
Labels: new-version, update-package

#37456 unifdef: add v2.12
  var/spack/repos/builtin/packages/unifdef/package.py
Labels: new-version, update-package

#37476 kinesis: add v2.4.8
  var/spack/repos/builtin/packages/kinesis/package.py
Labels: new-version, update-package

#37478 squashfs-mount: add v0.4.0
  var/spack/repos/builtin/packages/squashfs-mount/package.py
Labels: new-version, update-package

#34236 Stand-alone testing: Make recipe support and processing spack-/pytest-like
  lib/spack/docs/conf.py
  lib/spack/docs/packaging_guide.rst
  lib/spack/spack/audit.py
  lib/spack/spack/build_environment.py
  lib/spack/spack/build_systems/_checks.py
  lib/spack/spack/builder.py
  lib/spack/spack/ci.py
  lib/spack/spack/cmd/info.py
  lib/spack/spack/cmd/test.py
  lib/spack/spack/install_test.py
  lib/spack/spack/installer.py
  lib/spack/spack/package.py
  lib/spack/spack/package_base.py
  lib/spack/spack/repo.py
  lib/spack/spack/report.py
  lib/spack/spack/reporters/cdash.py
  lib/spack/spack/reporters/extract.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/audit.py
  lib/spack/spack/test/builder.py
  lib/spack/spack/test/ci.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/cmd/install.py
  lib/spack/spack/test/cmd/module.py
  lib/spack/spack/test/cmd/pkg.py
  lib/spack/spack/test/cmd/test.py
  lib/spack/spack/test/data/test/test_stage/gavrxt67t7yaiwfek7dds7lgokmoaiin/printing-package-1.0-hzgcoow-test-out.txt
  lib/spack/spack/test/data/unparse/legion.txt
  lib/spack/spack/test/data/unparse/mfem.txt
  lib/spack/spack/test/install.py
  lib/spack/spack/test/installer.py
  lib/spack/spack/test/package_class.py
  lib/spack/spack/test/packages.py
  lib/spack/spack/test/repo.py
  lib/spack/spack/test/reporters.py
  lib/spack/spack/test/test_suite.py
  lib/spack/spack/test/util/package_hash.py
  lib/spack/spack/verify.py
  var/spack/repos/builtin.mock/packages/fail-test-audit/package.py
  var/spack/repos/builtin.mock/packages/mpi/package.py
  var/spack/repos/builtin.mock/packages/mpich/package.py
  var/spack/repos/builtin.mock/packages/printing-package/package.py
  var/spack/repos/builtin.mock/packages/py-test-callback/package.py
  var/spack/repos/builtin.mock/packages/simple-standalone-test/package.py
  var/spack/repos/builtin.mock/packages/test-error/package.py
  var/spack/repos/builtin.mock/packages/test-fail/package.py
Labels: new-version, python, documentation, dependencies, build-environment, virtual-dependencies, tests, commands, update-package, maintainers, build-systems, stand-alone-tests, core

#37552 Create include/lib in prefix for oneapi packages
  lib/spack/spack/build_systems/oneapi.py
  var/spack/repos/builtin/packages/elk/package.py
  var/spack/repos/builtin/packages/intel-oneapi-mkl/package.py
  var/spack/repos/builtin/packages/intel-oneapi-mpi/package.py
  var/spack/repos/builtin/packages/intel-oneapi-tbb/package.py
Labels: intel, update-package, build-systems, core

#36283 New option "--first" for "spack location"
  lib/spack/spack/cmd/location.py
  lib/spack/spack/test/cmd/location.py
  share/spack/spack-completion.bash
Labels: tests, commands, core

#37083 cuda: add versions 12.0.1, 12.1.0 and 12.1.1
  lib/spack/spack/build_systems/cuda.py
  var/spack/repos/builtin/packages/cuda/package.py
Labels: update-package, conflicts, build-systems, core

#37586 intel-oneapi-mkl: add threading support
  var/spack/repos/builtin/packages/intel-oneapi-mkl/package.py
Labels: intel, update-package, new-variant

#36801 Ophidia-analytics-framework, ophidia-io-server: Work
  var/spack/repos/builtin/packages/ophidia-analytics-framework/package.py
  var/spack/repos/builtin/packages/ophidia-io-server/package.py
Labels: new-version, update-package

#37580 fd: merge fd-find with fd
  var/spack/repos/builtin/packages/fd-find/package.py
  var/spack/repos/builtin/packages/fd/package.py
Labels: new-version, update-package

#37581 py-gtdbtk: adding version 2.3.0
  var/spack/repos/builtin/packages/py-gtdbtk/package.py
Labels: new-version, python, dependencies, update-package

#36507 Remove 7zip from compression module
  lib/spack/spack/test/util/compression.py
  lib/spack/spack/util/compression.py
Labels: tests, utilities, core

#37457 ci: remove --mirror-url flag
  lib/spack/spack/ci.py
  lib/spack/spack/test/cmd/ci.py
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
Labels: tests, commands, gitlab, core

#37092 Upgrade exago's petsc dependency to v3.19.0
  var/spack/repos/builtin/packages/exago/package.py
Labels: dependencies, update-package
