Repository spack/spack, pull requests merged in 2023-06, with the labels that each got.

#37592 Lbann cached cmake
  lib/spack/spack/build_systems/cached_cmake.py
  var/spack/repos/builtin/packages/lbann/package.py
Labels: dependencies, update-package, build-systems, core

#37295 xSDK examples v0.4.0
  var/spack/repos/builtin/packages/exago/package.py
  var/spack/repos/builtin/packages/heffte/cmake-magma-v230.patch
  var/spack/repos/builtin/packages/heffte/package.py
  var/spack/repos/builtin/packages/hiop/package.py
  var/spack/repos/builtin/packages/hypre/package.py
  var/spack/repos/builtin/packages/mfem/package.py
  var/spack/repos/builtin/packages/slate/package.py
  var/spack/repos/builtin/packages/strumpack/package.py
  var/spack/repos/builtin/packages/superlu-dist/package.py
  var/spack/repos/builtin/packages/xsdk-examples/package.py
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: new-version, dependencies, xSDK, patch, update-package, new-variant, core

#38008 seacas: Add latest release; update fmt dependency
  var/spack/repos/builtin/packages/seacas/package.py
Labels: new-version, dependencies, update-package

#37932 Spec.format: print false attributes if requested
  lib/spack/spack/spec.py
  lib/spack/spack/test/spec_semantics.py
Labels: tests, core

#38021 pika: add 0.16.0 and pika-algorithms 0.1.3
  var/spack/repos/builtin/packages/pika-algorithms/package.py
  var/spack/repos/builtin/packages/pika/package.py
Labels: new-version, dependencies, update-package, conflicts

#38007 asio: Add versions up to 1.28.0
  var/spack/repos/builtin/packages/asio/package.py
Labels: new-version, dependencies, update-package, conflicts

#38034 openssh: depend on krb5+shared when +gssapi
  var/spack/repos/builtin/packages/openssh/package.py
Labels: dependencies, update-package

#38017 py-datalad-neuroimaging: add 0.3.3
  var/spack/repos/builtin/packages/py-datalad-neuroimaging/package.py
Labels: new-version, python, dependencies, update-package

#35336 Fix OpenCV detection on Ubuntu
  var/spack/repos/builtin/packages/opencv/package.py
Labels: update-package

#37444 Adding libpsm3 package
  var/spack/repos/builtin/packages/libpsm3/package.py
Labels: new-version, new-package, dependencies, maintainers, new-variant

#37739 Memoize a few hot functions during module file generation
  lib/spack/spack/modules/common.py
  lib/spack/spack/modules/lmod.py
  lib/spack/spack/tengine.py
  lib/spack/spack/test/relocate.py
  lib/spack/spack/test/tengine.py
Labels: modules, tests, performance, core

#38019 py-executing: add 1.2.0
  var/spack/repos/builtin/packages/py-executing/package.py
Labels: new-version, python, update-package

#38041 py-future: add 0.18.3
  var/spack/repos/builtin/packages/py-future/package.py
Labels: new-version, python, update-package

#38027 py-fonttools: add 4.39.4
  var/spack/repos/builtin/packages/py-fonttools/package.py
Labels: new-version, python, dependencies, update-package

#38001 py-docutils: add 0.20.1
  var/spack/repos/builtin/packages/py-docutils/package.py
Labels: new-version, python, update-package

#36692 lua-luafilesystem: update source URL and improve rockspec detection
  var/spack/repos/builtin/packages/lua-luafilesystem/package.py
Labels: new-version, dependencies, update-package

#36355 double-batched-fft-library: patch to add search paths to findOpenCL.cmake
  var/spack/repos/builtin/packages/double-batched-fft-library/0001-Add-CPATH-and-LIBRARY_PATHs-to-OpenCL-search-paths.patch
  var/spack/repos/builtin/packages/double-batched-fft-library/package.py
Labels: patch, update-package

#38035 py-formulaic: add 0.6.1
  var/spack/repos/builtin/packages/py-formulaic/package.py
Labels: new-version, python, update-package

#38055 Update singularityce image hash
  var/spack/repos/builtin/packages/singularityce/package.py
Labels: new-version, update-package

#38053 Add py-gmxapi version 0.4.2
  var/spack/repos/builtin/packages/py-gmxapi/package.py
Labels: new-version, python, update-package

#38018 py-exceptiongroup: add 1.1.1
  var/spack/repos/builtin/packages/py-exceptiongroup/package.py
Labels: new-version, python, update-package

#38025 py-flask: add 2.3.2, py-blinker: add 1.6.2, py-werkzeug: add 2.3.4
  var/spack/repos/builtin/packages/py-blinker/package.py
  var/spack/repos/builtin/packages/py-flask/package.py
  var/spack/repos/builtin/packages/py-werkzeug/package.py
Labels: new-version, python, dependencies, update-package

#38060 sz: add versions v2.1.12.5 and v2.1.12.4
  var/spack/repos/builtin/packages/sz/package.py
Labels: new-version, update-package, conflicts

#38103 py-hatch-fancy-pypi-readme: depends_on when typo
  var/spack/repos/builtin/packages/py-hatch-fancy-pypi-readme/package.py
Labels: python, dependencies, update-package

#38091 sqlite: add 3.42.0
  var/spack/repos/builtin/packages/sqlite/package.py
Labels: new-version, update-package

#38081 botan: checksum new versions and enable external find
  var/spack/repos/builtin/packages/botan/package.py
Labels: new-version, update-package

#38078 lcio: Add latest version 2.20
  var/spack/repos/builtin/packages/lcio/package.py
Labels: new-version, update-package

#37973 c-blosc: add v1.21.4
  var/spack/repos/builtin/packages/c-blosc/package.py
Labels: new-version, update-package

#35816 CMake: return nothing faster for external CMake
  var/spack/repos/builtin/packages/cmake/package.py
Labels: update-package, libraries, headers

#32476 llvm: optionally build compiler-rt, libcxx and libunwind as runtimes
  share/spack/gitlab/cloud_pipelines/stacks/data-vis-sdk/spack.yaml
  var/spack/repos/builtin/packages/julia/package.py
  var/spack/repos/builtin/packages/llvm/constexpr_longdouble.patch
  var/spack/repos/builtin/packages/llvm/constexpr_longdouble_9.0.patch
  var/spack/repos/builtin/packages/llvm/libomp-libflags-as-list.patch
  var/spack/repos/builtin/packages/llvm/lldb_external_ncurses-10.patch
  var/spack/repos/builtin/packages/llvm/llvm-gcc11.patch
  var/spack/repos/builtin/packages/llvm/llvm14-hwloc-ompd.patch
  var/spack/repos/builtin/packages/llvm/llvm5-lld-ELF-Symbols.patch
  var/spack/repos/builtin/packages/llvm/llvm5-sanitizer-ustat.patch
  var/spack/repos/builtin/packages/llvm/llvm_py37.patch
  var/spack/repos/builtin/packages/llvm/llvm_python_path.patch
  var/spack/repos/builtin/packages/llvm/missing-includes.patch
  var/spack/repos/builtin/packages/llvm/no_cyclades.patch
  var/spack/repos/builtin/packages/llvm/no_cyclades9.patch
  var/spack/repos/builtin/packages/llvm/package.py
  var/spack/repos/builtin/packages/llvm/sanitizer-ipc_perm_mode.patch
  var/spack/repos/builtin/packages/llvm/xray_buffer_queue-cstddef.patch
  var/spack/repos/builtin/packages/open3d/package.py
Labels: dependencies, patch, update-package, conflicts, maintainers, gitlab, new-variant, core

#38108 hyperfine: add v1.16.1
  var/spack/repos/builtin/packages/hyperfine/package.py
Labels: new-version, update-package

#38126 libbson: add v1.23.4
  var/spack/repos/builtin/packages/libbson/package.py
Labels: new-version, update-package

#38054 py-gast: add 0.5.4
  var/spack/repos/builtin/packages/py-gast/package.py
  var/spack/repos/builtin/packages/py-pythran/package.py
Labels: new-version, python, dependencies, update-package

#38043 votca: stable branch was removed
  var/spack/repos/builtin/packages/votca/package.py
Labels: update-package

#38089 py-imageio: add 2.30.0
  var/spack/repos/builtin/packages/py-imageio/package.py
Labels: new-version, python, update-package

#38088 py-identify: add 2.5.24
  var/spack/repos/builtin/packages/py-identify/package.py
Labels: new-version, python, update-package

#38077 py-humanize: add 4.6.0
  var/spack/repos/builtin/packages/py-humanize/package.py
Labels: new-version, python, dependencies, update-package

#38076 py-hatchling: add 1.17.0
  var/spack/repos/builtin/packages/py-hatchling/package.py
Labels: new-version, python, update-package

#38075 py-hatch-fancy-pypi-readme: add 23.1.0
  var/spack/repos/builtin/packages/py-hatch-fancy-pypi-readme/package.py
Labels: new-version, python, update-package

#37935 py-htseq: add 2.0.3, switch to PyPI
  var/spack/repos/builtin/packages/py-htseq/package.py
Labels: new-version, python, dependencies, update-package, new-variant

#37921 GMT: add new versions
  var/spack/repos/builtin/packages/gmt/package.py
Labels: new-version, dependencies, resources, patch, update-package, new-variant

#38090 py-jaxlib: patch bazel server cpu limit (#37548)
  var/spack/repos/builtin/packages/py-jaxlib/package.py
Labels: python, update-package

#38111 py-ipykernel: add 6.23.1
  var/spack/repos/builtin/packages/py-ipykernel/package.py
Labels: new-version, python, update-package

#38110 py-iso8601: add 1.1.0
  var/spack/repos/builtin/packages/py-iso8601/package.py
Labels: new-version, python, update-package

#38113 py-ipython: add 8.14.0
  var/spack/repos/builtin/packages/py-ipython/package.py
Labels: new-version, python, dependencies, update-package

#38163 grep: add v3.11
  var/spack/repos/builtin/packages/grep/package.py
Labels: new-version, update-package

#38162 at-spi2-core: add v2.48.3
  var/spack/repos/builtin/packages/at-spi2-core/package.py
Labels: new-version, update-package

#38042 PAPI: updating git URL
  var/spack/repos/builtin/packages/papi/package.py
Labels: update-package

#38139 madx: add v5.09.00
  var/spack/repos/builtin/packages/madx/package.py
Labels: new-version, update-package

#38156 signify: add v31
  var/spack/repos/builtin/packages/signify/package.py
Labels: new-version, update-package

#38154 sbt: add v1.8.3
  var/spack/repos/builtin/packages/sbt/package.py
Labels: new-version, update-package

#38152 primer3: add v2.6.1
  var/spack/repos/builtin/packages/primer3/package.py
Labels: new-version, update-package

#38151 pgdspider: add v2.1.1.5
  var/spack/repos/builtin/packages/pgdspider/package.py
Labels: new-version, update-package

#38147 openexr: add v3.1.7
  var/spack/repos/builtin/packages/openexr/package.py
Labels: new-version, update-package

#38146 nim: add v1.9.3
  var/spack/repos/builtin/packages/nim/package.py
Labels: new-version, update-package

#38145 ngmlr: add v0.2.7
  var/spack/repos/builtin/packages/ngmlr/package.py
Labels: new-version, update-package

#38144 nettle: add v3.9.1
  var/spack/repos/builtin/packages/nettle/package.py
Labels: new-version, update-package

#38143 nco: add v5.1.6
  var/spack/repos/builtin/packages/nco/package.py
Labels: new-version, update-package

#38140 mariadb-c-client: add v3.3.5
  var/spack/repos/builtin/packages/mariadb-c-client/package.py
Labels: new-version, update-package

#38137 ltp: add v20230127
  var/spack/repos/builtin/packages/ltp/package.py
Labels: new-version, update-package

#38136 lsscsi: add v0.32
  var/spack/repos/builtin/packages/lsscsi/package.py
Labels: new-version, update-package

#38135 libvori: add v220621
  var/spack/repos/builtin/packages/libvori/package.py
Labels: new-version, update-package

#38133 libthai: add v0.1.29
  var/spack/repos/builtin/packages/libthai/package.py
Labels: new-version, update-package

#38124 laszip: add v3.4.3
  var/spack/repos/builtin/packages/laszip/package.py
Labels: new-version, update-package

#38150 perl-math-bigint: add v1.999838
  var/spack/repos/builtin/packages/perl-math-bigint/package.py
Labels: new-version, update-package

#38129 libgd: add v2.3.3
  var/spack/repos/builtin/packages/libgd/package.py
Labels: new-version, update-package

#38132 libspiro: add v20221101
  var/spack/repos/builtin/packages/libspiro/package.py
Labels: new-version, update-package

#38131 librdkafka: add v2.1.1
  var/spack/repos/builtin/packages/librdkafka/package.py
Labels: new-version, update-package

#38130 libibumad: add v46.0
  var/spack/repos/builtin/packages/libibumad/package.py
Labels: new-version, update-package

#38128 libeatmydata: add v131
  var/spack/repos/builtin/packages/libeatmydata/package.py
Labels: new-version, update-package

#38125 leptonica: add v1.83.1
  var/spack/repos/builtin/packages/leptonica/package.py
Labels: new-version, update-package

#38157 simde: add v0.7.6
  var/spack/repos/builtin/packages/simde/package.py
Labels: new-version, update-package

#38123 kubernetes: add v1.27.2
  var/spack/repos/builtin/packages/kubernetes/package.py
Labels: new-version, update-package

#38121 jline3: add v3.22.0
  var/spack/repos/builtin/packages/jline3/package.py
Labels: new-version, update-package

#38120 jimtcl: add v0.82
  var/spack/repos/builtin/packages/jimtcl/package.py
Labels: new-version, update-package

#38119 iqtree2: add v2.2.2
  var/spack/repos/builtin/packages/iqtree2/package.py
Labels: new-version, update-package

#38046 Update RtD and Sphinx configuration
  .github/dependabot.yml
  .readthedocs.yml
  lib/spack/docs/_pygments/style.py
  lib/spack/docs/conf.py
  lib/spack/docs/requirements.txt
Labels: documentation, core

#38172 starpu: add release 1.3.11
  var/spack/repos/builtin/packages/starpu/package.py
Labels: new-version, update-package

#38142 nccmp: add v1.9.1.0
  var/spack/repos/builtin/packages/nccmp/package.py
Labels: new-version, update-package

#38148 optional-lite: add v3.5.0
  var/spack/repos/builtin/packages/optional-lite/package.py
Labels: new-version, update-package

#38107 hssp: add v3.1.5
  var/spack/repos/builtin/packages/hssp/package.py
Labels: new-version, update-package

#38106 azcopy: add v10.19.0
  var/spack/repos/builtin/packages/azcopy/package.py
Labels: new-version, update-package

#38173 ncbi-rmblastn: adding new version 2.14.0
  var/spack/repos/builtin/packages/ncbi-rmblastn/package.py
Labels: new-version, dependencies, patch, update-package

#38155 seal: add v4.1.1
  var/spack/repos/builtin/packages/seal/package.py
Labels: new-version, update-package

#38102 py-jupyterlab: add 4.0.1 incl. new dependencies
  var/spack/repos/builtin/packages/py-fqdn/package.py
  var/spack/repos/builtin/packages/py-hatch-jupyter-builder/package.py
  var/spack/repos/builtin/packages/py-isoduration/package.py
  var/spack/repos/builtin/packages/py-jsonschema/package.py
  var/spack/repos/builtin/packages/py-jupyter-events/package.py
  var/spack/repos/builtin/packages/py-jupyter-lsp/package.py
  var/spack/repos/builtin/packages/py-jupyter-server-terminals/package.py
  var/spack/repos/builtin/packages/py-jupyter-server/package.py
  var/spack/repos/builtin/packages/py-jupyterlab-server/package.py
  var/spack/repos/builtin/packages/py-jupyterlab/package.py
  var/spack/repos/builtin/packages/py-overrides/package.py
  var/spack/repos/builtin/packages/py-python-json-logger/package.py
  var/spack/repos/builtin/packages/py-rfc3339-validator/package.py
  var/spack/repos/builtin/packages/py-rfc3986-validator/package.py
  var/spack/repos/builtin/packages/py-uri-template/package.py
Labels: new-version, new-package, python, dependencies, update-package, new-variant

#38116 fjcontrib: add v1.052
  var/spack/repos/builtin/packages/fjcontrib/package.py
Labels: new-version, update-package

#37971 asdcplib: add v2_10_38
  var/spack/repos/builtin/packages/asdcplib/package.py
Labels: new-version, update-package

#38182 ninja-phylogeny: adding new package ninja-phylogeny
  var/spack/repos/builtin/packages/ninja-phylogeny/package.py
Labels: new-version, new-package

#38097 Add MADIS package
  var/spack/repos/builtin/packages/madis/package.py
Labels: new-version, new-package, dependencies, new-variant

#38101 Rename fpic variant to pic for fms
  var/spack/repos/builtin/packages/fms/package.py
Labels: update-package

#36125 `libraqm`: add missing `fribidi` dependency
  var/spack/repos/builtin/packages/libraqm/package.py
  var/spack/repos/builtin/packages/sheenbidi/package.py
Labels: new-version, new-package, dependencies, update-package, new-variant

#35745 tests/eigenexa: convert to new stand-alone test process
  var/spack/repos/builtin/packages/eigenexa/package.py
Labels: update-package, stand-alone-tests

#38187 trilinos@develop+stokhos: do not set Stokhos_ENABLE_PCE_Scalar_Type=False
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: update-package, e4s

#38202 Don't build rocky:9 images for ppc64le
  .github/workflows/build-containers.yml
Labels: workflow, core

#38011 tests/mfem: convert to new stand-alone test process
  var/spack/repos/builtin/packages/mfem/package.py
Labels: update-package, stand-alone-tests

#38009 tests/oommf: convert to new stand-alone test process
  var/spack/repos/builtin/packages/oommf/package.py
Labels: update-package, stand-alone-tests

#37836 tests/darshan-util: convert to new stand-alone test process
  var/spack/repos/builtin/packages/darshan-util/package.py
Labels: update-package, stand-alone-tests

#35730 tests/ginkgo: converted to new stand-alone test process
  var/spack/repos/builtin/packages/ginkgo/package.py
Labels: update-package, stand-alone-tests

#37727 tests/perl: convert to new stand-alone test process
  var/spack/repos/builtin/packages/perl/package.py
Labels: update-package, stand-alone-tests

#38166 Nextflow: add 23.04.1
  var/spack/repos/builtin/packages/nextflow/package.py
Labels: new-version, update-package

#38023 openssl: New versions 1.1.1u, 3.0.9, 3.1.1
  var/spack/repos/builtin/packages/openssl/package.py
Labels: new-version, update-package

#37766 containers: Don't install epel-release on Fedora
  lib/spack/docs/containers.rst
  lib/spack/spack/container/images.json
  share/spack/templates/container/almalinux_8.dockerfile
  share/spack/templates/container/almalinux_9.dockerfile
  share/spack/templates/container/centos_stream.dockerfile
  share/spack/templates/container/fedora_37.dockerfile
  share/spack/templates/container/fedora_38.dockerfile
  share/spack/templates/container/rockylinux_8.dockerfile
  share/spack/templates/container/rockylinux_9.dockerfile
Labels: documentation, docker, workflow, core

#37959 julia: Update patch for llvm 14 without binary files
  var/spack/repos/builtin/packages/julia/package.py
Labels: update-package

#38169 Fix no CUDA/HIP architecture set in cached cmake package
  lib/spack/spack/build_systems/cached_cmake.py
Labels: build-systems, core

#37892 nwchem: remove -mtune=native flags
  var/spack/repos/builtin/packages/nwchem/package.py
Labels: update-package

#37853 Guard for define in netcdf 4.9.0 and later.
  var/spack/repos/builtin/packages/paraview/exodusII-netcdf4.9.0.patch
  var/spack/repos/builtin/packages/paraview/package.py
Labels: patch, update-package

#30939 Add documentation about package signing model
  lib/spack/docs/index.rst
  lib/spack/docs/signing.rst
Labels: documentation, security, ci, core

#37407 Update versions 3.3.0,3.4.0,3.4.1 in OpenFAST package.py
  var/spack/repos/builtin/packages/openfast/package.py
Labels: new-version, update-package

#37806 casacore: add v3.5.0
  var/spack/repos/builtin/packages/casacore/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#38063 chemfiles: add v0.10.4
  var/spack/repos/builtin/packages/chemfiles/package.py
Labels: new-version, update-package

#38180 py-jupyter-client: add 8.2.0
  var/spack/repos/builtin/packages/py-jupyter-client/package.py
Labels: new-version, python, update-package

#38167 py-jaraco-classes: add 3.2.3
  var/spack/repos/builtin/packages/py-jaraco-classes/package.py
Labels: new-version, python, update-package

#38178 py-json5: add 0.9.14
  var/spack/repos/builtin/packages/py-json5/package.py
Labels: new-version, python, dependencies, update-package

#38016 `py-horovod`: add versions v0.27.0 and v0.28.0
  var/spack/repos/builtin/packages/py-horovod/package.py
Labels: new-version, python, dependencies, update-package

#38022 `py-nvidia-dali`: update versions up to v1.26.0
  var/spack/repos/builtin/packages/py-nvidia-dali/package.py
Labels: new-version, python, dependencies, update-package

#38183 py-keyring: add 23.13.1
  var/spack/repos/builtin/packages/py-keyring/package.py
Labels: new-version, python, dependencies, update-package

#38064 cni-plugins: add v1.3.0
  var/spack/repos/builtin/packages/cni-plugins/package.py
Labels: new-version, update-package

#38223 quantum-espresso: add 7.2
  var/spack/repos/builtin/packages/quantum-espresso/package.py
Labels: new-version, update-package

#38210 bismark: add 0.24.1, add HISAT2 dependency
  var/spack/repos/builtin/packages/bismark/package.py
Labels: new-version, dependencies, update-package

#38246 (r-rcpp)armadillo: new version 12.4.0
  var/spack/repos/builtin/packages/armadillo/package.py
  var/spack/repos/builtin/packages/r-rcpparmadillo/package.py
Labels: new-version, R, update-package

#38122 junit4: add v4.13.2
  var/spack/repos/builtin/packages/junit4/package.py
Labels: new-version, update-package

#38057 Fix compiler removal from command line
  lib/spack/spack/cmd/compiler.py
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/config.py
  lib/spack/spack/test/bindist.py
  lib/spack/spack/test/cmd/compiler.py
  lib/spack/spack/test/cmd/external.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/versions.py
Labels: compilers, tests, commands, core

#38249 (r-rcpp)ensmallen: new package
  var/spack/repos/builtin/packages/ensmallen/package.py
  var/spack/repos/builtin/packages/r-rcppensmallen/package.py
Labels: new-version, new-package, R, dependencies, new-variant

#36842 CMake: Make CMAKE_INSTALL_PREFIX a posix path
  lib/spack/spack/build_systems/cmake.py
Labels: bug, build-systems, core

#37969 bdw-gc: add v8.2.4
  var/spack/repos/builtin/packages/bdw-gc/package.py
Labels: new-version, update-package

#38259 py-lightly: add v1.4.7
  var/spack/repos/builtin/packages/py-lightly/package.py
Labels: new-version, python, dependencies, update-package

#38235 Mold: 1.11.0
  var/spack/repos/builtin/packages/mold/package.py
Labels: new-version, dependencies, update-package

#38254 bedtools2: patching to build with gcc@13
  var/spack/repos/builtin/packages/bedtools2/bedtools-gcc13.patch
  var/spack/repos/builtin/packages/bedtools2/package.py
Labels: patch, update-package

#38260 py-lightning: add v2.0.3
  var/spack/repos/builtin/packages/py-lightning-cloud/package.py
  var/spack/repos/builtin/packages/py-lightning/package.py
Labels: new-version, python, dependencies, update-package

#38251 ocaml: don't use the spack compiler
  var/spack/repos/builtin/packages/ocaml/package.py
Labels: update-package

#38079 eProsima packages and dependencies
  var/spack/repos/builtin/packages/eprosima-fastcdr/package.py
  var/spack/repos/builtin/packages/eprosima-fastdds/package.py
  var/spack/repos/builtin/packages/foonathan-memory/package.py
Labels: new-version, new-package, dependencies

#38198 py-markupsafe: add 2.1.3
  var/spack/repos/builtin/packages/py-markupsafe/package.py
Labels: new-version, python, update-package

#38193 seqtk: add 1.4
  var/spack/repos/builtin/packages/seqtk/package.py
Labels: new-version, update-package

#38206 trimgalore: add 0.6.10, adding variants for compression systems
  var/spack/repos/builtin/packages/trimgalore/package.py
Labels: new-version, dependencies, update-package, new-variant

#38201 bowtie2: add 2.5.1
  var/spack/repos/builtin/packages/bowtie2/package.py
Labels: new-version, update-package

#38211 gatk: add 4.4, update to java@17
  var/spack/repos/builtin/packages/gatk/package.py
Labels: new-version, dependencies, update-package

#38214 py-mistune: add 2.0.5
  var/spack/repos/builtin/packages/py-mistune/package.py
Labels: new-version, python, update-package

#38230 py-msgpack: add 1.0.5
  var/spack/repos/builtin/packages/py-msgpack/package.py
Labels: new-version, python, update-package

#38190 py-looseversion: add 1.2.0
  var/spack/repos/builtin/packages/py-looseversion/package.py
Labels: new-version, python, dependencies, update-package

#38191 py-lxml: add 4.9.2
  var/spack/repos/builtin/packages/py-lxml/package.py
Labels: new-version, python, update-package

#38194 py-mako: add 1.2.4
  var/spack/repos/builtin/packages/py-mako/package.py
Labels: new-version, python, dependencies, update-package

#38236 glab: add new versions
  var/spack/repos/builtin/packages/glab/package.py
Labels: new-version, update-package

#38247 BLT: add version 0.5.3
  var/spack/repos/builtin/packages/blt/package.py
Labels: new-version, update-package

#38256 Hotfix to avoid building compilers from sources in pcluster pipelines
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/stacks/aws-pcluster-icelake/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/aws-pcluster-neoverse_n1/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/aws-pcluster-neoverse_v1/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/aws-pcluster-skylake/spack.yaml
Labels: gitlab, core

#37769 containerize: Use an `ENTRYPOINT` script
  share/spack/templates/container/Dockerfile
Labels: docker, core

#37822 [gromacs] Fix intel (classic) libstdc++ path
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: dependencies, update-package, new-variant

#35605 enabling test for comgr
  var/spack/repos/builtin/packages/comgr/package.py
Labels: update-package

#38270 [py-typer] new package
  var/spack/repos/builtin/packages/py-typer/package.py
Labels: new-version, new-package, python, dependencies

#38252 install status arg: update to default true and add inverse
  lib/spack/spack/cmd/common/arguments.py
  lib/spack/spack/cmd/solve.py
  lib/spack/spack/cmd/spec.py
  lib/spack/spack/test/cmd/spec.py
  share/spack/spack-completion.bash
Labels: tests, commands, core

#38283 Abinit update
  var/spack/repos/builtin/packages/abinit/package.py
Labels: new-version, update-package
