Repository spack/spack, pull requests merged in 2023-03, with the labels that each got.

#35753 Add recent NCO versions to package
  var/spack/repos/builtin/packages/nco/package.py
Labels: new-version, update-package

#35662 hpctoolkit: add version 2023.03.01, add python variant
  var/spack/repos/builtin/packages/hpctoolkit/411d62544717873432c49ef45c7cb99cc5de2fb8.patch
  var/spack/repos/builtin/packages/hpctoolkit/package.py
Labels: new-version, dependencies, patch, update-package, conflicts, new-variant

#35490 adding new version to bacio, including handling of shared library builds
  var/spack/repos/builtin/packages/bacio/package.py
Labels: new-version, update-package, new-variant

#35757 add nfft 3.2.4 (still the required version for octopus)
  var/spack/repos/builtin/packages/nfft/package.py
Labels: new-version, update-package

#35612 QE: Migrating AOCC to use CMake Build System
  var/spack/repos/builtin/packages/quantum-espresso/configure_aocc.patch
  var/spack/repos/builtin/packages/quantum-espresso/package.py
Labels: patch, update-package, conflicts

#35657 gts: missing pkgconfig dependency
  var/spack/repos/builtin/packages/gts/package.py
Labels: dependencies, update-package

#35622 Add new versions of Julia dependencies
  var/spack/repos/builtin/packages/libuv-julia/package.py
  var/spack/repos/builtin/packages/mpfr/package.py
  var/spack/repos/builtin/packages/nghttp2/package.py
Labels: new-version, dependencies, update-package

#35537 Remove handling of deprecated target names (graviton)
  lib/spack/spack/target.py
  share/spack/gitlab/cloud_pipelines/stacks/aws-ahug-aarch64/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/aws-isc-aarch64/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/radiuss-aws-aarch64/spack.yaml
Labels: gitlab, deprecation, core

#35725 Docs: fix link to PythonPackage docs
  lib/spack/docs/packaging_guide.rst
Labels: documentation, core

#35712 More precise dependencies for v7/v8
  var/spack/repos/builtin/packages/scorep/package.py
Labels: dependencies, update-package

#35710 hpcg: add arm compiler
  var/spack/repos/builtin/packages/hpcg/package.py
Labels: patch, update-package

#35211 add ascent 0.9.0 release
  var/spack/repos/builtin/packages/ascent/package.py
Labels: new-version, dependencies, update-package, e4s, new-variant

#35755 py-torchmetrics: add v0.11.2-3
  var/spack/repos/builtin/packages/py-torchmetrics/package.py
Labels: new-version, python, update-package

#35548 py-uproot: new versions 4.3.*, 5.0.*
  var/spack/repos/builtin/packages/py-uproot/package.py
Labels: new-version, python, dependencies, update-package

#35690 tests/cbench: renamed test_blas_linkage to check_blas_linkage
  var/spack/repos/builtin/packages/cbench/package.py
Labels: update-package

#35715 mbedtls: new versions and deprecations [CVE-2022-46392]
  var/spack/repos/builtin/packages/mbedtls/package.py
Labels: new-version, update-package

#35678 Refactor and fix problems for the ELK package, as well as, add a more recent version
  var/spack/repos/builtin/packages/elk/package.py
Labels: new-version, update-package

#35665 dd4hep: new versions 1.25, 1.25.1
  var/spack/repos/builtin/packages/dd4hep/package.py
Labels: new-version, update-package

#35682 docbook: resolve conflict in spack env view
  var/spack/repos/builtin/packages/docbook-xml/package.py
  var/spack/repos/builtin/packages/docbook-xsl/package.py
Labels: update-package

#35675 Set preferred version of OOMMF
  var/spack/repos/builtin/packages/oommf/package.py
Labels: update-package

#35647 dpdk: add a new build system and version
  var/spack/repos/builtin/packages/dpdk/package.py
Labels: new-version, dependencies, update-package

#35636 hdf5-vol-async: Add v1.5 release
  var/spack/repos/builtin/packages/hdf5-vol-async/package.py
Labels: new-version, update-package, e4s

#33066 mvapich2-gdr/mvapich2x: Nickc/update package config
  var/spack/repos/builtin/packages/mvapich2-gdr/package.py
  var/spack/repos/builtin/packages/mvapich2x/package.py
Labels: new-version, dependencies, update-package, conflicts

#28887 vc: improvements for testing
  var/spack/repos/builtin/packages/vc/package.py
  var/spack/repos/builtin/packages/virtest/package.py
Labels: new-version, update-package, maintainers

#32713 sartre: new package
  var/spack/repos/builtin/packages/sartre/package.py
Labels: new-version, new-package, dependencies, maintainers

#35547 py-particle: new versions 0.16.*, 0.20.*, 0.21.*
  var/spack/repos/builtin/packages/py-particle/package.py
Labels: new-version, python, dependencies, update-package

#35177 wrf: Fix compilation with GCC 10+
  var/spack/repos/builtin/packages/wrf/package.py
Labels: update-package

#35626 Simplify `spack help --spec` output
  lib/spack/spack/cmd/help.py
Labels: commands, core

#35679 Py dask mpi
  var/spack/repos/builtin/packages/py-dask-mpi/package.py
  var/spack/repos/builtin/packages/py-jupyter-server-proxy/package.py
  var/spack/repos/builtin/packages/py-simpervisor/package.py
Labels: new-version, new-package, python, dependencies

#35728 Fix superlu-dist package for cray fortran
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: cray, patch, update-package

#35760 py-dbf: new versions and dependency
  var/spack/repos/builtin/packages/py-dbf/package.py
Labels: new-version, python, dependencies, update-package

#35600 Update FEniCSx libraries to v0.6
  var/spack/repos/builtin/packages/fenics-basix/package.py
  var/spack/repos/builtin/packages/fenics-dolfinx/package.py
  var/spack/repos/builtin/packages/fenics-ufcx/package.py
  var/spack/repos/builtin/packages/py-fenics-basix/package.py
  var/spack/repos/builtin/packages/py-fenics-dolfinx/package.py
  var/spack/repos/builtin/packages/py-fenics-ffcx/package.py
  var/spack/repos/builtin/packages/py-fenics-ufl/package.py
Labels: new-version, python, dependencies, update-package

#34048 papi: more fixes for Intel OneAPI compiler
  var/spack/repos/builtin/packages/papi/intel-oneapi-compiler-fixes.patch
  var/spack/repos/builtin/packages/papi/package.py
Labels: patch, update-package

#35761 GitHub CLI: Add version 2.23.0
  var/spack/repos/builtin/packages/gh/package.py
Labels: new-version, update-package

#35774 Add capitalized symlinks for libesmf.{a,so}
  var/spack/repos/builtin/packages/esmf/package.py
Labels: update-package

#35394 py-pygments 2.12; fix py-docutils, again
  var/spack/repos/builtin/packages/py-docutils/package.py
  var/spack/repos/builtin/packages/py-pygments/package.py
Labels: new-version, python, dependencies, update-package

#35570 py-torchgeo: kornia backwards-incompatible change
  var/spack/repos/builtin/packages/py-torchgeo/package.py
Labels: python, dependencies, update-package

#35743 Add py-mpi4py as a dependency for henson
  var/spack/repos/builtin/packages/henson/package.py
Labels: dependencies, update-package

#35779 Fix the detection of Cray slingshot network
  lib/spack/spack/platforms/cray.py
Labels: core, architecture

#35629 py-pytorch-lightning: add v1.9.3
  var/spack/repos/builtin/packages/py-pytorch-lightning/package.py
Labels: new-version, python, update-package

#35554 py-kornia: add v0.6.10
  var/spack/repos/builtin/packages/py-kornia/package.py
Labels: new-version, python, update-package

#35775 WarpX 23.03
  var/spack/repos/builtin/packages/py-warpx/package.py
  var/spack/repos/builtin/packages/warpx/package.py
Labels: new-version, python, update-package, ecp, e4s

#35738 Add a `py-gmxapi` package.
  var/spack/repos/builtin/packages/py-gmxapi/package.py
Labels: new-version, new-package, python, dependencies, conflicts

#35759 py-chart-studio: new package
  var/spack/repos/builtin/packages/py-chart-studio/package.py
Labels: new-version, new-package, python, dependencies

#35776 julia: fix for libuv and Julia on Polaris
  var/spack/repos/builtin/packages/julia/package.py
  var/spack/repos/builtin/packages/libuv-julia/package.py
Labels: dependencies, update-package

#35780 py-rtoml: add new package
  var/spack/repos/builtin/packages/py-maturin/package.py
  var/spack/repos/builtin/packages/py-rtoml/package.py
Labels: new-version, new-package, python, dependencies

#35786 py-nbstripout: add new package
  var/spack/repos/builtin/packages/py-nbstripout/package.py
Labels: new-version, new-package, python, dependencies

#35794 Add e3sm scorpio
  var/spack/repos/builtin/packages/e3sm-scorpio/package.py
Labels: new-version, new-package, dependencies, new-variant

#35652 scons: add a new version
  var/spack/repos/builtin/packages/scons/package.py
Labels: new-version, update-package

#35784 py-jupyter-server-proxy: fix dependency condition
  var/spack/repos/builtin/packages/py-jupyter-server-proxy/package.py
Labels: python, dependencies, update-package

#35788 Update pyprecice v2.5.0.2
  var/spack/repos/builtin/packages/py-pyprecice/package.py
Labels: new-version, python, update-package

#35789 update Drishti GitHub URL
  var/spack/repos/builtin/packages/drishti/package.py
Labels: update-package

#35787 CI: Fix timeout for VisIt and ParaView
  share/spack/gitlab/cloud_pipelines/stacks/e4s-power/spack.yaml
Labels: gitlab, core

#35654 py-ipdb: updating versions
  var/spack/repos/builtin/packages/py-ipdb/package.py
Labels: new-version, python, dependencies, update-package

#35535 snakemake: added versions 7.19.0-7.22.0
  var/spack/repos/builtin/packages/snakemake/package.py
Labels: new-version, dependencies, update-package

#35812 Polish `spack.util.environment`
  lib/spack/spack/build_environment.py
  lib/spack/spack/main.py
  lib/spack/spack/modules/lmod.py
  lib/spack/spack/test/cc.py
  lib/spack/spack/test/environment_modifications.py
  lib/spack/spack/test/modules/lmod.py
  lib/spack/spack/util/environment.py
Labels: modules, build-environment, refactoring, tests, utilities, core

#35376 Start using paths found in extra_rpaths in compilers.yaml when building
  var/spack/repos/builtin/packages/mvapich/package.py
Labels: update-package

#35811 Update python linting packages
  var/spack/repos/builtin/packages/py-astroid/package.py
  var/spack/repos/builtin/packages/py-pylint/package.py
Labels: new-version, python, dependencies, update-package

#35785 py-simpervisor: correct pypi
  var/spack/repos/builtin/packages/py-simpervisor/package.py
Labels: python, update-package

#35640 windows: use `sys.platform == "win32"` instead of `is_windows`
  lib/spack/llnl/util/filesystem.py
  lib/spack/llnl/util/symlink.py
  lib/spack/spack/cmd/unit_test.py
  lib/spack/spack/compiler.py
  lib/spack/spack/detection/common.py
  lib/spack/spack/detection/path.py
  lib/spack/spack/directory_layout.py
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/hooks/sbang.py
  lib/spack/spack/installer.py
  lib/spack/spack/package_base.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/cmd/external.py
  lib/spack/spack/test/cmd/resource.py
  lib/spack/spack/test/cmd_extensions.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/database.py
  lib/spack/spack/test/installer.py
  lib/spack/spack/test/link_paths.py
  lib/spack/spack/test/llnl/util/file_list.py
  lib/spack/spack/test/llnl/util/lock.py
  lib/spack/spack/test/patch.py
  lib/spack/spack/test/util/environment.py
  lib/spack/spack/test/util/executable.py
  lib/spack/spack/test/util/path.py
  lib/spack/spack/util/compression.py
  lib/spack/spack/util/lock.py
  lib/spack/spack/util/path.py
  lib/spack/spack/util/windows_registry.py
  var/spack/repos/builtin.mock/packages/cmake/package.py
  var/spack/repos/builtin/packages/cmake/package.py
  var/spack/repos/builtin/packages/perl/package.py
  var/spack/repos/builtin/packages/python/package.py
  var/spack/repos/builtin/packages/re2c/package.py
  var/spack/repos/builtin/packages/scons/package.py
  var/spack/repos/builtin/packages/wrf/package.py
Labels: compilers, python, fetching, locking, tests, commands, update-package, utilities, new-variant, sbang, core

#35826 libarchive: add v3.6.2 and deprecate previous versions due to CVE
  var/spack/repos/builtin/packages/libarchive/package.py
Labels: new-version, update-package

#35825 curl: add v7.88.1 and deprecate previous versions due to CVEs
  var/spack/repos/builtin/packages/curl/package.py
Labels: new-version, update-package

#35824 hugo: add v0.111.1
  var/spack/repos/builtin/packages/hugo/package.py
Labels: new-version, update-package

#35764 py-elasticsearch: new versions
  var/spack/repos/builtin/packages/py-elastic-transport/package.py
  var/spack/repos/builtin/packages/py-elasticsearch/package.py
Labels: new-version, new-package, python, dependencies, update-package, new-variant

#35721 compiler flags: fix multiple compilers with different flags
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/concretize.py
Labels: compilers, tests, core

#35108 Proj: to CMake
  var/spack/repos/builtin/packages/proj/package.py
Labels: dependencies, update-package, conflicts

#35822 py-matplotlib: add v3.7.1
  var/spack/repos/builtin/packages/py-matplotlib/package.py
Labels: new-version, python, update-package

#35830 alglib: add v3.20.0
  var/spack/repos/builtin/packages/alglib/package.py
Labels: new-version, update-package

#35829 ace: add v7.1.0
  var/spack/repos/builtin/packages/ace/package.py
Labels: new-version, update-package

#35831 appres: add v1.0.6
  var/spack/repos/builtin/packages/appres/package.py
Labels: new-version, update-package

#35833 atk: add v2.38.0
  var/spack/repos/builtin/packages/atk/package.py
Labels: new-version, update-package

#35841 bmake: add v20230303
  var/spack/repos/builtin/packages/bmake/package.py
Labels: new-version, update-package

#35839 bitmap: add v1.1.0
  var/spack/repos/builtin/packages/bitmap/package.py
Labels: new-version, update-package

#35840 busybox: add v1.36.0
  var/spack/repos/builtin/packages/busybox/package.py
Labels: new-version, update-package

#35843 beforelight: add v1.0.6
  var/spack/repos/builtin/packages/beforelight/package.py
Labels: new-version, update-package

#35827 Update biopython, gsd, and griddataformats
  var/spack/repos/builtin/packages/py-biopython/package.py
  var/spack/repos/builtin/packages/py-griddataformats/package.py
  var/spack/repos/builtin/packages/py-gsd/package.py
Labels: new-version, python, dependencies, update-package

#35834 aspell: add v0.60.8
  var/spack/repos/builtin/packages/aspell/package.py
Labels: new-version, update-package

#35847 colordiff: add v1.0.21
  var/spack/repos/builtin/packages/colordiff/package.py
Labels: new-version, update-package

#35850 dash: add v0.5.12
  var/spack/repos/builtin/packages/dash/package.py
Labels: new-version, update-package

#35853 easybuild: add v4.7.0
  var/spack/repos/builtin/packages/easybuild/package.py
  var/spack/repos/builtin/packages/py-easybuild-easyblocks/package.py
  var/spack/repos/builtin/packages/py-easybuild-easyconfigs/package.py
  var/spack/repos/builtin/packages/py-easybuild-framework/package.py
Labels: new-version, python, dependencies, update-package

#35855 code-server: add v4.10.1
  var/spack/repos/builtin/packages/code-server/package.py
Labels: new-version, update-package

#35844 bc: add v1.07.1
  var/spack/repos/builtin/packages/bc/package.py
Labels: new-version, update-package

#35846 cget: add v0.2.0
  var/spack/repos/builtin/packages/cget/package.py
Labels: new-version, update-package

#35836 awscli: add v1.27.84
  var/spack/repos/builtin/packages/awscli/package.py
  var/spack/repos/builtin/packages/py-botocore/package.py
Labels: new-version, python, dependencies, update-package

#35832 apr: add v1.7.2, apr-util 1.6.3
  var/spack/repos/builtin/packages/apr-util/package.py
  var/spack/repos/builtin/packages/apr/package.py
Labels: new-version, update-package

#35848 cmocka: add v1.1.7
  var/spack/repos/builtin/packages/cmocka/package.py
Labels: new-version, update-package

#35796 sundials: add new version
  var/spack/repos/builtin/packages/sundials/package.py
Labels: new-version, update-package

#35851 dnsmasq: add v2.89
  var/spack/repos/builtin/packages/dnsmasq/package.py
Labels: new-version, update-package

#35849 cloog: add v0.18.4
  var/spack/repos/builtin/packages/cloog/package.py
Labels: new-version, update-package

#35809 py-pytorch-lightning: torch~distributed not supported in 1.9.0
  var/spack/repos/builtin/packages/py-pytorch-lightning/package.py
Labels: python, update-package, conflicts

#35791 py-pytorch-lightning: add v1.9.4
  var/spack/repos/builtin/packages/py-pytorch-lightning/package.py
Labels: new-version, python, update-package

#35810 update SPERR package
  var/spack/repos/builtin/packages/sperr/package.py
Labels: new-version, update-package, new-variant

#35870 fstobdf: add v1.0.7
  var/spack/repos/builtin/packages/fstobdf/package.py
Labels: new-version, update-package

#35864 gatk: add v4.3.0.0
  var/spack/repos/builtin/packages/gatk/package.py
Labels: new-version, update-package

#35869 fslsfonts: add v1.0.6
  var/spack/repos/builtin/packages/fslsfonts/package.py
Labels: new-version, update-package

#35862 fonttosfnt: add v1.2.2
  var/spack/repos/builtin/packages/fonttosfnt/package.py
Labels: new-version, update-package

#35866 gegl: add v0.4.42
  var/spack/repos/builtin/packages/gegl/package.py
Labels: new-version, update-package

#35871 glpk: add v5.0
  var/spack/repos/builtin/packages/glpk/package.py
Labels: new-version, update-package

#35874 gprolog: add v1.5.0
  var/spack/repos/builtin/packages/gprolog/package.py
Labels: new-version, update-package

#35873 gradle: add v8.0.2
  var/spack/repos/builtin/packages/gradle/package.py
Labels: new-version, update-package

#35875 grep: add v3.9
  var/spack/repos/builtin/packages/grep/package.py
Labels: new-version, update-package

#35876 graphviz: add v7.1.0
  var/spack/repos/builtin/packages/graphviz/package.py
Labels: new-version, update-package

#35878 hivex: add v1.3.23
  var/spack/repos/builtin/packages/hivex/package.py
Labels: new-version, update-package

#35883 htslib: add v1.17
  var/spack/repos/builtin/packages/htslib/package.py
Labels: new-version, update-package

#35892 py-numpy-stl: new package
  var/spack/repos/builtin/packages/py-numpy-stl/package.py
  var/spack/repos/builtin/packages/py-python-utils/package.py
Labels: new-version, new-package, python, dependencies, update-package

#35882 imake: add v1.0.9
  var/spack/repos/builtin/packages/imake/package.py
Labels: new-version, update-package

#35880 iceauth: add v1.0.9
  var/spack/repos/builtin/packages/iceauth/package.py
Labels: new-version, update-package

#35884 isl: add v0.25
  var/spack/repos/builtin/packages/isl/package.py
Labels: new-version, update-package

#35894 libxc: use gitlab release tarballs
  var/spack/repos/builtin/packages/libxc/package.py
Labels: new-version, dependencies, update-package

#35916 jchronoss: add v1.2.1
  var/spack/repos/builtin/packages/jchronoss/package.py
Labels: new-version, update-package

#35856 erlang: add v25.2
  var/spack/repos/builtin/packages/erlang/package.py
Labels: new-version, update-package

#35920 lndir: add v1.0.4
  var/spack/repos/builtin/packages/lndir/package.py
Labels: new-version, update-package

#35921 listres: add v1.0.5
  var/spack/repos/builtin/packages/listres/package.py
Labels: new-version, update-package

#35918 lua-luaposix: add v36.1
  var/spack/repos/builtin/packages/lua-luaposix/package.py
Labels: new-version, update-package

#35879 httpie: add v3.2.1
  var/spack/repos/builtin/packages/httpie/package.py
Labels: new-version, dependencies, update-package

#35915 iso-codes: add v4.13.0
  var/spack/repos/builtin/packages/iso-codes/package.py
Labels: new-version, update-package

#35877 help2man: add v1.49.3
  var/spack/repos/builtin/packages/help2man/package.py
Labels: new-version, update-package

#35926 py-mypy: add v1.1.1
  var/spack/repos/builtin/packages/py-mypy-extensions/package.py
  var/spack/repos/builtin/packages/py-mypy/package.py
Labels: new-version, python, dependencies, update-package

#35912 compiler wrapper: parse Wl and Xlinker properly
  lib/spack/env/cc
  lib/spack/spack/test/build_environment.py
  lib/spack/spack/test/cc.py
Labels: tests, bugfix, core

#35917 lucene: add v9.5.0
  var/spack/repos/builtin/packages/lucene/package.py
Labels: new-version, update-package

#34613 Boost: add version 1.81.0
  var/spack/repos/builtin/packages/boost/package.py
Labels: new-version, update-package

#35868 ftxui: add v4.0.0
  var/spack/repos/builtin/packages/ftxui/package.py
Labels: new-version, update-package

#35881 ico: add v1.0.6
  var/spack/repos/builtin/packages/ico/package.py
Labels: new-version, update-package

#35885 lammps: GPU/Kokkos package updates
  var/spack/repos/builtin/packages/lammps/hip_cmake.patch
  var/spack/repos/builtin/packages/lammps/package.py
Labels: dependencies, patch, update-package, conflicts, new-variant

#35803 pgplot: made dependent packages set environment variables from pgplot
  var/spack/repos/builtin/packages/pgplot/package.py
Labels: update-package

#35625 singularity-eos: Fix Cray CCE fortran module naming
  var/spack/repos/builtin/packages/singularity-eos/package.py
Labels: update-package

#35771 docs/packaging_guide: added platform conflicts example plus quotes fix
  lib/spack/docs/packaging_guide.rst
Labels: new-version, documentation, dependencies, virtual-dependencies, patch, conflicts, new-variant, core, extends

#35749 ESMF should use Spack wrappers directly
  var/spack/repos/builtin/packages/esmf/package.py
Labels: update-package

#35614 gromacs: add sve variant on aarch64
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: update-package, new-variant

#35896 Update py-seaborn to @0.12.2
  var/spack/repos/builtin/packages/py-seaborn/package.py
Labels: new-version, python, dependencies, update-package

#35783 Update and fix py-meldmd
  var/spack/repos/builtin/packages/openmm/package.py
  var/spack/repos/builtin/packages/py-meldmd/package.py
Labels: new-version, python, dependencies, update-package, extends

#35895 New package: py-imbalanced-learn
  var/spack/repos/builtin/packages/py-imbalanced-learn/package.py
Labels: new-version, new-package, python, dependencies, new-variant

#35681 Split `satisfies(..., strict=True/False)` into two functions
  lib/spack/spack/abi.py
  lib/spack/spack/audit.py
  lib/spack/spack/bootstrap/core.py
  lib/spack/spack/ci.py
  lib/spack/spack/cmd/buildcache.py
  lib/spack/spack/cmd/info.py
  lib/spack/spack/cmd/mirror.py
  lib/spack/spack/concretize.py
  lib/spack/spack/database.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/mirror.py
  lib/spack/spack/modules/common.py
  lib/spack/spack/package_base.py
  lib/spack/spack/package_prefs.py
  lib/spack/spack/projections.py
  lib/spack/spack/provider_index.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/architecture.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/cmd/install.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/env.py
  lib/spack/spack/test/packages.py
  lib/spack/spack/test/spec_semantics.py
  lib/spack/spack/test/spec_syntax.py
  lib/spack/spack/test/variant.py
  lib/spack/spack/test/versions.py
  lib/spack/spack/util/package_hash.py
  lib/spack/spack/variant.py
  lib/spack/spack/version.py
  var/spack/repos/builtin.mock/packages/v1-consumer/package.py
  var/spack/repos/builtin/packages/gcc/package.py
  var/spack/repos/builtin/packages/intel-tbb/package.py
  var/spack/repos/builtin/packages/macsio/package.py
  var/spack/repos/builtin/packages/openmpi/package.py
  var/spack/repos/builtin/packages/python/package.py
Labels: new-version, python, dependencies, modules, fetching, tests, commands, versions, intel, environments, update-package, utilities, new-variant, core

#35910 neovim: add version 0.8.3
  var/spack/repos/builtin/packages/neovim/package.py
Labels: new-version, update-package

#35553 parallelio: new version
  var/spack/repos/builtin/packages/parallelio/package.py
Labels: new-version, update-package

#35909 py-parse-type: new package
  var/spack/repos/builtin/packages/py-parse-type/package.py
Labels: new-version, new-package, python, dependencies

#35608 Add support for mfem cuda build
  var/spack/repos/builtin/packages/mfem/package.py
Labels: update-package

#35907 py-openmesh: new package
  var/spack/repos/builtin/packages/py-openmesh/package.py
Labels: new-version, new-package, python, dependencies

#35889 new py-thop package
  var/spack/repos/builtin/packages/py-thop/package.py
Labels: new-version, new-package, python, dependencies

#35623 buildcache create: reproducible tarballs
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/test/bindist.py
Labels: tests, binary-packages, core

#35274 gitlab ci: Provide a knob to control untouched spec pruning
  lib/spack/spack/ci.py
  lib/spack/spack/test/ci.py
  lib/spack/spack/test/cmd/ci.py
Labels: tests, commands, core

#35769 gdb: version 13.1 and debuginfod support
  var/spack/repos/builtin/packages/gdb/package.py
Labels: new-version, dependencies, update-package, new-variant

#35734 qwt: lift restrictions on qt version and added an opengl variant and VisIt use
  var/spack/repos/builtin/packages/qwt/no-opengl_6_1.patch
  var/spack/repos/builtin/packages/qwt/package.py
  var/spack/repos/builtin/packages/visit/package.py
Labels: dependencies, patch, update-package, new-variant

#35900 Debugging: add log statements to debug custom modifications
  lib/spack/spack/build_environment.py
Labels: build-environment, core

#35767 Provide openmp from rocm-open-extras when tensile uses openmp
  var/spack/repos/builtin/packages/rocm-tensile/0003-require-openmp-extras-when-tensile-use-openmp.patch
  var/spack/repos/builtin/packages/rocm-tensile/package.py
Labels: dependencies, patch, update-package

#35670 Variant and conflict fixes on intel-mpi-benchmarks
  var/spack/repos/builtin/packages/intel-mpi-benchmarks/package.py
Labels: intel, update-package, conflicts, new-variant

#35765 amrex: add v23.03
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, dependencies, update-package

#35922 rmgdft: add version 5.0.5
  var/spack/repos/builtin/packages/rmgdft/package.py
Labels: new-version, update-package

#35923 p7zip: update checksum for 17.05
  var/spack/repos/builtin/packages/p7zip/package.py
Labels: new-version, update-package

#35933 Add pika 0.13.0 and pika-algorithms 0.1.2
  var/spack/repos/builtin/packages/pika-algorithms/package.py
  var/spack/repos/builtin/packages/pika/package.py
Labels: new-version, dependencies, update-package
