Repository spack/spack, pull requests merged in 2023-11, with the labels that each got.

#40570 Enable address sanitizer in rocm's llvm-amdgpu package.
  var/spack/repos/builtin/packages/hsakmt-roct/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
Labels: resources, patch, update-package, new-variant

#40811 Fix env remove indentation
  lib/spack/spack/cmd/env.py
Labels: commands, core

#40796 Revert python build isolation & setuptools source install
  lib/spack/spack/build_systems/python.py
  var/spack/repos/builtin/packages/py-setuptools/package.py
  var/spack/repos/builtin/packages/py-setuptools/rpath-compiler-flag.patch
Labels: new-version, python, dependencies, update-package, conflicts, build-systems, core

#40683 `SetupContext.get_env_modifications` fixes and documentation
  lib/spack/docs/images/setup_env.png
  lib/spack/docs/packaging_guide.rst
  lib/spack/spack/build_environment.py
Labels: documentation, build-environment, core

#40344 Parser: fix ambiguity with whitespace in version ranges
  lib/spack/spack/parser.py
  lib/spack/spack/test/spec_syntax.py
Labels: tests, core

#40801 Executable.add_default_arg: multiple
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/util/executable.py
  lib/spack/spack/util/git.py
  var/spack/repos/builtin/packages/intel-oneapi-compilers/package.py
  var/spack/repos/builtin/packages/py-installer/package.py
  var/spack/repos/builtin/packages/py-pip/package.py
Labels: python, fetching, intel, update-package, utilities, core

#40809 fix: sentence framing
  README.md
Labels: core

#40182 podio: Add latest tags and variants and update dependencies accordingly
  var/spack/repos/builtin/packages/podio/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#40810 Add 2.33 to tau
  var/spack/repos/builtin/packages/tau/package.py
Labels: new-version, update-package

#40808 LBANN explicit flag for shared builds
  var/spack/repos/builtin/packages/lbann/package.py
Labels: dependencies, update-package, libraries, new-variant

#40826 butterflypack: add version 2.4.0
  var/spack/repos/builtin/packages/butterflypack/package.py
Labels: xSDK, e4s

#40794 petsc, py-petsc4py: add v3.20.1
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/py-petsc4py/package.py
Labels: new-version, python, update-package, e4s

#40821 amrex: add v23.11
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package, e4s

#40729 superlu-dist: -std=c99 prevents usage of putenv()
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: xSDK, update-package

#40721 hiop: fix cuda constraints and add tag to versions
  var/spack/repos/builtin/packages/hiop/package.py
Labels: new-version, dependencies, update-package

#40818 changelog: add 0.20.2 and 0.20.3 changes
  CHANGELOG.md
Labels: core

#40828 pflotran: add version 5.0.0 alquimia: add version 1.1.0
  var/spack/repos/builtin/packages/alquimia/package.py
  var/spack/repos/builtin/packages/pflotran/package.py
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: new-version, dependencies, xSDK, update-package, e4s

#40741 heffte: add v2.4.0
  var/spack/repos/builtin/packages/heffte/package.py
  var/spack/repos/builtin/packages/heffte/threads10.patch
Labels: new-version, dependencies, xSDK, patch, update-package, e4s

#40817 pika: add v0.20.0
  var/spack/repos/builtin/packages/pika/package.py
Labels: new-version, update-package

#40822 libCEED v0.12.0, Ratel v0.3.0
  var/spack/repos/builtin/packages/libceed/package.py
  var/spack/repos/builtin/packages/ratel/package.py
Labels: new-version, dependencies, update-package

#40819 py-matplotlib: add v3.8.1
  var/spack/repos/builtin/packages/py-matplotlib/package.py
Labels: new-version, python, dependencies, update-package

#40805 vcftools: add v0.1.16
  var/spack/repos/builtin/packages/vcftools/package.py
Labels: new-version, update-package

#40824 ceres-solver: adding version 2.2.0
  var/spack/repos/builtin/packages/ceres-solver/package.py
Labels: new-version, dependencies, update-package

#40829 edm4hep: Add 0.10.1 tag and update maintainers
  var/spack/repos/builtin/packages/edm4hep/package.py
Labels: new-version, update-package

#39897 openscenegraph: support more file formats
  var/spack/repos/builtin/packages/openscenegraph/openscenegraph-3.6.5-openexr3.patch
  var/spack/repos/builtin/packages/openscenegraph/package.py
Labels: new-version, dependencies, patch, update-package, new-variant

#40814 Updates to env remove unit tests
  lib/spack/spack/test/cmd/env.py
Labels: tests, commands, core

#33973 spack external find: library detection improvements
  lib/spack/spack/detection/path.py
  lib/spack/spack/test/util/elf.py
  lib/spack/spack/util/elf.py
Labels: tests, utilities, core

#40841 go/rust bootstrap: no versions if unsupported arch
  var/spack/repos/builtin/packages/go-bootstrap/package.py
  var/spack/repos/builtin/packages/rust-bootstrap/package.py
Labels: update-package

#40831 exago: update petsc dependency
  var/spack/repos/builtin/packages/exago/package.py
Labels: dependencies, xSDK, update-package

#40816 depfile: deal with empty / non-concrete env
  lib/spack/spack/cmd/env.py
  lib/spack/spack/environment/depfile.py
  lib/spack/spack/test/cmd/env.py
  share/spack/templates/depfile/Makefile
Labels: tests, commands, environments, core

#40763 PyTorch: build with external sleef
  var/spack/repos/builtin/packages/py-torch/package.py
  var/spack/repos/builtin/packages/py-torch/sleef.patch
  var/spack/repos/builtin/packages/sleef/package.py
Labels: new-version, python, dependencies, update-package, conflicts

#40844 clingo ^python@3.12: revisit distutils fix
  var/spack/repos/builtin/packages/clingo/package.py
  var/spack/repos/builtin/packages/clingo/setuptools-2.patch
  var/spack/repos/builtin/packages/clingo/setuptools.patch
Labels: patch, update-package

#40802 Gaudi: Add a few versions and a dependency on tbb after 37.0
  var/spack/repos/builtin/packages/gaudi/package.py
Labels: new-version, dependencies, update-package

#40842 add charliecloud 0.35
  var/spack/repos/builtin/packages/charliecloud/package.py
Labels: new-version, update-package

#40787 Fixes to py-fenics-ffcx@0.6.0
  var/spack/repos/builtin/packages/py-fenics-ffcx/package.py
Labels: python, dependencies, update-package

#40544 py-pyside2: fix to build with newer llvm and to use spack install headers
  var/spack/repos/builtin/packages/py-pyside2/package.py
Labels: python, dependencies, update-package

#40778 Update nanobind to version 1.7.0
  var/spack/repos/builtin/packages/py-nanobind/package.py
Labels: new-version, python, update-package

#40745 py-pint: new versions 0.21, 0.22
  var/spack/repos/builtin/packages/py-pint/package.py
Labels: new-version, python, dependencies, update-package

#40846 bugfix: requirements for compiler flags
  lib/spack/spack/solver/concretize.lp
Labels: core

#36186 eccodes: rename variant 'definitions' to 'extra_definitions'
  var/spack/repos/builtin/packages/eccodes/package.py
Labels: update-package, conflicts

#40837 highfive: 2.8.0
  var/spack/repos/builtin/packages/highfive/package.py
Labels: new-version, update-package

#40596 flux-sched: package update to cmake
  var/spack/repos/builtin/packages/flux-sched/package.py
Labels: new-version, dependencies, update-package

#40622 Update Anaconda3 -- add version 2023.09-0 for x86_64, aarch64, and ppc64le
  var/spack/repos/builtin/packages/anaconda3/package.py
Labels: new-version, update-package

#40840 libtheora: fix build on macos
  var/spack/repos/builtin/packages/libtheora/exit-prior-to-running-configure.patch
  var/spack/repos/builtin/packages/libtheora/package.py
Labels: new-version, patch, update-package

#40833 qt-*: add v6.5.3 & v6.6.0
  var/spack/repos/builtin/packages/qt-base/package.py
  var/spack/repos/builtin/packages/qt-declarative/package.py
  var/spack/repos/builtin/packages/qt-quick3d/package.py
  var/spack/repos/builtin/packages/qt-quicktimeline/package.py
  var/spack/repos/builtin/packages/qt-shadertools/package.py
Labels: new-version, update-package

#40834 qt-svg: new package for Qt6 SVG module
  var/spack/repos/builtin/packages/qt-svg/package.py
Labels: new-version, new-package, dependencies, new-variant

#40815 MFEM: add logic to find CUDA math-libs when using HPC SDK installation
  var/spack/repos/builtin/packages/mfem/package.py
Labels: xSDK, update-package

#40851 Update 2.33 hash, add syscall variant
  share/spack/gitlab/cloud_pipelines/stacks/e4s-neoverse_v1/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-oneapi/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-power/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-rocm-external/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
  var/spack/repos/builtin/packages/tau/package.py
Labels: new-version, update-package, e4s, gitlab, new-variant, core

#40853 fix typo in packaging guide
  lib/spack/docs/packaging_guide.rst
Labels: documentation, core

#40839 py-spython: updating to @0.3.1
  var/spack/repos/builtin/packages/py-spython/package.py
Labels: new-version, python, dependencies, update-package

#40858 oci parsing: make image name case insensitive
  lib/spack/spack/oci/image.py
  lib/spack/spack/test/oci/image.py
Labels: tests, core

#40859 ASP-based solver: fix for unsplittable providers
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/test/concretize.py
  var/spack/repos/edges.test/packages/blas-only-client/package.py
  var/spack/repos/edges.test/packages/openblas/package.py
Labels: new-version, dependencies, virtual-dependencies, tests, stand-alone-tests, core

#37551 xdmf3: fix #35538
  var/spack/repos/builtin/packages/xdmf3/fix_hdf5_hid_t.diff
  var/spack/repos/builtin/packages/xdmf3/package.py
Labels: dependencies, patch, update-package

#40862 squashfuse: remove url_for_version
  var/spack/repos/builtin/packages/squashfuse/package.py
Labels: update-package

#40866 bootstrapping: force setuptools dependency using a variant
  .github/workflows/bootstrap.yml
  lib/spack/spack/bootstrap/core.py
  var/spack/repos/builtin/packages/clingo-bootstrap/package.py
Labels: dependencies, update-package, workflow, new-variant, core

#39833 Bugfix: Multivalued variants are propagation to dependencies
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/test/concretize.py
  var/spack/repos/builtin.mock/packages/b/package.py
  var/spack/repos/builtin.mock/packages/multivalue-variant/package.py
Labels: tests, variants, new-variant, bugfix, stand-alone-tests, core

#40865 GDAL: add v3.7.3
  var/spack/repos/builtin/packages/gdal/package.py
Labels: new-version, update-package

#40876 environment: solve one spec per child process
  lib/spack/spack/environment/environment.py
  lib/spack/spack/util/parallel.py
Labels: environments, utilities, core

#40877 linux-headers: support multiple versions
  var/spack/repos/builtin/packages/linux-headers/package.py
Labels: update-package

#40845 sundials +sycl: add cxxflags=-fsycl via flag_handler
  share/spack/gitlab/cloud_pipelines/stacks/e4s-oneapi/spack.yaml
  var/spack/repos/builtin/packages/sundials/package.py
Labels: xSDK, update-package, e4s, gitlab, sycl, core

#40875 hiop: fix cuda constraints
  var/spack/repos/builtin/packages/hiop/package.py
Labels: dependencies, xSDK, update-package

#40882 hdf5-vol-async: better specify dependency condition
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
  var/spack/repos/builtin/packages/hdf5-vol-async/package.py
Labels: dependencies, update-package, gitlab, core

#40886 spack.modules.commmon: pass spec to SetupContext
  lib/spack/spack/modules/common.py
Labels: modules, core

#40888 c-blosc: add v1.21.5
  var/spack/repos/builtin/packages/c-blosc/package.py
Labels: new-version, update-package

#40847 MFEM: allow CUDA/ROCm builds with SuperLU_DIST built without CUDA/ROCm
  var/spack/repos/builtin/packages/mfem/package.py
  var/spack/repos/builtin/packages/mfem/test_builds.sh
Labels: xSDK, update-package

#33960 Environments: Add support for including definitions files
  lib/spack/spack/config.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/schema/__init__.py
  lib/spack/spack/schema/definitions.py
  lib/spack/spack/schema/env.py
  lib/spack/spack/schema/merged.py
  lib/spack/spack/spec_list.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/env.py
  lib/spack/spack/test/schema.py
  share/spack/spack-completion.fish
Labels: tests, commands, shell-support, environments, utilities, core

#40868 Hidden modules: always append hash
  lib/spack/spack/hooks/module_file_generation.py
  lib/spack/spack/modules/__init__.py
  lib/spack/spack/modules/common.py
  lib/spack/spack/modules/lmod.py
  lib/spack/spack/modules/tcl.py
  lib/spack/spack/test/data/modules/lmod/hide_implicits.yaml
  lib/spack/spack/test/data/modules/tcl/exclude_implicits.yaml
  lib/spack/spack/test/data/modules/tcl/hide_implicits.yaml
  lib/spack/spack/test/modules/lmod.py
  lib/spack/spack/test/modules/tcl.py
Labels: modules, tests, stand-alone-tests, core

#40890 bugfix: compress aliases for first command in completion
  share/spack/bash/spack-completion.bash
  share/spack/spack-completion.bash
Labels: core

#40895 Add command and package suggestions
  lib/spack/spack/cmd/dev_build.py
  lib/spack/spack/cmd/edit.py
  lib/spack/spack/extensions.py
  lib/spack/spack/repo.py
  lib/spack/spack/test/cmd/dev_build.py
Labels: tests, commands, core

#40756 spack env activate: create & activate default environment without args
  lib/spack/spack/cmd/env.py
  lib/spack/spack/test/cmd/env.py
  share/spack/qa/setup-env-test.fish
  share/spack/qa/setup-env-test.sh
  share/spack/setup-env.sh
Labels: tests, commands, shell-support, utilities, core

#40884 qt: new version 5.15.11
  var/spack/repos/builtin/packages/qt/package.py
Labels: new-version, update-package

#40903 Add Python as build dependency of Julia
  var/spack/repos/builtin/packages/julia/package.py
Labels: dependencies, update-package

#40852 Enable threading in amdlibflame
  var/spack/repos/builtin/packages/amdlibflame/package.py
  var/spack/repos/builtin/packages/amdlibflame/supermat.patch
Labels: patch, update-package, conflicts, AMD

#40644 pythia8: fix configure args
  var/spack/repos/builtin/packages/pythia8/package.py
Labels: update-package

#40878 Environments: remove environments created with SpackYAMLErrors
  lib/spack/spack/cmd/env.py
  lib/spack/spack/environment/__init__.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/test/cmd/env.py
Labels: tests, commands, environments, core

#40889 c-blosc2: add v2.11.1
  var/spack/repos/builtin/packages/c-blosc2/package.py
Labels: new-version, patch, update-package

#39964 Introduce `default_args` context manager
  lib/spack/docs/packaging_guide.rst
  lib/spack/spack/directives.py
  lib/spack/spack/multimethod.py
  lib/spack/spack/package.py
  var/spack/repos/builtin/packages/py-black/package.py
Labels: python, documentation, dependencies, directives, update-package, core

#40906 defaults/modules.yaml: hide implicits
  etc/spack/defaults/modules.yaml
Labels: defaults, core

#40832 adios2: add v2.9.2 release
  var/spack/repos/builtin/packages/adios2/2.9.2-cmake-find-threads-package-first.patch
  var/spack/repos/builtin/packages/adios2/package.py
Labels: new-version, patch, update-package

#40908 docs: mention public build cache for GHA
  lib/spack/docs/binary_caches.rst
Labels: documentation, core

#40904 docs: make prefix_inspections keys more clear
  lib/spack/docs/module_file_support.rst
Labels: documentation, core

#40916 Don't let runtime env variables of compiler like deps leak into the build environment
  lib/spack/spack/build_environment.py
  lib/spack/spack/test/build_environment.py
  lib/spack/spack/util/environment.py
  var/spack/repos/builtin.mock/packages/build-env-compiler-var-a/package.py
  var/spack/repos/builtin.mock/packages/build-env-compiler-var-b/package.py
Labels: new-version, dependencies, build-environment, tests, utilities, core

#17229 Add support for aliases
  etc/spack/defaults/config.yaml
  lib/spack/docs/config_yaml.rst
  lib/spack/spack/cmd/commands.py
  lib/spack/spack/main.py
  lib/spack/spack/schema/config.py
  lib/spack/spack/test/cmd/commands.py
Labels: feature, documentation, defaults, tests, commands, core

#40909 docs: expand section about relocation, suggest padding
  lib/spack/docs/binary_caches.rst
Labels: documentation, core

#40752 package/qgis: add latest ltr
  var/spack/repos/builtin/packages/qgis/package.py
Labels: new-version, update-package

#40902 spack compiler find --[no-]mixed-toolchain
  lib/spack/spack/bootstrap/config.py
  lib/spack/spack/cmd/compiler.py
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/compilers/aocc.py
  lib/spack/spack/compilers/clang.py
  lib/spack/spack/test/cmd/compiler.py
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
Labels: compilers, tests, commands, shell-support, core

#40898 database: optimize query() by skipping unnecessary virtual checks
  lib/spack/spack/database.py
  lib/spack/spack/test/database.py
Labels: pkg-database, tests, performance, core

#40917 archspec: update to v0.2.2
  lib/spack/external/__init__.py
  lib/spack/external/archspec/__init__.py
  lib/spack/external/archspec/json/cpu/microarchitectures.json
Labels: vendored-dependencies, core

#31261 ASP: targets, compilers and providers soft-preferences are only global
  lib/spack/docs/build_settings.rst
  lib/spack/spack/cmd/config.py
  lib/spack/spack/schema/packages.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/solver/heuristic.lp
  lib/spack/spack/solver/heuristic_separate.lp
  lib/spack/spack/test/cmd/config.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/concretize_preferences.py
  lib/spack/spack/test/config.py
Labels: configuration, concretization, documentation, tests, commands, breaking-change, core

#40593 Change container labeling so that "latest" is the latest tag
  .github/workflows/build-containers.yml
Labels: workflow, core

#40907 hypre: add v2.30.0
  var/spack/repos/builtin/packages/hypre/package.py
Labels: new-version, xSDK, update-package

#40873 fix configure args for darshan-runtime
  var/spack/repos/builtin/packages/darshan-runtime/package.py
Labels: update-package

#40935 Fix bug in `which` introduced in #37762
  lib/spack/spack/util/executable.py
Labels: tests, commands, shell-support, update-package, utilities, core

#40936 ci: do not retry timed out build jobs
  lib/spack/spack/ci.py
Labels: core

#40746 superlu-dist: add +parmetis variant.
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: dependencies, update-package, e4s, new-variant

#40929 Ensure global command line arguments end up in args like before
  lib/spack/spack/main.py
Labels: core

#40937 tutorial pipeline: force gcc@12.3.0
  share/spack/gitlab/cloud_pipelines/stacks/tutorial/spack.yaml
Labels: gitlab, core

#38512 Bugfix: Variant Propagation
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/test/concretize.py
  var/spack/repos/builtin.mock/packages/adios2/package.py
  var/spack/repos/builtin.mock/packages/ascent/package.py
  var/spack/repos/builtin.mock/packages/bzip2/package.py
  var/spack/repos/builtin.mock/packages/dependency-foo-bar/package.py
  var/spack/repos/builtin.mock/packages/parent-foo-bar/package.py
Labels: new-version, dependencies, virtual-dependencies, tests, commands, variants, new-variant, stand-alone-tests, core

#40893 Sleef: build shared libs
  var/spack/repos/builtin/packages/sleef/package.py
Labels: update-package

#40911 julia: add v1.9.3
  var/spack/repos/builtin/packages/julia/package.py
Labels: new-version, update-package

#40939 tutorial: use lmod@8.7.18 because @8.7.19: has bugs
  share/spack/gitlab/cloud_pipelines/stacks/tutorial/spack.yaml
  var/spack/repos/builtin/packages/lmod/package.py
Labels: new-version, update-package, gitlab, core

#40922 intel-xed: fix git hash for mbuild, add version 2023.10.11
  var/spack/repos/builtin/packages/intel-xed/package.py
Labels: new-version, intel, update-package

#40612 adds cubew 4.8.1, cubelib 4.8.1 and cubegui 4.8.1, 4.8.2
  var/spack/repos/builtin/packages/cube/package.py
  var/spack/repos/builtin/packages/cubelib/package.py
  var/spack/repos/builtin/packages/cubew/package.py
Labels: new-version, dependencies, update-package, maintainers

#40925 DisCoTec: add compression variant w/ `lz4` dependency
  var/spack/repos/builtin/packages/discotec/package.py
Labels: dependencies, update-package, new-variant

#40870 mapl: add v2.41 and v2.42
  var/spack/repos/builtin/packages/mapl/package.py
Labels: new-version, resources, update-package, conflicts

#40938 julia: constrain patchelf version
  var/spack/repos/builtin/packages/julia/package.py
  var/spack/repos/builtin/packages/patchelf/package.py
Labels: new-version, dependencies, update-package

#40885 RAJA package: find libs
  var/spack/repos/builtin/packages/raja/package.py
Labels: update-package, libraries

#40942 tutorial stack: update for changes to the basics section for SC23
  share/spack/gitlab/cloud_pipelines/stacks/tutorial/spack.yaml
Labels: gitlab, core

#40949 Add new tag on AMS
  var/spack/repos/builtin/packages/ams/package.py
Labels: new-version, update-package

#40948 ScaFaCoS 1.0.4
  var/spack/repos/builtin/packages/scafacos/package.py
Labels: new-version, new-package, dependencies

#40919 abinit: add v9.10.3
  var/spack/repos/builtin/packages/abinit/package.py
Labels: new-version, update-package

#40946 tcl: filter compiler wrappers to avoid pointing to Spack
  share/spack/gitlab/cloud_pipelines/stacks/tutorial/spack.yaml
  var/spack/repos/builtin/packages/environment-modules/package.py
  var/spack/repos/builtin/packages/tcl/package.py
Labels: dependencies, update-package, gitlab, core

#39342 lcov: add version2, embed perl path in binaries
  var/spack/repos/builtin/packages/lcov/package.py
  var/spack/repos/builtin/packages/perl-datetime/package.py
  var/spack/repos/builtin/packages/perl-devel-cover/package.py
  var/spack/repos/builtin/packages/perl-file-spec/package.py
  var/spack/repos/builtin/packages/perl-memory-process/package.py
  var/spack/repos/builtin/packages/perl-namespace-autoclean/package.py
Labels: new-version, new-package, dependencies, update-package

#40957 py-lightning: add v2.1.1
  var/spack/repos/builtin/packages/py-lightning/package.py
Labels: new-version, python, update-package

#40945 libevent: always autogen.sh
  var/spack/repos/builtin/packages/libevent/package.py
Labels: dependencies, update-package

#40955 Revert "defaults/modules.yaml: hide implicits"
  etc/spack/defaults/modules.yaml
Labels: defaults, core

#40956 podio: Add the latest tag (0.17.2)
  var/spack/repos/builtin/packages/podio/package.py
Labels: new-version, update-package

#40958 modules: restore exclude_implicits
  lib/spack/spack/modules/common.py
  lib/spack/spack/schema/modules.py
  lib/spack/spack/test/modules/common.py
  lib/spack/spack/test/modules/tcl.py
Labels: modules, tests, stand-alone-tests, core

#40863 Add python as test dependency for libgit2
  var/spack/repos/builtin/packages/libgit2/package.py
Labels: dependencies, update-package

#40966 modules: remove deprecated code and test data
  lib/spack/spack/schema/modules.py
  lib/spack/spack/test/data/modules/lmod/blacklist.yaml
  lib/spack/spack/test/data/modules/lmod/blacklist_environment.yaml
  lib/spack/spack/test/data/modules/tcl/blacklist.yaml
  lib/spack/spack/test/data/modules/tcl/blacklist_environment.yaml
  lib/spack/spack/test/data/modules/tcl/blacklist_implicits.yaml
  lib/spack/spack/test/data/modules/tcl/invalid_token_in_env_var_name.yaml
Labels: tests, core

#40947 intel-oneapi-mkl: do not set __INTEL_POST_CFLAGS env variable
  var/spack/repos/builtin/packages/intel-oneapi-mkl/package.py
Labels: xSDK, intel, update-package

#40975 Set version to 0.22.0.dev0
  lib/spack/spack/__init__.py
Labels: core

#40941 buildcache: skip unrecognized metadata files
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/test/bindist.py
Labels: tests, binary-packages, core

#40920 sundials: add v6.6.2
  var/spack/repos/builtin/packages/sundials/package.py
Labels: new-version, xSDK, update-package, e4s

#40979 py-macs3: adding zlib dependency
  var/spack/repos/builtin/packages/py-macs3/package.py
Labels: python, dependencies, update-package

#40980 hypre: add in hipblas dependency due to superlu-dist
  var/spack/repos/builtin/packages/hypre/package.py
Labels: dependencies, xSDK, update-package

#40981 mfem: add hipblas dependency for superlu-dist
  var/spack/repos/builtin/packages/mfem/package.py
Labels: xSDK, update-package, e4s

#40974 [lcov] Add build and runtime deps necessary for lcov@2.0.0:
  var/spack/repos/builtin/packages/lcov/package.py
  var/spack/repos/builtin/packages/perl-class-singleton/package.py
  var/spack/repos/builtin/packages/perl-datetime-locale/package.py
  var/spack/repos/builtin/packages/perl-datetime-timezone/package.py
  var/spack/repos/builtin/packages/perl-file-sharedir/package.py
  var/spack/repos/builtin/packages/perl-params-validationcompiler/package.py
  var/spack/repos/builtin/packages/perl-specio/package.py
Labels: new-version, new-package, dependencies, update-package

#40965 Add symlinks for hdf5 library names when built in debug mode
  var/spack/repos/builtin/packages/hdf5/package.py
Labels: update-package

#40988 docs: tweak formatting of `+:` and `-:` operators
  lib/spack/docs/configuration.rst
Labels: documentation, core

#40910 e4s ci: re-enable cray sles pipeline
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
Labels: cray, don't-merge-yet, e4s, gitlab, core

#40973 Release Gotcha v1.0.5
  var/spack/repos/builtin/packages/gotcha/package.py
Labels: new-version, update-package

#40972 CPP Logger Release v0.0.2
  var/spack/repos/builtin/packages/cpp-logger/package.py
Labels: new-version, update-package

#40855 PyTorch: specify CUDA root directory
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: python, update-package

#40959 py-black: add v23.10:
  var/spack/repos/builtin/packages/py-black/package.py
Labels: new-version, python, dependencies, update-package

#40993 Add adiak v0.4.0
  var/spack/repos/builtin/packages/adiak/package.py
Labels: new-version, update-package

#40998 info: rework `spack info` command to display variants better
  lib/spack/spack/cmd/info.py
  lib/spack/spack/test/cmd/info.py
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
Labels: tests, commands, shell-support, user-experience, core

#40997 env: compute env mods only for installed roots
  lib/spack/spack/environment/environment.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/user_environment.py
Labels: tests, commands, environments, core

#41002 gromacs et al: fix ^mkl pattern
  lib/spack/spack/build_systems/oneapi.py
  lib/spack/spack/package.py
  var/spack/repos/builtin/packages/abinit/package.py
  var/spack/repos/builtin/packages/gromacs/package.py
  var/spack/repos/builtin/packages/intel-mkl/package.py
  var/spack/repos/builtin/packages/intel-oneapi-mkl/package.py
  var/spack/repos/builtin/packages/intel-parallel-studio/package.py
  var/spack/repos/builtin/packages/lammps/package.py
  var/spack/repos/builtin/packages/quantum-espresso/package.py
  var/spack/repos/builtin/packages/r/package.py
Labels: R, virtual-dependencies, intel, update-package, build-systems, core

#40990 pflotran: tweak for building with xsdk rocm/hip
  var/spack/repos/builtin/packages/pflotran/package.py
Labels: xSDK, update-package

#40989 alquimia: apply patch for iso_c_binding to latest version
  var/spack/repos/builtin/packages/alquimia/package.py
Labels: xSDK, update-package

#40737 fdb: add dependency on eckit later release
  var/spack/repos/builtin/packages/fdb/package.py
Labels: new-version, dependencies, update-package

#41003 builtin.repo: fix ^mkl pattern in minor packages
  var/spack/repos/builtin/packages/arrayfire/package.py
  var/spack/repos/builtin/packages/bart/package.py
  var/spack/repos/builtin/packages/batchedblas/package.py
  var/spack/repos/builtin/packages/ctffind/package.py
  var/spack/repos/builtin/packages/dla-future/package.py
  var/spack/repos/builtin/packages/fplo/package.py
  var/spack/repos/builtin/packages/hpcc/package.py
  var/spack/repos/builtin/packages/itk/package.py
  var/spack/repos/builtin/packages/ldak/package.py
  var/spack/repos/builtin/packages/molgw/package.py
  var/spack/repos/builtin/packages/mumps/package.py
  var/spack/repos/builtin/packages/octave/package.py
  var/spack/repos/builtin/packages/octopus/package.py
  var/spack/repos/builtin/packages/q-e-sirius/package.py
  var/spack/repos/builtin/packages/qmcpack/package.py
Labels: dependencies, update-package

#40953 libpspio: new package
  var/spack/repos/tutorial/packages/libpspio/package.py
Labels: new-version, dependencies, patch, new-variant

#41010 Torchgeo 0.5.1 release
  var/spack/repos/builtin/packages/py-torchgeo/package.py
Labels: new-version, python, update-package

#38803 `spack deconcretize` command
  lib/spack/spack/cmd/common/confirmation.py
  lib/spack/spack/cmd/deconcretize.py
  lib/spack/spack/cmd/gc.py
  lib/spack/spack/cmd/uninstall.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/test/cmd/deconcretize.py
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
Labels: tests, commands, shell-support, environments, new-command, core

#40874 Ginkgo: 1.7.0, change compatibility, update option oneapi->sycl
  var/spack/repos/builtin/packages/ginkgo/package.py
Labels: new-version, dependencies, xSDK, update-package, conflicts, new-variant

#40933 Add py-geomdl package
  var/spack/repos/builtin/packages/py-geomdl/package.py
Labels: new-version, new-package, python, dependencies, new-variant

#40969 libEnsemble: add v1.1.0
  var/spack/repos/builtin/packages/py-libensemble/package.py
Labels: new-version, python, update-package

#40905 nanobind: add v1.8.0
  var/spack/repos/builtin/packages/py-nanobind/package.py
Labels: new-version, python, update-package
