Repository spack/spack, pull requests merged in 2024-09, with the labels that each got.

#46073 Remove redundant inspect.getmodule(self) idiom in packages
  lib/spack/spack/build_environment.py
  lib/spack/spack/build_systems/autotools.py
  lib/spack/spack/build_systems/cargo.py
  lib/spack/spack/build_systems/cmake.py
  lib/spack/spack/build_systems/go.py
  lib/spack/spack/build_systems/makefile.py
  lib/spack/spack/build_systems/meson.py
  lib/spack/spack/build_systems/msbuild.py
  lib/spack/spack/build_systems/nmake.py
  lib/spack/spack/build_systems/octave.py
  lib/spack/spack/build_systems/perl.py
  lib/spack/spack/build_systems/python.py
  lib/spack/spack/build_systems/qmake.py
  lib/spack/spack/build_systems/r.py
  lib/spack/spack/build_systems/ruby.py
  lib/spack/spack/build_systems/scons.py
  lib/spack/spack/build_systems/sip.py
  lib/spack/spack/build_systems/waf.py
  lib/spack/spack/builder.py
  lib/spack/spack/package_base.py
  lib/spack/spack/test/build_environment.py
  lib/spack/spack/test/concretize.py
  var/spack/repos/builtin/packages/evtgen/package.py
  var/spack/repos/builtin/packages/fjcontrib/package.py
  var/spack/repos/builtin/packages/grackle/package.py
  var/spack/repos/builtin/packages/intel-tbb/package.py
  var/spack/repos/builtin/packages/lorene/package.py
  var/spack/repos/builtin/packages/ollama/package.py
  var/spack/repos/builtin/packages/perl-bioperl/package.py
  var/spack/repos/builtin/packages/perl-io-socket-ssl/package.py
  var/spack/repos/builtin/packages/perl-net-ssleay/package.py
  var/spack/repos/builtin/packages/pexsi/package.py
  var/spack/repos/builtin/packages/wannier90/package.py
Labels: build-environment, tests, intel, update-package, build-systems, core

#46007 rapidjson: 1.2.0-2024-08-16 and fix for gcc14
  var/spack/repos/builtin/packages/rapidjson/no_march-1.2-2024.patch
  var/spack/repos/builtin/packages/rapidjson/package.py
Labels: new-version, patch, update-package, conflicts

#45855 dd4hep: mark conflict with root@6.31.1:
  var/spack/repos/builtin/packages/dd4hep/package.py
Labels: update-package, conflicts

#45708 [openmpi] Add optional debug build variant
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: update-package, new-variant

#46159 nanomath: add version 1.4.0
  var/spack/repos/builtin/packages/py-nanomath/package.py
Labels: new-version, python, update-package

#46162 package cln 1.3.7 feelpp/spack#2
  var/spack/repos/builtin/packages/cln/package.py
Labels: new-version, update-package

#46152 py-horovod: py-torch 2.1.0 now supported
  var/spack/repos/builtin/packages/py-horovod/package.py
Labels: python, update-package, conflicts

#45881 e4s ci stacks: add geopm-runtime
  share/spack/gitlab/cloud_pipelines/stacks/e4s-oneapi/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-power/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: e4s, gitlab, core

#46158 py-torchgeo: add v0.6.0
  var/spack/repos/builtin/packages/py-pycocotools/package.py
  var/spack/repos/builtin/packages/py-torchgeo/package.py
Labels: new-version, python, dependencies, update-package, conflicts

#46139 Update arch.satisfies documentation for conditional defintions
  lib/spack/docs/environments.rst
Labels: documentation, core

#46143 cuda: Add 12.6.1
  lib/spack/spack/build_systems/cuda.py
  var/spack/repos/builtin/packages/cuda/package.py
Labels: update-package, conflicts, build-systems, core

#46121 xsdk: remove develop and 0.7.0, and deprecate 0.8.0
  var/spack/repos/builtin/packages/xsdk-examples/package.py
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: new-version, xSDK, update-package

#46151 petsc, py-petsc4py: add v3.21.5
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/py-petsc4py/package.py
Labels: new-version, python, update-package

#46115 ddt: deprecate all versions in favor of linaro-forge
  var/spack/repos/builtin/packages/ddt/package.py
Labels: new-version, update-package

#46067 kokkos-nvcc-wrapper: add v4.4.00
  var/spack/repos/builtin/packages/kokkos-nvcc-wrapper/package.py
Labels: new-version, update-package

#46064 neovim: add utf8proc dependency
  var/spack/repos/builtin/packages/neovim/package.py
Labels: dependencies, update-package

#46025 package_base: sort deprecated versions later in `preferred_version`
  lib/spack/spack/package_base.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/concretize.py
Labels: tests, core

#46166 directory_layout: delete dead code
  lib/spack/spack/directory_layout.py
Labels: core

#46167 projections: simplify expression
  lib/spack/spack/directory_layout.py
Labels: core

#46163 py-sympy: add version 1.13.0
  var/spack/repos/builtin/packages/py-sympy/package.py
Labels: new-version, python, dependencies, update-package

#44824 py-cellprofiler: add 4.2.6 new package
  var/spack/repos/builtin/packages/py-cellprofiler-core/package.py
  var/spack/repos/builtin/packages/py-cellprofiler/package.py
  var/spack/repos/builtin/packages/py-centrosome/package.py
  var/spack/repos/builtin/packages/py-mysqlclient/package.py
  var/spack/repos/builtin/packages/py-mysqlclient/use-pkg-config.patch
  var/spack/repos/builtin/packages/py-prokaryote/package.py
  var/spack/repos/builtin/packages/py-python-bioformats/package.py
  var/spack/repos/builtin/packages/py-tifffile/package.py
Labels: new-version, new-package, python, dependencies, resources, patch, update-package, new-variant, stand-alone-tests

#45877 py-pytest-allclose: new package
  var/spack/repos/builtin/packages/py-pytest-allclose/package.py
Labels: compilers, new-version, new-package, python, R, dependencies, fetching, virtual-dependencies, tests, commands, shell-support, environments, directives, patch, update-package, conflicts, utilities, vendored-dependencies, stage, build-systems, gitlab, new-variant, stand-alone-tests, core, extends

#45922 nvpl updates
  var/spack/repos/builtin/packages/nvpl-blas/package.py
  var/spack/repos/builtin/packages/nvpl-lapack/package.py
Labels: question, new-version, update-package

#46175 database: remove a few class properties
  lib/spack/spack/database.py
  lib/spack/spack/spec.py
  lib/spack/spack/store.py
  lib/spack/spack/test/database.py
Labels: tests, core

#46176 solver: minor cleanup and optimization
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
Labels: core

#45632 root: fix X11 and OpenGL-related issues on macOS
  var/spack/repos/builtin/packages/root/package.py
Labels: dependencies, update-package, conflicts

#44826 root: fix @loader_path on macOS
  var/spack/repos/builtin/packages/root/package.py
Labels: patch, update-package, conflicts

#46179 llvm: be more strict with detection
  var/spack/repos/builtin/packages/llvm/package.py
Labels: update-package

#45788 Add conflict between llvm-amdgpu until version 5 and ninja since version 1.12.0
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
Labels: update-package, conflicts

#46187 Fix regular expressions wrt. llvm executables
  var/spack/repos/builtin/packages/llvm/package.py
Labels: update-package

#46182 trilinos: update @[master,develop] dependency on kokkos
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: dependencies, xSDK, update-package

#46091 paraview: add v5.13.0
  var/spack/repos/builtin/packages/paraview/package.py
  var/spack/repos/builtin/packages/pegtl/package.py
Labels: new-version, dependencies, patch, update-package

#45863 texlive: clean up recipe
  var/spack/repos/builtin/packages/texlive/package.py
Labels: dependencies, update-package

#46197 py-numpy: add v2.1.1
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: new-version, python, update-package

#46196 py-fiona: add v1.10.0
  var/spack/repos/builtin/packages/py-fiona/package.py
Labels: new-version, python, dependencies, update-package

#46195 py-rasterio: add v1.3.11
  var/spack/repos/builtin/packages/py-rasterio/package.py
Labels: new-version, python, dependencies, update-package

#46193 goaccess: new package
  var/spack/repos/builtin/packages/goaccess/package.py
Labels: new-version, new-package, dependencies

#46191 add: flux-core 0.65.0 to 0.66.0
  var/spack/repos/builtin/packages/flux-core/package.py
Labels: new-version, update-package

#45658 rocm-openmp-extras: Avoiding registration of duplicate check-targets and fix for the failure in hostexec
  var/spack/repos/builtin/packages/rocm-openmp-extras/0001-Avoid-duplicate-registration-on-cuda-env.patch
  var/spack/repos/builtin/packages/rocm-openmp-extras/package.py
Labels: patch, update-package

#46171 amrex: add v24.09
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package

#46154 py-trieregex: new package
  var/spack/repos/builtin/packages/py-trieregex/package.py
Labels: new-version, new-package, python, dependencies

#46153 py-misk: add new package
  var/spack/repos/builtin/packages/py-misk/package.py
Labels: new-version, new-package, python, dependencies

#46200 boost: Conditionally include/exclude Boost.Json depending on Boost version
  var/spack/repos/builtin/packages/boost/package.py
Labels: update-package

#46210 py-schema: add v0.7.7
  var/spack/repos/builtin/packages/py-schema/package.py
Labels: new-version, python, dependencies, update-package

#46205 seacas: require +metis and +mpi instead of +parmetis
  var/spack/repos/builtin/packages/seacas/package.py
Labels: update-package

#46203 libfabric: Add CUDA variant
  var/spack/repos/builtin/packages/libfabric/package.py
Labels: update-package

#46126 Replace `if ... in spec` with `spec.satisfies` in d* and e* packages
  var/spack/repos/builtin/packages/dakota/package.py
  var/spack/repos/builtin/packages/dalton/package.py
  var/spack/repos/builtin/packages/daos/package.py
  var/spack/repos/builtin/packages/darshan-runtime/package.py
  var/spack/repos/builtin/packages/darshan-util/package.py
  var/spack/repos/builtin/packages/dataspaces/package.py
  var/spack/repos/builtin/packages/datatransferkit/package.py
  var/spack/repos/builtin/packages/dbcsr/package.py
  var/spack/repos/builtin/packages/dealii/package.py
  var/spack/repos/builtin/packages/delly2/package.py
  var/spack/repos/builtin/packages/dftbplus/package.py
  var/spack/repos/builtin/packages/digitrounding/package.py
  var/spack/repos/builtin/packages/dihydrogen/package.py
  var/spack/repos/builtin/packages/discotec/package.py
  var/spack/repos/builtin/packages/dla-future/package.py
  var/spack/repos/builtin/packages/dock/package.py
  var/spack/repos/builtin/packages/dotnet-core-sdk/package.py
  var/spack/repos/builtin/packages/draco/package.py
  var/spack/repos/builtin/packages/dray/package.py
  var/spack/repos/builtin/packages/duckdb/package.py
  var/spack/repos/builtin/packages/dyninst/package.py
  var/spack/repos/builtin/packages/easi/package.py
  var/spack/repos/builtin/packages/ebms/package.py
  var/spack/repos/builtin/packages/eccodes/package.py
  var/spack/repos/builtin/packages/ecmwf-atlas/package.py
  var/spack/repos/builtin/packages/eem/package.py
  var/spack/repos/builtin/packages/elbencho/package.py
  var/spack/repos/builtin/packages/elemental/package.py
  var/spack/repos/builtin/packages/elfutils/package.py
  var/spack/repos/builtin/packages/elk/package.py
  var/spack/repos/builtin/packages/elmerfem/package.py
  var/spack/repos/builtin/packages/elpa/package.py
  var/spack/repos/builtin/packages/emacs/package.py
  var/spack/repos/builtin/packages/environment-modules/package.py
  var/spack/repos/builtin/packages/eospac/package.py
  var/spack/repos/builtin/packages/erne/package.py
  var/spack/repos/builtin/packages/esmf/package.py
  var/spack/repos/builtin/packages/essl/package.py
  var/spack/repos/builtin/packages/evtgen/package.py
  var/spack/repos/builtin/packages/exabayes/package.py
  var/spack/repos/builtin/packages/exago/package.py
  var/spack/repos/builtin/packages/examinimd/package.py
  var/spack/repos/builtin/packages/exasp2/package.py
  var/spack/repos/builtin/packages/exawind/package.py
  var/spack/repos/builtin/packages/exciting/package.py
  var/spack/repos/builtin/packages/exodusii/package.py
  var/spack/repos/builtin/packages/expat/package.py
  var/spack/repos/builtin/packages/extrae/package.py
  var/spack/repos/builtin/packages/eztrace/package.py
Labels: update-package

#46202 spack deprecate: deprecate --link-type flag
  lib/spack/spack/cmd/deprecate.py
  share/spack/spack-completion.fish
Labels: commands, shell-support, core

#46218 Remove `test_external_package_module`
  lib/spack/spack/test/concretize.py
Labels: tests, stand-alone-tests, core

#46219 Pass Database layout in constructor
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/cray_manifest.py
  lib/spack/spack/database.py
  lib/spack/spack/installer.py
  lib/spack/spack/rewiring.py
  lib/spack/spack/store.py
  lib/spack/spack/test/cmd/buildcache.py
  lib/spack/spack/test/cmd/config.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/database.py
  lib/spack/spack/test/install.py
  lib/spack/spack/test/spec_syntax.py
Labels: tests, commands, binary-packages, core

#46207 pika: Add 0.28.0
  var/spack/repos/builtin/packages/dla-future/package.py
  var/spack/repos/builtin/packages/pika/package.py
Labels: new-version, update-package, conflicts

#46199 reindex: avoid reusing in-memory specs during test
  lib/spack/spack/test/cmd/reindex.py
Labels: tests, commands, core

#46194 gaudi: Specify boost dependencies explicitly and cleanup package
  var/spack/repos/builtin/packages/gaudi/build_testing.patch
  var/spack/repos/builtin/packages/gaudi/link_target_fixes.patch
  var/spack/repos/builtin/packages/gaudi/link_target_fixes32.patch
  var/spack/repos/builtin/packages/gaudi/package.py
Labels: dependencies, update-package

#40792 Avoid best-effort expansion of stacks
  lib/spack/spack/environment/environment.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/env.py
Labels: concretization, tests, commands, environments, stacks, core

#46082 PLUMED: Using a C compiler variable
  var/spack/repos/builtin/packages/plumed/package.py
Labels: update-package

#46130 [rocm-openmp-extras] - Add support for flang-legacy in 6.1.2
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/rocm-openmp-extras/package.py
Labels: update-package

#46212 Add when's to some tau dependencies
  var/spack/repos/builtin/packages/tau/package.py
Labels: update-package, new-variant

#46232 py-tifffile: add v2024
  var/spack/repos/builtin/packages/py-tifffile/package.py
Labels: new-version, python, update-package

#46231 py-pyvista: add v0.44.1
  var/spack/repos/builtin/packages/py-pyvista/package.py
Labels: new-version, python, dependencies, update-package

#46228 py-laspy: add v2.5.4
  var/spack/repos/builtin/packages/py-laspy/package.py
Labels: new-version, python, update-package

#46227 py-imageio: add v2.35.1
  var/spack/repos/builtin/packages/py-imageio/package.py
Labels: new-version, python, update-package

#46220 PyTorch: update ecosystem
  var/spack/repos/builtin/packages/py-torch/package.py
  var/spack/repos/builtin/packages/py-torchaudio/package.py
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: new-version, python, dependencies, update-package

#46075 npb: fix mpi rank mismatch errors
  var/spack/repos/builtin/packages/npb/package.py
Labels: update-package

#46184 Bug fixes for building py-netcdf4 and py-ruamel-yaml-clib with apple-clang@15
  var/spack/repos/builtin/packages/py-netcdf4/package.py
  var/spack/repos/builtin/packages/py-ruamel-yaml-clib/package.py
Labels: python, update-package

#46208 expat: Add 2.6.3 with security fixes + deprecate vulnerable 2.6.2
  var/spack/repos/builtin/packages/expat/package.py
Labels: new-version, update-package

#46225 py-contourpy: add v1.3.0
  var/spack/repos/builtin/packages/py-contourpy/package.py
Labels: new-version, python, dependencies, update-package, conflicts, waiting-on-dependency

#45620 Windows: Update pytest with echo and remove others
  lib/spack/spack/test/cmd/develop.py
  lib/spack/spack/test/cmd/find.py
  lib/spack/spack/test/cmd/gc.py
  lib/spack/spack/test/cmd/stage.py
  lib/spack/spack/test/cmd/undevelop.py
  lib/spack/spack/test/cmd/uninstall.py
  lib/spack/spack/test/concretize_errors.py
  lib/spack/spack/test/concretize_requirements.py
  lib/spack/spack/test/container/cli.py
  lib/spack/spack/test/package_class.py
  lib/spack/spack/test/test_suite.py
  lib/spack/spack/test/views.py
Labels: tests, commands, core

#46221 Allow deprecating more than one property in config
  lib/spack/spack/schema/__init__.py
  lib/spack/spack/schema/config.py
  lib/spack/spack/schema/packages.py
  lib/spack/spack/test/schema.py
Labels: tests, core

#46247 Require a newer version of cudnn for cupy
  var/spack/repos/builtin/packages/py-cupy/package.py
Labels: python, dependencies, update-package

#46242 db: more type hints
  lib/spack/spack/database.py
Labels: core

#45872 py-pybind11: add v2.13.0 -> v2.13.4
  var/spack/repos/builtin/packages/py-pybind11/package.py
Labels: new-version, python, update-package, conflicts

#46251 fish: use shlex.quote instead of custom quote
  lib/spack/spack/cmd/commands.py
  share/spack/spack-completion.fish
Labels: commands, shell-support, hotfix, core

#41810 Windows: Acquire bootstrap resources
  .github/workflows/bootstrap.yml
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/bootstrap/__init__.py
  lib/spack/spack/bootstrap/core.py
  lib/spack/spack/bootstrap/status.py
  lib/spack/spack/package.py
  lib/spack/spack/relocate.py
  lib/spack/spack/util/filesystem.py
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/configs/win64/ci.yaml
  share/spack/qa/bootstrap-file.py
  var/spack/repos/builtin/packages/win-file/package.py
  var/spack/repos/builtin/packages/win-gpg/package.py
Labels: new-version, new-package, dependencies, defaults, virtual-dependencies, tests, shell-support, update-package, binary-packages, utilities, workflow, gitlab, new-variant, core

#46216 pthreadpool: add the PIC flag
  var/spack/repos/builtin/packages/pthreadpool/package.py
Labels: update-package

#46217 sleef: add the PIC flag
  var/spack/repos/builtin/packages/sleef/package.py
Labels: update-package

#41049 Mixed-source cflags
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/solver/core.py
  lib/spack/spack/solver/display.lp
  lib/spack/spack/spec.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/flag_mixing.py
  lib/spack/spack/test/spec_semantics.py
Labels: new-version, WIP, dependencies, tests, new-variant, stand-alone-tests, core

#46233 py-torchgeo: zipfile-deflate64 no longer required
  var/spack/repos/builtin/packages/py-torchgeo/package.py
Labels: python, dependencies, update-package

#46229 py-pandas: relax build dependencies
  var/spack/repos/builtin/packages/py-pandas/package.py
Labels: python, dependencies, update-package

#46243 Update ExaCA backend handling and add version 2.0
  var/spack/repos/builtin/packages/exaca/package.py
Labels: new-version, dependencies, update-package

#46261 GEOS: add v3.13.0
  var/spack/repos/builtin/packages/geos/package.py
Labels: new-version, dependencies, update-package

#46188 libfabric: Add versions v1.22.0 and v1.21.1
  var/spack/repos/builtin/packages/libfabric/package.py
Labels: new-version, update-package

#44061 Remove deprecated config options
  lib/spack/spack/audit.py
  lib/spack/spack/schema/packages.py
  lib/spack/spack/test/cmd/env.py
Labels: tests, commands, core

#46140 py-monai: new package
  var/spack/repos/builtin/packages/py-monai/package.py
Labels: new-version, new-package, python, dependencies

#46263 Sz3 fix
  var/spack/repos/builtin/packages/sz3/package.py
Labels: new-version, update-package

#46262 use updated container with cmake@3.30.2
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-oneapi/spack.yaml
Labels: e4s, gitlab, oneapi, core

#44327 msmpi tries to access dependent package hdf5 spack_cc
  lib/spack/spack/build_environment.py
  lib/spack/spack/test/build_environment.py
Labels: build-environment, tests, update-package, core

#46257 [py-torch-fidelity] New package
  var/spack/repos/builtin/packages/py-torch-fidelity/package.py
Labels: new-version, new-package, python, dependencies

#46256 [py-lpips] new package
  var/spack/repos/builtin/packages/py-lpips/package.py
Labels: new-version, new-package, python, dependencies

#46123 py-httpcore: add v1.0.5
  var/spack/repos/builtin/packages/py-httpcore/package.py
Labels: new-version, python, dependencies, update-package

#46259 [py-langsmith] added version 0.1.81
  var/spack/repos/builtin/packages/py-langsmith/package.py
Labels: new-version, python, dependencies, update-package

#46095 Add patch vfile_cassert.patch for ecflow@5.11.4 +ui
  var/spack/repos/builtin/packages/ecflow/package.py
  var/spack/repos/builtin/packages/ecflow/vfile_cassert.patch
Labels: patch, update-package

#46234 py-transonic: new package
  var/spack/repos/builtin/packages/py-transonic/package.py
Labels: new-version, new-package, python, dependencies

#46270 xrootd: add v5.7.1
  var/spack/repos/builtin/packages/xrootd/package.py
Labels: new-version, update-package

#46131 lammps: add 20240829 and 20230802.4 releases
  var/spack/repos/builtin/packages/lammps/package.py
Labels: new-version, dependencies, patch, update-package, new-variant

#46274 (py-)onnx: add v1.16.2; onnx: enable testing
  var/spack/repos/builtin/packages/onnx/package.py
  var/spack/repos/builtin/packages/py-onnx/package.py
Labels: new-version, python, dependencies, update-package

#46273 protobuf: patch 3.22:3.24.3 when ^abseil-cpp@20240116:
  var/spack/repos/builtin/packages/protobuf/package.py
Labels: patch, update-package

#46271 py-vector: add v1.5.1
  var/spack/repos/builtin/packages/py-vector/package.py
Labels: new-version, python, dependencies, update-package

#46269 wayland-protocols: add v1.37
  var/spack/repos/builtin/packages/wayland-protocols/package.py
Labels: new-version, update-package

#46267 assimp: add v5.4.3, enable testing
  var/spack/repos/builtin/packages/assimp/package.py
Labels: new-version, dependencies, update-package

#45825 Namd variant update
  var/spack/repos/builtin/packages/namd/package.py
Labels: update-package, conflicts, new-variant

#46190 xsdk: add amrex variant
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: xSDK, update-package, new-variant

#46189 charliecloud: fix libsquashfuse dependency
  var/spack/repos/builtin/packages/charliecloud/package.py
Labels: dependencies, update-package

#46185 Update Intel Pin package up to 3.31
  var/spack/repos/builtin/packages/intel-pin/package.py
Labels: new-version, intel, update-package

#45992 nekrs: add v23.0, add new build system
  var/spack/repos/builtin/packages/nekrs/package.py
Labels: new-version, update-package

#46266 PyTorch: unpin pybind11 dependency
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: python, dependencies, update-package

#46206 Fix regression in spec format string for indiviual variants
  lib/spack/spack/spec.py
  lib/spack/spack/test/spec_semantics.py
Labels: tests, core

#46280 pika: Add conflict with fmt 11 and newer
  var/spack/repos/builtin/packages/pika/package.py
Labels: update-package, conflicts

#46235 py-fluiddyn: new package
  var/spack/repos/builtin/packages/py-fluiddyn/package.py
Labels: new-version, new-package, python, dependencies

#46170 reindex: do not assume fixed layout
  lib/spack/docs/conf.py
  lib/spack/spack/database.py
  lib/spack/spack/directory_layout.py
  lib/spack/spack/test/cmd/reindex.py
  lib/spack/spack/test/database.py
  lib/spack/spack/traverse.py
Labels: documentation, tests, commands, core

#46283 Revert "msmpi tries to access dependent package hdf5 spack_cc"
  lib/spack/spack/build_environment.py
  lib/spack/spack/test/build_environment.py
Labels: build-environment, tests, hotfix, core

#46214 py-poxy: add new package
  var/spack/repos/builtin/packages/py-poxy/package.py
Labels: new-version, new-package, python, dependencies, conflicts

#46150 numactl: Add versions 2.0.16-2.0.18
  var/spack/repos/builtin/packages/numactl/link-with-latomic-if-needed-v2.0.16.patch
  var/spack/repos/builtin/packages/numactl/numactl-2.0.18-syscall-NR-ppc64.patch
  var/spack/repos/builtin/packages/numactl/package.py
Labels: new-version, patch, update-package

#45816 makedepf90: new package
  var/spack/repos/builtin/packages/makedepf90/package.py
Labels: new-version, new-package, dependencies

#45383 gptune: new test API
  share/spack/gitlab/cloud_pipelines/configs/ci.yaml
  var/spack/repos/builtin/packages/gptune/package.py
Labels: update-package, gitlab, stand-alone-tests, core

#46288 cmake: remove last occurrences of std_cmake_args globals
  var/spack/repos/builtin/packages/apcomp/package.py
  var/spack/repos/builtin/packages/dray/package.py
  var/spack/repos/builtin/packages/kicad/package.py
  var/spack/repos/builtin/packages/rocm-openmp-extras/package.py
Labels: update-package

#46281 boost: Refactor header-only install and add missing compiled libraries
  var/spack/repos/builtin/packages/boost/package.py
Labels: update-package

#46294 bugfix: `elfutils` has no bzip2 or xz variants
  share/spack/gitlab/cloud_pipelines/stacks/gpu-tests/spack.yaml
Labels: gitlab, core

#46279 spec.py: dedent format logic
  lib/spack/spack/spec.py
Labels: core

#46213 perl-bioperl: add v1.6.924, v1.7.8, deprecate v1.007002, refactor dependeicies, update url
  var/spack/repos/builtin/packages/perl-bioperl/package.py
Labels: new-version, dependencies, update-package

#46245 Add additional cuda-toolkit location variable used by py-torch
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: python, update-package

#46201 py-your: Changed software pull location
  var/spack/repos/builtin/packages/py-your/package.py
Labels: new-version, new-package, python, dependencies, update-package

#46137 fast-float: new package
  var/spack/repos/builtin/packages/fast-float/package.py
Labels: new-version, new-package, dependencies, patch

#44509 perl-bio-ensembl-io: new package
  var/spack/repos/builtin/packages/perl-bio-ensembl-io/package.py
Labels: new-version, new-package, dependencies, new-variant, extends

#46237 Deprecate `config:install_missing_compilers`
  etc/spack/defaults/config.yaml
  lib/spack/docs/developer_guide.rst
  lib/spack/docs/pipelines.rst
  lib/spack/spack/concretize.py
  lib/spack/spack/installer.py
  lib/spack/spack/schema/config.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/test/cmd/install.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/installer.py
Labels: documentation, defaults, tests, commands, stand-alone-tests, core

#46296 SIRIUS: add v7.6.1
  var/spack/repos/builtin/packages/sirius/package.py
Labels: new-version, update-package

#45701 Bump up the version for ROCm-6.2.0
  var/spack/repos/builtin/packages/amdsmi/package.py
  var/spack/repos/builtin/packages/aqlprofile/package.py
  var/spack/repos/builtin/packages/comgr/package.py
  var/spack/repos/builtin/packages/composable-kernel/package.py
  var/spack/repos/builtin/packages/hip-tensor/package.py
  var/spack/repos/builtin/packages/hip/package.py
  var/spack/repos/builtin/packages/hipblas/package.py
  var/spack/repos/builtin/packages/hipblaslt/package.py
  var/spack/repos/builtin/packages/hipcc/package.py
  var/spack/repos/builtin/packages/hipcub/package.py
  var/spack/repos/builtin/packages/hipfft/package.py
  var/spack/repos/builtin/packages/hipfort/package.py
  var/spack/repos/builtin/packages/hipify-clang/0001-use-source-permission-for-hipify-perl.patch
  var/spack/repos/builtin/packages/hipify-clang/package.py
  var/spack/repos/builtin/packages/hiprand/package.py
  var/spack/repos/builtin/packages/hipsolver/package.py
  var/spack/repos/builtin/packages/hipsparse/package.py
  var/spack/repos/builtin/packages/hipsparselt/0001-update-llvm-path-add-hipsparse-include-dir-for-spack-6.2.patch
  var/spack/repos/builtin/packages/hipsparselt/package.py
  var/spack/repos/builtin/packages/hsa-rocr-dev/package.py
  var/spack/repos/builtin/packages/hsakmt-roct/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/migraphx/package.py
  var/spack/repos/builtin/packages/miopen-hip/package.py
  var/spack/repos/builtin/packages/mivisionx/package.py
  var/spack/repos/builtin/packages/rccl/package.py
  var/spack/repos/builtin/packages/rdc/package.py
  var/spack/repos/builtin/packages/rocalution/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
  var/spack/repos/builtin/packages/rocm-bandwidth-test/package.py
  var/spack/repos/builtin/packages/rocm-cmake/package.py
  var/spack/repos/builtin/packages/rocm-core/package.py
  var/spack/repos/builtin/packages/rocm-dbgapi/package.py
  var/spack/repos/builtin/packages/rocm-debug-agent/package.py
  var/spack/repos/builtin/packages/rocm-device-libs/package.py
  var/spack/repos/builtin/packages/rocm-gdb/package.py
  var/spack/repos/builtin/packages/rocm-opencl/package.py
  var/spack/repos/builtin/packages/rocm-openmp-extras/0001-Avoid-duplicate-registration-on-cuda-env-6.2.patch
  var/spack/repos/builtin/packages/rocm-openmp-extras/package.py
  var/spack/repos/builtin/packages/rocm-smi-lib/package.py
  var/spack/repos/builtin/packages/rocm-tensile/package.py
  var/spack/repos/builtin/packages/rocm-validation-suite/package.py
  var/spack/repos/builtin/packages/rocminfo/package.py
  var/spack/repos/builtin/packages/rocmlir/package.py
  var/spack/repos/builtin/packages/rocprim/package.py
  var/spack/repos/builtin/packages/rocprofiler-dev/package.py
  var/spack/repos/builtin/packages/rocprofiler-register/001-add-cpack-fmt-glog.patch
  var/spack/repos/builtin/packages/rocprofiler-register/package.py
  var/spack/repos/builtin/packages/rocrand/package.py
  var/spack/repos/builtin/packages/rocsolver/package.py
  var/spack/repos/builtin/packages/rocsparse/package.py
  var/spack/repos/builtin/packages/rocthrust/package.py
  var/spack/repos/builtin/packages/roctracer-dev-api/package.py
  var/spack/repos/builtin/packages/roctracer-dev/0002-use-clang-18.patch
  var/spack/repos/builtin/packages/roctracer-dev/package.py
  var/spack/repos/builtin/packages/rocwmma/package.py
  var/spack/repos/builtin/packages/rpp/package.py
Labels: new-version, new-package, dependencies, virtual-dependencies, patch, update-package

#46301 nvhpc: add 'compiler' tag to the override
  var/spack/repos/builtin/packages/nvhpc/package.py
Labels: update-package

#46297 CP2K: add v2024.3
  var/spack/repos/builtin/packages/cp2k/package.py
Labels: new-version, update-package

#46223 OpenCV: add v4.8-4.10
  var/spack/repos/builtin/packages/opencv/package.py
Labels: new-version, dependencies, update-package

#45540 CUDA: support Grace Hopper 9.0a compute capability
  lib/spack/spack/build_systems/cuda.py
  var/spack/repos/builtin/packages/amr-wind/package.py
  var/spack/repos/builtin/packages/babelstream/package.py
  var/spack/repos/builtin/packages/paraview/package.py
  var/spack/repos/builtin/packages/py-jaxlib/package.py
  var/spack/repos/builtin/packages/py-tensorflow/package.py
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: python, update-package, conflicts, build-systems, core

#46238 Update FMS: apply patch for fms@2023.03, add variant shared and patch for fms@2024.02
  var/spack/repos/builtin/packages/fms/package.py
Labels: patch, update-package, new-variant

#46102 openmpi: update dependency wrt mpi standard versions
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: xSDK, virtual-dependencies, update-package

#46314 Fix variant expressions that will never match
  var/spack/repos/builtin/packages/acts/package.py
  var/spack/repos/builtin/packages/aluminum/package.py
  var/spack/repos/builtin/packages/ceed/package.py
  var/spack/repos/builtin/packages/cosmoflow-benchmark/package.py
  var/spack/repos/builtin/packages/cp2k/package.py
  var/spack/repos/builtin/packages/dealii/package.py
  var/spack/repos/builtin/packages/lammps/package.py
  var/spack/repos/builtin/packages/mlperf-deepcam/package.py
  var/spack/repos/builtin/packages/openmpi/package.py
  var/spack/repos/builtin/packages/q-e-sirius/package.py
  var/spack/repos/builtin/packages/sundials/package.py
  var/spack/repos/builtin/packages/trilinos/package.py
  var/spack/repos/builtin/packages/w3emc/package.py
Labels: dependencies, update-package

#46209 New packages py-regionmask, py-pyogrio; add py-geopandas versions 1.0.0 and 1.0.1
  var/spack/repos/builtin/packages/py-geopandas/package.py
  var/spack/repos/builtin/packages/py-pyogrio/package.py
  var/spack/repos/builtin/packages/py-regionmask/package.py
Labels: new-version, new-package, python, dependencies, update-package

#46260 py-xgboost: add v2.1.1
  var/spack/repos/builtin/packages/py-xgboost/package.py
  var/spack/repos/builtin/packages/xgboost/package.py
Labels: new-version, python, dependencies, update-package

#46327 py-scikit-learn: add v1.5.2
  var/spack/repos/builtin/packages/py-scikit-learn/package.py
Labels: new-version, python, dependencies, update-package

#46322 acts dependencies: add new versions as of 2024/09/11
  var/spack/repos/builtin/packages/acts-algebra-plugins/package.py
  var/spack/repos/builtin/packages/actsvg/package.py
  var/spack/repos/builtin/packages/detray/package.py
  var/spack/repos/builtin/packages/geomodel/package.py
  var/spack/repos/builtin/packages/vecmem/package.py
Labels: new-version, update-package

#46320 acts: add v36.3.0
  var/spack/repos/builtin/packages/acts/package.py
Labels: new-version, update-package, conflicts

#46321 boost: add v1.86.0
  var/spack/repos/builtin/packages/boost/package.py
Labels: new-version, update-package, waiting-on-maintainer

#46344 bugfix: unit test broken everywhere by package change
  lib/spack/spack/test/cmd/providers.py
Labels: tests, commands, core

#46333 acts: further simplify `cxxstd` handling
  var/spack/repos/builtin/packages/acts/package.py
Labels: dependencies, directives, update-package, core

#46291 pika: Add conflict between HIP and GCC (libstdc++) >= 13
  var/spack/repos/builtin/packages/pika/package.py
Labels: update-package, conflicts

#46341 pcre2: add v10.44
  var/spack/repos/builtin/packages/pcre2/package.py
Labels: new-version, dependencies, update-package

#46337 re2: add versions through 2024-07-02; add variant icu
  var/spack/repos/builtin/packages/re2/package.py
Labels: new-version, dependencies, update-package, new-variant

#46340 mdspan: fix typo in satisfies condition
  var/spack/repos/builtin/packages/mdspan/package.py
Labels: update-package

#46100 codespaces: add ubuntu22.04
  .devcontainer/ubuntu20.04/devcontainer.json
  .devcontainer/ubuntu22.04/devcontainer.json
Labels: core

#45689 libssh: add v0.9.8, v0.10.6, v0.11.0
  var/spack/repos/builtin/packages/libssh/package.py
Labels: new-version, update-package

#45747 w3m: add v0.5.3.git20230121
  var/spack/repos/builtin/packages/w3m/package.py
Labels: new-version, patch, update-package

#46318 pika: Add conflicts between pika's and apex's allocator options
  var/spack/repos/builtin/packages/pika/package.py
Labels: update-package, conflicts

#46299 fix various pkgs depending on libtool only
  var/spack/repos/builtin/packages/3proxy/package.py
  var/spack/repos/builtin/packages/geopm-runtime/package.py
  var/spack/repos/builtin/packages/geopm-service/package.py
  var/spack/repos/builtin/packages/graphicsmagick/package.py
  var/spack/repos/builtin/packages/guile/package.py
  var/spack/repos/builtin/packages/imagemagick/package.py
  var/spack/repos/builtin/packages/libcanberra/package.py
  var/spack/repos/builtin/packages/libpciaccess/package.py
  var/spack/repos/builtin/packages/nest/package.py
  var/spack/repos/builtin/packages/open-iscsi/package.py
  var/spack/repos/builtin/packages/open-isns/package.py
  var/spack/repos/builtin/packages/openspeedshop-utils/package.py
  var/spack/repos/builtin/packages/openspeedshop/package.py
  var/spack/repos/builtin/packages/pocl/package.py
  var/spack/repos/builtin/packages/pulseaudio/package.py
  var/spack/repos/builtin/packages/racket/package.py
  var/spack/repos/builtin/packages/scrot/package.py
  var/spack/repos/builtin/packages/unixodbc/package.py
  var/spack/repos/builtin/packages/xbae/package.py
Labels: dependencies, update-package
