Repository spack/spack, pull requests merged in 2024-03, with the labels that each got.

#42917 Support environment variable expansion inside module projections
  lib/spack/spack/projections.py
Labels: core

#41726 Show extension commands with spack -h
  lib/spack/spack/main.py
Labels: core

#42927 Add Quantum ESPRESSO 7.3.1
  var/spack/repos/builtin/packages/quantum-espresso/package.py
Labels: new-version, update-package

#42877 libogg does not build a shared libary with cmake
  var/spack/repos/builtin/packages/libogg/package.py
Labels: update-package, new-variant

#42934 Seacas: Updates the patch hash
  var/spack/repos/builtin/packages/seacas/package.py
Labels: update-package

#42930 py-numba: add `tbb` variant
  var/spack/repos/builtin/packages/py-numba/package.py
Labels: python, dependencies, update-package, conflicts, new-variant

#42951 Added NCCL version 2.20.3-1
  var/spack/repos/builtin/packages/nccl/package.py
Labels: new-version, update-package

#38204 Add ncvis package and add option to wxwidgets
  var/spack/repos/builtin/packages/ncvis/package.py
  var/spack/repos/builtin/packages/wxwidgets/package.py
Labels: new-version, new-package, dependencies, update-package, new-variant

#42938 Bazel: fix patching of 4.2.4
  var/spack/repos/builtin/packages/bazel/package.py
Labels: patch, update-package

#42915 legion: Add 23.09.0 and 23.12.0, remove control_replication.
  var/spack/repos/builtin/packages/flecsi/package.py
  var/spack/repos/builtin/packages/legion/package.py
Labels: new-version, dependencies, patch, update-package

#42870 perl-test-xml and deps: new packages
  var/spack/repos/builtin/packages/perl-test-xml/package.py
  var/spack/repos/builtin/packages/perl-xml-semanticdiff/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#42873 perl-test-xml-simple and deps: new packages
  var/spack/repos/builtin/packages/perl-test-longstring/package.py
  var/spack/repos/builtin/packages/perl-test-xml-simple/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#42878 netcdf-c: An incorrect hdf5 library name is added to pkconfig and cmake config
  var/spack/repos/builtin/packages/netcdf-c/package.py
Labels: patch, update-package

#42515 py-numpy: add v1.26.4
  var/spack/repos/builtin/packages/py-meson-python/package.py
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: new-version, python, dependencies, update-package

#42941 libcatalyst: add fortran & python variants
  var/spack/repos/builtin/packages/libcatalyst/package.py
Labels: update-package, new-variant

#42957 perl-test-time-hires: new package
  var/spack/repos/builtin/packages/perl-test-time-hires/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#42936 py-numpy: fix has no more variants bug
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: python, update-package

#42964 perl-catalyst-plugin-cache: new package
  var/spack/repos/builtin/packages/perl-catalyst-plugin-cache/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#42965 perl-log-dispatch-filerotate and dep: new package
  var/spack/repos/builtin/packages/perl-log-dispatch-filerotate/package.py
  var/spack/repos/builtin/packages/perl-log-dispatch/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#42933 mgard: fix OpenMP on AppleClang
  var/spack/repos/builtin/packages/mgard/package.py
Labels: build-error, dependencies, update-package

#42967 torchgeo v0.5.2
  var/spack/repos/builtin/packages/py-torchgeo/package.py
Labels: new-version, python, update-package

#42903 versions: fix typing problems
  lib/spack/spack/version/version_types.py
Labels: versions, core

#42743 modules: allow autoload: run, like in environment views
  lib/spack/docs/module_file_support.rst
  lib/spack/spack/modules/common.py
  lib/spack/spack/schema/modules.py
Labels: documentation, modules, core

#42920 AOCL: add v4.2.0
  var/spack/repos/builtin/packages/amd-aocl/package.py
  var/spack/repos/builtin/packages/amdblis/blis-4.0_gcc_clang_znver4.patch
  var/spack/repos/builtin/packages/amdblis/package.py
  var/spack/repos/builtin/packages/amdfftw/amdfftw40-clang.patch
  var/spack/repos/builtin/packages/amdfftw/package.py
  var/spack/repos/builtin/packages/amdlibflame/package.py
  var/spack/repos/builtin/packages/amdlibm/package.py
  var/spack/repos/builtin/packages/amdscalapack/clang-hollerith.patch
  var/spack/repos/builtin/packages/amdscalapack/package.py
  var/spack/repos/builtin/packages/aocl-compression/package.py
  var/spack/repos/builtin/packages/aocl-crypto/package.py
  var/spack/repos/builtin/packages/aocl-libmem/package.py
  var/spack/repos/builtin/packages/aocl-sparse/package.py
  var/spack/repos/builtin/packages/aocl-utils/package.py
Labels: new-version, new-package, dependencies, virtual-dependencies, patch, update-package, libraries, new-variant, AMD

#42979 namd: add 3.0b6
  var/spack/repos/builtin/packages/namd/package.py
Labels: new-version, dependencies, update-package

#42976 linux-pam: add missing libtirpc dep
  var/spack/repos/builtin/packages/linux-pam/package.py
Labels: dependencies, update-package

#42955 direnv: add v2.34.0
  var/spack/repos/builtin/packages/direnv/package.py
Labels: new-version, dependencies, update-package

#42956 restic: add v0.16.4
  var/spack/repos/builtin/packages/restic/package.py
Labels: new-version, dependencies, update-package

#42968 imagemagick: add v7.0.9:7.1.1-29
  var/spack/repos/builtin/packages/imagemagick/package.py
Labels: new-version, dependencies, update-package

#42961 perl-catalyst-action-renderview and deps: new packages
  var/spack/repos/builtin/packages/perl-catalyst-action-renderview/package.py
  var/spack/repos/builtin/packages/perl-data-visitor/package.py
  var/spack/repos/builtin/packages/perl-http-request-ascgi/package.py
  var/spack/repos/builtin/packages/perl-tie-toobject/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#42987 perl-graphviz and deps: new packages
  var/spack/repos/builtin/packages/perl-graphviz/package.py
  var/spack/repos/builtin/packages/perl-xml-xpath/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#42960 perl-catalyst-action-rest: new package
  var/spack/repos/builtin/packages/perl-catalyst-action-rest/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#42988 perl-gzip-faster: new package
  var/spack/repos/builtin/packages/perl-gzip-faster/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#42989 perl-net-server-ss-prefork and deps: new packages
  var/spack/repos/builtin/packages/perl-http-server-simple/package.py
  var/spack/repos/builtin/packages/perl-net-server-ss-prefork/package.py
  var/spack/repos/builtin/packages/perl-net-server/package.py
  var/spack/repos/builtin/packages/perl-server-starter/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#42807 Add rocm-openmp-extras package as a dependency for +openmp for +rocm
  var/spack/repos/builtin/packages/hwloc/package.py
  var/spack/repos/builtin/packages/lammps/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/papi/package.py
  var/spack/repos/builtin/packages/rocm-openmp-extras/package.py
Labels: dependencies, update-package

#42963 Document new environment variable expansion in projections
  lib/spack/docs/environments.rst
  lib/spack/spack/test/projections.py
Labels: documentation, tests, core

#42993 bear: add up to version 3.1.3
  var/spack/repos/builtin/packages/bear/package.py
Labels: new-version, dependencies, update-package, conflicts

#42992 perl-perl-critic-moose and deps: new packages
  var/spack/repos/builtin/packages/perl-b-keywords/package.py
  var/spack/repos/builtin/packages/perl-hook-lexwrap/package.py
  var/spack/repos/builtin/packages/perl-lingua-en-inflect/package.py
  var/spack/repos/builtin/packages/perl-list-someutils/package.py
  var/spack/repos/builtin/packages/perl-perl-critic-moose/package.py
  var/spack/repos/builtin/packages/perl-perl-critic/package.py
  var/spack/repos/builtin/packages/perl-perl-tidy/package.py
  var/spack/repos/builtin/packages/perl-pod-parser/package.py
  var/spack/repos/builtin/packages/perl-pod-spell/package.py
  var/spack/repos/builtin/packages/perl-ppi/package.py
  var/spack/repos/builtin/packages/perl-ppix-quotelike/package.py
  var/spack/repos/builtin/packages/perl-ppix-regexp/package.py
  var/spack/repos/builtin/packages/perl-ppix-utils/package.py
  var/spack/repos/builtin/packages/perl-string-format/package.py
  var/spack/repos/builtin/packages/perl-test-object/package.py
  var/spack/repos/builtin/packages/perl-test-subcalls/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#41782 hdf-eos2: support version @3.0, plus assorted fixes
  var/spack/repos/builtin/packages/hdf-eos2/hdf-eos2.configure.patch
  var/spack/repos/builtin/packages/hdf-eos2/package.py
Labels: patch, update-package

#42871 Update metkit with additional eckit dependency constraint
  var/spack/repos/builtin/packages/metkit/package.py
Labels: dependencies, update-package

#42867 Update metkit package.py with git url
  var/spack/repos/builtin/packages/metkit/package.py
Labels: update-package

#42994 py-pythran: `@:0.12.1` is incompatible with `python@3.11:`
  var/spack/repos/builtin/packages/py-pythran/package.py
Labels: python, update-package, conflicts

#42872 libgpg-error: add v1.48
  var/spack/repos/builtin/packages/libgpg-error/package.py
Labels: new-version, update-package

#42408 ASP-based solver: improve reusing nodes with gcc-runtime
  lib/spack/spack/environment/environment.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/concretize_compiler_runtimes.py
Labels: tests, environments, core

#42952 container: don't map develop to latest
  lib/spack/spack/container/images.json
  lib/spack/spack/container/images.py
  lib/spack/spack/test/container/docker.py
  lib/spack/spack/test/container/images.py
Labels: tests, core

#42914 dakota: make python dependency optional
  var/spack/repos/builtin/packages/dakota/package.py
Labels: new-version, dependencies, update-package, new-variant

#43020 py-numpy: patch for AVX512 build flags on Intel Classic Compiler
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: python, patch, update-package

#43006 libksba: add v1.6.6, remove deprecated versions
  var/spack/repos/builtin/packages/libksba/package.py
Labels: new-version, update-package

#43037 icon: add new package
  var/spack/repos/builtin/packages/icon/package.py
Labels: new-version, new-package, dependencies, conflicts, new-variant

#43009 archspec: add v0.2.3
  var/spack/repos/builtin/packages/py-archspec/package.py
Labels: new-version, python, update-package

#43031 perl-xml-hash-xs: new package
  var/spack/repos/builtin/packages/perl-xml-hash-xs/package.py
Labels: new-version, new-package, stand-alone-tests

#43030 perl-text-csv-xs: new package
  var/spack/repos/builtin/packages/perl-text-csv-xs/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#43035 eccodes: drop redundant build dependency
  var/spack/repos/builtin/packages/eccodes/package.py
Labels: update-package

#43029 perl-tie-ixhash: new package
  var/spack/repos/builtin/packages/perl-tie-ixhash/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#43028 perl-test-pod-coverage and deps: new packages
  var/spack/repos/builtin/packages/perl-pod-coverage/package.py
  var/spack/repos/builtin/packages/perl-test-pod-coverage/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#43027 perl-test-perl-critic: new package
  var/spack/repos/builtin/packages/perl-test-perl-critic/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#43026 perl-test-mockobject and deps: new packages
  var/spack/repos/builtin/packages/perl-test-mockobject/package.py
  var/spack/repos/builtin/packages/perl-universal-can/package.py
  var/spack/repos/builtin/packages/perl-universal-isa/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#43024 perl-string-numeric: new package
  var/spack/repos/builtin/packages/perl-string-numeric/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#43023 perl-string-approx: new package
  var/spack/repos/builtin/packages/perl-string-approx/package.py
Labels: new-version, new-package, stand-alone-tests

#43022 perl-sereal and deps: new packages
  var/spack/repos/builtin/packages/perl-sereal-decoder/package.py
  var/spack/repos/builtin/packages/perl-sereal-encoder/package.py
  var/spack/repos/builtin/packages/perl-sereal/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#43018 perl-list-compare: new package
  var/spack/repos/builtin/packages/perl-list-compare/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#43016 perl-exporter-auto: new package
  var/spack/repos/builtin/packages/perl-exporter-auto/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#43015 perl-data-predicate: new package
  var/spack/repos/builtin/packages/perl-data-predicate/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#43014 perl-plack-middleware-deflater: new package
  var/spack/repos/builtin/packages/perl-plack-middleware-deflater/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#43013 perl-catalyst-devel and deps: new packages
  var/spack/repos/builtin/packages/perl-catalyst-devel/package.py
  var/spack/repos/builtin/packages/perl-catalyst-plugin-configloader/package.py
  var/spack/repos/builtin/packages/perl-catalyst-plugin-static-simple/package.py
  var/spack/repos/builtin/packages/perl-file-changenotify/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#43017 perl-html-template: new package
  var/spack/repos/builtin/packages/perl-html-template/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#43011 perl-chi-driver-memcached: new package
  var/spack/repos/builtin/packages/perl-chi-driver-memcached/package.py
  var/spack/repos/builtin/packages/perl-chi/package.py
Labels: new-version, new-package, dependencies, update-package, stand-alone-tests

#43005 flux-sched: add 0.33.0
  var/spack/repos/builtin/packages/flux-sched/package.py
Labels: new-version, update-package

#43001 gdrcopy: fix broken version due to failing patch application
  var/spack/repos/builtin/packages/gdrcopy/package.py
Labels: patch, update-package

#42991 perl-plack-middleware-crossorigin: new package
  var/spack/repos/builtin/packages/perl-plack-middleware-crossorigin/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#42990 perl-plack-middleware-assets and deps: new packages
  var/spack/repos/builtin/packages/perl-css-minifier-xs/package.py
  var/spack/repos/builtin/packages/perl-javascript-minifier-xs/package.py
  var/spack/repos/builtin/packages/perl-plack-middleware-assets/package.py
  var/spack/repos/builtin/packages/perl-test-diaginc/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#42984 perl-config-inifiles: new package
  var/spack/repos/builtin/packages/perl-config-inifiles/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#42983 perl-chart-gnuplot: new package
  var/spack/repos/builtin/packages/perl-chart-gnuplot/package.py
Labels: new-version, new-package, stand-alone-tests

#42982 perl-bsd-resource: new package
  var/spack/repos/builtin/packages/perl-bsd-resource/package.py
Labels: new-version, new-package, stand-alone-tests

#42981 perl-catalyst-view-json: new package
  var/spack/repos/builtin/packages/perl-catalyst-view-json/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#42811 spack.patch: add type hints
  lib/spack/spack/directives.py
  lib/spack/spack/patch.py
Labels: directives, core

#40897 nvptx-tools: add v2023-09-13
  var/spack/repos/builtin/packages/gcc/package.py
  var/spack/repos/builtin/packages/nvptx-tools/package.py
Labels: new-version, dependencies, update-package

#43012 mpfr: missing dependency for version 4.0.1
  var/spack/repos/builtin/packages/mpfr/package.py
Labels: dependencies, update-package

#42918 migraphx: add v6.0.0 & v6.0.2
  var/spack/repos/builtin/packages/composable-kernel/package.py
  var/spack/repos/builtin/packages/migraphx/0003-add-half-include-directory-migraphx-6.0.patch
  var/spack/repos/builtin/packages/migraphx/package.py
  var/spack/repos/builtin/packages/rocmlir/package.py
Labels: new-version, dependencies, resources, patch, update-package

#43041 spack.patch: fix type hint circular import
  lib/spack/spack/patch.py
Labels: broken-develop, core

#43039 NetCDF-C: Skip problematic post install on Windows
  var/spack/repos/builtin/packages/netcdf-c/package.py
Labels: update-package

#42370 load extensions through pythons entry-points machinery
  lib/spack/docs/configuration.rst
  lib/spack/docs/extensions.rst
  lib/spack/llnl/util/lang.py
  lib/spack/spack/config.py
  lib/spack/spack/extensions.py
  lib/spack/spack/test/entry_points.py
  pyproject.toml
Labels: compilers, new-version, new-package, python, R, documentation, dependencies, virtual-dependencies, tests, commands, shell-support, resources, intel, environments, patch, update-package, conflicts, headers, utilities, build-systems, workflow, gitlab, new-variant, core, extends, architecture

#43049 llvm: add 18.1.0
  var/spack/repos/builtin/packages/llvm/package.py
Labels: new-version, update-package

#43048 embree: add v4.3.1
  var/spack/repos/builtin/packages/embree/package.py
Labels: new-version, update-package

#43047 botan: add v3.3.0, v2.9.14
  var/spack/repos/builtin/packages/botan/package.py
Labels: new-version, update-package

#43067 add: flux-core 0.60.0
  var/spack/repos/builtin/packages/flux-core/package.py
Labels: new-version, update-package

#42851 ML CI: variants are now required
  share/spack/gitlab/cloud_pipelines/stacks/ml-darwin-aarch64-mps/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/ml-linux-x86_64-cpu/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/ml-linux-x86_64-cuda/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/ml-linux-x86_64-rocm/spack.yaml
Labels: gitlab, core

#43074 Fix `spack find` bootstrap docs
  lib/spack/docs/bootstrapping.rst
Labels: documentation, core

#43063 sst-core: use ncurses for interactive sst-info
  var/spack/repos/builtin/packages/sst-core/package.py
Labels: dependencies, update-package, new-variant

#43080 Fix a typo
  lib/spack/spack/build_systems/autotools.py
Labels: build-systems, core

#43036 meson: add version 1.3.2
  var/spack/repos/builtin/packages/meson/package.py
Labels: new-version, update-package

#43043 Kokkos Kernels: adding missing TPLs and pre-conditions
  var/spack/repos/builtin/packages/kokkos-kernels/package.py
Labels: update-package, new-variant

#43042 py-lightning: add v2.2.1
  var/spack/repos/builtin/packages/py-lightning/package.py
Labels: new-version, python, update-package

#43046 fix build issue with rocm-openmp-extras for 5.4.3 release
  var/spack/repos/builtin/packages/rocm-openmp-extras/package.py
Labels: dependencies, update-package

#42834 Updating patch PARAMETERS_MIN_ALIGNMENT for 6.0
  var/spack/repos/builtin/packages/hip/0017-Set-PARAMETERS_MIN_ALIGNMENT-to-the-native-alignment.patch
  var/spack/repos/builtin/packages/hip/package.py
Labels: patch, update-package

#43081 fixes entry point bug reported on slack
  lib/spack/llnl/util/lang.py
  lib/spack/spack/test/entry_points.py
Labels: tests, utilities, core

#43060 zlib-ng: 2.1.6
  var/spack/repos/builtin/packages/zlib-ng/package.py
Labels: new-version, update-package

#43068 Dyninst: add v13.0.0
  var/spack/repos/builtin/packages/dyninst/package.py
Labels: new-version, dependencies, update-package, conflicts

#43082 Update GFE packages
  var/spack/repos/builtin/packages/fargparse/package.py
  var/spack/repos/builtin/packages/gftl-shared/package.py
  var/spack/repos/builtin/packages/gftl/package.py
  var/spack/repos/builtin/packages/pflogger/package.py
  var/spack/repos/builtin/packages/pfunit/package.py
  var/spack/repos/builtin/packages/yafyaml/package.py
Labels: new-version, update-package, conflicts

#38520 Enable tensorflow-2.11 support for ROCm
  var/spack/repos/builtin/packages/py-libclang/package.py
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: new-version, python, virtual-dependencies, patch, update-package, conflicts

#43085 verilator: Add revision 5.022
  var/spack/repos/builtin/packages/verilator/package.py
Labels: new-version, update-package

#38922 Update DuckDB Package to fix Version Determination Bug and Add Variants
  var/spack/repos/builtin/packages/duckdb/package.py
Labels: new-version, dependencies, update-package, new-variant

#42233 libint: add link option for fujitsu compiler
  var/spack/repos/builtin/packages/libint/package.py
Labels: update-package

#42276 sfcgal: Add custom libs property
  var/spack/repos/builtin/packages/sfcgal/package.py
Labels: update-package, libraries

#42644 New bigdft psolver versions
  var/spack/repos/builtin/packages/bigdft-psolver/package.py
Labels: new-version, update-package

#42944 py-cheap-repr: new package
  var/spack/repos/builtin/packages/py-cheap-repr/package.py
Labels: new-version, new-package, python, dependencies

#43096 Deprecating py-pylint@2.3 as it cannot build with python@3.8:
  var/spack/repos/builtin/packages/py-pylint/package.py
Labels: new-version, python, dependencies, update-package

#43091 Retiring as PythonPackage maintainer
  lib/spack/spack/build_systems/python.py
  lib/spack/spack/test/cmd/maintainers.py
  lib/spack/spack/test/data/unparse/py-torch.txt
  lib/spack/spack/test/directives.py
  var/spack/repos/builtin/packages/python/package.py
Labels: python, tests, commands, update-package, build-systems, core

#43088 VTK: Patch FindLibPROJ to find configs
  var/spack/repos/builtin/packages/vtk/package.py
  var/spack/repos/builtin/packages/vtk/vtk_findproj_config.patch
Labels: patch, update-package

#43099 py-fiona: add v1.9.6
  var/spack/repos/builtin/packages/py-fiona/package.py
Labels: new-version, python, dependencies, update-package

#42667 Add package zfit
  var/spack/repos/builtin/packages/py-zfit/package.py
Labels: new-version, new-package, python, dependencies, new-variant

#42752 Curl: update win32 support
  var/spack/repos/builtin/packages/curl/package.py
Labels: update-package, new-variant

#42452 visit: link against hip when built with vtk-m+rocm
  var/spack/repos/builtin/packages/visit/package.py
Labels: update-package

#43086 verible: Add revision v0.0-3607-g46de0f64
  var/spack/repos/builtin/packages/verible/package.py
Labels: new-version, update-package

#43090 gnupg: add v2.4.5, remove deprecated versions
  var/spack/repos/builtin/packages/gnupg/package.py
  var/spack/repos/builtin/packages/libassuan/package.py
  var/spack/repos/builtin/packages/libgcrypt/package.py
Labels: new-version, update-package

#42901 perl-test-warn: update version, dependencies
  var/spack/repos/builtin/packages/perl-test-warn/package.py
Labels: new-version, dependencies, update-package, stand-alone-tests

#42869 perl-bio-eutilities and deps: new packages
  var/spack/repos/builtin/packages/perl-bio-asn1-entrezgene/package.py
  var/spack/repos/builtin/packages/perl-bio-cluster/package.py
  var/spack/repos/builtin/packages/perl-bio-eutilities/package.py
  var/spack/repos/builtin/packages/perl-bio-variation/package.py
Labels: new-version, new-package, dependencies, stand-alone-tests

#43089 proj: correct CMake arg for shared build with proj older than 7.0.0
  var/spack/repos/builtin/packages/proj/package.py
Labels: update-package

#43109 llvm: add v18.1.1
  var/spack/repos/builtin/packages/llvm/package.py
Labels: new-version, update-package

#43105 fix typo in dependency
  var/spack/repos/builtin/packages/py-zfit-interface/package.py
Labels: python, dependencies, update-package

#43114 Remove dead code
  lib/spack/llnl/path.py
  lib/spack/llnl/util/filesystem.py
  lib/spack/llnl/util/lang.py
  lib/spack/llnl/util/lock.py
  lib/spack/llnl/util/tty/__init__.py
  lib/spack/spack/spec.py
Labels: locking, utilities, maintainers, core

#42348 dla-future: Add patch for compilation with newer ROCm versions
  var/spack/repos/builtin/packages/dla-future/hip_complex_operator_overloads.patch
  var/spack/repos/builtin/packages/dla-future/package.py
Labels: patch, update-package

#42888 package/qgis: add new version
  var/spack/repos/builtin/packages/qgis/package.py
  var/spack/repos/builtin/packages/qscintilla/package.py
Labels: new-version, dependencies, update-package, new-variant, stand-alone-tests

#41069 Update TensorFlow ecosystem
  share/spack/gitlab/cloud_pipelines/stacks/ml-linux-x86_64-cpu/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/ml-linux-x86_64-cuda/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/ml-linux-x86_64-rocm/spack.yaml
  var/spack/repos/builtin/packages/py-h5py/package.py
  var/spack/repos/builtin/packages/py-keras/package.py
  var/spack/repos/builtin/packages/py-tensorboard/package.py
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: new-version, python, dependencies, update-package, gitlab, core

#43058 ruby: add version 3.3.0
  var/spack/repos/builtin/packages/ruby/package.py
Labels: new-version, dependencies, update-package

#43111 geant4: new variant timemory
  var/spack/repos/builtin/packages/geant4/package.py
Labels: dependencies, update-package, new-variant

#42454 e4s ci stacks: add cp2k cpu and gpu specs
  share/spack/gitlab/cloud_pipelines/stacks/e4s-cray-rhel/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-cray-sles/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-neoverse-v2/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-neoverse_v1/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-oneapi/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-power/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-rocm-external/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: e4s, gitlab, core

#43101 diy: add v3.6.0
  var/spack/repos/builtin/packages/diy/package.py
Labels: new-version, update-package

#43113 fzf: add v0.47.0
  var/spack/repos/builtin/packages/fzf/package.py
Labels: new-version, update-package

#43062 py-earth2mip: add new package
  var/spack/repos/builtin/packages/abseil-cpp/package.py
  var/spack/repos/builtin/packages/magics/package.py
  var/spack/repos/builtin/packages/protobuf/package.py
  var/spack/repos/builtin/packages/py-aiobotocore/package.py
  var/spack/repos/builtin/packages/py-cdsapi/package.py
  var/spack/repos/builtin/packages/py-cfgrib/package.py
  var/spack/repos/builtin/packages/py-chex/package.py
  var/spack/repos/builtin/packages/py-colabtools/package.py
  var/spack/repos/builtin/packages/py-dm-haiku/package.py
  var/spack/repos/builtin/packages/py-earth2mip/package.py
  var/spack/repos/builtin/packages/py-ecmwf-opendata/package.py
  var/spack/repos/builtin/packages/py-ecmwflibs/package.py
  var/spack/repos/builtin/packages/py-etils/package.py
  var/spack/repos/builtin/packages/py-flax/package.py
  var/spack/repos/builtin/packages/py-flit-core/package.py
  var/spack/repos/builtin/packages/py-fsspec/package.py
  var/spack/repos/builtin/packages/py-gcsfs/package.py
  var/spack/repos/builtin/packages/py-graphcast/package.py
  var/spack/repos/builtin/packages/py-h5netcdf/package.py
  var/spack/repos/builtin/packages/py-importlib-metadata/package.py
  var/spack/repos/builtin/packages/py-jax/package.py
  var/spack/repos/builtin/packages/py-jaxlib/package.py
  var/spack/repos/builtin/packages/py-jraph/package.py
  var/spack/repos/builtin/packages/py-multiurl/package.py
  var/spack/repos/builtin/packages/py-netcdf4/package.py
  var/spack/repos/builtin/packages/py-nvidia-dali/package.py
  var/spack/repos/builtin/packages/py-nvidia-modulus/package.py
  var/spack/repos/builtin/packages/py-nvtx/package.py
  var/spack/repos/builtin/packages/py-onnx/package.py
  var/spack/repos/builtin/packages/py-onnxruntime/package.py
  var/spack/repos/builtin/packages/py-orbax-checkpoint/package.py
  var/spack/repos/builtin/packages/py-properscoring/package.py
  var/spack/repos/builtin/packages/py-pytest-asyncio/package.py
  var/spack/repos/builtin/packages/py-pytest-regtest/package.py
  var/spack/repos/builtin/packages/py-pytest-timeout/package.py
  var/spack/repos/builtin/packages/py-python-dotenv/package.py
  var/spack/repos/builtin/packages/py-s3fs/package.py
  var/spack/repos/builtin/packages/py-tensorstore/package.py
  var/spack/repos/builtin/packages/py-torch-harmonics/package.py
  var/spack/repos/builtin/packages/py-tree/package.py
  var/spack/repos/builtin/packages/py-treelib/package.py
  var/spack/repos/builtin/packages/py-triton/package.py
  var/spack/repos/builtin/packages/py-xhistogram/package.py
  var/spack/repos/builtin/packages/py-xskillscore/package.py
  var/spack/repos/builtin/packages/py-zarr/package.py
Labels: new-version, new-package, python, dependencies, update-package, conflicts, libraries, headers, new-variant, extends

#43119 py-onnx-opcounter: add new package
  var/spack/repos/builtin/packages/py-onnx-opcounter/package.py
Labels: new-version, new-package, python, dependencies

#43120 aocl-utils: source sha has changed
  var/spack/repos/builtin/packages/aocl-utils/package.py
Labels: new-version, update-package

#43121 py-climax: add new package
  var/spack/repos/builtin/packages/py-cf-xarray/package.py
  var/spack/repos/builtin/packages/py-climax/package.py
  var/spack/repos/builtin/packages/py-xesmf/package.py
Labels: new-version, new-package, python, dependencies

#43100 Fix callbacks accumulation when using mixins with builders
  lib/spack/spack/builder.py
  lib/spack/spack/test/builder.py
  lib/spack/spack/test/cmd/list.py
  var/spack/repos/builder.test/packages/builder-and-mixins/package.py
Labels: new-version, tests, commands, bugfix, core

#41845 perl-parsetemplate: add new package
  var/spack/repos/builtin/packages/perl-parsetemplate/package.py
Labels: new-version, new-package

#42157 perl-math-symbolic: add required perl-parse-recdescent dependency
  var/spack/repos/builtin/packages/perl-math-symbolic/package.py
Labels: dependencies, update-package

#43117 py-neuralgcm: add new package and dependencies
  var/spack/repos/builtin/packages/py-dinosaur/package.py
  var/spack/repos/builtin/packages/py-neuralgcm/package.py
  var/spack/repos/builtin/packages/py-tree-math/package.py
  var/spack/repos/builtin/packages/py-xarray-tensorstore/package.py
Labels: new-version, new-package, python, dependencies

#42978 Update SLEEF package.py
  var/spack/repos/builtin/packages/sleef/package.py
Labels: new-version, update-package

#42744 py-psyclone and py-fparser: Add new releases
  var/spack/repos/builtin/packages/py-fparser/package.py
  var/spack/repos/builtin/packages/py-psyclone/package.py
  var/spack/repos/builtin/packages/py-pytest-pylint/package.py
Labels: new-version, new-package, python, dependencies, update-package

#43116 gaudi: add py-yaml dependency
  var/spack/repos/builtin/packages/gaudi/package.py
Labels: dependencies, update-package

#43144 Intel oneapi compilers 2023.2.4
  var/spack/repos/builtin/packages/intel-oneapi-compilers-classic/package.py
  var/spack/repos/builtin/packages/intel-oneapi-compilers/package.py
Labels: intel, update-package

#43057 libquo: Update default version from 1.3.1 to 1.4.
  var/spack/repos/builtin/packages/libquo/package.py
Labels: new-version, update-package

#43133 ecmwf-atlas@0.36: depends on ecbuild@3.4:
  var/spack/repos/builtin/packages/ecmwf-atlas/package.py
Labels: dependencies, update-package

#43130 py-lazy-loader: add new version
  var/spack/repos/builtin/packages/py-lazy-loader/package.py
Labels: new-version, python, dependencies, update-package

#43127 py-art: add new package
  var/spack/repos/builtin/packages/py-art/package.py
Labels: new-version, new-package, python, dependencies

#43123 SEACAS: New release 2024-03-11
  var/spack/repos/builtin/packages/seacas/package.py
Labels: new-version, update-package

#43148 abinit: add version 9.10.5
  var/spack/repos/builtin/packages/abinit/package.py
Labels: new-version, update-package

#43040 spack.patch: support reversing patches
  lib/spack/spack/directives.py
  lib/spack/spack/patch.py
  lib/spack/spack/test/patch.py
Labels: tests, directives, patch, core

#43151 Update trans/ectrans variant and configure tesselation variant for ecmwf-atlas
  var/spack/repos/builtin/packages/ecmwf-atlas/package.py
Labels: dependencies, update-package, new-variant

#43115 antlr4-cpp-runtime: update dependencies
  var/spack/repos/builtin/packages/antlr4-cpp-runtime/package.py
Labels: dependencies, update-package
