Repository spack/spack, pull requests merged in 2024-12, with the labels that each got.

#47828 mlpack: depends_on py-setuptools
  var/spack/repos/builtin/packages/mlpack/package.py
Labels: dependencies, update-package

#47865 configuration: set egl as buildable:false
  etc/spack/defaults/packages.yaml
Labels: defaults, core

#47868 py-torch-nvidia-apex: add dependency on C
  var/spack/repos/builtin/packages/py-torch-nvidia-apex/package.py
Labels: python, dependencies, update-package

#47860 benchmark: add version 1.9.1
  var/spack/repos/builtin/packages/benchmark/package.py
Labels: new-version, update-package

#46580 ucc: add ROCm and rccl support
  var/spack/repos/builtin/packages/ucc/package.py
Labels: dependencies, patch, update-package, new-variant, changes-requested

#47852 trilinos@14.4.0 revert kokkos-kernel dependency - as this breaks builds
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: dependencies, xSDK, update-package

#47874 oneapi-level-zero: add dependency on c
  var/spack/repos/builtin/packages/oneapi-level-zero/package.py
Labels: dependencies, update-package

#47857 amrex: add v24.12
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package

#47858 onnx: set CMAKE_CXX_STANDARD to abseil-cpp cxxstd value
  var/spack/repos/builtin/packages/onnx/package.py
Labels: update-package

#47861 hohqmesh: add new versions + `main` branch
  var/spack/repos/builtin/packages/hohqmesh/package.py
Labels: new-version, update-package

#47871 seacas: add a conditional dependency on fortran
  var/spack/repos/builtin/packages/seacas/package.py
Labels: dependencies, update-package

#47870 utf8cpp: move to GitHub, make it a CMake package
  var/spack/repos/builtin/packages/utf8cpp/package.py
Labels: new-version, dependencies, update-package

#47873 py-torchvision: add dependency on c
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: python, dependencies, update-package

#47876 libseccomp: python forward compat bound
  var/spack/repos/builtin/packages/libseccomp/package.py
Labels: dependencies, update-package, extends

#47845 petsc, py-petsc4py: add v3.22.2
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/py-petsc4py/package.py
Labels: new-version, python, update-package

#47877 Add intel compilers 2025.0.3 packages
  var/spack/repos/builtin/packages/intel-oneapi-compilers/package.py
Labels: intel, update-package

#47787 acts dependencies: new versions as of 2024/12/02
  var/spack/repos/builtin/packages/acts/package.py
  var/spack/repos/builtin/packages/detray/package.py
  var/spack/repos/builtin/packages/vecmem/package.py
Labels: new-version, update-package

#47881 py-rasterio: add v1.4.3
  var/spack/repos/builtin/packages/py-rasterio/package.py
Labels: new-version, python, update-package

#47867 cgns: make fortran dependency optional
  var/spack/repos/builtin/packages/cgns/package.py
Labels: dependencies, update-package

#47885 nccl: add v2.23.4-1
  var/spack/repos/builtin/packages/nccl/package.py
Labels: new-version, update-package

#47880 aws-ofi-nccl: Remove duplicate version
  var/spack/repos/builtin/packages/aws-ofi-nccl/package.py
Labels: update-package

#47862 python: drop nis module also for < 3.13
  var/spack/repos/builtin/packages/python/package.py
Labels: python, dependencies, update-package

#47892 nwchem: add resource, remove patch
  var/spack/repos/builtin/packages/nwchem/dft-d3_url.patch
  var/spack/repos/builtin/packages/nwchem/package.py
Labels: dependencies, resources, update-package, hotfix

#47895 style.py: do not remove import spack in packages
  lib/spack/spack/cmd/style.py
  var/spack/repos/builtin/packages/singularity-eos/package.py
Labels: commands, update-package, core

#47809 Bump Kokkos and Kokkos-kernels to 4.5.00
  var/spack/repos/builtin/packages/kokkos-kernels/package.py
  var/spack/repos/builtin/packages/kokkos/package.py
  var/spack/repos/builtin/packages/petsc/package.py
Labels: new-version, dependencies, update-package, conflicts

#47887 bug fix: updated warning message to reflect impending v1.0 release
  lib/spack/spack/schema/config.py
Labels: core

#47844 nim: add latest versions
  var/spack/repos/builtin/packages/nim/package.py
Labels: new-version, resources, update-package, wait-on-reviewers

#47680 update py-numl and py-nugraph recipes
  var/spack/repos/builtin/packages/py-nugraph/package.py
  var/spack/repos/builtin/packages/py-numl/package.py
Labels: new-version, python, update-package

#47452 add a '+no_warning' variant to METIS to prevent pervasive warning
  var/spack/repos/builtin/packages/draco/package.py
  var/spack/repos/builtin/packages/metis/no_warning.patch
  var/spack/repos/builtin/packages/metis/package.py
Labels: dependencies, patch, update-package, new-variant

#47866 eigen: remove unnecessary dependency on fortran
  var/spack/repos/builtin/packages/eigen/package.py
Labels: dependencies, update-package

#47898 stage.py: improve path to url
  lib/spack/spack/stage.py
Labels: stage, core

#47894 rust-bootstrap: fix zlib dependency
  var/spack/repos/builtin/packages/rust-bootstrap/package.py
Labels: dependencies, update-package

#47838 trilinos@master,develop: update kokkos dependency
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: dependencies, xSDK, update-package

#47925 neovim: add 0.10.2
  var/spack/repos/builtin/packages/neovim/package.py
Labels: new-version, update-package

#47719 ci: add bootstrap stack for python@3.6:3.13
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/stacks/bootstrap-aarch64-darwin/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/bootstrap-x86_64-linux-gnu/spack.yaml
  var/spack/repos/builtin/packages/clingo-bootstrap/package.py
  var/spack/repos/builtin/packages/clingo-bootstrap/version-script-5.4.patch
  var/spack/repos/builtin/packages/py-setuptools/package.py
  var/spack/repos/builtin/packages/python/package.py
Labels: new-version, python, dependencies, patch, update-package, gitlab, core

#47937 pandoramonitoring,pandorasdk: change docstrings that are wrong
  var/spack/repos/builtin/packages/pandoramonitoring/package.py
  var/spack/repos/builtin/packages/pandorasdk/package.py
Labels: update-package

#47933 tar: conditionally link iconv
  var/spack/repos/builtin/packages/tar/package.py
Labels: defaults, update-package, core

#47936 spack.mirror: split into submodules
  lib/spack/docs/conf.py
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/bootstrap/core.py
  lib/spack/spack/ci.py
  lib/spack/spack/cmd/bootstrap.py
  lib/spack/spack/cmd/buildcache.py
  lib/spack/spack/cmd/ci.py
  lib/spack/spack/cmd/common/arguments.py
  lib/spack/spack/cmd/gpg.py
  lib/spack/spack/cmd/mirror.py
  lib/spack/spack/error.py
  lib/spack/spack/hooks/autopush.py
  lib/spack/spack/installer.py
  lib/spack/spack/mirrors/layout.py
  lib/spack/spack/mirrors/mirror.py
  lib/spack/spack/mirrors/utils.py
  lib/spack/spack/oci/oci.py
  lib/spack/spack/oci/opener.py
  lib/spack/spack/package_base.py
  lib/spack/spack/patch.py
  lib/spack/spack/stage.py
  lib/spack/spack/test/bindist.py
  lib/spack/spack/test/build_distribution.py
  lib/spack/spack/test/cmd/bootstrap.py
  lib/spack/spack/test/cmd/buildcache.py
  lib/spack/spack/test/cmd/mirror.py
  lib/spack/spack/test/install.py
  lib/spack/spack/test/mirror.py
  lib/spack/spack/test/oci/urlopen.py
  lib/spack/spack/test/packaging.py
  lib/spack/spack/test/web.py
  lib/spack/spack/util/s3.py
Labels: new-version, documentation, tests, commands, binary-packages, utilities, stage, core

#47915 solver: partition classes related to requirement parsing into their own file
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/solver/requirements.py
Labels: core

#47922 Add conflict for pixman with Intel Classic
  var/spack/repos/builtin/packages/pixman/package.py
Labels: update-package, conflicts

#47947 Don't inject import statements in package recipes
  lib/spack/spack/repo.py
  lib/spack/spack/test/cmd/diff.py
  lib/spack/spack/test/cmd/find.py
  lib/spack/spack/test/concretization/core.py
  lib/spack/spack/test/directives.py
  share/spack/templates/mock-repository/package.pyt
Labels: tests, commands, core

#47573 py-uxarray: new package plus dependencies
  var/spack/repos/builtin/packages/py-antimeridian/package.py
  var/spack/repos/builtin/packages/py-bokeh/package.py
  var/spack/repos/builtin/packages/py-dask-expr/package.py
  var/spack/repos/builtin/packages/py-dask/package.py
  var/spack/repos/builtin/packages/py-datashader/package.py
  var/spack/repos/builtin/packages/py-geoviews/package.py
  var/spack/repos/builtin/packages/py-holoviews/package.py
  var/spack/repos/builtin/packages/py-hvplot/package.py
  var/spack/repos/builtin/packages/py-panel/package.py
  var/spack/repos/builtin/packages/py-param/package.py
  var/spack/repos/builtin/packages/py-spatialpandas/package.py
  var/spack/repos/builtin/packages/py-uxarray/package.py
Labels: new-version, new-package, python, dependencies, update-package, conflicts, waiting-on-maintainer

#47707 Bump up the version for rocm-6.2.4 release
  var/spack/repos/builtin/packages/amdsmi/package.py
  var/spack/repos/builtin/packages/aqlprofile/package.py
  var/spack/repos/builtin/packages/comgr/package.py
  var/spack/repos/builtin/packages/composable-kernel/package.py
  var/spack/repos/builtin/packages/hip-tensor/package.py
  var/spack/repos/builtin/packages/hip/package.py
  var/spack/repos/builtin/packages/hipblas/package.py
  var/spack/repos/builtin/packages/hipblaslt/package.py
  var/spack/repos/builtin/packages/hipcc/package.py
  var/spack/repos/builtin/packages/hipcub/package.py
  var/spack/repos/builtin/packages/hipfft/package.py
  var/spack/repos/builtin/packages/hipfort/package.py
  var/spack/repos/builtin/packages/hipify-clang/package.py
  var/spack/repos/builtin/packages/hiprand/package.py
  var/spack/repos/builtin/packages/hipsolver/package.py
  var/spack/repos/builtin/packages/hipsparse/package.py
  var/spack/repos/builtin/packages/hipsparselt/package.py
  var/spack/repos/builtin/packages/hsa-rocr-dev/package.py
  var/spack/repos/builtin/packages/hsakmt-roct/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/migraphx/package.py
  var/spack/repos/builtin/packages/miopen-hip/package.py
  var/spack/repos/builtin/packages/mivisionx/package.py
  var/spack/repos/builtin/packages/omniperf/package.py
  var/spack/repos/builtin/packages/omnitrace/package.py
  var/spack/repos/builtin/packages/rccl/package.py
  var/spack/repos/builtin/packages/rdc/package.py
  var/spack/repos/builtin/packages/rocal/package.py
  var/spack/repos/builtin/packages/rocalution/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocdecode/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
  var/spack/repos/builtin/packages/rocm-bandwidth-test/package.py
  var/spack/repos/builtin/packages/rocm-cmake/package.py
  var/spack/repos/builtin/packages/rocm-core/package.py
  var/spack/repos/builtin/packages/rocm-dbgapi/package.py
  var/spack/repos/builtin/packages/rocm-debug-agent/package.py
  var/spack/repos/builtin/packages/rocm-device-libs/package.py
  var/spack/repos/builtin/packages/rocm-gdb/package.py
  var/spack/repos/builtin/packages/rocm-opencl/package.py
  var/spack/repos/builtin/packages/rocm-openmp-extras/package.py
  var/spack/repos/builtin/packages/rocm-smi-lib/package.py
  var/spack/repos/builtin/packages/rocm-tensile/package.py
  var/spack/repos/builtin/packages/rocm-validation-suite/package.py
  var/spack/repos/builtin/packages/rocminfo/package.py
  var/spack/repos/builtin/packages/rocmlir/package.py
  var/spack/repos/builtin/packages/rocprim/package.py
  var/spack/repos/builtin/packages/rocprofiler-dev/package.py
  var/spack/repos/builtin/packages/rocprofiler-register/package.py
  var/spack/repos/builtin/packages/rocpydecode/package.py
  var/spack/repos/builtin/packages/rocrand/package.py
  var/spack/repos/builtin/packages/rocsolver/package.py
  var/spack/repos/builtin/packages/rocsparse/package.py
  var/spack/repos/builtin/packages/rocthrust/package.py
  var/spack/repos/builtin/packages/roctracer-dev-api/package.py
  var/spack/repos/builtin/packages/roctracer-dev/package.py
  var/spack/repos/builtin/packages/rocwmma/package.py
  var/spack/repos/builtin/packages/rpp/package.py
Labels: new-version, dependencies, patch, update-package

#47749 Upgraded version specs for ECMWF packages: eckit, atlas, ectrans, fckit, fiat
  var/spack/repos/builtin/packages/eckit/package.py
  var/spack/repos/builtin/packages/ecmwf-atlas/package.py
  var/spack/repos/builtin/packages/ectrans/package.py
  var/spack/repos/builtin/packages/fckit/package.py
  var/spack/repos/builtin/packages/fiat/package.py
Labels: new-version, update-package

#47960 build_environment: drop off by one fix
  lib/spack/spack/build_environment.py
Labels: build-environment, core

#47965 directives.py: remove redundant import
  lib/spack/spack/directives.py
Labels: directives, core

#47731 coverage.yml: fail_ci_if_error = true
  .github/workflows/coverage.yml
Labels: workflow, core

#47963 extensions.py: remove import of spack.cmd
  lib/spack/spack/cmd/__init__.py
  lib/spack/spack/extensions.py
  lib/spack/spack/repo.py
  lib/spack/spack/test/cmd_extensions.py
Labels: tests, commands, core

#47569 py-jedi: add v0.19.2
  var/spack/repos/builtin/packages/py-ipykernel/package.py
  var/spack/repos/builtin/packages/py-ipython/package.py
  var/spack/repos/builtin/packages/py-jedi/package.py
  var/spack/repos/builtin/packages/py-parso/package.py
Labels: new-version, python, dependencies, update-package

#47977 mirrors: add missing init file
  lib/spack/docs/conf.py
  lib/spack/spack/mirrors/__init__.py
  lib/spack/spack/mirrors/utils.py
Labels: documentation, hotfix, core, v0.23.1

#47976 celeritas: patch 0.5.0 for geant4@11.3.0:
  var/spack/repos/builtin/packages/celeritas/package.py
Labels: patch, update-package, conflicts

#47929 e4s ci: add lammps +rocm
  share/spack/gitlab/cloud_pipelines/stacks/e4s-rocm-external/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: e4s, gitlab, core

#47918 aws-pcluster stacks: Use only static spack.yaml
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/scripts/pcluster/setup-pcluster.sh
  share/spack/gitlab/cloud_pipelines/stacks/aws-pcluster-neoverse_v1/packages.yaml
  share/spack/gitlab/cloud_pipelines/stacks/aws-pcluster-neoverse_v1/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/aws-pcluster-x86_64_v4/packages.yaml
  share/spack/gitlab/cloud_pipelines/stacks/aws-pcluster-x86_64_v4/spack.yaml
Labels: new-version, shell-support, update-package, gitlab, core

#47984 mold: Add 2.35.0
  var/spack/repos/builtin/packages/mold/package.py
Labels: new-version, update-package

#47986 coverage.yml: set fail_ci_if_error = false again
  .github/workflows/coverage.yml
Labels: workflow, core

#47958 gh: add v2.59.0 -> v2.63.2
  var/spack/repos/builtin/packages/gh/package.py
Labels: new-version, dependencies, update-package

#47982 py-plac: add v1.4.3; restrict to python@:3.11 for older
  var/spack/repos/builtin/packages/py-plac/package.py
Labels: new-version, python, dependencies, update-package

#47979 node-js: patch for %gcc@12.[1-2] when @22.2:22.5
  var/spack/repos/builtin/packages/node-js/fix-broken-gcc12-pr53728.patch
  var/spack/repos/builtin/packages/node-js/package.py
Labels: patch, update-package

#47968 mapl: add v2.51.0
  var/spack/repos/builtin/packages/mapl/package.py
Labels: new-version, dependencies, resources, update-package, conflicts

#47974 various pkgs: use https homepage when http redirects (github.io)
  var/spack/repos/builtin/packages/freesasa/package.py
  var/spack/repos/builtin/packages/hypar/package.py
  var/spack/repos/builtin/packages/pblat/package.py
  var/spack/repos/builtin/packages/py-gpyopt/package.py
  var/spack/repos/builtin/packages/py-h5io/package.py
  var/spack/repos/builtin/packages/py-owslib/package.py
  var/spack/repos/builtin/packages/py-phydms/package.py
Labels: python, update-package

#47981 acts dependencies: new versions as of 2024/12/08
  var/spack/repos/builtin/packages/acts-algebra-plugins/package.py
  var/spack/repos/builtin/packages/acts/package.py
  var/spack/repos/builtin/packages/covfie/package.py
  var/spack/repos/builtin/packages/detray/package.py
  var/spack/repos/builtin/packages/geomodel/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#47970 py-httpx: add v0.28, v0.28.1
  var/spack/repos/builtin/packages/py-httpx/package.py
Labels: new-version, python, dependencies, update-package

#47935 gromacs: conflict %apple-clang and +openmp
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: update-package, conflicts

#47916 dlb: add v3.5.0
  var/spack/repos/builtin/packages/dlb/package.py
Labels: new-version, update-package

#47902 justbuild: add v1.4.1
  var/spack/repos/builtin/packages/justbuild/package.py
Labels: new-version, update-package

#47900 gromacs: add v2024.4
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: new-version, update-package

#47899 py-twine: add v6.0.1
  var/spack/repos/builtin/packages/py-twine/package.py
Labels: new-version, python, dependencies, update-package

#47896 highfive: update maintainers.
  var/spack/repos/builtin/packages/highfive/package.py
Labels: update-package

#47893 extrae: relax requirements on binutils
  var/spack/repos/builtin/packages/extrae/package.py
Labels: dependencies, update-package

#47891 eztrace: add develop
  var/spack/repos/builtin/packages/eztrace/package.py
Labels: new-version, update-package

#47890 py-mgmetis: rm constrains < 3.X for mpi4py & < 1.X for numpy depandancies
  var/spack/repos/builtin/packages/py-mgmetis/package.py
Labels: python, dependencies, update-package

#47886 tecplot: updated hash for 2024r1m1
  var/spack/repos/builtin/packages/tecplot/package.py
Labels: update-package

#47998 py-scikit-learn: add v1.6.0
  var/spack/repos/builtin/packages/py-scikit-learn/package.py
Labels: new-version, python, update-package

#47999 py-numpy: add v2.2.0
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: new-version, python, update-package

#47995 Bugfix: Remove remaining use of deprecated test callbacks: docs and two packages
  lib/spack/docs/packaging_guide.rst
  var/spack/repos/builtin/packages/py-anuga/package.py
  var/spack/repos/builtin/packages/py-datalad/package.py
Labels: python, documentation, update-package, bugfix, core

#47985 make level_zero variant consistent, add missing instances
  share/spack/gitlab/cloud_pipelines/stacks/e4s-oneapi/spack.yaml
  var/spack/repos/builtin/packages/aml/package.py
  var/spack/repos/builtin/packages/double-batched-fft-library/package.py
  var/spack/repos/builtin/packages/geopm-service/package.py
  var/spack/repos/builtin/packages/hwloc/package.py
  var/spack/repos/builtin/packages/libfabric/package.py
  var/spack/repos/builtin/packages/libquo/package.py
  var/spack/repos/builtin/packages/mpich/package.py
  var/spack/repos/builtin/packages/tiny-tensor-compiler/package.py
  var/spack/repos/builtin/packages/yaksa/package.py
Labels: dependencies, update-package, conflicts, gitlab, new-variant, core

#47989 pipelines: simplify and lint aws-pcluster-*
  lib/spack/spack/util/spack_yaml.py
  share/spack/gitlab/cloud_pipelines/stacks/aws-pcluster-neoverse_v1/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/aws-pcluster-x86_64_v4/spack.yaml
Labels: utilities, gitlab, core

#47897 llvm: add v19.1.5
  var/spack/repos/builtin/packages/llvm/package.py
Labels: new-version, update-package

#47855 veccore: add v0.8.2
  var/spack/repos/builtin/packages/veccore/package.py
Labels: new-version, dependencies, update-package

#47988 py-disbatch: add new package at version 3.0
  var/spack/repos/builtin/packages/py-disbatch/package.py
Labels: new-version, new-package, python, dependencies

#47969 py-jupyterlab-server: add v2.23 to 2.27
  var/spack/repos/builtin/packages/py-jupyterlab-server/package.py
Labels: question, new-version, python, dependencies, update-package

#47914 highfive: add v2.10.1
  var/spack/repos/builtin/packages/highfive/package.py
Labels: new-version, update-package

#47946 py-nbclassic: add v1.1.0
  var/spack/repos/builtin/packages/py-nbclassic/package.py
Labels: new-version, python, dependencies, update-package

#47950 hp2p: new package
  var/spack/repos/builtin/packages/hp2p/package.py
Labels: new-version, new-package, dependencies

#47948 Update compadre and py-pycompadre to v1.6.0
  var/spack/repos/builtin/packages/compadre/package.py
  var/spack/repos/builtin/packages/py-pycompadre/package.py
Labels: new-version, python, dependencies, patch, update-package, new-variant

#48011 [intel-oneapi-compilers]: module needs umf
  var/spack/repos/builtin/packages/intel-oneapi-compilers/package.py
Labels: intel, update-package

#48028 Revert "Set the "build_jobs" on concretization/generate for CI (#47660)"
  lib/spack/spack/cmd/ci.py
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/configs/ci.yaml
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
Labels: commands, shell-support, gitlab, core

#48032 llnl.path: make system_path_filter a noop on non-win32
  lib/spack/llnl/path.py
Labels: utilities, core

#48005 log.py: improve non-utf-8 input and output
  lib/spack/llnl/util/tty/log.py
  lib/spack/spack/test/llnl/util/tty/log.py
Labels: tests, utilities, core, v0.23.1

#48027 umf only avaiable with 2025
  var/spack/repos/builtin/packages/intel-oneapi-compilers/package.py
Labels: intel, update-package, hotfix

#47424 qt-base: fix rpath for dependents
  var/spack/repos/builtin/packages/qt-base/package.py
Labels: update-package

#48009 amr-wind: remove unused cmake option
  var/spack/repos/builtin/packages/amr-wind/package.py
Labels: update-package

#48035 dbcsr: add v2.8.0
  var/spack/repos/builtin/packages/dbcsr/package.py
Labels: new-version, update-package

#48041 gha: fix git safe.directory config
  .github/workflows/unit_tests.yaml
  .github/workflows/valid-style.yml
Labels: workflow, core, v0.23.1

#47459 ci: Refactor pipeline generation
  lib/spack/spack/ci.py
  lib/spack/spack/ci/README.md
  lib/spack/spack/ci/__init__.py
  lib/spack/spack/ci/common.py
  lib/spack/spack/ci/generator_registry.py
  lib/spack/spack/ci/gitlab.py
  lib/spack/spack/cmd/ci.py
  lib/spack/spack/test/ci.py
  lib/spack/spack/test/cmd/ci.py
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
Labels: tests, commands, shell-support, core

#47964 py-psyclone: add v3.0.0
  var/spack/repos/builtin/packages/py-psyclone/package.py
Labels: new-version, python, dependencies, update-package

#48026 Update ESMF to support clang with gfortran and clang with flang
  var/spack/repos/builtin/packages/esmf/package.py
Labels: update-package

#47987 ginkgo: add v1.9.0
  var/spack/repos/builtin/packages/ginkgo/package.py
Labels: new-version, dependencies, update-package, new-variant

#47956 Circular import fix: extract tokens from parser
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/cmd/__init__.py
  lib/spack/spack/oci/image.py
  lib/spack/spack/oci/opener.py
  lib/spack/spack/parser.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/bindist.py
  lib/spack/spack/test/oci/image.py
  lib/spack/spack/test/oci/integration_test.py
  lib/spack/spack/test/spec_syntax.py
  lib/spack/spack/token.py
  lib/spack/spack/variant.py
Labels: tests, commands, binary-packages, core

#48059 Imports: move merge_yaml to spack.schema
  lib/spack/spack/ci/common.py
  lib/spack/spack/ci/gitlab.py
  lib/spack/spack/cmd/config.py
  lib/spack/spack/config.py
  lib/spack/spack/detection/common.py
  lib/spack/spack/modules/common.py
  lib/spack/spack/schema/__init__.py
  lib/spack/spack/schema/config.py
  lib/spack/spack/test/config.py
  lib/spack/spack/test/schema.py
Labels: modules, tests, commands, core

#48056 Environment: remove self import
  lib/spack/spack/environment/environment.py
Labels: environments, core

#48049 rivet: patch to fix missing headers
  var/spack/repos/builtin/packages/rivet/package.py
Labels: patch, update-package

#48062 Make use of `^` in 'depends_on' an error
  lib/spack/spack/audit.py
  lib/spack/spack/directives.py
  var/spack/repos/builtin/packages/amd-aocl/package.py
Labels: dependencies, directives, update-package, bugfix, core

#48063 spec.parser / spec.token: improvements
  lib/spack/docs/developer_guide.rst
  lib/spack/spack/cmd/__init__.py
  lib/spack/spack/oci/opener.py
  lib/spack/spack/schema/__init__.py
  lib/spack/spack/spec.py
  lib/spack/spack/spec_parser.py
  lib/spack/spack/test/cmd/install.py
  lib/spack/spack/test/cmd/spec.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/schema.py
  lib/spack/spack/test/spec_semantics.py
  lib/spack/spack/test/spec_syntax.py
  lib/spack/spack/token.py
  lib/spack/spack/tokenize.py
  lib/spack/spack/variant.py
Labels: documentation, tests, commands, core

#48038 filter_file: fix various bugs
  lib/spack/llnl/util/filesystem.py
Labels: utilities, core, v0.23.1

#47913 Bug fix for package cprnc@1.0.8: set install rpath for cprnc executable
  var/spack/repos/builtin/packages/cprnc/install_rpath_108.patch
  var/spack/repos/builtin/packages/cprnc/package.py
Labels: patch, update-package

#48068 ci: remove a custom implementation of stdlib functionality
  lib/spack/spack/ci/__init__.py
Labels: core

#48008 camp: restrict cub dependency to cuda versions older than 10 - as newer cuda versions already include cub
  var/spack/repos/builtin/packages/camp/package.py
Labels: dependencies, xSDK, update-package

#48042 Add openfast FPE trap variant
  var/spack/repos/builtin/packages/openfast/package.py
Labels: update-package, new-variant

#48072 Autotools archive files paths
  lib/spack/spack/build_systems/autotools.py
Labels: update-package, build-systems, new-variant, core

#48071 pcre2: add +pic variant
  var/spack/repos/builtin/packages/pcre2/package.py
Labels: update-package, new-variant

#48058 grads: Support newer hdf5 versions for grads
  var/spack/repos/builtin/packages/grads/package.py
Labels: dependencies, update-package

#48079 cmake: ~ownlibs ^libarchive compression+=bz2lib,lzma,zstd
  var/spack/repos/builtin/packages/cmake/package.py
Labels: dependencies, update-package

#47996 CI: Move the build stage to the project root instead of tmp
  share/spack/gitlab/cloud_pipelines/configs/config.yaml
Labels: gitlab, core

#48076 Remove extraneous newline from reproducer output
  lib/spack/spack/ci/__init__.py
Labels: core

#48066 package_base.py: remove deprecated props
  lib/spack/spack/package_base.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/cmd/uninstall.py
Labels: tests, commands, core

#48017 Updating APEX package
  var/spack/repos/builtin/packages/apex/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#48061 superlu: add v7.0, add metis as a dependency
  var/spack/repos/builtin/packages/superlu/package.py
Labels: new-version, dependencies, update-package, new-variant

#48105 Remove maintainer
  var/spack/repos/builtin/packages/ecbuild/package.py
  var/spack/repos/builtin/packages/eccodes/package.py
  var/spack/repos/builtin/packages/eckit/package.py
  var/spack/repos/builtin/packages/fdb/package.py
  var/spack/repos/builtin/packages/metkit/package.py
Labels: update-package

#47875 netcdf-cxx4: use https instead of ftp
  var/spack/repos/builtin/packages/netcdf-cxx4/package.py
Labels: new-version, update-package

#48057 Imports: move adding command line scopes to main
  lib/spack/spack/config.py
  lib/spack/spack/environment/__init__.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/main.py
  lib/spack/spack/test/config.py
  lib/spack/spack/test/main.py
Labels: tests, environments, core

#48097 VisIt: Patch to fix python module deps
  var/spack/repos/builtin/packages/visit/20127-remove-relink-visitmodule-py-setup.patch
  var/spack/repos/builtin/packages/visit/package.py
Labels: patch, update-package

#48107 py-matplotlib: add v3.9.3, v3.9.4
  var/spack/repos/builtin/packages/py-matplotlib/package.py
Labels: new-version, python, dependencies, update-package

#48098 add dla-future v0.7.0
  var/spack/repos/builtin/packages/dla-future/package.py
Labels: new-version, dependencies, patch, update-package, conflicts

#48099 ga: add a pylint check to avoid adding open calls without encoding=
  .github/workflows/valid-style.yml
  lib/spack/llnl/util/tty/color.py
  lib/spack/llnl/util/tty/log.py
  lib/spack/spack/test/llnl/util/filesystem.py
  lib/spack/spack/test/modules/conftest.py
  lib/spack/spack/util/executable.py
Labels: tests, utilities, workflow, core

#48113 tests: fix a few open(...) calls
  lib/spack/spack/test/main.py
Labels: tests, hotfix, core

#48101 suite-sparse: Add version 7.8.3.
  var/spack/repos/builtin/packages/suite-sparse/package.py
Labels: new-version, update-package

#47705 Add libcxi and its dependencies
  var/spack/repos/builtin/packages/cassini-headers/package.py
  var/spack/repos/builtin/packages/cxi-driver/package.py
  var/spack/repos/builtin/packages/libcxi/package.py
  var/spack/repos/builtin/packages/libfabric/package.py
Labels: new-version, new-package, dependencies, update-package, new-variant

#47920 New Package: Trame
  var/spack/repos/builtin/packages/py-trame-client/package.py
  var/spack/repos/builtin/packages/py-trame-server/package.py
  var/spack/repos/builtin/packages/py-trame/package.py
Labels: new-version, new-package, python, dependencies

#48114 Fix typo in ci/README.md
  lib/spack/spack/ci/README.md
Labels: core

#48106 sundials: fix missing comma in list
  var/spack/repos/builtin/packages/sundials/package.py
Labels: update-package

#48119 Spec: Remove `_normal` attribute and unused constructor arguments
  lib/spack/spack/spec.py
  lib/spack/spack/test/spec_dag.py
Labels: tests, core

#48087 py-packaging: update to 24.2
  var/spack/repos/builtin/packages/py-packaging/package.py
Labels: new-version, python, update-package

#48033 CP2K: use ninja generator and add constraint on dla-future-fortran
  var/spack/repos/builtin/packages/cp2k/package.py
Labels: dependencies, update-package

#48104 unit-test: port changes from compiler as deps
  lib/spack/spack/test/cmd/env.py
Labels: tests, commands, core

#48074 curl: disable docs to drop perl dep
  var/spack/repos/builtin/packages/curl/package.py
Labels: update-package

#47365 `config:shared_linking:missing_library_policy` to error/warn about accidental use of system libraries on linux/freebsd
  etc/spack/defaults/config.yaml
  lib/spack/spack/build_systems/oneapi.py
  lib/spack/spack/hooks/__init__.py
  lib/spack/spack/hooks/resolve_shared_libraries.py
  lib/spack/spack/package_base.py
  lib/spack/spack/schema/config.py
  share/spack/gitlab/cloud_pipelines/configs/config.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-cray-rhel/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-cray-sles/spack.yaml
  var/spack/repos/builtin/packages/aqlprofile/package.py
  var/spack/repos/builtin/packages/charliecloud/package.py
  var/spack/repos/builtin/packages/cuda/package.py
  var/spack/repos/builtin/packages/cudnn/package.py
  var/spack/repos/builtin/packages/intel-oneapi-runtime/package.py
  var/spack/repos/builtin/packages/julia/package.py
  var/spack/repos/builtin/packages/llvm/package.py
  var/spack/repos/builtin/packages/openfoam/package.py
  var/spack/repos/builtin/packages/openjdk/package.py
  var/spack/repos/builtin/packages/perl/package.py
  var/spack/repos/builtin/packages/py-pyzmq/package.py
  var/spack/repos/builtin/packages/py-torch-nvidia-apex/package.py
  var/spack/repos/builtin/packages/rust/package.py
  var/spack/repos/builtin/packages/tau/package.py
  var/spack/repos/builtin/packages/visit/package.py
Labels: new-version, python, dependencies, defaults, intel, patch, update-package, conflicts, build-systems, gitlab, new-variant, core, extends

#47994 acts: don't use system dfelibs for 35.1:36.0
  var/spack/repos/builtin/packages/acts/package.py
Labels: update-package

#48116 Mesa: Update the Meson requirements for newer versions
  var/spack/repos/builtin/packages/mesa/package.py
Labels: dependencies, update-package

#48078 qt5: patch internal RapidJSON
  var/spack/repos/builtin/packages/qt/package.py
Labels: patch, update-package

#48110 qgis: add 3.36 and 3.40, fix proj depend
  var/spack/repos/builtin/packages/qgis/package.py
Labels: new-version, dependencies, update-package

#48133 acts dependencies: new versions as of 2024/12/16
  var/spack/repos/builtin/packages/acts-algebra-plugins/package.py
  var/spack/repos/builtin/packages/detray/package.py
Labels: new-version, update-package

#48152 Temporarily pin Ubuntu to v22.04, where we use kcov
  .github/workflows/unit_tests.yaml
Labels: hotfix, workflow, core

#48139 resolve_shared_libraries.py: exclude libanl.so from glibc
  lib/spack/spack/hooks/resolve_shared_libraries.py
Labels: core

#48138 ci: pcluster missing_library_policy: ignore
  share/spack/gitlab/cloud_pipelines/stacks/aws-pcluster-neoverse_v1/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/aws-pcluster-x86_64_v4/spack.yaml
Labels: gitlab, core

#48136 mold: Add 2.35.1
  var/spack/repos/builtin/packages/mold/package.py
Labels: new-version, update-package

#48077 Ci set concretiztion pool size
  lib/spack/spack/cmd/ci.py
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/configs/ci.yaml
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
Labels: commands, shell-support, update-package, gitlab, new-variant, core

#48122 root: only depends_on fortran when +fortran
  var/spack/repos/builtin/packages/root/package.py
Labels: dependencies, update-package

#48160 Remove E4S Neoverse V1 stack
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-neoverse_v1/spack.yaml
Labels: gitlab, core

#48145 CI: reduce output from helper scripts
  share/spack/gitlab/cloud_pipelines/scripts/common/aggregate_package_logs.spack.py
Labels: update-package, gitlab, new-variant, core
