Repository spack/spack, pull requests merged in 2024-05, with the labels that each got.

#43823 Update PyTorch ecosystem
  var/spack/repos/builtin/packages/cpuinfo/package.py
  var/spack/repos/builtin/packages/gloo/package.py
  var/spack/repos/builtin/packages/py-protobuf/package.py
  var/spack/repos/builtin/packages/py-torch/package.py
  var/spack/repos/builtin/packages/py-torchaudio/package.py
  var/spack/repos/builtin/packages/py-torchtext/package.py
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: new-version, python, dependencies, update-package

#43880 ci: update upload-artifact to v4 (in build-containers)
  .github/workflows/build-containers.yml
Labels: workflow, core

#43881 containers: add ubuntu 24.04
  .github/workflows/build-containers.yml
  lib/spack/docs/containers.rst
  lib/spack/spack/container/images.json
  share/spack/templates/container/ubuntu_2404.dockerfile
Labels: documentation, docker, workflow, core

#43497 py-simpy: New package
  var/spack/repos/builtin/packages/py-setuptools-scm/package.py
  var/spack/repos/builtin/packages/py-simpy/package.py
Labels: new-version, new-package, python, dependencies, update-package

#41894 jwt-cpp: add v0.7.0
  var/spack/repos/builtin/packages/jwt-cpp/package.py
Labels: new-version, update-package

#43920 compadre: bumped up version of kokkos-kernels
  var/spack/repos/builtin/packages/compadre/package.py
Labels: dependencies, update-package

#43726 Enable MacOS, Sonoma (OS version 14.x) building of FMS and MAPL
  var/spack/repos/builtin/packages/fms/package.py
  var/spack/repos/builtin/packages/mapl/package.py
Labels: dependencies, update-package

#43906 ADIOS2: Campaign Variant
  var/spack/repos/builtin/packages/adios2/package.py
Labels: dependencies, update-package, ecp, new-variant

#43907 Adding EXTRAE 4.1.2
  var/spack/repos/builtin/packages/extrae/package.py
Labels: new-version, update-package

#43938 amrex: add v24.05
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package

#43899 Adding sha for 7.4 release of OSU Micro Benchmarks
  var/spack/repos/builtin/packages/osu-micro-benchmarks/package.py
Labels: new-version, update-package

#43928 Update `py-nvidia-dali` to v1.36.0
  var/spack/repos/builtin/packages/py-nvidia-dali/package.py
Labels: new-version, python, dependencies, update-package

#43666 abseil-cpp: new version 20240116.2
  var/spack/repos/builtin/packages/abseil-cpp/package.py
Labels: new-version, update-package

#42782 Allow more control over which specs are reused
  lib/spack/docs/build_settings.rst
  lib/spack/spack/schema/concretizer.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/concretize.py
Labels: documentation, tests, core

#43872 update sirius package.py
  var/spack/repos/builtin/packages/sirius/package.py
Labels: dependencies, update-package, conflicts, new-variant

#43857 Nalu: adding support for Trilinos 14.2.0 for Nalu 1.6.0
  var/spack/repos/builtin/packages/nalu/package.py
Labels: dependencies, update-package

#43952 gitlab ci: cache user cache
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/configs/ci.yaml
Labels: dependencies, update-package, gitlab, core

#43954 nghttp2: add diffutils
  var/spack/repos/builtin/packages/nghttp2/package.py
Labels: dependencies, update-package

#43959 add arm libc to compiler detection
  lib/spack/spack/util/libc.py
Labels: utilities, core

#43904 e4s ci: add py-amrex
  share/spack/gitlab/cloud_pipelines/stacks/e4s-neoverse-v2/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-neoverse_v1/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-oneapi/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-power/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: e4s, gitlab, core

#43944 libEnsemble: add v1.3.0
  var/spack/repos/builtin/packages/py-libensemble/package.py
Labels: new-version, python, update-package

#43958 rust: add conflict for older GCC
  var/spack/repos/builtin/packages/rust/package.py
Labels: update-package, conflicts

#43939 Update grib-util recipe
  var/spack/repos/builtin/packages/grib-util/package.py
Labels: new-version, dependencies, update-package

#43941 g2tmpl: add v1.12.0
  var/spack/repos/builtin/packages/g2tmpl/package.py
Labels: new-version, update-package

#43936 spectre: add versions, update constraints
  var/spack/repos/builtin/packages/spectre/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#43926 rdma-core: add versions 51.0, 50.0 and 49.1
  var/spack/repos/builtin/packages/rdma-core/package.py
Labels: new-version, update-package

#43829 variorum: add branch dev and version 0.8.0
  var/spack/repos/builtin/packages/variorum/package.py
Labels: new-version, update-package

#43929 py-fenics-ffcx: update to v0.8
  var/spack/repos/builtin/packages/fenics-ufcx/package.py
  var/spack/repos/builtin/packages/py-fenics-ffcx/package.py
Labels: new-version, python, dependencies, update-package

#43972 minimap2: adding version 2.28
  var/spack/repos/builtin/packages/minimap2/package.py
Labels: new-version, update-package

#43969 py-torch: conflict with newer cuda
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: python, dependencies, update-package

#43974 docs: re-enable google analytics
  lib/spack/docs/_templates/layout.html
Labels: documentation, core

#43968 Spec.satisfies: fix a bug with concrete spec from JSON
  lib/spack/spack/spec.py
  lib/spack/spack/test/concretize.py
  var/spack/repos/builtin.mock/packages/dtbuild1/package.py
  var/spack/repos/builtin.mock/packages/dtbuild2/package.py
Labels: dependencies, virtual-dependencies, tests, stand-alone-tests, core

#43962 py-torch: set TORCH_CUDA_ARCH_LIST globally for dependents
  var/spack/repos/builtin/packages/py-torch-cluster/package.py
  var/spack/repos/builtin/packages/py-torch-geometric/package.py
  var/spack/repos/builtin/packages/py-torch-nvidia-apex/package.py
  var/spack/repos/builtin/packages/py-torch-scatter/package.py
  var/spack/repos/builtin/packages/py-torch-sparse/package.py
  var/spack/repos/builtin/packages/py-torch-spline-conv/package.py
  var/spack/repos/builtin/packages/py-torch/package.py
  var/spack/repos/builtin/packages/py-torchaudio/package.py
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: python, update-package

#43822 Add rosco package
  var/spack/repos/builtin/packages/rosco/intel-oneapi-29.patch
  var/spack/repos/builtin/packages/rosco/intel-oneapi-2x.patch
  var/spack/repos/builtin/packages/rosco/package.py
Labels: new-version, new-package, patch, new-variant

#43981 Make runtimes depend on libc only on linux
  var/spack/repos/builtin/packages/gcc-runtime/package.py
  var/spack/repos/builtin/packages/intel-oneapi-runtime/package.py
Labels: dependencies, intel, update-package

#43852 py-tensorflow: fix aarch64 build
  var/spack/repos/builtin/packages/py-tensorflow/absl_neon.patch
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: python, patch, update-package

#43937 [TAU package] Update with +rocprofv2. Updated some tests.
  var/spack/repos/builtin/packages/tau/package.py
Labels: dependencies, update-package, conflicts, new-variant, stand-alone-tests

#43948 Update package.py for vacuumms 1.2.0
  var/spack/repos/builtin/packages/vacuumms/package.py
Labels: new-version, dependencies, update-package, new-variant

#43883 NWChem ARMCI-MPI variant and optional TCE builds
  var/spack/repos/builtin/packages/armcimpi/package.py
  var/spack/repos/builtin/packages/nwchem/package.py
Labels: new-version, dependencies, virtual-dependencies, update-package, new-variant

#43794 Add -fPIC to hdf-eos2 builds
  var/spack/repos/builtin/packages/hdf-eos2/package.py
Labels: update-package

#43988 concretizer args: --fresh-roots == --reuse-deps
  lib/spack/spack/cmd/common/arguments.py
  lib/spack/spack/test/cmd/common/arguments.py
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
Labels: tests, shell-support, core

#43970 r-asreml: adding new package
  var/spack/repos/builtin/packages/r-asreml/package.py
Labels: new-version, new-package, R, dependencies

#43994 openfast: updates to package
  var/spack/repos/builtin/packages/openfast/package.py
Labels: new-version, dependencies, patch, update-package, conflicts, new-variant

#43973 r: Add version 4.4.0
  var/spack/repos/builtin/packages/r/package.py
Labels: new-version, R, update-package

#43997 Add a default provider for `armci`
  etc/spack/defaults/packages.yaml
Labels: compilers, defaults, core

#43991 sowing: add @master
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/sowing/package.py
Labels: new-version, dependencies, update-package

#43985 preCICE: increase baseline versions
  var/spack/repos/builtin/packages/precice/package.py
Labels: dependencies, update-package

#43987 py-pylith: add py-pylith package to spack
  var/spack/repos/builtin/packages/py-pylith/package.py
Labels: new-version, new-package, python, dependencies

#43977 graphicsmagick: adding version 1.3.43
  var/spack/repos/builtin/packages/graphicsmagick/package.py
Labels: new-version, update-package

#43976 hpcg: adding clang compiler checks which behaves exactly like aocc
  var/spack/repos/builtin/packages/hpcg/package.py
Labels: patch, update-package

#43978 hpl: linking against fujitsu ssl2 if available
  var/spack/repos/builtin/packages/hpl/package.py
Labels: update-package

#43971 globalarrays: add missing dependencies for armci=ofi/openib
  var/spack/repos/builtin/packages/globalarrays/package.py
Labels: dependencies, update-package

#43964 Fix apple-clang build of hdf4
  var/spack/repos/builtin/packages/hdf/package.py
Labels: update-package

#43984 Modernize py-torch-geometric and dependencies
  var/spack/repos/builtin/packages/py-torch-cluster/package.py
  var/spack/repos/builtin/packages/py-torch-geometric/package.py
  var/spack/repos/builtin/packages/py-torch-scatter/package.py
  var/spack/repos/builtin/packages/py-torch-sparse/package.py
  var/spack/repos/builtin/packages/py-torch-spline-conv/package.py
Labels: new-version, python, dependencies, update-package

#43998 fix package permissions docs link for gaussian packages
  var/spack/repos/builtin/packages/gaussian-src/package.py
  var/spack/repos/builtin/packages/gaussian-view/package.py
Labels: update-package

#43960 Add py-flash-attn@2.4.2
  var/spack/repos/builtin/packages/py-flash-attn/package.py
Labels: new-version, python, dependencies, update-package

#43870 Add a gmake dependency for TAU
  var/spack/repos/builtin/packages/tau/package.py
Labels: dependencies, update-package

#44001 e4s-alc: add v1.0.2
  var/spack/repos/builtin/packages/e4s-alc/package.py
Labels: new-version, update-package, e4s

#43990 gitlab: release branch pipelines rebuild what changed
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
Labels: gitlab, core

#43996 fix iconv from libc
  var/spack/repos/builtin/packages/bash/package.py
  var/spack/repos/builtin/packages/doxygen/package.py
  var/spack/repos/builtin/packages/elfutils/package.py
  var/spack/repos/builtin/packages/gdal/package.py
  var/spack/repos/builtin/packages/gettext/package.py
  var/spack/repos/builtin/packages/git/package.py
  var/spack/repos/builtin/packages/glib/package.py
  var/spack/repos/builtin/packages/glibc/package.py
  var/spack/repos/builtin/packages/gnupg/package.py
  var/spack/repos/builtin/packages/groff/package.py
  var/spack/repos/builtin/packages/hdf-eos2/package.py
  var/spack/repos/builtin/packages/hdf/package.py
  var/spack/repos/builtin/packages/lftp/package.py
  var/spack/repos/builtin/packages/libarchive/package.py
  var/spack/repos/builtin/packages/mono/package.py
  var/spack/repos/builtin/packages/musl/package.py
  var/spack/repos/builtin/packages/ncl/package.py
  var/spack/repos/builtin/packages/netcdf-c/package.py
  var/spack/repos/builtin/packages/procps/package.py
  var/spack/repos/builtin/packages/tar/package.py
Labels: update-package, libraries, headers

#43807 pythia8: Add a gzip variant and filter some compiler wrapper paths
  var/spack/repos/builtin/packages/pythia8/package.py
Labels: dependencies, update-package, new-variant

#43975 tmux: add v3.4
  var/spack/repos/builtin/packages/tmux/package.py
Labels: new-version, dependencies, update-package

#43923 ccls: add new versions
  var/spack/repos/builtin/packages/ccls/package.py
Labels: new-version, update-package

#43736 mesa: add 23.3.6
  var/spack/repos/builtin/packages/mesa/package.py
Labels: new-version, update-package

#43903 lazygit: add v0.41.0
  var/spack/repos/builtin/packages/lazygit/package.py
Labels: new-version, update-package

#44014 gettext: v0.22.5
  var/spack/repos/builtin/packages/gettext/package.py
Labels: new-version, update-package

#44019 openssl: add v3.3.0
  var/spack/repos/builtin/packages/openssl/package.py
Labels: new-version, update-package

#44017 libidn2: add v2.3.7
  var/spack/repos/builtin/packages/libidn2/package.py
Labels: new-version, update-package

#44018 libunistring: add v1.2
  var/spack/repos/builtin/packages/libunistring/package.py
Labels: new-version, update-package

#44020 pcre2: add v10.43
  var/spack/repos/builtin/packages/pcre2/package.py
Labels: new-version, update-package

#44023 libgpg-error: add v1.49
  var/spack/repos/builtin/packages/libgpg-error/package.py
Labels: new-version, update-package

#44013 go: add v1.22.2
  var/spack/repos/builtin/packages/go/package.py
Labels: new-version, update-package

#44012 rust: add v1.78.0
  var/spack/repos/builtin/packages/rust-bootstrap/package.py
  var/spack/repos/builtin/packages/rust/package.py
Labels: new-version, update-package

#44024 `spack env create <env>`: dir if dir-like
  lib/spack/docs/environments.rst
  lib/spack/spack/cmd/env.py
  lib/spack/spack/test/cmd/env.py
Labels: documentation, tests, commands, core

#44005 Update vendored archspec to v0.2.4
  lib/spack/external/__init__.py
  lib/spack/external/archspec/__init__.py
  lib/spack/external/archspec/cpu/__init__.py
  lib/spack/external/archspec/cpu/detect.py
  lib/spack/external/archspec/cpu/microarchitecture.py
  lib/spack/external/archspec/json/cpu/microarchitectures.json
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/concretize.py
Labels: compilers, tests, vendored-dependencies, stand-alone-tests, core

#43464 External package detection for compilers
  lib/spack/docs/getting_started.rst
  lib/spack/spack/build_systems/compiler.py
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/package.py
  lib/spack/spack/test/cmd/compiler.py
  lib/spack/spack/test/conftest.py
  var/spack/repos/builtin/packages/acfl/detection_test.yaml
  var/spack/repos/builtin/packages/acfl/package.py
  var/spack/repos/builtin/packages/aocc/detection_test.yaml
  var/spack/repos/builtin/packages/aocc/package.py
  var/spack/repos/builtin/packages/apple-clang/detection_test.yaml
  var/spack/repos/builtin/packages/apple-clang/package.py
  var/spack/repos/builtin/packages/cce/detection_test.yaml
  var/spack/repos/builtin/packages/cce/package.py
  var/spack/repos/builtin/packages/fj/detection_test.yaml
  var/spack/repos/builtin/packages/fj/package.py
  var/spack/repos/builtin/packages/gcc/detection_test.yaml
  var/spack/repos/builtin/packages/gcc/package.py
  var/spack/repos/builtin/packages/intel-oneapi-compilers-classic/detection_test.yaml
  var/spack/repos/builtin/packages/intel-oneapi-compilers-classic/package.py
  var/spack/repos/builtin/packages/intel-oneapi-compilers/detection_test.yaml
  var/spack/repos/builtin/packages/intel-oneapi-compilers/package.py
  var/spack/repos/builtin/packages/intel/detection_test.yaml
  var/spack/repos/builtin/packages/llvm-amdgpu/detection_test.yaml
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/llvm/detection_test.yaml
  var/spack/repos/builtin/packages/llvm/package.py
  var/spack/repos/builtin/packages/msvc/detection_test.yaml
  var/spack/repos/builtin/packages/msvc/package.py
  var/spack/repos/builtin/packages/nag/detection_test.yaml
  var/spack/repos/builtin/packages/nag/package.py
  var/spack/repos/builtin/packages/nvhpc/detection_test.yaml
  var/spack/repos/builtin/packages/nvhpc/package.py
  var/spack/repos/builtin/packages/pgi/detection_test.yaml
  var/spack/repos/builtin/packages/pgi/package.py
  var/spack/repos/builtin/packages/xl/detection_test.yaml
  var/spack/repos/builtin/packages/xl/package.py
  var/spack/repos/builtin/packages/xlc/detection_test.yaml
  var/spack/repos/builtin/packages/xlc/package.py
  var/spack/repos/builtin/packages/xlf/detection_test.yaml
  var/spack/repos/builtin/packages/xlf/package.py
Labels: compilers, new-version, new-package, documentation, tests, commands, intel, environments, update-package, build-systems, workflow, new-variant, core

#44028 clingo bootstrap: remove 3.12 patch and concretizer workarounds
  lib/spack/spack/bootstrap/core.py
  var/spack/repos/builtin/packages/clingo-bootstrap/package.py
  var/spack/repos/builtin/packages/clingo/package.py
  var/spack/repos/builtin/packages/clingo/setuptools-2.patch
Labels: update-package, core

#44006 Remove Fedora 37 and 38, Ubuntu 18 from CI in v0.22
  .github/workflows/build-containers.yml
  lib/spack/docs/containers.rst
  lib/spack/spack/container/images.json
  lib/spack/spack/test/container/cli.py
  lib/spack/spack/test/container/conftest.py
  lib/spack/spack/test/container/docker.py
  lib/spack/spack/test/container/images.py
Labels: documentation, tests, workflow, core

#44029 gitlab: dont cache indices
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
Labels: gitlab, core

#43780 Proj/patch for modern cmake
  var/spack/repos/builtin/packages/proj/package.py
  var/spack/repos/builtin/packages/proj/proj-8.1-cmake-3.29-new-tiff-interface.patch
Labels: patch, update-package, conflicts

#40773 python: always use a venv
  lib/spack/docs/basic_usage.rst
  lib/spack/docs/build_systems/pythonpackage.rst
  lib/spack/spack/bootstrap/_common.py
  lib/spack/spack/bootstrap/environment.py
  lib/spack/spack/build_systems/cmake.py
  lib/spack/spack/build_systems/python.py
  lib/spack/spack/directives.py
  lib/spack/spack/hooks/windows_runtime_linkage.py
  lib/spack/spack/installer.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/cmd/extensions.py
  lib/spack/spack/util/executable.py
  var/spack/repos/builtin.mock/packages/python-venv/package.py
  var/spack/repos/builtin/packages/ascent/package.py
  var/spack/repos/builtin/packages/bohrium/package.py
  var/spack/repos/builtin/packages/cantera/package.py
  var/spack/repos/builtin/packages/clingo-bootstrap/package.py
  var/spack/repos/builtin/packages/clingo/package.py
  var/spack/repos/builtin/packages/conduit/package.py
  var/spack/repos/builtin/packages/dsqss/package.py
  var/spack/repos/builtin/packages/fenics/package.py
  var/spack/repos/builtin/packages/gurobi/package.py
  var/spack/repos/builtin/packages/lbann/package.py
  var/spack/repos/builtin/packages/libcap-ng/package.py
  var/spack/repos/builtin/packages/mapserver/package.py
  var/spack/repos/builtin/packages/omnitrace/package.py
  var/spack/repos/builtin/packages/open3d/package.py
  var/spack/repos/builtin/packages/opencv/package.py
  var/spack/repos/builtin/packages/openwsman/package.py
  var/spack/repos/builtin/packages/precice/package.py
  var/spack/repos/builtin/packages/py-alphafold/package.py
  var/spack/repos/builtin/packages/py-chainer/package.py
  var/spack/repos/builtin/packages/py-eccodes/package.py
  var/spack/repos/builtin/packages/py-gmxapi/package.py
  var/spack/repos/builtin/packages/py-gpaw/package.py
  var/spack/repos/builtin/packages/py-installer/package.py
  var/spack/repos/builtin/packages/py-ipykernel/package.py
  var/spack/repos/builtin/packages/py-libensemble/package.py
  var/spack/repos/builtin/packages/py-nanobind/package.py
  var/spack/repos/builtin/packages/py-pip/package.py
  var/spack/repos/builtin/packages/py-pybind11/package.py
  var/spack/repos/builtin/packages/py-pymol/package.py
  var/spack/repos/builtin/packages/py-pyqt4/package.py
  var/spack/repos/builtin/packages/py-pyspark/package.py
  var/spack/repos/builtin/packages/py-pythonsollya/package.py
  var/spack/repos/builtin/packages/py-tensorflow/package.py
  var/spack/repos/builtin/packages/py-torch/package.py
  var/spack/repos/builtin/packages/py-xdot/package.py
  var/spack/repos/builtin/packages/python-venv/package.py
  var/spack/repos/builtin/packages/python/package.py
  var/spack/repos/builtin/packages/qgis/package.py
  var/spack/repos/builtin/packages/qscintilla/package.py
  var/spack/repos/builtin/packages/redland-bindings/package.py
  var/spack/repos/builtin/packages/z3/package.py
  var/spack/repos/duplicates.test/packages/python-venv
Labels: new-version, new-package, python, documentation, dependencies, tests, commands, directives, patch, update-package, conflicts, libraries, headers, utilities, build-systems, new-variant, core, extends

#44027 py-torchmetrics: add v1.4.0
  var/spack/repos/builtin/packages/py-pretty-errors/package.py
  var/spack/repos/builtin/packages/py-torchmetrics/package.py
Labels: new-version, new-package, python, dependencies, update-package

#44000 Add LSP client extension for Kakoune
  var/spack/repos/builtin/packages/kakoune-lsp/package.py
Labels: new-version, new-package

#44002 (py)-fenics-dolfinx: version update
  var/spack/repos/builtin/packages/fenics-dolfinx/package.py
  var/spack/repos/builtin/packages/py-fenics-dolfinx/package.py
Labels: new-version, python, dependencies, update-package

#43993 amr-wind: updates and fixes
  var/spack/repos/builtin/packages/amr-wind/package.py
Labels: new-version, dependencies, update-package, new-variant

#44032 neic-finitefault: adding new package and dependencies
  var/spack/repos/builtin/packages/neic-finitefault/fortran-filename-length.patch
  var/spack/repos/builtin/packages/neic-finitefault/package.py
  var/spack/repos/builtin/packages/py-obspy/package.py
  var/spack/repos/builtin/packages/py-okada-wrapper/package.py
  var/spack/repos/builtin/packages/py-pygmt/package.py
  var/spack/repos/builtin/packages/py-pyrocko/package.py
Labels: question, new-version, new-package, python, dependencies, resources, patch

#44031 Maintenance for the "bootstrap" workflow in CI
  .github/workflows/bootstrap-test.sh
  .github/workflows/bootstrap.yml
Labels: workflow, core

#44037 Fix issues in packages with the new release of archspec
  var/spack/repos/builtin/packages/arbor/package.py
  var/spack/repos/builtin/packages/gcc/package.py
  var/spack/repos/builtin/packages/hpcc/package.py
  var/spack/repos/builtin/packages/lammps/package.py
  var/spack/repos/builtin/packages/namd/package.py
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: python, broken-develop, update-package

#44048 Python-venv: use correct python name for which call on Windows
  var/spack/repos/builtin/packages/python-venv/package.py
Labels: update-package

#44036 llnl.util.tty.color._force_color: init in global scope
  lib/spack/llnl/util/tty/color.py
  lib/spack/spack/main.py
Labels: utilities, core

#43980 Warn users of the future removal of platform=cray
  lib/spack/spack/solver/asp.py
Labels: core

#44034 mold: Add 2.30.0 and 2.31.0
  var/spack/repos/builtin/packages/mold/package.py
Labels: new-version, update-package

#44051 Remove spurious ASP debug lines
  lib/spack/spack/solver/asp.py
Labels: core

#44056 Update the tutorial command to point to releases/v0.22
  lib/spack/spack/cmd/tutorial.py
Labels: commands, core

#33768 Include concrete environments with `include_concrete`
  lib/spack/docs/environments.rst
  lib/spack/spack/cmd/env.py
  lib/spack/spack/cmd/find.py
  lib/spack/spack/environment/__init__.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/schema/env.py
  lib/spack/spack/test/cmd/env.py
  lib/spack/spack/test/cmd/find.py
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
Labels: new-version, new-package, python, documentation, dependencies, modules, virtual-dependencies, tests, commands, shell-support, environments, patch, update-package, libraries, headers, build-systems, gitlab, new-variant, stand-alone-tests, core

#44060 gitlab: dont build paraview for neoverse v2
  share/spack/gitlab/cloud_pipelines/stacks/e4s-neoverse-v2/spack.yaml
Labels: gitlab, core

#43786 fix(adios2): fix missing stdind include in 2.7
  var/spack/repos/builtin/packages/adios2/2.7-fix-missing-cstdint-include.patch
  var/spack/repos/builtin/packages/adios2/package.py
Labels: patch, update-package

#44033 Dyninst: update compiler requirements
  var/spack/repos/builtin/packages/dyninst/package.py
Labels: update-package

#44055 gaudi: add v38.1
  var/spack/repos/builtin/packages/gaudi/package.py
Labels: new-version, update-package

#43982 Add transformer engine package
  var/spack/repos/builtin/packages/py-transformer-engine/package.py
Labels: new-version, new-package, python, dependencies, update-package, new-variant

#44035 orca: recipe rework
  var/spack/repos/builtin/packages/orca/package.py
Labels: new-version, update-package

#44065 Remove dead environment creation code
  lib/spack/spack/environment/environment.py
Labels: environments, core

#44064 Bump removal version in deprecation messages
  lib/spack/spack/audit.py
  lib/spack/spack/package_base.py
  lib/spack/spack/schema/packages.py
Labels: core

#44050 r: patch R-CVE-2024-27322 for `r@3.5:4.3.3`
  var/spack/repos/builtin/packages/r/package.py
Labels: new-version, R, patch, update-package

#44047 mold: Replace maintainer
  var/spack/repos/builtin/packages/mold/package.py
Labels: update-package

#44053 gcc: add v14.1.0
  var/spack/repos/builtin/packages/gcc/package.py
Labels: new-version, update-package

#40211 cernlib: add 2023.08.14.0-free
  var/spack/repos/builtin/packages/cernlib/package.py
Labels: new-version, dependencies, update-package

#44073 gitlab ci: tutorial: add `julia` and `vim`
  share/spack/gitlab/cloud_pipelines/configs/linux/ci.yaml
  share/spack/gitlab/cloud_pipelines/stacks/tutorial/spack.yaml
Labels: gitlab, core

#43989 darshan-runtime,darshan-util,py-darshan: add darshan-3.4.5 packages
  var/spack/repos/builtin/packages/darshan-runtime/package.py
  var/spack/repos/builtin/packages/darshan-util/package.py
  var/spack/repos/builtin/packages/py-darshan/package.py
Labels: new-version, python, dependencies, update-package

#43843 Bump up the version for ROCm-6.1.0
  var/spack/repos/builtin/packages/amdsmi/package.py
  var/spack/repos/builtin/packages/aqlprofile/package.py
  var/spack/repos/builtin/packages/comgr/package.py
  var/spack/repos/builtin/packages/composable-kernel/package.py
  var/spack/repos/builtin/packages/grpc/package.py
  var/spack/repos/builtin/packages/hip-tensor/package.py
  var/spack/repos/builtin/packages/hip/0014-remove-compiler-rt-linkage-for-host.6.1.patch
  var/spack/repos/builtin/packages/hip/package.py
  var/spack/repos/builtin/packages/hipblas/package.py
  var/spack/repos/builtin/packages/hipcc/0014-remove-compiler-rt-linkage-for-host.6.1.patch
  var/spack/repos/builtin/packages/hipcc/package.py
  var/spack/repos/builtin/packages/hipcub/package.py
  var/spack/repos/builtin/packages/hipfft/package.py
  var/spack/repos/builtin/packages/hipfort/package.py
  var/spack/repos/builtin/packages/hipify-clang/0003-install-hipify-clang-in-bin-dir-and-llvm-clangs-head.patch
  var/spack/repos/builtin/packages/hipify-clang/package.py
  var/spack/repos/builtin/packages/hiprand/package.py
  var/spack/repos/builtin/packages/hipsolver/001-suite-sparse-include-path.patch
  var/spack/repos/builtin/packages/hipsolver/package.py
  var/spack/repos/builtin/packages/hipsparse/package.py
  var/spack/repos/builtin/packages/hsa-rocr-dev/package.py
  var/spack/repos/builtin/packages/hsakmt-roct/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/migraphx/package.py
  var/spack/repos/builtin/packages/miopen-hip/0002-add-include-dir-miopen-hip-6.1.0.patch
  var/spack/repos/builtin/packages/miopen-hip/package.py
  var/spack/repos/builtin/packages/mivisionx/package.py
  var/spack/repos/builtin/packages/rccl/package.py
  var/spack/repos/builtin/packages/rdc/package.py
  var/spack/repos/builtin/packages/rocalution/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
  var/spack/repos/builtin/packages/rocm-bandwidth-test/package.py
  var/spack/repos/builtin/packages/rocm-clang-ocl/package.py
  var/spack/repos/builtin/packages/rocm-cmake/package.py
  var/spack/repos/builtin/packages/rocm-core/package.py
  var/spack/repos/builtin/packages/rocm-dbgapi/package.py
  var/spack/repos/builtin/packages/rocm-debug-agent/package.py
  var/spack/repos/builtin/packages/rocm-device-libs/package.py
  var/spack/repos/builtin/packages/rocm-gdb/package.py
  var/spack/repos/builtin/packages/rocm-openmp-extras/0001-Linking-hsakmt-libdrm-and-numactl-libraries-6.1.patch
  var/spack/repos/builtin/packages/rocm-openmp-extras/package.py
  var/spack/repos/builtin/packages/rocm-smi-lib/package.py
  var/spack/repos/builtin/packages/rocm-tensile/package.py
  var/spack/repos/builtin/packages/rocm-validation-suite/009-replacing-rocm-path-with-package-path-6.1.patch
  var/spack/repos/builtin/packages/rocm-validation-suite/package.py
  var/spack/repos/builtin/packages/rocminfo/package.py
  var/spack/repos/builtin/packages/rocmlir/package.py
  var/spack/repos/builtin/packages/rocprim/package.py
  var/spack/repos/builtin/packages/rocprofiler-dev/package.py
  var/spack/repos/builtin/packages/rocrand/package.py
  var/spack/repos/builtin/packages/rocsolver/package.py
  var/spack/repos/builtin/packages/rocsparse/package.py
  var/spack/repos/builtin/packages/rocthrust/package.py
  var/spack/repos/builtin/packages/roctracer-dev-api/package.py
  var/spack/repos/builtin/packages/roctracer-dev/package.py
  var/spack/repos/builtin/packages/rocwmma/package.py
  var/spack/repos/builtin/packages/rpp/package.py
Labels: new-version, dependencies, resources, patch, update-package

#44038 hypre: add cublas and rocblas variants
  var/spack/repos/builtin/packages/hypre/package.py
Labels: dependencies, update-package, conflicts, new-variant

#44074 py-jsonargparse: add v4.28.0
  var/spack/repos/builtin/packages/py-jsonargparse/package.py
Labels: new-version, python, update-package

#44075 compadre: add tests flag
  var/spack/repos/builtin/packages/compadre/package.py
Labels: update-package, new-variant

#44071 JAX: add v0.4.27, NCCL variant
  var/spack/repos/builtin/packages/py-jax/package.py
  var/spack/repos/builtin/packages/py-jaxlib/package.py
Labels: new-version, python, dependencies, update-package, new-variant

#44081 gcc: use -idirafter for libc headers
  var/spack/repos/builtin/packages/gcc/package.py
Labels: update-package

#43821 mpich: Add license
  var/spack/repos/builtin/packages/mpich/package.py
Labels: update-package

#44011 Orca (standalone) 5.0.4
  var/spack/repos/builtin/packages/orca/package.py
Labels: new-version, update-package

#44078 amr-wind: add missing variants
  var/spack/repos/builtin/packages/amr-wind/package.py
Labels: dependencies, update-package, conflicts, new-variant

#44083 Octopus 14.1 : Add new version hash
  var/spack/repos/builtin/packages/octopus/package.py
Labels: new-version, update-package

#44086 Kokkos: adding new release 4.3.01
  var/spack/repos/builtin/packages/kokkos-kernels/package.py
  var/spack/repos/builtin/packages/kokkos/package.py
Labels: new-version, dependencies, update-package

#44090 package: libsodium update URL to GitHub
  var/spack/repos/builtin/packages/libsodium/package.py
Labels: new-version, update-package

#44094 Update macOS runner for unit-tests
  .github/workflows/unit_tests.yaml
Labels: workflow, core

#44058 Universal Ctags: Add version 6.1.20240505.0
  var/spack/repos/builtin/packages/universal-ctags/package.py
Labels: new-version, update-package

#43749 mmg: Actually build & install shared libraries
  var/spack/repos/builtin/packages/mmg/package.py
Labels: new-version, update-package

#44089 kokkos-nvcc-wrapper: add missing versions
  var/spack/repos/builtin/packages/kokkos-nvcc-wrapper/package.py
Labels: new-version, update-package

#44077 pythia8: add a cxxstd variant
  var/spack/repos/builtin/packages/pythia8/package.py
Labels: question, update-package, new-variant

#44093 Fix filtering external specs
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/test/concretize.py
  var/spack/repos/builtin.mock/packages/deprecated-client/package.py
Labels: new-version, dependencies, tests, stand-alone-tests, core

#43995 miniforge3: add new versions with mamba installation
  var/spack/repos/builtin/packages/miniforge3/package.py
Labels: new-version, update-package, conflicts, new-variant

#44068 flux-sched: set the version if the ver file is missing
  var/spack/repos/builtin/packages/flux-sched/package.py
Labels: update-package

#44109 PythonExtension: fix issue where package does not extend python
  lib/spack/spack/build_systems/python.py
Labels: build-systems, core

#44059 libhugetlbfs: add native_only variant
  var/spack/repos/builtin/packages/libhugetlbfs/package.py
Labels: new-version, dependencies, update-package, new-variant

#44114 pika: Add 0.25.0
  var/spack/repos/builtin/packages/pika/package.py
Labels: new-version, dependencies, update-package

#44115 dla-future: Add 0.4.1
  var/spack/repos/builtin/packages/dla-future/package.py
Labels: new-version, update-package

#44063 libtheora: Remove unneeded autoreconf section
  var/spack/repos/builtin/packages/libtheora/package.py
Labels: update-package

#44113 edm4hep: cleanup recipe, remove deprecated versions and patches
  var/spack/repos/builtin/packages/edm4hep/package.py
  var/spack/repos/builtin/packages/edm4hep/test-deps.patch
Labels: dependencies, update-package

#44110 dd4hep: cleanup recipe, remove deprecated versions and patches
  var/spack/repos/builtin/packages/dd4hep/package.py
  var/spack/repos/builtin/packages/dd4hep/tbb-workarounds.patch
  var/spack/repos/builtin/packages/dd4hep/tbb2.patch
Labels: update-package

#43965 Windows: Non config changes to support Gitlab CI
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/build_systems/nmake.py
  lib/spack/spack/ci.py
  lib/spack/spack/cmd/ci.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/test/cmd/ci.py
  lib/spack/spack/util/gpg.py
  lib/spack/spack/util/url.py
  var/spack/repos/builtin/packages/libxml2/package.py
Labels: fetching, tests, commands, environments, update-package, utilities, build-systems, core

#43851 Buildcache/ensure symlinks proper prefix
  lib/spack/llnl/path.py
  lib/spack/llnl/util/filesystem.py
  lib/spack/llnl/util/symlink.py
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/installer.py
  lib/spack/spack/relocate.py
  lib/spack/spack/util/archive.py
Labels: binary-packages, utilities, core

#44079 py-nuitka: new package
  var/spack/repos/builtin/packages/py-nuitka/package.py
Labels: new-version, new-package, python, dependencies

#44066 qpdf: new package
  var/spack/repos/builtin/packages/qpdf/package.py
Labels: new-version, new-package, dependencies, new-variant

#44132 oci: improve default_retry
  lib/spack/spack/oci/opener.py
Labels: core

#44136 changelog: add changes form 0.21.1 and 0.21.2
  CHANGELOG.md
Labels: core

#44137 Bump version on `develop` to v0.23dev0
  lib/spack/spack/__init__.py
Labels: core

#43438 clang: support cxx20_flag and cxx23_flag
  lib/spack/spack/compilers/clang.py
  lib/spack/spack/test/compilers/basics.py
Labels: compilers, tests, core

#44072 fastjet: Add a cxxstd variant
  var/spack/repos/builtin/packages/fastjet/package.py
Labels: update-package, new-variant

#42636 octave: use pcre2 for @8:
  var/spack/repos/builtin/packages/octave/package.py
Labels: dependencies, update-package, new-variant

#43045 whizard: Add version 3.1.4
  var/spack/repos/builtin/packages/whizard/package.py
Labels: new-version, dependencies, patch, update-package

#43901 Add applications to aws-pcluster-* stacks
  share/spack/gitlab/cloud_pipelines/scripts/pcluster/setup-pcluster.sh
  share/spack/gitlab/cloud_pipelines/stacks/aws-pcluster-neoverse_v1/packages.yaml
  share/spack/gitlab/cloud_pipelines/stacks/aws-pcluster-neoverse_v1/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/aws-pcluster-x86_64_v4/packages.yaml
  share/spack/gitlab/cloud_pipelines/stacks/aws-pcluster-x86_64_v4/spack.yaml
Labels: shell-support, gitlab, core

#44088 R: common package updates for 4.4.0
  var/spack/repos/builtin/packages/r-ggplot2/package.py
  var/spack/repos/builtin/packages/r-haven/package.py
  var/spack/repos/builtin/packages/r-jsonlite/package.py
  var/spack/repos/builtin/packages/r-pkgload/package.py
  var/spack/repos/builtin/packages/r-scales/package.py
  var/spack/repos/builtin/packages/r-vctrs/package.py
Labels: new-version, R, dependencies, update-package

#44123 llvm: add v18.1.5, v18.1.4
  var/spack/repos/builtin/packages/llvm/package.py
Labels: new-version, update-package
