Repository spack/spack, pull requests merged in 2024-04, with the labels that each got.

#42953 Add handling of custom ssl certs in urllib ops
  etc/spack/defaults/config.yaml
  lib/spack/docs/config_yaml.rst
  lib/spack/spack/reporters/cdash.py
  lib/spack/spack/schema/config.py
  lib/spack/spack/test/data/config/config.yaml
  lib/spack/spack/test/web.py
  lib/spack/spack/util/web.py
Labels: documentation, fetching, defaults, tests, utilities, core

#42737 geopm-runtime: New package
  var/spack/repos/builtin/packages/geopm-runtime/package.py
  var/spack/repos/builtin/packages/geopm-service/package.py
  var/spack/repos/builtin/packages/gobject-introspection/package.py
  var/spack/repos/builtin/packages/py-geopmdpy/package.py
  var/spack/repos/builtin/packages/py-natsort/package.py
  var/spack/repos/builtin/packages/systemd/package.py
  var/spack/repos/builtin/packages/util-linux/package.py
Labels: new-version, new-package, python, dependencies, update-package, conflicts, new-variant, extends

#43439 gdb: add a dependency on pkgconfig
  var/spack/repos/builtin/packages/gdb/package.py
Labels: dependencies, update-package

#43440 py-scikit-image: add v0.21 and v0.22
  var/spack/repos/builtin/packages/py-scikit-image/package.py
Labels: new-version, python, dependencies, update-package

#43441 py-pillow: add v10+
  var/spack/repos/builtin/packages/py-pillow-simd/package.py
  var/spack/repos/builtin/packages/py-pillow/package.py
Labels: new-version, python, dependencies, update-package

#41375 RADIUSS packages update (Starting over #39613)
  lib/spack/spack/build_systems/cached_cmake.py
  share/spack/gitlab/cloud_pipelines/stacks/data-vis-sdk/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-cray-rhel/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-cray-sles/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-neoverse-v2/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-neoverse_v1/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-oneapi/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-power/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-rocm-external/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/radiuss/spack.yaml
  var/spack/repos/builtin/packages/ascent/package.py
  var/spack/repos/builtin/packages/axom/package.py
  var/spack/repos/builtin/packages/blt/package.py
  var/spack/repos/builtin/packages/caliper/package.py
  var/spack/repos/builtin/packages/camp/package.py
  var/spack/repos/builtin/packages/care/package.py
  var/spack/repos/builtin/packages/chai/change_mpi_target_name_umpire_patch.patch
  var/spack/repos/builtin/packages/chai/package.py
  var/spack/repos/builtin/packages/dray/package.py
  var/spack/repos/builtin/packages/exago/package.py
  var/spack/repos/builtin/packages/fmt/fmt-no-variable-initialize_10.0.0.patch
  var/spack/repos/builtin/packages/fmt/package.py
  var/spack/repos/builtin/packages/raja/package.py
  var/spack/repos/builtin/packages/umpire/dual_blt_import_umpire_2022.10_2023.06.patch
  var/spack/repos/builtin/packages/umpire/export_includes.patch
  var/spack/repos/builtin/packages/umpire/package.py
Labels: new-version, dependencies, patch, update-package, conflicts, build-systems, gitlab, new-variant, core

#43465 Add: flux-core 0.61.0
  var/spack/repos/builtin/packages/flux-core/package.py
Labels: new-version, update-package

#43426 New Package: Parthenon
  var/spack/repos/builtin/packages/parthenon/package.py
Labels: new-version, new-package, dependencies, new-variant

#43417 magma add version 2.8.0
  var/spack/repos/builtin/packages/magma/package.py
Labels: new-version, dependencies, update-package

#43460 byfl: fix llvm dep
  var/spack/repos/builtin/packages/byfl/package.py
Labels: dependencies, update-package

#43455 simmetrix-simmodsuite: support RHEL8, fix module paths
  var/spack/repos/builtin/packages/simmetrix-simmodsuite/package.py
Labels: dependencies, update-package

#43450 EOSPAC: expose versions 6.5.8 and 6.5.9
  var/spack/repos/builtin/packages/eospac/package.py
Labels: new-version, update-package

#43452 slate: Removing scalapack as test dependency, adding python
  var/spack/repos/builtin/packages/slate/package.py
Labels: dependencies, update-package

#43474 Convert curl env mod method to a side effect
  lib/spack/spack/util/web.py
Labels: fetching, utilities, core

#43447 whizard: Make it possible to build from sources checked out from VC
  var/spack/repos/builtin/packages/whizard/package.py
Labels: update-package

#43472 root: new version 6.30.06
  var/spack/repos/builtin/packages/root/package.py
Labels: new-version, update-package

#43476 ginkgo@1.7 +sycl %oneapi 2024.1: icpx 2024.1 no longer accepts sycl::ext::intel::ctz
  var/spack/repos/builtin/packages/ginkgo/ginkgo-dpcpp-intrinsincs-oneapi-2024.1.patch
  var/spack/repos/builtin/packages/ginkgo/package.py
Labels: patch, update-package, e4s, sycl

#43056 py-torch: Add variant 'internal-protobuf' to build with the internal protobuf
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: python, dependencies, update-package, new-variant

#43473 py-cig-pythia: add missing py-setuptools dependency
  var/spack/repos/builtin/packages/py-cig-pythia/package.py
Labels: python, dependencies, update-package

#43477 py-rarfile: add v4.2
  var/spack/repos/builtin/packages/py-rarfile/package.py
Labels: new-version, python, update-package

#43418 remove dpcpp compiler and package
  lib/spack/env/cc
  lib/spack/spack/build_systems/autotools.py
  lib/spack/spack/compilers/dpcpp.py
  var/spack/repos/builtin/packages/amrex/package.py
  var/spack/repos/builtin/packages/double-batched-fft-library/package.py
  var/spack/repos/builtin/packages/dpcpp/package.py
  var/spack/repos/builtin/packages/ginkgo/1.4.0_dpcpp_use_old_standard.patch
  var/spack/repos/builtin/packages/ginkgo/package.py
  var/spack/repos/builtin/packages/hypre/package.py
  var/spack/repos/builtin/packages/intel-oneapi-compilers/package.py
  var/spack/repos/builtin/packages/kokkos/package.py
  var/spack/repos/builtin/packages/onednn/package.py
Labels: compilers, intel, update-package, build-systems, core

#43200 py-zfit: add v0.18.*
  var/spack/repos/builtin/packages/py-zfit/package.py
Labels: new-version, python, dependencies, update-package

#43203 Bootstrap pip on windows
  var/spack/repos/builtin/packages/py-pip/package.py
Labels: python, resources, update-package

#43483 Update g2tmpl recipe
  var/spack/repos/builtin/packages/g2tmpl/package.py
Labels: new-version, update-package, new-variant

#43482 Add g2c@1.9.0
  var/spack/repos/builtin/packages/g2c/package.py
Labels: new-version, update-package

#43480 Trilinos: add threadsafe variant
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: update-package, new-variant

#43131 Msvc: Determine OneAPI_ROOT from fortran compiler path
  lib/spack/spack/compilers/msvc.py
Labels: compilers, core

#43479 adios2: add v2.10.0-rc1 release
  var/spack/repos/builtin/packages/adios2/package.py
Labels: new-version, patch, update-package

#43481 Add g2@3.4.9
  var/spack/repos/builtin/packages/g2/package.py
Labels: new-version, update-package

#40793 Update exawind packages
  var/spack/repos/builtin/packages/amr-wind/package.py
  var/spack/repos/builtin/packages/exawind/package.py
  var/spack/repos/builtin/packages/hypre/package.py
  var/spack/repos/builtin/packages/nalu-wind/package.py
  var/spack/repos/builtin/packages/openfast/hub_seg_fault.patch
  var/spack/repos/builtin/packages/openfast/package.py
  var/spack/repos/builtin/packages/tioga/package.py
Labels: new-version, dependencies, patch, update-package, conflicts, maintainers, new-variant

#43484 Update grib-util recipe
  var/spack/repos/builtin/packages/grib-util/package.py
Labels: dependencies, update-package, new-variant

#43443 amrex: add v24.04
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package, waiting for package maintainer

#43485 installer.py: compute package_id from spec
  lib/spack/spack/installer.py
  lib/spack/spack/test/installer.py
Labels: tests, core

#43490 Added Libfort library
  var/spack/repos/builtin/packages/libfort/package.py
Labels: new-version, new-package, dependencies, new-variant

#43493 GDAL: add v3.8.5
  var/spack/repos/builtin/packages/gdal/package.py
Labels: new-version, update-package

#43496 datatransferkit: needs trilinos@14.2: for @3.1.0:
  var/spack/repos/builtin/packages/datatransferkit/package.py
Labels: dependencies, update-package, e4s

#43505 remove redundant write lock post env install w/o view
  lib/spack/spack/cmd/install.py
Labels: commands, core

#43504 bazel: conflict with gcc 13
  var/spack/repos/builtin/packages/bazel/package.py
Labels: update-package, conflicts

#43507 intel-oneapi-2024.1.0: add itac and inspector packages
  var/spack/repos/builtin/packages/intel-oneapi-inspector/package.py
  var/spack/repos/builtin/packages/intel-oneapi-itac/package.py
Labels: new-version, intel, update-package

#43272 Improve hit-rate on buildcaches
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/target.py
  lib/spack/spack/test/cmd/compiler.py
  lib/spack/spack/test/cmd/spec.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/concretize_compiler_runtimes.py
  lib/spack/spack/test/concretize_preferences.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/data/config/compilers.yaml
  lib/spack/spack/test/data/config/packages.yaml
  lib/spack/spack/test/data/modules/lmod/complex_hierarchy.yaml
  lib/spack/spack/test/data/modules/lmod/core_compilers.yaml
  lib/spack/spack/test/data/modules/lmod/core_compilers_at_equal.yaml
  lib/spack/spack/test/modules/lmod.py
Labels: tests, commands, core

#43295 py-amq, py-celery, py-kombu: New versions, fix build
  var/spack/repos/builtin/packages/py-amqp/package.py
  var/spack/repos/builtin/packages/py-billiard/package.py
  var/spack/repos/builtin/packages/py-celery/package.py
  var/spack/repos/builtin/packages/py-kombu/package.py
Labels: new-version, python, dependencies, update-package, needs-minor-cleanup

#43514 Use correct method "append" instead of extend
  lib/spack/spack/ci.py
Labels: core

#42562 CI: Add debug to the log aggregation script
  share/spack/gitlab/cloud_pipelines/configs/ci.yaml
  share/spack/gitlab/cloud_pipelines/scripts/common/aggregate_package_logs.spack.py
Labels: gitlab, core

#43444 Patch to set PARAMETERS_MIN_ALIGNMENT to the native alignment for rocm-opencl
  var/spack/repos/builtin/packages/rocm-opencl/package.py
Labels: patch, update-package

#43467 Add new versions of tinyxml2
  var/spack/repos/builtin/packages/tinyxml2/package.py
Labels: new-version, update-package, new-variant

#43515 e4s ci: add nekbone
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: e4s, gitlab, core

#43508 preCICE: Release v3.1.0
  var/spack/repos/builtin/packages/precice/package.py
Labels: new-version, dependencies, update-package

#43492 py-deephyper: add v0.6.0
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
  var/spack/repos/builtin/packages/py-deephyper/package.py
Labels: new-version, python, dependencies, update-package, e4s, gitlab, core

#43522 e4s ci: enable lammps variants from presets/most.cmake
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: e4s, gitlab, core

#42943 ParaView: add v5.12.0
  share/spack/gitlab/cloud_pipelines/stacks/e4s-neoverse_v1/spack.yaml
  var/spack/repos/builtin/packages/paraview/kits_with_catalyst_5_12.patch
  var/spack/repos/builtin/packages/paraview/package.py
Labels: new-version, patch, update-package, e4s, gitlab, core

#43451 oneapi licenses
  lib/spack/spack/build_systems/oneapi.py
  var/spack/repos/builtin/packages/intel-oneapi-runtime/package.py
Labels: intel, update-package, build-systems, core

#42863 Update jax & jaxlib versions
  var/spack/repos/builtin/packages/py-jax/package.py
  var/spack/repos/builtin/packages/py-jaxlib/package.py
Labels: new-version, python, dependencies, update-package, conflicts, new-variant

#43506 gperftools: add cmake build system
  var/spack/repos/builtin/packages/gperftools/package.py
Labels: dependencies, update-package, conflicts

#43512 py-triton: add zlib
  var/spack/repos/builtin/packages/py-triton/package.py
Labels: python, dependencies, update-package

#43511 py-pymatgen: add forward compat bound for cython
  var/spack/repos/builtin/packages/py-pymatgen/package.py
Labels: python, dependencies, update-package

#43510 py-tatsu: add upperbound on python
  var/spack/repos/builtin/packages/py-tatsu/package.py
Labels: python, dependencies, update-package

#43523 fastjet: new multi-valued variant `plugins`
  var/spack/repos/builtin/packages/fastjet/package.py
  var/spack/repos/builtin/packages/rivet/package.py
Labels: dependencies, update-package, new-variant

#43529 acts: depends_on py-onnxruntime when +onnx for @23.3:
  var/spack/repos/builtin/packages/acts/package.py
Labels: dependencies, update-package

#43471 Nalu: updating Trilinos recipe a bit
  var/spack/repos/builtin/packages/nalu/package.py
Labels: new-version, dependencies, update-package

#43456 Filesystem: Safe rename if renaming file onto itself
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/test/llnl/util/filesystem.py
Labels: tests, utilities, core

#43387 LLVM: avoid Fujitsu compiler build fail in llvm17-18
  var/spack/repos/builtin/packages/llvm/llvm17-18-thread.patch
  var/spack/repos/builtin/packages/llvm/llvm17-fujitsu.patch
  var/spack/repos/builtin/packages/llvm/package.py
Labels: patch, update-package

#43550 Trilinos: More accurate stk boot dependency
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: dependencies, update-package

#43547 [mpas-model] Only add options for double precision when requested
  var/spack/repos/builtin/packages/mpas-model/package.py
Labels: update-package

#43546 [libxc] new homepage
  var/spack/repos/builtin/packages/libxc/package.py
Labels: update-package

#43534 yoda: new version 2.0.0
  var/spack/repos/builtin/packages/yoda/package.py
Labels: new-version, update-package

#43544 flac: update versions
  var/spack/repos/builtin/packages/flac/package.py
Labels: new-version, update-package

#43540 py-keras: add v3.2.0
  var/spack/repos/builtin/packages/py-keras/package.py
Labels: new-version, python, update-package

#43526 cppzmq: new version 4.10.0
  var/spack/repos/builtin/packages/cppzmq/package.py
Labels: new-version, update-package

#43470 Add a new version for cxxopts
  var/spack/repos/builtin/packages/cxxopts/package.py
Labels: new-version, update-package, waiting for package maintainer

#43524 cpp-logger: add v0.0.3
  var/spack/repos/builtin/packages/cpp-logger/package.py
Labels: new-version, update-package

#43525 Release for brahma 0.0.3
  var/spack/repos/builtin/packages/brahma/package.py
Labels: new-version, update-package

#42858 Update: pyAMReX v24.03 & v24.04
  var/spack/repos/builtin/packages/py-amrex/package.py
  var/spack/repos/builtin/packages/warpx/package.py
Labels: new-version, python, dependencies, update-package, ecp, new-variant, stand-alone-tests

#43487 py-matplotlib: add v3.8.4
  var/spack/repos/builtin/packages/cairo/package.py
  var/spack/repos/builtin/packages/fontconfig/package.py
  var/spack/repos/builtin/packages/freetype/package.py
  var/spack/repos/builtin/packages/libxfont/package.py
  var/spack/repos/builtin/packages/mkfontscale/package.py
  var/spack/repos/builtin/packages/py-matplotlib/package.py
Labels: new-version, python, dependencies, update-package

#43271 swig: update symlink alias to appease cmake
  var/spack/repos/builtin/packages/swig/package.py
Labels: update-package

#43565 Add flux-core: 0.61.1
  var/spack/repos/builtin/packages/flux-core/package.py
Labels: new-version, update-package

#43566 Add flux-sched: 0.33.1
  var/spack/repos/builtin/packages/flux-sched/package.py
Labels: new-version, update-package

#43561 botan: add v3.4.0
  var/spack/repos/builtin/packages/botan/package.py
Labels: new-version, update-package

#43558 ospray: add v3.1.0 and dependencies
  var/spack/repos/builtin/packages/openimagedenoise/package.py
  var/spack/repos/builtin/packages/openvkl/package.py
  var/spack/repos/builtin/packages/ospray/package.py
  var/spack/repos/builtin/packages/rkcommon/package.py
Labels: new-version, dependencies, update-package

#43557 py-scikit-learn: add v1.4.2
  var/spack/repos/builtin/packages/py-scikit-learn/package.py
Labels: new-version, python, dependencies, update-package

#43573 libdrm: new version 2.4.120
  var/spack/repos/builtin/packages/libdrm/package.py
Labels: new-version, dependencies, update-package

#43499 flecsi+legion: add cr versions FleCSI depended on in past releases
  var/spack/repos/builtin/packages/flecsi/package.py
  var/spack/repos/builtin/packages/legion/package.py
Labels: new-version, dependencies, update-package

#43469 Add new versions for toml11
  var/spack/repos/builtin/packages/toml11/package.py
Labels: new-version, update-package, new-variant

#43574 libpthread-stubs: new version 0.5
  var/spack/repos/builtin/packages/libpthread-stubs/package.py
Labels: new-version, update-package

#43559 qt-*: add v6.6.2, v6.6.3, and v6.7.0
  var/spack/repos/builtin/packages/qt-base/package.py
  var/spack/repos/builtin/packages/qt-declarative/package.py
  var/spack/repos/builtin/packages/qt-quick3d/package.py
  var/spack/repos/builtin/packages/qt-quicktimeline/package.py
  var/spack/repos/builtin/packages/qt-shadertools/package.py
  var/spack/repos/builtin/packages/qt-svg/package.py
Labels: new-version, update-package

#43567 Packages: llvm cxx flag remove, new versions, and binutils build issue fix
  var/spack/repos/builtin/packages/binutils/gold-gcc4.patch
  var/spack/repos/builtin/packages/binutils/package.py
  var/spack/repos/builtin/packages/glibc/package.py
  var/spack/repos/builtin/packages/llvm/package.py
Labels: new-version, dependencies, patch, update-package

#43539 Allow reusing specs built with compilers not in config
  lib/spack/spack/build_environment.py
  lib/spack/spack/compilers/__init__.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/installer.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/test/cmd/compiler.py
  lib/spack/spack/test/compilers/basics.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/config.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/data/config/packages.yaml
  lib/spack/spack/test/solver/intermediate.py
  var/spack/repos/builtin/packages/cray-mpich/package.py
  var/spack/repos/builtin/packages/cray-mvapich2/package.py
  var/spack/repos/builtin/packages/intel-mpi/package.py
  var/spack/repos/builtin/packages/intel-oneapi-mpi/package.py
  var/spack/repos/builtin/packages/intel-parallel-studio/package.py
  var/spack/repos/builtin/packages/mpich/package.py
  var/spack/repos/builtin/packages/mpitrampoline/package.py
  var/spack/repos/builtin/packages/mpt/package.py
  var/spack/repos/builtin/packages/msmpi/package.py
  var/spack/repos/builtin/packages/mvapich/package.py
  var/spack/repos/builtin/packages/mvapich2-gdr/package.py
  var/spack/repos/builtin/packages/mvapich2/package.py
  var/spack/repos/builtin/packages/mvapich2x/package.py
  var/spack/repos/builtin/packages/openmpi/package.py
  var/spack/repos/builtin/packages/spectrum-mpi/package.py
Labels: compilers, build-environment, tests, commands, intel, environments, update-package, stand-alone-tests, core

#43576 qt-base: depends_on cmake@3.21: when ~shared or platform=darwin
  var/spack/repos/builtin/packages/qt-base/package.py
Labels: dependencies, update-package

#43577 wayland-protocols: new versions 1.34
  var/spack/repos/builtin/packages/wayland-protocols/package.py
Labels: new-version, update-package

#43580 add taskwarrior 3.0.0
  var/spack/repos/builtin/packages/task/package.py
Labels: new-version, dependencies, update-package

#43596 py-pandas: add v2.2.2
  var/spack/repos/builtin/packages/py-pandas/package.py
Labels: new-version, python, dependencies, update-package

#43594 py-keras: add v3.2.1
  var/spack/repos/builtin/packages/py-keras/package.py
Labels: new-version, python, update-package

#43589 cpio: add 2.15
  var/spack/repos/builtin/packages/cpio/package.py
Labels: new-version, update-package

#43587 opus: update package
  var/spack/repos/builtin/packages/opus/package.py
Labels: new-version, update-package

#43583 py-cartopy: add v0.23.0
  var/spack/repos/builtin/packages/py-cartopy/package.py
Labels: new-version, python, dependencies, update-package

#43491 invalid compiler: warn instead of error
  lib/spack/spack/compilers/__init__.py
Labels: compilers, core

#43607 Kokkos Ecosystem: 4.3.00
  var/spack/repos/builtin/packages/kokkos-kernels/package.py
  var/spack/repos/builtin/packages/kokkos/package.py
Labels: new-version, dependencies, update-package

#43585 New package: timew
  var/spack/repos/builtin/packages/timew/package.py
Labels: new-version, new-package

#43572 TAU package: Include recent change for Ubuntu
  var/spack/repos/builtin/packages/tau/package.py
Labels: update-package, conflicts, new-variant

#43568 py-simpleeval: add version 0.9.13
  var/spack/repos/builtin/packages/py-simpleeval/package.py
Labels: new-version, python, dependencies, update-package

#43581 acts: new version 33.1.0
  var/spack/repos/builtin/packages/acts/package.py
  var/spack/repos/builtin/packages/actsvg/package.py
  var/spack/repos/builtin/packages/geomodel/package.py
Labels: new-version, new-package, dependencies, update-package, conflicts, new-variant

#43560 libzip: add up to v1.10.1
  var/spack/repos/builtin/packages/libzip/package.py
Labels: new-version, update-package

#43386 suite-sparse: add version 7.2.1
  var/spack/repos/builtin/packages/suite-sparse/package.py
Labels: new-version, dependencies, update-package

#41230 Create Castep package
  var/spack/repos/builtin/packages/castep/package.py
Labels: new-version, new-package, dependencies, new-variant

#41272 JUBE: add v2.6.x
  var/spack/repos/builtin/packages/jube/package.py
Labels: new-version, update-package

#43592 justbuild: bump version 1.2.5
  var/spack/repos/builtin/packages/justbuild/package.py
Labels: new-version, update-package

#42423 Automatic buildcache push after installing from source
  lib/spack/docs/binary_caches.rst
  lib/spack/spack/cmd/mirror.py
  lib/spack/spack/hooks/autopush.py
  lib/spack/spack/mirror.py
  lib/spack/spack/schema/mirrors.py
  lib/spack/spack/test/cmd/buildcache.py
  lib/spack/spack/test/cmd/mirror.py
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
Labels: compilers, new-version, new-package, python, documentation, dependencies, fetching, tests, commands, shell-support, resources, intel, patch, update-package, conflicts, utilities, build-systems, gitlab, new-variant, sbang, core, extends

#43599 dealii +cuda: conflicts with ^cuda@12:
  var/spack/repos/builtin/packages/dealii/package.py
Labels: update-package, conflicts, e4s

#43600 yosys: Add version 0.39 and 0.40
  var/spack/repos/builtin/packages/yosys/package.py
Labels: new-version, update-package

#43603 verilator: Add version 5.024
  var/spack/repos/builtin/packages/verilator/package.py
Labels: new-version, update-package

#43604 verible: Add version v0.0-3624-gd256d779
  var/spack/repos/builtin/packages/verible/package.py
Labels: new-version, update-package

#43601 e4s ci: add: netcdf-fortran, fpm, e4s-cl
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: e4s, gitlab, core

#36669 openmpi: add MPIFC environment variable
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: update-package

#43609 OpenMPI: add version 5.0.3
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: new-version, update-package

#43605 add py-h5py@3.11
  var/spack/repos/builtin/packages/py-h5py/package.py
Labels: new-version, python, dependencies, update-package

#43582 solver: add an integrity constraint for virtual nodes
  lib/spack/spack/solver/concretize.lp
Labels: core

#43626 emacs: add 29.3
  var/spack/repos/builtin/packages/emacs/package.py
Labels: new-version, update-package

#43630 gsibec: add v1.2.1
  var/spack/repos/builtin/packages/gsibec/package.py
Labels: new-version, update-package

#43628 w3nco %oneapi cflags: append -Wno-error=implicit-function-declaration
  var/spack/repos/builtin/packages/w3nco/package.py
Labels: update-package

#43624 pika: add v0.24.0
  var/spack/repos/builtin/packages/pika/package.py
Labels: new-version, update-package

#43634 odc: add v1.4.6
  var/spack/repos/builtin/packages/odc/package.py
Labels: new-version, update-package

#43616 precice: Add version 3.1.1
  var/spack/repos/builtin/packages/precice/package.py
Labels: new-version, update-package

#43640 geant4: extend patch for 10.6 to 10.0+
  var/spack/repos/builtin/packages/geant4/package.py
Labels: patch, update-package

#43590 Axom: add new versions and bring in new changes
  var/spack/repos/builtin/packages/axom/package.py
Labels: new-version, dependencies, don't-merge-yet, update-package, build-systems, new-variant, core

#43644 CachedCMakePackage: remove hardcoded hipcc
  lib/spack/spack/build_systems/cached_cmake.py
Labels: build-systems, core

#43571 freetype: new version 2.12 and 2.13
  var/spack/repos/builtin/packages/freetype/package.py
Labels: new-version, update-package

#43622 gettext: unvendor libxml
  var/spack/repos/builtin/packages/gettext/package.py
Labels: update-package

#43611 sherpa: remove paths to compiler wrappers
  var/spack/repos/builtin/packages/sherpa/package.py
Labels: new-version, dependencies, update-package, new-variant

#43639 dealii@9.5 +cgal requires ^cgal@5:
  var/spack/repos/builtin/packages/dealii/package.py
Labels: dependencies, update-package, e4s, waiting for package maintainer

#43627 gsibec: properly reference self.spec
  var/spack/repos/builtin/packages/gsibec/package.py
Labels: update-package, e4s

#43654 intel-oneapi-compiler: Fix generation of config files
  var/spack/repos/builtin/packages/intel-oneapi-compilers/package.py
Labels: intel, update-package

#43659 zstd: new version 1.5.6
  var/spack/repos/builtin/packages/zstd/package.py
Labels: new-version, dependencies, update-package

#43660 zlib: new version 1.3.1
  var/spack/repos/builtin/packages/zlib/package.py
Labels: new-version, update-package

#43658 spdlog: new version 1.13.0
  var/spack/repos/builtin/packages/spdlog/package.py
Labels: new-version, dependencies, update-package

#43662 package/su2 version 8.0.0 & 8.0.1 update
  var/spack/repos/builtin/packages/su2/package.py
  var/spack/repos/builtin/packages/su2/remove_preconfigure_timestamp_check.patch
Labels: new-version, patch, update-package

#43651 Fix pkgconfig dependencies
  var/spack/repos/builtin/packages/charliecloud/package.py
  var/spack/repos/builtin/packages/hpctoolkit/package.py
  var/spack/repos/builtin/packages/yosys/package.py
Labels: dependencies, update-package

#43661 util-linux: new version 2.40
  var/spack/repos/builtin/packages/util-linux/package.py
Labels: new-version, update-package

#43530 Features/dlio-profiler
  var/spack/repos/builtin/packages/brahma/package.py
  var/spack/repos/builtin/packages/py-dlio-profiler-py/package.py
Labels: new-version, python, dependencies, update-package

#43191 charmpp: add archs including Cray shasta with ARM
  var/spack/repos/builtin/packages/charmpp/ofi-crayshasta-arm.patch
  var/spack/repos/builtin/packages/charmpp/package.py
Labels: cray, dependencies, patch, update-package, waiting for package maintainer

#43653 py-rasterio: add v1.3.10
  var/spack/repos/builtin/packages/py-rasterio/package.py
Labels: new-version, python, dependencies, update-package

#43620 py-ruff: add v0.3.7
  var/spack/repos/builtin/packages/py-ruff/package.py
Labels: new-version, python, update-package

#43648 Automated deployment to update package flux-core 2024-04-13
  var/spack/repos/builtin/packages/flux-core/package.py
Labels: new-version, update-package

#43637 Adding aqlprofile dependency for the opencl tests
  var/spack/repos/builtin/packages/rocm-opencl/package.py
Labels: dependencies, update-package

#43633 py-eccodes: add v1.4.2
  var/spack/repos/builtin/packages/py-eccodes/package.py
Labels: new-version, python, update-package

#43621 py-lightning: add v2.2.2
  var/spack/repos/builtin/packages/py-lightning/package.py
Labels: new-version, python, update-package

#43619 py-maturin: add v1.5.1
  var/spack/repos/builtin/packages/py-maturin/package.py
Labels: new-version, python, update-package

#43618 Build systems: fix docstrings
  lib/spack/spack/build_systems/cargo.py
  lib/spack/spack/build_systems/makefile.py
Labels: build-systems, core

#43617 goma: new version 7.6.1
  var/spack/repos/builtin/packages/goma/package.py
Labels: new-version, update-package

#43649 googletest: fix reversed pthreads variant logic
  var/spack/repos/builtin/packages/googletest/package.py
Labels: update-package

#40758 PyTorch: build with external cpuinfo
  var/spack/repos/builtin/packages/cpuinfo/package.py
  var/spack/repos/builtin/packages/py-torch/package.py
Labels: new-version, python, dependencies, update-package

#42970 make hipcub+cuda depend on matching version of hip+cuda
  var/spack/repos/builtin/packages/hipcub/package.py
Labels: dependencies, update-package
