Repository spack/spack, pull requests merged in 2024-11, with the labels that each got.

#47355 nvidia-nsight-systems: new package
  var/spack/repos/builtin/packages/nvidia-nsight-systems/package.py
Labels: new-version, new-package, dependencies

#41019 Babelstream v5.0 Spack Package Updates
  var/spack/repos/builtin/packages/babelstream/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#47235 adios2: add v2.10.2 release
  var/spack/repos/builtin/packages/adios2/package.py
Labels: new-version, patch, update-package, gitlab, new-variant, core

#47356 mmg: add v5.8.0
  var/spack/repos/builtin/packages/mmg/package.py
Labels: new-version, update-package

#47344 py-rasterio: add v1.4.2
  var/spack/repos/builtin/packages/py-rasterio/package.py
Labels: new-version, python, update-package, conflicts

#47337 py-ase: add v3.23.0
  var/spack/repos/builtin/packages/py-ase/package.py
Labels: new-version, python, dependencies, update-package

#47348 linaro-forge: add v24.0.6
  var/spack/repos/builtin/packages/linaro-forge/package.py
Labels: new-version, update-package

#47334 New versions for slate, lapackpp, and blaspp
  var/spack/repos/builtin/packages/blaspp/package.py
  var/spack/repos/builtin/packages/lapackpp/package.py
  var/spack/repos/builtin/packages/slate/package.py
Labels: new-version, dependencies, xSDK, update-package

#47168 verilator: fix builds when using gcc on newer versions
  var/spack/repos/builtin/packages/verilator/fix_compile_gch.patch
  var/spack/repos/builtin/packages/verilator/package.py
Labels: new-version, dependencies, patch, update-package, new-variant, core

#47324 mapl: add v2.47.1.1, v2.47.1.2, v2.50.2
  var/spack/repos/builtin/packages/mapl/package.py
Labels: new-version, update-package

#47223 adios2: fix mgard variant
  var/spack/repos/builtin/packages/adios2/package.py
Labels: dependencies, update-package, waiting-on-maintainer

#47298 geant4: make downloading data dependency optional
  var/spack/repos/builtin/packages/geant4/package.py
Labels: dependencies, update-package, new-variant

#47363 cp2k: protect 2024.3 against newer libxc
  var/spack/repos/builtin/packages/cp2k/package.py
Labels: dependencies, update-package

#47369 Add openfast version 3.5.4
  var/spack/repos/builtin/packages/openfast/package.py
Labels: new-version, update-package

#47351 Fix pickle round-trip of specs propagating variants
  lib/spack/spack/spec.py
  lib/spack/spack/test/spec_yaml.py
  lib/spack/spack/variant.py
Labels: tests, core

#47318 Ci generate on change
  lib/spack/spack/ci.py
  lib/spack/spack/test/cmd/ci.py
Labels: tests, commands, environments, gitlab, core

#44843 parse_specs: unify specs based on concretizer:unify
  lib/spack/spack/cmd/__init__.py
  lib/spack/spack/cmd/clean.py
  lib/spack/spack/cmd/patch.py
  lib/spack/spack/cmd/stage.py
  lib/spack/spack/concretize.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/cmd/install.py
  lib/spack/spack/test/concretize.py
Labels: tests, commands, environments, core

#47364 Rework the schema for reusing environments
  lib/spack/spack/schema/concretizer.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/cmd/env.py
Labels: tests, commands, core

#47357 Remove ignored config:install_missing_compilers from unit tests
  lib/spack/spack/test/installer.py
Labels: tests, core

#47381 e4s ci stacks: reduce package prefs
  share/spack/gitlab/cloud_pipelines/stacks/e4s-neoverse-v2/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-neoverse_v1/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-power/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: WIP, e4s, gitlab, core

#47388 sherpa: add v3.0.1
  var/spack/repos/builtin/packages/sherpa/package.py
Labels: new-version, dependencies, update-package

#47389 pythia8: add v8.312
  var/spack/repos/builtin/packages/pythia8/package.py
Labels: new-version, update-package

#47376 Specs: propagated variants affect `==` equality
  lib/spack/spack/spec.py
  lib/spack/spack/test/spec_semantics.py
  lib/spack/spack/variant.py
Labels: tests, core

#46873 elasticsearch, kibana, logstash: add v8.15.2 (fix CVEs)
  var/spack/repos/builtin/packages/elasticsearch/package.py
  var/spack/repos/builtin/packages/kibana/package.py
  var/spack/repos/builtin/packages/logstash/package.py
Labels: new-version, dependencies, update-package

#47390 cups: add v2.4.11
  var/spack/repos/builtin/packages/cups/package.py
Labels: new-version, update-package

#47379 minizip: add v1.3.1 (fix CVE)
  var/spack/repos/builtin/packages/minizip/package.py
Labels: new-version, dependencies, patch, update-package

#47380 pumi: add version 2.2.9
  var/spack/repos/builtin/packages/pumi/package.py
Labels: new-version, update-package, e4s

#47281 cpr: add +pic and +shared variants
  var/spack/repos/builtin/packages/cpr/package.py
Labels: new-version, dependencies, update-package, new-variant

#47374 py-flask-cors: add v4.0.0
  var/spack/repos/builtin/packages/py-flask-cors/package.py
Labels: new-version, python, update-package

#47373 py-flask-compress: add v1.14
  var/spack/repos/builtin/packages/py-flask-compress/package.py
Labels: new-version, python, dependencies, update-package

#47371 amrex: add v24.11
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package

#47325 llvm: add v19.1.3
  var/spack/repos/builtin/packages/llvm/package.py
Labels: new-version, update-package, waiting-on-maintainer

#47299 hdf5: add develop-2.0
  var/spack/repos/builtin/packages/hdf5/package.py
Labels: new-version, update-package, waiting-on-maintainer, wait-on-reviewers

#47323 Ask for icon maintainership
  var/spack/repos/builtin/packages/icon/package.py
Labels: update-package

#47305 arborx: remove Trilinos dependency for @1.6:
  var/spack/repos/builtin/packages/arborx/package.py
Labels: dependencies, update-package, new-variant

#47297 libxml2: add v2.11.9, v2.12.9, v2.13.4 (fix CVEs)
  var/spack/repos/builtin/packages/libxml2/package.py
Labels: new-version, update-package, waiting-on-maintainer

#47289 nlopt: add v2.8.0
  var/spack/repos/builtin/packages/nlopt/package.py
Labels: new-version, update-package

#47394 suite-sparse: fix missing rpaths for dependencies
  var/spack/repos/builtin/packages/suite-sparse/package.py
Labels: update-package

#47314 rocal and rocm-openmp-extras: fix build failures
  var/spack/repos/builtin/packages/mivisionx/package.py
  var/spack/repos/builtin/packages/rocal/package.py
  var/spack/repos/builtin/packages/rocm-openmp-extras/package.py
Labels: dependencies, update-package

#47292 bigdft-futile: fix compilation for @1.9.5~mpi
  var/spack/repos/builtin/packages/bigdft-futile/package.py
Labels: patch, update-package

#47393 libssh2: fix crypto
  var/spack/repos/builtin/packages/libssh2/package.py
Labels: new-version, dependencies, patch, update-package

#47397 krb5: disable missing keyutils dependency
  var/spack/repos/builtin/packages/krb5/package.py
Labels: update-package

#47398 tcsh: add missing libxcrypt dependency
  var/spack/repos/builtin/packages/tcsh/package.py
Labels: dependencies, update-package

#44523 vep-cache: new package
  var/spack/repos/builtin/packages/vep-cache/package.py
Labels: new-version, new-package, dependencies, resources, new-variant

#47001 zabbix: add v5.0.44, v6.0.34, v7.0.4 (fix CVEs)
  var/spack/repos/builtin/packages/mysql/package.py
  var/spack/repos/builtin/packages/zabbix/package.py
Labels: new-version, dependencies, update-package

#47366 acts dependencies: new versions as of 2024/11/01
  var/spack/repos/builtin/packages/acts/package.py
  var/spack/repos/builtin/packages/detray/package.py
  var/spack/repos/builtin/packages/vecmem/package.py
Labels: new-version, dependencies, update-package

#47396 boost: require +icu when +locale
  var/spack/repos/builtin/packages/boost/package.py
Labels: update-package, conflicts

#47367 geant4-data: symlink only specific data dirs
  var/spack/repos/builtin/packages/g4abla/package.py
  var/spack/repos/builtin/packages/g4emlow/package.py
  var/spack/repos/builtin/packages/g4ensdfstate/package.py
  var/spack/repos/builtin/packages/g4incl/package.py
  var/spack/repos/builtin/packages/g4ndl/package.py
  var/spack/repos/builtin/packages/g4neutronxs/package.py
  var/spack/repos/builtin/packages/g4nudexlib/package.py
  var/spack/repos/builtin/packages/g4particlexs/package.py
  var/spack/repos/builtin/packages/g4photonevaporation/package.py
  var/spack/repos/builtin/packages/g4pii/package.py
  var/spack/repos/builtin/packages/g4radioactivedecay/package.py
  var/spack/repos/builtin/packages/g4realsurface/package.py
  var/spack/repos/builtin/packages/g4saiddata/package.py
  var/spack/repos/builtin/packages/g4tendl/package.py
  var/spack/repos/builtin/packages/g4urrpt/package.py
  var/spack/repos/builtin/packages/geant4-data/package.py
Labels: update-package

#47409 papi: add forward compat bound for cuda
  var/spack/repos/builtin/packages/papi/package.py
Labels: update-package, hotfix, conflicts

#47310 Times spec building and timing to public concretizer API
  lib/spack/spack/solver/asp.py
Labels: core

#47255 `cc`: refactor `ld` and path list logic
  lib/spack/env/cc
  lib/spack/spack/test/cc.py
Labels: tests, core

#47146 google-cloud-cpp: add v2.29.0, v2.30.0
  var/spack/repos/builtin/packages/google-cloud-cpp/package.py
Labels: new-version, update-package, new-variant

#47196 miopen-hip: fix error libroctx64.so.o not found when executing MIOpenDriver
  var/spack/repos/builtin/packages/miopen-hip/0001-link-with-roctracer-when-building-miopendriver-6.1.0.patch
  var/spack/repos/builtin/packages/miopen-hip/0001-link-with-roctracer-when-building-miopendriver-6.2.0.patch
  var/spack/repos/builtin/packages/miopen-hip/0002-add-include-dir-miopen-hip-6.1.0.patch
  var/spack/repos/builtin/packages/miopen-hip/package.py
Labels: dependencies, patch, update-package

#47339 dyninst: patch broken builds for 10.0.0:12.2.0
  var/spack/repos/builtin/packages/dyninst/missing_include_deque.patch
  var/spack/repos/builtin/packages/dyninst/package.py
Labels: patch, update-package

#47399 added g2c-2.0.0
  var/spack/repos/builtin/packages/g2c/package.py
Labels: new-version, update-package

#47392 flux: new package
  var/spack/repos/builtin/packages/flux/package.py
Labels: new-version, new-package, dependencies, new-variant

#47384 prometheus-cpp: added package prometheus-cpp
  var/spack/repos/builtin/packages/prometheus-cpp/package.py
Labels: new-version, new-package, dependencies

#47400 pythia8: Include patch for C++20 / Clang
  var/spack/repos/builtin/packages/pythia8/package.py
  var/spack/repos/builtin/packages/pythia8/pythia8-cpp20-fjcore-forward-decl.patch
Labels: patch, update-package

#47406 extrae: fix typo
  var/spack/repos/builtin/packages/extrae/package.py
Labels: update-package

#47408 extrae: add more versions
  var/spack/repos/builtin/packages/extrae/package.py
Labels: new-version, update-package

#47417 py-configspace: fix homepage
  var/spack/repos/builtin/packages/py-configspace/package.py
Labels: python, update-package

#47418 py-eventlet: fix url
  var/spack/repos/builtin/packages/py-eventlet/package.py
Labels: new-version, python, update-package

#47419 quicksilver: fix homepage
  var/spack/repos/builtin/packages/quicksilver/package.py
Labels: update-package

#47420 sst-dumpi: fix homepage
  var/spack/repos/builtin/packages/sst-dumpi/package.py
Labels: update-package

#47427 openmpi: add 4.1.7
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: new-version, update-package

#47382 spack.concretize: add type-hints, remove kwargs
  lib/spack/docs/conf.py
  lib/spack/spack/cmd/__init__.py
  lib/spack/spack/concretize.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/test/concretize.py
Labels: documentation, tests, commands, environments, stand-alone-tests, core

#47401 py-python-ptrace: missing forward compat bound
  var/spack/repos/builtin/packages/py-python-ptrace/package.py
Labels: new-version, python, dependencies, update-package

#47211 py-tensorflow: add v2.18.0
  var/spack/repos/builtin/packages/py-tensorboard/package.py
  var/spack/repos/builtin/packages/py-tensorflow/package.py
Labels: build-error, new-version, python, dependencies, patch, update-package, new-variant, changes-requested

#47404 py-torchaudio, py-torchtext: rpath fixup
  var/spack/repos/builtin/packages/py-torchaudio/package.py
  var/spack/repos/builtin/packages/py-torchtext/package.py
Labels: python, dependencies, update-package

#47407 extrae: fix build with gcc@14
  var/spack/repos/builtin/packages/extrae/package.py
Labels: update-package

#47429 Add Adiak v0.4.1
  var/spack/repos/builtin/packages/adiak/package.py
Labels: new-version, update-package

#47431 Revert "Ci generate on change"
  lib/spack/spack/ci.py
  lib/spack/spack/test/cmd/ci.py
Labels: tests, commands, core

#47434 libc.py: detect glibc also in chinese locale
  lib/spack/spack/util/libc.py
Labels: hotfix, utilities, core, v0.22.3

#47430 paraview: add forward compat bound with cuda
  var/spack/repos/builtin/packages/paraview/package.py
Labels: dependencies, update-package, hotfix

#47285 cgal: add v6.0.1
  var/spack/repos/builtin/packages/cgal/package.py
  var/spack/repos/builtin/packages/dealii/package.py
Labels: new-version, dependencies, update-package

#47433 omega-h: fix versioning and cuda compat
  share/spack/gitlab/cloud_pipelines/stacks/e4s-neoverse_v1/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-power/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
  var/spack/repos/builtin/packages/ceed/package.py
  var/spack/repos/builtin/packages/omega-h/package.py
  var/spack/repos/builtin/packages/xsdk/package.py
Labels: dependencies, update-package, hotfix, conflicts, gitlab, core

#47448 Fix filter_compiler_wrappers with mpi
  var/spack/repos/builtin/packages/tau/package.py
Labels: update-package

#47447 masa: add versions and update dependencies
  var/spack/repos/builtin/packages/masa/package.py
Labels: new-version, dependencies, update-package, new-variant

#47180 edm4hep: Add json variant for newer versions
  var/spack/repos/builtin/packages/edm4hep/package.py
Labels: question, dependencies, update-package, new-variant, changes-requested

#47467 fix various bootstrap/concretizer import issues
  lib/spack/spack/cmd/__init__.py
  lib/spack/spack/concretize.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/solver/asp.py
Labels: commands, environments, core

#47383 rivet: add through v4.0.2 (incl yoda: add through v2.0.2)
  var/spack/repos/builtin/packages/hepmc3/package.py
  var/spack/repos/builtin/packages/rivet/package.py
  var/spack/repos/builtin/packages/yoda/package.py
Labels: new-version, dependencies, update-package, conflicts, libraries, new-variant

#47403 Fix `spack -c <override>` when env active
  lib/spack/spack/config.py
  lib/spack/spack/main.py
  lib/spack/spack/subprocess_context.py
  share/spack/qa/config_state.py
  share/spack/qa/run-unit-tests
  share/spack/qa/setup-env-test.sh
Labels: shell-support, bugfix, core

#47471 tau: add v2.34
  var/spack/repos/builtin/packages/tau/package.py
Labels: new-version, update-package, e4s

#47473 omega-h: new version and cuda conflicts for prior versions
  share/spack/gitlab/cloud_pipelines/stacks/e4s-neoverse_v1/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-power/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
  var/spack/repos/builtin/packages/omega-h/package.py
Labels: new-version, update-package, conflicts, gitlab, core

#47474 nalu-wind: fix hypre constraints
  var/spack/repos/builtin/packages/nalu-wind/package.py
Labels: update-package

#47436 `llnl.util.filesystem.find`: multiple entrypoints
  lib/spack/llnl/util/filesystem.py
  lib/spack/llnl/util/lang.py
  lib/spack/spack/test/llnl/util/filesystem.py
  lib/spack/spack/test/llnl/util/lang.py
Labels: tests, utilities, core

#47476 slate %oneapi@2025: cxxflags: add -Wno-error=missing-template-arg-lis…
  var/spack/repos/builtin/packages/slate/package.py
Labels: update-package, e4s, oneapi

#47478 legion%oneapi@2025: cxxflags add -Wno-error=missing-template-arg-list…
  var/spack/repos/builtin/packages/legion/package.py
Labels: update-package, e4s, oneapi

#47479 Add amr-wind versions
  var/spack/repos/builtin/packages/amr-wind/package.py
Labels: new-version, update-package

#47475 loki%oneapi@2025: -Wno-error=missing-template-arg-list-after-template-kw
  var/spack/repos/builtin/packages/loki/package.py
Labels: update-package, e4s, oneapi

#47486 Add FAST.Farm variant to openfast
  var/spack/repos/builtin/packages/openfast/package.py
Labels: update-package, new-variant

#41897 `spack env track` command
  lib/spack/spack/cmd/env.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/test/cmd/env.py
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
Labels: tests, commands, shell-support, environments, core

#47498 pika: add 0.30.0
  var/spack/repos/builtin/packages/pika/package.py
Labels: new-version, update-package

#47496 missing imports
  lib/spack/spack/test/build_environment.py
  lib/spack/spack/test/concretize_requirements.py
  lib/spack/spack/test/flag_mixing.py
Labels: tests, core

#47495 llnl.util.filesystem: multiple entrypoints and max_depth
  lib/spack/llnl/util/filesystem.py
  lib/spack/llnl/util/lang.py
  lib/spack/spack/test/llnl/util/file_list.py
  lib/spack/spack/test/llnl/util/filesystem.py
  lib/spack/spack/test/llnl/util/lang.py
  lib/spack/spack/test/test_suite.py
  var/spack/repos/builtin.mock/packages/attributes-foo/package.py
Labels: tests, utilities, core

#47503 upcxx %oneapi@2025: cxxflags add -Wno-error=missing-template-arg-list…
  var/spack/repos/builtin/packages/upcxx/package.py
Labels: update-package, e4s, oneapi

#47213 `spack.compiler`/`spack.util.libc`: add caching
  lib/spack/docs/conf.py
  lib/spack/spack/compiler.py
  lib/spack/spack/compilers/aocc.py
  lib/spack/spack/test/compilers/basics.py
  lib/spack/spack/test/concretize.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/util/libc.py
Labels: compilers, documentation, tests, utilities, core

#42463 fix patched dependencies across repositories
  lib/spack/spack/main.py
  lib/spack/spack/patch.py
  lib/spack/spack/paths.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/patch.py
  var/spack/repos/builtin.mock/README.md
  var/spack/repos/builtin.mock/packages/patch-a-foreign-dependency/mock2-package.patch
  var/spack/repos/builtin.mock/packages/patch-a-foreign-dependency/package.py
  var/spack/repos/builtin.mock2/README.md
  var/spack/repos/builtin.mock2/packages/mock2-patched-dependency/package.py
  var/spack/repos/builtin.mock2/repo.yaml
Labels: new-version, dependencies, tests, core

#47518 Fix style checks on develop
  lib/spack/spack/compiler.py
Labels: hotfix

#47519 Revert "fix patched dependencies across repositories"
  lib/spack/spack/main.py
  lib/spack/spack/patch.py
  lib/spack/spack/paths.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/patch.py
  var/spack/repos/builtin.mock/README.md
  var/spack/repos/builtin.mock/packages/patch-a-foreign-dependency/mock2-package.patch
  var/spack/repos/builtin.mock/packages/patch-a-foreign-dependency/package.py
  var/spack/repos/builtin.mock2/README.md
  var/spack/repos/builtin.mock2/packages/mock2-patched-dependency/package.py
  var/spack/repos/builtin.mock2/repo.yaml
Labels: tests, core

#47483 root: fix macos build
  var/spack/repos/builtin/packages/root/package.py
Labels: update-package

#47517 ci: "summary" jobs should always run, and fail if any deps has status "fail" or "canceled"
  .github/workflows/ci.yaml
Labels: workflow, core

#47512 Revert "upcxx %oneapi@2025: cxxflags add -Wno-error=missing-template-…
  var/spack/repos/builtin/packages/upcxx/package.py
Labels: update-package, e4s, oneapi

#47505 Bug fix for package cprnc: set install rpath for cprnc executable
  var/spack/repos/builtin/packages/cprnc/install_rpath.patch
  var/spack/repos/builtin/packages/cprnc/package.py
Labels: new-version, patch, update-package

#47361 beatnik: add v1.1
  var/spack/repos/builtin/packages/beatnik/package.py
Labels: new-version, dependencies, update-package

#47497 py-torchmetrics: add v1.5.2
  var/spack/repos/builtin/packages/py-torchmetrics/package.py
Labels: new-version, python, update-package

#47493 lksctp-tools: added version 1.0.21
  var/spack/repos/builtin/packages/lksctp-tools/package.py
Labels: new-version, update-package

#47514 armadillo: Disable the optional flexiblas support
  var/spack/repos/builtin/packages/armadillo/package.py
Labels: update-package

#47456 yosys: add v0.47
  var/spack/repos/builtin/packages/yosys/package.py
Labels: new-version, update-package

#46749 Add support for Codeplay AMD Plugin for Intel OneAPI Compilers
  var/spack/repos/builtin/packages/intel-oneapi-compilers/package.py
Labels: resources, intel, update-package, conflicts, new-variant

#47500 librdkafka: added missing dependency on curl
  var/spack/repos/builtin/packages/librdkafka/package.py
Labels: dependencies, update-package

#47368 benchmark: enable shared libraries by default
  var/spack/repos/builtin/packages/benchmark/package.py
Labels: update-package, new-variant

#47472 GDAL: add v3.10.0
  var/spack/repos/builtin/packages/gdal/package.py
Labels: new-version, dependencies, update-package, new-variant

#47455 verilator: add v5.030
  var/spack/repos/builtin/packages/verilator/package.py
Labels: new-version, patch, update-package

#46637 mbedtls: add v2.28.9, v3.6.2 (fix CVEs)
  var/spack/repos/builtin/packages/mbedtls/package.py
Labels: new-version, update-package

#47353 lua: always generate pcfile without patch and remove +pcfile variant
  var/spack/repos/builtin/packages/lua/package.py
  var/spack/repos/builtin/packages/rpm/package.py
Labels: dependencies, update-package

#47537 filesystem.py: find directories and sort less
  lib/spack/llnl/util/filesystem.py
  lib/spack/spack/test/llnl/util/filesystem.py
Labels: tests, utilities, core

#47536 llvm: filter clang-ocl from the executables being probed
  var/spack/repos/builtin/packages/llvm/package.py
Labels: update-package

#47538 ut: add 2.1.0 and 2.1.1
  var/spack/repos/builtin/packages/ut/package.py
Labels: new-version, update-package

#47533 py-gosam: add v2.1.2
  var/spack/repos/builtin/packages/py-gosam/package.py
Labels: new-version, python, update-package

#47532 vbfnlo: add v3.0; depends on tcsh (build)
  var/spack/repos/builtin/packages/vbfnlo/package.py
Labels: new-version, dependencies, update-package

#47506 petsc: use --with-exodusii-dir [as exodus does not have 'libs()' to provide value for --with-exodusii-lib]
  var/spack/repos/builtin/packages/petsc/package.py
Labels: update-package

#47313 py-oracledb: add v1.4.2, v2.3.0, v2.4.1
  var/spack/repos/builtin/packages/py-oracledb/package.py
Labels: new-version, python, dependencies, update-package

#46549 Add environment variable expansion option for mirrors.yaml
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/cmd/common/arguments.py
  lib/spack/spack/cmd/mirror.py
  lib/spack/spack/mirror.py
  lib/spack/spack/oci/opener.py
  lib/spack/spack/schema/mirrors.py
  lib/spack/spack/test/cmd/mirror.py
  lib/spack/spack/test/mirror.py
  lib/spack/spack/util/s3.py
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
Labels: tests, commands, shell-support, binary-packages, utilities, core

#47462 butterflypack: add v3.2.0, strumpack: add v8.0.0
  var/spack/repos/builtin/packages/butterflypack/package.py
  var/spack/repos/builtin/packages/strumpack/package.py
Labels: new-version, dependencies, xSDK, patch, update-package

#47539 Move concretization tests to the same folder
  .github/workflows/unit_tests.yaml
  lib/spack/spack/test/concretization/compiler_runtimes.py
  lib/spack/spack/test/concretization/core.py
  lib/spack/spack/test/concretization/errors.py
  lib/spack/spack/test/concretization/flag_mixing.py
  lib/spack/spack/test/concretization/preferences.py
  lib/spack/spack/test/concretization/requirements.py
Labels: tests, workflow, core

#46798 Bugfix: `spack find -x` in environments
  lib/spack/spack/cmd/__init__.py
  lib/spack/spack/cmd/find.py
  lib/spack/spack/cmd/modules/__init__.py
  lib/spack/spack/test/cmd/find.py
  lib/spack/spack/test/utilities.py
Labels: new-version, dependencies, tests, commands, core

#47542 py-pillow: patch for disabling optional deps
  var/spack/repos/builtin/packages/py-pillow/package.py
Labels: python, patch, update-package

#47477 vtk-m %oneapi@2025: cxxflags add -Wno-error=missing-template-arg-list…
  var/spack/repos/builtin/packages/vtk-m/package.py
Labels: update-package, e4s, oneapi

#47554 Compiler.default_libc: early exit on darwin/win
  lib/spack/spack/compiler.py
Labels: compilers, core

#47541 openmpi: fix detection
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: update-package

#47443 soqt: new package
  var/spack/repos/builtin/packages/soqt/package.py
Labels: new-version, new-package, dependencies, new-variant

#47550 bfs: add v4.0.4
  var/spack/repos/builtin/packages/bfs/package.py
Labels: new-version, update-package

#47549 fzf: add v0.56.2
  var/spack/repos/builtin/packages/fzf/package.py
Labels: new-version, update-package

#47520 py-non-regression-test-tools: add v1.1.4
  var/spack/repos/builtin/packages/py-non-regression-test-tools/package.py
Labels: new-version, python, dependencies, update-package

#47534 git: add v2.46.2, v2.47.0
  var/spack/repos/builtin/packages/git/package.py
Labels: new-version, update-package

#47530 xtrans: add v1.5.2
  var/spack/repos/builtin/packages/xtrans/package.py
Labels: new-version, update-package

#47529 pixman: add v0.44.0 (switch to meson)
  var/spack/repos/builtin/packages/pixman/package.py
Labels: new-version, dependencies, update-package

#47523 scitokens-cpp: add v1.1.2
  var/spack/repos/builtin/packages/scitokens-cpp/package.py
Labels: new-version, update-package

#47522 xerces-c: add v3.3.0
  var/spack/repos/builtin/packages/xerces-c/package.py
Labels: new-version, update-package

#47375 py-pyppeteer: new package
  var/spack/repos/builtin/packages/py-pyee/package.py
  var/spack/repos/builtin/packages/py-pyppeteer/package.py
Labels: question, new-version, new-package, python, dependencies

#47513 varnish-cache: add v7.6.1
  var/spack/repos/builtin/packages/varnish-cache/package.py
Labels: new-version, dependencies, update-package

#47511 rsyslog: add v8.2410.0 (fix CVE)
  var/spack/repos/builtin/packages/rsyslog/package.py
Labels: new-version, dependencies, update-package

#47461 superlu-dist: add v9.0.0, v9.1.0
  var/spack/repos/builtin/packages/superlu-dist/package.py
Labels: new-version, xSDK, patch, update-package

#47465 rocm-validation-suite: update patch file for 6.2 and 6.2.1 and remove unwanted environment variable to add library paths into RUNPATH
  var/spack/repos/builtin/packages/rocm-validation-suite/009-replacing-rocm-path-with-package-path-6.2.1.patch
  var/spack/repos/builtin/packages/rocm-validation-suite/package.py
Labels: dependencies, patch, update-package

#47202 openmpi: add two_level_namespace variant for MacOS
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: update-package, new-variant, waiting-on-maintainer

#47405 py-fsspec-xrootd: new package
  var/spack/repos/builtin/packages/py-fsspec-xrootd/package.py
Labels: new-version, new-package, python, dependencies

#47423 osu-micro-benchmarks: add v7.5
  var/spack/repos/builtin/packages/osu-micro-benchmarks/package.py
Labels: new-version, update-package

#47283 Fix the build error during compilation of rocdecode package
  var/spack/repos/builtin/packages/libva/package.py
  var/spack/repos/builtin/packages/rocdecode/package.py
Labels: question, new-version, new-package, dependencies, update-package

#47359 extrae: Update dyninst dependency
  var/spack/repos/builtin/packages/extrae/dyninst_instruction.patch
  var/spack/repos/builtin/packages/extrae/package.py
Labels: question, dependencies, patch, update-package
