Repository spack/spack, pull requests merged in 2025-04, with the labels that each got.

#49770 Legion: Add 25.03.0. Deprecate versions 23.03.0 and prior.
  var/spack/repos/builtin/packages/legion/package.py
Labels: new-version, dependencies, update-package

#49745 spdlog: Add v1.15.1, improve version ranges
  var/spack/repos/builtin/packages/spdlog/fmt_ext_tweakme.patch
  var/spack/repos/builtin/packages/spdlog/package.py
Labels: new-version, dependencies, patch, update-package

#49804 benchmark: add v1.9.2
  var/spack/repos/builtin/packages/benchmark/package.py
Labels: new-version, update-package

#49657 py-setuptools-scm: deprecate old versions
  var/spack/repos/builtin/packages/py-rsatoolbox/package.py
  var/spack/repos/builtin/packages/py-setuptools-scm/package.py
  var/spack/repos/builtin/packages/py-statsmodels/package.py
Labels: new-version, python, dependencies, update-package, conflicts

#49779 py-wids: add new package
  var/spack/repos/builtin/packages/py-wids/package.py
Labels: new-version, new-package, python, dependencies

#49780 py-webdataset: add v0.2.111
  var/spack/repos/builtin/packages/py-webdataset/package.py
Labels: new-version, python, dependencies, update-package

#49783 chapel: remove requirements on compilers
  var/spack/repos/builtin/packages/chapel/package.py
Labels: update-package

#49802 apple-clang: Fix spec syntax error
  var/spack/repos/builtin/packages/apple-clang/package.py
Labels: update-package

#49819 cmake: set CMAKE_POLICY_VERSION_MINIMUM
  var/spack/repos/builtin/packages/cmake/package.py
Labels: update-package, hotfix, workflow, core

#49217 New hypre variants + refactoring
  var/spack/repos/builtin/packages/hypre/package.py
Labels: dependencies, update-package, conflicts, gitlab, new-variant, core

#49812 scotch: remains buildable with make
  var/spack/repos/builtin/packages/scotch/package.py
Labels: new-version, update-package

#49826 ci: don't run unit-test on ubuntu 20.04
  .github/workflows/unit_tests.yaml
Labels: workflow, core, v0.23.2

#49786 trivy: new package
  var/spack/repos/builtin/packages/trivy/package.py
Labels: new-version, new-package, dependencies

#49764 py-python-lsp-ruff: new package
  var/spack/repos/builtin/packages/py-lsprotocol/package.py
  var/spack/repos/builtin/packages/py-python-lsp-ruff/package.py
Labels: new-version, new-package, python, dependencies, conflicts

#43688 Add py-tf-keras package, upgrade TFP
  var/spack/repos/builtin/packages/py-tensorflow-probability/package.py
  var/spack/repos/builtin/packages/py-tf-keras/package.py
Labels: new-version, new-package, python, dependencies, update-package, new-variant

#49712 url_fetch_method: allow curl args when selecting curl
  lib/spack/docs/config_yaml.rst
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/schema/config.py
  lib/spack/spack/test/url_fetch.py
  lib/spack/spack/util/web.py
Labels: documentation, fetching, tests, utilities, core

#49753 spec.py: more virtuals=... type hints
  lib/spack/spack/solver/asp.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/spec_semantics.py
Labels: tests, core

#49832 rocm-opencl: change homepage and git
  var/spack/repos/builtin/packages/rocm-opencl/package.py
Labels: update-package

#49723 solver: don't use tags to compute injected deps
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/input_analysis.py
  lib/spack/spack/test/cmd/dependencies.py
  lib/spack/spack/test/package_class.py
  var/spack/repos/builtin.mock/packages/corge/package.py
  var/spack/repos/duplicates.test/packages/compiler-wrapper
  var/spack/repos/edges.test/packages/compiler-wrapper
Labels: tests, commands, core

#49824 docs: remove leftover references to `compiler:` entries
  lib/spack/docs/basic_usage.rst
  lib/spack/docs/environments.rst
  lib/spack/docs/example_files/spack.yaml
  lib/spack/docs/gpu_configuration.rst
  lib/spack/docs/packages_yaml.rst
Labels: documentation, core

#49818 paraview: add v5.13.3
  var/spack/repos/builtin/packages/paraview/package.py
  var/spack/repos/builtin/packages/paraview/vtk-fft-icc.patch
Labels: new-version, update-package, conflicts

#47317 e4s oneapi: upgrade to latest compilers oneapi@2025.1
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/stacks/e4s-oneapi/spack.yaml
Labels: e4s, gitlab, oneapi, core

#49834 pika: Add 0.33.0
  var/spack/repos/builtin/packages/pika/package.py
Labels: new-version, update-package

#49813 slepc, py-slepc4py, petsc, py-petsc4py add v3.23.0
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/py-petsc4py/package.py
  var/spack/repos/builtin/packages/py-slepc4py/package.py
  var/spack/repos/builtin/packages/slepc/package.py
Labels: new-version, python, update-package

#49829 portage, tangram, wonton: update packages
  var/spack/repos/builtin/packages/portage/package.py
  var/spack/repos/builtin/packages/tangram/package.py
  var/spack/repos/builtin/packages/wonton/package.py
Labels: dependencies, update-package

#49848 amrex: add v25.04
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package

#49805 py-waves: new package
  var/spack/repos/builtin/packages/py-waves/package.py
Labels: new-version, new-package, python, dependencies, stand-alone-tests

#49828 compiler-wrapper: set SPACK_COMPILER_EXTRA_RPATHS
  lib/spack/spack/test/build_environment.py
  var/spack/repos/builtin/packages/compiler-wrapper/package.py
Labels: tests, update-package, core

#49823 glproto, inputproto, kbproto, libpthread-stubs, randrproto, renderproto, xextproto, xproto, xsimd, xtensor, xtensor-blas, xtl: add c dependency
  var/spack/repos/builtin/packages/glproto/package.py
  var/spack/repos/builtin/packages/inputproto/package.py
  var/spack/repos/builtin/packages/kbproto/package.py
  var/spack/repos/builtin/packages/libpthread-stubs/package.py
  var/spack/repos/builtin/packages/randrproto/package.py
  var/spack/repos/builtin/packages/renderproto/package.py
  var/spack/repos/builtin/packages/xextproto/package.py
  var/spack/repos/builtin/packages/xproto/package.py
  var/spack/repos/builtin/packages/xsimd/package.py
  var/spack/repos/builtin/packages/xtensor-blas/package.py
  var/spack/repos/builtin/packages/xtensor/package.py
  var/spack/repos/builtin/packages/xtl/package.py
Labels: dependencies, update-package

#49838 binder: add C dependency
  var/spack/repos/builtin/packages/binder/package.py
Labels: dependencies, update-package

#49836 variant.py: make Variant.default is str | bool | tuple[str]
  lib/spack/spack/directives.py
  lib/spack/spack/variant.py
  var/spack/repos/builtin/packages/abyss/package.py
  var/spack/repos/builtin/packages/asagi/package.py
  var/spack/repos/builtin/packages/athena/package.py
  var/spack/repos/builtin/packages/atlas/package.py
  var/spack/repos/builtin/packages/ccs-qcd/package.py
  var/spack/repos/builtin/packages/fenics-dolfinx/package.py
  var/spack/repos/builtin/packages/g2/package.py
  var/spack/repos/builtin/packages/g2c/package.py
  var/spack/repos/builtin/packages/legion/package.py
  var/spack/repos/builtin/packages/libjpeg-turbo/package.py
  var/spack/repos/builtin/packages/mpi-serial/package.py
  var/spack/repos/builtin/packages/mpileaks/package.py
  var/spack/repos/builtin/packages/mpip/package.py
  var/spack/repos/builtin/packages/nalu-wind/package.py
  var/spack/repos/builtin/packages/nektools/package.py
  var/spack/repos/builtin/packages/openloops/package.py
  var/spack/repos/builtin/packages/psblas/package.py
  var/spack/repos/builtin/packages/pythia6/package.py
  var/spack/repos/builtin/packages/qthreads/package.py
  var/spack/repos/builtin/packages/quda/package.py
  var/spack/repos/builtin/packages/soci/package.py
Labels: directives, update-package, new-variant, core

#49843 Update package.py to add hypre release 2.33.0
  var/spack/repos/builtin/packages/hypre/package.py
Labels: new-version, update-package

#49814 py-black: add v24.4.0 -> 25.1.0
  lib/spack/spack/bootstrap/environment.py
  var/spack/repos/builtin/packages/py-aiohappyeyeballs/package.py
  var/spack/repos/builtin/packages/py-aiohttp/package.py
  var/spack/repos/builtin/packages/py-async-timeout/package.py
  var/spack/repos/builtin/packages/py-black/package.py
  var/spack/repos/builtin/packages/py-poetry-core/package.py
  var/spack/repos/builtin/packages/py-propcache/package.py
  var/spack/repos/builtin/packages/py-yarl/package.py
Labels: new-version, new-package, python, dependencies, update-package, core

#49682 Simplify a few methods in environments
  lib/spack/spack/environment/__init__.py
  lib/spack/spack/environment/environment.py
  lib/spack/spack/main.py
Labels: environments, core

#49833 precice: add v3.2.0
  var/spack/repos/builtin/packages/precice/package.py
Labels: new-version, update-package

#49801 deconwolf: new package
  var/spack/repos/builtin/packages/deconwolf/package.py
Labels: new-version, new-package, dependencies, patch

#49810 kokkos: add v4.6.00
  var/spack/repos/builtin/packages/kokkos-kernels/package.py
  var/spack/repos/builtin/packages/kokkos-nvcc-wrapper/package.py
  var/spack/repos/builtin/packages/kokkos/package.py
Labels: new-version, update-package

#49857 py-shapely: add v2.1.0
  var/spack/repos/builtin/packages/py-shapely/package.py
Labels: new-version, python, dependencies, update-package

#49852 wrf-io: add make test
  var/spack/repos/builtin/packages/wrf-io/package.py
Labels: update-package

#49851 g2: disable one problematic unit test for intel@:2022
  var/spack/repos/builtin/packages/g2/package.py
Labels: update-package

#49850 bufr: add v12.2.0 plus several updates
  var/spack/repos/builtin/packages/bufr/package.py
Labels: new-version, resources, update-package

#49856 py-keras: add v3.9.2
  var/spack/repos/builtin/packages/py-keras/package.py
Labels: new-version, python, update-package

#49860 ci: replace 'graviton3' with 'neoverse_v1'
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/configs/linux/neoverse_v1/ci.yaml
Labels: gitlab, core

#48517 ascent: add rocm capabilities
  var/spack/repos/builtin/packages/ascent/package.py
Labels: dependencies, update-package, conflicts

#49858 Add TotalView 2024.4 & 2025.1
  var/spack/repos/builtin/packages/totalview/package.py
Labels: new-version, update-package

#49756 spec_parser.py: concrete variants with `:=`
  lib/spack/docs/basic_usage.rst
  lib/spack/spack/solver/asp.py
  lib/spack/spack/spec.py
  lib/spack/spack/spec_parser.py
  lib/spack/spack/test/spec_semantics.py
  lib/spack/spack/test/spec_syntax.py
  lib/spack/spack/test/variant.py
  lib/spack/spack/variant.py
Labels: documentation, tests, stand-alone-tests, core

#49859 p4est: add v2.8.7
  var/spack/repos/builtin/packages/p4est/package.py
Labels: new-version, update-package

#49870 fix: intel compiler alias typo
  lib/spack/spack/aliases.py
Labels: core

#49879 test/variant.py: fix broken test
  lib/spack/spack/test/variant.py
  var/spack/repos/builtin.mock/packages/variant-values/package.py
Labels: tests, new-variant, core

#49882 conditional: fix value type
  lib/spack/spack/directives.py
Labels: directives, core, v0.23.2

#49886 go: add v1.24.2
  var/spack/repos/builtin/packages/go/package.py
Labels: new-version, update-package

#49878 seissol: add v1.3.1
  var/spack/repos/builtin/packages/seissol/package.py
Labels: new-version, dependencies, update-package

#49874 Update the "missing attribute in recipe" message
  lib/spack/spack/build_environment.py
Labels: build-environment, core

#49885 kokkos-tools: add cxx language dependency
  var/spack/repos/builtin/packages/kokkos-tools/package.py
Labels: dependencies, update-package

#49839 `spack test run`: add a `--timeout` argument
  lib/spack/spack/build_environment.py
  lib/spack/spack/ci/__init__.py
  lib/spack/spack/cmd/ci.py
  lib/spack/spack/cmd/test.py
  lib/spack/spack/install_test.py
  lib/spack/spack/package_base.py
  lib/spack/spack/test/build_environment.py
  share/spack/gitlab/cloud_pipelines/configs/ci.yaml
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
Labels: build-environment, tests, commands, shell-support, don't-merge-yet, update-package, gitlab, stand-alone-tests, core

#49887 libffi: add v3.4.7
  var/spack/repos/builtin/packages/libffi/package.py
Labels: question, new-version, update-package, conflicts

#47878 libxml2: add CMake builder and new version
  var/spack/repos/builtin/packages/libxml2/package.py
Labels: new-version, update-package

#49034 Add explicit path to zlib library to link to
  var/spack/repos/builtin/packages/libpng/package.py
Labels: update-package

#49888 ci: decrease style checks setup time
  .github/workflows/prechecks.yml
  .github/workflows/requirements/style/requirements.txt
Labels: workflow, core

#48609 kokkos: allow setting new gfx942_apu arch via apu variant
  var/spack/repos/builtin/packages/kokkos/package.py
Labels: update-package, conflicts, new-variant

#49713 legion: extend slingshot11 support
  var/spack/repos/builtin/packages/legion/package.py
Labels: dependencies, update-package

#49909 py-mplhep: add thru v0.3.59
  var/spack/repos/builtin/packages/py-mplhep/package.py
Labels: new-version, python, update-package

#49908 py-paramiko: add v3.5.1
  var/spack/repos/builtin/packages/py-paramiko/package.py
Labels: new-version, python, update-package

#49906 xtrans: add v1.6.0
  var/spack/repos/builtin/packages/xtrans/package.py
Labels: new-version, update-package

#49900 util-linux-uuid: add v2.41
  var/spack/repos/builtin/packages/util-linux-uuid/package.py
Labels: new-version, update-package

#49910 py-maturin: add v1.8.3
  var/spack/repos/builtin/packages/py-maturin/package.py
Labels: new-version, python, update-package

#49894 flux-sched: add v0.44.0
  var/spack/repos/builtin/packages/flux-sched/package.py
Labels: new-version, dependencies, update-package

#49932 libarchive: add thru v3.7.9
  var/spack/repos/builtin/packages/libarchive/package.py
Labels: new-version, dependencies, update-package

#49904 zstd: add v1.5.7
  var/spack/repos/builtin/packages/zstd/package.py
Labels: new-version, update-package

#49646 greenx: new package
  var/spack/repos/builtin/packages/greenx/package.py
Labels: new-version, new-package, dependencies, new-variant

#49789 cuDDN: Add versions 9.5.1, 9.6.0, 9.7.1 and 9.8.0
  var/spack/repos/builtin/packages/cudnn/package.py
Labels: update-package

#49935 docs: editor support config files
  lib/spack/docs/configuration.rst
Labels: documentation, core

#49873 compilers: add `.stdcxx_libs` to the compiler adaptor
  lib/spack/spack/compilers/adaptor.py
  var/spack/repos/builtin/packages/aocc/package.py
  var/spack/repos/builtin/packages/gcc/package.py
  var/spack/repos/builtin/packages/grackle/package.py
Labels: compilers, dependencies, update-package, bugfix, core

#49925 scitokens-cpp: add v1.1.3
  var/spack/repos/builtin/packages/scitokens-cpp/package.py
Labels: new-version, update-package

#49453 simdjson: new package
  var/spack/repos/builtin/packages/simdjson/package.py
Labels: new-version, new-package, dependencies, conflicts, new-variant

#49930 embree: add v4.4.0
  var/spack/repos/builtin/packages/embree/package.py
Labels: new-version, update-package

#49929 armadillo: add v14.4.1
  var/spack/repos/builtin/packages/armadillo/package.py
Labels: new-version, update-package

#49927 py-zope-interface: add thru v7.2
  var/spack/repos/builtin/packages/py-zope-interface/package.py
Labels: new-version, python, dependencies, update-package

#49926 r: add v4.4.3
  var/spack/repos/builtin/packages/r/package.py
Labels: new-version, R, update-package

#49924 soqt: depends on c
  var/spack/repos/builtin/packages/soqt/package.py
Labels: dependencies, update-package

#49903 py-torchgeo: add v0.7.0
  var/spack/repos/builtin/packages/py-pandas/package.py
  var/spack/repos/builtin/packages/py-torchgeo/package.py
Labels: new-version, python, dependencies, update-package, new-variant

#49923 spdlog: add v1.15.2
  var/spack/repos/builtin/packages/spdlog/package.py
Labels: new-version, update-package

#49922 vdt: add v0.4.5, v0.4.6
  var/spack/repos/builtin/packages/vdt/package.py
Labels: new-version, update-package

#49921 voms: add v2.1.2
  var/spack/repos/builtin/packages/voms/package.py
Labels: new-version, update-package

#49913 cmark: add v0.31.1
  var/spack/repos/builtin/packages/cmark/package.py
Labels: new-version, update-package

#49917 jwt-cpp: add v0.7.1
  var/spack/repos/builtin/packages/jwt-cpp/package.py
Labels: new-version, dependencies, update-package

#49916 dbus: add v1.16.2
  var/spack/repos/builtin/packages/dbus/package.py
Labels: new-version, update-package

#49915 cppgsl: add v4.2.0
  var/spack/repos/builtin/packages/cppgsl/package.py
Labels: new-version, update-package

#49811 trilinos: patch version 16.1.0 to build with +stk on MacOS
  var/spack/repos/builtin/packages/trilinos/16-1-0-stk-fpe-exceptions.patch
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: patch, update-package

#49948 lbzip2: change URL and deprecate
  var/spack/repos/builtin/packages/lbzip2/package.py
Labels: new-version, dependencies, update-package

#49912 apptainer: add v1.4.0
  var/spack/repos/builtin/packages/apptainer/package.py
Labels: new-version, dependencies, update-package, new-variant

#49911 py-kiwisolver: add v1.4.6, v1.4.7, v1.4.8
  var/spack/repos/builtin/packages/py-cppy/package.py
  var/spack/repos/builtin/packages/py-kiwisolver/package.py
Labels: new-version, python, dependencies, update-package

#49931 hep: root +arrow +emacs
  share/spack/gitlab/cloud_pipelines/stacks/hep/spack.yaml
Labels: gitlab, core

#49777 hep: build Geant4 with Qt5 and Qt6
  share/spack/gitlab/cloud_pipelines/stacks/hep/spack.yaml
Labels: gitlab, core

#49896 py-nbstripout: add v0.8.1
  var/spack/repos/builtin/packages/py-nbstripout/package.py
Labels: new-version, python, update-package

#49876 llvm: fix detecting flang variant
  var/spack/repos/builtin/packages/llvm/detection_test.yaml
  var/spack/repos/builtin/packages/llvm/package.py
Labels: update-package, bugfix

#49937 Duplicate libblas_patch --> liblapack_path in Coinhsl package
  var/spack/repos/builtin/packages/coinhsl/package.py
Labels: update-package

#49940 py-pyarrow: add depends_on c
  var/spack/repos/builtin/packages/py-pyarrow/package.py
Labels: python, dependencies, update-package

#49938 Set tpadioleau and nmm0 as mdspan maintainers
  var/spack/repos/builtin/packages/mdspan/package.py
Labels: update-package

#49955 py-torchmetrics: add v1.7.1
  var/spack/repos/builtin/packages/py-torchmetrics/package.py
Labels: new-version, python, patch, update-package

#49951 trilinos: depends on kokkos~cuda when ~cuda and kokkos~rocm when ~rocm
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: dependencies, update-package, conflicts

#49936 pumi: remove redundant compiler deps
  var/spack/repos/builtin/packages/pumi/package.py
Labels: update-package

#49735 h5z-zfp: update to use CMake
  var/spack/repos/builtin/packages/h5z-zfp/package.py
Labels: dependencies, update-package, new-variant

#49956 gcc/oneapi: inject runtime iff language virtual
  lib/spack/spack/solver/asp.py
  var/spack/repos/builtin.mock/packages/gcc/package.py
  var/spack/repos/builtin/packages/gcc/package.py
  var/spack/repos/builtin/packages/intel-oneapi-compilers/package.py
Labels: intel, update-package, core

#49945 py-pox: add v0.3.1 -> v0.3.5
  var/spack/repos/builtin/packages/py-pox/package.py
Labels: new-version, python, update-package

#49952 trilinos: patch stk to include cstddef for size_t error
  var/spack/repos/builtin/packages/trilinos/16-1-0-stk-size_t.patch
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: patch, update-package

#48819 Windows: add env name to prompts
  lib/spack/spack/environment/shell.py
Labels: environments, core

#49957 Add languages to PDI recipes
  var/spack/repos/builtin/packages/paraconf/package.py
  var/spack/repos/builtin/packages/pdi/package.py
  var/spack/repos/builtin/packages/pdiplugin-decl-hdf5/package.py
  var/spack/repos/builtin/packages/pdiplugin-decl-netcdf/package.py
  var/spack/repos/builtin/packages/pdiplugin-mpi/package.py
  var/spack/repos/builtin/packages/pdiplugin-pycall/package.py
  var/spack/repos/builtin/packages/pdiplugin-serialize/package.py
  var/spack/repos/builtin/packages/pdiplugin-set-value/package.py
  var/spack/repos/builtin/packages/pdiplugin-trace/package.py
  var/spack/repos/builtin/packages/pdiplugin-user-code/package.py
Labels: dependencies, update-package

#49962 go: add v1.23.8
  var/spack/repos/builtin/packages/go/package.py
Labels: new-version, update-package

#49961 py-litdata: new package
  var/spack/repos/builtin/packages/py-litdata/package.py
Labels: new-version, new-package, python, dependencies

#49872 libpng: add v1.6.47
  var/spack/repos/builtin/packages/libpng/package.py
Labels: new-version, dependencies, update-package

#49701 molgw: add v3.4
  var/spack/repos/builtin/packages/molgw/package.py
Labels: new-version, update-package, new-variant

#49963 gh: add v2.69.0
  var/spack/repos/builtin/packages/gh/package.py
Labels: new-version, dependencies, update-package

#49842 scotch: takes care IDXSIZE differs from INTSIZE even with cmake
  var/spack/repos/builtin/packages/scotch/package.py
Labels: update-package

#49987 util/environment.py: require string values in env mods
  lib/spack/spack/util/environment.py
  var/spack/repos/builtin/packages/groff/package.py
Labels: update-package, utilities, core

#49849 root's new RNTuple format can use daos backends
  share/spack/gitlab/cloud_pipelines/stacks/hep/spack.yaml
  var/spack/repos/builtin/packages/daos/package.py
  var/spack/repos/builtin/packages/dpdk/package.py
  var/spack/repos/builtin/packages/root/package.py
  var/spack/repos/builtin/packages/spdk/package.py
Labels: dependencies, update-package, gitlab, new-variant, core

#49817 Add `+axom` variant to the hiop spack package
  var/spack/repos/builtin/packages/hiop/package.py
Labels: dependencies, update-package, new-variant

#49997 Spack Develop: Fix warning
  lib/spack/spack/cmd/develop.py
Labels: commands, core

#49999 buildcache: Remove deprecated commands and arguments
  lib/spack/spack/cmd/buildcache.py
  lib/spack/spack/test/cmd/ci.py
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
Labels: tests, commands, shell-support, core

#49982 rocm ecosystem: deprecate master type versions
  var/spack/repos/builtin/packages/comgr/package.py
  var/spack/repos/builtin/packages/composable-kernel/package.py
  var/spack/repos/builtin/packages/hip-rocclr/package.py
  var/spack/repos/builtin/packages/hip-tensor/package.py
  var/spack/repos/builtin/packages/hip/package.py
  var/spack/repos/builtin/packages/hipblas/package.py
  var/spack/repos/builtin/packages/hipfft/package.py
  var/spack/repos/builtin/packages/hipify-clang/package.py
  var/spack/repos/builtin/packages/hiprand/package.py
  var/spack/repos/builtin/packages/hipsolver/package.py
  var/spack/repos/builtin/packages/hsa-rocr-dev/package.py
  var/spack/repos/builtin/packages/hsakmt-roct/package.py
  var/spack/repos/builtin/packages/llvm-amdgpu/package.py
  var/spack/repos/builtin/packages/omnitrace/package.py
  var/spack/repos/builtin/packages/rocblas/package.py
  var/spack/repos/builtin/packages/rocfft/package.py
  var/spack/repos/builtin/packages/rocm-bandwidth-test/package.py
  var/spack/repos/builtin/packages/rocm-clang-ocl/package.py
  var/spack/repos/builtin/packages/rocm-cmake/package.py
  var/spack/repos/builtin/packages/rocm-dbgapi/package.py
  var/spack/repos/builtin/packages/rocm-device-libs/package.py
  var/spack/repos/builtin/packages/rocm-opencl/package.py
  var/spack/repos/builtin/packages/rocm-smi-lib/package.py
  var/spack/repos/builtin/packages/rocminfo/package.py
  var/spack/repos/builtin/packages/rocprofiler-systems/package.py
  var/spack/repos/builtin/packages/rocrand/package.py
  var/spack/repos/builtin/packages/rocsolver/package.py
Labels: new-version, update-package

#49988 New package: musica
  var/spack/repos/builtin/packages/musica/package.py
Labels: new-version, new-package, dependencies, new-variant, stand-alone-tests

#50010 ci: Use explicit version of notary image
  share/spack/gitlab/cloud_pipelines/configs/ci.yaml
Labels: gitlab, core

#49986 podio: Make podio depend on fmt for newer versions
  var/spack/repos/builtin/packages/podio/package.py
Labels: dependencies, update-package

#49944 py-dill: add v0.3.7, v0.3.8, v0.3.9
  var/spack/repos/builtin/packages/py-dill/package.py
Labels: new-version, python, dependencies, patch, update-package

#50018 spec.py: remove exceptions of old concretizer
  lib/spack/spack/spec.py
Labels: core

#50019 solver: dump output specs to file if not satisfied
  lib/spack/spack/main.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/test/concretization/core.py
  lib/spack/spack/test/concretization/errors.py
Labels: tests, core

#50025 libcxi: add dependencies for autoreconf phase
  var/spack/repos/builtin/packages/libcxi/package.py
Labels: dependencies, update-package

#50011 solver: encode `%` as "build requirement", not as "dependency"
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/concretize.lp
  lib/spack/spack/test/concretization/core.py
  lib/spack/spack/test/concretization/requirements.py
Labels: compilers, concretization, tests, workflow, bugfix, core

#50003 fetch_strategy.py: show progress
  lib/spack/spack/fetch_strategy.py
  lib/spack/spack/test/fetch_strategy.py
Labels: fetching, tests, core

#50016 gslib: add shared library support
  var/spack/repos/builtin/packages/gslib/package.py
Labels: new-version, update-package, new-variant

#50032 gcc: add patch to allow building 14.2.0 with macOS 15.4+ SDK
  var/spack/repos/builtin/packages/gcc/package.py
Labels: patch, update-package

#49891 warpx, py-amrex: add v25.04
  var/spack/repos/builtin/packages/py-amrex/package.py
  var/spack/repos/builtin/packages/warpx/package.py
Labels: new-version, python, update-package

#50031 lammps: add versions 20250402 and 20240829.2
  var/spack/repos/builtin/packages/lammps/package.py
Labels: new-version, dependencies, update-package, conflicts

#50030 Clean up conditionals and patches by dropping experimental spack support for ESMF < 7.1.0r
  var/spack/repos/builtin/packages/esmf/darwin_dylib_install_name.patch
  var/spack/repos/builtin/packages/esmf/gcc.patch
  var/spack/repos/builtin/packages/esmf/intel.patch
  var/spack/repos/builtin/packages/esmf/mvapich2.patch
  var/spack/repos/builtin/packages/esmf/package.py
Labels: update-package

#50029 aocl-da & aocl-utils: fix missing compiler dependencies
  var/spack/repos/builtin/packages/aocl-da/package.py
  var/spack/repos/builtin/packages/aocl-utils/package.py
Labels: dependencies, update-package

#49652 Adding magma and cusolver build options to bml package
  var/spack/repos/builtin/packages/bml/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#50020 iconv: add a strong preference on libiconv by default
  etc/spack/defaults/packages.yaml
Labels: defaults, bugfix, core

#49946 py-ppft: add v1.7.6.5 -> v1.7.6.9
  var/spack/repos/builtin/packages/py-ppft/package.py
Labels: new-version, python, dependencies, update-package

#49947 py-multiprocess: add v0.70.13 -> v0.70.17
  var/spack/repos/builtin/packages/py-multiprocess/package.py
Labels: new-version, python, dependencies, update-package

#50013 Update default build type for benchmark recipe
  var/spack/repos/builtin/packages/benchmark/package.py
Labels: update-package

#50012 libEnsemble: add v1.5.0
  var/spack/repos/builtin/packages/py-libensemble/package.py
Labels: new-version, python, update-package

#49977 trilinos: update for kokkos and kokkos-kernels 4.6.00
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: dependencies, update-package

#49993 Fix dependency on C compiler for some packages to pass cmake or configure stage
  var/spack/repos/builtin/packages/bdsim/package.py
  var/spack/repos/builtin/packages/cppunit/package.py
  var/spack/repos/builtin/packages/genfit/package.py
  var/spack/repos/builtin/packages/py-pyqt5/package.py
  var/spack/repos/builtin/packages/vbfnlo/package.py
Labels: python, dependencies, update-package

#49980 py-grpcio: add v1.71.0
  var/spack/repos/builtin/packages/py-grpcio/package.py
Labels: new-version, python, update-package

#49974 Add openfast version 4.0.3
  var/spack/repos/builtin/packages/openfast/package.py
Labels: new-version, update-package

#49895 nag: nag provides fortran
  var/spack/repos/builtin/packages/nag/package.py
Labels: dependencies, virtual-dependencies, update-package

#49976 openblas: Fixes for Xcode 16.3
  var/spack/repos/builtin/packages/openblas/openblas-0.3.29-darwin-aarch64.patch
  var/spack/repos/builtin/packages/openblas/package.py
Labels: patch, update-package

#50035 mark glibc and musl as buildable false
  etc/spack/defaults/packages.yaml
Labels: defaults, core

#50034 use GNUMirrorPackage mixin for GNU packages
  var/spack/repos/builtin/packages/acct/package.py
  var/spack/repos/builtin/packages/freeipmi/package.py
  var/spack/repos/builtin/packages/gprofng-gui/package.py
  var/spack/repos/builtin/packages/grep/package.py
  var/spack/repos/builtin/packages/gzip/package.py
  var/spack/repos/builtin/packages/libmicrohttpd/package.py
  var/spack/repos/builtin/packages/libtasn1/package.py
  var/spack/repos/builtin/packages/termcap/package.py
  var/spack/repos/builtin/packages/which/package.py
Labels: update-package

#50017 gaudi: add v39.3, v39.4
  var/spack/repos/builtin/packages/gaudi/package.py
Labels: new-version, update-package
