Repository spack/spack, pull requests merged in 2025-10, with the labels that each got.

#50901 "spack mirror create -a" (mirror all) in parallel (continuation of #48411)
  lib/spack/docs/mirrors.rst
  lib/spack/spack/cmd/bootstrap.py
  lib/spack/spack/cmd/mirror.py
  lib/spack/spack/mirrors/utils.py
  lib/spack/spack/stage.py
  lib/spack/spack/test/cmd/bootstrap.py
  lib/spack/spack/test/cmd/mirror.py
  lib/spack/spack/test/mirror.py
  lib/spack/spack/test/packaging.py
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
Labels: documentation, tests, commands, shell-support, core

#51394 Update macos runners on GHA
  .github/workflows/bootstrap.yml
  .github/workflows/unit_tests.yaml
Labels: v1.0.3

#50708 Implement FIFO jobserver support
  lib/spack/spack/build_environment.py
  lib/spack/spack/installer.py
  lib/spack/spack/jobserver.py
  lib/spack/spack/test/cmd/ci.py
  lib/spack/spack/test/installer.py
  var/spack/test_repos/spack_repo/builtin_mock/packages/ninja/package.py
Labels: compilers, new-version, new-package, python, documentation, dependencies, fetching, build-environment, defaults, tests, commands, versions, shell-support, patch, update-package, docker, binary-packages, conflicts, libraries, utilities, workflow, gitlab, new-variant, stand-alone-tests, core

#51261 Add support for `<key>=*` for architecture-related variants
  lib/spack/spack/spec.py
  lib/spack/spack/test/spec_semantics.py
Labels: bugfix
