Repository spack/spack, pull requests merged in 2025-01, with the labels that each got.

#48322 py-jedi: fix python dependency constraints
  var/spack/repos/builtin/packages/py-jedi/package.py
Labels: python, dependencies, update-package

#47942 node-js: less strict python requirement for newer versions of node-js
  var/spack/repos/builtin/packages/node-js/package.py
Labels: new-version, dependencies, update-package

#48298 oxide-rs: new-package
  lib/spack/spack/build_systems/cargo.py
  var/spack/repos/builtin/packages/oxide-rs/package.py
Labels: new-version, new-package, build-systems, core

#48350 node-js: always depend on some python, regardless of lower/upper limits
  var/spack/repos/builtin/packages/node-js/package.py
Labels: dependencies, update-package

#48358 zoltan: Fix buliding with gcc@14 and ifx.
  var/spack/repos/builtin/packages/zoltan/package.py
Labels: update-package

#48324 paraview: add v5.13.2
  var/spack/repos/builtin/packages/paraview/package.py
Labels: new-version, update-package

#48332 geant4: fix bad patch for 10.x
  var/spack/repos/builtin/packages/geant4/columns-10.patch
  var/spack/repos/builtin/packages/geant4/columns-11.patch
  var/spack/repos/builtin/packages/geant4/package.py
Labels: patch, update-package

#48287 py-uvicorn: add v0.27.1
  var/spack/repos/builtin/packages/py-uvicorn/package.py
Labels: new-version, python, dependencies, update-package

#48301 traverse_topo_edges: keep list of visited edges
  lib/spack/spack/build_environment.py
  lib/spack/spack/traverse.py
Labels: build-environment, core

#48331 fuse-overlayfs: add v1.14
  var/spack/repos/builtin/packages/fuse-overlayfs/package.py
Labels: new-version, update-package

#48382 xxhash: add v0.8.3
  var/spack/repos/builtin/packages/xxhash/package.py
Labels: new-version, update-package

#48362 tests: remove file requirement
  lib/spack/spack/test/bindist.py
  lib/spack/spack/test/relocate.py
  lib/spack/spack/test/rewiring.py
Labels: tests, core

#48386 gromacs: remove dependency on Fortran
  var/spack/repos/builtin/packages/gromacs/package.py
Labels: dependencies, update-package

#47941 Disable py-numpy AVX512 instructions when compiled with Intel
  var/spack/repos/builtin/packages/py-numpy/package.py
Labels: new-version, python, patch, update-package

#48326 Add ExprTk package
  var/spack/repos/builtin/packages/exprtk/package.py
Labels: new-version, new-package, dependencies, maintainers

#40932 feat: add HEP cloud_pipeline stack
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
  share/spack/gitlab/cloud_pipelines/configs/linux/ci.yaml
  share/spack/gitlab/cloud_pipelines/stacks/hep/spack.yaml
  var/spack/repos/builtin/packages/gaudi/package.py
Labels: dependencies, update-package, conflicts, gitlab, core

#48363 kokkos and kokkos-kernels - add v4.5.01
  var/spack/repos/builtin/packages/kokkos-kernels/package.py
  var/spack/repos/builtin/packages/kokkos/package.py
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: new-version, dependencies, xSDK, update-package

#48359 Avoid trailing slashes in strings
  lib/spack/spack/bootstrap/core.py
  lib/spack/spack/ci/common.py
  lib/spack/spack/test/config.py
  lib/spack/spack/test/spec_syntax.py
  lib/spack/spack/util/compression.py
  var/spack/repos/builtin/packages/abacus/package.py
  var/spack/repos/builtin/packages/axl/package.py
  var/spack/repos/builtin/packages/babelstream/package.py
  var/spack/repos/builtin/packages/berkeleygw/package.py
  var/spack/repos/builtin/packages/breakdancer/package.py
  var/spack/repos/builtin/packages/cbtf-argonavis/package.py
  var/spack/repos/builtin/packages/cbtf-krell/package.py
  var/spack/repos/builtin/packages/charmpp/package.py
  var/spack/repos/builtin/packages/flamemaster/package.py
  var/spack/repos/builtin/packages/fujitsu-ssl2/package.py
  var/spack/repos/builtin/packages/fxt/package.py
  var/spack/repos/builtin/packages/graphblast/package.py
  var/spack/repos/builtin/packages/gunrock/package.py
  var/spack/repos/builtin/packages/hermes-shm/package.py
  var/spack/repos/builtin/packages/isaac-server/package.py
  var/spack/repos/builtin/packages/likwid/package.py
  var/spack/repos/builtin/packages/llvm-openmp-ompt/package.py
  var/spack/repos/builtin/packages/namd/package.py
  var/spack/repos/builtin/packages/openradioss-engine/package.py
  var/spack/repos/builtin/packages/openradioss-starter/package.py
  var/spack/repos/builtin/packages/openspeedshop-utils/package.py
  var/spack/repos/builtin/packages/openspeedshop/package.py
  var/spack/repos/builtin/packages/parallel-netcdf/package.py
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/pumi/package.py
  var/spack/repos/builtin/packages/qscintilla/package.py
  var/spack/repos/builtin/packages/riscv-gnu-toolchain/package.py
  var/spack/repos/builtin/packages/rocprofiler-dev/package.py
  var/spack/repos/builtin/packages/rocsolver/package.py
  var/spack/repos/builtin/packages/scr/package.py
  var/spack/repos/builtin/packages/thornado-mini/package.py
  var/spack/repos/builtin/packages/wgl/package.py
  var/spack/repos/builtin/packages/win-sdk/package.py
  var/spack/repos/builtin/packages/xdelta/package.py
Labels: tests, update-package, utilities, core

#48393 py-scipy: add v1.15.0
  var/spack/repos/builtin/packages/py-scipy/package.py
Labels: new-version, python, dependencies, update-package

#48390 heppdt: patch for broken test
  var/spack/repos/builtin/packages/heppdt/package.py
Labels: update-package

#48388 cfitsio: add v4.4.1, v4.5.0; variant +fortran
  var/spack/repos/builtin/packages/cfitsio/package.py
Labels: new-version, dependencies, update-package, new-variant

#48279 add new version of py-apscheduler
  var/spack/repos/builtin/packages/py-apscheduler/package.py
Labels: new-version, python, update-package

#48381 rust: add v1.83.0
  var/spack/repos/builtin/packages/rust-bootstrap/package.py
  var/spack/repos/builtin/packages/rust/package.py
Labels: new-version, update-package

#48380 py-python-lsp-server: add v1.11.0
  var/spack/repos/builtin/packages/py-python-lsp-server/package.py
Labels: new-version, python, dependencies, update-package

#48379 kubernetes: add v1.32.0
  var/spack/repos/builtin/packages/kubernetes/package.py
Labels: new-version, dependencies, update-package

#48378 kubectl: add v1.32.0
  var/spack/repos/builtin/packages/kubectl/package.py
Labels: new-version, dependencies, update-package

#48354 py-pillow: add v11.1.0
  var/spack/repos/builtin/packages/py-pillow/package.py
Labels: new-version, python, update-package

#48377 hugo: add v0.140.2
  var/spack/repos/builtin/packages/hugo/package.py
Labels: new-version, update-package

#48376 gopls: add v0.17.1
  var/spack/repos/builtin/packages/gopls/package.py
Labels: new-version, dependencies, update-package

#48375 goimports: add v0.28.0
  var/spack/repos/builtin/packages/goimports/package.py
Labels: new-version, dependencies, update-package

#48372 glab: add v1.51.0
  var/spack/repos/builtin/packages/glab/package.py
Labels: new-version, update-package

#48371 py-particle: add v0.25.[0-2]
  var/spack/repos/builtin/packages/py-particle/package.py
Labels: new-version, python, update-package

#48370 fzf: add v0.57.0
  var/spack/repos/builtin/packages/fzf/package.py
Labels: new-version, update-package

#48369 curl: add v8.11.1
  var/spack/repos/builtin/packages/curl/package.py
Labels: new-version, update-package

#48333 pmix: add v5.0.4, v5.0.5
  var/spack/repos/builtin/packages/pmix/package.py
Labels: new-version, update-package

#48177 zlib-ng: add v2.2.2, v2.2.3
  var/spack/repos/builtin/packages/zlib-ng/package.py
Labels: new-version, update-package

#48344 flux-sched: add 0.40.0
  var/spack/repos/builtin/packages/flux-sched/package.py
Labels: new-version, update-package

#48345 flux-security: add 0.13.0
  var/spack/repos/builtin/packages/flux-security/package.py
Labels: new-version, update-package

#48367 tcsh: add v6.24.10, v6.24.14
  var/spack/repos/builtin/packages/tcsh/package.py
Labels: new-version, update-package

#48368 typos: new package
  var/spack/repos/builtin/packages/typos/package.py
Labels: new-version, new-package

#48355 lammps: add missing extra-command variant
  var/spack/repos/builtin/packages/lammps/package.py
Labels: update-package

#48339 google-cloud-cli: add v504.0.1, document Python version support
  var/spack/repos/builtin/packages/google-cloud-cli/package.py
Labels: dependencies, update-package

#48340 py-earthengine-api: add v1.4.3
  var/spack/repos/builtin/packages/py-earthengine-api/package.py
Labels: new-version, python, update-package

#48349 bash: add patches 27 to 37
  var/spack/repos/builtin/packages/bash/package.py
Labels: update-package

#48330 apptainer: add v1.3.5, v1.3.6
  var/spack/repos/builtin/packages/apptainer/package.py
Labels: new-version, update-package

#48343 readline: 12 more upstream patches
  var/spack/repos/builtin/packages/readline/package.py
Labels: update-package

#48348 gettext: add v0.23.1
  var/spack/repos/builtin/packages/gettext/package.py
Labels: new-version, update-package

#48241 linaro-forge: add v24.1.1
  var/spack/repos/builtin/packages/linaro-forge/package.py
Labels: new-version, update-package

#48247 gsoap: depends_on autoconf etc type build
  var/spack/repos/builtin/packages/gsoap/package.py
Labels: dependencies, update-package

#48323 R: ensure Makeconf has full libs directories
  var/spack/repos/builtin/packages/icu4c/package.py
  var/spack/repos/builtin/packages/r/package.py
Labels: R, update-package, libraries

#48309 nlopt: add v2.9.1 (supports python@3.13)
  var/spack/repos/builtin/packages/nlopt/package.py
Labels: new-version, dependencies, update-package

#45571 xkeyboard-config: add xkbdata provider
  etc/spack/defaults/packages.yaml
  var/spack/repos/builtin/packages/libxkbcommon/package.py
  var/spack/repos/builtin/packages/xkbdata/package.py
  var/spack/repos/builtin/packages/xkeyboard-config/package.py
Labels: dependencies, defaults, virtual-dependencies, update-package, core, needs-minor-cleanup

#48335 go: add v1.23.4
  var/spack/repos/builtin/packages/go/package.py
Labels: new-version, update-package

#48282 latex2html: add v2024.2
  var/spack/repos/builtin/packages/latex2html/package.py
Labels: new-version, update-package

#47879 gobject-introspection: patch to import setuptools before distutils
  var/spack/repos/builtin/packages/gobject-introspection/package.py
  var/spack/repos/builtin/packages/gobject-introspection/setuptools.patch
Labels: dependencies, patch, update-package

#48271 ocaml: new version LTS 4.14.2 and latest 5.2.1
  var/spack/repos/builtin/packages/ocaml/package.py
Labels: new-version, update-package

#48230 py-torchgeo: add v0.6.2
  var/spack/repos/builtin/packages/py-torchgeo/package.py
Labels: new-version, python, update-package, conflicts

#48263 jsoncpp: add v1.9.6
  var/spack/repos/builtin/packages/jsoncpp/package.py
Labels: new-version, dependencies, update-package

#48147 qt: add v5.15.16
  var/spack/repos/builtin/packages/qt/package.py
Labels: new-version, update-package

#48249 py-lightning: add v2.5.0
  var/spack/repos/builtin/packages/py-lightning/package.py
Labels: new-version, python, update-package

#48248 sundials: add v7.2.1
  var/spack/repos/builtin/packages/sundials/package.py
Labels: new-version, update-package

#48397 Revert "CI: Move the build stage to the project root instead of tmp"
  share/spack/gitlab/cloud_pipelines/configs/config.yaml
Labels: hotfix, gitlab, core

#48356 python: add v3.12.8, v3.13.1
  var/spack/repos/builtin/packages/python/package.py
Labels: new-version, python, update-package

#48220 mapl: add v2.51.2
  var/spack/repos/builtin/packages/mapl/package.py
Labels: new-version, update-package

#48387 RCCL: only build tests when requested
  var/spack/repos/builtin/packages/rccl/package.py
Labels: dependencies, update-package

#48395 snakemake: skip_modules = snakemake.common.tests
  var/spack/repos/builtin/packages/snakemake/package.py
Labels: update-package

#48168 Update openmpi/package.py to allow for non-standard cxx name
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: update-package

#48306 neko: add v0.9.1 and fix package (deprecating old versions)
  var/spack/repos/builtin/packages/neko/package.py
Labels: new-version, update-package

#48272 ocamlbuild: new versions 0.14.1 accepts ocaml 5.0, 0.14.3 ocaml 5.2 l…
  var/spack/repos/builtin/packages/ocamlbuild/package.py
Labels: new-version, dependencies, update-package

#48416 Add spack API warning with file/line
  lib/spack/spack/error.py
  lib/spack/spack/main.py
Labels: core

#48415 alpgen: update website
  var/spack/repos/builtin/packages/alpgen/package.py
Labels: update-package

#48417 cmd/__init__.py: pass tests in case n=1
  lib/spack/spack/cmd/__init__.py
  lib/spack/spack/concretize.py
Labels: commands, core, v0.23.1

#48141 rivet, yoda: Add new versions with back-port fixes
  var/spack/repos/builtin/packages/rivet/package.py
  var/spack/repos/builtin/packages/yoda/package.py
Labels: new-version, dependencies, update-package, conflicts

#48408 gh: check_args needs ./... and some skipped tests
  var/spack/repos/builtin/packages/gh/package.py
Labels: update-package

#48112 podman: add v4.6.2, 4.7.2, 4.8.3, 4.9.3
  var/spack/repos/builtin/packages/podman/package.py
Labels: new-version, update-package, waiting-on-maintainer

#48264 thepeg: restrict rivet versions; evtgen: new variant sherpa
  var/spack/repos/builtin/packages/evtgen/package.py
  var/spack/repos/builtin/packages/herwig3/package.py
  var/spack/repos/builtin/packages/thepeg/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#48285 py-typer: add v0.5.0
  var/spack/repos/builtin/packages/py-typer/package.py
Labels: new-version, python, update-package

#48425 Remove `spack.config.add_default_platform_scope`
  lib/spack/spack/config.py
  lib/spack/spack/test/conftest.py
Labels: tests, core

#47883 py-py-spy: add 0.4.0, and make rust & `CargoPackage` respect `-j`
  lib/spack/spack/build_systems/cargo.py
  var/spack/repos/builtin/packages/py-py-spy/package.py
  var/spack/repos/builtin/packages/rust/package.py
Labels: new-version, python, update-package, build-systems, core

#47864 Add support for espresso 4.2.x
  var/spack/repos/builtin/packages/py-espresso/package.py
Labels: new-version, python, dependencies, update-package, conflicts, new-variant

#48273 hevea: new version 2.36 accepts ocaml 5 series
  var/spack/repos/builtin/packages/hevea/package.py
Labels: new-version, dependencies, update-package, conflicts

#48422 py-click: add v8.1.8 (switch to flit-core)
  var/spack/repos/builtin/packages/py-click/package.py
Labels: new-version, python, dependencies, update-package

#48429 slate: Fixing description
  var/spack/repos/builtin/packages/slate/package.py
Labels: update-package

#48410 py-deepdiff: add through v8.1.1
  var/spack/repos/builtin/packages/py-deepdiff/package.py
  var/spack/repos/builtin/packages/py-orderly-set/package.py
Labels: new-version, new-package, python, dependencies, update-package

#48407 py-rucio-clients: add through v36.0.0.post2
  var/spack/repos/builtin/packages/py-rucio-clients/package.py
Labels: new-version, python, dependencies, update-package

#48405 XNNPACK: add new versions, pin resources
  var/spack/repos/builtin/packages/xnnpack/package.py
Labels: new-version, dependencies, resources, update-package, conflicts

#48403 wayland: add v1.23.0, v1.23.1; wayland-protocols: add v1.38, v1.39
  var/spack/repos/builtin/packages/wayland-protocols/package.py
  var/spack/repos/builtin/packages/wayland/package.py
Labels: new-version, dependencies, update-package

#48401 py-six: add v1.17.0
  var/spack/repos/builtin/packages/py-six/package.py
Labels: new-version, python, dependencies, update-package

#48124 libxml2: add version 2.13.5 and variant http
  var/spack/repos/builtin/packages/libxml2/package.py
Labels: new-version, update-package, new-variant, waiting-on-maintainer

#48223 additivefoam: update build scripts for main
  var/spack/repos/builtin/packages/additivefoam/assets/assets_1.0.0/Allwmake
  var/spack/repos/builtin/packages/additivefoam/assets/assets_1.0.0/applications/Allwmake
  var/spack/repos/builtin/packages/additivefoam/assets/assets_main/Allwmake
  var/spack/repos/builtin/packages/additivefoam/assets/assets_main/applications/Allwmake
  var/spack/repos/builtin/packages/additivefoam/package.py
Labels: update-package, approved-by-maintainer

#48419 edm4hep: Add lower clang version bounds
  var/spack/repos/builtin/packages/edm4hep/package.py
Labels: update-package, conflicts

#48418 compiler.py: deal with temporarily broken compiler
  lib/spack/spack/compiler.py
Labels: compilers, core

#48433 util-linux: add missing include for errno.h
  var/spack/repos/builtin/packages/util-linux/missing-errno-header.patch
  var/spack/repos/builtin/packages/util-linux/package.py
Labels: patch, update-package

#48437 Perl build system: add a dependency on gmake
  lib/spack/spack/build_systems/perl.py
  share/spack/gitlab/cloud_pipelines/stacks/build_systems/spack.yaml
Labels: dependencies, build-systems, gitlab, core, extends

#48067 Revert not exporting rpaths to CMakeCache in CachedCMakePackages
  lib/spack/spack/build_systems/cached_cmake.py
Labels: build-environment, build-systems, core

#48459 directory_layout: types and remove kwargs
  lib/spack/spack/directory_layout.py
  lib/spack/spack/test/bindist.py
Labels: tests, core

#48462 warnings.showwarning: set earlier
  lib/spack/spack/main.py
Labels: core

#48463 config.py: deprecate config:install_path_scheme
  lib/spack/docs/config_yaml.rst
  lib/spack/spack/schema/config.py
Labels: documentation, core

#48385 ninja: support tests for 1.12 and later
  var/spack/repos/builtin/packages/ninja/package.py
Labels: dependencies, resources, patch, update-package

#48310 geant4-data: support G4TENDL
  var/spack/repos/builtin/packages/geant4-data/package.py
Labels: dependencies, update-package, conflicts, new-variant

#48460 directory_layout.py: remove dependency on spack.store.STORE global
  lib/spack/spack/directory_layout.py
Labels: tests, core

#48328 googletest: new version, absl support, c++20 flag
  var/spack/repos/builtin/packages/abseil-cpp/package.py
  var/spack/repos/builtin/packages/googletest/package.py
Labels: new-version, dependencies, update-package, new-variant

#48383 py-neo4j: new package
  var/spack/repos/builtin/packages/py-neo4j/package.py
Labels: new-version, new-package, python, dependencies

#48125 libspatialite: fix for newer libxml2
  var/spack/repos/builtin/packages/libspatialite/package.py
Labels: dependencies, update-package

#48449 root: Patch range restriction and gcc lower bound
  var/spack/repos/builtin/packages/root/package.py
Labels: update-package, conflicts

#48473 py-segmentation-models-pytorch: add v0.4.0
  var/spack/repos/builtin/packages/py-segmentation-models-pytorch/package.py
Labels: new-version, python, dependencies, update-package

#48471 py-iminuit: new versions through v2.30.1
  var/spack/repos/builtin/packages/py-iminuit/package.py
Labels: new-version, python, dependencies, update-package

#48472 toybox: new package
  var/spack/repos/builtin/packages/toybox/package.py
Labels: new-version, new-package, dependencies, patch, conflicts, new-variant

#48476 libmesh: add newer versions up to 1.7.6
  var/spack/repos/builtin/packages/libmesh/package.py
Labels: new-version, update-package

#48483 mold: Add 2.36.0
  var/spack/repos/builtin/packages/mold/package.py
Labels: new-version, update-package

#48474 py-timm: add v1.0.12
  var/spack/repos/builtin/packages/py-timm/package.py
Labels: new-version, python, dependencies, update-package

#48470 ocaml: compile versions before 4.8.0 again - correct regression for old versions
  var/spack/repos/builtin/packages/ocaml/package.py
Labels: update-package

#48461 py-keras: add v3.8.0, remove optional deps
  var/spack/repos/builtin/packages/py-keras/package.py
Labels: new-version, python, update-package

#48162 llvm: add v19.1.6
  var/spack/repos/builtin/packages/llvm/package.py
Labels: new-version, update-package

#48468 Add type hints to `spack.util.executable.Executable`
  .github/workflows/requirements/style/requirements.txt
  .github/workflows/valid-style.yml
  lib/spack/spack/util/executable.py
Labels: compilers, utilities, workflow, core

#48493 verilator: add v5.032
  var/spack/repos/builtin/packages/verilator/package.py
Labels: new-version, update-package

#48439 lmod: add v8.7.55
  var/spack/repos/builtin/packages/lmod/package.py
Labels: new-version, update-package

#47784 py-stevedore: add v5.0.0 -> v5.4.0
  var/spack/repos/builtin/packages/py-stevedore/package.py
Labels: new-version, python, update-package

#48465 acts dependencies: new versions as of 2025/01/08
  var/spack/repos/builtin/packages/acts-algebra-plugins/package.py
  var/spack/repos/builtin/packages/acts/package.py
  var/spack/repos/builtin/packages/detray/package.py
Labels: new-version, dependencies, update-package

#48423 amrex: add v25.01
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, dependencies, update-package

#48486 toybox: depend on virtual zlib
  var/spack/repos/builtin/packages/toybox/package.py
Labels: dependencies, update-package

#48480 armadillo: add v14.2.2
  var/spack/repos/builtin/packages/armadillo/package.py
Labels: new-version, dependencies, update-package, new-variant

#48445 rust: fix dependency version constraint
  var/spack/repos/builtin/packages/rust/package.py
Labels: dependencies, update-package

#48334 mlpack: add v4.5.1
  var/spack/repos/builtin/packages/mlpack/package.py
Labels: new-version, dependencies, update-package, new-variant

#48478 Comment out py-arrow@1.3.0 because of build errors with basic gcc stack
  var/spack/repos/builtin/packages/py-arrow/package.py
Labels: python, update-package

#48488 binary_distribution: stop relocating tarballs with relative rpaths
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/relocate.py
  lib/spack/spack/rewiring.py
  lib/spack/spack/test/packaging.py
  lib/spack/spack/test/relocate.py
Labels: tests, binary-packages, breaking-change, core

#48484 binary_distribution: improve deps_to_relocate
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/rewiring.py
Labels: binary-packages, core

#48501 llvm: minimal fix for `llvm_config` method
  var/spack/repos/builtin/packages/llvm/package.py
Labels: update-package

#48316 chai: add dependency on C
  var/spack/repos/builtin/packages/chai/package.py
Labels: dependencies, update-package

#48315 palace: add a dependency on c
  var/spack/repos/builtin/packages/palace/package.py
Labels: dependencies, update-package

#48500 dftd4: add v3.6.0 and v3.7.0, update URL
  var/spack/repos/builtin/packages/dftd4/package.py
Labels: new-version, update-package

#48503 executable.py: fix overlapping overload set
  lib/spack/spack/util/executable.py
Labels: utilities, workflow, core

#48426 py-nvitop: new package
  var/spack/repos/builtin/packages/py-nvitop/package.py
Labels: new-version, new-package, python, dependencies, conflicts

#48467 Add subscript notation to packages
  lib/spack/spack/package_base.py
  lib/spack/spack/test/package_class.py
  var/spack/repos/builtin/packages/cp2k/package.py
  var/spack/repos/builtin/packages/glvis/package.py
  var/spack/repos/builtin/packages/gromacs/package.py
  var/spack/repos/builtin/packages/laghos/package.py
  var/spack/repos/builtin/packages/mfem/package.py
  var/spack/repos/builtin/packages/namd/package.py
  var/spack/repos/builtin/packages/nfft/package.py
  var/spack/repos/builtin/packages/openvdb/package.py
  var/spack/repos/builtin/packages/osmesa/package.py
  var/spack/repos/builtin/packages/pnfft/package.py
  var/spack/repos/builtin/packages/py-pyqt4/package.py
  var/spack/repos/builtin/packages/py-sip/package.py
  var/spack/repos/builtin/packages/qgis/package.py
  var/spack/repos/builtin/packages/qscintilla/package.py
  var/spack/repos/builtin/packages/remhos/package.py
  var/spack/repos/builtin/packages/tau/package.py
Labels: python, tests, update-package, core

#48052 Add py-protobuf@4.24.4, py-cylc-flow@8.3.6, py-metomi-rose@2.3.2, py-cylc-rose@1.4.2, py-cylc-uiserver@1.4.2
  var/spack/repos/builtin/packages/py-cylc-flow/package.py
  var/spack/repos/builtin/packages/py-cylc-rose/package.py
  var/spack/repos/builtin/packages/py-cylc-uiserver/package.py
  var/spack/repos/builtin/packages/py-metomi-rose/package.py
  var/spack/repos/builtin/packages/py-protobuf/package.py
Labels: new-version, python, dependencies, update-package

#48154 r-sparsematrixstats: add new versions
  var/spack/repos/builtin/packages/r-sparsematrixstats/package.py
Labels: new-version, R, dependencies, update-package

#47824 py-netcdf4: new version and fix variant
  var/spack/repos/builtin/packages/py-netcdf4/package.py
Labels: new-version, python, dependencies, patch, update-package

#48157 r-deseq2: add v1.42.0, v1.44.0, v1.46.0
  var/spack/repos/builtin/packages/r-deseq2/package.py
Labels: new-version, R, update-package

#48450 Deprecate `module.make`, etc. defined by `spack.build_environment`
  lib/spack/spack/build_environment.py
  lib/spack/spack/build_systems/qmake.py
  lib/spack/spack/package_base.py
  lib/spack/spack/test/build_systems.py
  lib/spack/spack/test/make_executable.py
  var/spack/repos/builtin.mock/packages/gmake/package.py
  var/spack/repos/builtin/packages/clingo-bootstrap/package.py
  var/spack/repos/builtin/packages/fltk/package.py
  var/spack/repos/builtin/packages/gmake/package.py
  var/spack/repos/builtin/packages/mfem/package.py
  var/spack/repos/builtin/packages/ninja-fortran/package.py
  var/spack/repos/builtin/packages/ninja/package.py
  var/spack/repos/builtin/packages/qt/package.py
  var/spack/repos/builtin/packages/rocm-openmp-extras/package.py
  var/spack/repos/builtin/packages/slepc/package.py
  var/spack/repos/builtin/packages/suite-sparse/package.py
Labels: compilers, dependencies, build-environment, tests, update-package, utilities, build-systems, core

#48508 py-mypy: add v1.13.0 and v1.14.1
  var/spack/repos/builtin/packages/py-mypy/package.py
  var/spack/repos/builtin/packages/py-radical-utils/package.py
  var/spack/repos/builtin/packages/py-setuptools/package.py
Labels: new-version, python, dependencies, update-package

#48535 add undeclared gmake dependencies
  var/spack/repos/builtin/packages/bwa/package.py
  var/spack/repos/builtin/packages/environment-modules/package.py
  var/spack/repos/builtin/packages/gasnet/package.py
  var/spack/repos/builtin/packages/ncdu/package.py
  var/spack/repos/builtin/packages/quantum-espresso/package.py
  var/spack/repos/builtin/packages/samtools/package.py
  var/spack/repos/builtin/packages/seqtk/package.py
  var/spack/repos/builtin/packages/upcxx/package.py
Labels: dependencies, update-package

#48533 Fix pkgconfig dependencies
  var/spack/repos/builtin/packages/bigdft-chess/package.py
  var/spack/repos/builtin/packages/bigdft-core/package.py
  var/spack/repos/builtin/packages/bigdft-psolver/package.py
  var/spack/repos/builtin/packages/bigdft-spred/package.py
  var/spack/repos/builtin/packages/cgsi-gsoap/package.py
  var/spack/repos/builtin/packages/gocryptfs/package.py
  var/spack/repos/builtin/packages/psrdada/package.py
  var/spack/repos/builtin/packages/typst/package.py
Labels: dependencies, update-package

#48502 binary_distribution.py: stop relocation old /bin/bash sbang shebang
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/filesystem_view.py
  lib/spack/spack/test/bindist.py
  var/spack/repos/builtin.mock/packages/old-sbang/package.py
Labels: tests, binary-packages, sbang, core

#48532 lcio: add v2.22.3
  var/spack/repos/builtin/packages/lcio/package.py
Labels: new-version, update-package

#48516 vbfnlo: deprecated 3.0.0beta* since 3.0 < 3.0.0beta
  var/spack/repos/builtin/packages/vbfnlo/package.py
Labels: new-version, update-package

#48522 py-kornia: add v0.8.0
  var/spack/repos/builtin/packages/py-kornia/package.py
Labels: new-version, python, update-package

#48270 py-rich-click: added new versions and depdendencies
  var/spack/repos/builtin/packages/py-rich-click/package.py
Labels: new-version, python, dependencies, update-package

#48529 dcap: depends_on openssl and zlib-api
  var/spack/repos/builtin/packages/dcap/package.py
Labels: dependencies, update-package

#48525 py-scikit-learn: add v1.6.1
  var/spack/repos/builtin/packages/py-scikit-learn/package.py
Labels: new-version, python, update-package

#48523 py-scipy: add v1.15.1
  var/spack/repos/builtin/packages/py-scipy/package.py
Labels: new-version, python, update-package
