Repository spack/spack, pull requests merged in 2025-02, with the labels that each got.

#48756 py-sphinx-rtd-theme: add v2.0.0, v3.0.0
  var/spack/repos/builtin/packages/py-sphinx-rtd-theme/package.py
Labels: new-version, python, dependencies, update-package

#48489 CP2K: add 2025.1 version and DFTD4 support
  var/spack/repos/builtin/packages/cp2k/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant, waiting-on-maintainer

#48783 Respect system proxy settings in oci opener
  lib/spack/spack/oci/opener.py
Labels: core, v0.23.1

#48813 vtk-m: CMAKE_CXX_COMPILER is not a BOOL
  var/spack/repos/builtin/packages/vtk-m/package.py
Labels: update-package

#48826 gcc: remove --with-ld=ld-classic
  var/spack/repos/builtin/packages/gcc/package.py
Labels: update-package

#48582 nanotron: add new package
  var/spack/repos/builtin/packages/py-dacite/package.py
  var/spack/repos/builtin/packages/py-datasets/package.py
  var/spack/repos/builtin/packages/py-nanotron/package.py
  var/spack/repos/builtin/packages/py-safetensors/package.py
Labels: new-version, new-package, python, dependencies, update-package, new-variant

#48392 embree: fix tests by building tutorial's embree_viewer for tests
  var/spack/repos/builtin/packages/embree/package.py
Labels: update-package

#48825 import-check: improve how problematic imports are displayed
  .github/workflows/valid-style.yml
Labels: workflow, core

#48832 spack_yaml: use unambiguous variable name
  lib/spack/spack/util/spack_yaml.py
Labels: utilities, core

#48791 Set version to v1.0.0.dev0
  lib/spack/spack/__init__.py
Labels: core

#48842 import-check: enable color output
  .github/workflows/valid-style.yml
Labels: workflow, core

#48816 berkeleygw: add -o flag to tar extraction
  var/spack/repos/builtin/packages/berkeleygw/package.py
Labels: update-package

#48762 llvm: deprecate old patch releases
  var/spack/repos/builtin/packages/creduce/package.py
  var/spack/repos/builtin/packages/llvm/package.py
Labels: new-version, dependencies, update-package

#48708 cuda: Add 12.8 with Blackwell support
  lib/spack/spack/build_systems/cuda.py
  var/spack/repos/builtin/packages/cuda/package.py
  var/spack/repos/builtin/packages/cusz/package.py
  var/spack/repos/builtin/packages/cusz/thrust-includes-0.9.patch
  var/spack/repos/builtin/packages/cusz/thrust-includes.patch
  var/spack/repos/builtin/packages/libpressio/package.py
  var/spack/repos/builtin/packages/petsc/package.py
  var/spack/repos/builtin/packages/py-jaxlib/package.py
Labels: new-version, python, dependencies, cuda, patch, update-package, conflicts, build-systems, core

#48841 SIRIUS: patch pugixml
  var/spack/repos/builtin/packages/sirius/package.py
Labels: patch, update-package

#48809 ziatest: add new package
  var/spack/repos/builtin/packages/ziatest/package.py
Labels: new-version, new-package, dependencies

#48811 Stop building ISC stacks
  share/spack/gitlab/cloud_pipelines/.gitlab-ci.yml
Labels: gitlab, core

#48808 CP2K: use libxc@7 for master/next release
  var/spack/repos/builtin/packages/cp2k/package.py
  var/spack/repos/builtin/packages/dla-future/package.py
Labels: dependencies, update-package

#48846 cdash: avoid build_opener
  lib/spack/spack/ci/__init__.py
  lib/spack/spack/reporters/cdash.py
  lib/spack/spack/test/ci.py
Labels: tests, core

#48844 g4vg: new package
  var/spack/repos/builtin/packages/g4vg/package.py
Labels: new-version, new-package, dependencies, new-variant

#48158 r-dmrcate: add v2.16.0, v3.0.0, v3.2.0
  var/spack/repos/builtin/packages/r-dmrcate/package.py
Labels: new-version, R, dependencies, update-package

#48711 py-tensorflow: add 2.18.0-rocm-enhanced
  var/spack/repos/builtin/packages/py-tensorflow/package.py
  var/spack/repos/builtin/packages/py-tensorflow/set_jit_true.patch
Labels: new-version, python, dependencies, patch, update-package, conflicts, gitlab, core

#47695 rocm-examples and rocjpeg: new packages
  var/spack/repos/builtin/packages/rocjpeg/package.py
  var/spack/repos/builtin/packages/rocm-examples/package.py
Labels: new-version, new-package, dependencies

#48866 Tesseract v5.5.0
  var/spack/repos/builtin/packages/leptonica/package.py
  var/spack/repos/builtin/packages/tesseract/package.py
Labels: new-version, dependencies, patch, update-package, new-variant

#48847 py-geojson: Add new package
  var/spack/repos/builtin/packages/py-geojson/package.py
Labels: new-version, new-package, python, dependencies

#48859 isa-l: add v2.31.1
  var/spack/repos/builtin/packages/isa-l/package.py
Labels: new-version, update-package

#48849 funC: Add new package
  var/spack/repos/builtin/packages/func/package.py
Labels: new-version, new-package, dependencies, new-variant

#48858 icu4c: add v75.1, v76.1
  var/spack/repos/builtin/packages/icu4c/package.py
Labels: new-version, update-package

#48848 py-metis: Add new package
  var/spack/repos/builtin/packages/py-metis/package.py
Labels: question, new-version, new-package, python, dependencies

#48864 cppgsl: add v4.1.0
  var/spack/repos/builtin/packages/cppgsl/package.py
Labels: new-version, dependencies, update-package

#48860 libdrm: add v2.4.124
  var/spack/repos/builtin/packages/libdrm/package.py
Labels: new-version, update-package

#48853 amrex: add v25.02
  var/spack/repos/builtin/packages/amrex/package.py
Labels: new-version, update-package

#48829 sherpa: support cxxstd=20 when=@3:
  share/spack/gitlab/cloud_pipelines/stacks/hep/spack.yaml
  var/spack/repos/builtin/packages/sherpa/package.py
Labels: dependencies, update-package, gitlab, core

#48667 netlib-scalapack: Update version
  var/spack/repos/builtin/packages/netlib-scalapack/package.py
Labels: new-version, new-package, python, R, documentation, dependencies, build-environment, tests, commands, versions, resources, patch, update-package, binary-packages, conflicts, utilities, build-systems, workflow, gitlab, new-variant, sbang, stand-alone-tests, core, extends, architecture

#48856 fcgi: add v2.4.3, v2.4.4
  var/spack/repos/builtin/packages/fcgi/package.py
Labels: new-version, dependencies, update-package

#48823 update pyproject.toml for `ruff format`
  lib/spack/spack/package.py
  pyproject.toml
Labels: core

#48850 dd4hep: add v1.31
  var/spack/repos/builtin/packages/dd4hep/package.py
Labels: new-version, dependencies, update-package, waiting-on-maintainer

#48862 libsm: add v1.2.5
  var/spack/repos/builtin/packages/libsm/package.py
Labels: new-version, update-package

#48843 Apply workaround for oneAPI compiler for upcxx problem with a template argument list
  var/spack/repos/builtin/packages/upcxx/package.py
Labels: patch, update-package

#48851 Remove ISC stacks environment files
  share/spack/gitlab/cloud_pipelines/stacks/aws-isc-aarch64/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/aws-isc/spack.yaml
Labels: gitlab, core

#48824 Remove variable from cmake.py
  lib/spack/spack/build_systems/cmake.py
Labels: build-systems, core, snl-core-team

#48797 sirius: add v7.6.2
  var/spack/repos/builtin/packages/sirius/package.py
Labels: new-version, patch, update-package

#48880 ci: add codecov token secret to coverage upload job
  .github/workflows/coverage.yml
Labels: workflow, core

#48685 pfind: new package
  var/spack/repos/builtin/packages/pfind/package.py
Labels: new-version, new-package, dependencies

#48836 py-elevation: new package
  var/spack/repos/builtin/packages/py-elevation/package.py
Labels: new-version, new-package, python, dependencies

#48854 spec.py: fix hash change due to None vs {}
  lib/spack/spack/spec.py
Labels: hotfix, core, v0.23.1

#46174 nnn: new package
  var/spack/repos/builtin/packages/nnn/package.py
Labels: new-version, new-package, dependencies, new-variant

#48874 bash: add autotools dependencies
  var/spack/repos/builtin/packages/bash/package.py
Labels: dependencies, update-package

#48781 scotch: add v7.0.6
  var/spack/repos/builtin/packages/scotch/package.py
Labels: new-version, update-package

#48828 code-server: add v4.96.4
  var/spack/repos/builtin/packages/code-server/package.py
Labels: new-version, update-package

#48896 spec.py: ensure spec.extra_attributes is {} if it null in json
  lib/spack/spack/spec.py
Labels: core

#48857 harfbuzz: add v10.2.0
  var/spack/repos/builtin/packages/harfbuzz/package.py
Labels: new-version, update-package

#48861 libice: add v1.1.2
  var/spack/repos/builtin/packages/libice/package.py
Labels: new-version, update-package

#48904 relocate.py: don't warn about symlinks
  lib/spack/spack/relocate.py
Labels: core

#47273 hip-tests: new package
  var/spack/repos/builtin/packages/hip-tests/package.py
  var/spack/repos/builtin/packages/hip/package.py
Labels: new-version, new-package, dependencies, update-package, stand-alone-tests

#48867 flecsi: new version 2.3.1
  var/spack/repos/builtin/packages/flecsi/package.py
Labels: new-version, dependencies, update-package, new-variant

#48769 Update py-arch, py-statsmodels (add 0.14.1), py-patsy (add 0.5.4) to be able to use py-cython@3
  var/spack/repos/builtin/packages/py-arch/package.py
  var/spack/repos/builtin/packages/py-patsy/package.py
  var/spack/repos/builtin/packages/py-statsmodels/package.py
Labels: question, new-version, python, dependencies, update-package, conflicts

#48881 enzyme: add v0.0.172
  var/spack/repos/builtin/packages/enzyme/package.py
Labels: new-version, dependencies, update-package

#48889 spec.py: ensure == is false if true modulo precomputed dag hash
  lib/spack/spack/spec.py
  lib/spack/spack/test/spec_semantics.py
Labels: tests, core

#48887 llvm: fix llvm@15 %apple-clang@16
  var/spack/repos/builtin/packages/llvm/package.py
Labels: patch, update-package

#48871 spiner: add v1.6.3
  var/spack/repos/builtin/packages/singularity-eos/package.py
  var/spack/repos/builtin/packages/spiner/package.py
Labels: new-version, dependencies, update-package

#48827 sherpa: +hepmc3root only when +root
  var/spack/repos/builtin/packages/sherpa/package.py
Labels: update-package, new-variant

#48877 salt: add v0.3.0
  var/spack/repos/builtin/packages/salt/package.py
Labels: new-version, dependencies, update-package

#48683 openturbine: new package
  var/spack/repos/builtin/packages/openturbine/package.py
Labels: new-version, new-package, dependencies, new-variant

#48794 PyTorch: add v2.6.0
  var/spack/repos/builtin/packages/cpuinfo/package.py
  var/spack/repos/builtin/packages/py-pybind11/package.py
  var/spack/repos/builtin/packages/py-torch-nvidia-apex/package.py
  var/spack/repos/builtin/packages/py-torch/package.py
  var/spack/repos/builtin/packages/py-torch/xnnpack2.patch
  var/spack/repos/builtin/packages/py-torchaudio/package.py
  var/spack/repos/builtin/packages/py-torchvision/package.py
Labels: new-version, python, dependencies, patch, update-package

#38292 mummer4: patching to allow building with %gcc@13:
  var/spack/repos/builtin/packages/mummer4/48bit_index.patch
  var/spack/repos/builtin/packages/mummer4/package.py
Labels: patch, update-package

#48812 fms: add 2025.01, 2024.03
  var/spack/repos/builtin/packages/fms/package.py
Labels: new-version, update-package, new-variant

#48810 py-shapely: add v2.0.7
  var/spack/repos/builtin/packages/py-shapely/package.py
Labels: new-version, python, update-package

#48754 amdfftw: undo a broken change and adjust flags for performance tuning
  var/spack/repos/builtin/packages/amdfftw/package.py
Labels: update-package, AMD

#48898 justbuild: add v1.4.3
  var/spack/repos/builtin/packages/justbuild/package.py
Labels: new-version, update-package

#48901 nvpl-blas, nvpl-lapack: add v0.4.0.1, v0.3.0
  var/spack/repos/builtin/packages/nvpl-blas/package.py
  var/spack/repos/builtin/packages/nvpl-lapack/package.py
Labels: new-version, update-package

#48528 hep stack: build also with cuda and rocm where possible
  share/spack/gitlab/cloud_pipelines/stacks/hep/spack.yaml
  var/spack/repos/builtin/packages/celeritas/package.py
Labels: dependencies, update-package, gitlab, core

#48895 lcio: add v2.22.4
  var/spack/repos/builtin/packages/lcio/package.py
Labels: new-version, update-package

#48905 Add a message for CMake incremental build
  lib/spack/spack/build_systems/cmake.py
Labels: build-systems, core, snl-core-team

#48903 dcap: depends_on libxcrypt
  var/spack/repos/builtin/packages/dcap/package.py
Labels: dependencies, update-package

#48912 r-curl: add 6.2.0
  var/spack/repos/builtin/packages/r-curl/package.py
Labels: new-version, R, dependencies, update-package

#48897 pika: add v0.32.0
  var/spack/repos/builtin/packages/pika/package.py
Labels: new-version, update-package

#48510 icu4c: no cxxstd flag option on Windows
  var/spack/repos/builtin/packages/icu4c/package.py
Labels: update-package

#48900 dla-future-fortran: add v0.3.0
  var/spack/repos/builtin/packages/dla-future-fortran/package.py
Labels: new-version, dependencies, update-package

#48909 simgrid 3.36
  var/spack/repos/builtin/packages/simgrid/package.py
Labels: new-version, update-package

#47637 dyninst: cleanup package
  var/spack/repos/builtin/packages/dyninst/package.py
  var/spack/repos/builtin/packages/dyninst/stackanalysis_h.patch
  var/spack/repos/builtin/packages/dyninst/tribool.patch
  var/spack/repos/builtin/packages/dyninst/v9.3.2-auto.patch
  var/spack/repos/builtin/packages/stat/package.py
Labels: dependencies, update-package, new-variant

#48511 Windows: Update default config for stage location
  etc/spack/defaults/windows/config.yaml
Labels: defaults, core

#48915 py-maturin: add v1.8.2 and refined dependencies/conflicts
  var/spack/repos/builtin/packages/py-maturin/package.py
Labels: new-version, python, dependencies, update-package, conflicts

#48931 clingo-bootstrap: fix +optimized build
  var/spack/repos/builtin/packages/clingo-bootstrap/package.py
Labels: update-package

#48935 Fix regression due to dyninst update
  share/spack/qa/run-unit-tests
Labels: hotfix, core

#48923 trexio: fix issues with autotools build system
  var/spack/repos/builtin/packages/trexio/package.py
Labels: update-package

#48918 Apply workarounds for oneAPI compiler for ascent problem with build
  var/spack/repos/builtin/packages/ascent/package.py
Labels: patch, update-package

#48940 libgcrypt: fix enforced -O0
  var/spack/repos/builtin/packages/libgcrypt/o_flag_munging-1.10.patch
  var/spack/repos/builtin/packages/libgcrypt/o_flag_munging-1.11.patch
  var/spack/repos/builtin/packages/libgcrypt/package.py
Labels: new-version, dependencies, patch, update-package

#48937 serialbox: add version 2.6.2
  var/spack/repos/builtin/packages/serialbox/package.py
Labels: new-version, update-package

#48919 nwchem: add master
  var/spack/repos/builtin/packages/nwchem/oneapi2025.patch
  var/spack/repos/builtin/packages/nwchem/package.py
Labels: new-version, patch, update-package

#48950 Python: add new versions
  var/spack/repos/builtin/packages/python/package.py
Labels: new-version, python, dependencies, update-package

#48242 reframe: add v4.6.4 -> v4.7.2
  var/spack/repos/builtin/packages/reframe/package.py
Labels: new-version, dependencies, update-package

#48955 Go: add new versions
  var/spack/repos/builtin/packages/go/package.py
Labels: new-version, update-package

#48921 qmcpack: add v4.0.0
  var/spack/repos/builtin/packages/qmcpack/package.py
Labels: new-version, update-package

#48954 py-einops: add v0.8.1
  var/spack/repos/builtin/packages/py-einops/package.py
Labels: new-version, python, update-package

#48949 Quantum ESPRESSO: add v7.4.1
  var/spack/repos/builtin/packages/quantum-espresso/package.py
Labels: new-version, update-package

#48902 duckdb: add v1.2.0
  var/spack/repos/builtin/packages/duckdb/package.py
Labels: new-version, update-package, new-variant

#48944 mapl: add v2.53.1, v2.54.1
  var/spack/repos/builtin/packages/mapl/package.py
Labels: new-version, update-package

#48933 log.py: remove setenv calls
  lib/spack/llnl/util/tty/log.py
  lib/spack/spack/installer.py
Labels: utilities, core

#48929 nim: add v2.2.2
  var/spack/repos/builtin/packages/nim/package.py
Labels: new-version, update-package

#48899 Update GFE packages
  var/spack/repos/builtin/packages/fargparse/package.py
  var/spack/repos/builtin/packages/gftl-shared/package.py
  var/spack/repos/builtin/packages/gftl/package.py
  var/spack/repos/builtin/packages/pflogger/package.py
  var/spack/repos/builtin/packages/pfunit/package.py
  var/spack/repos/builtin/packages/yafyaml/package.py
Labels: new-version, update-package

#48922 openmpi: add v4.1.8
  var/spack/repos/builtin/packages/openmpi/package.py
Labels: new-version, update-package

#48938 Extrae: tighten dependencies on Boost for +dyninst
  var/spack/repos/builtin/packages/extrae/package.py
Labels: dependencies, update-package

#48959 py-iterative-stats: add 0.1.1
  var/spack/repos/builtin/packages/py-iterative-stats/package.py
Labels: new-version, python, dependencies, update-package

#48968 import-check: bump
  .github/workflows/import-check.yaml
Labels: workflow, core

#48870 ports-of-call: add v1.6.0, v1.7.0, v1.7.1
  var/spack/repos/builtin/packages/ports-of-call/package.py
Labels: new-version, dependencies, update-package, new-variant

#48969 acts dependencies: new versions as of 2025/02/10
  var/spack/repos/builtin/packages/detray/package.py
  var/spack/repos/builtin/packages/geomodel/package.py
Labels: new-version, update-package

#47133 cbtf-krell: Update Boost dependency
  var/spack/repos/builtin/packages/cbtf-krell/package.py
Labels: bug, dependencies, patch, update-package, conflicts, waiting-on-maintainer, changes-requested

#48920 lua-sol2: Apply workaround for oneAPI compiler for problem with build
  var/spack/repos/builtin/packages/lua-sol2/package.py
Labels: patch, update-package

#48914 `spack compiler find`: `flang-new` in newer LLVM versions
  var/spack/repos/builtin/packages/llvm/detection_test.yaml
  var/spack/repos/builtin/packages/llvm/package.py
Labels: update-package

#48977 rivet: patch missing header in 3.1.10
  var/spack/repos/builtin/packages/rivet/package.py
Labels: patch, update-package

#48729 Speed-up the concretizer with static analysis
  etc/spack/defaults/concretizer.yaml
  lib/spack/spack/cmd/dependencies.py
  lib/spack/spack/graph.py
  lib/spack/spack/package_base.py
  lib/spack/spack/schema/concretizer.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/counter.py
  lib/spack/spack/solver/input_analysis.py
  lib/spack/spack/test/cmd/dependencies.py
  lib/spack/spack/test/concretization/requirements.py
  lib/spack/spack/test/conftest.py
  lib/spack/spack/test/package_class.py
  share/spack/gitlab/cloud_pipelines/stacks/developer-tools-x86_64_v3-linux-gnu/spack.yaml
  share/spack/gitlab/cloud_pipelines/stacks/e4s/spack.yaml
Labels: defaults, tests, commands, update-package, gitlab, stand-alone-tests, core

#48972 spack.util.elf: catch seek errors
  lib/spack/spack/test/util/elf.py
  lib/spack/spack/util/elf.py
Labels: tests, utilities, core

#48976 hep: rivet: require hepmc=3
  share/spack/gitlab/cloud_pipelines/stacks/hep/spack.yaml
Labels: gitlab, core

#48997 Fix performance issue on macOS
  lib/spack/spack/solver/input_analysis.py
Labels: hotfix, core

#48980 style.py: fix false negative in redundant import statements
  lib/spack/spack/cmd/style.py
  lib/spack/spack/test/cmd/style.py
Labels: tests, commands, core

#48916 kokkos et al. : don't monkeypatch spec in callbacks
  var/spack/repos/builtin/packages/arborx/package.py
  var/spack/repos/builtin/packages/compadre/package.py
  var/spack/repos/builtin/packages/dealii/package.py
  var/spack/repos/builtin/packages/exawind/package.py
  var/spack/repos/builtin/packages/flecsi/package.py
  var/spack/repos/builtin/packages/kokkos-kernels/package.py
  var/spack/repos/builtin/packages/kokkos-nvcc-wrapper/package.py
  var/spack/repos/builtin/packages/kokkos/package.py
  var/spack/repos/builtin/packages/legion/package.py
  var/spack/repos/builtin/packages/nalu-wind/package.py
  var/spack/repos/builtin/packages/nlcglib/package.py
  var/spack/repos/builtin/packages/py-pycompadre/package.py
  var/spack/repos/builtin/packages/singularity-eos/package.py
  var/spack/repos/builtin/packages/spiner/package.py
  var/spack/repos/builtin/packages/trilinos/package.py
Labels: python, update-package

#48995 Fix slow gmake linking issue
  var/spack/repos/builtin/packages/cmake/package.py
  var/spack/repos/builtin/packages/gmake/package.py
  var/spack/repos/builtin/packages/petsc/package.py
Labels: dependencies, update-package, libraries

#48981 package_hash.py: move metadata_attrs inline out of package_base
  lib/spack/spack/package_base.py
  lib/spack/spack/util/package_hash.py
Labels: utilities, core

#48985 Spec.package_class -> spack.repo.PATH.get_pkg_class
  lib/spack/spack/cmd/develop.py
  lib/spack/spack/cmd/mirror.py
  lib/spack/spack/cmd/test.py
  lib/spack/spack/install_test.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/directives.py
  var/spack/repos/builtin/packages/gcc/package.py
Labels: tests, commands, update-package, core

#49007 libfabric: use the class variable to get the list of fabrics
  var/spack/repos/builtin/packages/libfabric/package.py
Labels: update-package

#49000 py-transformers: add new versions
  var/spack/repos/builtin/packages/py-tokenizers/package.py
  var/spack/repos/builtin/packages/py-transformers/package.py
Labels: new-version, python, dependencies, update-package

#48991 lcio: Add latest 2.22.5 tag
  var/spack/repos/builtin/packages/lcio/package.py
Labels: new-version, update-package

#49008 concretize.lp: don't warn about deprecation when external
  lib/spack/spack/solver/concretize.lp
Labels: core

#48986 `Spec.virtual` -> `spack.repo.PATH.is_virtual`
  lib/spack/spack/audit.py
  lib/spack/spack/binary_distribution.py
  lib/spack/spack/cmd/providers.py
  lib/spack/spack/concretize.py
  lib/spack/spack/database.py
  lib/spack/spack/relocate.py
  lib/spack/spack/solver/asp.py
  lib/spack/spack/solver/input_analysis.py
  lib/spack/spack/spec.py
Labels: commands, binary-packages, core

#49003 g4vg: add 'develop' branch
  var/spack/repos/builtin/packages/g4vg/package.py
Labels: new-version, dependencies, update-package

#48984 spack.spec.SpecBuildInterface: spack.repo dep
  lib/spack/spack/modules/lmod.py
  lib/spack/spack/spec.py
  lib/spack/spack/test/concretization/core.py
  lib/spack/spack/test/concretization/preferences.py
Labels: modules, tests, breaking-change, core

#48987 Spec.validate_detection -> spack.detection.path.validate_detection
  lib/spack/spack/detection/path.py
  lib/spack/spack/spec.py
Labels: core

#48963 hep: add missing language dependencies
  var/spack/repos/builtin/packages/acts/package.py
  var/spack/repos/builtin/packages/apfel/package.py
  var/spack/repos/builtin/packages/cepgen/package.py
  var/spack/repos/builtin/packages/clhep/package.py
  var/spack/repos/builtin/packages/collier/package.py
  var/spack/repos/builtin/packages/davix/package.py
  var/spack/repos/builtin/packages/dd4hep/package.py
  var/spack/repos/builtin/packages/evtgen/package.py
  var/spack/repos/builtin/packages/fastjet/package.py
  var/spack/repos/builtin/packages/geant4/package.py
  var/spack/repos/builtin/packages/gosam-contrib/package.py
  var/spack/repos/builtin/packages/hepmc/package.py
  var/spack/repos/builtin/packages/highfive/package.py
  var/spack/repos/builtin/packages/jwt-cpp/package.py
  var/spack/repos/builtin/packages/lcio/package.py
  var/spack/repos/builtin/packages/lhapdf/package.py
  var/spack/repos/builtin/packages/opendatadetector/package.py
  var/spack/repos/builtin/packages/pandoramonitoring/package.py
  var/spack/repos/builtin/packages/pandorasdk/package.py
  var/spack/repos/builtin/packages/podio/package.py
  var/spack/repos/builtin/packages/pythia6/package.py
  var/spack/repos/builtin/packages/thepeg/package.py
  var/spack/repos/builtin/packages/vc/package.py
  var/spack/repos/builtin/packages/veccore/package.py
  var/spack/repos/builtin/packages/vecgeom/package.py
Labels: dependencies, update-package

#49002 apptainer: get_full_repo for branch main
  var/spack/repos/builtin/packages/apptainer/package.py
Labels: new-version, update-package

#48962 unifyfs: Apply workaround for oneAPI compiler for problem with build
  var/spack/repos/builtin/packages/unifyfs/package.py
Labels: update-package, waiting-on-maintainer

#48979 solver: add type-hints to OutputConfiguration
  lib/spack/spack/solver/asp.py
Labels: core

#47811 postgresql: add v17.2
  var/spack/repos/builtin/packages/postgresql/package.py
Labels: new-version, dependencies, update-package, new-variant

#45830 cray-mpich: adding partial GTL support
  var/spack/repos/builtin/packages/cray-mpich/package.py
Labels: new-version, update-package

#46090 lammps: use the Cray GTL
  var/spack/repos/builtin/packages/lammps/package.py
Labels: update-package

#48978 lammps: add 20241119 and 20250204 releases
  var/spack/repos/builtin/packages/lammps/package.py
Labels: new-version, dependencies, update-package, conflicts

#48975 plog: add new package
  var/spack/repos/builtin/packages/plog/package.py
Labels: new-version, new-package, dependencies

#49011 binutils: add debuginfod variant + update deps
  var/spack/repos/builtin/packages/binutils/package.py
  var/spack/repos/builtin/packages/elfutils/package.py
  var/spack/repos/builtin/packages/json-c/package.py
  var/spack/repos/builtin/packages/libmicrohttpd/package.py
Labels: new-version, dependencies, update-package, conflicts, new-variant

#49025 spack debug create-db-tarball: remove after test failures
  lib/spack/spack/cmd/debug.py
  lib/spack/spack/test/cmd/debug.py
  share/spack/spack-completion.bash
  share/spack/spack-completion.fish
Labels: tests, commands, shell-support, core

#48990 py-torchgeo: pyvista dep has been removed
  var/spack/repos/builtin/packages/py-torchgeo/package.py
Labels: python, dependencies, update-package

#48989 py-memray: add v1.15.0
  var/spack/repos/builtin/packages/py-memray/package.py
Labels: new-version, python, dependencies, update-package, conflicts

#48983 yosys: add v0.50
  var/spack/repos/builtin/packages/yosys/package.py
Labels: new-version, update-package

#48982 laszip: Add version 3.4.4.
  var/spack/repos/builtin/packages/laszip/package.py
Labels: new-version, update-package

#48300 pandora{pfa,sdk,monitoring}: add new versions and allow setting the C++ standard
  var/spack/repos/builtin/packages/pandoramonitoring/package.py
  var/spack/repos/builtin/packages/pandorapfa/package.py
  var/spack/repos/builtin/packages/pandorasdk/package.py
Labels: new-version, update-package, new-variant

#49013 easi: add v1.5.2
  var/spack/repos/builtin/packages/easi/package.py
Labels: new-version, update-package

#49018 Put in maintainers for Kokkos Tools Spack package
  var/spack/repos/builtin/packages/kokkos-tools/package.py
Labels: update-package, maintainers

#48512 zlib: Ensure correct lib name on Windows
  var/spack/repos/builtin/packages/zlib/package.py
Labels: update-package

#48994 Update openfast, amr-wind, and nalu-wind packages
  var/spack/repos/builtin/packages/amr-wind/package.py
  var/spack/repos/builtin/packages/nalu-wind/package.py
  var/spack/repos/builtin/packages/openfast/package.py
Labels: new-version, dependencies, update-package, conflicts

#49028 acts: conflicts ^geant4@11.3: when @:35
  var/spack/repos/builtin/packages/acts/package.py
Labels: update-package, conflicts

#49027 yq: add versions 4.44.5 and 4.44.6 and 4.45.1
  var/spack/repos/builtin/packages/yq/package.py
Labels: new-version, update-package
